<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_3043_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{233,44},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_3043_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,121},{52,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,79}}</string>
    <key>sourceSize</key>
    <string>{52,79}</string>
   </dict>
   <key>build_ani_3043_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,121},{42,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,15}}</string>
    <key>sourceSize</key>
    <string>{42,15}</string>
   </dict>
   <key>build_ani_3043_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{162,121},{32,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,75}}</string>
    <key>sourceSize</key>
    <string>{32,75}</string>
   </dict>
   <key>build_ani_3043_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{233,0},{20,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,42}}</string>
    <key>sourceSize</key>
    <string>{20,42}</string>
   </dict>
   <key>build_ani_3043_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{106,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,137}}</string>
    <key>sourceSize</key>
    <string>{106,137}</string>
   </dict>
   <key>build_ani_3043_611.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,0},{123,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{123,119}}</string>
    <key>sourceSize</key>
    <string>{123,119}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_3043.png</string>
   <key>textureFileName</key>
   <string>build_ani_3043.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>