<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_3049_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{236,0},{18,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,25}}</string>
    <key>sourceSize</key>
    <string>{18,25}</string>
   </dict>
   <key>build_ani_3049_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,84},{16,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,26}}</string>
    <key>sourceSize</key>
    <string>{16,26}</string>
   </dict>
   <key>build_ani_3049_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{235,55},{17,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,26}}</string>
    <key>sourceSize</key>
    <string>{17,26}</string>
   </dict>
   <key>build_ani_3049_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{236,27},{17,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,26}}</string>
    <key>sourceSize</key>
    <string>{17,26}</string>
   </dict>
   <key>build_ani_3049_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{235,83},{17,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,25}}</string>
    <key>sourceSize</key>
    <string>{17,25}</string>
   </dict>
   <key>build_ani_3049_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,28},{17,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,26}}</string>
    <key>sourceSize</key>
    <string>{17,26}</string>
   </dict>
   <key>build_ani_3049_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,56},{17,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,26}}</string>
    <key>sourceSize</key>
    <string>{17,26}</string>
   </dict>
   <key>build_ani_3049_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,0},{18,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,26}}</string>
    <key>sourceSize</key>
    <string>{18,26}</string>
   </dict>
   <key>build_ani_3049_200.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,119},{94,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,106}}</string>
    <key>sourceSize</key>
    <string>{94,106}</string>
   </dict>
   <key>build_ani_3049_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{234,110},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_3049_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,227},{84,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,22}}</string>
    <key>sourceSize</key>
    <string>{84,22}</string>
   </dict>
   <key>build_ani_3049_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,254},{117,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{117,27}}</string>
    <key>sourceSize</key>
    <string>{117,27}</string>
   </dict>
   <key>build_ani_3049_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{96,176},{87,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,76}}</string>
    <key>sourceSize</key>
    <string>{87,76}</string>
   </dict>
   <key>build_ani_3049_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{133,0},{81,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,121}}</string>
    <key>sourceSize</key>
    <string>{81,121}</string>
   </dict>
   <key>build_ani_3049_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{96,123},{126,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{126,51}}</string>
    <key>sourceSize</key>
    <string>{126,51}</string>
   </dict>
   <key>build_ani_3049_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{131,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{131,117}}</string>
    <key>sourceSize</key>
    <string>{131,117}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_3049.png</string>
   <key>textureFileName</key>
   <string>build_ani_3049.png</string>
   <key>size</key>
   <string>{256,512}</string>
  </dict>
 </dict>
</plist>