<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buildpos_4006__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,174},{370,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,60}}</string>
        <key>sourceSize</key>
        <string>{370,60}</string>
      </dict>
      <key>buildpos_4006__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,151},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>buildpos_4006__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,151},{26,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,22}}</string>
        <key>sourceSize</key>
        <string>{26,22}</string>
      </dict>
      <key>buildpos_4006__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,146},{22,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,33}}</string>
        <key>sourceSize</key>
        <string>{22,33}</string>
      </dict>
      <key>buildpos_4006__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,124},{53,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,25}}</string>
        <key>sourceSize</key>
        <string>{53,25}</string>
      </dict>
      <key>buildpos_4006__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,94},{45,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,28}}</string>
        <key>sourceSize</key>
        <string>{45,28}</string>
      </dict>
      <key>buildpos_4006__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{95,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,38}}</string>
        <key>sourceSize</key>
        <string>{95,38}</string>
      </dict>
      <key>buildpos_4006__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,82},{90,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,25}}</string>
        <key>sourceSize</key>
        <string>{90,25}</string>
      </dict>
      <key>buildpos_4006__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,147},{24,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,26}}</string>
        <key>sourceSize</key>
        <string>{24,26}</string>
      </dict>
      <key>buildpos_4006__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,109},{27,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,36}}</string>
        <key>sourceSize</key>
        <string>{27,36}</string>
      </dict>
      <key>buildpos_4006__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,146},{26,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,34}}</string>
        <key>sourceSize</key>
        <string>{26,34}</string>
      </dict>
      <key>buildpos_4006__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,40},{84,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,40}}</string>
        <key>sourceSize</key>
        <string>{84,40}</string>
      </dict>
      <key>buildpos_4006__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,109},{50,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,35}}</string>
        <key>sourceSize</key>
        <string>{50,35}</string>
      </dict>
      <key>buildpos_4006__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,0},{26,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,92}}</string>
        <key>sourceSize</key>
        <string>{26,92}</string>
      </dict>
      <key>buildpos_4006__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,236},{347,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{347,28}}</string>
        <key>sourceSize</key>
        <string>{347,28}</string>
      </dict>
      <key>buildpos_4006__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{370,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,65}}</string>
        <key>sourceSize</key>
        <string>{370,65}</string>
      </dict>
      <key>buildpos_4006__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{370,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,105}}</string>
        <key>sourceSize</key>
        <string>{370,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buildpos_4006.png</string>
      <key>textureFileName</key>
      <string>buildpos_4006.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>