<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buildpos_4007__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{370,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,105}}</string>
        <key>sourceSize</key>
        <string>{370,105}</string>
      </dict>
      <key>buildpos_4007__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{370,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,105}}</string>
        <key>sourceSize</key>
        <string>{370,105}</string>
      </dict>
      <key>buildpos_4007__26.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,129},{19,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,17}}</string>
        <key>sourceSize</key>
        <string>{19,17}</string>
      </dict>
      <key>buildpos_4007__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,48},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>buildpos_4007__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,124},{28,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,13}}</string>
        <key>sourceSize</key>
        <string>{28,13}</string>
      </dict>
      <key>buildpos_4007__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,496},{251,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{251,53}}</string>
        <key>sourceSize</key>
        <string>{251,53}</string>
      </dict>
      <key>buildpos_4007__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,0},{14,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,30}}</string>
        <key>sourceSize</key>
        <string>{14,30}</string>
      </dict>
      <key>buildpos_4007__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,97},{24,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,33}}</string>
        <key>sourceSize</key>
        <string>{24,33}</string>
      </dict>
      <key>buildpos_4007__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,48},{43,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,47}}</string>
        <key>sourceSize</key>
        <string>{43,47}</string>
      </dict>
      <key>buildpos_4007__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,124},{20,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,17}}</string>
        <key>sourceSize</key>
        <string>{20,17}</string>
      </dict>
      <key>buildpos_4007__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,88},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>buildpos_4007__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{344,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{344,66}}</string>
        <key>sourceSize</key>
        <string>{344,66}</string>
      </dict>
      <key>buildpos_4007__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{96,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,46}}</string>
        <key>sourceSize</key>
        <string>{96,46}</string>
      </dict>
      <key>buildpos_4007__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,0},{22,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,96}}</string>
        <key>sourceSize</key>
        <string>{22,96}</string>
      </dict>
      <key>buildpos_4007__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,98},{54,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,29}}</string>
        <key>sourceSize</key>
        <string>{54,29}</string>
      </dict>
      <key>buildpos_4007__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,496},{230,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{230,48}}</string>
        <key>sourceSize</key>
        <string>{230,48}</string>
      </dict>
      <key>buildpos_4007__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{370,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,105}}</string>
        <key>sourceSize</key>
        <string>{370,105}</string>
      </dict>
      <key>buildpos_4007__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,321},{370,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,105}}</string>
        <key>sourceSize</key>
        <string>{370,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buildpos_4007.png</string>
      <key>textureFileName</key>
      <string>buildpos_4007.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>