<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_3038_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,0},{73,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,69}}</string>
    <key>sourceSize</key>
    <string>{73,69}</string>
   </dict>
   <key>build_ani_3038_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,71},{52,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,22}}</string>
    <key>sourceSize</key>
    <string>{52,22}</string>
   </dict>
   <key>build_ani_3038_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,72},{34,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,34}}</string>
    <key>sourceSize</key>
    <string>{34,34}</string>
   </dict>
   <key>build_ani_3038_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{219,0},{33,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,44}}</string>
    <key>sourceSize</key>
    <string>{33,44}</string>
   </dict>
   <key>build_ani_3038_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{219,46},{29,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,42}}</string>
    <key>sourceSize</key>
    <string>{29,42}</string>
   </dict>
   <key>build_ani_3038_1_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,46},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_3038_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,0},{60,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,72}}</string>
    <key>sourceSize</key>
    <string>{60,72}</string>
   </dict>
   <key>build_ani_3038_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{36,72},{26,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,25}}</string>
    <key>sourceSize</key>
    <string>{26,25}</string>
   </dict>
   <key>build_ani_3038_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{80,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,70}}</string>
    <key>sourceSize</key>
    <string>{80,70}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_3038.png</string>
   <key>textureFileName</key>
   <string>build_ani_3038.png</string>
   <key>size</key>
   <string>{256,128}</string>
  </dict>
 </dict>
</plist>