<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>buildpos_5009__11.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,51},{115,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,12}}</string>
    <key>sourceSize</key>
    <string>{115,12}</string>
   </dict>
   <key>buildpos_5009__26.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,22},{14,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,17}}</string>
    <key>sourceSize</key>
    <string>{14,17}</string>
   </dict>
   <key>buildpos_5009__25.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,65},{5,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{5,5}}</string>
    <key>sourceSize</key>
    <string>{5,5}</string>
   </dict>
   <key>buildpos_5009__24.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,0},{14,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,20}}</string>
    <key>sourceSize</key>
    <string>{14,20}</string>
   </dict>
   <key>buildpos_5009__23.png</key>
   <dict>
    <key>frame</key>
    <string>{{463,65},{17,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,13}}</string>
    <key>sourceSize</key>
    <string>{17,13}</string>
   </dict>
   <key>buildpos_5009__22.png</key>
   <dict>
    <key>frame</key>
    <string>{{407,94},{37,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,53}}</string>
    <key>sourceSize</key>
    <string>{37,53}</string>
   </dict>
   <key>buildpos_5009__21.png</key>
   <dict>
    <key>frame</key>
    <string>{{486,85},{10,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,9}}</string>
    <key>sourceSize</key>
    <string>{10,9}</string>
   </dict>
   <key>buildpos_5009__20.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,107},{44,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,42}}</string>
    <key>sourceSize</key>
    <string>{44,42}</string>
   </dict>
   <key>buildpos_5009__19.png</key>
   <dict>
    <key>frame</key>
    <string>{{46,107},{57,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,24}}</string>
    <key>sourceSize</key>
    <string>{57,24}</string>
   </dict>
   <key>buildpos_5009__18.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,94},{33,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,59}}</string>
    <key>sourceSize</key>
    <string>{33,59}</string>
   </dict>
   <key>buildpos_5009__17.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,0},{121,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{121,49}}</string>
    <key>sourceSize</key>
    <string>{121,49}</string>
   </dict>
   <key>buildpos_5009__16.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,59},{19,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,24}}</string>
    <key>sourceSize</key>
    <string>{19,24}</string>
   </dict>
   <key>buildpos_5009__15.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,80},{11,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,12}}</string>
    <key>sourceSize</key>
    <string>{11,12}</string>
   </dict>
   <key>buildpos_5009__9.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,85},{7,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,9}}</string>
    <key>sourceSize</key>
    <string>{7,9}</string>
   </dict>
   <key>buildpos_5009__14.png</key>
   <dict>
    <key>frame</key>
    <string>{{463,80},{8,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,17}}</string>
    <key>sourceSize</key>
    <string>{8,17}</string>
   </dict>
   <key>buildpos_5009__13.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,41},{12,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,16}}</string>
    <key>sourceSize</key>
    <string>{12,16}</string>
   </dict>
   <key>buildpos_5009__12.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,65},{89,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,27}}</string>
    <key>sourceSize</key>
    <string>{89,27}</string>
   </dict>
   <key>buildpos_5009__27.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,96},{30,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,23}}</string>
    <key>sourceSize</key>
    <string>{30,23}</string>
   </dict>
   <key>buildpos_5009__10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{370,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{370,105}}</string>
    <key>sourceSize</key>
    <string>{370,105}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>buildpos_5009.png</string>
   <key>textureFileName</key>
   <string>buildpos_5009.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>