<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buildpos_5005__1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{367,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{367,109}}</string>
        <key>sourceSize</key>
        <string>{367,109}</string>
      </dict>
      <key>buildpos_5005__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,48},{70,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,13}}</string>
        <key>sourceSize</key>
        <string>{70,13}</string>
      </dict>
      <key>buildpos_5005__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,63},{37,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,25}}</string>
        <key>sourceSize</key>
        <string>{37,25}</string>
      </dict>
      <key>buildpos_5005__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,63},{21,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,16}}</string>
        <key>sourceSize</key>
        <string>{21,16}</string>
      </dict>
      <key>buildpos_5005__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,48},{17,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,11}}</string>
        <key>sourceSize</key>
        <string>{17,11}</string>
      </dict>
      <key>buildpos_5005__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,0},{117,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,46}}</string>
        <key>sourceSize</key>
        <string>{117,46}</string>
      </dict>
      <key>buildpos_5005__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{17,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,55}}</string>
        <key>sourceSize</key>
        <string>{17,55}</string>
      </dict>
      <key>buildpos_5005__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,90},{29,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,29}}</string>
        <key>sourceSize</key>
        <string>{29,29}</string>
      </dict>
      <key>buildpos_5005__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,81},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>buildpos_5005__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,63},{26,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,50}}</string>
        <key>sourceSize</key>
        <string>{26,50}</string>
      </dict>
      <key>buildpos_5005__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,57},{20,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,21}}</string>
        <key>sourceSize</key>
        <string>{20,21}</string>
      </dict>
      <key>buildpos_5005__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,48},{26,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,101}}</string>
        <key>sourceSize</key>
        <string>{26,101}</string>
      </dict>
      <key>buildpos_5005__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,151},{370,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,105}}</string>
        <key>sourceSize</key>
        <string>{370,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buildpos_5005.png</string>
      <key>textureFileName</key>
      <string>buildpos_5005.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>