<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buildpos_4012__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{244,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{244,124}}</string>
        <key>sourceSize</key>
        <string>{244,124}</string>
      </dict>
      <key>buildpos_4012__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,151},{39,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,19}}</string>
        <key>sourceSize</key>
        <string>{39,19}</string>
      </dict>
      <key>buildpos_4012__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,126},{40,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,27}}</string>
        <key>sourceSize</key>
        <string>{40,27}</string>
      </dict>
      <key>buildpos_4012__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{82,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,57}}</string>
        <key>sourceSize</key>
        <string>{82,57}</string>
      </dict>
      <key>buildpos_4012__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,126},{64,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,30}}</string>
        <key>sourceSize</key>
        <string>{64,30}</string>
      </dict>
      <key>buildpos_4012__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,126},{111,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,23}}</string>
        <key>sourceSize</key>
        <string>{111,23}</string>
      </dict>
      <key>buildpos_4012__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,126},{53,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,28}}</string>
        <key>sourceSize</key>
        <string>{53,28}</string>
      </dict>
      <key>buildpos_4012__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,151},{21,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,23}}</string>
        <key>sourceSize</key>
        <string>{21,23}</string>
      </dict>
      <key>buildpos_4012__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,126},{44,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,32}}</string>
        <key>sourceSize</key>
        <string>{44,32}</string>
      </dict>
      <key>buildpos_4012__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,37},{6,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,8}}</string>
        <key>sourceSize</key>
        <string>{6,8}</string>
      </dict>
      <key>buildpos_4012__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,151},{27,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,10}}</string>
        <key>sourceSize</key>
        <string>{27,10}</string>
      </dict>
      <key>buildpos_4012__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,22},{14,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,13}}</string>
        <key>sourceSize</key>
        <string>{14,13}</string>
      </dict>
      <key>buildpos_4012__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,126},{24,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,40}}</string>
        <key>sourceSize</key>
        <string>{24,40}</string>
      </dict>
      <key>buildpos_4012__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,126},{24,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,26}}</string>
        <key>sourceSize</key>
        <string>{24,26}</string>
      </dict>
      <key>buildpos_4012__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,126},{39,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,27}}</string>
        <key>sourceSize</key>
        <string>{39,27}</string>
      </dict>
      <key>buildpos_4012__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{16,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,20}}</string>
        <key>sourceSize</key>
        <string>{16,20}</string>
      </dict>
      <key>buildpos_4012__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{244,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{244,124}}</string>
        <key>sourceSize</key>
        <string>{244,124}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buildpos_4012.png</string>
      <key>textureFileName</key>
      <string>buildpos_4012.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>