<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buildpos_4018__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,0},{35,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,34}}</string>
        <key>sourceSize</key>
        <string>{35,34}</string>
      </dict>
      <key>buildpos_4018__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{98,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,71}}</string>
        <key>sourceSize</key>
        <string>{98,71}</string>
      </dict>
      <key>buildpos_4018__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{100,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,33}}</string>
        <key>sourceSize</key>
        <string>{100,33}</string>
      </dict>
      <key>buildpos_4018__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,64},{23,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,31}}</string>
        <key>sourceSize</key>
        <string>{23,31}</string>
      </dict>
      <key>buildpos_4018__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,97},{24,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,19}}</string>
        <key>sourceSize</key>
        <string>{24,19}</string>
      </dict>
      <key>buildpos_4018__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,36},{28,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,26}}</string>
        <key>sourceSize</key>
        <string>{28,26}</string>
      </dict>
      <key>buildpos_4018__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,107},{74,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,58}}</string>
        <key>sourceSize</key>
        <string>{74,58}</string>
      </dict>
      <key>buildpos_4018__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,64},{13,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,31}}</string>
        <key>sourceSize</key>
        <string>{13,31}</string>
      </dict>
      <key>buildpos_4018__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,107},{53,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,31}}</string>
        <key>sourceSize</key>
        <string>{53,31}</string>
      </dict>
      <key>buildpos_4018__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,73},{96,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,45}}</string>
        <key>sourceSize</key>
        <string>{96,45}</string>
      </dict>
      <key>buildpos_4018__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{370,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,105}}</string>
        <key>sourceSize</key>
        <string>{370,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buildpos_4018.png</string>
      <key>textureFileName</key>
      <string>buildpos_4018.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>