<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buildpos_4019__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,107},{22,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,24}}</string>
        <key>sourceSize</key>
        <string>{22,24}</string>
      </dict>
      <key>buildpos_4019__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{98,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,71}}</string>
        <key>sourceSize</key>
        <string>{98,71}</string>
      </dict>
      <key>buildpos_4019__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{100,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,33}}</string>
        <key>sourceSize</key>
        <string>{100,33}</string>
      </dict>
      <key>buildpos_4019__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,107},{35,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,37}}</string>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>buildpos_4019__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,107},{39,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,33}}</string>
        <key>sourceSize</key>
        <string>{39,33}</string>
      </dict>
      <key>buildpos_4019__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,52},{26,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,58}}</string>
        <key>sourceSize</key>
        <string>{26,58}</string>
      </dict>
      <key>buildpos_4019__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,73},{12,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,49}}</string>
        <key>sourceSize</key>
        <string>{12,49}</string>
      </dict>
      <key>buildpos_4019__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,0},{34,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,50}}</string>
        <key>sourceSize</key>
        <string>{34,50}</string>
      </dict>
      <key>buildpos_4019__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,107},{18,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,21}}</string>
        <key>sourceSize</key>
        <string>{18,21}</string>
      </dict>
      <key>buildpos_4019__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,107},{19,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,22}}</string>
        <key>sourceSize</key>
        <string>{19,22}</string>
      </dict>
      <key>buildpos_4019__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,107},{51,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,67}}</string>
        <key>sourceSize</key>
        <string>{51,67}</string>
      </dict>
      <key>buildpos_4019__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,73},{74,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,66}}</string>
        <key>sourceSize</key>
        <string>{74,66}</string>
      </dict>
      <key>buildpos_4019__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{370,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,105}}</string>
        <key>sourceSize</key>
        <string>{370,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buildpos_4019.png</string>
      <key>textureFileName</key>
      <string>buildpos_4019.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>