<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_3050_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_3050_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,116},{86,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,109}}</string>
    <key>sourceSize</key>
    <string>{86,109}</string>
   </dict>
   <key>build_ani_3050_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,123},{105,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{105,75}}</string>
    <key>sourceSize</key>
    <string>{105,75}</string>
   </dict>
   <key>build_ani_3050_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,276},{116,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,26}}</string>
    <key>sourceSize</key>
    <string>{116,26}</string>
   </dict>
   <key>build_ani_3050_611.png</key>
   <dict>
    <key>frame</key>
    <string>{{133,0},{81,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,121}}</string>
    <key>sourceSize</key>
    <string>{81,121}</string>
   </dict>
   <key>build_ani_3050_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,200},{81,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,74}}</string>
    <key>sourceSize</key>
    <string>{81,74}</string>
   </dict>
   <key>build_ani_3050_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{131,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{131,114}}</string>
    <key>sourceSize</key>
    <string>{131,114}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_3050.png</string>
   <key>textureFileName</key>
   <string>build_ani_3050.png</string>
   <key>size</key>
   <string>{256,512}</string>
  </dict>
 </dict>
</plist>