<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buildpos_4021__32.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,107},{61,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,23}}</string>
        <key>sourceSize</key>
        <string>{61,23}</string>
      </dict>
      <key>buildpos_4021__31.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,107},{63,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,12}}</string>
        <key>sourceSize</key>
        <string>{63,12}</string>
      </dict>
      <key>buildpos_4021__30.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{60,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,27}}</string>
        <key>sourceSize</key>
        <string>{60,27}</string>
      </dict>
      <key>buildpos_4021__29.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,121},{25,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,9}}</string>
        <key>sourceSize</key>
        <string>{25,9}</string>
      </dict>
      <key>buildpos_4021__27.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,107},{21,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,27}}</string>
        <key>sourceSize</key>
        <string>{21,27}</string>
      </dict>
      <key>buildpos_4021__28.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,121},{21,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,11}}</string>
        <key>sourceSize</key>
        <string>{21,11}</string>
      </dict>
      <key>buildpos_4021__26.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,107},{29,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,22}}</string>
        <key>sourceSize</key>
        <string>{29,22}</string>
      </dict>
      <key>buildpos_4021__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,108},{23,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,20}}</string>
        <key>sourceSize</key>
        <string>{23,20}</string>
      </dict>
      <key>buildpos_4021__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,115},{24,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,18}}</string>
        <key>sourceSize</key>
        <string>{24,18}</string>
      </dict>
      <key>buildpos_4021__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,0},{13,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,16}}</string>
        <key>sourceSize</key>
        <string>{13,16}</string>
      </dict>
      <key>buildpos_4021__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,25},{50,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,64}}</string>
        <key>sourceSize</key>
        <string>{50,64}</string>
      </dict>
      <key>buildpos_4021__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,99},{25,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,31}}</string>
        <key>sourceSize</key>
        <string>{25,31}</string>
      </dict>
      <key>buildpos_4021__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,121},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>buildpos_4021__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,107},{25,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,22}}</string>
        <key>sourceSize</key>
        <string>{25,22}</string>
      </dict>
      <key>buildpos_4021__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,91},{42,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,15}}</string>
        <key>sourceSize</key>
        <string>{42,15}</string>
      </dict>
      <key>buildpos_4021__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{123,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,23}}</string>
        <key>sourceSize</key>
        <string>{123,23}</string>
      </dict>
      <key>buildpos_4021__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,25},{31,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,34}}</string>
        <key>sourceSize</key>
        <string>{31,34}</string>
      </dict>
      <key>buildpos_4021__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,61},{22,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,36}}</string>
        <key>sourceSize</key>
        <string>{22,36}</string>
      </dict>
      <key>buildpos_4021__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,108},{22,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,21}}</string>
        <key>sourceSize</key>
        <string>{22,21}</string>
      </dict>
      <key>buildpos_4021__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,25},{46,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,45}}</string>
        <key>sourceSize</key>
        <string>{46,45}</string>
      </dict>
      <key>buildpos_4021__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,72},{44,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,41}}</string>
        <key>sourceSize</key>
        <string>{44,41}</string>
      </dict>
      <key>buildpos_4021__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,107},{32,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,12}}</string>
        <key>sourceSize</key>
        <string>{32,12}</string>
      </dict>
      <key>buildpos_4021__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,115},{18,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,23}}</string>
        <key>sourceSize</key>
        <string>{18,23}</string>
      </dict>
      <key>buildpos_4021__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,107},{23,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,26}}</string>
        <key>sourceSize</key>
        <string>{23,26}</string>
      </dict>
      <key>buildpos_4021__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,107},{32,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,22}}</string>
        <key>sourceSize</key>
        <string>{32,22}</string>
      </dict>
      <key>buildpos_4021__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{370,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,105}}</string>
        <key>sourceSize</key>
        <string>{370,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buildpos_4021.png</string>
      <key>textureFileName</key>
      <string>buildpos_4021.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>