<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>build_ani_3033_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,50},{30,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,53}}</string>
        <key>sourceSize</key>
        <string>{30,53}</string>
      </dict>
      <key>build_ani_3033_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,0},{66,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,79}}</string>
        <key>sourceSize</key>
        <string>{66,79}</string>
      </dict>
      <key>build_ani_3033_1__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>build_ani_3033_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,50},{34,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,28}}</string>
        <key>sourceSize</key>
        <string>{34,28}</string>
      </dict>
      <key>build_ani_3033_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,50},{15,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,19}}</string>
        <key>sourceSize</key>
        <string>{15,19}</string>
      </dict>
      <key>build_ani_3033_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,19},{20,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,29}}</string>
        <key>sourceSize</key>
        <string>{20,29}</string>
      </dict>
      <key>build_ani_3033_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{78,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,17}}</string>
        <key>sourceSize</key>
        <string>{78,17}</string>
      </dict>
      <key>build_ani_3033_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,19},{63,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,29}}</string>
        <key>sourceSize</key>
        <string>{63,29}</string>
      </dict>
      <key>build_ani_3033_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{91,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,92}}</string>
        <key>sourceSize</key>
        <string>{91,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>build_ani_3033.png</string>
      <key>textureFileName</key>
      <string>build_ani_3033.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>