<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_3045_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{234,41},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_3045__17.png</key>
   <dict>
    <key>frame</key>
    <string>{{231,41},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_3045_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,121},{52,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,79}}</string>
    <key>sourceSize</key>
    <string>{52,79}</string>
   </dict>
   <key>build_ani_3045_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,139},{42,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,15}}</string>
    <key>sourceSize</key>
    <string>{42,15}</string>
   </dict>
   <key>build_ani_3045_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{54,121},{34,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,75}}</string>
    <key>sourceSize</key>
    <string>{34,75}</string>
   </dict>
   <key>build_ani_3045_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{231,0},{22,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,39}}</string>
    <key>sourceSize</key>
    <string>{22,39}</string>
   </dict>
   <key>build_ani_3045_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{125,0},{104,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,137}}</string>
    <key>sourceSize</key>
    <string>{104,137}</string>
   </dict>
   <key>build_ani_3045_6111.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{123,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{123,119}}</string>
    <key>sourceSize</key>
    <string>{123,119}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_3045.png</string>
   <key>textureFileName</key>
   <string>build_ani_3045.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>