<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buildpos_5001__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,98},{35,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,44}}</string>
        <key>sourceSize</key>
        <string>{35,44}</string>
      </dict>
      <key>buildpos_5001__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,136},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>buildpos_5001__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,177},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>buildpos_5001__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,149},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>buildpos_5001__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,85},{33,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,49}}</string>
        <key>sourceSize</key>
        <string>{33,49}</string>
      </dict>
      <key>buildpos_5001__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,185},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>buildpos_5001__45.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,144},{29,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,39}}</string>
        <key>sourceSize</key>
        <string>{29,39}</string>
      </dict>
      <key>buildpos_5001__1.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,123},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>buildpos_5001__75.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,292},{77,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,28}}</string>
        <key>sourceSize</key>
        <string>{77,28}</string>
      </dict>
      <key>buildpos_5001__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,229},{96,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,38}}</string>
        <key>sourceSize</key>
        <string>{96,38}</string>
      </dict>
      <key>buildpos_5001__39.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,322},{189,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,102}}</string>
        <key>sourceSize</key>
        <string>{189,102}</string>
      </dict>
      <key>buildpos_5001__44.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,213},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>buildpos_5001__43.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,208},{23,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,19}}</string>
        <key>sourceSize</key>
        <string>{23,19}</string>
      </dict>
      <key>buildpos_5001__41.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,123},{22,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,24}}</string>
        <key>sourceSize</key>
        <string>{22,24}</string>
      </dict>
      <key>buildpos_5001__42.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,98},{23,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,23}}</string>
        <key>sourceSize</key>
        <string>{23,23}</string>
      </dict>
      <key>buildpos_5001__40.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,149},{20,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,26}}</string>
        <key>sourceSize</key>
        <string>{20,26}</string>
      </dict>
      <key>buildpos_5001__33.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,426},{181,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,7}}</string>
        <key>sourceSize</key>
        <string>{181,7}</string>
      </dict>
      <key>buildpos_5001__37.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,374},{146,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,52}}</string>
        <key>sourceSize</key>
        <string>{146,52}</string>
      </dict>
      <key>buildpos_5001__38.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{61,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,83}}</string>
        <key>sourceSize</key>
        <string>{61,83}</string>
      </dict>
      <key>buildpos_5001__32.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,187},{31,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,19}}</string>
        <key>sourceSize</key>
        <string>{31,19}</string>
      </dict>
      <key>buildpos_5001__31.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,49},{61,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,47}}</string>
        <key>sourceSize</key>
        <string>{61,47}</string>
      </dict>
      <key>buildpos_5001__30.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{61,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,47}}</string>
        <key>sourceSize</key>
        <string>{61,47}</string>
      </dict>
      <key>buildpos_5001__29.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,177},{38,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,34}}</string>
        <key>sourceSize</key>
        <string>{38,34}</string>
      </dict>
      <key>buildpos_5001__28.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,269},{98,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,21}}</string>
        <key>sourceSize</key>
        <string>{98,21}</string>
      </dict>
      <key>buildpos_5001__27.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,85},{26,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,62}}</string>
        <key>sourceSize</key>
        <string>{26,62}</string>
      </dict>
      <key>buildpos_5001__26.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{261,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{261,76}}</string>
        <key>sourceSize</key>
        <string>{261,76}</string>
      </dict>
      <key>buildpos_5001__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{382,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{382,47}}</string>
        <key>sourceSize</key>
        <string>{382,47}</string>
      </dict>
      <key>buildpos_5001__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{382,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{382,59}}</string>
        <key>sourceSize</key>
        <string>{382,59}</string>
      </dict>
      <key>buildpos_5001__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{382,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{382,184}}</string>
        <key>sourceSize</key>
        <string>{382,184}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buildpos_5001.png</string>
      <key>textureFileName</key>
      <string>buildpos_5001.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>