<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buildpos_stairs__1.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,985},{100,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,179}}</string>
        <key>sourceSize</key>
        <string>{100,179}</string>
      </dict>
      <key>buildpos_stairs__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,892},{95,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,192}}</string>
        <key>sourceSize</key>
        <string>{95,192}</string>
      </dict>
      <key>buildpos_stairs__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,879},{95,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,192}}</string>
        <key>sourceSize</key>
        <string>{95,192}</string>
      </dict>
      <key>buildpos_stairs__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,914},{100,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,179}}</string>
        <key>sourceSize</key>
        <string>{100,179}</string>
      </dict>
      <key>buildpos_stairs__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,914},{95,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,192}}</string>
        <key>sourceSize</key>
        <string>{95,192}</string>
      </dict>
      <key>buildpos_stairs__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,744},{95,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,192}}</string>
        <key>sourceSize</key>
        <string>{95,192}</string>
      </dict>
      <key>buildpos_stairs__2.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{167,263}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,263}}</string>
        <key>sourceSize</key>
        <string>{167,263}</string>
      </dict>
      <key>buildpos_stairs__3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1032},{120,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,156}}</string>
        <key>sourceSize</key>
        <string>{120,156}</string>
      </dict>
      <key>buildpos_stairs__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,504},{121,194}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,194}}</string>
        <key>sourceSize</key>
        <string>{121,194}</string>
      </dict>
      <key>buildpos_stairs__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,0},{167,263}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,263}}</string>
        <key>sourceSize</key>
        <string>{167,263}</string>
      </dict>
      <key>buildpos_stairs__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,1033},{120,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,156}}</string>
        <key>sourceSize</key>
        <string>{120,156}</string>
      </dict>
      <key>buildpos_stairs__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,526},{121,194}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,194}}</string>
        <key>sourceSize</key>
        <string>{121,194}</string>
      </dict>
      <key>buildpos_stairs__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,469},{92,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,235}}</string>
        <key>sourceSize</key>
        <string>{92,235}</string>
      </dict>
      <key>buildpos_stairs__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,634},{106,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,208}}</string>
        <key>sourceSize</key>
        <string>{106,208}</string>
      </dict>
      <key>buildpos_stairs__26.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,898},{134,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,158}}</string>
        <key>sourceSize</key>
        <string>{134,158}</string>
      </dict>
      <key>buildpos_stairs__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,469},{92,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,235}}</string>
        <key>sourceSize</key>
        <string>{92,235}</string>
      </dict>
      <key>buildpos_stairs__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,587},{106,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,208}}</string>
        <key>sourceSize</key>
        <string>{106,208}</string>
      </dict>
      <key>buildpos_stairs__27.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,873},{134,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,158}}</string>
        <key>sourceSize</key>
        <string>{134,158}</string>
      </dict>
      <key>buildpos_stairs__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,274},{105,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,257}}</string>
        <key>sourceSize</key>
        <string>{105,257}</string>
      </dict>
      <key>buildpos_stairs__31.png</key>
      <dict>
        <key>frame</key>
        <string>{{829,722},{104,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,190}}</string>
        <key>sourceSize</key>
        <string>{104,190}</string>
      </dict>
      <key>buildpos_stairs__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,199},{158,221}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,221}}</string>
        <key>sourceSize</key>
        <string>{158,221}</string>
      </dict>
      <key>buildpos_stairs__28.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,422},{105,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,257}}</string>
        <key>sourceSize</key>
        <string>{105,257}</string>
      </dict>
      <key>buildpos_stairs__29.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,706},{104,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,190}}</string>
        <key>sourceSize</key>
        <string>{104,190}</string>
      </dict>
      <key>buildpos_stairs__30.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,199},{158,221}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,221}}</string>
        <key>sourceSize</key>
        <string>{158,221}</string>
      </dict>
      <key>buildpos_stairs__46.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{114,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,250}}</string>
        <key>sourceSize</key>
        <string>{114,250}</string>
      </dict>
      <key>buildpos_stairs__48.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,844},{104,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,186}}</string>
        <key>sourceSize</key>
        <string>{104,186}</string>
      </dict>
      <key>buildpos_stairs__47.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,706},{126,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,171}}</string>
        <key>sourceSize</key>
        <string>{126,171}</string>
      </dict>
      <key>buildpos_stairs__43.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,252},{114,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,250}}</string>
        <key>sourceSize</key>
        <string>{114,250}</string>
      </dict>
      <key>buildpos_stairs__45.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,797},{104,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,186}}</string>
        <key>sourceSize</key>
        <string>{104,186}</string>
      </dict>
      <key>buildpos_stairs__44.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,700},{126,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,171}}</string>
        <key>sourceSize</key>
        <string>{126,171}</string>
      </dict>
      <key>buildpos_stairs__52.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,533},{98,209}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,209}}</string>
        <key>sourceSize</key>
        <string>{98,209}</string>
      </dict>
      <key>buildpos_stairs__50.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,252},{86,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,135}}</string>
        <key>sourceSize</key>
        <string>{86,135}</string>
      </dict>
      <key>buildpos_stairs__51.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,469},{176,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,163}}</string>
        <key>sourceSize</key>
        <string>{176,163}</string>
      </dict>
      <key>buildpos_stairs__55.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,681},{98,209}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,209}}</string>
        <key>sourceSize</key>
        <string>{98,209}</string>
      </dict>
      <key>buildpos_stairs__54.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,389},{86,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,135}}</string>
        <key>sourceSize</key>
        <string>{86,135}</string>
      </dict>
      <key>buildpos_stairs__53.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,422},{176,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,163}}</string>
        <key>sourceSize</key>
        <string>{176,163}</string>
      </dict>
      <key>buildpos_stairs__62.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,265},{160,202}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,202}}</string>
        <key>sourceSize</key>
        <string>{160,202}</string>
      </dict>
      <key>buildpos_stairs__63.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{198,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,197}}</string>
        <key>sourceSize</key>
        <string>{198,197}</string>
      </dict>
      <key>buildpos_stairs__61.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{160,272}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,272}}</string>
        <key>sourceSize</key>
        <string>{160,272}</string>
      </dict>
      <key>buildpos_stairs__64.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,265},{160,202}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,202}}</string>
        <key>sourceSize</key>
        <string>{160,202}</string>
      </dict>
      <key>buildpos_stairs__65.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{198,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,197}}</string>
        <key>sourceSize</key>
        <string>{198,197}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buildpos_stairs.png</string>
      <key>textureFileName</key>
      <string>buildpos_stairs.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
    </dict>
  </dict>
</plist>