<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>MovieClip-buildpos_5003_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>buildpos_5003_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,135},{54,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,7}}</string>
        <key>sourceSize</key>
        <string>{54,7}</string>
      </dict>
      <key>buildpos_5003_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,87},{9,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,13}}</string>
        <key>sourceSize</key>
        <string>{9,13}</string>
      </dict>
      <key>buildpos_5003_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,21},{13,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,17}}</string>
        <key>sourceSize</key>
        <string>{13,17}</string>
      </dict>
      <key>buildpos_5003_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,58},{13,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,16}}</string>
        <key>sourceSize</key>
        <string>{13,16}</string>
      </dict>
      <key>buildpos_5003_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,70},{13,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,15}}</string>
        <key>sourceSize</key>
        <string>{13,15}</string>
      </dict>
      <key>buildpos_5003_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,76},{11,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,12}}</string>
        <key>sourceSize</key>
        <string>{11,12}</string>
      </dict>
      <key>buildpos_5003_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,90},{9,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,8}}</string>
        <key>sourceSize</key>
        <string>{9,8}</string>
      </dict>
      <key>buildpos_5003_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,90},{8,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,12}}</string>
        <key>sourceSize</key>
        <string>{8,12}</string>
      </dict>
      <key>buildpos_5003_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,52},{13,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,16}}</string>
        <key>sourceSize</key>
        <string>{13,16}</string>
      </dict>
      <key>buildpos_5003_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{13,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,19}}</string>
        <key>sourceSize</key>
        <string>{13,19}</string>
      </dict>
      <key>buildpos_5003_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,40},{13,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,16}}</string>
        <key>sourceSize</key>
        <string>{13,16}</string>
      </dict>
      <key>buildpos_5003_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,100},{7,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,7}}</string>
        <key>sourceSize</key>
        <string>{7,7}</string>
      </dict>
      <key>buildpos_5003_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,52},{32,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,40}}</string>
        <key>sourceSize</key>
        <string>{32,40}</string>
      </dict>
      <key>buildpos_5003_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,94},{32,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,39}}</string>
        <key>sourceSize</key>
        <string>{32,39}</string>
      </dict>
      <key>buildpos_5003_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{185,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{185,242}}</string>
        <key>sourceSize</key>
        <string>{185,242}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buildpos_5003.png</string>
      <key>textureFileName</key>
      <string>buildpos_5003.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>