<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>build_ani_10102_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{36,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,34}}</string>
        <key>sourceSize</key>
        <string>{36,34}</string>
      </dict>
      <key>build_ani_10102_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{86,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,145}}</string>
        <key>sourceSize</key>
        <string>{86,145}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>build_ani_10102.png</string>
      <key>textureFileName</key>
      <string>build_ani_10102.png</string>
      <key>size</key>
      <string>{128,256}</string>
    </dict>
  </dict>
</plist>