<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buildpos_4020__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,107},{61,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,22}}</string>
        <key>sourceSize</key>
        <string>{61,22}</string>
      </dict>
      <key>buildpos_4020__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,107},{35,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,40}}</string>
        <key>sourceSize</key>
        <string>{35,40}</string>
      </dict>
      <key>buildpos_4020__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{98,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,71}}</string>
        <key>sourceSize</key>
        <string>{98,71}</string>
      </dict>
      <key>buildpos_4020__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{100,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,33}}</string>
        <key>sourceSize</key>
        <string>{100,33}</string>
      </dict>
      <key>buildpos_4020__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,109},{18,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,20}}</string>
        <key>sourceSize</key>
        <string>{18,20}</string>
      </dict>
      <key>buildpos_4020__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,109},{25,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,26}}</string>
        <key>sourceSize</key>
        <string>{25,26}</string>
      </dict>
      <key>buildpos_4020__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,107},{45,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,52}}</string>
        <key>sourceSize</key>
        <string>{45,52}</string>
      </dict>
      <key>buildpos_4020__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,107},{39,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,34}}</string>
        <key>sourceSize</key>
        <string>{39,34}</string>
      </dict>
      <key>buildpos_4020__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,73},{25,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,32}}</string>
        <key>sourceSize</key>
        <string>{25,32}</string>
      </dict>
      <key>buildpos_4020__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,107},{22,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,31}}</string>
        <key>sourceSize</key>
        <string>{22,31}</string>
      </dict>
      <key>buildpos_4020__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,73},{65,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,34}}</string>
        <key>sourceSize</key>
        <string>{65,34}</string>
      </dict>
      <key>buildpos_4020__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,107},{43,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,43}}</string>
        <key>sourceSize</key>
        <string>{43,43}</string>
      </dict>
      <key>buildpos_4020__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,69},{30,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,66}}</string>
        <key>sourceSize</key>
        <string>{30,66}</string>
      </dict>
      <key>buildpos_4020__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,0},{36,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,67}}</string>
        <key>sourceSize</key>
        <string>{36,67}</string>
      </dict>
      <key>buildpos_4020__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,109},{24,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,17}}</string>
        <key>sourceSize</key>
        <string>{24,17}</string>
      </dict>
      <key>buildpos_4020__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,128},{24,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,17}}</string>
        <key>sourceSize</key>
        <string>{24,17}</string>
      </dict>
      <key>buildpos_4020__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,107},{29,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,27}}</string>
        <key>sourceSize</key>
        <string>{29,27}</string>
      </dict>
      <key>buildpos_4020__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{370,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,105}}</string>
        <key>sourceSize</key>
        <string>{370,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buildpos_4020.png</string>
      <key>textureFileName</key>
      <string>buildpos_4020.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>