<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>build_ani_3034_300.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,83},{47,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,51}}</string>
        <key>sourceSize</key>
        <string>{47,51}</string>
      </dict>
      <key>build_ani_3034_200.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{68,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,81}}</string>
        <key>sourceSize</key>
        <string>{68,81}</string>
      </dict>
      <key>build_ani_3034_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,92},{25,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,35}}</string>
        <key>sourceSize</key>
        <string>{25,35}</string>
      </dict>
      <key>build_ani_3034_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,83},{22,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,32}}</string>
        <key>sourceSize</key>
        <string>{22,32}</string>
      </dict>
      <key>build_ani_3034_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,92},{28,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,18}}</string>
        <key>sourceSize</key>
        <string>{28,18}</string>
      </dict>
      <key>build_ani_3034_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{82,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,90}}</string>
        <key>sourceSize</key>
        <string>{82,90}</string>
      </dict>
      <key>build_ani_3034_1__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>build_ani_3034_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,101}}</string>
        <key>sourceSize</key>
        <string>{95,101}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>build_ani_3034.png</string>
      <key>textureFileName</key>
      <string>build_ani_3034.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>