<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anime_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,269},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>anime_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>game_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,180},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>game_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>hero_quality_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,108},{59,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>hero_quality_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,218},{59,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{59,52}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>hero_quality_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,164},{59,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{59,52}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>hero_quality_sr.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,55},{70,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,51}}</string>
                <key>sourceSize</key>
                <string>{70,51}</string>
            </dict>
            <key>hero_quality_ssr.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{70,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,51}}</string>
                <key>sourceSize</key>
                <string>{70,51}</string>
            </dict>
            <key>spacetime_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,91},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>spacetime_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>toy_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>toy_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>album.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20519efe92ace77b7ad88797646176f3:1/1$</string>
            <key>textureFileName</key>
            <string>album.png</string>
        </dict>
    </dict>
</plist>
