<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>linkage_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,507},{47,69}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{47,69}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>linkage_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,418},{59,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{59,87}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>linkage_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,550},{73,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{73,74}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>linkage_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,332},{84,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>linkage_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,556},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>linkage_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,83},{139,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,89}}</string>
                <key>sourceSize</key>
                <string>{139,89}</string>
            </dict>
            <key>linkage_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{246,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,359}}</string>
                <key>sourceSize</key>
                <string>{246,359}</string>
            </dict>
            <key>linkage_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,625},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>linkage_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,622},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>linkage_combat.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,456},{58,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,49}}</string>
                <key>sourceSize</key>
                <string>{58,49}</string>
            </dict>
            <key>linkage_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,479},{69,75}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>linkage_event.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,394},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>linkage_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{246,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,359}}</string>
                <key>sourceSize</key>
                <string>{246,359}</string>
            </dict>
            <key>linkage_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,332},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>linkage_house.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,174},{156,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,135}}</string>
                <key>sourceSize</key>
                <string>{156,135}</string>
            </dict>
            <key>linkage_kill.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,675},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>linkage_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{246,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,359}}</string>
                <key>sourceSize</key>
                <string>{246,359}</string>
            </dict>
            <key>linkage_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{147,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,79}}</string>
                <key>sourceSize</key>
                <string>{147,79}</string>
            </dict>
            <key>linkage_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,359}}</string>
                <key>sourceSize</key>
                <string>{246,359}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>linkage.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:344976ef1a19d84155f382e801756b1d:1/1$</string>
            <key>textureFileName</key>
            <string>linkage.png</string>
        </dict>
    </dict>
</plist>
