<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>LoginImage/btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,491},{69,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>LoginImage/button_0066_login.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,571},{58,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,72}</string>
			</dict>
			<key>LoginImage/button_0067_login.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,571},{58,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,72}</string>
			</dict>
			<key>LoginImage/button_0068_login.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,396},{58,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,72}</string>
			</dict>
			<key>LoginImage/button_0069_login.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,980},{26,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,38}</string>
			</dict>
			<key>LoginImage/check_back_image.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,637},{34,34}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>LoginImage/check_image.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,979},{60,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,42}</string>
			</dict>
			<key>LoginImage/image_facebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1},{390,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,76}</string>
			</dict>
			<key>LoginImage/login_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,1},{200,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,160}</string>
			</dict>
			<key>LoginImage/login_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,341},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>LoginImage/login_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,347},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>LoginImage/login_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,880},{200,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,98}</string>
			</dict>
			<key>LoginImage/login_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,393},{278,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{279,80}</string>
			</dict>
			<key>LoginImage/login_button_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,845},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>LoginImage/login_button_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,143},{209,91}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,91}</string>
			</dict>
			<key>LoginImage/login_button_0002_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,245},{248,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,72}</string>
			</dict>
			<key>LoginImage/login_button_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,506},{70,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,63}</string>
			</dict>
			<key>LoginImage/login_button_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,478},{138,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,62}</string>
			</dict>
			<key>LoginImage/login_button_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,319},{138,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,62}</string>
			</dict>
			<key>LoginImage/login_button_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,980},{39,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,44}</string>
			</dict>
			<key>LoginImage/login_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,673},{39,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,44}</string>
			</dict>
			<key>LoginImage/login_button_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,435},{39,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,44}</string>
			</dict>
			<key>LoginImage/login_image_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,163},{243,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,96}</string>
			</dict>
			<key>LoginImage/login_image_00016_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,880},{210,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,91}</string>
			</dict>
			<key>LoginImage/login_image_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,319},{184,75}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,78}</string>
			</dict>
			<key>LoginImage/login_image_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,478},{188,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,78}</string>
			</dict>
			<key>LoginImage/login_image_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,347},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>LoginImage/login_image_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,845},{31,30}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>LoginImage/login_image_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,327},{15,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,3}</string>
			</dict>
			<key>LoginImage/login_image_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,134},{134,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,35}</string>
			</dict>
			<key>LoginImage/login_image_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,354},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>LoginImage/login_image_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,396},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>LoginImage/login_image_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{362,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,140}</string>
			</dict>
			<key>LoginImage/login_image_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,880},{494,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,44}</string>
			</dict>
			<key>LoginImage/login_image_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,1},{661,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{661,21}</string>
			</dict>
			<key>LoginImage/login_image_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,845},{31,30}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>LoginImage/login_image_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,653},{66,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,18}</string>
			</dict>
			<key>LoginImage/login_image_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,845},{39,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,28}</string>
			</dict>
			<key>LoginImage/login_image_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,408},{243,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,96}</string>
			</dict>
			<key>LoginImage/login_image_0015_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,673},{243,77}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,78}</string>
			</dict>
			<key>LoginImage/login_image_0015_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,673},{243,78}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,78}</string>
			</dict>
			<key>LoginImage/login_image_0015_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,673},{240,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,78}</string>
			</dict>
			<key>LoginImage/login_image_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,470},{56,45}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,46}</string>
			</dict>
			<key>LoginImage/login_image_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,270},{55,63}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,76}</string>
			</dict>
			<key>LoginImage/login_image_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,438},{66,75}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,76}</string>
			</dict>
			<key>LoginImage/login_image_0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,354},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>LoginImage/login_image_0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,845},{32,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,21}</string>
			</dict>
			<key>LoginImage/login_image_0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,979},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>LoginImage/login_image_0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,845},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>LoginImage/login_image_0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,163},{162,11}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,12}</string>
			</dict>
			<key>LoginImage/login_image_0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,980},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>LoginImage/login_image_0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,396},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,70}</string>
			</dict>
			<key>LoginImage/login_image_0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,980},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>LoginImage/login_image_0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,419},{73,70}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,70}</string>
			</dict>
			<key>LoginImage/login_image_0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,134},{1,1}}</string>
				<key>offset</key>
				<string>{52,-53}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,108}</string>
			</dict>
			<key>LoginImage/login_image_0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,134},{313,89}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,90}</string>
			</dict>
			<key>LoginImage/login_image_0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,163},{313,89}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,90}</string>
			</dict>
			<key>LoginImage/login_image_0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,979},{109,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,25}</string>
			</dict>
			<key>LoginImage/login_image_0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,664},{214,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,19}</string>
			</dict>
			<key>LoginImage/login_image_0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,766},{209,91}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,92}</string>
			</dict>
			<key>LoginImage/login_image_0043_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,926},{210,91}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,92}</string>
			</dict>
			<key>LoginImage/login_image_0043_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,766},{209,91}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,92}</string>
			</dict>
			<key>LoginImage/login_image_0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,753},{211,90}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,92}</string>
			</dict>
			<key>LoginImage/login_image_0044_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,673},{210,91}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,92}</string>
			</dict>
			<key>LoginImage/login_image_0044_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,753},{211,90}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,92}</string>
			</dict>
			<key>LoginImage/login_image_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,528},{41,40}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,40}</string>
			</dict>
			<key>LoginImage/login_image_server.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,143},{50,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,27}</string>
			</dict>
			<key>LoginImage/login_liaotian_jindutiao_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,327},{5,5}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>LoginImage/login_liaotian_jindutiao_jindu.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,334},{5,5}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>LoginImage/login_unback_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,618},{54,53}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>LoginImage/Login_universal_0098.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,926},{162,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,52}</string>
			</dict>
			<key>LoginImage/login_universal_0121.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,653},{96,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,18}</string>
			</dict>
			<key>LoginImage/login_universal_0134.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,384},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,54}</string>
			</dict>
			<key>LoginImage/login_universal_10012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,926},{49,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,65}</string>
			</dict>
			<key>LoginImage/login_universal_1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,653},{72,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,18}</string>
			</dict>
			<key>LoginImage/login_universal_10055.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,973},{129,47}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,48}</string>
			</dict>
			<key>LoginImage/login_universal_10131.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,859},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>LoginImage/login_universal_10132.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,478},{157,116}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,116}</string>
			</dict>
			<key>LoginImage/login_universal_10133.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,335},{57,47}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,48}</string>
			</dict>
			<key>LoginImage/login_universal_10142.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,225},{24,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,20}</string>
			</dict>
			<key>LoginImage/login_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,195},{48,28}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,30}</string>
			</dict>
			<key>LoginImage/logo_company.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,752},{104,117}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,118}</string>
			</dict>
			<key>LoginImage/login_image_0015_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,251},{248,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,72}</string>
			</dict>
			<key>LoginImage/login_image_0045.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,1},{353,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,131}</string>
			</dict>
			<key>LoginImage/login_universal_10013.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,979},{52,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,44}</string>
			</dict>
			<key>LoginImage/login_bar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,845},{32,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,21}</string>
			</dict>
			<key>LoginImage/button_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,354},{128,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,63}</string>
			</dict>
			<key>LoginImage/button_decor_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,926},{42,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>LoginImage/mainmenu_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,880},{94,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,140}</string>
			</dict>
			<key>LoginImage/universal_0090.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,137},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>LoginImage/universal_10012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,562},{67,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,64}</string>
			</dict>
			<key>LoginImage/universal_10132.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,419},{52,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,49}</string>
			</dict>
			<key>LoginImage/universal_10156.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,637},{39,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,34}</string>
			</dict>
			<key>LoginImage/universal_10159.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,845},{27,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,23}</string>
			</dict>
			<key>LoginImage/gongcheng_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,973},{70,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,48}</string>
			</dict>
			<key>LoginImage/button_decor_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,979},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LoginPlist.png</string>
			<key>realTextureFileName</key>
			<string>LoginPlist.png</string>
			<key>size</key>
			<string>{1022,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>