<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>invite_1.png</key>
            <dict>
                <key>height</key>
                <integer>79</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>85</integer>
                <key>originalWidth</key>
                <integer>85</integer>
                <key>width</key>
                <integer>75</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>919</integer>
            </dict>
            <key>main_friend.png</key>
            <dict>
                <key>height</key>
                <integer>75</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>85</integer>
                <key>originalWidth</key>
                <integer>85</integer>
                <key>width</key>
                <integer>85</integer>
                <key>x</key>
                <integer>414</integer>
                <key>y</key>
                <integer>596</integer>
            </dict>
            <key>main_gift.png</key>
            <dict>
                <key>height</key>
                <integer>85</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>85</integer>
                <key>originalWidth</key>
                <integer>85</integer>
                <key>width</key>
                <integer>85</integer>
                <key>x</key>
                <integer>327</integer>
                <key>y</key>
                <integer>596</integer>
            </dict>
            <key>main_record.png</key>
            <dict>
                <key>height</key>
                <integer>75</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>85</integer>
                <key>originalWidth</key>
                <integer>85</integer>
                <key>width</key>
                <integer>77</integer>
                <key>x</key>
                <integer>324</integer>
                <key>y</key>
                <integer>758</integer>
            </dict>
            <key>mainmenu_1.png</key>
            <dict>
                <key>height</key>
                <integer>71</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>85</integer>
                <key>originalWidth</key>
                <integer>85</integer>
                <key>width</key>
                <integer>85</integer>
                <key>x</key>
                <integer>414</integer>
                <key>y</key>
                <integer>673</integer>
            </dict>
            <key>mainmenu_10.png</key>
            <dict>
                <key>height</key>
                <integer>86</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>86</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>90</integer>
                <key>y</key>
                <integer>696</integer>
            </dict>
            <key>mainmenu_11.png</key>
            <dict>
                <key>height</key>
                <integer>71</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>79</integer>
                <key>originalWidth</key>
                <integer>79</integer>
                <key>width</key>
                <integer>75</integer>
                <key>x</key>
                <integer>168</integer>
                <key>y</key>
                <integer>835</integer>
            </dict>
            <key>mainmenu_12.png</key>
            <dict>
                <key>height</key>
                <integer>86</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>86</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>662</integer>
            </dict>
            <key>mainmenu_14.png</key>
            <dict>
                <key>height</key>
                <integer>73</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>79</integer>
                <key>originalWidth</key>
                <integer>79</integer>
                <key>width</key>
                <integer>61</integer>
                <key>x</key>
                <integer>261</integer>
                <key>y</key>
                <integer>741</integer>
            </dict>
            <key>mainmenu_15.png</key>
            <dict>
                <key>height</key>
                <integer>77</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>79</integer>
                <key>originalWidth</key>
                <integer>79</integer>
                <key>width</key>
                <integer>71</integer>
                <key>x</key>
                <integer>245</integer>
                <key>y</key>
                <integer>828</integer>
            </dict>
            <key>mainmenu_17.png</key>
            <dict>
                <key>height</key>
                <integer>85</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>85</integer>
                <key>originalWidth</key>
                <integer>85</integer>
                <key>width</key>
                <integer>81</integer>
                <key>x</key>
                <integer>178</integer>
                <key>y</key>
                <integer>741</integer>
            </dict>
            <key>mainmenu_18.png</key>
            <dict>
                <key>height</key>
                <integer>73</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>85</integer>
                <key>originalWidth</key>
                <integer>85</integer>
                <key>width</key>
                <integer>83</integer>
                <key>x</key>
                <integer>324</integer>
                <key>y</key>
                <integer>683</integer>
            </dict>
            <key>mainmenu_19.png</key>
            <dict>
                <key>height</key>
                <integer>85</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>85</integer>
                <key>originalWidth</key>
                <integer>85</integer>
                <key>width</key>
                <integer>81</integer>
                <key>x</key>
                <integer>409</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>mainmenu_2.png</key>
            <dict>
                <key>height</key>
                <integer>99</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>99</integer>
                <key>originalWidth</key>
                <integer>90</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>147</integer>
                <key>y</key>
                <integer>507</integer>
            </dict>
            <key>mainmenu_20.png</key>
            <dict>
                <key>height</key>
                <integer>77</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>85</integer>
                <key>originalWidth</key>
                <integer>85</integer>
                <key>width</key>
                <integer>75</integer>
                <key>x</key>
                <integer>79</integer>
                <key>y</key>
                <integer>919</integer>
            </dict>
            <key>mainmenu_21.png</key>
            <dict>
                <key>height</key>
                <integer>46</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>60</integer>
                <key>originalWidth</key>
                <integer>59</integer>
                <key>width</key>
                <integer>47</integer>
                <key>x</key>
                <integer>98</integer>
                <key>y</key>
                <integer>486</integer>
            </dict>
            <key>mainmenu_22.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>60</integer>
                <key>originalWidth</key>
                <integer>59</integer>
                <key>width</key>
                <integer>53</integer>
                <key>x</key>
                <integer>456</integer>
                <key>y</key>
                <integer>154</integer>
            </dict>
            <key>mainmenu_23.png</key>
            <dict>
                <key>height</key>
                <integer>52</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>60</integer>
                <key>originalWidth</key>
                <integer>59</integer>
                <key>width</key>
                <integer>47</integer>
                <key>x</key>
                <integer>98</integer>
                <key>y</key>
                <integer>432</integer>
            </dict>
            <key>mainmenu_24.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>60</integer>
                <key>originalWidth</key>
                <integer>59</integer>
                <key>width</key>
                <integer>53</integer>
                <key>x</key>
                <integer>456</integer>
                <key>y</key>
                <integer>102</integer>
            </dict>
            <key>mainmenu_25.png</key>
            <dict>
                <key>height</key>
                <integer>48</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>60</integer>
                <key>originalWidth</key>
                <integer>59</integer>
                <key>width</key>
                <integer>59</integer>
                <key>x</key>
                <integer>178</integer>
                <key>y</key>
                <integer>608</integer>
            </dict>
            <key>mainmenu_26.png</key>
            <dict>
                <key>height</key>
                <integer>86</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>86</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>90</integer>
                <key>y</key>
                <integer>608</integer>
            </dict>
            <key>mainmenu_27.png</key>
            <dict>
                <key>height</key>
                <integer>43</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>43</integer>
                <key>originalWidth</key>
                <integer>47</integer>
                <key>width</key>
                <integer>47</integer>
                <key>x</key>
                <integer>456</integer>
                <key>y</key>
                <integer>505</integer>
            </dict>
            <key>mainmenu_28.png</key>
            <dict>
                <key>height</key>
                <integer>39</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>39</integer>
                <key>originalWidth</key>
                <integer>150</integer>
                <key>width</key>
                <integer>150</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>364</integer>
            </dict>
            <key>mainmenu_3.png</key>
            <dict>
                <key>height</key>
                <integer>99</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>99</integer>
                <key>originalWidth</key>
                <integer>90</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>275</integer>
                <key>y</key>
                <integer>473</integer>
            </dict>
            <key>mainmenu_30.png</key>
            <dict>
                <key>height</key>
                <integer>172</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>172</integer>
                <key>originalWidth</key>
                <integer>169</integer>
                <key>width</key>
                <integer>169</integer>
                <key>x</key>
                <integer>285</integer>
                <key>y</key>
                <integer>246</integer>
            </dict>
            <key>mainmenu_31.png</key>
            <dict>
                <key>height</key>
                <integer>28</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>28</integer>
                <key>originalWidth</key>
                <integer>54</integer>
                <key>width</key>
                <integer>54</integer>
                <key>x</key>
                <integer>456</integer>
                <key>y</key>
                <integer>72</integer>
            </dict>
            <key>mainmenu_32.png</key>
            <dict>
                <key>height</key>
                <integer>179</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>179</integer>
                <key>originalWidth</key>
                <integer>281</integer>
                <key>width</key>
                <integer>281</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>183</integer>
            </dict>
            <key>mainmenu_33.png</key>
            <dict>
                <key>height</key>
                <integer>172</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>172</integer>
                <key>originalWidth</key>
                <integer>169</integer>
                <key>width</key>
                <integer>169</integer>
                <key>x</key>
                <integer>285</integer>
                <key>y</key>
                <integer>72</integer>
            </dict>
            <key>mainmenu_34.png</key>
            <dict>
                <key>height</key>
                <integer>24</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>24</integer>
                <key>originalWidth</key>
                <integer>91</integer>
                <key>width</key>
                <integer>91</integer>
                <key>x</key>
                <integer>275</integer>
                <key>y</key>
                <integer>447</integer>
            </dict>
            <key>mainmenu_35.png</key>
            <dict>
                <key>height</key>
                <integer>72</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>72</integer>
                <key>originalWidth</key>
                <integer>68</integer>
                <key>width</key>
                <integer>68</integer>
                <key>x</key>
                <integer>318</integer>
                <key>y</key>
                <integer>835</integer>
            </dict>
            <key>mainmenu_36.png</key>
            <dict>
                <key>height</key>
                <integer>25</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>25</integer>
                <key>originalWidth</key>
                <integer>114</integer>
                <key>width</key>
                <integer>114</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>405</integer>
            </dict>
            <key>mainmenu_37.png</key>
            <dict>
                <key>height</key>
                <integer>25</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>25</integer>
                <key>originalWidth</key>
                <integer>91</integer>
                <key>width</key>
                <integer>91</integer>
                <key>x</key>
                <integer>275</integer>
                <key>y</key>
                <integer>420</integer>
            </dict>
            <key>mainmenu_38.png</key>
            <dict>
                <key>height</key>
                <integer>297</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>297</integer>
                <key>originalWidth</key>
                <integer>47</integer>
                <key>width</key>
                <integer>47</integer>
                <key>x</key>
                <integer>456</integer>
                <key>y</key>
                <integer>206</integer>
            </dict>
            <key>mainmenu_39.png</key>
            <dict>
                <key>height</key>
                <integer>68</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>68</integer>
                <key>originalWidth</key>
                <integer>219</integer>
                <key>width</key>
                <integer>219</integer>
                <key>x</key>
                <integer>285</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>mainmenu_4.png</key>
            <dict>
                <key>height</key>
                <integer>71</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>79</integer>
                <key>originalWidth</key>
                <integer>79</integer>
                <key>width</key>
                <integer>77</integer>
                <key>x</key>
                <integer>89</integer>
                <key>y</key>
                <integer>784</integer>
            </dict>
            <key>mainmenu_40.png</key>
            <dict>
                <key>height</key>
                <integer>73</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>73</integer>
                <key>originalWidth</key>
                <integer>75</integer>
                <key>width</key>
                <integer>75</integer>
                <key>x</key>
                <integer>403</integer>
                <key>y</key>
                <integer>833</integer>
            </dict>
            <key>mainmenu_41.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>119</integer>
                <key>width</key>
                <integer>119</integer>
                <key>x</key>
                <integer>154</integer>
                <key>y</key>
                <integer>364</integer>
            </dict>
            <key>mainmenu_42.png</key>
            <dict>
                <key>height</key>
                <integer>179</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>179</integer>
                <key>originalWidth</key>
                <integer>281</integer>
                <key>width</key>
                <integer>281</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>mainmenu_43.png</key>
            <dict>
                <key>height</key>
                <integer>140</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>140</integer>
                <key>originalWidth</key>
                <integer>94</integer>
                <key>width</key>
                <integer>94</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>432</integer>
            </dict>
            <key>mainmenu_44.png</key>
            <dict>
                <key>height</key>
                <integer>86</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>86</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>574</integer>
            </dict>
            <key>mainmenu_45.png</key>
            <dict>
                <key>height</key>
                <integer>77</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>85</integer>
                <key>originalWidth</key>
                <integer>85</integer>
                <key>width</key>
                <integer>85</integer>
                <key>x</key>
                <integer>237</integer>
                <key>y</key>
                <integer>662</integer>
            </dict>
            <key>mainmenu_46.png</key>
            <dict>
                <key>height</key>
                <integer>86</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>86</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>239</integer>
                <key>y</key>
                <integer>574</integer>
            </dict>
            <key>mainmenu_47.png</key>
            <dict>
                <key>height</key>
                <integer>69</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>73</integer>
                <key>originalWidth</key>
                <integer>75</integer>
                <key>width</key>
                <integer>65</integer>
                <key>x</key>
                <integer>245</integer>
                <key>y</key>
                <integer>907</integer>
            </dict>
            <key>mainmenu_5.png</key>
            <dict>
                <key>height</key>
                <integer>80</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>80</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>837</integer>
            </dict>
            <key>mainmenu_6.png</key>
            <dict>
                <key>height</key>
                <integer>86</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>86</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>367</integer>
                <key>y</key>
                <integer>508</integer>
            </dict>
            <key>mainmenu_7.png</key>
            <dict>
                <key>height</key>
                <integer>86</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>86</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>368</integer>
                <key>y</key>
                <integer>420</integer>
            </dict>
            <key>mainmenu_8.png</key>
            <dict>
                <key>height</key>
                <integer>79</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>79</integer>
                <key>originalWidth</key>
                <integer>79</integer>
                <key>width</key>
                <integer>57</integer>
                <key>x</key>
                <integer>178</integer>
                <key>y</key>
                <integer>658</integer>
            </dict>
            <key>mainmenu_9.png</key>
            <dict>
                <key>height</key>
                <integer>77</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>79</integer>
                <key>originalWidth</key>
                <integer>79</integer>
                <key>width</key>
                <integer>73</integer>
                <key>x</key>
                <integer>156</integer>
                <key>y</key>
                <integer>908</integer>
            </dict>
            <key>mian_s_d.png</key>
            <dict>
                <key>height</key>
                <integer>85</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>85</integer>
                <key>originalWidth</key>
                <integer>85</integer>
                <key>width</key>
                <integer>85</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>750</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>main_menu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adf472cb697eb4745c317d003b75d5a6:1/1$</string>
            <key>textureFileName</key>
            <string>main_menu.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>512</integer>
        </dict>
    </dict>
</plist>
