<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drawcardback.png</key>
            <dict>
                <key>height</key>
                <integer>640</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>640</integer>
                <key>originalWidth</key>
                <integer>568</integer>
                <key>width</key>
                <integer>568</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>hengtiao_1.png</key>
            <dict>
                <key>height</key>
                <integer>54</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>54</integer>
                <key>originalWidth</key>
                <integer>240</integer>
                <key>width</key>
                <integer>240</integer>
                <key>x</key>
                <integer>281</integer>
                <key>y</key>
                <integer>756</integer>
            </dict>
            <key>hengtiao_2.png</key>
            <dict>
                <key>height</key>
                <integer>54</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>54</integer>
                <key>originalWidth</key>
                <integer>240</integer>
                <key>width</key>
                <integer>240</integer>
                <key>x</key>
                <integer>281</integer>
                <key>y</key>
                <integer>700</integer>
            </dict>
            <key>hengtiao_3.png</key>
            <dict>
                <key>height</key>
                <integer>54</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>54</integer>
                <key>originalWidth</key>
                <integer>240</integer>
                <key>width</key>
                <integer>240</integer>
                <key>x</key>
                <integer>281</integer>
                <key>y</key>
                <integer>644</integer>
            </dict>
            <key>mysterious_store_1.png</key>
            <dict>
                <key>height</key>
                <integer>539</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>539</integer>
                <key>originalWidth</key>
                <integer>277</integer>
                <key>width</key>
                <integer>277</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>644</integer>
            </dict>
            <key>mysterious_store_10.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>122</integer>
                <key>width</key>
                <integer>120</integer>
                <key>x</key>
                <integer>851</integer>
                <key>y</key>
                <integer>145</integer>
            </dict>
            <key>mysterious_store_11.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>122</integer>
                <key>width</key>
                <integer>120</integer>
                <key>x</key>
                <integer>851</integer>
                <key>y</key>
                <integer>111</integer>
            </dict>
            <key>mysterious_store_12.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>122</integer>
                <key>width</key>
                <integer>120</integer>
                <key>x</key>
                <integer>851</integer>
                <key>y</key>
                <integer>77</integer>
            </dict>
            <key>mysterious_store_13.png</key>
            <dict>
                <key>height</key>
                <integer>73</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>73</integer>
                <key>originalWidth</key>
                <integer>129</integer>
                <key>width</key>
                <integer>129</integer>
                <key>x</key>
                <integer>851</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>mysterious_store_14.png</key>
            <dict>
                <key>height</key>
                <integer>66</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>66</integer>
                <key>originalWidth</key>
                <integer>110</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>851</integer>
                <key>y</key>
                <integer>179</integer>
            </dict>
            <key>mysterious_store_15.png</key>
            <dict>
                <key>height</key>
                <integer>150</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>150</integer>
                <key>originalWidth</key>
                <integer>186</integer>
                <key>width</key>
                <integer>186</integer>
                <key>x</key>
                <integer>477</integer>
                <key>y</key>
                <integer>1084</integer>
            </dict>
            <key>mysterious_store_16.png</key>
            <dict>
                <key>height</key>
                <integer>47</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>47</integer>
                <key>originalWidth</key>
                <integer>60</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>957</integer>
                <key>y</key>
                <integer>247</integer>
            </dict>
            <key>mysterious_store_17.png</key>
            <dict>
                <key>height</key>
                <integer>105</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>107</integer>
                <key>originalWidth</key>
                <integer>106</integer>
                <key>width</key>
                <integer>104</integer>
                <key>x</key>
                <integer>851</integer>
                <key>y</key>
                <integer>247</integer>
            </dict>
            <key>mysterious_store_18.png</key>
            <dict>
                <key>height</key>
                <integer>55</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>55</integer>
                <key>originalWidth</key>
                <integer>104</integer>
                <key>width</key>
                <integer>104</integer>
                <key>x</key>
                <integer>851</integer>
                <key>y</key>
                <integer>354</integer>
            </dict>
            <key>mysterious_store_2.png</key>
            <dict>
                <key>height</key>
                <integer>539</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>539</integer>
                <key>originalWidth</key>
                <integer>277</integer>
                <key>width</key>
                <integer>277</integer>
                <key>x</key>
                <integer>572</integer>
                <key>y</key>
                <integer>543</integer>
            </dict>
            <key>mysterious_store_3.png</key>
            <dict>
                <key>height</key>
                <integer>539</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>539</integer>
                <key>originalWidth</key>
                <integer>277</integer>
                <key>width</key>
                <integer>277</integer>
                <key>x</key>
                <integer>572</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>mysterious_store_4.png</key>
            <dict>
                <key>height</key>
                <integer>79</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>79</integer>
                <key>originalWidth</key>
                <integer>79</integer>
                <key>width</key>
                <integer>79</integer>
                <key>x</key>
                <integer>851</integer>
                <key>y</key>
                <integer>492</integer>
            </dict>
            <key>mysterious_store_5.png</key>
            <dict>
                <key>height</key>
                <integer>79</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>79</integer>
                <key>originalWidth</key>
                <integer>79</integer>
                <key>width</key>
                <integer>79</integer>
                <key>x</key>
                <integer>932</integer>
                <key>y</key>
                <integer>411</integer>
            </dict>
            <key>mysterious_store_6.png</key>
            <dict>
                <key>height</key>
                <integer>79</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>79</integer>
                <key>originalWidth</key>
                <integer>79</integer>
                <key>width</key>
                <integer>79</integer>
                <key>x</key>
                <integer>851</integer>
                <key>y</key>
                <integer>411</integer>
            </dict>
            <key>mysterious_store_7.png</key>
            <dict>
                <key>height</key>
                <integer>190</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1185</integer>
            </dict>
            <key>mysterious_store_8.png</key>
            <dict>
                <key>height</key>
                <integer>190</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>281</integer>
                <key>y</key>
                <integer>1004</integer>
            </dict>
            <key>mysterious_store_9.png</key>
            <dict>
                <key>height</key>
                <integer>190</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>281</integer>
                <key>y</key>
                <integer>812</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>mysterious_store.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c52bc176f7f2ec2ee7ff597ae8d9f597:1/1$</string>
            <key>textureFileName</key>
            <string>mysterious_store.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
