<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>assist_10255.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,733},{109,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,159}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
            <key>assist_10256.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,823},{109,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,159}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
            <key>assist_10257.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,512},{108,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,180}}</string>
                <key>sourceSize</key>
                <string>{108,180}</string>
            </dict>
            <key>assist_10258.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,224},{108,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,180}}</string>
                <key>sourceSize</key>
                <string>{108,180}</string>
            </dict>
            <key>assist_10259.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,622},{109,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,163}}</string>
                <key>sourceSize</key>
                <string>{109,163}</string>
            </dict>
            <key>assist_10260.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,622},{109,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,163}}</string>
                <key>sourceSize</key>
                <string>{109,163}</string>
            </dict>
            <key>assist_10261.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,113},{109,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,175}}</string>
                <key>sourceSize</key>
                <string>{109,175}</string>
            </dict>
            <key>assist_10262.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{109,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,175}}</string>
                <key>sourceSize</key>
                <string>{109,175}</string>
            </dict>
            <key>assist_10263.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{109,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,159}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
            <key>assist_10264.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{109,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,159}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
            <key>flag_10244.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,500},{83,46}}</string>
                <key>offset</key>
                <string>{-85,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,22},{83,46}}</string>
                <key>sourceSize</key>
                <string>{339,96}</string>
            </dict>
            <key>flag_10245.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{76,160}}</string>
                <key>offset</key>
                <string>{10,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{100,330}</string>
            </dict>
            <key>flag_10246.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{221,72}}</string>
                <key>offset</key>
                <string>{-57,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{221,72}}</string>
                <key>sourceSize</key>
                <string>{339,96}</string>
            </dict>
            <key>flag_10247.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{58,222}}</string>
                <key>offset</key>
                <string>{21,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,1},{58,222}}</string>
                <key>sourceSize</key>
                <string>{100,330}</string>
            </dict>
            <key>flag_10248.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,418},{233,92}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{233,92}}</string>
                <key>sourceSize</key>
                <string>{339,96}</string>
            </dict>
            <key>flag_10249.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,334},{82,210}}</string>
                <key>offset</key>
                <string>{-9,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{82,210}}</string>
                <key>sourceSize</key>
                <string>{100,330}</string>
            </dict>
            <key>flag_10250.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{293,82}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{293,82}}</string>
                <key>sourceSize</key>
                <string>{339,96}</string>
            </dict>
            <key>flag_10251.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{82,272}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,272}}</string>
                <key>sourceSize</key>
                <string>{100,330}</string>
            </dict>
            <key>flag_10252.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{297,72}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{297,72}}</string>
                <key>sourceSize</key>
                <string>{339,96}</string>
            </dict>
            <key>flag_10253.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{82,330}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,330}}</string>
                <key>sourceSize</key>
                <string>{100,330}</string>
            </dict>
            <key>flag_10254.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{325,86}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{325,86}}</string>
                <key>sourceSize</key>
                <string>{339,96}</string>
            </dict>
            <key>flag_10255.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,330}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,330}}</string>
                <key>sourceSize</key>
                <string>{100,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvpdevilflag.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfbcc410149d3dc5e3b1cca73adf8c30:1/1$</string>
            <key>textureFileName</key>
            <string>pvpdevilflag.png</string>
        </dict>
    </dict>
</plist>
