<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>room_icon_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,58}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>room_icon_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{50,48}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>room_icon_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{54,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{54,58}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>room_icon_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,58},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>room_icon_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,106},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>room_icon_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>room_icon_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,196},{40,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>room_icon_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{40,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>room_icon_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,154},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>room_icon_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>room_icon_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roomicon.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:512af46ebe892bd9b3479f549f03a844:1/1$</string>
            <key>textureFileName</key>
            <string>roomicon.png</string>
        </dict>
    </dict>
</plist>
