<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoppingmall_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,824},{71,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>shoppingmall_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,110}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>shoppingmall_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,241},{348,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,263}}</string>
                <key>sourceSize</key>
                <string>{348,263}</string>
            </dict>
            <key>shoppingmall_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,473},{114,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,57}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>shoppingmall_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,357},{114,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,57}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>shoppingmall_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>shoppingmall_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,27},{19,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,45}}</string>
                <key>sourceSize</key>
                <string>{19,45}</string>
            </dict>
            <key>shoppingmall_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,591},{237,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,242}}</string>
                <key>sourceSize</key>
                <string>{237,242}</string>
            </dict>
            <key>shoppingmall_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,241},{114,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,57}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>shoppingmall_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,589},{46,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,233}}</string>
                <key>sourceSize</key>
                <string>{46,233}</string>
            </dict>
            <key>shoppingmall_0011.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{743,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{743,179}}</string>
                <key>sourceSize</key>
                <string>{743,179}</string>
            </dict>
            <key>shoppingmall_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{472,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,125}}</string>
                <key>sourceSize</key>
                <string>{472,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoppingmall1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7cc7ecfe9d35370c569f5fb516114f4:1/1$</string>
            <key>textureFileName</key>
            <string>shoppingmall1.png</string>
        </dict>
    </dict>
</plist>
