<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_show_1.png</key>
            <dict>
                <key>height</key>
                <integer>54</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>54</integer>
                <key>originalWidth</key>
                <integer>55</integer>
                <key>width</key>
                <integer>55</integer>
                <key>x</key>
                <integer>203</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>skill_show_2.png</key>
            <dict>
                <key>height</key>
                <integer>30</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>30</integer>
                <key>originalWidth</key>
                <integer>346</integer>
                <key>width</key>
                <integer>346</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>85</integer>
            </dict>
            <key>skill_show_3.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>199</integer>
                <key>width</key>
                <integer>199</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>skill_show.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:358b6e3ad357b3854508268382c8b962:1/1$</string>
            <key>textureFileName</key>
            <string>skill_show.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>128</integer>
            <key>width</key>
            <integer>512</integer>
        </dict>
    </dict>
</plist>
