<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_3025_1__10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,118},{64,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,50}}</string>
    <key>sourceSize</key>
    <string>{64,50}</string>
   </dict>
   <key>build_ani_3025_1__11.png</key>
   <dict>
    <key>frame</key>
    <string>{{119,0},{118,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,109}}</string>
    <key>sourceSize</key>
    <string>{118,109}</string>
   </dict>
   <key>build_ani_3025_1__9.png</key>
   <dict>
    <key>frame</key>
    <string>{{239,0},{106,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,119}}</string>
    <key>sourceSize</key>
    <string>{106,119}</string>
   </dict>
   <key>build_ani_3025_1__12.png</key>
   <dict>
    <key>frame</key>
    <string>{{347,0},{104,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,107}}</string>
    <key>sourceSize</key>
    <string>{104,107}</string>
   </dict>
   <key>build_ani_3025_1__18.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_3025_1__17.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{117,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{117,116}}</string>
    <key>sourceSize</key>
    <string>{117,116}</string>
   </dict>
   <key>build_ani_3025_1__16.png</key>
   <dict>
    <key>frame</key>
    <string>{{119,111},{102,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,49}}</string>
    <key>sourceSize</key>
    <string>{102,49}</string>
   </dict>
   <key>build_ani_3025_1__1.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,0},{43,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,32}}</string>
    <key>sourceSize</key>
    <string>{43,32}</string>
   </dict>
   <key>build_ani_3025_1__13.png</key>
   <dict>
    <key>frame</key>
    <string>{{347,109},{104,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,107}}</string>
    <key>sourceSize</key>
    <string>{104,107}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_3025_1.png</string>
   <key>textureFileName</key>
   <string>build_ani_3025_1.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>