<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_2041_1__10.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,151},{52,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,72}}</string>
    <key>sourceSize</key>
    <string>{52,72}</string>
   </dict>
   <key>build_ani_2041_1__11.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,107},{85,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,90}}</string>
    <key>sourceSize</key>
    <string>{85,90}</string>
   </dict>
   <key>build_ani_2041_1__24.png</key>
   <dict>
    <key>frame</key>
    <string>{{353,151},{13,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,17}}</string>
    <key>sourceSize</key>
    <string>{13,17}</string>
   </dict>
   <key>build_ani_2041_1__7.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,0},{106,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,105}}</string>
    <key>sourceSize</key>
    <string>{106,105}</string>
   </dict>
   <key>build_ani_2041_1__21.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,113},{106,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,36}}</string>
    <key>sourceSize</key>
    <string>{106,36}</string>
   </dict>
   <key>build_ani_2041_1__15.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,0},{106,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,111}}</string>
    <key>sourceSize</key>
    <string>{106,111}</string>
   </dict>
   <key>build_ani_2041_1__22.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,142},{140,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,61}}</string>
    <key>sourceSize</key>
    <string>{140,61}</string>
   </dict>
   <key>build_ani_2041_1__17.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{140,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,140}}</string>
    <key>sourceSize</key>
    <string>{140,140}</string>
   </dict>
   <key>build_ani_2041_1__25.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_2041_1__23.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,142},{140,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,58}}</string>
    <key>sourceSize</key>
    <string>{140,58}</string>
   </dict>
   <key>build_ani_2041_1__3.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,146},{27,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,15}}</string>
    <key>sourceSize</key>
    <string>{27,15}</string>
   </dict>
   <key>build_ani_2041_1__2.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,127},{27,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,17}}</string>
    <key>sourceSize</key>
    <string>{27,17}</string>
   </dict>
   <key>build_ani_2041_1__1.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,107},{28,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,18}}</string>
    <key>sourceSize</key>
    <string>{28,18}</string>
   </dict>
   <key>build_ani_2041_1__8.png</key>
   <dict>
    <key>frame</key>
    <string>{{338,151},{13,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,24}}</string>
    <key>sourceSize</key>
    <string>{13,24}</string>
   </dict>
   <key>build_ani_2041_1__19.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,0},{140,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,140}}</string>
    <key>sourceSize</key>
    <string>{140,140}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_2041.png</string>
   <key>textureFileName</key>
   <string>build_ani_2041.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>