<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_3003__7.png</key>
   <dict>
    <key>frame</key>
    <string>{{401,0},{77,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,104}}</string>
    <key>sourceSize</key>
    <string>{77,104}</string>
   </dict>
   <key>build_ani_3003__8.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,0},{115,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,104}}</string>
    <key>sourceSize</key>
    <string>{115,104}</string>
   </dict>
   <key>build_ani_3003__4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{140,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,140}}</string>
    <key>sourceSize</key>
    <string>{140,140}</string>
   </dict>
   <key>build_ani_3003__5.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,32},{20,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,14}}</string>
    <key>sourceSize</key>
    <string>{20,14}</string>
   </dict>
   <key>build_ani_3003__14.png</key>
   <dict>
    <key>frame</key>
    <string>{{439,106},{44,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,34}}</string>
    <key>sourceSize</key>
    <string>{44,34}</string>
   </dict>
   <key>build_ani_3003__15.png</key>
   <dict>
    <key>frame</key>
    <string>{{367,106},{70,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,95}}</string>
    <key>sourceSize</key>
    <string>{70,95}</string>
   </dict>
   <key>build_ani_3003__17.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,32},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_3003__16.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,106},{81,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,94}}</string>
    <key>sourceSize</key>
    <string>{81,94}</string>
   </dict>
   <key>build_ani_3003__9.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,0},{140,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,140}}</string>
    <key>sourceSize</key>
    <string>{140,140}</string>
   </dict>
   <key>build_ani_3003__13.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,48},{14,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,15}}</string>
    <key>sourceSize</key>
    <string>{14,15}</string>
   </dict>
   <key>build_ani_3003__6.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,0},{30,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,30}}</string>
    <key>sourceSize</key>
    <string>{30,30}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_3003.png</string>
   <key>textureFileName</key>
   <string>build_ani_3003.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>