<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_ani_3008_rs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{20,40}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{20,40}}</string>
                <key>sourceSize</key>
                <string>{28,50}</string>
            </dict>
            <key>build_ani_3008_rs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{28,59}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{28,59}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>build_ani_3008_rs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,147},{17,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{17,25}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>build_ani_3008_rs_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{135,143}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>build_ani_3008_rs_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,208},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>build_ani_3008.png</string>
            <key>size</key>
            <string>{139,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1388347dc0fc2be8f90c74136d9957a9$</string>
            <key>textureFileName</key>
            <string>build_ani_3008.png</string>
        </dict>
    </dict>
</plist>
