<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_3001_1__6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,121},{106,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,109}}</string>
    <key>sourceSize</key>
    <string>{106,109}</string>
   </dict>
   <key>build_ani_3001_1__9.png</key>
   <dict>
    <key>frame</key>
    <string>{{342,0},{106,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,119}}</string>
    <key>sourceSize</key>
    <string>{106,119}</string>
   </dict>
   <key>build_ani_3001_1__13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{124,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,119}}</string>
    <key>sourceSize</key>
    <string>{124,119}</string>
   </dict>
   <key>build_ani_3001_1__12.png</key>
   <dict>
    <key>frame</key>
    <string>{{476,50},{14,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,17}}</string>
    <key>sourceSize</key>
    <string>{14,17}</string>
   </dict>
   <key>build_ani_3001_1__14.png</key>
   <dict>
    <key>frame</key>
    <string>{{234,0},{106,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,119}}</string>
    <key>sourceSize</key>
    <string>{106,119}</string>
   </dict>
   <key>build_ani_3001_1__21.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,50},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_3001_1__20.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,121},{86,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,87}}</string>
    <key>sourceSize</key>
    <string>{86,87}</string>
   </dict>
   <key>build_ani_3001_1__18.png</key>
   <dict>
    <key>frame</key>
    <string>{{126,0},{106,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,119}}</string>
    <key>sourceSize</key>
    <string>{106,119}</string>
   </dict>
   <key>build_ani_3001_1__2.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,25},{28,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,23}}</string>
    <key>sourceSize</key>
    <string>{28,23}</string>
   </dict>
   <key>build_ani_3001_1__1.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,0},{28,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,23}}</string>
    <key>sourceSize</key>
    <string>{28,23}</string>
   </dict>
   <key>build_ani_3001_1__4.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,0},{28,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,23}}</string>
    <key>sourceSize</key>
    <string>{28,23}</string>
   </dict>
   <key>build_ani_3001_1__3.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,25},{28,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,23}}</string>
    <key>sourceSize</key>
    <string>{28,23}</string>
   </dict>
   <key>build_ani_3001_1__10.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,50},{21,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,21}}</string>
    <key>sourceSize</key>
    <string>{21,21}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_3001.png</string>
   <key>textureFileName</key>
   <string>build_ani_3001.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>