<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_3024__9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,167},{77,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,54}}</string>
    <key>sourceSize</key>
    <string>{77,54}</string>
   </dict>
   <key>build_ani_3024__8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,125},{91,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,40}}</string>
    <key>sourceSize</key>
    <string>{91,40}</string>
   </dict>
   <key>build_ani_3024__7.png</key>
   <dict>
    <key>frame</key>
    <string>{{116,0},{114,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,120}}</string>
    <key>sourceSize</key>
    <string>{114,120}</string>
   </dict>
   <key>build_ani_3024__5.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,48},{16,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,23}}</string>
    <key>sourceSize</key>
    <string>{16,23}</string>
   </dict>
   <key>build_ani_3024__6.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,122},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,24}}</string>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>build_ani_3024__17.png</key>
   <dict>
    <key>frame</key>
    <string>{{79,198},{62,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,41}}</string>
    <key>sourceSize</key>
    <string>{62,41}</string>
   </dict>
   <key>build_ani_3024__1.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,48},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_3024__18.png</key>
   <dict>
    <key>frame</key>
    <string>{{116,122},{80,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,74}}</string>
    <key>sourceSize</key>
    <string>{80,74}</string>
   </dict>
   <key>build_ani_3024__16.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,0},{22,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,23}}</string>
    <key>sourceSize</key>
    <string>{22,23}</string>
   </dict>
   <key>build_ani_3024__13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{114,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,123}}</string>
    <key>sourceSize</key>
    <string>{114,123}</string>
   </dict>
   <key>build_ani_3024__14.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,73},{17,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,21}}</string>
    <key>sourceSize</key>
    <string>{17,21}</string>
   </dict>
   <key>build_ani_3024__15.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,25},{21,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,21}}</string>
    <key>sourceSize</key>
    <string>{21,21}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_3024_1.png</string>
   <key>textureFileName</key>
   <string>build_ani_3024_1.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>