<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>build_ani_2043_rs4_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,134},{76,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,28}}</string>
        <key>sourceSize</key>
        <string>{76,28}</string>
      </dict>
      <key>build_ani_2043_rs4_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,101},{75,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,31}}</string>
        <key>sourceSize</key>
        <string>{75,31}</string>
      </dict>
      <key>build_ani_2043_rs4_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,206},{61,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,19}}</string>
        <key>sourceSize</key>
        <string>{61,19}</string>
      </dict>
      <key>build_ani_2043_rs4_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,167},{84,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,31}}</string>
        <key>sourceSize</key>
        <string>{84,31}</string>
      </dict>
      <key>build_ani_2043_rs4_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,134},{87,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,31}}</string>
        <key>sourceSize</key>
        <string>{87,31}</string>
      </dict>
      <key>build_ani_2043_rs4_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,98},{87,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,34}}</string>
        <key>sourceSize</key>
        <string>{87,34}</string>
      </dict>
      <key>build_ani_2043_rs4_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,222},{45,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,35}}</string>
        <key>sourceSize</key>
        <string>{45,35}</string>
      </dict>
      <key>build_ani_2043_rs4_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,200},{80,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,28}}</string>
        <key>sourceSize</key>
        <string>{80,28}</string>
      </dict>
      <key>build_ani_2043_rs4_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{81,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,33}}</string>
        <key>sourceSize</key>
        <string>{81,33}</string>
      </dict>
      <key>build_ani_2043_rs4_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,78},{69,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,21}}</string>
        <key>sourceSize</key>
        <string>{69,21}</string>
      </dict>
      <key>build_ani_2043_rs4_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,46},{75,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,50}}</string>
        <key>sourceSize</key>
        <string>{75,50}</string>
      </dict>
      <key>build_ani_2043_rs4_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,138},{84,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,31}}</string>
        <key>sourceSize</key>
        <string>{84,31}</string>
      </dict>
      <key>build_ani_2043_rs4_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{87,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,32}}</string>
        <key>sourceSize</key>
        <string>{87,32}</string>
      </dict>
      <key>build_ani_2043_rs4_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,68},{87,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,34}}</string>
        <key>sourceSize</key>
        <string>{87,34}</string>
      </dict>
      <key>build_ani_2043_rs4_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,35},{51,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,41}}</string>
        <key>sourceSize</key>
        <string>{51,41}</string>
      </dict>
      <key>build_ani_2043_rs4_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,164},{53,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,36}}</string>
        <key>sourceSize</key>
        <string>{53,36}</string>
      </dict>
      <key>build_ani_2043_rs4_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{84,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,44}}</string>
        <key>sourceSize</key>
        <string>{84,44}</string>
      </dict>
      <key>build_ani_2043_rs4_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,227},{45,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,29}}</string>
        <key>sourceSize</key>
        <string>{45,29}</string>
      </dict>
      <key>build_ani_2043_rs4_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{103,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,66}}</string>
        <key>sourceSize</key>
        <string>{103,66}</string>
      </dict>
      <key>build_ani_2043_rs4_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{63,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,33}}</string>
        <key>sourceSize</key>
        <string>{63,33}</string>
      </dict>
      <key>build_ani_2043_rs4_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,222},{23,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,26}}</string>
        <key>sourceSize</key>
        <string>{23,26}</string>
      </dict>
      <key>build_ani_2043_rs4_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,202},{65,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,18}}</string>
        <key>sourceSize</key>
        <string>{65,18}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>build_ani_2043_3.png</string>
      <key>textureFileName</key>
      <string>build_ani_2043_3.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>