<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>build_ani_2043_rs11_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,90},{79,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,40}}</string>
        <key>sourceSize</key>
        <string>{79,40}</string>
      </dict>
      <key>build_ani_2043_rs11_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,58},{79,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,43}}</string>
        <key>sourceSize</key>
        <string>{79,43}</string>
      </dict>
      <key>build_ani_2043_rs11_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,132},{78,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,37}}</string>
        <key>sourceSize</key>
        <string>{78,37}</string>
      </dict>
      <key>build_ani_2043_rs11_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,98},{82,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,36}}</string>
        <key>sourceSize</key>
        <string>{82,36}</string>
      </dict>
      <key>build_ani_2043_rs11_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,145},{74,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,41}}</string>
        <key>sourceSize</key>
        <string>{74,41}</string>
      </dict>
      <key>build_ani_2043_rs11_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,177},{70,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,41}}</string>
        <key>sourceSize</key>
        <string>{70,41}</string>
      </dict>
      <key>build_ani_2043_rs11_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,153},{73,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,42}}</string>
        <key>sourceSize</key>
        <string>{73,42}</string>
      </dict>
      <key>build_ani_2043_rs11_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,174},{77,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,36}}</string>
        <key>sourceSize</key>
        <string>{77,36}</string>
      </dict>
      <key>build_ani_2043_rs11_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,65},{80,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,39}}</string>
        <key>sourceSize</key>
        <string>{80,39}</string>
      </dict>
      <key>build_ani_2043_rs11_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,103},{78,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,40}}</string>
        <key>sourceSize</key>
        <string>{78,40}</string>
      </dict>
      <key>build_ani_2043_rs11_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,171},{78,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,35}}</string>
        <key>sourceSize</key>
        <string>{78,35}</string>
      </dict>
      <key>build_ani_2043_rs11_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,136},{81,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,36}}</string>
        <key>sourceSize</key>
        <string>{81,36}</string>
      </dict>
      <key>build_ani_2043_rs11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,43},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>build_ani_2043_rs11_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,0},{106,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,63}}</string>
        <key>sourceSize</key>
        <string>{106,63}</string>
      </dict>
      <key>build_ani_2043_rs11_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,65},{59,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,37}}</string>
        <key>sourceSize</key>
        <string>{59,37}</string>
      </dict>
      <key>build_ani_2043_rs11_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,0},{95,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,44}}</string>
        <key>sourceSize</key>
        <string>{95,44}</string>
      </dict>
      <key>build_ani_2043_rs11_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,104},{58,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,36}}</string>
        <key>sourceSize</key>
        <string>{58,36}</string>
      </dict>
      <key>build_ani_2043_rs11_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,43},{80,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,45}}</string>
        <key>sourceSize</key>
        <string>{80,45}</string>
      </dict>
      <key>build_ani_2043_rs11_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,50},{78,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,46}}</string>
        <key>sourceSize</key>
        <string>{78,46}</string>
      </dict>
      <key>build_ani_2043_rs11_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,91},{78,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,41}}</string>
        <key>sourceSize</key>
        <string>{78,41}</string>
      </dict>
      <key>build_ani_2043_rs11_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,46},{81,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,43}}</string>
        <key>sourceSize</key>
        <string>{81,43}</string>
      </dict>
      <key>build_ani_2043_rs11_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{117,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,56}}</string>
        <key>sourceSize</key>
        <string>{117,56}</string>
      </dict>
      <key>build_ani_2043_rs11_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,0},{52,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,48}}</string>
        <key>sourceSize</key>
        <string>{52,48}</string>
      </dict>
      <key>build_ani_2043_rs11_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,134},{74,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,41}}</string>
        <key>sourceSize</key>
        <string>{74,41}</string>
      </dict>
      <key>build_ani_2043_rs11_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,153},{70,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,41}}</string>
        <key>sourceSize</key>
        <string>{70,41}</string>
      </dict>
      <key>build_ani_2043_rs11_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,197},{77,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,36}}</string>
        <key>sourceSize</key>
        <string>{77,36}</string>
      </dict>
      <key>build_ani_2043_rs11_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,106},{73,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,45}}</string>
        <key>sourceSize</key>
        <string>{73,45}</string>
      </dict>
      <key>build_ani_2043_rs11_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{127,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,41}}</string>
        <key>sourceSize</key>
        <string>{127,41}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>build_ani_2043.png</string>
      <key>textureFileName</key>
      <string>build_ani_2043.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>