<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_2003_1__18.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,220},{73,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,59}}</string>
    <key>sourceSize</key>
    <string>{73,59}</string>
   </dict>
   <key>build_ani_2003_1__21.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,0},{107,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,84}}</string>
    <key>sourceSize</key>
    <string>{107,84}</string>
   </dict>
   <key>build_ani_2003_1__19.png</key>
   <dict>
    <key>frame</key>
    <string>{{433,174},{73,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,62}}</string>
    <key>sourceSize</key>
    <string>{73,62}</string>
   </dict>
   <key>build_ani_2003_1__20.png</key>
   <dict>
    <key>frame</key>
    <string>{{98,154},{89,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,68}}</string>
    <key>sourceSize</key>
    <string>{89,68}</string>
   </dict>
   <key>build_ani_2003_1__22.png</key>
   <dict>
    <key>frame</key>
    <string>{{248,81},{106,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,83}}</string>
    <key>sourceSize</key>
    <string>{106,83}</string>
   </dict>
   <key>build_ani_2003_1__28.png</key>
   <dict>
    <key>frame</key>
    <string>{{75,224},{70,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,52}}</string>
    <key>sourceSize</key>
    <string>{70,52}</string>
   </dict>
   <key>build_ani_2003_1__1.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,178},{70,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,63}}</string>
    <key>sourceSize</key>
    <string>{70,63}</string>
   </dict>
   <key>build_ani_2003_1__26.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,82},{106,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,70}}</string>
    <key>sourceSize</key>
    <string>{106,70}</string>
   </dict>
   <key>build_ani_2003_1__2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,154},{96,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,64}}</string>
    <key>sourceSize</key>
    <string>{96,64}</string>
   </dict>
   <key>build_ani_2003_1__27.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,82},{106,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,70}}</string>
    <key>sourceSize</key>
    <string>{106,70}</string>
   </dict>
   <key>build_ani_2003_1__6.png</key>
   <dict>
    <key>frame</key>
    <string>{{248,0},{122,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,79}}</string>
    <key>sourceSize</key>
    <string>{122,79}</string>
   </dict>
   <key>build_ani_2003_1__9.png</key>
   <dict>
    <key>frame</key>
    <string>{{227,166},{67,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,74}}</string>
    <key>sourceSize</key>
    <string>{67,74}</string>
   </dict>
   <key>build_ani_2003_1__7.png</key>
   <dict>
    <key>frame</key>
    <string>{{124,0},{122,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,80}}</string>
    <key>sourceSize</key>
    <string>{122,80}</string>
   </dict>
   <key>build_ani_2003_1__10.png</key>
   <dict>
    <key>frame</key>
    <string>{{356,86},{75,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,90}}</string>
    <key>sourceSize</key>
    <string>{75,90}</string>
   </dict>
   <key>build_ani_2003_1__32.png</key>
   <dict>
    <key>frame</key>
    <string>{{506,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_2003_1__13.png</key>
   <dict>
    <key>frame</key>
    <string>{{189,154},{36,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,46}}</string>
    <key>sourceSize</key>
    <string>{36,46}</string>
   </dict>
   <key>build_ani_2003_1__12.png</key>
   <dict>
    <key>frame</key>
    <string>{{481,0},{23,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,22}}</string>
    <key>sourceSize</key>
    <string>{23,22}</string>
   </dict>
   <key>build_ani_2003_1__8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{122,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,80}}</string>
    <key>sourceSize</key>
    <string>{122,80}</string>
   </dict>
   <key>build_ani_2003_1__11.png</key>
   <dict>
    <key>frame</key>
    <string>{{433,86},{77,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,86}}</string>
    <key>sourceSize</key>
    <string>{77,86}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_2003.png</string>
   <key>textureFileName</key>
   <string>build_ani_2003.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>