<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buildpos_chest__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,405},{135,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,102}}</string>
        <key>sourceSize</key>
        <string>{135,102}</string>
      </dict>
      <key>buildpos_chest__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,516},{129,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,89}}</string>
        <key>sourceSize</key>
        <string>{129,89}</string>
      </dict>
      <key>buildpos_chest__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,296},{188,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,117}}</string>
        <key>sourceSize</key>
        <string>{188,117}</string>
      </dict>
      <key>buildpos_chest__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,400},{144,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,103}}</string>
        <key>sourceSize</key>
        <string>{144,103}</string>
      </dict>
      <key>buildpos_chest__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,505},{133,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,94}}</string>
        <key>sourceSize</key>
        <string>{133,94}</string>
      </dict>
      <key>buildpos_chest__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{198,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,144}}</string>
        <key>sourceSize</key>
        <string>{198,144}</string>
      </dict>
      <key>buildpos_chest__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,296},{145,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,102}}</string>
        <key>sourceSize</key>
        <string>{145,102}</string>
      </dict>
      <key>buildpos_chest__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,415},{134,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,99}}</string>
        <key>sourceSize</key>
        <string>{134,99}</string>
      </dict>
      <key>buildpos_chest__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{195,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,148}}</string>
        <key>sourceSize</key>
        <string>{195,148}</string>
      </dict>
      <key>buildpos_chest__4.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,31},{23,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,23}}</string>
        <key>sourceSize</key>
        <string>{23,23}</string>
      </dict>
      <key>buildpos_chest__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,0},{38,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,29}}</string>
        <key>sourceSize</key>
        <string>{38,29}</string>
      </dict>
      <key>buildpos_chest__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,93},{66,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,91}}</string>
        <key>sourceSize</key>
        <string>{66,91}</string>
      </dict>
      <key>buildpos_chest__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{145,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,107}}</string>
        <key>sourceSize</key>
        <string>{145,107}</string>
      </dict>
      <key>buildpos_chest__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,509},{132,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,94}}</string>
        <key>sourceSize</key>
        <string>{132,94}</string>
      </dict>
      <key>buildpos_chest__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,0},{66,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,91}}</string>
        <key>sourceSize</key>
        <string>{66,91}</string>
      </dict>
      <key>buildpos_chest__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{170,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,144}}</string>
        <key>sourceSize</key>
        <string>{170,144}</string>
      </dict>
      <key>buildpos_chest__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,146},{193,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{193,148}}</string>
        <key>sourceSize</key>
        <string>{193,148}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buildpos_chest.png</string>
      <key>textureFileName</key>
      <string>buildpos_chest.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>