<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>build_ani_2001_1__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,47},{19,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,30}}</string>
        <key>sourceSize</key>
        <string>{19,30}</string>
      </dict>
      <key>build_ani_2001_1__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,105},{80,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,97}}</string>
        <key>sourceSize</key>
        <string>{80,97}</string>
      </dict>
      <key>build_ani_2001_1__1.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,0},{106,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,103}}</string>
        <key>sourceSize</key>
        <string>{106,103}</string>
      </dict>
      <key>build_ani_2001_1__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>build_ani_2001_1__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,0},{25,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,45}}</string>
        <key>sourceSize</key>
        <string>{25,45}</string>
      </dict>
      <key>build_ani_2001_1__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,105},{64,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,100}}</string>
        <key>sourceSize</key>
        <string>{64,100}</string>
      </dict>
      <key>build_ani_2001_1__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{99,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,111}}</string>
        <key>sourceSize</key>
        <string>{99,111}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>build_ani_2001.png</string>
      <key>textureFileName</key>
      <string>build_ani_2001.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>