<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_3028_1__7.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,0},{95,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,126}}</string>
    <key>sourceSize</key>
    <string>{95,126}</string>
   </dict>
   <key>build_ani_3028_1__6.png</key>
   <dict>
    <key>frame</key>
    <string>{{231,0},{19,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,32}}</string>
    <key>sourceSize</key>
    <string>{19,32}</string>
   </dict>
   <key>build_ani_3028_1__1.png</key>
   <dict>
    <key>frame</key>
    <string>{{86,246},{80,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,51}}</string>
    <key>sourceSize</key>
    <string>{80,51}</string>
   </dict>
   <key>build_ani_3028_1__5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{102,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,133}}</string>
    <key>sourceSize</key>
    <string>{102,133}</string>
   </dict>
   <key>build_ani_3028_1__15.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,240},{84,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,103}}</string>
    <key>sourceSize</key>
    <string>{84,103}</string>
   </dict>
   <key>build_ani_3028_1__17.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_3028_1__16.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,135},{85,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,103}}</string>
    <key>sourceSize</key>
    <string>{85,103}</string>
   </dict>
   <key>build_ani_3028_1__11.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,128},{85,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,116}}</string>
    <key>sourceSize</key>
    <string>{85,116}</string>
   </dict>
   <key>build_ani_3028_1__12.png</key>
   <dict>
    <key>frame</key>
    <string>{{201,30},{11,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,19}}</string>
    <key>sourceSize</key>
    <string>{11,19}</string>
   </dict>
   <key>build_ani_3028_1__13.png</key>
   <dict>
    <key>frame</key>
    <string>{{201,0},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{28,28}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_3028_1.png</string>
   <key>textureFileName</key>
   <string>build_ani_3028_1.png</string>
   <key>size</key>
   <string>{256,512}</string>
  </dict>
 </dict>
</plist>