<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_2036__4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,124},{93,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,111}}</string>
    <key>sourceSize</key>
    <string>{93,111}</string>
   </dict>
   <key>build_ani_2036__8.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,222},{91,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,102}}</string>
    <key>sourceSize</key>
    <string>{91,102}</string>
   </dict>
   <key>build_ani_2036__7.png</key>
   <dict>
    <key>frame</key>
    <string>{{100,0},{98,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,118}}</string>
    <key>sourceSize</key>
    <string>{98,118}</string>
   </dict>
   <key>build_ani_2036__13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,326},{105,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{105,79}}</string>
    <key>sourceSize</key>
    <string>{105,79}</string>
   </dict>
   <key>build_ani_2036__15.png</key>
   <dict>
    <key>frame</key>
    <string>{{235,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>build_ani_2036__14.png</key>
   <dict>
    <key>frame</key>
    <string>{{100,120},{105,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{105,100}}</string>
    <key>sourceSize</key>
    <string>{105,100}</string>
   </dict>
   <key>build_ani_2036__12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{98,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,122}}</string>
    <key>sourceSize</key>
    <string>{98,122}</string>
   </dict>
   <key>build_ani_2036__5.png</key>
   <dict>
    <key>frame</key>
    <string>{{200,35},{30,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,14}}</string>
    <key>sourceSize</key>
    <string>{30,14}</string>
   </dict>
   <key>build_ani_2036__6.png</key>
   <dict>
    <key>frame</key>
    <string>{{200,0},{33,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,33}}</string>
    <key>sourceSize</key>
    <string>{33,33}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_2036.png</string>
   <key>textureFileName</key>
   <string>build_ani_2036.png</string>
   <key>size</key>
   <string>{256,512}</string>
  </dict>
 </dict>
</plist>