<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_2043_rs6_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{174,255},{72,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,7}}</string>
    <key>sourceSize</key>
    <string>{72,7}</string>
   </dict>
   <key>build_ani_2043_rs6_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{404,0},{94,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,64}}</string>
    <key>sourceSize</key>
    <string>{94,64}</string>
   </dict>
   <key>build_ani_2043_rs6_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{338,228},{37,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,30}}</string>
    <key>sourceSize</key>
    <string>{37,30}</string>
   </dict>
   <key>build_ani_2043_rs6_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,56},{131,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{131,126}}</string>
    <key>sourceSize</key>
    <string>{131,126}</string>
   </dict>
   <key>build_ani_2043_rs6_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{134,255},{38,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,42}}</string>
    <key>sourceSize</key>
    <string>{38,42}</string>
   </dict>
   <key>build_ani_2043_rs6_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>build_ani_2043_rs6_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,249},{72,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,39}}</string>
    <key>sourceSize</key>
    <string>{72,39}</string>
   </dict>
   <key>build_ani_2043_rs6_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{276,187},{90,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,39}}</string>
    <key>sourceSize</key>
    <string>{90,39}</string>
   </dict>
   <key>build_ani_2043_rs6_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,254},{72,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,33}}</string>
    <key>sourceSize</key>
    <string>{72,33}</string>
   </dict>
   <key>build_ani_2043_rs6_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,171},{133,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{133,76}}</string>
    <key>sourceSize</key>
    <string>{133,76}</string>
   </dict>
   <key>build_ani_2043_rs6_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{276,228},{60,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,61}}</string>
    <key>sourceSize</key>
    <string>{60,61}</string>
   </dict>
   <key>build_ani_2043_rs6_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{393,66},{104,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,52}}</string>
    <key>sourceSize</key>
    <string>{104,52}</string>
   </dict>
   <key>build_ani_2043_rs6_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,254},{58,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,29}}</string>
    <key>sourceSize</key>
    <string>{58,29}</string>
   </dict>
   <key>build_ani_2043_rs6_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{393,120},{95,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,49}}</string>
    <key>sourceSize</key>
    <string>{95,49}</string>
   </dict>
   <key>build_ani_2043_rs6_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,56},{83,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,64}}</string>
    <key>sourceSize</key>
    <string>{83,64}</string>
   </dict>
   <key>build_ani_2043_rs6_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{173,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{173,148}}</string>
    <key>sourceSize</key>
    <string>{173,148}</string>
   </dict>
   <key>build_ani_2043_rs6_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,150},{143,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{143,102}}</string>
    <key>sourceSize</key>
    <string>{143,102}</string>
   </dict>
   <key>build_ani_2043_rs6_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,249},{42,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,52}}</string>
    <key>sourceSize</key>
    <string>{42,52}</string>
   </dict>
   <key>build_ani_2043_rs6_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{145,184},{129,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{129,69}}</string>
    <key>sourceSize</key>
    <string>{129,69}</string>
   </dict>
   <key>build_ani_2043_rs6_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,0},{227,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{227,54}}</string>
    <key>sourceSize</key>
    <string>{227,54}</string>
   </dict>
   <key>build_ani_2043_rs6_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,122},{67,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,63}}</string>
    <key>sourceSize</key>
    <string>{67,63}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>build_ani_2043_6.png</string>
   <key>textureFileName</key>
   <string>build_ani_2043_6.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>