<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>citizen_12014_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,39},{35,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,36}}</string>
        <key>sourceSize</key>
        <string>{35,36}</string>
      </dict>
      <key>citizen_12014_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{35,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,37}}</string>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>citizen_12014_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,38},{35,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,36}}</string>
        <key>sourceSize</key>
        <string>{35,36}</string>
      </dict>
      <key>citizen_12014_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,77},{32,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,36}}</string>
        <key>sourceSize</key>
        <string>{32,36}</string>
      </dict>
      <key>citizen_12014_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,76},{32,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,37}}</string>
        <key>sourceSize</key>
        <string>{32,37}</string>
      </dict>
      <key>citizen_12014_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,77},{32,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,36}}</string>
        <key>sourceSize</key>
        <string>{32,36}</string>
      </dict>
      <key>citizen_12014_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,39},{35,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,36}}</string>
        <key>sourceSize</key>
        <string>{35,36}</string>
      </dict>
      <key>citizen_12014_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,0},{35,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,37}}</string>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>citizen_12014_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{35,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,36}}</string>
        <key>sourceSize</key>
        <string>{35,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>citizen_12014.png</string>
      <key>textureFileName</key>
      <string>citizen_12014.png</string>
      <key>size</key>
      <string>{128,128}</string>
    </dict>
  </dict>
</plist>