<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>citizen_12006_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{70,80},{33,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,38}}</string>
    <key>sourceSize</key>
    <string>{33,38}</string>
   </dict>
   <key>citizen_12006_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>citizen_12006_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,40},{35,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,38}}</string>
    <key>sourceSize</key>
    <string>{35,38}</string>
   </dict>
   <key>citizen_12006_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{34,81},{32,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,38}}</string>
    <key>sourceSize</key>
    <string>{32,38}</string>
   </dict>
   <key>citizen_12006_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,81},{32,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,39}}</string>
    <key>sourceSize</key>
    <string>{32,39}</string>
   </dict>
   <key>citizen_12006_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,41},{33,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,38}}</string>
    <key>sourceSize</key>
    <string>{33,38}</string>
   </dict>
   <key>citizen_12006_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{35,41},{33,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,38}}</string>
    <key>sourceSize</key>
    <string>{33,38}</string>
   </dict>
   <key>citizen_12006_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{37,0},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>citizen_12006_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,0},{35,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,38}}</string>
    <key>sourceSize</key>
    <string>{35,38}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>citizen_12006.png</string>
   <key>textureFileName</key>
   <string>citizen_12006.png</string>
   <key>size</key>
   <string>{128,128}</string>
  </dict>
 </dict>
</plist>