<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>citizen_12007_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,81},{31,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,38}}</string>
    <key>sourceSize</key>
    <string>{31,38}</string>
   </dict>
   <key>citizen_12007_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{33,40},{31,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,39}}</string>
    <key>sourceSize</key>
    <string>{31,39}</string>
   </dict>
   <key>citizen_12007_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{33,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,38}}</string>
    <key>sourceSize</key>
    <string>{33,38}</string>
   </dict>
   <key>citizen_12007_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{70,0},{32,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,38}}</string>
    <key>sourceSize</key>
    <string>{32,38}</string>
   </dict>
   <key>citizen_12007_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,40},{31,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,39}}</string>
    <key>sourceSize</key>
    <string>{31,39}</string>
   </dict>
   <key>citizen_12007_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{33,81},{31,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,38}}</string>
    <key>sourceSize</key>
    <string>{31,38}</string>
   </dict>
   <key>citizen_12007_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,81},{31,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,38}}</string>
    <key>sourceSize</key>
    <string>{31,38}</string>
   </dict>
   <key>citizen_12007_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,40},{31,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,39}}</string>
    <key>sourceSize</key>
    <string>{31,39}</string>
   </dict>
   <key>citizen_12007_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{35,0},{33,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,38}}</string>
    <key>sourceSize</key>
    <string>{33,38}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>citizen_12007.png</string>
   <key>textureFileName</key>
   <string>citizen_12007.png</string>
   <key>size</key>
   <string>{128,128}</string>
  </dict>
 </dict>
</plist>