<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11003_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,113},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11003_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,90},{23,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,123}}</string>
        <key>sourceSize</key>
        <string>{23,123}</string>
      </dict>
      <key>hero_ani_11003_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,436},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>hero_ani_11003_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,23},{139,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>hero_ani_11003_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,517},{93,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>hero_ani_11003_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{375,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,21}}</string>
        <key>sourceSize</key>
        <string>{375,21}</string>
      </dict>
      <key>hero_ani_11003_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,510},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11003_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,201},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11003_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,82}}</string>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
      <key>hero_ani_11003_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,135},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,82}}</string>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
      <key>hero_ani_11003_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,108},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,82}}</string>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
      <key>hero_ani_11003_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,113},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,82}}</string>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
      <key>hero_ani_11003_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,364},{70,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>hero_ani_11003_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,445},{70,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>hero_ani_11003_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,375},{70,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>hero_ani_11003_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,303},{70,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>hero_ani_11003_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,545},{90,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,27}}</string>
        <key>sourceSize</key>
        <string>{90,27}</string>
      </dict>
      <key>hero_ani_11003_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,192},{75,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,84}}</string>
        <key>sourceSize</key>
        <string>{75,84}</string>
      </dict>
      <key>hero_ani_11003_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{74,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,85}}</string>
        <key>sourceSize</key>
        <string>{74,85}</string>
      </dict>
      <key>hero_ani_11003_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,197},{74,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,85}}</string>
        <key>sourceSize</key>
        <string>{74,85}</string>
      </dict>
      <key>hero_ani_11003_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,284},{73,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,84}}</string>
        <key>sourceSize</key>
        <string>{73,84}</string>
      </dict>
      <key>hero_ani_11003_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,278},{73,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,84}}</string>
        <key>sourceSize</key>
        <string>{73,84}</string>
      </dict>
      <key>hero_ani_11003_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,285},{73,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,83}}</string>
        <key>sourceSize</key>
        <string>{73,83}</string>
      </dict>
      <key>hero_ani_11003_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,219},{93,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,64}}</string>
        <key>sourceSize</key>
        <string>{93,64}</string>
      </dict>
      <key>hero_ani_11003_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,370},{76,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,73}}</string>
        <key>sourceSize</key>
        <string>{76,73}</string>
      </dict>
      <key>hero_ani_11003_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,403},{65,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,73}}</string>
        <key>sourceSize</key>
        <string>{65,73}</string>
      </dict>
      <key>hero_ani_11003_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,328},{66,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,73}}</string>
        <key>sourceSize</key>
        <string>{66,73}</string>
      </dict>
      <key>hero_ani_11003_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,353},{53,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,47}}</string>
        <key>sourceSize</key>
        <string>{53,47}</string>
      </dict>
      <key>hero_ani_11003_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,311},{58,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,47}}</string>
        <key>sourceSize</key>
        <string>{58,47}</string>
      </dict>
      <key>hero_ani_11003_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,305},{56,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,46}}</string>
        <key>sourceSize</key>
        <string>{56,46}</string>
      </dict>
      <key>hero_ani_11003_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,360},{58,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,47}}</string>
        <key>sourceSize</key>
        <string>{58,47}</string>
      </dict>
      <key>hero_ani_11003_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,548},{67,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,47}}</string>
        <key>sourceSize</key>
        <string>{67,47}</string>
      </dict>
      <key>hero_ani_11003_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,251},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero_ani_11003_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,189},{49,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,60}}</string>
        <key>sourceSize</key>
        <string>{49,60}</string>
      </dict>
      <key>hero_ani_11003_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,90},{128,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,43}}</string>
        <key>sourceSize</key>
        <string>{128,43}</string>
      </dict>
      <key>hero_ani_11003_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{128,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,43}}</string>
        <key>sourceSize</key>
        <string>{128,43}</string>
      </dict>
      <key>hero_ani_11003_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,45},{128,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,43}}</string>
        <key>sourceSize</key>
        <string>{128,43}</string>
      </dict>
      <key>hero_ani_11003_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,23},{128,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,43}}</string>
        <key>sourceSize</key>
        <string>{128,43}</string>
      </dict>
      <key>hero_ani_11003_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,68},{128,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,43}}</string>
        <key>sourceSize</key>
        <string>{128,43}</string>
      </dict>
      <key>hero_ani_11003_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,132},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>hero_ani_11003_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,447},{100,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,61}}</string>
        <key>sourceSize</key>
        <string>{100,61}</string>
      </dict>
      <key>hero_ani_11003_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,135},{25,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,56}}</string>
        <key>sourceSize</key>
        <string>{25,56}</string>
      </dict>
      <key>hero_ani_11003_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,257},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero_ani_11003_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,370},{75,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,75}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>hero_ani_11003_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,23},{83,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,83}}</string>
        <key>sourceSize</key>
        <string>{83,83}</string>
      </dict>
      <key>hero_ani_11003_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,510},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>hero_ani_11003_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,45},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11003_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,23},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11003_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,307},{26,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,37}}</string>
        <key>sourceSize</key>
        <string>{26,37}</string>
      </dict>
      <key>hero_ani_11003_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,510},{70,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,68}}</string>
        <key>sourceSize</key>
        <string>{70,68}</string>
      </dict>
      <key>hero_ani_11003_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,517},{63,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,62}}</string>
        <key>sourceSize</key>
        <string>{63,62}</string>
      </dict>
      <key>hero_ani_11003_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,447},{70,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,68}}</string>
        <key>sourceSize</key>
        <string>{70,68}</string>
      </dict>
      <key>hero_ani_11003_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,478},{70,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,68}}</string>
        <key>sourceSize</key>
        <string>{70,68}</string>
      </dict>
      <key>hero_ani_11003_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,23},{7,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,5}}</string>
        <key>sourceSize</key>
        <string>{7,5}</string>
      </dict>
      <key>hero_ani_11003_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,30},{7,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,5}}</string>
        <key>sourceSize</key>
        <string>{7,5}</string>
      </dict>
      <key>hero_ani_11003_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,0},{1,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,2}}</string>
        <key>sourceSize</key>
        <string>{1,2}</string>
      </dict>
      <key>hero_ani_11003_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,269},{27,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,36}}</string>
        <key>sourceSize</key>
        <string>{27,36}</string>
      </dict>
      <key>hero_ani_11003_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,290},{27,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,36}}</string>
        <key>sourceSize</key>
        <string>{27,36}</string>
      </dict>
      <key>hero_ani_11003_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,193},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11003_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,231},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11003_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,215},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11003_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,159},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11003_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,409},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>hero_ani_11003_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,346},{26,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,37}}</string>
        <key>sourceSize</key>
        <string>{26,37}</string>
      </dict>
      <key>hero_ani_11003_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,424},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>hero_ani_11003_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,447},{26,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,31}}</string>
        <key>sourceSize</key>
        <string>{26,31}</string>
      </dict>
      <key>hero_ani_11003_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,440},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11003_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,253},{28,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,35}}</string>
        <key>sourceSize</key>
        <string>{28,35}</string>
      </dict>
      <key>hero_ani_11003_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,402},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>hero_ani_11003_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,409},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>hero_ani_11003_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,385},{26,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,37}}</string>
        <key>sourceSize</key>
        <string>{26,37}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11003.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11003.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>