<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11207_978.png</key>
   <dict>
    <key>frame</key>
    <string>{{386,143},{61,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,49}}</string>
    <key>sourceSize</key>
    <string>{61,49}</string>
   </dict>
   <key>hero_ani_11207_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,91},{67,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,50}}</string>
    <key>sourceSize</key>
    <string>{67,50}</string>
   </dict>
   <key>hero_ani_11207_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,143},{67,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,50}}</string>
    <key>sourceSize</key>
    <string>{67,50}</string>
   </dict>
   <key>hero_ani_11207_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{163,143},{67,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,50}}</string>
    <key>sourceSize</key>
    <string>{67,50}</string>
   </dict>
   <key>hero_ani_11207_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{386,91},{67,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,50}}</string>
    <key>sourceSize</key>
    <string>{67,50}</string>
   </dict>
   <key>hero_ani_11207_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{283,91},{67,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,50}}</string>
    <key>sourceSize</key>
    <string>{67,50}</string>
   </dict>
   <key>hero_ani_11207_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{95,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,89}}</string>
    <key>sourceSize</key>
    <string>{95,89}</string>
   </dict>
   <key>hero_ani_11207_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,0},{95,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,89}}</string>
    <key>sourceSize</key>
    <string>{95,89}</string>
   </dict>
   <key>hero_ani_11207_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,91},{95,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,89}}</string>
    <key>sourceSize</key>
    <string>{95,89}</string>
   </dict>
   <key>hero_ani_11207_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,0},{95,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,89}}</string>
    <key>sourceSize</key>
    <string>{95,89}</string>
   </dict>
   <key>hero_ani_11207_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,0},{95,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,89}}</string>
    <key>sourceSize</key>
    <string>{95,89}</string>
   </dict>
   <key>hero_ani_11207_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,0},{95,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,89}}</string>
    <key>sourceSize</key>
    <string>{95,89}</string>
   </dict>
   <key>hero_ani_11207_981.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,39},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11207_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,91},{32,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,36}}</string>
    <key>sourceSize</key>
    <string>{32,36}</string>
   </dict>
   <key>hero_ani_11207_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,167},{43,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,37}}</string>
    <key>sourceSize</key>
    <string>{43,37}</string>
   </dict>
   <key>hero_ani_11207_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{449,179},{43,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,37}}</string>
    <key>sourceSize</key>
    <string>{43,37}</string>
   </dict>
   <key>hero_ani_11207_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{301,143},{43,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,37}}</string>
    <key>sourceSize</key>
    <string>{43,37}</string>
   </dict>
   <key>hero_ani_11207_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,140},{43,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,37}}</string>
    <key>sourceSize</key>
    <string>{43,37}</string>
   </dict>
   <key>hero_ani_11207_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,0},{22,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,37}}</string>
    <key>sourceSize</key>
    <string>{22,37}</string>
   </dict>
   <key>hero_ani_11207_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{261,91},{20,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,8}}</string>
    <key>sourceSize</key>
    <string>{20,8}</string>
   </dict>
   <key>hero_ani_11207_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,91},{18,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,6}}</string>
    <key>sourceSize</key>
    <string>{18,6}</string>
   </dict>
   <key>hero_ani_11207_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,91},{64,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,74}}</string>
    <key>sourceSize</key>
    <string>{64,74}</string>
   </dict>
   <key>hero_ani_11207_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{34,182},{32,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,35}}</string>
    <key>sourceSize</key>
    <string>{32,35}</string>
   </dict>
   <key>hero_ani_11207_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,194},{32,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,35}}</string>
    <key>sourceSize</key>
    <string>{32,35}</string>
   </dict>
   <key>hero_ani_11207_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11207_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,182},{32,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,36}}</string>
    <key>sourceSize</key>
    <string>{32,36}</string>
   </dict>
   <key>hero_ani_11207_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{163,91},{27,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,36}}</string>
    <key>sourceSize</key>
    <string>{27,36}</string>
   </dict>
   <key>hero_ani_11207_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{208,195},{31,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,36}}</string>
    <key>sourceSize</key>
    <string>{31,36}</string>
   </dict>
   <key>hero_ani_11207_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,205},{31,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,36}}</string>
    <key>sourceSize</key>
    <string>{31,36}</string>
   </dict>
   <key>hero_ani_11207_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,195},{31,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,36}}</string>
    <key>sourceSize</key>
    <string>{31,36}</string>
   </dict>
   <key>hero_ani_11207_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{475,93},{35,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,45}}</string>
    <key>sourceSize</key>
    <string>{35,45}</string>
   </dict>
   <key>hero_ani_11207_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,129},{32,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,36}}</string>
    <key>sourceSize</key>
    <string>{32,36}</string>
   </dict>
   <key>hero_ani_11207_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{241,195},{31,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,36}}</string>
    <key>sourceSize</key>
    <string>{31,36}</string>
   </dict>
   <key>hero_ani_11207_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,72},{21,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,19}}</string>
    <key>sourceSize</key>
    <string>{21,19}</string>
   </dict>
   <key>hero_ani_11207_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{301,182},{32,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,35}}</string>
    <key>sourceSize</key>
    <string>{32,35}</string>
   </dict>
   <key>hero_ani_11207_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,195},{31,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,36}}</string>
    <key>sourceSize</key>
    <string>{31,36}</string>
   </dict>
   <key>hero_ani_11207_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,194},{31,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,36}}</string>
    <key>sourceSize</key>
    <string>{31,36}</string>
   </dict>
   <key>hero_ani_11207_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,167},{32,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,36}}</string>
    <key>sourceSize</key>
    <string>{32,36}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11207.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11207.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>