<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11638_1000.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,107},{27,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,26}}</string>
        <key>sourceSize</key>
        <string>{27,26}</string>
      </dict>
      <key>hero_ani_11638_999.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,135},{24,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,23}}</string>
        <key>sourceSize</key>
        <string>{24,23}</string>
      </dict>
      <key>hero_ani_11638_998.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,134},{24,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,26}}</string>
        <key>sourceSize</key>
        <string>{24,26}</string>
      </dict>
      <key>hero_ani_11638_996.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,160},{21,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,20}}</string>
        <key>sourceSize</key>
        <string>{21,20}</string>
      </dict>
      <key>hero_ani_11638_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,196},{83,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,51}}</string>
        <key>sourceSize</key>
        <string>{83,51}</string>
      </dict>
      <key>hero_ani_11638_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,0},{91,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,81}}</string>
        <key>sourceSize</key>
        <string>{91,81}</string>
      </dict>
      <key>hero_ani_11638_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,138},{75,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,79}}</string>
        <key>sourceSize</key>
        <string>{75,79}</string>
      </dict>
      <key>hero_ani_11638_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,208},{68,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,60}}</string>
        <key>sourceSize</key>
        <string>{68,60}</string>
      </dict>
      <key>hero_ani_11638_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,190},{66,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,69}}</string>
        <key>sourceSize</key>
        <string>{66,69}</string>
      </dict>
      <key>hero_ani_11638_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,118},{84,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,76}}</string>
        <key>sourceSize</key>
        <string>{84,76}</string>
      </dict>
      <key>hero_ani_11638_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,167},{72,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
      <key>hero_ani_11638_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,261},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>hero_ani_11638_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,219},{63,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,59}}</string>
        <key>sourceSize</key>
        <string>{63,59}</string>
      </dict>
      <key>hero_ani_11638_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,130},{83,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,76}}</string>
        <key>sourceSize</key>
        <string>{83,76}</string>
      </dict>
      <key>hero_ani_11638_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,83},{85,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,79}}</string>
        <key>sourceSize</key>
        <string>{85,79}</string>
      </dict>
      <key>hero_ani_11638_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,107},{83,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,81}}</string>
        <key>sourceSize</key>
        <string>{83,81}</string>
      </dict>
      <key>hero_ani_11638_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,83},{5,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,5}}</string>
        <key>sourceSize</key>
        <string>{5,5}</string>
      </dict>
      <key>hero_ani_11638_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,0},{124,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,105}}</string>
        <key>sourceSize</key>
        <string>{124,105}</string>
      </dict>
      <key>hero_ani_11638_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,0},{125,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,116}}</string>
        <key>sourceSize</key>
        <string>{125,116}</string>
      </dict>
      <key>hero_ani_11638_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,0},{131,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,128}}</string>
        <key>sourceSize</key>
        <string>{131,128}</string>
      </dict>
      <key>hero_ani_11638_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,97},{107,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,106}}</string>
        <key>sourceSize</key>
        <string>{107,106}</string>
      </dict>
      <key>hero_ani_11638_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{137,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,136}}</string>
        <key>sourceSize</key>
        <string>{137,136}</string>
      </dict>
      <key>hero_ani_11638_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{169,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,165}}</string>
        <key>sourceSize</key>
        <string>{169,165}</string>
      </dict>
      <key>hero_ani_11638_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,0},{111,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,103}}</string>
        <key>sourceSize</key>
        <string>{111,103}</string>
      </dict>
      <key>hero_ani_11638_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,0},{119,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,95}}</string>
        <key>sourceSize</key>
        <string>{119,95}</string>
      </dict>
      <key>hero_ani_11638_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,164},{90,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,57}}</string>
        <key>sourceSize</key>
        <string>{90,57}</string>
      </dict>
      <key>hero_ani_11638_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,244},{54,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,64}}</string>
        <key>sourceSize</key>
        <string>{54,64}</string>
      </dict>
      <key>hero_ani_11638_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,196},{71,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,63}}</string>
        <key>sourceSize</key>
        <string>{71,63}</string>
      </dict>
      <key>hero_ani_11638_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,105},{97,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,89}}</string>
        <key>sourceSize</key>
        <string>{97,89}</string>
      </dict>
      <key>hero_ani_11638_2000.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,104},{7,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,5}}</string>
        <key>sourceSize</key>
        <string>{7,5}</string>
      </dict>
      <key>hero_ani_11638_2111.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,97},{7,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,5}}</string>
        <key>sourceSize</key>
        <string>{7,5}</string>
      </dict>
      <key>hero_ani_11638_997.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,270},{53,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,63}}</string>
        <key>sourceSize</key>
        <string>{53,63}</string>
      </dict>
      <key>hero_ani_11638_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,138},{57,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,73}}</string>
        <key>sourceSize</key>
        <string>{57,73}</string>
      </dict>
      <key>hero_ani_11638_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,208},{60,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
      <key>hero_ani_11638_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,261},{64,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,53}}</string>
        <key>sourceSize</key>
        <string>{64,53}</string>
      </dict>
      <key>hero_ani_11638_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,190},{83,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,52}}</string>
        <key>sourceSize</key>
        <string>{83,52}</string>
      </dict>
      <key>hero_ani_11638_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,266},{53,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,63}}</string>
        <key>sourceSize</key>
        <string>{53,63}</string>
      </dict>
      <key>hero_ani_11638_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,266},{53,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,64}}</string>
        <key>sourceSize</key>
        <string>{53,64}</string>
      </dict>
      <key>hero_ani_11638_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,213},{54,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,64}}</string>
        <key>sourceSize</key>
        <string>{54,64}</string>
      </dict>
      <key>hero_ani_11638_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,223},{54,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,64}}</string>
        <key>sourceSize</key>
        <string>{54,64}</string>
      </dict>
      <key>hero_ani_11638_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,223},{54,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,64}}</string>
        <key>sourceSize</key>
        <string>{54,64}</string>
      </dict>
      <key>hero_ani_11638_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,205},{74,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,59}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>hero_ani_11638_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,167},{78,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,59}}</string>
        <key>sourceSize</key>
        <string>{78,59}</string>
      </dict>
      <key>hero_ani_11638_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,130},{46,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,76}}</string>
        <key>sourceSize</key>
        <string>{46,76}</string>
      </dict>
      <key>hero_ani_11638_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,228},{54,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,64}}</string>
        <key>sourceSize</key>
        <string>{54,64}</string>
      </dict>
      <key>hero_ani_11638_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,261},{54,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,64}}</string>
        <key>sourceSize</key>
        <string>{54,64}</string>
      </dict>
      <key>hero_ani_11638_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,249},{54,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,64}}</string>
        <key>sourceSize</key>
        <string>{54,64}</string>
      </dict>
      <key>hero_ani_11638_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,241},{54,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,64}}</string>
        <key>sourceSize</key>
        <string>{54,64}</string>
      </dict>
      <key>hero_ani_11638_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,280},{84,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,19}}</string>
        <key>sourceSize</key>
        <string>{84,19}</string>
      </dict>
      <key>hero_ani_11638_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,118},{37,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,14}}</string>
        <key>sourceSize</key>
        <string>{37,14}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11638.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11638.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>