<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11011__750.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{64,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,58}}</string>
        <key>sourceSize</key>
        <string>{64,58}</string>
      </dict>
      <key>hero_ani_11011__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11011__45.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,204},{31,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,25}}</string>
        <key>sourceSize</key>
        <string>{31,25}</string>
      </dict>
      <key>hero_ani_11011__41.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,143},{50,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,63}}</string>
        <key>sourceSize</key>
        <string>{50,63}</string>
      </dict>
      <key>hero_ani_11011__798.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,65},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11011__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,194},{39,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,37}}</string>
        <key>sourceSize</key>
        <string>{39,37}</string>
      </dict>
      <key>hero_ani_11011__46.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{85,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,63}}</string>
        <key>sourceSize</key>
        <string>{85,63}</string>
      </dict>
      <key>hero_ani_11011__31.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,139},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>hero_ani_11011__33.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,92},{53,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,63}}</string>
        <key>sourceSize</key>
        <string>{53,63}</string>
      </dict>
      <key>hero_ani_11011_611.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,4},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11011__47.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,77},{9,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,4}}</string>
        <key>sourceSize</key>
        <string>{9,4}</string>
      </dict>
      <key>hero_ani_11011__784.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,4},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11011__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,77},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11011__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,161},{30,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,37}}</string>
        <key>sourceSize</key>
        <string>{30,37}</string>
      </dict>
      <key>hero_ani_11011__29.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,97},{35,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,40}}</string>
        <key>sourceSize</key>
        <string>{35,40}</string>
      </dict>
      <key>hero_ani_11011__28.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,157},{51,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,35}}</string>
        <key>sourceSize</key>
        <string>{51,35}</string>
      </dict>
      <key>hero_ani_11011__34.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{64,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,75}}</string>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
      <key>hero_ani_11011__27.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,50},{35,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,40}}</string>
        <key>sourceSize</key>
        <string>{35,40}</string>
      </dict>
      <key>hero_ani_11011__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,161},{42,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,41}}</string>
        <key>sourceSize</key>
        <string>{42,41}</string>
      </dict>
      <key>hero_ani_11011__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,179},{39,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,38}}</string>
        <key>sourceSize</key>
        <string>{39,38}</string>
      </dict>
      <key>hero_ani_11011__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,177},{41,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,37}}</string>
        <key>sourceSize</key>
        <string>{41,37}</string>
      </dict>
      <key>hero_ani_11011__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,180},{39,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,37}}</string>
        <key>sourceSize</key>
        <string>{39,37}</string>
      </dict>
      <key>hero_ani_11011__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,198},{39,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,37}}</string>
        <key>sourceSize</key>
        <string>{39,37}</string>
      </dict>
      <key>hero_ani_11011_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11011__40.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,80},{40,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,83}}</string>
        <key>sourceSize</key>
        <string>{40,83}</string>
      </dict>
      <key>hero_ani_11011__39.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,77},{45,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,82}}</string>
        <key>sourceSize</key>
        <string>{45,82}</string>
      </dict>
      <key>hero_ani_11011__36.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,129},{48,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,67}}</string>
        <key>sourceSize</key>
        <string>{48,67}</string>
      </dict>
      <key>hero_ani_11011__32.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,165},{38,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,43}}</string>
        <key>sourceSize</key>
        <string>{38,43}</string>
      </dict>
      <key>hero_ani_11011__42.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{67,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,118}}</string>
        <key>sourceSize</key>
        <string>{67,118}</string>
      </dict>
      <key>hero_ani_11011__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,129},{42,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,46}}</string>
        <key>sourceSize</key>
        <string>{42,46}</string>
      </dict>
      <key>hero_ani_11011_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11011__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{77,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,75}}</string>
        <key>sourceSize</key>
        <string>{77,75}</string>
      </dict>
      <key>hero_ani_11011__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,65},{72,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,62}}</string>
        <key>sourceSize</key>
        <string>{72,62}</string>
      </dict>
      <key>hero_ani_11011__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,120},{61,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,58}}</string>
        <key>sourceSize</key>
        <string>{61,58}</string>
      </dict>
      <key>hero_ani_11011__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,0},{68,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,78}}</string>
        <key>sourceSize</key>
        <string>{68,78}</string>
      </dict>
      <key>hero_ani_11011__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{101,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,95}}</string>
        <key>sourceSize</key>
        <string>{101,95}</string>
      </dict>
      <key>hero_ani_11011__44.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,0},{28,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,48}}</string>
        <key>sourceSize</key>
        <string>{28,48}</string>
      </dict>
      <key>hero_ani_11011__30.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,204},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11011.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11011.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>