<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11640_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,286},{28,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,18}}</string>
    <key>sourceSize</key>
    <string>{28,18}</string>
   </dict>
   <key>hero_ani_11640_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,266},{28,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,18}}</string>
    <key>sourceSize</key>
    <string>{28,18}</string>
   </dict>
   <key>hero_ani_11640_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,306},{28,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,16}}</string>
    <key>sourceSize</key>
    <string>{28,16}</string>
   </dict>
   <key>hero_ani_11640_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,324},{26,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,18}}</string>
    <key>sourceSize</key>
    <string>{26,18}</string>
   </dict>
   <key>hero_ani_11640_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{323,442},{52,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,17}}</string>
    <key>sourceSize</key>
    <string>{52,17}</string>
   </dict>
   <key>hero_ani_11640_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,210},{3,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,3}}</string>
    <key>sourceSize</key>
    <string>{3,3}</string>
   </dict>
   <key>hero_ani_11640_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,142},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>hero_ani_11640_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,210},{6,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,8}}</string>
    <key>sourceSize</key>
    <string>{6,8}</string>
   </dict>
   <key>hero_ani_11640_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{323,466},{74,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,52}}</string>
    <key>sourceSize</key>
    <string>{74,52}</string>
   </dict>
   <key>hero_ani_11640_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,468},{89,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,25}}</string>
    <key>sourceSize</key>
    <string>{89,25}</string>
   </dict>
   <key>hero_ani_11640_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,422},{42,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,37}}</string>
    <key>sourceSize</key>
    <string>{42,37}</string>
   </dict>
   <key>hero_ani_11640_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{91,469},{68,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,44}}</string>
    <key>sourceSize</key>
    <string>{68,44}</string>
   </dict>
   <key>hero_ani_11640_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{424,439},{76,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,68}}</string>
    <key>sourceSize</key>
    <string>{76,68}</string>
   </dict>
   <key>hero_ani_11640_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{238,442},{83,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,54}}</string>
    <key>sourceSize</key>
    <string>{83,54}</string>
   </dict>
   <key>hero_ani_11640_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,50},{45,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,45}}</string>
    <key>sourceSize</key>
    <string>{45,45}</string>
   </dict>
   <key>hero_ani_11640_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,246},{59,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,44}}</string>
    <key>sourceSize</key>
    <string>{59,44}</string>
   </dict>
   <key>hero_ani_11640_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,372},{40,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,48}}</string>
    <key>sourceSize</key>
    <string>{40,48}</string>
   </dict>
   <key>hero_ani_11640_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,0},{220,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{220,140}}</string>
    <key>sourceSize</key>
    <string>{220,140}</string>
   </dict>
   <key>hero_ani_11640_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{240,167}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{240,167}}</string>
    <key>sourceSize</key>
    <string>{240,167}</string>
   </dict>
   <key>hero_ani_11640_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{161,469},{67,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,33}}</string>
    <key>sourceSize</key>
    <string>{67,33}</string>
   </dict>
   <key>hero_ani_11640_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,371},{95,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,95}}</string>
    <key>sourceSize</key>
    <string>{95,95}</string>
   </dict>
   <key>hero_ani_11640_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,372},{95,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,95}}</string>
    <key>sourceSize</key>
    <string>{95,95}</string>
   </dict>
   <key>hero_ani_11640_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,142},{148,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,95}}</string>
    <key>sourceSize</key>
    <string>{148,95}</string>
   </dict>
   <key>hero_ani_11640_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,169},{134,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{134,95}}</string>
    <key>sourceSize</key>
    <string>{134,95}</string>
   </dict>
   <key>hero_ani_11640_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,266},{103,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,103}}</string>
    <key>sourceSize</key>
    <string>{103,103}</string>
   </dict>
   <key>hero_ani_11640_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,169},{103,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,103}}</string>
    <key>sourceSize</key>
    <string>{103,103}</string>
   </dict>
   <key>hero_ani_11640_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{241,239},{103,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,103}}</string>
    <key>sourceSize</key>
    <string>{103,103}</string>
   </dict>
   <key>hero_ani_11640_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,341},{78,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,96}}</string>
    <key>sourceSize</key>
    <string>{78,96}</string>
   </dict>
   <key>hero_ani_11640_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{135,274},{102,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,96}}</string>
    <key>sourceSize</key>
    <string>{102,96}</string>
   </dict>
   <key>hero_ani_11640_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{239,344},{105,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{105,96}}</string>
    <key>sourceSize</key>
    <string>{105,96}</string>
   </dict>
   <key>hero_ani_11640_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,220},{7,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,5}}</string>
    <key>sourceSize</key>
    <string>{7,5}</string>
   </dict>
   <key>hero_ani_11640_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,227},{7,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,5}}</string>
    <key>sourceSize</key>
    <string>{7,5}</string>
   </dict>
   <key>hero_ani_11640_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,387},{37,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,49}}</string>
    <key>sourceSize</key>
    <string>{37,49}</string>
   </dict>
   <key>hero_ani_11640_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,418},{37,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,46}}</string>
    <key>sourceSize</key>
    <string>{37,46}</string>
   </dict>
   <key>hero_ani_11640_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,292},{42,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,47}}</string>
    <key>sourceSize</key>
    <string>{42,47}</string>
   </dict>
   <key>hero_ani_11640_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{390,318},{40,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,48}}</string>
    <key>sourceSize</key>
    <string>{40,48}</string>
   </dict>
   <key>hero_ani_11640_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,239},{42,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,47}}</string>
    <key>sourceSize</key>
    <string>{42,47}</string>
   </dict>
   <key>hero_ani_11640_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,288},{42,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,47}}</string>
    <key>sourceSize</key>
    <string>{42,47}</string>
   </dict>
   <key>hero_ani_11640_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,0},{46,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,48}}</string>
    <key>sourceSize</key>
    <string>{46,48}</string>
   </dict>
   <key>hero_ani_11640_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,146},{50,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,48}}</string>
    <key>sourceSize</key>
    <string>{50,48}</string>
   </dict>
   <key>hero_ani_11640_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,210},{51,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,56}}</string>
    <key>sourceSize</key>
    <string>{51,56}</string>
   </dict>
   <key>hero_ani_11640_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{390,268},{52,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,48}}</string>
    <key>sourceSize</key>
    <string>{52,48}</string>
   </dict>
   <key>hero_ani_11640_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,196},{49,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,48}}</string>
    <key>sourceSize</key>
    <string>{49,48}</string>
   </dict>
   <key>hero_ani_11640_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,337},{40,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,48}}</string>
    <key>sourceSize</key>
    <string>{40,48}</string>
   </dict>
   <key>hero_ani_11640_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,97},{42,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,47}}</string>
    <key>sourceSize</key>
    <string>{42,47}</string>
   </dict>
   <key>hero_ani_11640_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,368},{40,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,48}}</string>
    <key>sourceSize</key>
    <string>{40,48}</string>
   </dict>
   <key>hero_ani_11640_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,344},{25,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,9}}</string>
    <key>sourceSize</key>
    <string>{25,9}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11640.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11640.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>