<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11405_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,0},{72,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,101}}</string>
        <key>sourceSize</key>
        <string>{72,101}</string>
      </dict>
      <key>hero_ani_11405_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,0},{72,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,101}}</string>
        <key>sourceSize</key>
        <string>{72,101}</string>
      </dict>
      <key>hero_ani_11405_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,0},{72,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,101}}</string>
        <key>sourceSize</key>
        <string>{72,101}</string>
      </dict>
      <key>hero_ani_11405_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,0},{72,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,101}}</string>
        <key>sourceSize</key>
        <string>{72,101}</string>
      </dict>
      <key>hero_ani_11405_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,0},{72,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,101}}</string>
        <key>sourceSize</key>
        <string>{72,101}</string>
      </dict>
      <key>hero_ani_11405_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{72,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,101}}</string>
        <key>sourceSize</key>
        <string>{72,101}</string>
      </dict>
      <key>hero_ani_11405_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{621,0},{72,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,101}}</string>
        <key>sourceSize</key>
        <string>{72,101}</string>
      </dict>
      <key>hero_ani_11405_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,103},{46,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,97}}</string>
        <key>sourceSize</key>
        <string>{46,97}</string>
      </dict>
      <key>hero_ani_11405_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,0},{119,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,47}}</string>
        <key>sourceSize</key>
        <string>{119,47}</string>
      </dict>
      <key>hero_ani_11405_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,102},{75,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,75}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>hero_ani_11405_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,236},{60,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,36}}</string>
        <key>sourceSize</key>
        <string>{60,36}</string>
      </dict>
      <key>hero_ani_11405_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,238},{60,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,36}}</string>
        <key>sourceSize</key>
        <string>{60,36}</string>
      </dict>
      <key>hero_ani_11405_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,49},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11405_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,237},{60,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,36}}</string>
        <key>sourceSize</key>
        <string>{60,36}</string>
      </dict>
      <key>hero_ani_11405_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,223},{51,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,56}}</string>
        <key>sourceSize</key>
        <string>{51,56}</string>
      </dict>
      <key>hero_ani_11405_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,219},{53,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,59}}</string>
        <key>sourceSize</key>
        <string>{53,59}</string>
      </dict>
      <key>hero_ani_11405_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,218},{54,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,62}}</string>
        <key>sourceSize</key>
        <string>{54,62}</string>
      </dict>
      <key>hero_ani_11405_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,172},{60,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,65}}</string>
        <key>sourceSize</key>
        <string>{60,65}</string>
      </dict>
      <key>hero_ani_11405_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,228},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>hero_ani_11405_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,219},{53,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,55}}</string>
        <key>sourceSize</key>
        <string>{53,55}</string>
      </dict>
      <key>hero_ani_11405_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,103},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11405_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{992,38},{27,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,35}}</string>
        <key>sourceSize</key>
        <string>{27,35}</string>
      </dict>
      <key>hero_ani_11405_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{992,0},{27,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,36}}</string>
        <key>sourceSize</key>
        <string>{27,36}</string>
      </dict>
      <key>hero_ani_11405_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,191},{88,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,30}}</string>
        <key>sourceSize</key>
        <string>{88,30}</string>
      </dict>
      <key>hero_ani_11405_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,175},{92,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,32}}</string>
        <key>sourceSize</key>
        <string>{92,32}</string>
      </dict>
      <key>hero_ani_11405_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,183},{86,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,34}}</string>
        <key>sourceSize</key>
        <string>{86,34}</string>
      </dict>
      <key>hero_ani_11405_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,141},{20,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,19}}</string>
        <key>sourceSize</key>
        <string>{20,19}</string>
      </dict>
      <key>hero_ani_11405_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,275},{55,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,13}}</string>
        <key>sourceSize</key>
        <string>{55,13}</string>
      </dict>
      <key>hero_ani_11405_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,179},{73,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,47}}</string>
        <key>sourceSize</key>
        <string>{73,47}</string>
      </dict>
      <key>hero_ani_11405_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,103},{89,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,47}}</string>
        <key>sourceSize</key>
        <string>{89,47}</string>
      </dict>
      <key>hero_ani_11405_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,134},{97,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,39}}</string>
        <key>sourceSize</key>
        <string>{97,39}</string>
      </dict>
      <key>hero_ani_11405_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{83,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,99}}</string>
        <key>sourceSize</key>
        <string>{83,99}</string>
      </dict>
      <key>hero_ani_11405_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{78,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,100}}</string>
        <key>sourceSize</key>
        <string>{78,100}</string>
      </dict>
      <key>hero_ani_11405_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,101},{77,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,88}}</string>
        <key>sourceSize</key>
        <string>{77,88}</string>
      </dict>
      <key>hero_ani_11405_199.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,103},{62,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,71}}</string>
        <key>sourceSize</key>
        <string>{62,71}</string>
      </dict>
      <key>hero_ani_11405_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,116},{100,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,65}}</string>
        <key>sourceSize</key>
        <string>{100,65}</string>
      </dict>
      <key>hero_ani_11405_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,0},{100,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,65}}</string>
        <key>sourceSize</key>
        <string>{100,65}</string>
      </dict>
      <key>hero_ani_11405_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,49},{100,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,65}}</string>
        <key>sourceSize</key>
        <string>{100,65}</string>
      </dict>
      <key>hero_ani_11405_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,67},{100,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,65}}</string>
        <key>sourceSize</key>
        <string>{100,65}</string>
      </dict>
      <key>hero_ani_11405_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,209},{60,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,57}}</string>
        <key>sourceSize</key>
        <string>{60,57}</string>
      </dict>
      <key>hero_ani_11405_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,191},{60,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,57}}</string>
        <key>sourceSize</key>
        <string>{60,57}</string>
      </dict>
      <key>hero_ani_11405_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,250},{44,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,48}}</string>
        <key>sourceSize</key>
        <string>{44,48}</string>
      </dict>
      <key>hero_ani_11405_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{84,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,110}}</string>
        <key>sourceSize</key>
        <string>{84,110}</string>
      </dict>
      <key>hero_ani_11405_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,162},{26,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,7}}</string>
        <key>sourceSize</key>
        <string>{26,7}</string>
      </dict>
      <key>hero_ani_11405_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,274},{36,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,55}}</string>
        <key>sourceSize</key>
        <string>{36,55}</string>
      </dict>
      <key>hero_ani_11405_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,112},{63,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,64}}</string>
        <key>sourceSize</key>
        <string>{63,64}</string>
      </dict>
      <key>hero_ani_11405_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,171},{63,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,64}}</string>
        <key>sourceSize</key>
        <string>{63,64}</string>
      </dict>
      <key>hero_ani_11405_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,172},{63,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,64}}</string>
        <key>sourceSize</key>
        <string>{63,64}</string>
      </dict>
      <key>hero_ani_11405_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,172},{63,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,64}}</string>
        <key>sourceSize</key>
        <string>{63,64}</string>
      </dict>
      <key>hero_ani_11405_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,152},{63,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,64}}</string>
        <key>sourceSize</key>
        <string>{63,64}</string>
      </dict>
      <key>hero_ani_11405_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,103},{68,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,67}}</string>
        <key>sourceSize</key>
        <string>{68,67}</string>
      </dict>
      <key>hero_ani_11405_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,103},{68,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,67}}</string>
        <key>sourceSize</key>
        <string>{68,67}</string>
      </dict>
      <key>hero_ani_11405_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,103},{68,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,67}}</string>
        <key>sourceSize</key>
        <string>{68,67}</string>
      </dict>
      <key>hero_ani_11405_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11405_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,49},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>hero_ani_11405_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,133},{37,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,56}}</string>
        <key>sourceSize</key>
        <string>{37,56}</string>
      </dict>
      <key>hero_ani_11405_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,75},{37,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,56}}</string>
        <key>sourceSize</key>
        <string>{37,56}</string>
      </dict>
      <key>hero_ani_11405_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,239},{39,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,55}}</string>
        <key>sourceSize</key>
        <string>{39,55}</string>
      </dict>
      <key>hero_ani_11405_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,241},{39,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,55}}</string>
        <key>sourceSize</key>
        <string>{39,55}</string>
      </dict>
      <key>hero_ani_11405_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,238},{40,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,56}}</string>
        <key>sourceSize</key>
        <string>{40,56}</string>
      </dict>
      <key>hero_ani_11405_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,202},{42,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,56}}</string>
        <key>sourceSize</key>
        <string>{42,56}</string>
      </dict>
      <key>hero_ani_11405_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,183},{36,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,56}}</string>
        <key>sourceSize</key>
        <string>{36,56}</string>
      </dict>
      <key>hero_ani_11405_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,268},{36,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,55}}</string>
        <key>sourceSize</key>
        <string>{36,55}</string>
      </dict>
      <key>hero_ani_11405_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,230},{36,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,56}}</string>
        <key>sourceSize</key>
        <string>{36,56}</string>
      </dict>
      <key>hero_ani_11405_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{66,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,56}}</string>
        <key>sourceSize</key>
        <string>{66,56}</string>
      </dict>
      <key>hero_ani_11405_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,176},{66,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,57}}</string>
        <key>sourceSize</key>
        <string>{66,57}</string>
      </dict>
      <key>hero_ani_11405_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,235},{41,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,56}}</string>
        <key>sourceSize</key>
        <string>{41,56}</string>
      </dict>
      <key>hero_ani_11405_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,103},{76,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,66}}</string>
        <key>sourceSize</key>
        <string>{76,66}</string>
      </dict>
      <key>hero_ani_11405_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,239},{41,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,54}}</string>
        <key>sourceSize</key>
        <string>{41,54}</string>
      </dict>
      <key>hero_ani_11405_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,223},{41,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,57}}</string>
        <key>sourceSize</key>
        <string>{41,57}</string>
      </dict>
      <key>hero_ani_11405_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,250},{36,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,55}}</string>
        <key>sourceSize</key>
        <string>{36,55}</string>
      </dict>
      <key>hero_ani_11405_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,172},{36,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,56}}</string>
        <key>sourceSize</key>
        <string>{36,56}</string>
      </dict>
      <key>hero_ani_11405_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,260},{36,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,55}}</string>
        <key>sourceSize</key>
        <string>{36,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11405.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11405.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>