<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_18019_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,264},{20,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,23}}</string>
        <key>sourceSize</key>
        <string>{20,23}</string>
      </dict>
      <key>hero_ani_18019_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,264},{19,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,21}}</string>
        <key>sourceSize</key>
        <string>{19,21}</string>
      </dict>
      <key>hero_ani_18019_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18019_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,208},{46,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,62}}</string>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>hero_ani_18019_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,143},{48,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,65}}</string>
        <key>sourceSize</key>
        <string>{48,65}</string>
      </dict>
      <key>hero_ani_18019_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,73},{42,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,68}}</string>
        <key>sourceSize</key>
        <string>{42,68}</string>
      </dict>
      <key>hero_ani_18019_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{42,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,71}}</string>
        <key>sourceSize</key>
        <string>{42,71}</string>
      </dict>
      <key>hero_ani_18019_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,210},{38,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,63}}</string>
        <key>sourceSize</key>
        <string>{38,63}</string>
      </dict>
      <key>hero_ani_18019_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{74,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,74}}</string>
        <key>sourceSize</key>
        <string>{74,74}</string>
      </dict>
      <key>hero_ani_18019_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_18019_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18019_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18019_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,142},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18019_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18019_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,198},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18019_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,198},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18019_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18019_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,76},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18019_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_18019.png</string>
      <key>textureFileName</key>
      <string>hero_ani_18019.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>