<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11402_157.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,378},{95,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,42}}</string>
        <key>sourceSize</key>
        <string>{95,42}</string>
      </dict>
      <key>hero_ani_11402_223.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,444},{51,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,32}}</string>
        <key>sourceSize</key>
        <string>{51,32}</string>
      </dict>
      <key>hero_ani_11402_224.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,454},{43,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,11}}</string>
        <key>sourceSize</key>
        <string>{43,11}</string>
      </dict>
      <key>hero_ani_11402_1552.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,378},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11402_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,396},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11402_225.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,378},{43,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,52}}</string>
        <key>sourceSize</key>
        <string>{43,52}</string>
      </dict>
      <key>hero_ani_11402_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{109,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,187}}</string>
        <key>sourceSize</key>
        <string>{109,187}</string>
      </dict>
      <key>hero_ani_11402_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,189},{109,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,187}}</string>
        <key>sourceSize</key>
        <string>{109,187}</string>
      </dict>
      <key>hero_ani_11402_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,189},{109,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,187}}</string>
        <key>sourceSize</key>
        <string>{109,187}</string>
      </dict>
      <key>hero_ani_11402_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,189},{109,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,187}}</string>
        <key>sourceSize</key>
        <string>{109,187}</string>
      </dict>
      <key>hero_ani_11402_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{109,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,187}}</string>
        <key>sourceSize</key>
        <string>{109,187}</string>
      </dict>
      <key>hero_ani_11402_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{109,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,187}}</string>
        <key>sourceSize</key>
        <string>{109,187}</string>
      </dict>
      <key>hero_ani_11402_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,189},{109,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,187}}</string>
        <key>sourceSize</key>
        <string>{109,187}</string>
      </dict>
      <key>hero_ani_11402_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,378},{109,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,187}}</string>
        <key>sourceSize</key>
        <string>{109,187}</string>
      </dict>
      <key>hero_ani_11402_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,0},{109,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,187}}</string>
        <key>sourceSize</key>
        <string>{109,187}</string>
      </dict>
      <key>hero_ani_11402_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,378},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11402_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,378},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11402_158.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,378},{5,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,5}}</string>
        <key>sourceSize</key>
        <string>{5,5}</string>
      </dict>
      <key>hero_ani_11402_950.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,416},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>hero_ani_11402_952.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,432},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>hero_ani_11402_951.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,378},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>hero_ani_11402_953.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,422},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>hero_ani_11402_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,378},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11402_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11402_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,422},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11402_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,330},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11402_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,198},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11402_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11402_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,444},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11402_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,264},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11402_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,378},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11402_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11402.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11402.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>