<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11420_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,235},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11420_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,0},{23,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,123}}</string>
        <key>sourceSize</key>
        <string>{23,123}</string>
      </dict>
      <key>hero_ani_11420_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,163},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>hero_ani_11420_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,23},{139,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>hero_ani_11420_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,185},{93,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>hero_ani_11420_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{375,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,21}}</string>
        <key>sourceSize</key>
        <string>{375,21}</string>
      </dict>
      <key>hero_ani_11420_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,23},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11420_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,140},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11420_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,268},{27,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,18}}</string>
        <key>sourceSize</key>
        <string>{27,18}</string>
      </dict>
      <key>hero_ani_11420_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,270},{28,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,19}}</string>
        <key>sourceSize</key>
        <string>{28,19}</string>
      </dict>
      <key>hero_ani_11420_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,272},{28,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,17}}</string>
        <key>sourceSize</key>
        <string>{28,17}</string>
      </dict>
      <key>hero_ani_11420_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,272},{28,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,19}}</string>
        <key>sourceSize</key>
        <string>{28,19}</string>
      </dict>
      <key>hero_ani_11420_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,147},{14,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,5}}</string>
        <key>sourceSize</key>
        <string>{14,5}</string>
      </dict>
      <key>hero_ani_11420_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,160},{12,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,4}}</string>
        <key>sourceSize</key>
        <string>{12,4}</string>
      </dict>
      <key>hero_ani_11420_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,140},{14,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,5}}</string>
        <key>sourceSize</key>
        <string>{14,5}</string>
      </dict>
      <key>hero_ani_11420_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,154},{12,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,4}}</string>
        <key>sourceSize</key>
        <string>{12,4}</string>
      </dict>
      <key>hero_ani_11420_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,213},{44,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,54}}</string>
        <key>sourceSize</key>
        <string>{44,54}</string>
      </dict>
      <key>hero_ani_11420_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,162},{114,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,54}}</string>
        <key>sourceSize</key>
        <string>{114,54}</string>
      </dict>
      <key>hero_ani_11420_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,89},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>hero_ani_11420_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,84},{139,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,76}}</string>
        <key>sourceSize</key>
        <string>{139,76}</string>
      </dict>
      <key>hero_ani_11420_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,107},{139,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,76}}</string>
        <key>sourceSize</key>
        <string>{139,76}</string>
      </dict>
      <key>hero_ani_11420_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,84},{139,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,76}}</string>
        <key>sourceSize</key>
        <string>{139,76}</string>
      </dict>
      <key>hero_ani_11420_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,221},{47,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>hero_ani_11420_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,219},{47,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>hero_ani_11420_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,219},{47,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>hero_ani_11420_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,235},{47,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>hero_ani_11420_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{210,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,82}}</string>
        <key>sourceSize</key>
        <string>{210,82}</string>
      </dict>
      <key>hero_ani_11420_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,0},{195,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,82}}</string>
        <key>sourceSize</key>
        <string>{195,82}</string>
      </dict>
      <key>hero_ani_11420_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,0},{175,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,82}}</string>
        <key>sourceSize</key>
        <string>{175,82}</string>
      </dict>
      <key>hero_ani_11420_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,23},{158,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,82}}</string>
        <key>sourceSize</key>
        <string>{158,82}</string>
      </dict>
      <key>hero_ani_11420_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,84},{136,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,104}}</string>
        <key>sourceSize</key>
        <string>{136,104}</string>
      </dict>
      <key>hero_ani_11420_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{112,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,101}}</string>
        <key>sourceSize</key>
        <string>{112,101}</string>
      </dict>
      <key>hero_ani_11420_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,162},{99,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,95}}</string>
        <key>sourceSize</key>
        <string>{99,95}</string>
      </dict>
      <key>hero_ani_11420_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,84},{82,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,77}}</string>
        <key>sourceSize</key>
        <string>{82,77}</string>
      </dict>
      <key>hero_ani_11420_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,0},{25,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,56}}</string>
        <key>sourceSize</key>
        <string>{25,56}</string>
      </dict>
      <key>hero_ani_11420_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,269},{43,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,21}}</string>
        <key>sourceSize</key>
        <string>{43,21}</string>
      </dict>
      <key>hero_ani_11420_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,213},{47,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,52}}</string>
        <key>sourceSize</key>
        <string>{47,52}</string>
      </dict>
      <key>hero_ani_11420_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,218},{47,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,52}}</string>
        <key>sourceSize</key>
        <string>{47,52}</string>
      </dict>
      <key>hero_ani_11420_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,218},{47,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,52}}</string>
        <key>sourceSize</key>
        <string>{47,52}</string>
      </dict>
      <key>hero_ani_11420_199.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,107},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11420_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,23},{8,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,21}}</string>
        <key>sourceSize</key>
        <string>{8,21}</string>
      </dict>
      <key>hero_ani_11420_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,190},{90,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,27}}</string>
        <key>sourceSize</key>
        <string>{90,27}</string>
      </dict>
      <key>hero_ani_11420_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,255},{45,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,33}}</string>
        <key>sourceSize</key>
        <string>{45,33}</string>
      </dict>
      <key>hero_ani_11420_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,246},{46,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,33}}</string>
        <key>sourceSize</key>
        <string>{46,33}</string>
      </dict>
      <key>hero_ani_11420_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,196},{47,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,57}}</string>
        <key>sourceSize</key>
        <string>{47,57}</string>
      </dict>
      <key>hero_ani_11420_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,84},{33,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,38}}</string>
        <key>sourceSize</key>
        <string>{33,38}</string>
      </dict>
      <key>hero_ani_11420_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,261},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>hero_ani_11420_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,259},{38,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,35}}</string>
        <key>sourceSize</key>
        <string>{38,35}</string>
      </dict>
      <key>hero_ani_11420_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,267},{38,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,35}}</string>
        <key>sourceSize</key>
        <string>{38,35}</string>
      </dict>
      <key>hero_ani_11420_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,199},{38,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,35}}</string>
        <key>sourceSize</key>
        <string>{38,35}</string>
      </dict>
      <key>hero_ani_11420_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,236},{38,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,35}}</string>
        <key>sourceSize</key>
        <string>{38,35}</string>
      </dict>
      <key>hero_ani_11420_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,162},{38,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,35}}</string>
        <key>sourceSize</key>
        <string>{38,35}</string>
      </dict>
      <key>hero_ani_11420_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,237},{40,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,47}}</string>
        <key>sourceSize</key>
        <string>{40,47}</string>
      </dict>
      <key>hero_ani_11420_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,237},{40,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,47}}</string>
        <key>sourceSize</key>
        <string>{40,47}</string>
      </dict>
      <key>hero_ani_11420_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,185},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11420_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,190},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11420_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,84},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11420_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,165},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11420_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,146},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11420_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,268},{38,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,32}}</string>
        <key>sourceSize</key>
        <string>{38,32}</string>
      </dict>
      <key>hero_ani_11420_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,268},{37,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,32}}</string>
        <key>sourceSize</key>
        <string>{37,32}</string>
      </dict>
      <key>hero_ani_11420_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11420_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11420_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,202},{48,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,51}}</string>
        <key>sourceSize</key>
        <string>{48,51}</string>
      </dict>
      <key>hero_ani_11420_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,164},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_11420_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,125},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_11420_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,132},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>hero_ani_11420_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,171},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>hero_ani_11420_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,210},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>hero_ani_11420_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,259},{40,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,37}}</string>
        <key>sourceSize</key>
        <string>{40,37}</string>
      </dict>
      <key>hero_ani_11420_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,259},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>hero_ani_11420_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,124},{29,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,39}}</string>
        <key>sourceSize</key>
        <string>{29,39}</string>
      </dict>
      <key>hero_ani_11420_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,221},{29,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,38}}</string>
        <key>sourceSize</key>
        <string>{29,38}</string>
      </dict>
      <key>hero_ani_11420_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,139},{29,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,39}}</string>
        <key>sourceSize</key>
        <string>{29,39}</string>
      </dict>
      <key>hero_ani_11420_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,241},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11420_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,203},{27,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,37}}</string>
        <key>sourceSize</key>
        <string>{27,37}</string>
      </dict>
      <key>hero_ani_11420_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,255},{42,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,37}}</string>
        <key>sourceSize</key>
        <string>{42,37}</string>
      </dict>
      <key>hero_ani_11420_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,249},{42,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,37}}</string>
        <key>sourceSize</key>
        <string>{42,37}</string>
      </dict>
      <key>hero_ani_11420_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,242},{27,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,37}}</string>
        <key>sourceSize</key>
        <string>{27,37}</string>
      </dict>
      <key>hero_ani_11420_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,180},{30,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,37}}</string>
        <key>sourceSize</key>
        <string>{30,37}</string>
      </dict>
      <key>hero_ani_11420_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,219},{29,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,38}}</string>
        <key>sourceSize</key>
        <string>{29,38}</string>
      </dict>
      <key>hero_ani_11420_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,98},{29,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,39}}</string>
        <key>sourceSize</key>
        <string>{29,39}</string>
      </dict>
      <key>hero_ani_11420_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,58},{33,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,38}}</string>
        <key>sourceSize</key>
        <string>{33,38}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11420.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11420.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>