<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_cart_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,68},{4,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,3}}</string>
        <key>sourceSize</key>
        <string>{4,3}</string>
      </dict>
      <key>hero_ani_cart_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,68},{4,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,3}}</string>
        <key>sourceSize</key>
        <string>{4,3}</string>
      </dict>
      <key>hero_ani_cart_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>hero_ani_cart_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,34},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>hero_ani_cart_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{72,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,59}}</string>
        <key>sourceSize</key>
        <string>{72,59}</string>
      </dict>
      <key>hero_ani_cart_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,59}}</string>
        <key>sourceSize</key>
        <string>{72,59}</string>
      </dict>
      <key>hero_ani_cart_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,61},{72,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,59}}</string>
        <key>sourceSize</key>
        <string>{72,59}</string>
      </dict>
      <key>hero_ani_cart_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,61},{72,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,59}}</string>
        <key>sourceSize</key>
        <string>{72,59}</string>
      </dict>
      <key>hero_ani_cart_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,61},{72,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,59}}</string>
        <key>sourceSize</key>
        <string>{72,59}</string>
      </dict>
      <key>hero_ani_cart_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{72,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,59}}</string>
        <key>sourceSize</key>
        <string>{72,59}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_cart.png</string>
      <key>textureFileName</key>
      <string>hero_ani_cart.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>