<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11299_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,298},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11299_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,23},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11299_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,23},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11299_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{207,427},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11299_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,421},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11299_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11299_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,130},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11299_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{316,281},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11299_198.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,262},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11299_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{101,153},{26,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,63}}</string>
    <key>sourceSize</key>
    <string>{26,63}</string>
   </dict>
   <key>hero_ani_11299_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,351},{31,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,34}}</string>
    <key>sourceSize</key>
    <string>{31,34}</string>
   </dict>
   <key>hero_ani_11299_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{474,355},{31,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,34}}</string>
    <key>sourceSize</key>
    <string>{31,34}</string>
   </dict>
   <key>hero_ani_11299_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{441,355},{31,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,34}}</string>
    <key>sourceSize</key>
    <string>{31,34}</string>
   </dict>
   <key>hero_ani_11299_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{443,319},{52,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,34}}</string>
    <key>sourceSize</key>
    <string>{52,34}</string>
   </dict>
   <key>hero_ani_11299_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,337},{52,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,34}}</string>
    <key>sourceSize</key>
    <string>{52,34}</string>
   </dict>
   <key>hero_ani_11299_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,315},{52,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,34}}</string>
    <key>sourceSize</key>
    <string>{52,34}</string>
   </dict>
   <key>hero_ani_11299_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,228},{60,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,64}}</string>
    <key>sourceSize</key>
    <string>{60,64}</string>
   </dict>
   <key>hero_ani_11299_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,196},{60,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,64}}</string>
    <key>sourceSize</key>
    <string>{60,64}</string>
   </dict>
   <key>hero_ani_11299_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,232},{60,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,64}}</string>
    <key>sourceSize</key>
    <string>{60,64}</string>
   </dict>
   <key>hero_ani_11299_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,130},{68,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,77}}</string>
    <key>sourceSize</key>
    <string>{68,77}</string>
   </dict>
   <key>hero_ani_11299_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,153},{68,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,77}}</string>
    <key>sourceSize</key>
    <string>{68,77}</string>
   </dict>
   <key>hero_ani_11299_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,97},{68,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,77}}</string>
    <key>sourceSize</key>
    <string>{68,77}</string>
   </dict>
   <key>hero_ani_11299_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,148},{29,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,90}}</string>
    <key>sourceSize</key>
    <string>{29,90}</string>
   </dict>
   <key>hero_ani_11299_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{191,245},{34,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,62}}</string>
    <key>sourceSize</key>
    <string>{34,62}</string>
   </dict>
   <key>hero_ani_11299_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{70,153},{29,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,90}}</string>
    <key>sourceSize</key>
    <string>{29,90}</string>
   </dict>
   <key>hero_ani_11299_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{62,245},{34,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,62}}</string>
    <key>sourceSize</key>
    <string>{34,62}</string>
   </dict>
   <key>hero_ani_11299_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{200,153},{29,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,90}}</string>
    <key>sourceSize</key>
    <string>{29,90}</string>
   </dict>
   <key>hero_ani_11299_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,284},{34,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,62}}</string>
    <key>sourceSize</key>
    <string>{34,62}</string>
   </dict>
   <key>hero_ani_11299_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{386,411},{82,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,38}}</string>
    <key>sourceSize</key>
    <string>{82,38}</string>
   </dict>
   <key>hero_ani_11299_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{123,407},{82,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,38}}</string>
    <key>sourceSize</key>
    <string>{82,38}</string>
   </dict>
   <key>hero_ani_11299_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{220,387},{82,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,38}}</string>
    <key>sourceSize</key>
    <string>{82,38}</string>
   </dict>
   <key>hero_ani_11299_110.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,83},{12,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,58}}</string>
    <key>sourceSize</key>
    <string>{12,58}</string>
   </dict>
   <key>hero_ani_11299_109.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,23},{12,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,58}}</string>
    <key>sourceSize</key>
    <string>{12,58}</string>
   </dict>
   <key>hero_ani_11299_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,143},{12,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,58}}</string>
    <key>sourceSize</key>
    <string>{12,58}</string>
   </dict>
   <key>hero_ani_11299_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{361,203},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11299_118.png</key>
   <dict>
    <key>frame</key>
    <string>{{361,236},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11299_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{98,300},{29,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,38}}</string>
    <key>sourceSize</key>
    <string>{29,38}</string>
   </dict>
   <key>hero_ani_11299_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{39,346},{36,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,39}}</string>
    <key>sourceSize</key>
    <string>{36,39}</string>
   </dict>
   <key>hero_ani_11299_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{46,309},{44,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,35}}</string>
    <key>sourceSize</key>
    <string>{44,35}</string>
   </dict>
   <key>hero_ani_11299_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{92,340},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11299_122.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,251},{55,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,62}}</string>
    <key>sourceSize</key>
    <string>{55,62}</string>
   </dict>
   <key>hero_ani_11299_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{159,390},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{309,373},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,390},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{345,405},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,404},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{41,398},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,387},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,381},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{399,377},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,407},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,394},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,403},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{440,391},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,388},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{118,386},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11299_554.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,294},{44,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,50}}</string>
    <key>sourceSize</key>
    <string>{44,50}</string>
   </dict>
   <key>hero_ani_11299_120.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,447},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11299_104.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,176},{69,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,73}}</string>
    <key>sourceSize</key>
    <string>{69,73}</string>
   </dict>
   <key>hero_ani_11299_103.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,153},{69,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,73}}</string>
    <key>sourceSize</key>
    <string>{69,73}</string>
   </dict>
   <key>hero_ani_11299_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{373,209},{69,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,73}}</string>
    <key>sourceSize</key>
    <string>{69,73}</string>
   </dict>
   <key>hero_ani_11299_106.png</key>
   <dict>
    <key>frame</key>
    <string>{{130,23},{128,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,128}}</string>
    <key>sourceSize</key>
    <string>{128,128}</string>
   </dict>
   <key>hero_ani_11299_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{128,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,128}}</string>
    <key>sourceSize</key>
    <string>{128,128}</string>
   </dict>
   <key>hero_ani_11299_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{128,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,128}}</string>
    <key>sourceSize</key>
    <string>{128,128}</string>
   </dict>
   <key>hero_ani_11299_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{292,351},{15,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,27}}</string>
    <key>sourceSize</key>
    <string>{15,27}</string>
   </dict>
   <key>hero_ani_11299_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,294},{14,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,41}}</string>
    <key>sourceSize</key>
    <string>{14,41}</string>
   </dict>
   <key>hero_ani_11299_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{231,153},{26,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,52}}</string>
    <key>sourceSize</key>
    <string>{26,52}</string>
   </dict>
   <key>hero_ani_11299_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{408,284},{33,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,51}}</string>
    <key>sourceSize</key>
    <string>{33,51}</string>
   </dict>
   <key>hero_ani_11299_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{507,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11299_117.png</key>
   <dict>
    <key>frame</key>
    <string>{{507,3},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11299_115.png</key>
   <dict>
    <key>frame</key>
    <string>{{227,288},{30,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,38}}</string>
    <key>sourceSize</key>
    <string>{30,38}</string>
   </dict>
   <key>hero_ani_11299_114.png</key>
   <dict>
    <key>frame</key>
    <string>{{227,248},{30,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,38}}</string>
    <key>sourceSize</key>
    <string>{30,38}</string>
   </dict>
   <key>hero_ani_11299_113.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,346},{30,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,38}}</string>
    <key>sourceSize</key>
    <string>{30,38}</string>
   </dict>
   <key>hero_ani_11299_112.png</key>
   <dict>
    <key>frame</key>
    <string>{{367,348},{30,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,38}}</string>
    <key>sourceSize</key>
    <string>{30,38}</string>
   </dict>
   <key>hero_ani_11299_116.png</key>
   <dict>
    <key>frame</key>
    <string>{{191,309},{33,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,39}}</string>
    <key>sourceSize</key>
    <string>{33,39}</string>
   </dict>
   <key>hero_ani_11299_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{98,259},{29,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,39}}</string>
    <key>sourceSize</key>
    <string>{29,39}</string>
   </dict>
   <key>hero_ani_11299_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{161,346},{26,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,39}}</string>
    <key>sourceSize</key>
    <string>{26,39}</string>
   </dict>
   <key>hero_ani_11299_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{408,337},{31,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,38}}</string>
    <key>sourceSize</key>
    <string>{31,38}</string>
   </dict>
   <key>hero_ani_11299_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{101,218},{26,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,39}}</string>
    <key>sourceSize</key>
    <string>{26,39}</string>
   </dict>
   <key>hero_ani_11299_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,344},{37,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,38}}</string>
    <key>sourceSize</key>
    <string>{37,38}</string>
   </dict>
   <key>hero_ani_11299_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,240},{29,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,39}}</string>
    <key>sourceSize</key>
    <string>{29,39}</string>
   </dict>
   <key>hero_ani_11299_119.png</key>
   <dict>
    <key>frame</key>
    <string>{{226,328},{31,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,38}}</string>
    <key>sourceSize</key>
    <string>{31,38}</string>
   </dict>
   <key>hero_ani_11299_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{231,207},{26,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,39}}</string>
    <key>sourceSize</key>
    <string>{26,39}</string>
   </dict>
   <key>hero_ani_11299_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{189,350},{29,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,38}}</string>
    <key>sourceSize</key>
    <string>{29,38}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11299.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11299.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>