<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11032_1888.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,463},{12,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,12}}</string>
    <key>sourceSize</key>
    <string>{12,12}</string>
   </dict>
   <key>hero_ani_11032_122.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,427},{17,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,17}}</string>
    <key>sourceSize</key>
    <string>{17,17}</string>
   </dict>
   <key>hero_ani_11032_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,403},{22,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,22}}</string>
    <key>sourceSize</key>
    <string>{22,22}</string>
   </dict>
   <key>hero_ani_11032_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{160,410},{50,214}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,214}}</string>
    <key>sourceSize</key>
    <string>{50,214}</string>
   </dict>
   <key>hero_ani_11032_121.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,0},{260,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{260,192}}</string>
    <key>sourceSize</key>
    <string>{260,192}</string>
   </dict>
   <key>hero_ani_11032_120.png</key>
   <dict>
    <key>frame</key>
    <string>{{532,0},{260,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{260,192}}</string>
    <key>sourceSize</key>
    <string>{260,192}</string>
   </dict>
   <key>hero_ani_11032_119.png</key>
   <dict>
    <key>frame</key>
    <string>{{532,194},{260,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{260,192}}</string>
    <key>sourceSize</key>
    <string>{260,192}</string>
   </dict>
   <key>hero_ani_11032_118.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,216},{260,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{260,192}}</string>
    <key>sourceSize</key>
    <string>{260,192}</string>
   </dict>
   <key>hero_ani_11032_117.png</key>
   <dict>
    <key>frame</key>
    <string>{{262,388},{260,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{260,192}}</string>
    <key>sourceSize</key>
    <string>{260,192}</string>
   </dict>
   <key>hero_ani_11032_116.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,194},{260,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{260,192}}</string>
    <key>sourceSize</key>
    <string>{260,192}</string>
   </dict>
   <key>hero_ani_11032_115.png</key>
   <dict>
    <key>frame</key>
    <string>{{794,0},{215,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{215,159}}</string>
    <key>sourceSize</key>
    <string>{215,159}</string>
   </dict>
   <key>hero_ani_11032_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{794,339},{169,162}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{169,162}}</string>
    <key>sourceSize</key>
    <string>{169,162}</string>
   </dict>
   <key>hero_ani_11032_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{268,214}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{268,214}}</string>
    <key>sourceSize</key>
    <string>{268,214}</string>
   </dict>
   <key>hero_ani_11032_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{524,388},{236,204}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{236,204}}</string>
    <key>sourceSize</key>
    <string>{236,204}</string>
   </dict>
   <key>hero_ani_11032_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{794,161},{198,176}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{198,176}}</string>
    <key>sourceSize</key>
    <string>{198,176}</string>
   </dict>
   <key>hero_ani_11032_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{794,503},{150,154}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,154}}</string>
    <key>sourceSize</key>
    <string>{150,154}</string>
   </dict>
   <key>hero_ani_11032_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,339},{22,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,29}}</string>
    <key>sourceSize</key>
    <string>{22,29}</string>
   </dict>
   <key>hero_ani_11032_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{208,654},{50,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,50}}</string>
    <key>sourceSize</key>
    <string>{50,50}</string>
   </dict>
   <key>hero_ani_11032_114.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,370},{17,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,31}}</string>
    <key>sourceSize</key>
    <string>{17,31}</string>
   </dict>
   <key>hero_ani_11032_113.png</key>
   <dict>
    <key>frame</key>
    <string>{{982,462},{40,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,46}}</string>
    <key>sourceSize</key>
    <string>{40,46}</string>
   </dict>
   <key>hero_ani_11032_112.png</key>
   <dict>
    <key>frame</key>
    <string>{{512,774},{60,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,54}}</string>
    <key>sourceSize</key>
    <string>{60,54}</string>
   </dict>
   <key>hero_ani_11032_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,764},{82,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,64}}</string>
    <key>sourceSize</key>
    <string>{82,64}</string>
   </dict>
   <key>hero_ani_11032_110.png</key>
   <dict>
    <key>frame</key>
    <string>{{596,773},{86,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,68}}</string>
    <key>sourceSize</key>
    <string>{86,68}</string>
   </dict>
   <key>hero_ani_11032_109.png</key>
   <dict>
    <key>frame</key>
    <string>{{344,830},{88,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,58}}</string>
    <key>sourceSize</key>
    <string>{88,58}</string>
   </dict>
   <key>hero_ani_11032_108.png</key>
   <dict>
    <key>frame</key>
    <string>{{154,626},{52,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,54}}</string>
    <key>sourceSize</key>
    <string>{52,54}</string>
   </dict>
   <key>hero_ani_11032_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{703,735},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,59}}</string>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>hero_ani_11032_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{872,731},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,59}}</string>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>hero_ani_11032_1451.png</key>
   <dict>
    <key>frame</key>
    <string>{{94,570},{58,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,83}}</string>
    <key>sourceSize</key>
    <string>{58,83}</string>
   </dict>
   <key>hero_ani_11032_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,582},{169,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{169,94}}</string>
    <key>sourceSize</key>
    <string>{169,94}</string>
   </dict>
   <key>hero_ani_11032_1982.png</key>
   <dict>
    <key>frame</key>
    <string>{{1011,0},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11032_107.png</key>
   <dict>
    <key>frame</key>
    <string>{{86,780},{52,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,13}}</string>
    <key>sourceSize</key>
    <string>{52,13}</string>
   </dict>
   <key>hero_ani_11032_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{764,755},{82,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,82}}</string>
    <key>sourceSize</key>
    <string>{82,82}</string>
   </dict>
   <key>hero_ani_11032_144.png</key>
   <dict>
    <key>frame</key>
    <string>{{512,690},{82,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,82}}</string>
    <key>sourceSize</key>
    <string>{82,82}</string>
   </dict>
   <key>hero_ani_11032_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{619,594},{93,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,93}}</string>
    <key>sourceSize</key>
    <string>{93,93}</string>
   </dict>
   <key>hero_ani_11032_125.png</key>
   <dict>
    <key>frame</key>
    <string>{{933,788},{84,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,68}}</string>
    <key>sourceSize</key>
    <string>{84,68}</string>
   </dict>
   <key>hero_ani_11032_124.png</key>
   <dict>
    <key>frame</key>
    <string>{{348,752},{78,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,68}}</string>
    <key>sourceSize</key>
    <string>{78,68}</string>
   </dict>
   <key>hero_ani_11032_123.png</key>
   <dict>
    <key>frame</key>
    <string>{{348,678},{78,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,72}}</string>
    <key>sourceSize</key>
    <string>{78,72}</string>
   </dict>
   <key>hero_ani_11032_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,642},{30,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,50}}</string>
    <key>sourceSize</key>
    <string>{30,50}</string>
   </dict>
   <key>hero_ani_11032_130.png</key>
   <dict>
    <key>frame</key>
    <string>{{86,715},{65,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,63}}</string>
    <key>sourceSize</key>
    <string>{65,63}</string>
   </dict>
   <key>hero_ani_11032_129.png</key>
   <dict>
    <key>frame</key>
    <string>{{153,773},{83,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,76}}</string>
    <key>sourceSize</key>
    <string>{83,76}</string>
   </dict>
   <key>hero_ani_11032_128.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,678},{86,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,80}}</string>
    <key>sourceSize</key>
    <string>{86,80}</string>
   </dict>
   <key>hero_ani_11032_127.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,762},{84,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,78}}</string>
    <key>sourceSize</key>
    <string>{84,78}</string>
   </dict>
   <key>hero_ani_11032_126.png</key>
   <dict>
    <key>frame</key>
    <string>{{944,715},{78,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,71}}</string>
    <key>sourceSize</key>
    <string>{78,71}</string>
   </dict>
   <key>hero_ani_11032_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,410},{158,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{158,158}}</string>
    <key>sourceSize</key>
    <string>{158,158}</string>
   </dict>
   <key>hero_ani_11032_139.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,161},{27,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,47}}</string>
    <key>sourceSize</key>
    <string>{27,47}</string>
   </dict>
   <key>hero_ani_11032_138.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,670},{84,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,90}}</string>
    <key>sourceSize</key>
    <string>{84,90}</string>
   </dict>
   <key>hero_ani_11032_137.png</key>
   <dict>
    <key>frame</key>
    <string>{{431,582},{90,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,96}}</string>
    <key>sourceSize</key>
    <string>{90,96}</string>
   </dict>
   <key>hero_ani_11032_136.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,570},{92,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,98}}</string>
    <key>sourceSize</key>
    <string>{92,98}</string>
   </dict>
   <key>hero_ani_11032_135.png</key>
   <dict>
    <key>frame</key>
    <string>{{778,659},{92,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,94}}</string>
    <key>sourceSize</key>
    <string>{92,94}</string>
   </dict>
   <key>hero_ani_11032_134.png</key>
   <dict>
    <key>frame</key>
    <string>{{523,594},{94,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,94}}</string>
    <key>sourceSize</key>
    <string>{94,94}</string>
   </dict>
   <key>hero_ani_11032_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{703,694},{32,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,32}}</string>
    <key>sourceSize</key>
    <string>{32,32}</string>
   </dict>
   <key>hero_ani_11032_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{154,682},{43,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,23}}</string>
    <key>sourceSize</key>
    <string>{43,23}</string>
   </dict>
   <key>hero_ani_11032_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{434,843},{339,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{339,4}}</string>
    <key>sourceSize</key>
    <string>{339,4}</string>
   </dict>
   <key>hero_ani_11032_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,210},{22,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,38}}</string>
    <key>sourceSize</key>
    <string>{22,38}</string>
   </dict>
   <key>hero_ani_11032_106.png</key>
   <dict>
    <key>frame</key>
    <string>{{872,659},{70,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,70}}</string>
    <key>sourceSize</key>
    <string>{70,70}</string>
   </dict>
   <key>hero_ani_11032_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{94,655},{58,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,58}}</string>
    <key>sourceSize</key>
    <string>{58,58}</string>
   </dict>
   <key>hero_ani_11032_103.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,680},{82,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,82}}</string>
    <key>sourceSize</key>
    <string>{82,82}</string>
   </dict>
   <key>hero_ani_11032_143.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,250},{26,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,33}}</string>
    <key>sourceSize</key>
    <string>{26,33}</string>
   </dict>
   <key>hero_ani_11032_142.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,285},{26,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,33}}</string>
    <key>sourceSize</key>
    <string>{26,33}</string>
   </dict>
   <key>hero_ani_11032_141.png</key>
   <dict>
    <key>frame</key>
    <string>{{737,700},{30,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,33}}</string>
    <key>sourceSize</key>
    <string>{30,33}</string>
   </dict>
   <key>hero_ani_11032_140.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,320},{26,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,32}}</string>
    <key>sourceSize</key>
    <string>{26,32}</string>
   </dict>
   <key>hero_ani_11032_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,446},{15,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,15}}</string>
    <key>sourceSize</key>
    <string>{15,15}</string>
   </dict>
   <key>hero_ani_11032_145.png</key>
   <dict>
    <key>frame</key>
    <string>{{1015,33},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11032_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{980,564},{32,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,52}}</string>
    <key>sourceSize</key>
    <string>{32,52}</string>
   </dict>
   <key>hero_ani_11032_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{989,354},{32,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,52}}</string>
    <key>sourceSize</key>
    <string>{32,52}</string>
   </dict>
   <key>hero_ani_11032_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{980,510},{32,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,52}}</string>
    <key>sourceSize</key>
    <string>{32,52}</string>
   </dict>
   <key>hero_ani_11032_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{946,503},{32,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,52}}</string>
    <key>sourceSize</key>
    <string>{32,52}</string>
   </dict>
   <key>hero_ani_11032_1452.png</key>
   <dict>
    <key>frame</key>
    <string>{{979,618},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,40}}</string>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>hero_ani_11032_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{989,408},{32,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,52}}</string>
    <key>sourceSize</key>
    <string>{32,52}</string>
   </dict>
   <key>hero_ani_11032_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{946,557},{32,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,52}}</string>
    <key>sourceSize</key>
    <string>{32,52}</string>
   </dict>
   <key>hero_ani_11032_18882.png</key>
   <dict>
    <key>frame</key>
    <string>{{199,706},{59,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,65}}</string>
    <key>sourceSize</key>
    <string>{59,65}</string>
   </dict>
   <key>hero_ani_11032_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{944,663},{30,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,50}}</string>
    <key>sourceSize</key>
    <string>{30,50}</string>
   </dict>
   <key>hero_ani_11032_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{979,660},{30,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,50}}</string>
    <key>sourceSize</key>
    <string>{30,50}</string>
   </dict>
   <key>hero_ani_11032_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{762,596},{30,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,50}}</string>
    <key>sourceSize</key>
    <string>{30,50}</string>
   </dict>
   <key>hero_ani_11032_104.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,760},{82,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,82}}</string>
    <key>sourceSize</key>
    <string>{82,82}</string>
   </dict>
   <key>hero_ani_11032_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{619,689},{82,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,82}}</string>
    <key>sourceSize</key>
    <string>{82,82}</string>
   </dict>
   <key>hero_ani_11032_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{762,440},{30,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,50}}</string>
    <key>sourceSize</key>
    <string>{30,50}</string>
   </dict>
   <key>hero_ani_11032_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,602},{33,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,50}}</string>
    <key>sourceSize</key>
    <string>{33,50}</string>
   </dict>
   <key>hero_ani_11032_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{946,611},{31,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,50}}</string>
    <key>sourceSize</key>
    <string>{31,50}</string>
   </dict>
   <key>hero_ani_11032_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{762,388},{30,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,50}}</string>
    <key>sourceSize</key>
    <string>{30,50}</string>
   </dict>
   <key>hero_ani_11032_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{746,648},{30,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,50}}</string>
    <key>sourceSize</key>
    <string>{30,50}</string>
   </dict>
   <key>hero_ani_11032_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{762,544},{30,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,50}}</string>
    <key>sourceSize</key>
    <string>{30,50}</string>
   </dict>
   <key>hero_ani_11032_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{762,492},{30,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,50}}</string>
    <key>sourceSize</key>
    <string>{30,50}</string>
   </dict>
   <key>hero_ani_11032_1102.png</key>
   <dict>
    <key>frame</key>
    <string>{{1011,33},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11032_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,410},{46,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,46}}</string>
    <key>sourceSize</key>
    <string>{46,46}</string>
   </dict>
   <key>hero_ani_11032_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,506},{46,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,46}}</string>
    <key>sourceSize</key>
    <string>{46,46}</string>
   </dict>
   <key>hero_ani_11032_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,554},{46,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,46}}</string>
    <key>sourceSize</key>
    <string>{46,46}</string>
   </dict>
   <key>hero_ani_11032_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,458},{46,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,46}}</string>
    <key>sourceSize</key>
    <string>{46,46}</string>
   </dict>
   <key>hero_ani_11032_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,594},{46,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,46}}</string>
    <key>sourceSize</key>
    <string>{46,46}</string>
   </dict>
   <key>hero_ani_11032_1172.png</key>
   <dict>
    <key>frame</key>
    <string>{{154,707},{43,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,14}}</string>
    <key>sourceSize</key>
    <string>{43,14}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11032.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11032.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>