<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_18010_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,217},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
      <key>hero_ani_18010_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,143},{103,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,35}}</string>
        <key>sourceSize</key>
        <string>{103,35}</string>
      </dict>
      <key>hero_ani_18010_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,73},{132,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,44}}</string>
        <key>sourceSize</key>
        <string>{132,44}</string>
      </dict>
      <key>hero_ani_18010_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{135,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,71}}</string>
        <key>sourceSize</key>
        <string>{135,71}</string>
      </dict>
      <key>hero_ani_18010_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{113,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,79}}</string>
        <key>sourceSize</key>
        <string>{113,79}</string>
      </dict>
      <key>hero_ani_18010_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{91,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,65}}</string>
        <key>sourceSize</key>
        <string>{91,65}</string>
      </dict>
      <key>hero_ani_18010_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,180},{103,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,35}}</string>
        <key>sourceSize</key>
        <string>{103,35}</string>
      </dict>
      <key>hero_ani_18010_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{25,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,49}}</string>
        <key>sourceSize</key>
        <string>{25,49}</string>
      </dict>
      <key>hero_ani_18010_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,119},{39,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,81}}</string>
        <key>sourceSize</key>
        <string>{39,81}</string>
      </dict>
      <key>hero_ani_18010_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,81},{102,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,60}}</string>
        <key>sourceSize</key>
        <string>{102,60}</string>
      </dict>
      <key>hero_ani_18010_391.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_18010_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,186},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_18010_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,186},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>hero_ani_18010_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,217},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>hero_ani_18010_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,237},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
      <key>hero_ani_18010_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,217},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>hero_ani_18010_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,217},{28,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,33}}</string>
        <key>sourceSize</key>
        <string>{28,33}</string>
      </dict>
      <key>hero_ani_18010_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,202},{27,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,36}}</string>
        <key>sourceSize</key>
        <string>{27,36}</string>
      </dict>
      <key>hero_ani_18010_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,224},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
      <key>hero_ani_18010_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,217},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>hero_ani_18010_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,224},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_18010.png</string>
      <key>textureFileName</key>
      <string>hero_ani_18010.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>