<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11208_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{263,79},{60,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,59}}</string>
    <key>sourceSize</key>
    <string>{60,59}</string>
   </dict>
   <key>hero_ani_11208_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{174,79},{60,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,59}}</string>
    <key>sourceSize</key>
    <string>{60,59}</string>
   </dict>
   <key>hero_ani_11208_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,111},{60,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,59}}</string>
    <key>sourceSize</key>
    <string>{60,59}</string>
   </dict>
   <key>hero_ani_11208_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,79},{60,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,59}}</string>
    <key>sourceSize</key>
    <string>{60,59}</string>
   </dict>
   <key>hero_ani_11208_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{441,58},{60,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,59}}</string>
    <key>sourceSize</key>
    <string>{60,59}</string>
   </dict>
   <key>hero_ani_11208_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{83,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,109}}</string>
    <key>sourceSize</key>
    <string>{83,109}</string>
   </dict>
   <key>hero_ani_11208_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{263,140},{42,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,40}}</string>
    <key>sourceSize</key>
    <string>{42,40}</string>
   </dict>
   <key>hero_ani_11208_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,119},{61,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,54}}</string>
    <key>sourceSize</key>
    <string>{61,54}</string>
   </dict>
   <key>hero_ani_11208_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{441,0},{66,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,56}}</string>
    <key>sourceSize</key>
    <string>{66,56}</string>
   </dict>
   <key>hero_ani_11208_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{236,119},{25,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,38}}</string>
    <key>sourceSize</key>
    <string>{25,38}</string>
   </dict>
   <key>hero_ani_11208_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{236,79},{25,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,38}}</string>
    <key>sourceSize</key>
    <string>{25,38}</string>
   </dict>
   <key>hero_ani_11208_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,79},{25,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,38}}</string>
    <key>sourceSize</key>
    <string>{25,38}</string>
   </dict>
   <key>hero_ani_11208_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,79},{25,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,38}}</string>
    <key>sourceSize</key>
    <string>{25,38}</string>
   </dict>
   <key>hero_ani_11208_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{62,111},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11208_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{307,181},{34,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,38}}</string>
    <key>sourceSize</key>
    <string>{34,38}</string>
   </dict>
   <key>hero_ani_11208_664.png</key>
   <dict>
    <key>frame</key>
    <string>{{174,140},{54,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,28}}</string>
    <key>sourceSize</key>
    <string>{54,28}</string>
   </dict>
   <key>hero_ani_11208_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{263,0},{87,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,77}}</string>
    <key>sourceSize</key>
    <string>{87,77}</string>
   </dict>
   <key>hero_ani_11208_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{85,79},{87,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,77}}</string>
    <key>sourceSize</key>
    <string>{87,77}</string>
   </dict>
   <key>hero_ani_11208_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{174,0},{87,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,77}}</string>
    <key>sourceSize</key>
    <string>{87,77}</string>
   </dict>
   <key>hero_ani_11208_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,0},{87,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,77}}</string>
    <key>sourceSize</key>
    <string>{87,77}</string>
   </dict>
   <key>hero_ani_11208_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{85,0},{87,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,77}}</string>
    <key>sourceSize</key>
    <string>{87,77}</string>
   </dict>
   <key>hero_ani_11208_665.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,170},{36,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,36}}</string>
    <key>sourceSize</key>
    <string>{36,36}</string>
   </dict>
   <key>hero_ani_11208_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{36,199},{29,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,29}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>hero_ani_11208_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{258,182},{29,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,29}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>hero_ani_11208_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11208_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,111},{9,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,4}}</string>
    <key>sourceSize</key>
    <string>{9,4}</string>
   </dict>
   <key>hero_ani_11208_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{503,58},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11208_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{307,140},{42,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,39}}</string>
    <key>sourceSize</key>
    <string>{42,39}</string>
   </dict>
   <key>hero_ani_11208_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{230,159},{26,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,38}}</string>
    <key>sourceSize</key>
    <string>{26,38}</string>
   </dict>
   <key>hero_ani_11208_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,158},{41,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,39}}</string>
    <key>sourceSize</key>
    <string>{41,39}</string>
   </dict>
   <key>hero_ani_11208_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,172},{34,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,38}}</string>
    <key>sourceSize</key>
    <string>{34,38}</string>
   </dict>
   <key>hero_ani_11208_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,140},{41,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,39}}</string>
    <key>sourceSize</key>
    <string>{41,39}</string>
   </dict>
   <key>hero_ani_11208_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{466,196},{29,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,29}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>hero_ani_11208_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,119},{31,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,37}}</string>
    <key>sourceSize</key>
    <string>{31,37}</string>
   </dict>
   <key>hero_ani_11208_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,158},{30,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,36}}</string>
    <key>sourceSize</key>
    <string>{30,36}</string>
   </dict>
   <key>hero_ani_11208_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{343,181},{35,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,36}}</string>
    <key>sourceSize</key>
    <string>{35,36}</string>
   </dict>
   <key>hero_ani_11208_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,170},{36,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,36}}</string>
    <key>sourceSize</key>
    <string>{36,36}</string>
   </dict>
   <key>hero_ani_11208_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{394,175},{34,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,38}}</string>
    <key>sourceSize</key>
    <string>{34,38}</string>
   </dict>
   <key>hero_ani_11208_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{62,158},{41,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,39}}</string>
    <key>sourceSize</key>
    <string>{41,39}</string>
   </dict>
   <key>hero_ani_11208_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,175},{34,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,38}}</string>
    <key>sourceSize</key>
    <string>{34,38}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11208.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11208.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>