<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_18023_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,174},{17,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,36}}</string>
        <key>sourceSize</key>
        <string>{17,36}</string>
      </dict>
      <key>hero_ani_18023_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,217},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>hero_ani_18023_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,174},{60,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
      <key>hero_ani_18023_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,73},{75,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,74}}</string>
        <key>sourceSize</key>
        <string>{75,74}</string>
      </dict>
      <key>hero_ani_18023_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,174},{40,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,58}}</string>
        <key>sourceSize</key>
        <string>{40,58}</string>
      </dict>
      <key>hero_ani_18023_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{78,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,71}}</string>
        <key>sourceSize</key>
        <string>{78,71}</string>
      </dict>
      <key>hero_ani_18023_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,149},{73,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,72}}</string>
        <key>sourceSize</key>
        <string>{73,72}</string>
      </dict>
      <key>hero_ani_18023_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,223},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>hero_ani_18023_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,174},{41,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,41}}</string>
        <key>sourceSize</key>
        <string>{41,41}</string>
      </dict>
      <key>hero_ani_18023_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,261},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>hero_ani_18023_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,87},{84,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,85}}</string>
        <key>sourceSize</key>
        <string>{84,85}</string>
      </dict>
      <key>hero_ani_18023_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,87},{84,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,85}}</string>
        <key>sourceSize</key>
        <string>{84,85}</string>
      </dict>
      <key>hero_ani_18023_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{84,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,85}}</string>
        <key>sourceSize</key>
        <string>{84,85}</string>
      </dict>
      <key>hero_ani_18023_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{84,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,85}}</string>
        <key>sourceSize</key>
        <string>{84,85}</string>
      </dict>
      <key>hero_ani_18023_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_18023_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,234},{25,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,38}}</string>
        <key>sourceSize</key>
        <string>{25,38}</string>
      </dict>
      <key>hero_ani_18023_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,223},{27,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,36}}</string>
        <key>sourceSize</key>
        <string>{27,36}</string>
      </dict>
      <key>hero_ani_18023_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,234},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>hero_ani_18023_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,257},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>hero_ani_18023_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,243},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>hero_ani_18023_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,223},{27,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,36}}</string>
        <key>sourceSize</key>
        <string>{27,36}</string>
      </dict>
      <key>hero_ani_18023_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,251},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>hero_ani_18023_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,261},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>hero_ani_18023_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,243},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>hero_ani_18023_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,261},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_18023.png</string>
      <key>textureFileName</key>
      <string>hero_ani_18023.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>