<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_18046_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{356,102},{102,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,94}}</string>
    <key>sourceSize</key>
    <string>{102,94}</string>
   </dict>
   <key>hero_ani_18046_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,198},{51,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,27}}</string>
    <key>sourceSize</key>
    <string>{51,27}</string>
   </dict>
   <key>hero_ani_18046_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,348},{60,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,50}}</string>
    <key>sourceSize</key>
    <string>{60,50}</string>
   </dict>
   <key>hero_ani_18046_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,486},{63,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,50}}</string>
    <key>sourceSize</key>
    <string>{63,50}</string>
   </dict>
   <key>hero_ani_18046_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,478},{62,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,54}}</string>
    <key>sourceSize</key>
    <string>{62,54}</string>
   </dict>
   <key>hero_ani_18046_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,478},{62,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,60}}</string>
    <key>sourceSize</key>
    <string>{62,60}</string>
   </dict>
   <key>hero_ani_18046_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,472},{63,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,61}}</string>
    <key>sourceSize</key>
    <string>{63,61}</string>
   </dict>
   <key>hero_ani_18046_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,412},{65,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,64}}</string>
    <key>sourceSize</key>
    <string>{65,64}</string>
   </dict>
   <key>hero_ani_18046_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{447,412},{63,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,64}}</string>
    <key>sourceSize</key>
    <string>{63,64}</string>
   </dict>
   <key>hero_ani_18046_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{84,444},{62,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,65}}</string>
    <key>sourceSize</key>
    <string>{62,65}</string>
   </dict>
   <key>hero_ani_18046_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{496,44},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_18046_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,376},{82,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,94}}</string>
    <key>sourceSize</key>
    <string>{82,94}</string>
   </dict>
   <key>hero_ani_18046_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{164,156},{92,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,94}}</string>
    <key>sourceSize</key>
    <string>{92,94}</string>
   </dict>
   <key>hero_ani_18046_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,198},{102,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,94}}</string>
    <key>sourceSize</key>
    <string>{102,94}</string>
   </dict>
   <key>hero_ani_18046_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{258,224},{92,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,94}}</string>
    <key>sourceSize</key>
    <string>{92,94}</string>
   </dict>
   <key>hero_ani_18046_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,348},{82,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,94}}</string>
    <key>sourceSize</key>
    <string>{82,94}</string>
   </dict>
   <key>hero_ani_18046_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{316,410},{62,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,74}}</string>
    <key>sourceSize</key>
    <string>{62,74}</string>
   </dict>
   <key>hero_ani_18046_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,410},{62,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,74}}</string>
    <key>sourceSize</key>
    <string>{62,74}</string>
   </dict>
   <key>hero_ani_18046_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,410},{62,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,74}}</string>
    <key>sourceSize</key>
    <string>{62,74}</string>
   </dict>
   <key>hero_ani_18046_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,0},{94,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,118}}</string>
    <key>sourceSize</key>
    <string>{94,118}</string>
   </dict>
   <key>hero_ani_18046_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,0},{64,154}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,154}}</string>
    <key>sourceSize</key>
    <string>{64,154}</string>
   </dict>
   <key>hero_ani_18046_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{424,294},{64,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,116}}</string>
    <key>sourceSize</key>
    <string>{64,116}</string>
   </dict>
   <key>hero_ani_18046_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,294},{70,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,114}}</string>
    <key>sourceSize</key>
    <string>{70,114}</string>
   </dict>
   <key>hero_ani_18046_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{356,0},{104,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,100}}</string>
    <key>sourceSize</key>
    <string>{104,100}</string>
   </dict>
   <key>hero_ani_18046_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{52,0},{140,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,90}}</string>
    <key>sourceSize</key>
    <string>{140,90}</string>
   </dict>
   <key>hero_ani_18046_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{52,92},{110,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,90}}</string>
    <key>sourceSize</key>
    <string>{110,90}</string>
   </dict>
   <key>hero_ani_18046_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,120},{90,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,102}}</string>
    <key>sourceSize</key>
    <string>{90,102}</string>
   </dict>
   <key>hero_ani_18046_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,280},{102,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,94}}</string>
    <key>sourceSize</key>
    <string>{102,94}</string>
   </dict>
   <key>hero_ani_18046_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,252},{92,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,94}}</string>
    <key>sourceSize</key>
    <string>{92,94}</string>
   </dict>
   <key>hero_ani_18046_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{52,184},{102,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,94}}</string>
    <key>sourceSize</key>
    <string>{102,94}</string>
   </dict>
   <key>hero_ani_18046_372.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,44},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_18046_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,0},{48,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,42}}</string>
    <key>sourceSize</key>
    <string>{48,42}</string>
   </dict>
   <key>hero_ani_18046_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{50,197}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,197}}</string>
    <key>sourceSize</key>
    <string>{50,197}</string>
   </dict>
   <key>hero_ani_18046_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,44},{28,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,7}}</string>
    <key>sourceSize</key>
    <string>{28,7}</string>
   </dict>
   <key>hero_ani_18046_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,320},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,88}}</string>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_18046.png</string>
   <key>textureFileName</key>
   <string>hero_ani_18046.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>