<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11403_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,223},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>hero_ani_11403_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,291},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>hero_ani_11403_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{57,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,57}}</string>
        <key>sourceSize</key>
        <string>{57,57}</string>
      </dict>
      <key>hero_ani_11403_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,355},{25,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,10}}</string>
        <key>sourceSize</key>
        <string>{25,10}</string>
      </dict>
      <key>hero_ani_11403_1056.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{106,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,64}}</string>
        <key>sourceSize</key>
        <string>{106,64}</string>
      </dict>
      <key>hero_ani_11403_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,146},{66,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,88}}</string>
        <key>sourceSize</key>
        <string>{66,88}</string>
      </dict>
      <key>hero_ani_11403_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,186},{80,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,83}}</string>
        <key>sourceSize</key>
        <string>{80,83}</string>
      </dict>
      <key>hero_ani_11403_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,223},{80,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,63}}</string>
        <key>sourceSize</key>
        <string>{80,63}</string>
      </dict>
      <key>hero_ani_11403_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,186},{80,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,69}}</string>
        <key>sourceSize</key>
        <string>{80,69}</string>
      </dict>
      <key>hero_ani_11403_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,157},{80,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,90}}</string>
        <key>sourceSize</key>
        <string>{80,90}</string>
      </dict>
      <key>hero_ani_11403_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,249},{74,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,63}}</string>
        <key>sourceSize</key>
        <string>{74,63}</string>
      </dict>
      <key>hero_ani_11403_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{53,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,74}}</string>
        <key>sourceSize</key>
        <string>{53,74}</string>
      </dict>
      <key>hero_ani_11403_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,300},{73,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,22}}</string>
        <key>sourceSize</key>
        <string>{73,22}</string>
      </dict>
      <key>hero_ani_11403_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,108},{104,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,76}}</string>
        <key>sourceSize</key>
        <string>{104,76}</string>
      </dict>
      <key>hero_ani_11403_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,0},{121,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,98}}</string>
        <key>sourceSize</key>
        <string>{121,98}</string>
      </dict>
      <key>hero_ani_11403_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,0},{124,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,106}}</string>
        <key>sourceSize</key>
        <string>{124,106}</string>
      </dict>
      <key>hero_ani_11403_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,100},{108,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,84}}</string>
        <key>sourceSize</key>
        <string>{108,84}</string>
      </dict>
      <key>hero_ani_11403_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{205,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{205,155}}</string>
        <key>sourceSize</key>
        <string>{205,155}</string>
      </dict>
      <key>hero_ani_11403_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>hero_ani_11403_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,288},{47,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,39}}</string>
        <key>sourceSize</key>
        <string>{47,39}</string>
      </dict>
      <key>hero_ani_11403_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,313},{43,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,42}}</string>
        <key>sourceSize</key>
        <string>{43,42}</string>
      </dict>
      <key>hero_ani_11403_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,314},{47,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,39}}</string>
        <key>sourceSize</key>
        <string>{47,39}</string>
      </dict>
      <key>hero_ani_11403_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,321},{37,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,35}}</string>
        <key>sourceSize</key>
        <string>{37,35}</string>
      </dict>
      <key>hero_ani_11403_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,324},{34,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,35}}</string>
        <key>sourceSize</key>
        <string>{34,35}</string>
      </dict>
      <key>hero_ani_11403_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,186},{45,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,49}}</string>
        <key>sourceSize</key>
        <string>{45,49}</string>
      </dict>
      <key>hero_ani_11403_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,280},{45,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,49}}</string>
        <key>sourceSize</key>
        <string>{45,49}</string>
      </dict>
      <key>hero_ani_11403_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,237},{45,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,49}}</string>
        <key>sourceSize</key>
        <string>{45,49}</string>
      </dict>
      <key>hero_ani_11403_96.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,76},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11403_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,76},{36,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,68}}</string>
        <key>sourceSize</key>
        <string>{36,68}</string>
      </dict>
      <key>hero_ani_11403_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,257},{69,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,62}}</string>
        <key>sourceSize</key>
        <string>{69,62}</string>
      </dict>
      <key>hero_ani_11403_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,236},{69,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,62}}</string>
        <key>sourceSize</key>
        <string>{69,62}</string>
      </dict>
      <key>hero_ani_11403_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,271},{69,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,62}}</string>
        <key>sourceSize</key>
        <string>{69,62}</string>
      </dict>
      <key>hero_ani_11403_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,269},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>hero_ani_11403_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,288},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>hero_ani_11403_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,247},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>hero_ani_11403_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,82},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11403_1065.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,76},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>hero_ani_11403_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,186},{37,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,44}}</string>
        <key>sourceSize</key>
        <string>{37,44}</string>
      </dict>
      <key>hero_ani_11403_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,314},{25,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,38}}</string>
        <key>sourceSize</key>
        <string>{25,38}</string>
      </dict>
      <key>hero_ani_11403_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,335},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>hero_ani_11403_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,335},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>hero_ani_11403_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,331},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>hero_ani_11403_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,232},{29,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,46}}</string>
        <key>sourceSize</key>
        <string>{29,46}</string>
      </dict>
      <key>hero_ani_11403_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,324},{32,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,38}}</string>
        <key>sourceSize</key>
        <string>{32,38}</string>
      </dict>
      <key>hero_ani_11403_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,329},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_11403_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,321},{27,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,46}}</string>
        <key>sourceSize</key>
        <string>{27,46}</string>
      </dict>
      <key>hero_ani_11403_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,347},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>hero_ani_11403_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,329},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>hero_ani_11403_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,354},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11403.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11403.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>