<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11427_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,339},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11427_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,132},{23,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,123}}</string>
        <key>sourceSize</key>
        <string>{23,123}</string>
      </dict>
      <key>hero_ani_11427_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,182},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>hero_ani_11427_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,23},{139,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>hero_ani_11427_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,438},{93,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>hero_ani_11427_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{375,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,21}}</string>
        <key>sourceSize</key>
        <string>{375,21}</string>
      </dict>
      <key>hero_ani_11427_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,307},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11427_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,334},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11427_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,182},{14,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,45}}</string>
        <key>sourceSize</key>
        <string>{14,45}</string>
      </dict>
      <key>hero_ani_11427_98.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,360},{74,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,32}}</string>
        <key>sourceSize</key>
        <string>{74,32}</string>
      </dict>
      <key>hero_ani_11427_97.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,256},{98,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,36}}</string>
        <key>sourceSize</key>
        <string>{98,36}</string>
      </dict>
      <key>hero_ani_11427_96.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,334},{86,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,42}}</string>
        <key>sourceSize</key>
        <string>{86,42}</string>
      </dict>
      <key>hero_ani_11427_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,378},{72,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,28}}</string>
        <key>sourceSize</key>
        <string>{72,28}</string>
      </dict>
      <key>hero_ani_11427_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,373},{58,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,26}}</string>
        <key>sourceSize</key>
        <string>{58,26}</string>
      </dict>
      <key>hero_ani_11427_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,23},{71,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,96}}</string>
        <key>sourceSize</key>
        <string>{71,96}</string>
      </dict>
      <key>hero_ani_11427_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,202},{56,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,78}}</string>
        <key>sourceSize</key>
        <string>{56,78}</string>
      </dict>
      <key>hero_ani_11427_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,132},{79,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,97}}</string>
        <key>sourceSize</key>
        <string>{79,97}</string>
      </dict>
      <key>hero_ani_11427_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,121},{69,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,79}}</string>
        <key>sourceSize</key>
        <string>{69,79}</string>
      </dict>
      <key>hero_ani_11427_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,294},{67,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,64}}</string>
        <key>sourceSize</key>
        <string>{67,64}</string>
      </dict>
      <key>hero_ani_11427_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,308},{26,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,12}}</string>
        <key>sourceSize</key>
        <string>{26,12}</string>
      </dict>
      <key>hero_ani_11427_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,416},{38,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,18}}</string>
        <key>sourceSize</key>
        <string>{38,18}</string>
      </dict>
      <key>hero_ani_11427_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,416},{36,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,20}}</string>
        <key>sourceSize</key>
        <string>{36,20}</string>
      </dict>
      <key>hero_ani_11427_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,431},{34,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,20}}</string>
        <key>sourceSize</key>
        <string>{34,20}</string>
      </dict>
      <key>hero_ani_11427_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,432},{32,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,17}}</string>
        <key>sourceSize</key>
        <string>{32,17}</string>
      </dict>
      <key>hero_ani_11427_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,415},{32,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,17}}</string>
        <key>sourceSize</key>
        <string>{32,17}</string>
      </dict>
      <key>hero_ani_11427_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,294},{27,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,12}}</string>
        <key>sourceSize</key>
        <string>{27,12}</string>
      </dict>
      <key>hero_ani_11427_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,322},{24,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,10}}</string>
        <key>sourceSize</key>
        <string>{24,10}</string>
      </dict>
      <key>hero_ani_11427_103.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,232},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_102.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,442},{90,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,27}}</string>
        <key>sourceSize</key>
        <string>{90,27}</string>
      </dict>
      <key>hero_ani_11427_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,133},{36,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,86}}</string>
        <key>sourceSize</key>
        <string>{36,86}</string>
      </dict>
      <key>hero_ani_11427_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,133},{100,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,47}}</string>
        <key>sourceSize</key>
        <string>{100,47}</string>
      </dict>
      <key>hero_ani_11427_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,221},{42,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,53}}</string>
        <key>sourceSize</key>
        <string>{42,53}</string>
      </dict>
      <key>hero_ani_11427_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,276},{55,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,56}}</string>
        <key>sourceSize</key>
        <string>{55,56}</string>
      </dict>
      <key>hero_ani_11427_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,334},{61,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,64}}</string>
        <key>sourceSize</key>
        <string>{61,64}</string>
      </dict>
      <key>hero_ani_11427_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,231},{71,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,74}}</string>
        <key>sourceSize</key>
        <string>{71,74}</string>
      </dict>
      <key>hero_ani_11427_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,401},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,394},{78,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,20}}</string>
        <key>sourceSize</key>
        <string>{78,20}</string>
      </dict>
      <key>hero_ani_11427_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,282},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>hero_ani_11427_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,132},{25,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,56}}</string>
        <key>sourceSize</key>
        <string>{25,56}</string>
      </dict>
      <key>hero_ani_11427_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,202},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11427_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,385},{46,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,28}}</string>
        <key>sourceSize</key>
        <string>{46,28}</string>
      </dict>
      <key>hero_ani_11427_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{146,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,52}}</string>
        <key>sourceSize</key>
        <string>{146,52}</string>
      </dict>
      <key>hero_ani_11427_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{146,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,49}}</string>
        <key>sourceSize</key>
        <string>{146,49}</string>
      </dict>
      <key>hero_ani_11427_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{144,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,49}}</string>
        <key>sourceSize</key>
        <string>{144,49}</string>
      </dict>
      <key>hero_ani_11427_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,75},{138,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,56}}</string>
        <key>sourceSize</key>
        <string>{138,56}</string>
      </dict>
      <key>hero_ani_11427_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{133,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,73}}</string>
        <key>sourceSize</key>
        <string>{133,73}</string>
      </dict>
      <key>hero_ani_11427_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,23},{154,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,153}}</string>
        <key>sourceSize</key>
        <string>{154,153}</string>
      </dict>
      <key>hero_ani_11427_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,23},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11427_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,389},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_115.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,390},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,400},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,402},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,408},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,408},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,190},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,415},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,316},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,301},{39,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,42}}</string>
        <key>sourceSize</key>
        <string>{39,42}</string>
      </dict>
      <key>hero_ani_11427_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,358},{39,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,42}}</string>
        <key>sourceSize</key>
        <string>{39,42}</string>
      </dict>
      <key>hero_ani_11427_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,345},{40,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,42}}</string>
        <key>sourceSize</key>
        <string>{40,42}</string>
      </dict>
      <key>hero_ani_11427_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,257},{39,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,42}}</string>
        <key>sourceSize</key>
        <string>{39,42}</string>
      </dict>
      <key>hero_ani_11427_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,390},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,400},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11427_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,274},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11427.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11427.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>