<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11412_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{172,387},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11412_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11412_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{367,135},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11412_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11412_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,396},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11412_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11412_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{426,243},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11412_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{59,295},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11412_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{119,187},{12,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,20}}</string>
    <key>sourceSize</key>
    <string>{12,20}</string>
   </dict>
   <key>hero_ani_11412_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{119,165},{12,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,20}}</string>
    <key>sourceSize</key>
    <string>{12,20}</string>
   </dict>
   <key>hero_ani_11412_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{119,209},{12,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,20}}</string>
    <key>sourceSize</key>
    <string>{12,20}</string>
   </dict>
   <key>hero_ani_11412_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,148},{29,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,29}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>hero_ani_11412_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{475,0},{5,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{5,102}}</string>
    <key>sourceSize</key>
    <string>{5,102}</string>
   </dict>
   <key>hero_ani_11412_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{379,378},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11412_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,23},{35,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,71}}</string>
    <key>sourceSize</key>
    <string>{35,71}</string>
   </dict>
   <key>hero_ani_11412_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{71,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,133}}</string>
    <key>sourceSize</key>
    <string>{71,133}</string>
   </dict>
   <key>hero_ani_11412_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{128,284},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11412_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,83},{24,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,63}}</string>
    <key>sourceSize</key>
    <string>{24,63}</string>
   </dict>
   <key>hero_ani_11412_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,0},{24,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,81}}</string>
    <key>sourceSize</key>
    <string>{24,81}</string>
   </dict>
   <key>hero_ani_11412_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{81,132},{36,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,101}}</string>
    <key>sourceSize</key>
    <string>{36,101}</string>
   </dict>
   <key>hero_ani_11412_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,96},{25,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,56}}</string>
    <key>sourceSize</key>
    <string>{25,56}</string>
   </dict>
   <key>hero_ani_11412_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{463,431},{36,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,40}}</string>
    <key>sourceSize</key>
    <string>{36,40}</string>
   </dict>
   <key>hero_ani_11412_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{233,206},{94,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,57}}</string>
    <key>sourceSize</key>
    <string>{94,57}</string>
   </dict>
   <key>hero_ani_11412_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{334,196},{21,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,21}}</string>
    <key>sourceSize</key>
    <string>{21,21}</string>
   </dict>
   <key>hero_ani_11412_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,208},{34,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,33}}</string>
    <key>sourceSize</key>
    <string>{34,33}</string>
   </dict>
   <key>hero_ani_11412_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,436},{36,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,34}}</string>
    <key>sourceSize</key>
    <string>{36,34}</string>
   </dict>
   <key>hero_ani_11412_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{371,437},{33,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,33}}</string>
    <key>sourceSize</key>
    <string>{33,33}</string>
   </dict>
   <key>hero_ani_11412_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,23},{99,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{99,98}}</string>
    <key>sourceSize</key>
    <string>{99,98}</string>
   </dict>
   <key>hero_ani_11412_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{162,433},{36,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,36}}</string>
    <key>sourceSize</key>
    <string>{36,36}</string>
   </dict>
   <key>hero_ani_11412_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{119,132},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11412_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,404},{36,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,41}}</string>
    <key>sourceSize</key>
    <string>{36,41}</string>
   </dict>
   <key>hero_ani_11412_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,23},{96,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,88}}</string>
    <key>sourceSize</key>
    <string>{96,88}</string>
   </dict>
   <key>hero_ani_11412_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,343},{36,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,59}}</string>
    <key>sourceSize</key>
    <string>{36,59}</string>
   </dict>
   <key>hero_ani_11412_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{133,215},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{67,67}</string>
   </dict>
   <key>hero_ani_11412_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,215},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{67,67}</string>
   </dict>
   <key>hero_ani_11412_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,209},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{67,67}</string>
   </dict>
   <key>hero_ani_11412_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{115,341},{55,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,45}}</string>
    <key>sourceSize</key>
    <string>{55,45}</string>
   </dict>
   <key>hero_ani_11412_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{185,331},{48,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,54}}</string>
    <key>sourceSize</key>
    <string>{48,54}</string>
   </dict>
   <key>hero_ani_11412_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,407},{87,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,28}}</string>
    <key>sourceSize</key>
    <string>{87,28}</string>
   </dict>
   <key>hero_ani_11412_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{400,309},{92,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,33}}</string>
    <key>sourceSize</key>
    <string>{92,33}</string>
   </dict>
   <key>hero_ani_11412_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{235,331},{94,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,30}}</string>
    <key>sourceSize</key>
    <string>{94,30}</string>
   </dict>
   <key>hero_ani_11412_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{379,344},{92,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,32}}</string>
    <key>sourceSize</key>
    <string>{92,32}</string>
   </dict>
   <key>hero_ani_11412_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{86,388},{83,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,30}}</string>
    <key>sourceSize</key>
    <string>{83,30}</string>
   </dict>
   <key>hero_ani_11412_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{235,363},{90,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,31}}</string>
    <key>sourceSize</key>
    <string>{90,31}</string>
   </dict>
   <key>hero_ani_11412_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{38,395},{42,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,42}}</string>
    <key>sourceSize</key>
    <string>{42,42}</string>
   </dict>
   <key>hero_ani_11412_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,113},{90,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,91}}</string>
    <key>sourceSize</key>
    <string>{90,91}</string>
   </dict>
   <key>hero_ani_11412_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{331,344},{46,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,47}}</string>
    <key>sourceSize</key>
    <string>{46,47}</string>
   </dict>
   <key>hero_ani_11412_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,284},{57,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,57}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>hero_ani_11412_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{69,235},{57,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,58}}</string>
    <key>sourceSize</key>
    <string>{57,58}</string>
   </dict>
   <key>hero_ani_11412_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,179},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,24}}</string>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>hero_ani_11412_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,436},{36,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,35}}</string>
    <key>sourceSize</key>
    <string>{36,35}</string>
   </dict>
   <key>hero_ani_11412_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{38,351},{46,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,42}}</string>
    <key>sourceSize</key>
    <string>{46,42}</string>
   </dict>
   <key>hero_ani_11412_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,123},{90,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,90}}</string>
    <key>sourceSize</key>
    <string>{90,90}</string>
   </dict>
   <key>hero_ani_11412_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{79,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,81}}</string>
    <key>sourceSize</key>
    <string>{79,81}</string>
   </dict>
   <key>hero_ani_11412_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,265},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11412_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{334,278},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11412_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{268,265},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11412_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{367,96},{7,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,5}}</string>
    <key>sourceSize</key>
    <string>{7,5}</string>
   </dict>
   <key>hero_ani_11412_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{508,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11412_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,393},{45,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,41}}</string>
    <key>sourceSize</key>
    <string>{45,41}</string>
   </dict>
   <key>hero_ani_11412_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{334,154},{31,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,40}}</string>
    <key>sourceSize</key>
    <string>{31,40}</string>
   </dict>
   <key>hero_ani_11412_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,344},{37,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,42}}</string>
    <key>sourceSize</key>
    <string>{37,42}</string>
   </dict>
   <key>hero_ani_11412_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,420},{39,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,41}}</string>
    <key>sourceSize</key>
    <string>{39,41}</string>
   </dict>
   <key>hero_ani_11412_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,424},{37,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,42}}</string>
    <key>sourceSize</key>
    <string>{37,42}</string>
   </dict>
   <key>hero_ani_11412_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,166},{34,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,40}}</string>
    <key>sourceSize</key>
    <string>{34,40}</string>
   </dict>
   <key>hero_ani_11412_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,125},{28,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,39}}</string>
    <key>sourceSize</key>
    <string>{28,39}</string>
   </dict>
   <key>hero_ani_11412_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{471,388},{39,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,41}}</string>
    <key>sourceSize</key>
    <string>{39,41}</string>
   </dict>
   <key>hero_ani_11412_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{123,420},{37,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,42}}</string>
    <key>sourceSize</key>
    <string>{37,42}</string>
   </dict>
   <key>hero_ani_11412_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,424},{36,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,41}}</string>
    <key>sourceSize</key>
    <string>{36,41}</string>
   </dict>
   <key>hero_ani_11412_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,205},{26,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,7}}</string>
    <key>sourceSize</key>
    <string>{26,7}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11412.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11412.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>