<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11426_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,366},{57,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,45}}</string>
        <key>sourceSize</key>
        <string>{57,45}</string>
      </dict>
      <key>hero_ani_11426_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,84},{162,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>hero_ani_11426_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,0},{162,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>hero_ani_11426_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,0},{162,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>hero_ani_11426_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,0},{162,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>hero_ani_11426_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,0},{162,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>hero_ani_11426_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,0},{162,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>hero_ani_11426_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,116},{69,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,111}}</string>
        <key>sourceSize</key>
        <string>{69,111}</string>
      </dict>
      <key>hero_ani_11426_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{621,262},{69,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,111}}</string>
        <key>sourceSize</key>
        <string>{69,111}</string>
      </dict>
      <key>hero_ani_11426_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,168},{69,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,111}}</string>
        <key>sourceSize</key>
        <string>{69,111}</string>
      </dict>
      <key>hero_ani_11426_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,262},{69,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,111}}</string>
        <key>sourceSize</key>
        <string>{69,111}</string>
      </dict>
      <key>hero_ani_11426_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,229},{69,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,111}}</string>
        <key>sourceSize</key>
        <string>{69,111}</string>
      </dict>
      <key>hero_ani_11426_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{59,221}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,221}}</string>
        <key>sourceSize</key>
        <string>{59,221}</string>
      </dict>
      <key>hero_ani_11426_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,200},{56,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,100}}</string>
        <key>sourceSize</key>
        <string>{56,100}</string>
      </dict>
      <key>hero_ani_11426_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,223},{56,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,100}}</string>
        <key>sourceSize</key>
        <string>{56,100}</string>
      </dict>
      <key>hero_ani_11426_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,302},{56,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,100}}</string>
        <key>sourceSize</key>
        <string>{56,100}</string>
      </dict>
      <key>hero_ani_11426_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,281},{56,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,100}}</string>
        <key>sourceSize</key>
        <string>{56,100}</string>
      </dict>
      <key>hero_ani_11426_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,315},{56,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,100}}</string>
        <key>sourceSize</key>
        <string>{56,100}</string>
      </dict>
      <key>hero_ani_11426_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,399},{110,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,88}}</string>
        <key>sourceSize</key>
        <string>{110,88}</string>
      </dict>
      <key>hero_ani_11426_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,413},{110,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,88}}</string>
        <key>sourceSize</key>
        <string>{110,88}</string>
      </dict>
      <key>hero_ani_11426_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,375},{110,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,88}}</string>
        <key>sourceSize</key>
        <string>{110,88}</string>
      </dict>
      <key>hero_ani_11426_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,413},{110,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,88}}</string>
        <key>sourceSize</key>
        <string>{110,88}</string>
      </dict>
      <key>hero_ani_11426_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,413},{110,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,88}}</string>
        <key>sourceSize</key>
        <string>{110,88}</string>
      </dict>
      <key>hero_ani_11426_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,84},{105,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,104}}</string>
        <key>sourceSize</key>
        <string>{105,104}</string>
      </dict>
      <key>hero_ani_11426_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,84},{161,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,51}}</string>
        <key>sourceSize</key>
        <string>{161,51}</string>
      </dict>
      <key>hero_ani_11426_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,383},{95,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,28}}</string>
        <key>sourceSize</key>
        <string>{95,28}</string>
      </dict>
      <key>hero_ani_11426_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,372},{103,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,48}}</string>
        <key>sourceSize</key>
        <string>{103,48}</string>
      </dict>
      <key>hero_ani_11426_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,324},{93,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,45}}</string>
        <key>sourceSize</key>
        <string>{93,45}</string>
      </dict>
      <key>hero_ani_11426_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,418},{135,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,35}}</string>
        <key>sourceSize</key>
        <string>{135,35}</string>
      </dict>
      <key>hero_ani_11426_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,199},{86,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,123}}</string>
        <key>sourceSize</key>
        <string>{86,123}</string>
      </dict>
      <key>hero_ani_11426_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,116},{86,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,123}}</string>
        <key>sourceSize</key>
        <string>{86,123}</string>
      </dict>
      <key>hero_ani_11426_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,241},{86,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,123}}</string>
        <key>sourceSize</key>
        <string>{86,123}</string>
      </dict>
      <key>hero_ani_11426_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,199},{86,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,123}}</string>
        <key>sourceSize</key>
        <string>{86,123}</string>
      </dict>
      <key>hero_ani_11426_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,168},{86,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,123}}</string>
        <key>sourceSize</key>
        <string>{86,123}</string>
      </dict>
      <key>hero_ani_11426_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,190},{86,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,123}}</string>
        <key>sourceSize</key>
        <string>{86,123}</string>
      </dict>
      <key>hero_ani_11426_199.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,137},{86,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,123}}</string>
        <key>sourceSize</key>
        <string>{86,123}</string>
      </dict>
      <key>hero_ani_11426_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,137},{86,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,123}}</string>
        <key>sourceSize</key>
        <string>{86,123}</string>
      </dict>
      <key>hero_ani_11426_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,375},{62,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,22}}</string>
        <key>sourceSize</key>
        <string>{62,22}</string>
      </dict>
      <key>hero_ani_11426_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,293},{84,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,88}}</string>
        <key>sourceSize</key>
        <string>{84,88}</string>
      </dict>
      <key>hero_ani_11426_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,84},{114,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,113}}</string>
        <key>sourceSize</key>
        <string>{114,113}</string>
      </dict>
      <key>hero_ani_11426_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,84},{115,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,113}}</string>
        <key>sourceSize</key>
        <string>{115,113}</string>
      </dict>
      <key>hero_ani_11426_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,0},{116,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,114}}</string>
        <key>sourceSize</key>
        <string>{116,114}</string>
      </dict>
      <key>hero_ani_11426_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,65},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11426_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,257},{26,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,56}}</string>
        <key>sourceSize</key>
        <string>{26,56}</string>
      </dict>
      <key>hero_ani_11426_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,352},{64,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,41}}</string>
        <key>sourceSize</key>
        <string>{64,41}</string>
      </dict>
      <key>hero_ani_11426_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,315},{27,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,23}}</string>
        <key>sourceSize</key>
        <string>{27,23}</string>
      </dict>
      <key>hero_ani_11426_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,341},{33,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,27}}</string>
        <key>sourceSize</key>
        <string>{33,27}</string>
      </dict>
      <key>hero_ani_11426_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,357},{43,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,30}}</string>
        <key>sourceSize</key>
        <string>{43,30}</string>
      </dict>
      <key>hero_ani_11426_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,260},{36,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,38}}</string>
        <key>sourceSize</key>
        <string>{36,38}</string>
      </dict>
      <key>hero_ani_11426_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,315},{39,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,40}}</string>
        <key>sourceSize</key>
        <string>{39,40}</string>
      </dict>
      <key>hero_ani_11426_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,316},{44,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,34}}</string>
        <key>sourceSize</key>
        <string>{44,34}</string>
      </dict>
      <key>hero_ani_11426_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{40,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,32}}</string>
        <key>sourceSize</key>
        <string>{40,32}</string>
      </dict>
      <key>hero_ani_11426_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,325},{41,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,33}}</string>
        <key>sourceSize</key>
        <string>{41,33}</string>
      </dict>
      <key>hero_ani_11426_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,340},{35,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,30}}</string>
        <key>sourceSize</key>
        <string>{35,30}</string>
      </dict>
      <key>hero_ani_11426_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,262},{26,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,28}}</string>
        <key>sourceSize</key>
        <string>{26,28}</string>
      </dict>
      <key>hero_ani_11426_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,0},{14,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,63}}</string>
        <key>sourceSize</key>
        <string>{14,63}</string>
      </dict>
      <key>hero_ani_11426_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11426_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11426_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,142},{33,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,56}}</string>
        <key>sourceSize</key>
        <string>{33,56}</string>
      </dict>
      <key>hero_ani_11426_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,142},{34,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,58}}</string>
        <key>sourceSize</key>
        <string>{34,58}</string>
      </dict>
      <key>hero_ani_11426_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,84},{36,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,56}}</string>
        <key>sourceSize</key>
        <string>{36,56}</string>
      </dict>
      <key>hero_ani_11426_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,84},{36,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,56}}</string>
        <key>sourceSize</key>
        <string>{36,56}</string>
      </dict>
      <key>hero_ani_11426_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,142},{34,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,56}}</string>
        <key>sourceSize</key>
        <string>{34,56}</string>
      </dict>
      <key>hero_ani_11426_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,84},{37,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,56}}</string>
        <key>sourceSize</key>
        <string>{37,56}</string>
      </dict>
      <key>hero_ani_11426_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,202},{29,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,56}}</string>
        <key>sourceSize</key>
        <string>{29,56}</string>
      </dict>
      <key>hero_ani_11426_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,200},{32,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,56}}</string>
        <key>sourceSize</key>
        <string>{32,56}</string>
      </dict>
      <key>hero_ani_11426_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,257},{29,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,56}}</string>
        <key>sourceSize</key>
        <string>{29,56}</string>
      </dict>
      <key>hero_ani_11426_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,342},{64,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,41}}</string>
        <key>sourceSize</key>
        <string>{64,41}</string>
      </dict>
      <key>hero_ani_11426_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,371},{57,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,45}}</string>
        <key>sourceSize</key>
        <string>{57,45}</string>
      </dict>
      <key>hero_ani_11426_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,364},{64,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,38}}</string>
        <key>sourceSize</key>
        <string>{64,38}</string>
      </dict>
      <key>hero_ani_11426_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,324},{69,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,38}}</string>
        <key>sourceSize</key>
        <string>{69,38}</string>
      </dict>
      <key>hero_ani_11426_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,300},{33,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,39}}</string>
        <key>sourceSize</key>
        <string>{33,39}</string>
      </dict>
      <key>hero_ani_11426_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,199},{32,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,56}}</string>
        <key>sourceSize</key>
        <string>{32,56}</string>
      </dict>
      <key>hero_ani_11426_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,199},{29,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,56}}</string>
        <key>sourceSize</key>
        <string>{29,56}</string>
      </dict>
      <key>hero_ani_11426_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,258},{26,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,56}}</string>
        <key>sourceSize</key>
        <string>{26,56}</string>
      </dict>
      <key>hero_ani_11426_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,84},{17,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,6}}</string>
        <key>sourceSize</key>
        <string>{17,6}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11426.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11426.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>