<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11293_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,84},{17,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,16}}</string>
    <key>sourceSize</key>
    <string>{17,16}</string>
   </dict>
   <key>hero_ani_11293_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{249,84},{8,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,18}}</string>
    <key>sourceSize</key>
    <string>{8,18}</string>
   </dict>
   <key>hero_ani_11293_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,272},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,272},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,203},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{361,138},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,276},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,183},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{286,252},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{379,0},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,300},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{427,231},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{379,69},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{429,162},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,203},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{359,207},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,232},{66,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,67}}</string>
    <key>sourceSize</key>
    <string>{66,67}</string>
   </dict>
   <key>hero_ani_11293_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,102},{14,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,14}}</string>
    <key>sourceSize</key>
    <string>{14,14}</string>
   </dict>
   <key>hero_ani_11293_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{306,117},{10,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,18}}</string>
    <key>sourceSize</key>
    <string>{10,18}</string>
   </dict>
   <key>hero_ani_11293_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{197,201}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{197,201}}</string>
    <key>sourceSize</key>
    <string>{197,201}</string>
   </dict>
   <key>hero_ani_11293_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{306,84},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11293_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{177,228},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{271,486},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,356},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{280,431},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,376},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{412,479},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,396},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,451},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,321},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,341},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,345},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,369},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,396},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,400},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,424},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,451},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,455},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,301},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{214,411},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{205,466},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,341},{64,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,53}}</string>
    <key>sourceSize</key>
    <string>{64,53}</string>
   </dict>
   <key>hero_ani_11293_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{402,534},{63,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,52}}</string>
    <key>sourceSize</key>
    <string>{63,52}</string>
   </dict>
   <key>hero_ani_11293_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{65,506},{63,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,52}}</string>
    <key>sourceSize</key>
    <string>{63,52}</string>
   </dict>
   <key>hero_ani_11293_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{447,54},{63,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,52}}</string>
    <key>sourceSize</key>
    <string>{63,52}</string>
   </dict>
   <key>hero_ani_11293_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{447,108},{63,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,52}}</string>
    <key>sourceSize</key>
    <string>{63,52}</string>
   </dict>
   <key>hero_ani_11293_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,506},{63,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,52}}</string>
    <key>sourceSize</key>
    <string>{63,52}</string>
   </dict>
   <key>hero_ani_11293_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,510},{63,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,52}}</string>
    <key>sourceSize</key>
    <string>{63,52}</string>
   </dict>
   <key>hero_ani_11293_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{447,0},{63,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,52}}</string>
    <key>sourceSize</key>
    <string>{63,52}</string>
   </dict>
   <key>hero_ani_11293_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{262,541},{63,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,52}}</string>
    <key>sourceSize</key>
    <string>{63,52}</string>
   </dict>
   <key>hero_ani_11293_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{197,521},{63,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,52}}</string>
    <key>sourceSize</key>
    <string>{63,52}</string>
   </dict>
   <key>hero_ani_11293_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,496},{63,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,52}}</string>
    <key>sourceSize</key>
    <string>{63,52}</string>
   </dict>
   <key>hero_ani_11293_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,137},{21,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,17}}</string>
    <key>sourceSize</key>
    <string>{21,17}</string>
   </dict>
   <key>hero_ani_11293_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,102},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11293_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{199,136},{40,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,44}}</string>
    <key>sourceSize</key>
    <string>{40,44}</string>
   </dict>
   <key>hero_ani_11293_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,186},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,203},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{173,366},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{199,182},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,249},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,433},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,295},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{173,412},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{318,135},{41,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,46}}</string>
    <key>sourceSize</key>
    <string>{41,46}</string>
   </dict>
   <key>hero_ani_11293_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{249,135},{40,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,49}}</string>
    <key>sourceSize</key>
    <string>{40,49}</string>
   </dict>
   <key>hero_ani_11293_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{177,274},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,84},{45,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,49}}</string>
    <key>sourceSize</key>
    <string>{45,49}</string>
   </dict>
   <key>hero_ani_11293_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{318,84},{40,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,49}}</string>
    <key>sourceSize</key>
    <string>{40,49}</string>
   </dict>
   <key>hero_ani_11293_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,387},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,341},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{177,320},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11293_891.png</key>
   <dict>
    <key>frame</key>
    <string>{{199,0},{58,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,82}}</string>
    <key>sourceSize</key>
    <string>{58,82}</string>
   </dict>
   <key>hero_ani_11293_999.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,0},{58,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,82}}</string>
    <key>sourceSize</key>
    <string>{58,82}</string>
   </dict>
   <key>hero_ani_11293_998.png</key>
   <dict>
    <key>frame</key>
    <string>{{319,0},{58,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,82}}</string>
    <key>sourceSize</key>
    <string>{58,82}</string>
   </dict>
   <key>hero_ani_11293_997.png</key>
   <dict>
    <key>frame</key>
    <string>{{173,458},{30,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,36}}</string>
    <key>sourceSize</key>
    <string>{30,36}</string>
   </dict>
   <key>hero_ani_11293_996.png</key>
   <dict>
    <key>frame</key>
    <string>{{199,84},{48,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,50}}</string>
    <key>sourceSize</key>
    <string>{48,50}</string>
   </dict>
   <key>hero_ani_11293_892.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,560},{66,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,24}}</string>
    <key>sourceSize</key>
    <string>{66,24}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11293.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11293.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>