<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11630_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,233},{69,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,55}}</string>
    <key>sourceSize</key>
    <string>{69,55}</string>
   </dict>
   <key>hero_ani_11630_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,233},{69,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,55}}</string>
    <key>sourceSize</key>
    <string>{69,55}</string>
   </dict>
   <key>hero_ani_11630_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,251},{69,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,55}}</string>
    <key>sourceSize</key>
    <string>{69,55}</string>
   </dict>
   <key>hero_ani_11630_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,194},{69,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,55}}</string>
    <key>sourceSize</key>
    <string>{69,55}</string>
   </dict>
   <key>hero_ani_11630_301.png</key>
   <dict>
    <key>frame</key>
    <string>{{189,389},{111,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,44}}</string>
    <key>sourceSize</key>
    <string>{111,44}</string>
   </dict>
   <key>hero_ani_11630_300.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,380},{111,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,44}}</string>
    <key>sourceSize</key>
    <string>{111,44}</string>
   </dict>
   <key>hero_ani_11630_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,97},{70,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,95}}</string>
    <key>sourceSize</key>
    <string>{70,95}</string>
   </dict>
   <key>hero_ani_11630_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,97},{70,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,95}}</string>
    <key>sourceSize</key>
    <string>{70,95}</string>
   </dict>
   <key>hero_ani_11630_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,0},{70,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,95}}</string>
    <key>sourceSize</key>
    <string>{70,95}</string>
   </dict>
   <key>hero_ani_11630_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{72,0},{70,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,95}}</string>
    <key>sourceSize</key>
    <string>{70,95}</string>
   </dict>
   <key>hero_ani_11630_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,0},{70,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,95}}</string>
    <key>sourceSize</key>
    <string>{70,95}</string>
   </dict>
   <key>hero_ani_11630_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,97},{70,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,95}}</string>
    <key>sourceSize</key>
    <string>{70,95}</string>
   </dict>
   <key>hero_ani_11630_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,0},{70,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,95}}</string>
    <key>sourceSize</key>
    <string>{70,95}</string>
   </dict>
   <key>hero_ani_11630_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{288,0},{70,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,95}}</string>
    <key>sourceSize</key>
    <string>{70,95}</string>
   </dict>
   <key>hero_ani_11630_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{72,97},{70,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,95}}</string>
    <key>sourceSize</key>
    <string>{70,95}</string>
   </dict>
   <key>hero_ani_11630_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,0},{70,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,95}}</string>
    <key>sourceSize</key>
    <string>{70,95}</string>
   </dict>
   <key>hero_ani_11630_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{70,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,95}}</string>
    <key>sourceSize</key>
    <string>{70,95}</string>
   </dict>
   <key>hero_ani_11630_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{42,325},{40,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,37}}</string>
    <key>sourceSize</key>
    <string>{40,37}</string>
   </dict>
   <key>hero_ani_11630_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,306},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,40}}</string>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>hero_ani_11630_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,290},{43,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,44}}</string>
    <key>sourceSize</key>
    <string>{43,44}</string>
   </dict>
   <key>hero_ani_11630_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,260},{45,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,42}}</string>
    <key>sourceSize</key>
    <string>{45,42}</string>
   </dict>
   <key>hero_ani_11630_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{458,295},{43,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,40}}</string>
    <key>sourceSize</key>
    <string>{43,40}</string>
   </dict>
   <key>hero_ani_11630_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,308},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,40}}</string>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>hero_ani_11630_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{189,350},{38,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,37}}</string>
    <key>sourceSize</key>
    <string>{38,37}</string>
   </dict>
   <key>hero_ani_11630_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{229,350},{36,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,36}}</string>
    <key>sourceSize</key>
    <string>{36,36}</string>
   </dict>
   <key>hero_ani_11630_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{169,260},{26,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,26}}</string>
    <key>sourceSize</key>
    <string>{26,26}</string>
   </dict>
   <key>hero_ani_11630_989.png</key>
   <dict>
    <key>frame</key>
    <string>{{169,288},{25,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,23}}</string>
    <key>sourceSize</key>
    <string>{25,23}</string>
   </dict>
   <key>hero_ani_11630_988.png</key>
   <dict>
    <key>frame</key>
    <string>{{314,290},{55,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,29}}</string>
    <key>sourceSize</key>
    <string>{55,29}</string>
   </dict>
   <key>hero_ani_11630_987.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,295},{50,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,34}}</string>
    <key>sourceSize</key>
    <string>{50,34}</string>
   </dict>
   <key>hero_ani_11630_993.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,331},{39,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,38}}</string>
    <key>sourceSize</key>
    <string>{39,38}</string>
   </dict>
   <key>hero_ani_11630_992.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,304},{41,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,41}}</string>
    <key>sourceSize</key>
    <string>{41,41}</string>
   </dict>
   <key>hero_ani_11630_991.png</key>
   <dict>
    <key>frame</key>
    <string>{{314,321},{41,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,38}}</string>
    <key>sourceSize</key>
    <string>{41,38}</string>
   </dict>
   <key>hero_ani_11630_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{288,167},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11630_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,194},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11630_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,194},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11630_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,194},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11630_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,251},{99,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{99,42}}</string>
    <key>sourceSize</key>
    <string>{99,42}</string>
   </dict>
   <key>hero_ani_11630_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,174},{75,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,75}}</string>
    <key>sourceSize</key>
    <string>{75,75}</string>
   </dict>
   <key>hero_ani_11630_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{421,97},{75,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,75}}</string>
    <key>sourceSize</key>
    <string>{75,75}</string>
   </dict>
   <key>hero_ani_11630_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,97},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11630_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{119,347},{33,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,43}}</string>
    <key>sourceSize</key>
    <string>{33,43}</string>
   </dict>
   <key>hero_ani_11630_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{57,260},{35,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,63}}</string>
    <key>sourceSize</key>
    <string>{35,63}</string>
   </dict>
   <key>hero_ani_11630_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{94,260},{26,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,51}}</string>
    <key>sourceSize</key>
    <string>{26,51}</string>
   </dict>
   <key>hero_ani_11630_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,260},{55,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,44}}</string>
    <key>sourceSize</key>
    <string>{55,44}</string>
   </dict>
   <key>hero_ani_11630_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{356,97},{63,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,68}}</string>
    <key>sourceSize</key>
    <string>{63,68}</string>
   </dict>
   <key>hero_ani_11630_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{288,97},{66,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,68}}</string>
    <key>sourceSize</key>
    <string>{66,68}</string>
   </dict>
   <key>hero_ani_11630_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{238,308},{29,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,29}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>hero_ani_11630_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{504,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11630_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,167},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11630_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{154,347},{33,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,43}}</string>
    <key>sourceSize</key>
    <string>{33,43}</string>
   </dict>
   <key>hero_ani_11630_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,348},{33,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,43}}</string>
    <key>sourceSize</key>
    <string>{33,43}</string>
   </dict>
   <key>hero_ani_11630_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,336},{33,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,43}}</string>
    <key>sourceSize</key>
    <string>{33,43}</string>
   </dict>
   <key>hero_ani_11630_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,335},{33,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,43}}</string>
    <key>sourceSize</key>
    <string>{33,43}</string>
   </dict>
   <key>hero_ani_11630_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{84,325},{33,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,43}}</string>
    <key>sourceSize</key>
    <string>{33,43}</string>
   </dict>
   <key>hero_ani_11630_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{447,337},{33,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,43}}</string>
    <key>sourceSize</key>
    <string>{33,43}</string>
   </dict>
   <key>hero_ani_11630_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{371,290},{33,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,43}}</string>
    <key>sourceSize</key>
    <string>{33,43}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11630.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11630.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>