<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11226_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,301},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11226_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11226_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,191},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11226_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,77},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11226_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{139,273},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11226_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11226_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{276,192},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11226_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{437,273},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11226_554.png</key>
   <dict>
    <key>frame</key>
    <string>{{332,293},{40,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,48}}</string>
    <key>sourceSize</key>
    <string>{40,48}</string>
   </dict>
   <key>hero_ani_11226_203.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,149},{54,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,65}}</string>
    <key>sourceSize</key>
    <string>{54,65}</string>
   </dict>
   <key>hero_ani_11226_204.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,274},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11226_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{138,301},{48,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,59}}</string>
    <key>sourceSize</key>
    <string>{48,59}</string>
   </dict>
   <key>hero_ani_11226_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{283,77},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11226_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,244},{25,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,36}}</string>
    <key>sourceSize</key>
    <string>{25,36}</string>
   </dict>
   <key>hero_ani_11226_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{119,362},{49,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,10}}</string>
    <key>sourceSize</key>
    <string>{49,10}</string>
   </dict>
   <key>hero_ani_11226_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,23},{46,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,97}}</string>
    <key>sourceSize</key>
    <string>{46,97}</string>
   </dict>
   <key>hero_ani_11226_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{140,220},{94,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,51}}</string>
    <key>sourceSize</key>
    <string>{94,51}</string>
   </dict>
   <key>hero_ani_11226_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,77},{140,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,66}}</string>
    <key>sourceSize</key>
    <string>{140,66}</string>
   </dict>
   <key>hero_ani_11226_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{454,216},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11226_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,244},{110,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,28}}</string>
    <key>sourceSize</key>
    <string>{110,28}</string>
   </dict>
   <key>hero_ani_11226_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{92,282},{44,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,56}}</string>
    <key>sourceSize</key>
    <string>{44,56}</string>
   </dict>
   <key>hero_ani_11226_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,258},{58,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,60}}</string>
    <key>sourceSize</key>
    <string>{58,60}</string>
   </dict>
   <key>hero_ani_11226_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{283,122},{65,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,68}}</string>
    <key>sourceSize</key>
    <string>{65,68}</string>
   </dict>
   <key>hero_ani_11226_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,110},{76,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,79}}</string>
    <key>sourceSize</key>
    <string>{76,79}</string>
   </dict>
   <key>hero_ani_11226_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{108,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,108}}</string>
    <key>sourceSize</key>
    <string>{108,108}</string>
   </dict>
   <key>hero_ani_11226_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,23},{22,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,75}}</string>
    <key>sourceSize</key>
    <string>{22,75}</string>
   </dict>
   <key>hero_ani_11226_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{300,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,52}}</string>
    <key>sourceSize</key>
    <string>{300,52}</string>
   </dict>
   <key>hero_ani_11226_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{31,379},{146,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,52}}</string>
    <key>sourceSize</key>
    <string>{146,52}</string>
   </dict>
   <key>hero_ani_11226_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{179,385},{146,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,49}}</string>
    <key>sourceSize</key>
    <string>{146,49}</string>
   </dict>
   <key>hero_ani_11226_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,399},{144,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,49}}</string>
    <key>sourceSize</key>
    <string>{144,49}</string>
   </dict>
   <key>hero_ani_11226_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,186},{138,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{138,56}}</string>
    <key>sourceSize</key>
    <string>{138,56}</string>
   </dict>
   <key>hero_ani_11226_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,145},{133,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{133,73}}</string>
    <key>sourceSize</key>
    <string>{133,73}</string>
   </dict>
   <key>hero_ani_11226_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,329},{43,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,36}}</string>
    <key>sourceSize</key>
    <string>{43,36}</string>
   </dict>
   <key>hero_ani_11226_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{265,320},{44,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,42}}</string>
    <key>sourceSize</key>
    <string>{44,42}</string>
   </dict>
   <key>hero_ani_11226_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,320},{42,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,39}}</string>
    <key>sourceSize</key>
    <string>{42,39}</string>
   </dict>
   <key>hero_ani_11226_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,364},{29,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,27}}</string>
    <key>sourceSize</key>
    <string>{29,27}</string>
   </dict>
   <key>hero_ani_11226_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,340},{35,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,29}}</string>
    <key>sourceSize</key>
    <string>{35,29}</string>
   </dict>
   <key>hero_ani_11226_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,265},{60,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,53}}</string>
    <key>sourceSize</key>
    <string>{60,53}</string>
   </dict>
   <key>hero_ani_11226_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{418,329},{44,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,35}}</string>
    <key>sourceSize</key>
    <string>{44,35}</string>
   </dict>
   <key>hero_ani_11226_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{246,364},{28,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,19}}</string>
    <key>sourceSize</key>
    <string>{28,19}</string>
   </dict>
   <key>hero_ani_11226_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,23},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11226_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,77},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11226_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,303},{48,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,59}}</string>
    <key>sourceSize</key>
    <string>{48,59}</string>
   </dict>
   <key>hero_ani_11226_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{50,341},{28,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,36}}</string>
    <key>sourceSize</key>
    <string>{28,36}</string>
   </dict>
   <key>hero_ani_11226_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{341,343},{28,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,36}}</string>
    <key>sourceSize</key>
    <string>{28,36}</string>
   </dict>
   <key>hero_ani_11226_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{217,347},{27,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,36}}</string>
    <key>sourceSize</key>
    <string>{27,36}</string>
   </dict>
   <key>hero_ani_11226_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,347},{27,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,36}}</string>
    <key>sourceSize</key>
    <string>{27,36}</string>
   </dict>
   <key>hero_ani_11226_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{234,308},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
   <key>hero_ani_11226_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,110},{30,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,37}}</string>
    <key>sourceSize</key>
    <string>{30,37}</string>
   </dict>
   <key>hero_ani_11226_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,178},{25,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,37}}</string>
    <key>sourceSize</key>
    <string>{25,37}</string>
   </dict>
   <key>hero_ani_11226_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{236,220},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>hero_ani_11226_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,100},{25,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,37}}</string>
    <key>sourceSize</key>
    <string>{25,37}</string>
   </dict>
   <key>hero_ani_11226_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{311,343},{28,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,36}}</string>
    <key>sourceSize</key>
    <string>{28,36}</string>
   </dict>
   <key>hero_ani_11226_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{342,217},{33,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,36}}</string>
    <key>sourceSize</key>
    <string>{33,36}</string>
   </dict>
   <key>hero_ani_11226_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{342,255},{31,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,36}}</string>
    <key>sourceSize</key>
    <string>{31,36}</string>
   </dict>
   <key>hero_ani_11226_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{50,303},{30,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,36}}</string>
    <key>sourceSize</key>
    <string>{30,36}</string>
   </dict>
   <key>hero_ani_11226_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{236,264},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>hero_ani_11226_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,139},{25,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,37}}</string>
    <key>sourceSize</key>
    <string>{25,37}</string>
   </dict>
   <key>hero_ani_11226_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{371,361},{25,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,36}}</string>
    <key>sourceSize</key>
    <string>{25,36}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11226.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11226.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>