<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11429_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,244},{5,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,6}}</string>
        <key>sourceSize</key>
        <string>{5,6}</string>
      </dict>
      <key>hero_ani_11429_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,154},{7,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,17}}</string>
        <key>sourceSize</key>
        <string>{7,17}</string>
      </dict>
      <key>hero_ani_11429_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,146},{10,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,29}}</string>
        <key>sourceSize</key>
        <string>{10,29}</string>
      </dict>
      <key>hero_ani_11429_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,224},{6,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,18}}</string>
        <key>sourceSize</key>
        <string>{6,18}</string>
      </dict>
      <key>hero_ani_11429_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,173},{7,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,17}}</string>
        <key>sourceSize</key>
        <string>{7,17}</string>
      </dict>
      <key>hero_ani_11429_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,284},{57,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,56}}</string>
        <key>sourceSize</key>
        <string>{57,56}</string>
      </dict>
      <key>hero_ani_11429_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,224},{65,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,58}}</string>
        <key>sourceSize</key>
        <string>{65,58}</string>
      </dict>
      <key>hero_ani_11429_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,220},{66,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{66,60}</string>
      </dict>
      <key>hero_ani_11429_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,282},{61,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,58}}</string>
        <key>sourceSize</key>
        <string>{61,58}</string>
      </dict>
      <key>hero_ani_11429_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,192},{7,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,17}}</string>
        <key>sourceSize</key>
        <string>{7,17}</string>
      </dict>
      <key>hero_ani_11429_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,342},{23,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,20}}</string>
        <key>sourceSize</key>
        <string>{23,20}</string>
      </dict>
      <key>hero_ani_11429_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,211},{12,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,23}}</string>
        <key>sourceSize</key>
        <string>{12,23}</string>
      </dict>
      <key>hero_ani_11429_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,253},{20,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,21}}</string>
        <key>sourceSize</key>
        <string>{20,21}</string>
      </dict>
      <key>hero_ani_11429_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,342},{23,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,25}}</string>
        <key>sourceSize</key>
        <string>{23,25}</string>
      </dict>
      <key>hero_ani_11429_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,220},{50,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,63}}</string>
        <key>sourceSize</key>
        <string>{50,63}</string>
      </dict>
      <key>hero_ani_11429_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,110},{3,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,18}}</string>
        <key>sourceSize</key>
        <string>{3,18}</string>
      </dict>
      <key>hero_ani_11429_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,364},{30,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,7}}</string>
        <key>sourceSize</key>
        <string>{30,7}</string>
      </dict>
      <key>hero_ani_11429_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,249},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>hero_ani_11429_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,121},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11429_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,252},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>hero_ani_11429_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,208},{44,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,82}}</string>
        <key>sourceSize</key>
        <string>{44,82}</string>
      </dict>
      <key>hero_ani_11429_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,259},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>hero_ani_11429_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,110},{4,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,50}}</string>
        <key>sourceSize</key>
        <string>{4,50}</string>
      </dict>
      <key>hero_ani_11429_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,334},{23,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,25}}</string>
        <key>sourceSize</key>
        <string>{23,25}</string>
      </dict>
      <key>hero_ani_11429_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,360},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,26}}</string>
        <key>sourceSize</key>
        <string>{30,26}</string>
      </dict>
      <key>hero_ani_11429_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,251},{17,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,6}}</string>
        <key>sourceSize</key>
        <string>{17,6}</string>
      </dict>
      <key>hero_ani_11429_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,236},{8,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,15}}</string>
        <key>sourceSize</key>
        <string>{8,15}</string>
      </dict>
      <key>hero_ani_11429_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,229},{15,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,15}}</string>
        <key>sourceSize</key>
        <string>{15,15}</string>
      </dict>
      <key>hero_ani_11429_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,246},{8,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,15}}</string>
        <key>sourceSize</key>
        <string>{8,15}</string>
      </dict>
      <key>hero_ani_11429_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,234},{15,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,15}}</string>
        <key>sourceSize</key>
        <string>{15,15}</string>
      </dict>
      <key>hero_ani_11429_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,342},{65,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,11}}</string>
        <key>sourceSize</key>
        <string>{65,11}</string>
      </dict>
      <key>hero_ani_11429_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,212},{15,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,20}}</string>
        <key>sourceSize</key>
        <string>{15,20}</string>
      </dict>
      <key>hero_ani_11429_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,129},{115,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,89}}</string>
        <key>sourceSize</key>
        <string>{115,89}</string>
      </dict>
      <key>hero_ani_11429_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,0},{144,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,127}}</string>
        <key>sourceSize</key>
        <string>{144,127}</string>
      </dict>
      <key>hero_ani_11429_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{170,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,119}}</string>
        <key>sourceSize</key>
        <string>{170,119}</string>
      </dict>
      <key>hero_ani_11429_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,110},{143,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,112}}</string>
        <key>sourceSize</key>
        <string>{143,112}</string>
      </dict>
      <key>hero_ani_11429_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{165,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,108}}</string>
        <key>sourceSize</key>
        <string>{165,108}</string>
      </dict>
      <key>hero_ani_11429_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,121},{157,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,85}}</string>
        <key>sourceSize</key>
        <string>{157,85}</string>
      </dict>
      <key>hero_ani_11429_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,208},{91,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,68}}</string>
        <key>sourceSize</key>
        <string>{91,68}</string>
      </dict>
      <key>hero_ani_11429_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,317},{35,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,50}}</string>
        <key>sourceSize</key>
        <string>{35,50}</string>
      </dict>
      <key>hero_ani_11429_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,292},{35,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,50}}</string>
        <key>sourceSize</key>
        <string>{35,50}</string>
      </dict>
      <key>hero_ani_11429_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,286},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>hero_ani_11429_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,278},{62,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,59}}</string>
        <key>sourceSize</key>
        <string>{62,59}</string>
      </dict>
      <key>hero_ani_11429_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,224},{66,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{66,60}</string>
      </dict>
      <key>hero_ani_11429_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,285},{53,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,55}}</string>
        <key>sourceSize</key>
        <string>{53,55}</string>
      </dict>
      <key>hero_ani_11429_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,177},{15,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,33}}</string>
        <key>sourceSize</key>
        <string>{15,33}</string>
      </dict>
      <key>hero_ani_11429_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,338},{49,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,49}}</string>
        <key>sourceSize</key>
        <string>{49,49}</string>
      </dict>
      <key>hero_ani_11429_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,208},{17,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,19}}</string>
        <key>sourceSize</key>
        <string>{17,19}</string>
      </dict>
      <key>hero_ani_11429_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,110},{8,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,34}}</string>
        <key>sourceSize</key>
        <string>{8,34}</string>
      </dict>
      <key>hero_ani_11429_901.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,138},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11429_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,130},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11429_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,208},{25,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,39}}</string>
        <key>sourceSize</key>
        <string>{25,39}</string>
      </dict>
      <key>hero_ani_11429_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,167},{25,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,39}}</string>
        <key>sourceSize</key>
        <string>{25,39}</string>
      </dict>
      <key>hero_ani_11429_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,0},{25,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,40}}</string>
        <key>sourceSize</key>
        <string>{25,40}</string>
      </dict>
      <key>hero_ani_11429_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,42},{25,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,40}}</string>
        <key>sourceSize</key>
        <string>{25,40}</string>
      </dict>
      <key>hero_ani_11429_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,126},{25,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,39}}</string>
        <key>sourceSize</key>
        <string>{25,39}</string>
      </dict>
      <key>hero_ani_11429_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,84},{25,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,40}}</string>
        <key>sourceSize</key>
        <string>{25,40}</string>
      </dict>
      <key>hero_ani_11429_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,170},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>hero_ani_11429_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,319},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>hero_ani_11429_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,293},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>hero_ani_11429_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,339},{38,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,39}}</string>
        <key>sourceSize</key>
        <string>{38,39}</string>
      </dict>
      <key>hero_ani_11429_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,342},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>hero_ani_11429_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,355},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>hero_ani_11429_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,211},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>hero_ani_11429_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,129},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>hero_ani_11429_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,276},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>hero_ani_11429_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,355},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>hero_ani_11429_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,285},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>hero_ani_11429_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,357},{31,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,32}}</string>
        <key>sourceSize</key>
        <string>{31,32}</string>
      </dict>
      <key>hero_ani_11429_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,326},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>hero_ani_11429_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,344},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>hero_ani_11429_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,342},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>hero_ani_11429_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,275},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>hero_ani_11429_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,316},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>hero_ani_11429_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,278},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>hero_ani_11429_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,134},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11429.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11429.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>