<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11298_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{94,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,57}}</string>
        <key>sourceSize</key>
        <string>{94,57}</string>
      </dict>
      <key>hero_ani_11298_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,59},{60,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,59}}</string>
        <key>sourceSize</key>
        <string>{60,59}</string>
      </dict>
      <key>hero_ani_11298_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,0},{60,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,59}}</string>
        <key>sourceSize</key>
        <string>{60,59}</string>
      </dict>
      <key>hero_ani_11298_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,61},{60,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,59}}</string>
        <key>sourceSize</key>
        <string>{60,59}</string>
      </dict>
      <key>hero_ani_11298_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,64},{60,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,59}}</string>
        <key>sourceSize</key>
        <string>{60,59}</string>
      </dict>
      <key>hero_ani_11298_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,64},{60,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,59}}</string>
        <key>sourceSize</key>
        <string>{60,59}</string>
      </dict>
      <key>hero_ani_11298_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,64},{60,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,59}}</string>
        <key>sourceSize</key>
        <string>{60,59}</string>
      </dict>
      <key>hero_ani_11298_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,61},{60,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,59}}</string>
        <key>sourceSize</key>
        <string>{60,59}</string>
      </dict>
      <key>hero_ani_11298_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{60,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,59}}</string>
        <key>sourceSize</key>
        <string>{60,59}</string>
      </dict>
      <key>hero_ani_11298_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,0},{60,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,59}}</string>
        <key>sourceSize</key>
        <string>{60,59}</string>
      </dict>
      <key>hero_ani_11298_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,177},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>hero_ani_11298_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,122},{61,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,53}}</string>
        <key>sourceSize</key>
        <string>{61,53}</string>
      </dict>
      <key>hero_ani_11298_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,122},{61,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,53}}</string>
        <key>sourceSize</key>
        <string>{61,53}</string>
      </dict>
      <key>hero_ani_11298_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,152},{61,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,53}}</string>
        <key>sourceSize</key>
        <string>{61,53}</string>
      </dict>
      <key>hero_ani_11298_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,125},{61,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,53}}</string>
        <key>sourceSize</key>
        <string>{61,53}</string>
      </dict>
      <key>hero_ani_11298_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,0},{27,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,27}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>hero_ani_11298_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,0},{85,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,62}}</string>
        <key>sourceSize</key>
        <string>{85,62}</string>
      </dict>
      <key>hero_ani_11298_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{85,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,62}}</string>
        <key>sourceSize</key>
        <string>{85,62}</string>
      </dict>
      <key>hero_ani_11298_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,0},{85,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,62}}</string>
        <key>sourceSize</key>
        <string>{85,62}</string>
      </dict>
      <key>hero_ani_11298_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,29},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11298_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,236},{47,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,41}}</string>
        <key>sourceSize</key>
        <string>{47,41}</string>
      </dict>
      <key>hero_ani_11298_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,233},{42,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,47}}</string>
        <key>sourceSize</key>
        <string>{42,47}</string>
      </dict>
      <key>hero_ani_11298_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,232},{42,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,47}}</string>
        <key>sourceSize</key>
        <string>{42,47}</string>
      </dict>
      <key>hero_ani_11298_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,233},{42,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,47}}</string>
        <key>sourceSize</key>
        <string>{42,47}</string>
      </dict>
      <key>hero_ani_11298_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,233},{42,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,47}}</string>
        <key>sourceSize</key>
        <string>{42,47}</string>
      </dict>
      <key>hero_ani_11298_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,233},{42,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,47}}</string>
        <key>sourceSize</key>
        <string>{42,47}</string>
      </dict>
      <key>hero_ani_11298_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,29},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11298_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,29},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11298_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,125},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>hero_ani_11298_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,177},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>hero_ani_11298_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,180},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>hero_ani_11298_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,181},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>hero_ani_11298_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,181},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>hero_ani_11298_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,177},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>hero_ani_11298_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,181},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>hero_ani_11298_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,120},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>hero_ani_11298_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,177},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>hero_ani_11298_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,207},{37,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,54}}</string>
        <key>sourceSize</key>
        <string>{37,54}</string>
      </dict>
      <key>hero_ani_11298_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,207},{38,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,54}}</string>
        <key>sourceSize</key>
        <string>{38,54}</string>
      </dict>
      <key>hero_ani_11298_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,108},{57,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,42}}</string>
        <key>sourceSize</key>
        <string>{57,42}</string>
      </dict>
      <key>hero_ani_11298_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,64},{57,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,42}}</string>
        <key>sourceSize</key>
        <string>{57,42}</string>
      </dict>
      <key>hero_ani_11298_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,125},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>hero_ani_11298_199.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,64},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>hero_ani_11298_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,176},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11298.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11298.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>