<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11612_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,132},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11612_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,0},{23,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,123}}</string>
        <key>sourceSize</key>
        <string>{23,123}</string>
      </dict>
      <key>hero_ani_11612_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,23},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>hero_ani_11612_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,23},{139,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>hero_ani_11612_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{93,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>hero_ani_11612_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{375,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,21}}</string>
        <key>sourceSize</key>
        <string>{375,21}</string>
      </dict>
      <key>hero_ani_11612_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,23},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11612_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,146},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11612_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,181},{80,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,18}}</string>
        <key>sourceSize</key>
        <string>{80,18}</string>
      </dict>
      <key>hero_ani_11612_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,166},{81,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,21}}</string>
        <key>sourceSize</key>
        <string>{81,21}</string>
      </dict>
      <key>hero_ani_11612_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,189},{79,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,18}}</string>
        <key>sourceSize</key>
        <string>{79,18}</string>
      </dict>
      <key>hero_ani_11612_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,97},{74,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,64}}</string>
        <key>sourceSize</key>
        <string>{74,64}</string>
      </dict>
      <key>hero_ani_11612_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,115},{78,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,64}}</string>
        <key>sourceSize</key>
        <string>{78,64}</string>
      </dict>
      <key>hero_ani_11612_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,100},{80,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,64}}</string>
        <key>sourceSize</key>
        <string>{80,64}</string>
      </dict>
      <key>hero_ani_11612_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,209},{87,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,20}}</string>
        <key>sourceSize</key>
        <string>{87,20}</string>
      </dict>
      <key>hero_ani_11612_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,211},{88,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,18}}</string>
        <key>sourceSize</key>
        <string>{88,18}</string>
      </dict>
      <key>hero_ani_11612_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,189},{89,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,20}}</string>
        <key>sourceSize</key>
        <string>{89,20}</string>
      </dict>
      <key>hero_ani_11612_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,23},{82,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,90}}</string>
        <key>sourceSize</key>
        <string>{82,90}</string>
      </dict>
      <key>hero_ani_11612_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,231},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,160},{90,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,27}}</string>
        <key>sourceSize</key>
        <string>{90,27}</string>
      </dict>
      <key>hero_ani_11612_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{94,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,98}}</string>
        <key>sourceSize</key>
        <string>{94,98}</string>
      </dict>
      <key>hero_ani_11612_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,256},{34,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,29}}</string>
        <key>sourceSize</key>
        <string>{34,29}</string>
      </dict>
      <key>hero_ani_11612_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,259},{34,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,28}}</string>
        <key>sourceSize</key>
        <string>{34,28}</string>
      </dict>
      <key>hero_ani_11612_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,259},{34,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,24}}</string>
        <key>sourceSize</key>
        <string>{34,24}</string>
      </dict>
      <key>hero_ani_11612_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,100},{29,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,19}}</string>
        <key>sourceSize</key>
        <string>{29,19}</string>
      </dict>
      <key>hero_ani_11612_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,89},{13,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,6}}</string>
        <key>sourceSize</key>
        <string>{13,6}</string>
      </dict>
      <key>hero_ani_11612_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,0},{1,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,47}}</string>
        <key>sourceSize</key>
        <string>{1,47}</string>
      </dict>
      <key>hero_ani_11612_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,89},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>hero_ani_11612_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,125},{32,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,54}}</string>
        <key>sourceSize</key>
        <string>{32,54}</string>
      </dict>
      <key>hero_ani_11612_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,231},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_994.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,163},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,17}}</string>
        <key>sourceSize</key>
        <string>{17,17}</string>
      </dict>
      <key>hero_ani_11612_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,248},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>hero_ani_11612_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,49},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11612_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,240},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,163},{58,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,26}}</string>
        <key>sourceSize</key>
        <string>{58,26}</string>
      </dict>
      <key>hero_ani_11612_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,147},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>hero_ani_11612_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,121},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>hero_ani_11612_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,173},{22,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,20}}</string>
        <key>sourceSize</key>
        <string>{22,20}</string>
      </dict>
      <key>hero_ani_11612_042.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11612_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,191},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,231},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,201},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,240},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_993.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,231},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,202},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,230},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,220},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,209},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,201},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,191},{37,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,37}}</string>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
      <key>hero_ani_11612_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,178},{45,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,37}}</string>
        <key>sourceSize</key>
        <string>{45,37}</string>
      </dict>
      <key>hero_ani_11612_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,181},{37,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,37}}</string>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
      <key>hero_ani_11612_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,241},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,230},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_11612_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,217},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11612.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11612.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>