<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11623_2524.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,158},{14,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,16}}</string>
    <key>sourceSize</key>
    <string>{14,16}</string>
   </dict>
   <key>hero_ani_11623_2523.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,176},{14,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,16}}</string>
    <key>sourceSize</key>
    <string>{14,16}</string>
   </dict>
   <key>hero_ani_11623_2522.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,131},{7,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,11}}</string>
    <key>sourceSize</key>
    <string>{7,11}</string>
   </dict>
   <key>hero_ani_11623_154.png</key>
   <dict>
    <key>frame</key>
    <string>{{344,161},{60,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,29}}</string>
    <key>sourceSize</key>
    <string>{60,29}</string>
   </dict>
   <key>hero_ani_11623_155.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,115},{81,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,33}}</string>
    <key>sourceSize</key>
    <string>{81,33}</string>
   </dict>
   <key>hero_ani_11623_152.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,253},{51,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,19}}</string>
    <key>sourceSize</key>
    <string>{51,19}</string>
   </dict>
   <key>hero_ani_11623_229.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,60},{17,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,58}}</string>
    <key>sourceSize</key>
    <string>{17,58}</string>
   </dict>
   <key>hero_ani_11623_226.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,182},{24,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,59}}</string>
    <key>sourceSize</key>
    <string>{24,59}</string>
   </dict>
   <key>hero_ani_11623_223.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,161},{28,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,60}}</string>
    <key>sourceSize</key>
    <string>{28,60}</string>
   </dict>
   <key>hero_ani_11623_220.png</key>
   <dict>
    <key>frame</key>
    <string>{{83,115},{38,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,61}}</string>
    <key>sourceSize</key>
    <string>{38,61}</string>
   </dict>
   <key>hero_ani_11623_217.png</key>
   <dict>
    <key>frame</key>
    <string>{{48,150},{32,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,60}}</string>
    <key>sourceSize</key>
    <string>{32,60}</string>
   </dict>
   <key>hero_ani_11623_214.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,238},{27,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,39}}</string>
    <key>sourceSize</key>
    <string>{27,39}</string>
   </dict>
   <key>hero_ani_11623_211.png</key>
   <dict>
    <key>frame</key>
    <string>{{23,296},{21,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,31}}</string>
    <key>sourceSize</key>
    <string>{21,31}</string>
   </dict>
   <key>hero_ani_11623_230.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,0},{17,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,58}}</string>
    <key>sourceSize</key>
    <string>{17,58}</string>
   </dict>
   <key>hero_ani_11623_227.png</key>
   <dict>
    <key>frame</key>
    <string>{{436,188},{24,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,59}}</string>
    <key>sourceSize</key>
    <string>{24,59}</string>
   </dict>
   <key>hero_ani_11623_224.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,120},{28,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,60}}</string>
    <key>sourceSize</key>
    <string>{28,60}</string>
   </dict>
   <key>hero_ani_11623_221.png</key>
   <dict>
    <key>frame</key>
    <string>{{447,0},{38,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,61}}</string>
    <key>sourceSize</key>
    <string>{38,61}</string>
   </dict>
   <key>hero_ani_11623_218.png</key>
   <dict>
    <key>frame</key>
    <string>{{436,126},{32,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,60}}</string>
    <key>sourceSize</key>
    <string>{32,60}</string>
   </dict>
   <key>hero_ani_11623_215.png</key>
   <dict>
    <key>frame</key>
    <string>{{301,249},{27,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,39}}</string>
    <key>sourceSize</key>
    <string>{27,39}</string>
   </dict>
   <key>hero_ani_11623_212.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,285},{21,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,31}}</string>
    <key>sourceSize</key>
    <string>{21,31}</string>
   </dict>
   <key>hero_ani_11623_228.png</key>
   <dict>
    <key>frame</key>
    <string>{{370,192},{17,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,58}}</string>
    <key>sourceSize</key>
    <string>{17,58}</string>
   </dict>
   <key>hero_ani_11623_225.png</key>
   <dict>
    <key>frame</key>
    <string>{{344,192},{24,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,59}}</string>
    <key>sourceSize</key>
    <string>{24,59}</string>
   </dict>
   <key>hero_ani_11623_222.png</key>
   <dict>
    <key>frame</key>
    <string>{{123,177},{28,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,60}}</string>
    <key>sourceSize</key>
    <string>{28,60}</string>
   </dict>
   <key>hero_ani_11623_219.png</key>
   <dict>
    <key>frame</key>
    <string>{{440,63},{38,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,61}}</string>
    <key>sourceSize</key>
    <string>{38,61}</string>
   </dict>
   <key>hero_ani_11623_216.png</key>
   <dict>
    <key>frame</key>
    <string>{{123,115},{32,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,60}}</string>
    <key>sourceSize</key>
    <string>{32,60}</string>
   </dict>
   <key>hero_ani_11623_213.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,243},{27,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,39}}</string>
    <key>sourceSize</key>
    <string>{27,39}</string>
   </dict>
   <key>hero_ani_11623_210.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,279},{21,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,31}}</string>
    <key>sourceSize</key>
    <string>{21,31}</string>
   </dict>
   <key>hero_ani_11623_159.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,232},{37,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,37}}</string>
    <key>sourceSize</key>
    <string>{37,37}</string>
   </dict>
   <key>hero_ani_11623_160.png</key>
   <dict>
    <key>frame</key>
    <string>{{153,232},{37,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,37}}</string>
    <key>sourceSize</key>
    <string>{37,37}</string>
   </dict>
   <key>hero_ani_11623_139.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,239},{42,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,28}}</string>
    <key>sourceSize</key>
    <string>{42,28}</string>
   </dict>
   <key>hero_ani_11623_158.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,150},{46,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,46}}</string>
    <key>sourceSize</key>
    <string>{46,46}</string>
   </dict>
   <key>hero_ani_11623_252.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,57},{81,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,56}}</string>
    <key>sourceSize</key>
    <string>{81,56}</string>
   </dict>
   <key>hero_ani_11623_251.png</key>
   <dict>
    <key>frame</key>
    <string>{{174,153},{83,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,46}}</string>
    <key>sourceSize</key>
    <string>{83,46}</string>
   </dict>
   <key>hero_ani_11623_250.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,55},{88,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,53}}</string>
    <key>sourceSize</key>
    <string>{88,53}</string>
   </dict>
   <key>hero_ani_11623_249.png</key>
   <dict>
    <key>frame</key>
    <string>{{178,0},{87,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,55}}</string>
    <key>sourceSize</key>
    <string>{87,55}</string>
   </dict>
   <key>hero_ani_11623_248.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,105},{86,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,46}}</string>
    <key>sourceSize</key>
    <string>{86,46}</string>
   </dict>
   <key>hero_ani_11623_247.png</key>
   <dict>
    <key>frame</key>
    <string>{{153,201},{50,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,29}}</string>
    <key>sourceSize</key>
    <string>{50,29}</string>
   </dict>
   <key>hero_ani_11623_246.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,55},{81,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,56}}</string>
    <key>sourceSize</key>
    <string>{81,56}</string>
   </dict>
   <key>hero_ani_11623_245.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,113},{83,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,46}}</string>
    <key>sourceSize</key>
    <string>{83,46}</string>
   </dict>
   <key>hero_ani_11623_244.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,0},{88,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,53}}</string>
    <key>sourceSize</key>
    <string>{88,53}</string>
   </dict>
   <key>hero_ani_11623_243.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{87,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,55}}</string>
    <key>sourceSize</key>
    <string>{87,55}</string>
   </dict>
   <key>hero_ani_11623_242.png</key>
   <dict>
    <key>frame</key>
    <string>{{263,110},{86,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,46}}</string>
    <key>sourceSize</key>
    <string>{86,46}</string>
   </dict>
   <key>hero_ani_11623_241.png</key>
   <dict>
    <key>frame</key>
    <string>{{205,201},{50,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,29}}</string>
    <key>sourceSize</key>
    <string>{50,29}</string>
   </dict>
   <key>hero_ani_11623_240.png</key>
   <dict>
    <key>frame</key>
    <string>{{83,57},{81,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,56}}</string>
    <key>sourceSize</key>
    <string>{81,56}</string>
   </dict>
   <key>hero_ani_11623_239.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,158},{83,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,46}}</string>
    <key>sourceSize</key>
    <string>{83,46}</string>
   </dict>
   <key>hero_ani_11623_238.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,0},{88,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,53}}</string>
    <key>sourceSize</key>
    <string>{88,53}</string>
   </dict>
   <key>hero_ani_11623_237.png</key>
   <dict>
    <key>frame</key>
    <string>{{89,0},{87,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,55}}</string>
    <key>sourceSize</key>
    <string>{87,55}</string>
   </dict>
   <key>hero_ani_11623_236.png</key>
   <dict>
    <key>frame</key>
    <string>{{178,57},{86,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,46}}</string>
    <key>sourceSize</key>
    <string>{86,46}</string>
   </dict>
   <key>hero_ani_11623_235.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,206},{50,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,29}}</string>
    <key>sourceSize</key>
    <string>{50,29}</string>
   </dict>
   <key>hero_ani_11623_2533.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,126},{7,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,11}}</string>
    <key>sourceSize</key>
    <string>{7,11}</string>
   </dict>
   <key>hero_ani_11623_146.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,178},{24,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,61}}</string>
    <key>sourceSize</key>
    <string>{24,61}</string>
   </dict>
   <key>hero_ani_11623_106.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,57},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11623_2532.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,145},{7,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,5}}</string>
    <key>sourceSize</key>
    <string>{7,5}</string>
   </dict>
   <key>hero_ani_11623_2531.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,132},{7,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,11}}</string>
    <key>sourceSize</key>
    <string>{7,11}</string>
   </dict>
   <key>hero_ani_11623_2529.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,90},{7,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,19}}</string>
    <key>sourceSize</key>
    <string>{7,19}</string>
   </dict>
   <key>hero_ani_11623_2528.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,111},{7,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,18}}</string>
    <key>sourceSize</key>
    <string>{7,18}</string>
   </dict>
   <key>hero_ani_11623_2527.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,115},{7,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,15}}</string>
    <key>sourceSize</key>
    <string>{7,15}</string>
   </dict>
   <key>hero_ani_11623_2526.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,139},{6,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,12}}</string>
    <key>sourceSize</key>
    <string>{6,12}</string>
   </dict>
   <key>hero_ani_11623_2525.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,144},{6,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,12}}</string>
    <key>sourceSize</key>
    <string>{6,12}</string>
   </dict>
   <key>hero_ani_11623_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,274},{22,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,41}}</string>
    <key>sourceSize</key>
    <string>{22,41}</string>
   </dict>
   <key>hero_ani_11623_144.png</key>
   <dict>
    <key>frame</key>
    <string>{{389,223},{38,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,38}}</string>
    <key>sourceSize</key>
    <string>{38,38}</string>
   </dict>
   <key>hero_ani_11623_145.png</key>
   <dict>
    <key>frame</key>
    <string>{{40,212},{38,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,38}}</string>
    <key>sourceSize</key>
    <string>{38,38}</string>
   </dict>
   <key>hero_ani_11623_143.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,198},{38,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,38}}</string>
    <key>sourceSize</key>
    <string>{38,38}</string>
   </dict>
   <key>hero_ani_11623_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{323,318},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,318},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{408,293},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{449,301},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{282,307},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_165.png</key>
   <dict>
    <key>frame</key>
    <string>{{220,319},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_164.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,314},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_163.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,327},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_162.png</key>
   <dict>
    <key>frame</key>
    <string>{{46,318},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_161.png</key>
   <dict>
    <key>frame</key>
    <string>{{261,324},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{419,318},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{378,310},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{179,315},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,284},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{282,290},{39,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,15}}</string>
    <key>sourceSize</key>
    <string>{39,15}</string>
   </dict>
   <key>hero_ani_11623_138.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,237},{42,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,28}}</string>
    <key>sourceSize</key>
    <string>{42,28}</string>
   </dict>
   <key>hero_ani_11623_137.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,314},{33,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,19}}</string>
    <key>sourceSize</key>
    <string>{33,19}</string>
   </dict>
   <key>hero_ani_11623_136.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,329},{33,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,19}}</string>
    <key>sourceSize</key>
    <string>{33,19}</string>
   </dict>
   <key>hero_ani_11623_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{506,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11623_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11623_103.png</key>
   <dict>
    <key>frame</key>
    <string>{{231,232},{24,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,42}}</string>
    <key>sourceSize</key>
    <string>{24,42}</string>
   </dict>
   <key>hero_ani_11623_104.png</key>
   <dict>
    <key>frame</key>
    <string>{{29,252},{24,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,42}}</string>
    <key>sourceSize</key>
    <string>{24,42}</string>
   </dict>
   <key>hero_ani_11623_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{429,249},{24,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,42}}</string>
    <key>sourceSize</key>
    <string>{24,42}</string>
   </dict>
   <key>hero_ani_11623_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{55,252},{23,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,42}}</string>
    <key>sourceSize</key>
    <string>{23,42}</string>
   </dict>
   <key>hero_ani_11623_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,267},{23,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,42}}</string>
    <key>sourceSize</key>
    <string>{23,42}</string>
   </dict>
   <key>hero_ani_11623_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,241},{24,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,42}}</string>
    <key>sourceSize</key>
    <string>{24,42}</string>
   </dict>
   <key>hero_ani_11623_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{383,263},{23,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,42}}</string>
    <key>sourceSize</key>
    <string>{23,42}</string>
   </dict>
   <key>hero_ani_11623_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{181,271},{22,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,42}}</string>
    <key>sourceSize</key>
    <string>{22,42}</string>
   </dict>
   <key>hero_ani_11623_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{106,269},{23,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,41}}</string>
    <key>sourceSize</key>
    <string>{23,41}</string>
   </dict>
   <key>hero_ani_11623_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,274},{22,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,42}}</string>
    <key>sourceSize</key>
    <string>{22,42}</string>
   </dict>
   <key>hero_ani_11623_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{309,206},{27,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,41}}</string>
    <key>sourceSize</key>
    <string>{27,41}</string>
   </dict>
   <key>hero_ani_11623_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,271},{23,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,41}}</string>
    <key>sourceSize</key>
    <string>{23,41}</string>
   </dict>
   <key>hero_ani_11623_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{131,271},{23,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,41}}</string>
    <key>sourceSize</key>
    <string>{23,41}</string>
   </dict>
   <key>hero_ani_11623_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{205,271},{22,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,42}}</string>
    <key>sourceSize</key>
    <string>{22,42}</string>
   </dict>
   <key>hero_ani_11623_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{229,276},{22,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,41}}</string>
    <key>sourceSize</key>
    <string>{22,41}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11623.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11623.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>