<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11619_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,224},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11619_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{475,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11619_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{226,108},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11619_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11619_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,244},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11619_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11619_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{303,154},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11619_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{85,132},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11619_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{139,261},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>hero_ani_11619_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{273,182},{26,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,53}}</string>
    <key>sourceSize</key>
    <string>{26,53}</string>
   </dict>
   <key>hero_ani_11619_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,192},{70,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,28}}</string>
    <key>sourceSize</key>
    <string>{70,28}</string>
   </dict>
   <key>hero_ani_11619_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,224},{34,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,56}}</string>
    <key>sourceSize</key>
    <string>{34,56}</string>
   </dict>
   <key>hero_ani_11619_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{465,125},{35,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,56}}</string>
    <key>sourceSize</key>
    <string>{35,56}</string>
   </dict>
   <key>hero_ani_11619_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,260},{37,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,47}}</string>
    <key>sourceSize</key>
    <string>{37,47}</string>
   </dict>
   <key>hero_ani_11619_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,309},{32,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,10}}</string>
    <key>sourceSize</key>
    <string>{32,10}</string>
   </dict>
   <key>hero_ani_11619_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{370,85},{93,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,68}}</string>
    <key>sourceSize</key>
    <string>{93,68}</string>
   </dict>
   <key>hero_ani_11619_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{312,97},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11619_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{51,183},{30,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,49}}</string>
    <key>sourceSize</key>
    <string>{30,49}</string>
   </dict>
   <key>hero_ani_11619_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{358,244},{37,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,47}}</string>
    <key>sourceSize</key>
    <string>{37,47}</string>
   </dict>
   <key>hero_ani_11619_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,33},{10,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,23}}</string>
    <key>sourceSize</key>
    <string>{10,23}</string>
   </dict>
   <key>hero_ani_11619_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,307},{28,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,25}}</string>
    <key>sourceSize</key>
    <string>{28,25}</string>
   </dict>
   <key>hero_ani_11619_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{180,272},{42,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,31}}</string>
    <key>sourceSize</key>
    <string>{42,31}</string>
   </dict>
   <key>hero_ani_11619_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,222},{53,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,37}}</string>
    <key>sourceSize</key>
    <string>{53,37}</string>
   </dict>
   <key>hero_ani_11619_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{83,188},{56,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,39}}</string>
    <key>sourceSize</key>
    <string>{56,39}</string>
   </dict>
   <key>hero_ani_11619_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{301,220},{55,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,38}}</string>
    <key>sourceSize</key>
    <string>{55,38}</string>
   </dict>
   <key>hero_ani_11619_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,204},{57,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,38}}</string>
    <key>sourceSize</key>
    <string>{57,38}</string>
   </dict>
   <key>hero_ani_11619_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,183},{57,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,39}}</string>
    <key>sourceSize</key>
    <string>{57,39}</string>
   </dict>
   <key>hero_ani_11619_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{83,229},{54,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,34}}</string>
    <key>sourceSize</key>
    <string>{54,34}</string>
   </dict>
   <key>hero_ani_11619_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,0},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11619_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{83,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,49}}</string>
    <key>sourceSize</key>
    <string>{83,49}</string>
   </dict>
   <key>hero_ani_11619_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,155},{79,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,47}}</string>
    <key>sourceSize</key>
    <string>{79,47}</string>
   </dict>
   <key>hero_ani_11619_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{96,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,83}}</string>
    <key>sourceSize</key>
    <string>{96,83}</string>
   </dict>
   <key>hero_ani_11619_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,23},{83,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,89}}</string>
    <key>sourceSize</key>
    <string>{83,89}</string>
   </dict>
   <key>hero_ani_11619_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{226,23},{84,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,83}}</string>
    <key>sourceSize</key>
    <string>{84,83}</string>
   </dict>
   <key>hero_ani_11619_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,114},{71,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,76}}</string>
    <key>sourceSize</key>
    <string>{71,76}</string>
   </dict>
   <key>hero_ani_11619_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{312,23},{56,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,72}}</string>
    <key>sourceSize</key>
    <string>{56,72}</string>
   </dict>
   <key>hero_ani_11619_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,183},{49,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,53}}</string>
    <key>sourceSize</key>
    <string>{49,53}</string>
   </dict>
   <key>hero_ani_11619_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,238},{49,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,37}}</string>
    <key>sourceSize</key>
    <string>{49,37}</string>
   </dict>
   <key>hero_ani_11619_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,265},{44,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,38}}</string>
    <key>sourceSize</key>
    <string>{44,38}</string>
   </dict>
   <key>hero_ani_11619_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,270},{37,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,43}}</string>
    <key>sourceSize</key>
    <string>{37,43}</string>
   </dict>
   <key>hero_ani_11619_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,293},{31,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,36}}</string>
    <key>sourceSize</key>
    <string>{31,36}</string>
   </dict>
   <key>hero_ani_11619_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{214,182},{57,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,60}}</string>
    <key>sourceSize</key>
    <string>{57,60}</string>
   </dict>
   <key>hero_ani_11619_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{370,23},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11619_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{370,27},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11619_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,272},{35,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,38}}</string>
    <key>sourceSize</key>
    <string>{35,38}</string>
   </dict>
   <key>hero_ani_11619_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,277},{32,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,38}}</string>
    <key>sourceSize</key>
    <string>{32,38}</string>
   </dict>
   <key>hero_ani_11619_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{180,305},{28,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,38}}</string>
    <key>sourceSize</key>
    <string>{28,38}</string>
   </dict>
   <key>hero_ani_11619_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{51,234},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
   <key>hero_ani_11619_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,293},{28,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,38}}</string>
    <key>sourceSize</key>
    <string>{28,38}</string>
   </dict>
   <key>hero_ani_11619_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,305},{28,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,38}}</string>
    <key>sourceSize</key>
    <string>{28,38}</string>
   </dict>
   <key>hero_ani_11619_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{261,272},{28,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,38}}</string>
    <key>sourceSize</key>
    <string>{28,38}</string>
   </dict>
   <key>hero_ani_11619_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,282},{32,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,37}}</string>
    <key>sourceSize</key>
    <string>{32,37}</string>
   </dict>
   <key>hero_ani_11619_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{51,273},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
   <key>hero_ani_11619_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{397,244},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
   <key>hero_ani_11619_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{397,283},{28,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,38}}</string>
    <key>sourceSize</key>
    <string>{28,38}</string>
   </dict>
   <key>hero_ani_11619_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,307},{28,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,37}}</string>
    <key>sourceSize</key>
    <string>{28,37}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11619.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11619.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>