<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11206_101.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,352},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11206_102.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,134},{23,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,123}}</string>
        <key>sourceSize</key>
        <string>{23,123}</string>
      </dict>
      <key>hero_ani_11206_103.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,259},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>hero_ani_11206_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,23},{139,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>hero_ani_11206_104.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,314},{93,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>hero_ani_11206_106.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{375,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,21}}</string>
        <key>sourceSize</key>
        <string>{375,21}</string>
      </dict>
      <key>hero_ani_11206_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,301},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11206_99.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,367},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11206_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,134},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>hero_ani_11206_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,117},{16,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,26}}</string>
        <key>sourceSize</key>
        <string>{16,26}</string>
      </dict>
      <key>hero_ani_11206_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,145},{13,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,24}}</string>
        <key>sourceSize</key>
        <string>{13,24}</string>
      </dict>
      <key>hero_ani_11206_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,90},{17,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,25}}</string>
        <key>sourceSize</key>
        <string>{17,25}</string>
      </dict>
      <key>hero_ani_11206_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,171},{11,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,18}}</string>
        <key>sourceSize</key>
        <string>{11,18}</string>
      </dict>
      <key>hero_ani_11206_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,160},{14,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,18}}</string>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>hero_ani_11206_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,442},{28,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,28}}</string>
        <key>sourceSize</key>
        <string>{28,28}</string>
      </dict>
      <key>hero_ani_11206_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,400},{37,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,37}}</string>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
      <key>hero_ani_11206_110.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,443},{32,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,10}}</string>
        <key>sourceSize</key>
        <string>{32,10}</string>
      </dict>
      <key>hero_ani_11206_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,23},{83,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,109}}</string>
        <key>sourceSize</key>
        <string>{83,109}</string>
      </dict>
      <key>hero_ani_11206_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,259},{32,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,68}}</string>
        <key>sourceSize</key>
        <string>{32,68}</string>
      </dict>
      <key>hero_ani_11206_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,333},{26,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,65}}</string>
        <key>sourceSize</key>
        <string>{26,65}</string>
      </dict>
      <key>hero_ani_11206_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,353},{42,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,39}}</string>
        <key>sourceSize</key>
        <string>{42,39}</string>
      </dict>
      <key>hero_ani_11206_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,439},{30,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,31}}</string>
        <key>sourceSize</key>
        <string>{30,31}</string>
      </dict>
      <key>hero_ani_11206_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,225},{11,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,17}}</string>
        <key>sourceSize</key>
        <string>{11,17}</string>
      </dict>
      <key>hero_ani_11206_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,219},{11,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,17}}</string>
        <key>sourceSize</key>
        <string>{11,17}</string>
      </dict>
      <key>hero_ani_11206_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,180},{11,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,18}}</string>
        <key>sourceSize</key>
        <string>{11,18}</string>
      </dict>
      <key>hero_ani_11206_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,200},{11,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,17}}</string>
        <key>sourceSize</key>
        <string>{11,17}</string>
      </dict>
      <key>hero_ani_11206_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,398},{27,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,42}}</string>
        <key>sourceSize</key>
        <string>{27,42}</string>
      </dict>
      <key>hero_ani_11206_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,342},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>hero_ani_11206_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,0},{12,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,55}}</string>
        <key>sourceSize</key>
        <string>{12,55}</string>
      </dict>
      <key>hero_ani_11206_111.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,342},{32,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,54}}</string>
        <key>sourceSize</key>
        <string>{32,54}</string>
      </dict>
      <key>hero_ani_11206_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,80},{20,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,52}}</string>
        <key>sourceSize</key>
        <string>{20,52}</string>
      </dict>
      <key>hero_ani_11206_114.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,225},{78,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,74}}</string>
        <key>sourceSize</key>
        <string>{78,74}</string>
      </dict>
      <key>hero_ani_11206_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,103},{149,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,78}}</string>
        <key>sourceSize</key>
        <string>{149,78}</string>
      </dict>
      <key>hero_ani_11206_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,23},{149,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,78}}</string>
        <key>sourceSize</key>
        <string>{149,78}</string>
      </dict>
      <key>hero_ani_11206_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{116,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,78}}</string>
        <key>sourceSize</key>
        <string>{116,78}</string>
      </dict>
      <key>hero_ani_11206_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,497},{56,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,16}}</string>
        <key>sourceSize</key>
        <string>{56,16}</string>
      </dict>
      <key>hero_ani_11206_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,434},{61,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,43}}</string>
        <key>sourceSize</key>
        <string>{61,43}</string>
      </dict>
      <key>hero_ani_11206_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,430},{64,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,41}}</string>
        <key>sourceSize</key>
        <string>{64,41}</string>
      </dict>
      <key>hero_ani_11206_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,381},{60,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,47}}</string>
        <key>sourceSize</key>
        <string>{60,47}</string>
      </dict>
      <key>hero_ani_11206_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,259},{48,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,60}}</string>
        <key>sourceSize</key>
        <string>{48,60}</string>
      </dict>
      <key>hero_ani_11206_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,183},{139,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,40}}</string>
        <key>sourceSize</key>
        <string>{139,40}</string>
      </dict>
      <key>hero_ani_11206_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,225},{45,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,126}}</string>
        <key>sourceSize</key>
        <string>{45,126}</string>
      </dict>
      <key>hero_ani_11206_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,225},{42,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,124}}</string>
        <key>sourceSize</key>
        <string>{42,124}</string>
      </dict>
      <key>hero_ani_11206_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,225},{46,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,125}}</string>
        <key>sourceSize</key>
        <string>{46,125}</string>
      </dict>
      <key>hero_ani_11206_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,132},{47,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,125}}</string>
        <key>sourceSize</key>
        <string>{47,125}</string>
      </dict>
      <key>hero_ani_11206_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,134},{53,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,123}}</string>
        <key>sourceSize</key>
        <string>{53,123}</string>
      </dict>
      <key>hero_ani_11206_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,175},{88,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,88}}</string>
        <key>sourceSize</key>
        <string>{88,88}</string>
      </dict>
      <key>hero_ani_11206_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,57},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11206_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,399},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero_ani_11206_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,265},{114,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,47}}</string>
        <key>sourceSize</key>
        <string>{114,47}</string>
      </dict>
      <key>hero_ani_11206_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{90,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,91}}</string>
        <key>sourceSize</key>
        <string>{90,91}</string>
      </dict>
      <key>hero_ani_11206_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,80},{92,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,93}}</string>
        <key>sourceSize</key>
        <string>{92,93}</string>
      </dict>
      <key>hero_ani_11206_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,333},{57,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,57}}</string>
        <key>sourceSize</key>
        <string>{57,57}</string>
      </dict>
      <key>hero_ani_11206_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,321},{57,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,58}}</string>
        <key>sourceSize</key>
        <string>{57,58}</string>
      </dict>
      <key>hero_ani_11206_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,439},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>hero_ani_11206_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,404},{27,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,42}}</string>
        <key>sourceSize</key>
        <string>{27,42}</string>
      </dict>
      <key>hero_ani_11206_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{38,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,43}}</string>
        <key>sourceSize</key>
        <string>{38,43}</string>
      </dict>
      <key>hero_ani_11206_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,394},{38,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,43}}</string>
        <key>sourceSize</key>
        <string>{38,43}</string>
      </dict>
      <key>hero_ani_11206_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,389},{38,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,43}}</string>
        <key>sourceSize</key>
        <string>{38,43}</string>
      </dict>
      <key>hero_ani_11206_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11206_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11206_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,57},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11206_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,479},{52,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,51}}</string>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>hero_ani_11206_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,351},{42,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,51}}</string>
        <key>sourceSize</key>
        <string>{42,51}</string>
      </dict>
      <key>hero_ani_11206_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,443},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero_ani_11206_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,453},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero_ani_11206_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,455},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero_ani_11206_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,191},{35,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,66}}</string>
        <key>sourceSize</key>
        <string>{35,66}</string>
      </dict>
      <key>hero_ani_11206_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,392},{57,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,49}}</string>
        <key>sourceSize</key>
        <string>{57,49}</string>
      </dict>
      <key>hero_ani_11206_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,423},{57,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,49}}</string>
        <key>sourceSize</key>
        <string>{57,49}</string>
      </dict>
      <key>hero_ani_11206_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,329},{41,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,58}}</string>
        <key>sourceSize</key>
        <string>{41,58}</string>
      </dict>
      <key>hero_ani_11206_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,474},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero_ani_11206_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,473},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero_ani_11206_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,473},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11206.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11206.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>