<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11610_cg1_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,84},{63,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,75}}</string>
        <key>sourceSize</key>
        <string>{63,75}</string>
      </dict>
      <key>hero_ani_11610_cg1_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,105},{65,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,66}}</string>
        <key>sourceSize</key>
        <string>{65,66}</string>
      </dict>
      <key>hero_ani_11610_cg1_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,80}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>hero_ani_11610_cg1_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,0},{80,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,82}}</string>
        <key>sourceSize</key>
        <string>{80,82}</string>
      </dict>
      <key>hero_ani_11610_cg1_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,82},{76,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,76}}</string>
        <key>sourceSize</key>
        <string>{76,76}</string>
      </dict>
      <key>hero_ani_11610_cg1_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,213},{45,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,59}}</string>
        <key>sourceSize</key>
        <string>{45,59}</string>
      </dict>
      <key>hero_ani_11610_cg1_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,105},{76,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,52}}</string>
        <key>sourceSize</key>
        <string>{76,52}</string>
      </dict>
      <key>hero_ani_11610_cg1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,159},{76,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,52}}</string>
        <key>sourceSize</key>
        <string>{76,52}</string>
      </dict>
      <key>hero_ani_11610_cg1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,159},{76,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,52}}</string>
        <key>sourceSize</key>
        <string>{76,52}</string>
      </dict>
      <key>hero_ani_11610_cg1_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,105},{76,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,52}}</string>
        <key>sourceSize</key>
        <string>{76,52}</string>
      </dict>
      <key>hero_ani_11610_cg1_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{104,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,103}}</string>
        <key>sourceSize</key>
        <string>{104,103}</string>
      </dict>
      <key>hero_ani_11610_cg1_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{104,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,103}}</string>
        <key>sourceSize</key>
        <string>{104,103}</string>
      </dict>
      <key>hero_ani_11610_cg1_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,103}}</string>
        <key>sourceSize</key>
        <string>{104,103}</string>
      </dict>
      <key>hero_ani_11610_cg1_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11610_cg1_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{13,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,6}}</string>
        <key>sourceSize</key>
        <string>{13,6}</string>
      </dict>
      <key>hero_ani_11610_cg1_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,160},{48,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,61}}</string>
        <key>sourceSize</key>
        <string>{48,61}</string>
      </dict>
      <key>hero_ani_11610_cg1_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,160},{49,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,61}}</string>
        <key>sourceSize</key>
        <string>{49,61}</string>
      </dict>
      <key>hero_ani_11610_cg1_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,213},{45,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,61}}</string>
        <key>sourceSize</key>
        <string>{45,61}</string>
      </dict>
      <key>hero_ani_11610_cg1_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,161},{48,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,59}}</string>
        <key>sourceSize</key>
        <string>{48,59}</string>
      </dict>
      <key>hero_ani_11610_cg1_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,166},{45,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,61}}</string>
        <key>sourceSize</key>
        <string>{45,61}</string>
      </dict>
      <key>hero_ani_11610_cg1_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,105},{51,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,59}}</string>
        <key>sourceSize</key>
        <string>{51,59}</string>
      </dict>
      <key>hero_ani_11610_cg1_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,161},{48,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,59}}</string>
        <key>sourceSize</key>
        <string>{48,59}</string>
      </dict>
      <key>hero_ani_11610_cg1_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,173},{45,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,61}}</string>
        <key>sourceSize</key>
        <string>{45,61}</string>
      </dict>
      <key>hero_ani_11610_cg1_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,213},{45,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,59}}</string>
        <key>sourceSize</key>
        <string>{45,59}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11610_cg1.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11610_cg1.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>