<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_18012_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,0},{55,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,76}}</string>
        <key>sourceSize</key>
        <string>{55,76}</string>
      </dict>
      <key>hero_ani_18012_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,135},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_18012_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,91},{51,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,60}}</string>
        <key>sourceSize</key>
        <string>{51,60}</string>
      </dict>
      <key>hero_ani_18012_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,0},{56,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,84}}</string>
        <key>sourceSize</key>
        <string>{56,84}</string>
      </dict>
      <key>hero_ani_18012_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,54},{47,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,79}}</string>
        <key>sourceSize</key>
        <string>{47,79}</string>
      </dict>
      <key>hero_ani_18012_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,172},{78,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,9}}</string>
        <key>sourceSize</key>
        <string>{78,9}</string>
      </dict>
      <key>hero_ani_18012_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,169},{28,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,10}}</string>
        <key>sourceSize</key>
        <string>{28,10}</string>
      </dict>
      <key>hero_ani_18012_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,168},{39,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,14}}</string>
        <key>sourceSize</key>
        <string>{39,14}</string>
      </dict>
      <key>hero_ani_18012_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,138},{61,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,28}}</string>
        <key>sourceSize</key>
        <string>{61,28}</string>
      </dict>
      <key>hero_ani_18012_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,153},{64,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,18}}</string>
        <key>sourceSize</key>
        <string>{64,18}</string>
      </dict>
      <key>hero_ani_18012_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,139},{71,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,31}}</string>
        <key>sourceSize</key>
        <string>{71,31}</string>
      </dict>
      <key>hero_ani_18012_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,147},{55,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,25}}</string>
        <key>sourceSize</key>
        <string>{55,25}</string>
      </dict>
      <key>hero_ani_18012_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,94},{55,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,51}}</string>
        <key>sourceSize</key>
        <string>{55,51}</string>
      </dict>
      <key>hero_ani_18012_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,116},{52,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,51}}</string>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>hero_ani_18012_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,86},{63,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,51}}</string>
        <key>sourceSize</key>
        <string>{63,51}</string>
      </dict>
      <key>hero_ani_18012_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,29},{64,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,63}}</string>
        <key>sourceSize</key>
        <string>{64,63}</string>
      </dict>
      <key>hero_ani_18012_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,78},{62,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,58}}</string>
        <key>sourceSize</key>
        <string>{62,58}</string>
      </dict>
      <key>hero_ani_18012_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,54},{63,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,60}}</string>
        <key>sourceSize</key>
        <string>{63,60}</string>
      </dict>
      <key>hero_ani_18012_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,107},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>hero_ani_18012_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,91},{56,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,58}}</string>
        <key>sourceSize</key>
        <string>{56,58}</string>
      </dict>
      <key>hero_ani_18012_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,0},{105,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,27}}</string>
        <key>sourceSize</key>
        <string>{105,27}</string>
      </dict>
      <key>hero_ani_18012_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{140,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,52}}</string>
        <key>sourceSize</key>
        <string>{140,52}</string>
      </dict>
      <key>hero_ani_18012_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{142,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,89}}</string>
        <key>sourceSize</key>
        <string>{142,89}</string>
      </dict>
      <key>hero_ani_18012_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_18012_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,91},{31,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,37}}</string>
        <key>sourceSize</key>
        <string>{31,37}</string>
      </dict>
      <key>hero_ani_18012_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,68},{31,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,37}}</string>
        <key>sourceSize</key>
        <string>{31,37}</string>
      </dict>
      <key>hero_ani_18012_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,94},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_18012_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,168},{28,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,36}}</string>
        <key>sourceSize</key>
        <string>{28,36}</string>
      </dict>
      <key>hero_ani_18012_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,145},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_18012_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,151},{40,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,36}}</string>
        <key>sourceSize</key>
        <string>{40,36}</string>
      </dict>
      <key>hero_ani_18012_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,29},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>hero_ani_18012_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,168},{28,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,36}}</string>
        <key>sourceSize</key>
        <string>{28,36}</string>
      </dict>
      <key>hero_ani_18012_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,133},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_18012_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,130},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_18012.png</string>
      <key>textureFileName</key>
      <string>hero_ani_18012.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>