<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11018_1098.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,181},{45,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,97}}</string>
        <key>sourceSize</key>
        <string>{45,97}</string>
      </dict>
      <key>hero_ani_11018_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,79},{31,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,37}}</string>
        <key>sourceSize</key>
        <string>{31,37}</string>
      </dict>
      <key>hero_ani_11018_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,181},{42,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,41}}</string>
        <key>sourceSize</key>
        <string>{42,41}</string>
      </dict>
      <key>hero_ani_11018_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,268},{36,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,36}}</string>
        <key>sourceSize</key>
        <string>{36,36}</string>
      </dict>
      <key>hero_ani_11018_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,118},{52,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,100}}</string>
        <key>sourceSize</key>
        <string>{52,100}</string>
      </dict>
      <key>hero_ani_11018_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,261},{93,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,58}}</string>
        <key>sourceSize</key>
        <string>{93,58}</string>
      </dict>
      <key>hero_ani_11018_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,77},{89,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,90}}</string>
        <key>sourceSize</key>
        <string>{89,90}</string>
      </dict>
      <key>hero_ani_11018_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{89,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,90}}</string>
        <key>sourceSize</key>
        <string>{89,90}</string>
      </dict>
      <key>hero_ani_11018_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,89},{89,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,90}}</string>
        <key>sourceSize</key>
        <string>{89,90}</string>
      </dict>
      <key>hero_ani_11018_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,90},{89,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,90}}</string>
        <key>sourceSize</key>
        <string>{89,90}</string>
      </dict>
      <key>hero_ani_11018_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,169},{89,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,90}}</string>
        <key>sourceSize</key>
        <string>{89,90}</string>
      </dict>
      <key>hero_ani_11018_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,224},{36,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,42}}</string>
        <key>sourceSize</key>
        <string>{36,42}</string>
      </dict>
      <key>hero_ani_11018_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,89},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_11018_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,90},{21,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,5}}</string>
        <key>sourceSize</key>
        <string>{21,5}</string>
      </dict>
      <key>hero_ani_11018_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,209},{46,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,41}}</string>
        <key>sourceSize</key>
        <string>{46,41}</string>
      </dict>
      <key>hero_ani_11018_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,321},{70,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,41}}</string>
        <key>sourceSize</key>
        <string>{70,41}</string>
      </dict>
      <key>hero_ani_11018_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,307},{73,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,41}}</string>
        <key>sourceSize</key>
        <string>{73,41}</string>
      </dict>
      <key>hero_ani_11018_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,220},{82,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,41}}</string>
        <key>sourceSize</key>
        <string>{82,41}</string>
      </dict>
      <key>hero_ani_11018_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,263},{81,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,42}}</string>
        <key>sourceSize</key>
        <string>{81,42}</string>
      </dict>
      <key>hero_ani_11018_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,182},{89,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,39}}</string>
        <key>sourceSize</key>
        <string>{89,39}</string>
      </dict>
      <key>hero_ani_11018_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,315},{86,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,36}}</string>
        <key>sourceSize</key>
        <string>{86,36}</string>
      </dict>
      <key>hero_ani_11018_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,341},{104,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,47}}</string>
        <key>sourceSize</key>
        <string>{104,47}</string>
      </dict>
      <key>hero_ani_11018_1095.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,77},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11018_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,188},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11018_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{115,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,88}}</string>
        <key>sourceSize</key>
        <string>{115,88}</string>
      </dict>
      <key>hero_ani_11018_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{122,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,94}}</string>
        <key>sourceSize</key>
        <string>{122,94}</string>
      </dict>
      <key>hero_ani_11018_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{120,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,87}}</string>
        <key>sourceSize</key>
        <string>{120,87}</string>
      </dict>
      <key>hero_ani_11018_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,0},{115,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,75}}</string>
        <key>sourceSize</key>
        <string>{115,75}</string>
      </dict>
      <key>hero_ani_11018_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,294},{55,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,45}}</string>
        <key>sourceSize</key>
        <string>{55,45}</string>
      </dict>
      <key>hero_ani_11018_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,254},{55,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,45}}</string>
        <key>sourceSize</key>
        <string>{55,45}</string>
      </dict>
      <key>hero_ani_11018_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,252},{46,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,40}}</string>
        <key>sourceSize</key>
        <string>{46,40}</string>
      </dict>
      <key>hero_ani_11018_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,223},{88,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,36}}</string>
        <key>sourceSize</key>
        <string>{88,36}</string>
      </dict>
      <key>hero_ani_11018_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,299},{88,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,36}}</string>
        <key>sourceSize</key>
        <string>{88,36}</string>
      </dict>
      <key>hero_ani_11018_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,261},{88,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,36}}</string>
        <key>sourceSize</key>
        <string>{88,36}</string>
      </dict>
      <key>hero_ani_11018_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,77},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11018_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,77},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11018_1097.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,77},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11018_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,134},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11018_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,41},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>hero_ani_11018_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,204},{28,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,36}}</string>
        <key>sourceSize</key>
        <string>{28,36}</string>
      </dict>
      <key>hero_ani_11018_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,301},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11018_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,166},{28,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,36}}</string>
        <key>sourceSize</key>
        <string>{28,36}</string>
      </dict>
      <key>hero_ani_11018_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,96},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11018_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,301},{26,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,34}}</string>
        <key>sourceSize</key>
        <string>{26,34}</string>
      </dict>
      <key>hero_ani_11018_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{30,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,39}}</string>
        <key>sourceSize</key>
        <string>{30,39}</string>
      </dict>
      <key>hero_ani_11018_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,242},{33,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,34}}</string>
        <key>sourceSize</key>
        <string>{33,34}</string>
      </dict>
      <key>hero_ani_11018_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,278},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11018_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,280},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11018_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,128},{28,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,36}}</string>
        <key>sourceSize</key>
        <string>{28,36}</string>
      </dict>
      <key>hero_ani_11018_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,172},{29,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,35}}</string>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11018.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11018.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>