<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_xinmo1_133.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,51},{40,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,80}}</string>
    <key>sourceSize</key>
    <string>{40,80}</string>
   </dict>
   <key>hero_ani_xinmo1_132.png</key>
   <dict>
    <key>frame</key>
    <string>{{310,0},{43,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,80}}</string>
    <key>sourceSize</key>
    <string>{43,80}</string>
   </dict>
   <key>hero_ani_xinmo1_131.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,75},{44,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,71}}</string>
    <key>sourceSize</key>
    <string>{44,71}</string>
   </dict>
   <key>hero_ani_xinmo1_130.png</key>
   <dict>
    <key>frame</key>
    <string>{{355,62},{44,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,72}}</string>
    <key>sourceSize</key>
    <string>{44,72}</string>
   </dict>
   <key>hero_ani_xinmo1_129.png</key>
   <dict>
    <key>frame</key>
    <string>{{145,75},{44,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,70}}</string>
    <key>sourceSize</key>
    <string>{44,70}</string>
   </dict>
   <key>hero_ani_xinmo1_128.png</key>
   <dict>
    <key>frame</key>
    <string>{{401,122},{44,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,69}}</string>
    <key>sourceSize</key>
    <string>{44,69}</string>
   </dict>
   <key>hero_ani_xinmo1_152.png</key>
   <dict>
    <key>frame</key>
    <string>{{310,82},{43,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,70}}</string>
    <key>sourceSize</key>
    <string>{43,70}</string>
   </dict>
   <key>hero_ani_xinmo1_151.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,133},{42,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,65}}</string>
    <key>sourceSize</key>
    <string>{42,65}</string>
   </dict>
   <key>hero_ani_xinmo1_150.png</key>
   <dict>
    <key>frame</key>
    <string>{{71,190},{41,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,61}}</string>
    <key>sourceSize</key>
    <string>{41,61}</string>
   </dict>
   <key>hero_ani_xinmo1_149.png</key>
   <dict>
    <key>frame</key>
    <string>{{268,179},{40,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,59}}</string>
    <key>sourceSize</key>
    <string>{40,59}</string>
   </dict>
   <key>hero_ani_xinmo1_147.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,201},{42,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,56}}</string>
    <key>sourceSize</key>
    <string>{42,56}</string>
   </dict>
   <key>hero_ani_xinmo1_146.png</key>
   <dict>
    <key>frame</key>
    <string>{{191,75},{34,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,53}}</string>
    <key>sourceSize</key>
    <string>{34,53}</string>
   </dict>
   <key>hero_ani_xinmo1_113.png</key>
   <dict>
    <key>frame</key>
    <string>{{72,134},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_xinmo1_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,0},{80,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,49}}</string>
    <key>sourceSize</key>
    <string>{80,49}</string>
   </dict>
   <key>hero_ani_xinmo1_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{219,200},{45,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,53}}</string>
    <key>sourceSize</key>
    <string>{45,53}</string>
   </dict>
   <key>hero_ani_xinmo1_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,230},{46,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,47}}</string>
    <key>sourceSize</key>
    <string>{46,47}</string>
   </dict>
   <key>hero_ani_xinmo1_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{75,75},{57,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,57}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>hero_ani_xinmo1_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{415,62},{57,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,58}}</string>
    <key>sourceSize</key>
    <string>{57,58}</string>
   </dict>
   <key>hero_ani_xinmo1_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,251},{54,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,37}}</string>
    <key>sourceSize</key>
    <string>{54,37}</string>
   </dict>
   <key>hero_ani_xinmo1_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,250},{54,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,37}}</string>
    <key>sourceSize</key>
    <string>{54,37}</string>
   </dict>
   <key>hero_ani_xinmo1_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{214,255},{54,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,37}}</string>
    <key>sourceSize</key>
    <string>{54,37}</string>
   </dict>
   <key>hero_ani_xinmo1_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,257},{54,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,37}}</string>
    <key>sourceSize</key>
    <string>{54,37}</string>
   </dict>
   <key>hero_ani_xinmo1_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{401,62},{12,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,34}}</string>
    <key>sourceSize</key>
    <string>{12,34}</string>
   </dict>
   <key>hero_ani_xinmo1_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,58},{19,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,56}}</string>
    <key>sourceSize</key>
    <string>{19,56}</string>
   </dict>
   <key>hero_ani_xinmo1_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,168},{36,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,43}}</string>
    <key>sourceSize</key>
    <string>{36,43}</string>
   </dict>
   <key>hero_ani_xinmo1_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,213},{41,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,34}}</string>
    <key>sourceSize</key>
    <string>{41,34}</string>
   </dict>
   <key>hero_ani_xinmo1_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{474,116},{34,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,50}}</string>
    <key>sourceSize</key>
    <string>{34,50}</string>
   </dict>
   <key>hero_ani_xinmo1_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{46,75},{27,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,46}}</string>
    <key>sourceSize</key>
    <string>{27,46}</string>
   </dict>
   <key>hero_ani_xinmo1_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,0},{28,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,56}}</string>
    <key>sourceSize</key>
    <string>{28,56}</string>
   </dict>
   <key>hero_ani_xinmo1_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,116},{38,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,61}}</string>
    <key>sourceSize</key>
    <string>{38,61}</string>
   </dict>
   <key>hero_ani_xinmo1_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,51},{38,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,63}}</string>
    <key>sourceSize</key>
    <string>{38,63}</string>
   </dict>
   <key>hero_ani_xinmo1_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{310,154},{40,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,63}}</string>
    <key>sourceSize</key>
    <string>{40,63}</string>
   </dict>
   <key>hero_ani_xinmo1_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,148},{43,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,63}}</string>
    <key>sourceSize</key>
    <string>{43,63}</string>
   </dict>
   <key>hero_ani_xinmo1_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{355,136},{43,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,63}}</string>
    <key>sourceSize</key>
    <string>{43,63}</string>
   </dict>
   <key>hero_ani_xinmo1_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{128,147},{43,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,63}}</string>
    <key>sourceSize</key>
    <string>{43,63}</string>
   </dict>
   <key>hero_ani_xinmo1_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{173,167},{44,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,61}}</string>
    <key>sourceSize</key>
    <string>{44,61}</string>
   </dict>
   <key>hero_ani_xinmo1_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{400,193},{44,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,55}}</string>
    <key>sourceSize</key>
    <string>{44,55}</string>
   </dict>
   <key>hero_ani_xinmo1_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{69,264},{44,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,41}}</string>
    <key>sourceSize</key>
    <string>{44,41}</string>
   </dict>
   <key>hero_ani_xinmo1_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,58},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_xinmo1_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{43,235},{24,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,35}}</string>
    <key>sourceSize</key>
    <string>{24,35}</string>
   </dict>
   <key>hero_ani_xinmo1_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{326,259},{45,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,45}}</string>
    <key>sourceSize</key>
    <string>{45,45}</string>
   </dict>
   <key>hero_ani_xinmo1_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{114,212},{50,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,50}}</string>
    <key>sourceSize</key>
    <string>{50,50}</string>
   </dict>
   <key>hero_ani_xinmo1_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{417,0},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,60}}</string>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>hero_ani_xinmo1_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{355,0},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,60}}</string>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>hero_ani_xinmo1_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{76,0},{74,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,73}}</string>
    <key>sourceSize</key>
    <string>{74,73}</string>
   </dict>
   <key>hero_ani_xinmo1_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{74,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,73}}</string>
    <key>sourceSize</key>
    <string>{74,73}</string>
   </dict>
   <key>hero_ani_xinmo1_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,0},{74,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,73}}</string>
    <key>sourceSize</key>
    <string>{74,73}</string>
   </dict>
   <key>hero_ani_xinmo1_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_xinmo1_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{134,75},{9,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,4}}</string>
    <key>sourceSize</key>
    <string>{9,4}</string>
   </dict>
   <key>hero_ani_xinmo1_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{474,62},{3,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,3}}</string>
    <key>sourceSize</key>
    <string>{3,3}</string>
   </dict>
   <key>hero_ani_xinmo1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{472,213},{30,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,36}}</string>
    <key>sourceSize</key>
    <string>{30,36}</string>
   </dict>
   <key>hero_ani_xinmo1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{310,219},{28,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,36}}</string>
    <key>sourceSize</key>
    <string>{28,36}</string>
   </dict>
   <key>hero_ani_xinmo1_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{447,160},{24,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,36}}</string>
    <key>sourceSize</key>
    <string>{24,36}</string>
   </dict>
   <key>hero_ani_xinmo1_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{45,198},{24,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,35}}</string>
    <key>sourceSize</key>
    <string>{24,35}</string>
   </dict>
   <key>hero_ani_xinmo1_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{46,123},{24,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,36}}</string>
    <key>sourceSize</key>
    <string>{24,36}</string>
   </dict>
   <key>hero_ani_xinmo1_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{191,130},{31,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,35}}</string>
    <key>sourceSize</key>
    <string>{31,35}</string>
   </dict>
   <key>hero_ani_xinmo1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{45,161},{24,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,35}}</string>
    <key>sourceSize</key>
    <string>{24,35}</string>
   </dict>
   <key>hero_ani_xinmo1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{447,122},{24,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,36}}</string>
    <key>sourceSize</key>
    <string>{24,36}</string>
   </dict>
   <key>hero_ani_xinmo1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,198},{24,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,35}}</string>
    <key>sourceSize</key>
    <string>{24,35}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_xinmo1.png</string>
   <key>textureFileName</key>
   <string>hero_ani_xinmo1.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>