<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11625_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{207,80},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11625_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{454,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11625_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11625_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11625_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{207,23},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11625_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11625_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,23},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11625_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,74},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11625_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,23},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11625_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{207,51},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11625_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,80},{17,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,5}}</string>
    <key>sourceSize</key>
    <string>{17,5}</string>
   </dict>
   <key>hero_ani_11625_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,0},{25,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,56}}</string>
    <key>sourceSize</key>
    <string>{25,56}</string>
   </dict>
   <key>hero_ani_11625_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,134},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,80},{11,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,11}}</string>
    <key>sourceSize</key>
    <string>{11,11}</string>
   </dict>
   <key>hero_ani_11625_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{253,80},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{359,23},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11625_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,130},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,73},{12,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,13}}</string>
    <key>sourceSize</key>
    <string>{12,13}</string>
   </dict>
   <key>hero_ani_11625_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{436,74},{12,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,13}}</string>
    <key>sourceSize</key>
    <string>{12,13}</string>
   </dict>
   <key>hero_ani_11625_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,58},{12,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,13}}</string>
    <key>sourceSize</key>
    <string>{12,13}</string>
   </dict>
   <key>hero_ani_11625_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,74},{12,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,13}}</string>
    <key>sourceSize</key>
    <string>{12,13}</string>
   </dict>
   <key>hero_ani_11625_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{506,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11625_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{253,121},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,125},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{178,126},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,130},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{37,132},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,132},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{359,56},{5,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{5,22}}</string>
    <key>sourceSize</key>
    <string>{5,22}</string>
   </dict>
   <key>hero_ani_11625_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,58},{17,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,24}}</string>
    <key>sourceSize</key>
    <string>{17,24}</string>
   </dict>
   <key>hero_ani_11625_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,121},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,89},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,80},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,162},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{459,125},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,93},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
   <key>hero_ani_11625_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,126},{35,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,39}}</string>
    <key>sourceSize</key>
    <string>{35,39}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11625.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11625.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>