<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_18018_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{119,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,86}}</string>
        <key>sourceSize</key>
        <string>{119,86}</string>
      </dict>
      <key>hero_ani_18018_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,133},{121,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,84}}</string>
        <key>sourceSize</key>
        <string>{121,84}</string>
      </dict>
      <key>hero_ani_18018_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,129},{121,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,94}}</string>
        <key>sourceSize</key>
        <string>{121,94}</string>
      </dict>
      <key>hero_ani_18018_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,354},{86,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,18}}</string>
        <key>sourceSize</key>
        <string>{86,18}</string>
      </dict>
      <key>hero_ani_18018_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,132},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>hero_ani_18018_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{118,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,98}}</string>
        <key>sourceSize</key>
        <string>{118,98}</string>
      </dict>
      <key>hero_ani_18018_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{126,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,127}}</string>
        <key>sourceSize</key>
        <string>{126,127}</string>
      </dict>
      <key>hero_ani_18018_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,100},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18018_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{158,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,131}}</string>
        <key>sourceSize</key>
        <string>{158,131}</string>
      </dict>
      <key>hero_ani_18018_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,307},{62,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,61}}</string>
        <key>sourceSize</key>
        <string>{62,61}</string>
      </dict>
      <key>hero_ani_18018_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,291},{62,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,61}}</string>
        <key>sourceSize</key>
        <string>{62,61}</string>
      </dict>
      <key>hero_ani_18018_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,354},{62,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,61}}</string>
        <key>sourceSize</key>
        <string>{62,61}</string>
      </dict>
      <key>hero_ani_18018_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,291},{62,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,61}}</string>
        <key>sourceSize</key>
        <string>{62,61}</string>
      </dict>
      <key>hero_ani_18018_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,298},{62,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,61}}</string>
        <key>sourceSize</key>
        <string>{62,61}</string>
      </dict>
      <key>hero_ani_18018_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_18018_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,222},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18018_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,225},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18018_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,232},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18018_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,288},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18018_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,166},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18018_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18018_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,288},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18018_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,222},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18018_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18018_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,225},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_18018.png</string>
      <key>textureFileName</key>
      <string>hero_ani_18018.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>