<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_cart2__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,19},{9,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,7}}</string>
        <key>sourceSize</key>
        <string>{9,7}</string>
      </dict>
      <key>hero_ani_cart2__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{42,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,36}}</string>
        <key>sourceSize</key>
        <string>{42,36}</string>
      </dict>
      <key>hero_ani_cart2__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,66},{42,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,32}}</string>
        <key>sourceSize</key>
        <string>{42,32}</string>
      </dict>
      <key>hero_ani_cart2__3.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,38},{42,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,32}}</string>
        <key>sourceSize</key>
        <string>{42,32}</string>
      </dict>
      <key>hero_ani_cart2__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,71},{26,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,20}}</string>
        <key>sourceSize</key>
        <string>{26,20}</string>
      </dict>
      <key>hero_ani_cart2__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,43},{67,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,26}}</string>
        <key>sourceSize</key>
        <string>{67,26}</string>
      </dict>
      <key>hero_ani_cart2__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,0},{10,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,17}}</string>
        <key>sourceSize</key>
        <string>{10,17}</string>
      </dict>
      <key>hero_ani_cart2__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,66},{16,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,13}}</string>
        <key>sourceSize</key>
        <string>{16,13}</string>
      </dict>
      <key>hero_ani_cart2__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,43},{13,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,21}}</string>
        <key>sourceSize</key>
        <string>{13,21}</string>
      </dict>
      <key>hero_ani_cart2__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,71},{20,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,16}}</string>
        <key>sourceSize</key>
        <string>{20,16}</string>
      </dict>
      <key>hero_ani_cart2__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,28},{4,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,5}}</string>
        <key>sourceSize</key>
        <string>{4,5}</string>
      </dict>
      <key>hero_ani_cart2__4.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{87,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,41}}</string>
        <key>sourceSize</key>
        <string>{87,41}</string>
      </dict>
      <key>hero_ani_cart2__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,64}}</string>
        <key>sourceSize</key>
        <string>{108,64}</string>
      </dict>
      <key>hero_ani_cart2__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,71},{17,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,6}}</string>
        <key>sourceSize</key>
        <string>{17,6}</string>
      </dict>
      <key>hero_ani_cart2__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,66},{56,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,24}}</string>
        <key>sourceSize</key>
        <string>{56,24}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_cart2.png</string>
      <key>textureFileName</key>
      <string>hero_ani_cart2.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>