<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11608_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{463,231},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11608_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{481,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11608_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,264},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11608_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11608_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{92,403},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11608_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11608_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{265,300},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11608_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,358},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11608_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{249,366},{50,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,57}}</string>
    <key>sourceSize</key>
    <string>{50,57}</string>
   </dict>
   <key>hero_ani_11608_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,350},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11608_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,104},{99,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{99,61}}</string>
    <key>sourceSize</key>
    <string>{99,61}</string>
   </dict>
   <key>hero_ani_11608_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,23},{134,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{134,48}}</string>
    <key>sourceSize</key>
    <string>{134,48}</string>
   </dict>
   <key>hero_ani_11608_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{463,183},{46,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,46}}</string>
    <key>sourceSize</key>
    <string>{46,46}</string>
   </dict>
   <key>hero_ani_11608_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{476,125},{25,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,56}}</string>
    <key>sourceSize</key>
    <string>{25,56}</string>
   </dict>
   <key>hero_ani_11608_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{239,468},{42,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,10}}</string>
    <key>sourceSize</key>
    <string>{42,10}</string>
   </dict>
   <key>hero_ani_11608_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,407},{56,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,36}}</string>
    <key>sourceSize</key>
    <string>{56,36}</string>
   </dict>
   <key>hero_ani_11608_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{301,372},{68,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,36}}</string>
    <key>sourceSize</key>
    <string>{68,36}</string>
   </dict>
   <key>hero_ani_11608_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{106,371},{74,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,30}}</string>
    <key>sourceSize</key>
    <string>{74,30}</string>
   </dict>
   <key>hero_ani_11608_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,300},{65,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,64}}</string>
    <key>sourceSize</key>
    <string>{65,64}</string>
   </dict>
   <key>hero_ani_11608_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,301},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11608_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{113,205},{111,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,64}}</string>
    <key>sourceSize</key>
    <string>{111,64}</string>
   </dict>
   <key>hero_ani_11608_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,73},{111,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,64}}</string>
    <key>sourceSize</key>
    <string>{111,64}</string>
   </dict>
   <key>hero_ani_11608_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{226,175},{111,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,64}}</string>
    <key>sourceSize</key>
    <string>{111,64}</string>
   </dict>
   <key>hero_ani_11608_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,198},{111,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,64}}</string>
    <key>sourceSize</key>
    <string>{111,64}</string>
   </dict>
   <key>hero_ani_11608_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{254,109},{111,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,64}}</string>
    <key>sourceSize</key>
    <string>{111,64}</string>
   </dict>
   <key>hero_ani_11608_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{111,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,64}}</string>
    <key>sourceSize</key>
    <string>{111,64}</string>
   </dict>
   <key>hero_ani_11608_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{113,139},{111,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,64}}</string>
    <key>sourceSize</key>
    <string>{111,64}</string>
   </dict>
   <key>hero_ani_11608_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{339,235},{111,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,64}}</string>
    <key>sourceSize</key>
    <string>{111,64}</string>
   </dict>
   <key>hero_ani_11608_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{113,271},{83,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,61}}</string>
    <key>sourceSize</key>
    <string>{83,61}</string>
   </dict>
   <key>hero_ani_11608_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{92,431},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11608_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,460},{41,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,20}}</string>
    <key>sourceSize</key>
    <string>{41,20}</string>
   </dict>
   <key>hero_ani_11608_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{197,366},{50,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,57}}</string>
    <key>sourceSize</key>
    <string>{50,57}</string>
   </dict>
   <key>hero_ani_11608_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{254,73},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11608_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,264},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{226,241},{102,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,57}}</string>
    <key>sourceSize</key>
    <string>{102,57}</string>
   </dict>
   <key>hero_ani_11608_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{102,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,102}}</string>
    <key>sourceSize</key>
    <string>{102,102}</string>
   </dict>
   <key>hero_ani_11608_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{277,23},{96,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,84}}</string>
    <key>sourceSize</key>
    <string>{96,84}</string>
   </dict>
   <key>hero_ani_11608_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{367,167},{94,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,66}}</string>
    <key>sourceSize</key>
    <string>{94,66}</string>
   </dict>
   <key>hero_ani_11608_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,338},{63,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,47}}</string>
    <key>sourceSize</key>
    <string>{63,47}</string>
   </dict>
   <key>hero_ani_11608_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{331,301},{55,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,69}}</string>
    <key>sourceSize</key>
    <string>{55,69}</string>
   </dict>
   <key>hero_ani_11608_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,277},{57,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,71}}</string>
    <key>sourceSize</key>
    <string>{57,71}</string>
   </dict>
   <key>hero_ani_11608_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,460},{32,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,43}}</string>
    <key>sourceSize</key>
    <string>{32,43}</string>
   </dict>
   <key>hero_ani_11608_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{65,350},{39,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,48}}</string>
    <key>sourceSize</key>
    <string>{39,48}</string>
   </dict>
   <key>hero_ani_11608_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{185,468},{52,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,7}}</string>
    <key>sourceSize</key>
    <string>{52,7}</string>
   </dict>
   <key>hero_ani_11608_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,430},{82,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,11}}</string>
    <key>sourceSize</key>
    <string>{82,11}</string>
   </dict>
   <key>hero_ani_11608_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{301,410},{82,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,18}}</string>
    <key>sourceSize</key>
    <string>{82,18}</string>
   </dict>
   <key>hero_ani_11608_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{113,334},{82,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,35}}</string>
    <key>sourceSize</key>
    <string>{82,35}</string>
   </dict>
   <key>hero_ani_11608_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,7},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11608_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,4},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11608_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{506,4},{1,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,2}}</string>
    <key>sourceSize</key>
    <string>{1,2}</string>
   </dict>
   <key>hero_ani_11608_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{506,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11608_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,414},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{223,425},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,430},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,307},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{56,400},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{457,445},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,425},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{421,445},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,443},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,387},{54,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,41}}</string>
    <key>sourceSize</key>
    <string>{54,41}</string>
   </dict>
   <key>hero_ani_11608_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{367,457},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{36,443},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{72,460},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,425},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
   <key>hero_ani_11608_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{331,443},{34,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,41}}</string>
    <key>sourceSize</key>
    <string>{34,41}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11608.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11608.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>