<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_18004_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,109},{42,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,37}}</string>
        <key>sourceSize</key>
        <string>{42,37}</string>
      </dict>
      <key>hero_ani_18004_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,37},{51,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,34}}</string>
        <key>sourceSize</key>
        <string>{51,34}</string>
      </dict>
      <key>hero_ani_18004_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,183},{32,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,41}}</string>
        <key>sourceSize</key>
        <string>{32,41}</string>
      </dict>
      <key>hero_ani_18004_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,73},{51,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,34}}</string>
        <key>sourceSize</key>
        <string>{51,34}</string>
      </dict>
      <key>hero_ani_18004_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,177},{75,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,4}}</string>
        <key>sourceSize</key>
        <string>{75,4}</string>
      </dict>
      <key>hero_ani_18004_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{170,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,15}}</string>
        <key>sourceSize</key>
        <string>{170,15}</string>
      </dict>
      <key>hero_ani_18004_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,140},{103,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,37}}</string>
        <key>sourceSize</key>
        <string>{103,37}</string>
      </dict>
      <key>hero_ani_18004_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,16},{77,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,14}}</string>
        <key>sourceSize</key>
        <string>{77,14}</string>
      </dict>
      <key>hero_ani_18004_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,161},{77,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,14}}</string>
        <key>sourceSize</key>
        <string>{77,14}</string>
      </dict>
      <key>hero_ani_18004_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{77,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,14}}</string>
        <key>sourceSize</key>
        <string>{77,14}</string>
      </dict>
      <key>hero_ani_18004_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,145},{77,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,14}}</string>
        <key>sourceSize</key>
        <string>{77,14}</string>
      </dict>
      <key>hero_ani_18004_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,261},{35,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,5}}</string>
        <key>sourceSize</key>
        <string>{35,5}</string>
      </dict>
      <key>hero_ani_18004_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,179},{106,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,8}}</string>
        <key>sourceSize</key>
        <string>{106,8}</string>
      </dict>
      <key>hero_ani_18004_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,17},{150,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,18}}</string>
        <key>sourceSize</key>
        <string>{150,18}</string>
      </dict>
      <key>hero_ani_18004_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,189},{40,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,31}}</string>
        <key>sourceSize</key>
        <string>{40,31}</string>
      </dict>
      <key>hero_ani_18004_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,189},{40,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,31}}</string>
        <key>sourceSize</key>
        <string>{40,31}</string>
      </dict>
      <key>hero_ani_18004_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,189},{40,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,31}}</string>
        <key>sourceSize</key>
        <string>{40,31}</string>
      </dict>
      <key>hero_ani_18004_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,219},{40,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,31}}</string>
        <key>sourceSize</key>
        <string>{40,31}</string>
      </dict>
      <key>hero_ani_18004_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,186},{40,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,31}}</string>
        <key>sourceSize</key>
        <string>{40,31}</string>
      </dict>
      <key>hero_ani_18004_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,260},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>hero_ani_18004_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,91},{96,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,52}}</string>
        <key>sourceSize</key>
        <string>{96,52}</string>
      </dict>
      <key>hero_ani_18004_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,32},{96,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,52}}</string>
        <key>sourceSize</key>
        <string>{96,52}</string>
      </dict>
      <key>hero_ani_18004_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,37},{96,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,52}}</string>
        <key>sourceSize</key>
        <string>{96,52}</string>
      </dict>
      <key>hero_ani_18004_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,86},{96,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,52}}</string>
        <key>sourceSize</key>
        <string>{96,52}</string>
      </dict>
      <key>hero_ani_18004_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_18004_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,222},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_18004_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,222},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_18004_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,226},{26,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,37}}</string>
        <key>sourceSize</key>
        <string>{26,37}</string>
      </dict>
      <key>hero_ani_18004_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,252},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>hero_ani_18004_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,222},{26,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,37}}</string>
        <key>sourceSize</key>
        <string>{26,37}</string>
      </dict>
      <key>hero_ani_18004_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,222},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>hero_ani_18004_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,148},{41,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,36}}</string>
        <key>sourceSize</key>
        <string>{41,36}</string>
      </dict>
      <key>hero_ani_18004_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,183},{35,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,37}}</string>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>hero_ani_18004_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,260},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>hero_ani_18004_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,222},{26,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,37}}</string>
        <key>sourceSize</key>
        <string>{26,37}</string>
      </dict>
      <key>hero_ani_18004_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,261},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_18004.png</string>
      <key>textureFileName</key>
      <string>hero_ani_18004.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>