<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11201_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,122},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11201_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,0},{23,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,123}}</string>
        <key>sourceSize</key>
        <string>{23,123}</string>
      </dict>
      <key>hero_ani_11201_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,196},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>hero_ani_11201_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{139,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>hero_ani_11201_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,269},{93,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>hero_ani_11201_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{375,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,21}}</string>
        <key>sourceSize</key>
        <string>{375,21}</string>
      </dict>
      <key>hero_ani_11201_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,216},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11201_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,92},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11201_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,277},{65,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,19}}</string>
        <key>sourceSize</key>
        <string>{65,19}</string>
      </dict>
      <key>hero_ani_11201_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,296},{82,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,25}}</string>
        <key>sourceSize</key>
        <string>{82,25}</string>
      </dict>
      <key>hero_ani_11201_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,263},{82,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,31}}</string>
        <key>sourceSize</key>
        <string>{82,31}</string>
      </dict>
      <key>hero_ani_11201_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,259},{82,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,36}}</string>
        <key>sourceSize</key>
        <string>{82,36}</string>
      </dict>
      <key>hero_ani_11201_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,211},{87,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,46}}</string>
        <key>sourceSize</key>
        <string>{87,46}</string>
      </dict>
      <key>hero_ani_11201_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,270},{80,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,29}}</string>
        <key>sourceSize</key>
        <string>{80,29}</string>
      </dict>
      <key>hero_ani_11201_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,271},{67,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,22}}</string>
        <key>sourceSize</key>
        <string>{67,22}</string>
      </dict>
      <key>hero_ani_11201_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,295},{29,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,14}}</string>
        <key>sourceSize</key>
        <string>{29,14}</string>
      </dict>
      <key>hero_ani_11201_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,282},{30,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,15}}</string>
        <key>sourceSize</key>
        <string>{30,15}</string>
      </dict>
      <key>hero_ani_11201_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,282},{29,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,15}}</string>
        <key>sourceSize</key>
        <string>{29,15}</string>
      </dict>
      <key>hero_ani_11201_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,297},{29,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,10}}</string>
        <key>sourceSize</key>
        <string>{29,10}</string>
      </dict>
      <key>hero_ani_11201_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,295},{30,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,11}}</string>
        <key>sourceSize</key>
        <string>{30,11}</string>
      </dict>
      <key>hero_ani_11201_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,23},{44,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,97}}</string>
        <key>sourceSize</key>
        <string>{44,97}</string>
      </dict>
      <key>hero_ani_11201_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,250},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>hero_ani_11201_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,109},{50,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,57}}</string>
        <key>sourceSize</key>
        <string>{50,57}</string>
      </dict>
      <key>hero_ani_11201_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,204},{56,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>hero_ani_11201_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,242},{64,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,55}}</string>
        <key>sourceSize</key>
        <string>{64,55}</string>
      </dict>
      <key>hero_ani_11201_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,270},{64,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,47}}</string>
        <key>sourceSize</key>
        <string>{64,47}</string>
      </dict>
      <key>hero_ani_11201_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,125},{25,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,56}}</string>
        <key>sourceSize</key>
        <string>{25,56}</string>
      </dict>
      <key>hero_ani_11201_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,196},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11201_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,23},{119,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,89}}</string>
        <key>sourceSize</key>
        <string>{119,89}</string>
      </dict>
      <key>hero_ani_11201_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,0},{135,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,91}}</string>
        <key>sourceSize</key>
        <string>{135,91}</string>
      </dict>
      <key>hero_ani_11201_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,0},{151,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,90}}</string>
        <key>sourceSize</key>
        <string>{151,90}</string>
      </dict>
      <key>hero_ani_11201_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,0},{153,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,87}}</string>
        <key>sourceSize</key>
        <string>{153,87}</string>
      </dict>
      <key>hero_ani_11201_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,150},{45,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,57}}</string>
        <key>sourceSize</key>
        <string>{45,57}</string>
      </dict>
      <key>hero_ani_11201_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,174},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11201_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,200},{33,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,48}}</string>
        <key>sourceSize</key>
        <string>{33,48}</string>
      </dict>
      <key>hero_ani_11201_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,209},{65,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,66}}</string>
        <key>sourceSize</key>
        <string>{65,66}</string>
      </dict>
      <key>hero_ani_11201_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,201},{67,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,68}}</string>
        <key>sourceSize</key>
        <string>{67,68}</string>
      </dict>
      <key>hero_ani_11201_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,197},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,71}}</string>
        <key>sourceSize</key>
        <string>{71,71}</string>
      </dict>
      <key>hero_ani_11201_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,23},{98,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,109}}</string>
        <key>sourceSize</key>
        <string>{98,109}</string>
      </dict>
      <key>hero_ani_11201_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,92},{95,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,103}}</string>
        <key>sourceSize</key>
        <string>{95,103}</string>
      </dict>
      <key>hero_ani_11201_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,109},{91,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,105}}</string>
        <key>sourceSize</key>
        <string>{91,105}</string>
      </dict>
      <key>hero_ani_11201_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,93},{95,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,101}}</string>
        <key>sourceSize</key>
        <string>{95,101}</string>
      </dict>
      <key>hero_ani_11201_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,89},{97,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,110}}</string>
        <key>sourceSize</key>
        <string>{97,110}</string>
      </dict>
      <key>hero_ani_11201_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,148},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11201_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,114},{19,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,58}}</string>
        <key>sourceSize</key>
        <string>{19,58}</string>
      </dict>
      <key>hero_ani_11201_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,168},{47,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,54}}</string>
        <key>sourceSize</key>
        <string>{47,54}</string>
      </dict>
      <key>hero_ani_11201_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,269},{29,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,41}}</string>
        <key>sourceSize</key>
        <string>{29,41}</string>
      </dict>
      <key>hero_ani_11201_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,168},{46,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,46}}</string>
        <key>sourceSize</key>
        <string>{46,46}</string>
      </dict>
      <key>hero_ani_11201_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,216},{67,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,62}}</string>
        <key>sourceSize</key>
        <string>{67,62}</string>
      </dict>
      <key>hero_ani_11201_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,114},{95,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,97}}</string>
        <key>sourceSize</key>
        <string>{95,97}</string>
      </dict>
      <key>hero_ani_11201_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,23},{102,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,113}}</string>
        <key>sourceSize</key>
        <string>{102,113}</string>
      </dict>
      <key>hero_ani_11201_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,138},{94,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,71}}</string>
        <key>sourceSize</key>
        <string>{94,71}</string>
      </dict>
      <key>hero_ani_11201_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,134},{97,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,70}}</string>
        <key>sourceSize</key>
        <string>{97,70}</string>
      </dict>
      <key>hero_ani_11201_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,206},{106,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,67}}</string>
        <key>sourceSize</key>
        <string>{106,67}</string>
      </dict>
      <key>hero_ani_11201_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,213},{106,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,54}}</string>
        <key>sourceSize</key>
        <string>{106,54}</string>
      </dict>
      <key>hero_ani_11201_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,224},{45,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,42}}</string>
        <key>sourceSize</key>
        <string>{45,42}</string>
      </dict>
      <key>hero_ani_11201_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,183},{26,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,31}}</string>
        <key>sourceSize</key>
        <string>{26,31}</string>
      </dict>
      <key>hero_ani_11201_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,280},{31,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,21}}</string>
        <key>sourceSize</key>
        <string>{31,21}</string>
      </dict>
      <key>hero_ani_11201_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,174},{7,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,5}}</string>
        <key>sourceSize</key>
        <string>{7,5}</string>
      </dict>
      <key>hero_ani_11201_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,23},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11201_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,275},{90,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,27}}</string>
        <key>sourceSize</key>
        <string>{90,27}</string>
      </dict>
      <key>hero_ani_11201_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,93},{39,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,47}}</string>
        <key>sourceSize</key>
        <string>{39,47}</string>
      </dict>
      <key>hero_ani_11201_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,280},{30,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,38}}</string>
        <key>sourceSize</key>
        <string>{30,38}</string>
      </dict>
      <key>hero_ani_11201_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,0},{34,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,48}}</string>
        <key>sourceSize</key>
        <string>{34,48}</string>
      </dict>
      <key>hero_ani_11201_199.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,192},{36,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,48}}</string>
        <key>sourceSize</key>
        <string>{36,48}</string>
      </dict>
      <key>hero_ani_11201_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,100},{34,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,48}}</string>
        <key>sourceSize</key>
        <string>{34,48}</string>
      </dict>
      <key>hero_ani_11201_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,268},{35,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,36}}</string>
        <key>sourceSize</key>
        <string>{35,36}</string>
      </dict>
      <key>hero_ani_11201_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,142},{36,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,48}}</string>
        <key>sourceSize</key>
        <string>{36,48}</string>
      </dict>
      <key>hero_ani_11201_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,50},{34,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,48}}</string>
        <key>sourceSize</key>
        <string>{34,48}</string>
      </dict>
      <key>hero_ani_11201_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,150},{33,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,48}}</string>
        <key>sourceSize</key>
        <string>{33,48}</string>
      </dict>
      <key>hero_ani_11201_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,89},{51,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,59}}</string>
        <key>sourceSize</key>
        <string>{51,59}</string>
      </dict>
      <key>hero_ani_11201_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,197},{26,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,7}}</string>
        <key>sourceSize</key>
        <string>{26,7}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11201.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11201.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>