<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11219__99.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,42},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11219_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,254},{33,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,39}}</string>
        <key>sourceSize</key>
        <string>{33,39}</string>
      </dict>
      <key>hero_ani_11219_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{46,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,97}}</string>
        <key>sourceSize</key>
        <string>{46,97}</string>
      </dict>
      <key>hero_ani_11219_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,112},{104,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,41}}</string>
        <key>sourceSize</key>
        <string>{104,41}</string>
      </dict>
      <key>hero_ani_11219_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,119},{111,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,46}}</string>
        <key>sourceSize</key>
        <string>{111,46}</string>
      </dict>
      <key>hero_ani_11219_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,58},{106,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,59}}</string>
        <key>sourceSize</key>
        <string>{106,59}</string>
      </dict>
      <key>hero_ani_11219_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{110,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,59}}</string>
        <key>sourceSize</key>
        <string>{110,59}</string>
      </dict>
      <key>hero_ani_11219_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{109,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,56}}</string>
        <key>sourceSize</key>
        <string>{109,56}</string>
      </dict>
      <key>hero_ani_11219_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,61},{101,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,49}}</string>
        <key>sourceSize</key>
        <string>{101,49}</string>
      </dict>
      <key>hero_ani_11219_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,42},{7,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,5}}</string>
        <key>sourceSize</key>
        <string>{7,5}</string>
      </dict>
      <key>hero_ani_11219_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11219_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,200},{37,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,43}}</string>
        <key>sourceSize</key>
        <string>{37,43}</string>
      </dict>
      <key>hero_ani_11219_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{27,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,40}}</string>
        <key>sourceSize</key>
        <string>{27,40}</string>
      </dict>
      <key>hero_ani_11219_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,233},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11219_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,267},{33,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,39}}</string>
        <key>sourceSize</key>
        <string>{33,39}</string>
      </dict>
      <key>hero_ani_11219_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,117},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11219_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,167},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>hero_ani_11219_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,205},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>hero_ani_11219_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,217},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>hero_ani_11219_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,155},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>hero_ani_11219_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,167},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11219_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,159},{35,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,39}}</string>
        <key>sourceSize</key>
        <string>{35,39}</string>
      </dict>
      <key>hero_ani_11219_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,245},{33,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,39}}</string>
        <key>sourceSize</key>
        <string>{33,39}</string>
      </dict>
      <key>hero_ani_11219_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,75},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11219_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,255},{33,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,39}}</string>
        <key>sourceSize</key>
        <string>{33,39}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11219.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11219.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>