<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11610_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,340},{47,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,44}}</string>
        <key>sourceSize</key>
        <string>{47,44}</string>
      </dict>
      <key>hero_ani_11610_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,299},{47,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,46}}</string>
        <key>sourceSize</key>
        <string>{47,46}</string>
      </dict>
      <key>hero_ani_11610_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{53,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,48}}</string>
        <key>sourceSize</key>
        <string>{53,48}</string>
      </dict>
      <key>hero_ani_11610_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,203},{64,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,49}}</string>
        <key>sourceSize</key>
        <string>{64,49}</string>
      </dict>
      <key>hero_ani_11610_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,173},{62,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,57}}</string>
        <key>sourceSize</key>
        <string>{62,57}</string>
      </dict>
      <key>hero_ani_11610_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,209},{55,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,54}}</string>
        <key>sourceSize</key>
        <string>{55,54}</string>
      </dict>
      <key>hero_ani_11610_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,265},{45,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,54}}</string>
        <key>sourceSize</key>
        <string>{45,54}</string>
      </dict>
      <key>hero_ani_11610_120.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,76},{7,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,7}}</string>
        <key>sourceSize</key>
        <string>{7,7}</string>
      </dict>
      <key>hero_ani_11610_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,174},{17,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,11}}</string>
        <key>sourceSize</key>
        <string>{17,11}</string>
      </dict>
      <key>hero_ani_11610_118.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,99},{10,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,11}}</string>
        <key>sourceSize</key>
        <string>{10,11}</string>
      </dict>
      <key>hero_ani_11610_117.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,0},{51,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,74}}</string>
        <key>sourceSize</key>
        <string>{51,74}</string>
      </dict>
      <key>hero_ani_11610_116.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,94}}</string>
        <key>sourceSize</key>
        <string>{95,94}</string>
      </dict>
      <key>hero_ani_11610_115.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{92,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,96}}</string>
        <key>sourceSize</key>
        <string>{92,96}</string>
      </dict>
      <key>hero_ani_11610_114.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{90,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,97}}</string>
        <key>sourceSize</key>
        <string>{90,97}</string>
      </dict>
      <key>hero_ani_11610_113.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,0},{87,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,97}}</string>
        <key>sourceSize</key>
        <string>{87,97}</string>
      </dict>
      <key>hero_ani_11610_112.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{83,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,95}}</string>
        <key>sourceSize</key>
        <string>{83,95}</string>
      </dict>
      <key>hero_ani_11610_111.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{79,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,81}}</string>
        <key>sourceSize</key>
        <string>{79,81}</string>
      </dict>
      <key>hero_ani_11610_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,99},{97,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,57}}</string>
        <key>sourceSize</key>
        <string>{97,57}</string>
      </dict>
      <key>hero_ani_11610_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,426},{37,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,25}}</string>
        <key>sourceSize</key>
        <string>{37,25}</string>
      </dict>
      <key>hero_ani_11610_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,427},{32,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,11}}</string>
        <key>sourceSize</key>
        <string>{32,11}</string>
      </dict>
      <key>hero_ani_11610_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,338},{70,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,25}}</string>
        <key>sourceSize</key>
        <string>{70,25}</string>
      </dict>
      <key>hero_ani_11610_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,158},{80,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,49}}</string>
        <key>sourceSize</key>
        <string>{80,49}</string>
      </dict>
      <key>hero_ani_11610_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,96},{12,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,34}}</string>
        <key>sourceSize</key>
        <string>{12,34}</string>
      </dict>
      <key>hero_ani_11610_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,158},{19,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,56}}</string>
        <key>sourceSize</key>
        <string>{19,56}</string>
      </dict>
      <key>hero_ani_11610_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,313},{36,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,43}}</string>
        <key>sourceSize</key>
        <string>{36,43}</string>
      </dict>
      <key>hero_ani_11610_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,368},{41,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,34}}</string>
        <key>sourceSize</key>
        <string>{41,34}</string>
      </dict>
      <key>hero_ani_11610_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,299},{34,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,50}}</string>
        <key>sourceSize</key>
        <string>{34,50}</string>
      </dict>
      <key>hero_ani_11610_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,290},{27,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,46}}</string>
        <key>sourceSize</key>
        <string>{27,46}</string>
      </dict>
      <key>hero_ani_11610_97.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,232},{28,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,56}}</string>
        <key>sourceSize</key>
        <string>{28,56}</string>
      </dict>
      <key>hero_ani_11610_96.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{38,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,61}}</string>
        <key>sourceSize</key>
        <string>{38,61}</string>
      </dict>
      <key>hero_ani_11610_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,248},{38,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,63}}</string>
        <key>sourceSize</key>
        <string>{38,63}</string>
      </dict>
      <key>hero_ani_11610_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,234},{40,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,63}}</string>
        <key>sourceSize</key>
        <string>{40,63}</string>
      </dict>
      <key>hero_ani_11610_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,216},{43,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,63}}</string>
        <key>sourceSize</key>
        <string>{43,63}</string>
      </dict>
      <key>hero_ani_11610_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,234},{43,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,63}}</string>
        <key>sourceSize</key>
        <string>{43,63}</string>
      </dict>
      <key>hero_ani_11610_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,76},{43,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,63}}</string>
        <key>sourceSize</key>
        <string>{43,63}</string>
      </dict>
      <key>hero_ani_11610_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,234},{44,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,61}}</string>
        <key>sourceSize</key>
        <string>{44,61}</string>
      </dict>
      <key>hero_ani_11610_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,281},{44,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,55}}</string>
        <key>sourceSize</key>
        <string>{44,55}</string>
      </dict>
      <key>hero_ani_11610_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,297},{44,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,41}}</string>
        <key>sourceSize</key>
        <string>{44,41}</string>
      </dict>
      <key>hero_ani_11610_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,98},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11610_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,288},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
      <key>hero_ani_11610_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,321},{45,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,45}}</string>
        <key>sourceSize</key>
        <string>{45,45}</string>
      </dict>
      <key>hero_ani_11610_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,254},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>hero_ani_11610_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,141},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>hero_ani_11610_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,172},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>hero_ani_11610_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,85},{3,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,3}}</string>
        <key>sourceSize</key>
        <string>{3,3}</string>
      </dict>
      <key>hero_ani_11610_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,410},{30,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,36}}</string>
        <key>sourceSize</key>
        <string>{30,36}</string>
      </dict>
      <key>hero_ani_11610_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,425},{28,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,36}}</string>
        <key>sourceSize</key>
        <string>{28,36}</string>
      </dict>
      <key>hero_ani_11610_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,173},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>hero_ani_11610_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,211},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
      <key>hero_ani_11610_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,172},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>hero_ani_11610_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{31,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,35}}</string>
        <key>sourceSize</key>
        <string>{31,35}</string>
      </dict>
      <key>hero_ani_11610_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,248},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
      <key>hero_ani_11610_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,210},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>hero_ani_11610_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,285},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
      <key>hero_ani_11610_103.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,288},{45,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,53}}</string>
        <key>sourceSize</key>
        <string>{45,53}</string>
      </dict>
      <key>hero_ani_11610_102.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,306},{46,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,47}}</string>
        <key>sourceSize</key>
        <string>{46,47}</string>
      </dict>
      <key>hero_ani_11610_101.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,179},{57,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,57}}</string>
        <key>sourceSize</key>
        <string>{57,57}</string>
      </dict>
      <key>hero_ani_11610_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,174},{57,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,58}}</string>
        <key>sourceSize</key>
        <string>{57,58}</string>
      </dict>
      <key>hero_ani_11610_122.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,232},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11610_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,394},{32,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,42}}</string>
        <key>sourceSize</key>
        <string>{32,42}</string>
      </dict>
      <key>hero_ani_11610_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,355},{54,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,37}}</string>
        <key>sourceSize</key>
        <string>{54,37}</string>
      </dict>
      <key>hero_ani_11610_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,347},{54,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,37}}</string>
        <key>sourceSize</key>
        <string>{54,37}</string>
      </dict>
      <key>hero_ani_11610_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,365},{54,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,37}}</string>
        <key>sourceSize</key>
        <string>{54,37}</string>
      </dict>
      <key>hero_ani_11610_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,386},{54,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,37}}</string>
        <key>sourceSize</key>
        <string>{54,37}</string>
      </dict>
      <key>hero_ani_11610_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,89},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11610_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,112},{9,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,4}}</string>
        <key>sourceSize</key>
        <string>{9,4}</string>
      </dict>
      <key>hero_ani_11610_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,351},{34,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,43}}</string>
        <key>sourceSize</key>
        <string>{34,43}</string>
      </dict>
      <key>hero_ani_11610_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,343},{35,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,43}}</string>
        <key>sourceSize</key>
        <string>{35,43}</string>
      </dict>
      <key>hero_ani_11610_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,386},{32,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,43}}</string>
        <key>sourceSize</key>
        <string>{32,43}</string>
      </dict>
      <key>hero_ani_11610_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,351},{34,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,42}}</string>
        <key>sourceSize</key>
        <string>{34,42}</string>
      </dict>
      <key>hero_ani_11610_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,382},{32,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,43}}</string>
        <key>sourceSize</key>
        <string>{32,43}</string>
      </dict>
      <key>hero_ani_11610_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,338},{36,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,42}}</string>
        <key>sourceSize</key>
        <string>{36,42}</string>
      </dict>
      <key>hero_ani_11610_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,358},{34,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,42}}</string>
        <key>sourceSize</key>
        <string>{34,42}</string>
      </dict>
      <key>hero_ani_11610_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,365},{32,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,43}}</string>
        <key>sourceSize</key>
        <string>{32,43}</string>
      </dict>
      <key>hero_ani_11610_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,388},{32,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,42}}</string>
        <key>sourceSize</key>
        <string>{32,42}</string>
      </dict>
      <key>hero_ani_11610_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,85},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11610_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,98},{74,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,73}}</string>
        <key>sourceSize</key>
        <string>{74,73}</string>
      </dict>
      <key>hero_ani_11610_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,97},{74,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,73}}</string>
        <key>sourceSize</key>
        <string>{74,73}</string>
      </dict>
      <key>hero_ani_11610_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,99},{74,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,73}}</string>
        <key>sourceSize</key>
        <string>{74,73}</string>
      </dict>
      <key>hero_ani_11610_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,404},{40,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,30}}</string>
        <key>sourceSize</key>
        <string>{40,30}</string>
      </dict>
      <key>hero_ani_11610_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,404},{40,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,30}}</string>
        <key>sourceSize</key>
        <string>{40,30}</string>
      </dict>
      <key>hero_ani_11610_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,395},{40,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,30}}</string>
        <key>sourceSize</key>
        <string>{40,30}</string>
      </dict>
      <key>hero_ani_11610_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,402},{40,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,30}}</string>
        <key>sourceSize</key>
        <string>{40,30}</string>
      </dict>
      <key>hero_ani_11610_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,394},{40,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,30}}</string>
        <key>sourceSize</key>
        <string>{40,30}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11610.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11610.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>