<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11621_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{47,132},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11621_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11621_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,23},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11621_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11621_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{367,63},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11621_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11621_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,23},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11621_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,97},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11621_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{197,130},{14,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,16}}</string>
    <key>sourceSize</key>
    <string>{14,16}</string>
   </dict>
   <key>hero_ani_11621_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{197,148},{14,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,16}}</string>
    <key>sourceSize</key>
    <string>{14,16}</string>
   </dict>
   <key>hero_ani_11621_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{326,185},{20,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,12}}</string>
    <key>sourceSize</key>
    <string>{20,12}</string>
   </dict>
   <key>hero_ani_11621_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,192},{20,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,12}}</string>
    <key>sourceSize</key>
    <string>{20,12}</string>
   </dict>
   <key>hero_ani_11621_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,179},{20,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,12}}</string>
    <key>sourceSize</key>
    <string>{20,12}</string>
   </dict>
   <key>hero_ani_11621_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{275,117},{57,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,48}}</string>
    <key>sourceSize</key>
    <string>{57,48}</string>
   </dict>
   <key>hero_ani_11621_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{126,153},{53,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,24}}</string>
    <key>sourceSize</key>
    <string>{53,24}</string>
   </dict>
   <key>hero_ani_11621_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{213,146},{47,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,32}}</string>
    <key>sourceSize</key>
    <string>{47,32}</string>
   </dict>
   <key>hero_ani_11621_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,52},{25,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,56}}</string>
    <key>sourceSize</key>
    <string>{25,56}</string>
   </dict>
   <key>hero_ani_11621_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{100,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,61}}</string>
    <key>sourceSize</key>
    <string>{100,61}</string>
   </dict>
   <key>hero_ani_11621_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{45,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,45}}</string>
    <key>sourceSize</key>
    <string>{45,45}</string>
   </dict>
   <key>hero_ani_11621_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,96},{20,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,30}}</string>
    <key>sourceSize</key>
    <string>{20,30}</string>
   </dict>
   <key>hero_ani_11621_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,89},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11621_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,128},{20,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,30}}</string>
    <key>sourceSize</key>
    <string>{20,30}</string>
   </dict>
   <key>hero_ani_11621_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,110},{20,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,30}}</string>
    <key>sourceSize</key>
    <string>{20,30}</string>
   </dict>
   <key>hero_ani_11621_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{429,177},{20,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,30}}</string>
    <key>sourceSize</key>
    <string>{20,30}</string>
   </dict>
   <key>hero_ani_11621_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{367,91},{50,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,59}}</string>
    <key>sourceSize</key>
    <string>{50,59}</string>
   </dict>
   <key>hero_ani_11621_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,63},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11621_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{213,180},{32,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,24}}</string>
    <key>sourceSize</key>
    <string>{32,24}</string>
   </dict>
   <key>hero_ani_11621_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{504,32},{5,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{5,30}}</string>
    <key>sourceSize</key>
    <string>{5,30}</string>
   </dict>
   <key>hero_ani_11621_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,160},{20,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,30}}</string>
    <key>sourceSize</key>
    <string>{20,30}</string>
   </dict>
   <key>hero_ani_11621_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,52},{54,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,63}}</string>
    <key>sourceSize</key>
    <string>{54,63}</string>
   </dict>
   <key>hero_ani_11621_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{197,97},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11621_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{334,142},{30,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,41}}</string>
    <key>sourceSize</key>
    <string>{30,41}</string>
   </dict>
   <key>hero_ani_11621_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{125,179},{30,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,29}}</string>
    <key>sourceSize</key>
    <string>{30,29}</string>
   </dict>
   <key>hero_ani_11621_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{504,0},{5,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{5,30}}</string>
    <key>sourceSize</key>
    <string>{5,30}</string>
   </dict>
   <key>hero_ani_11621_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{371,52},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11621_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{367,52},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11621_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,23},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11621_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{93,132},{31,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,41}}</string>
    <key>sourceSize</key>
    <string>{31,41}</string>
   </dict>
   <key>hero_ani_11621_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,179},{29,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,40}}</string>
    <key>sourceSize</key>
    <string>{29,40}</string>
   </dict>
   <key>hero_ani_11621_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{93,175},{30,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,40}}</string>
    <key>sourceSize</key>
    <string>{30,40}</string>
   </dict>
   <key>hero_ani_11621_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{181,166},{30,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,41}}</string>
    <key>sourceSize</key>
    <string>{30,41}</string>
   </dict>
   <key>hero_ani_11621_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{262,167},{30,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,40}}</string>
    <key>sourceSize</key>
    <string>{30,40}</string>
   </dict>
   <key>hero_ani_11621_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{294,167},{30,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,40}}</string>
    <key>sourceSize</key>
    <string>{30,40}</string>
   </dict>
   <key>hero_ani_11621_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{475,125},{33,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,39}}</string>
    <key>sourceSize</key>
    <string>{33,39}</string>
   </dict>
   <key>hero_ani_11621_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{47,178},{30,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,39}}</string>
    <key>sourceSize</key>
    <string>{30,39}</string>
   </dict>
   <key>hero_ani_11621_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{398,177},{29,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,41}}</string>
    <key>sourceSize</key>
    <string>{29,41}</string>
   </dict>
   <key>hero_ani_11621_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{419,91},{32,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,41}}</string>
    <key>sourceSize</key>
    <string>{32,41}</string>
   </dict>
   <key>hero_ani_11621_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,152},{30,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,41}}</string>
    <key>sourceSize</key>
    <string>{30,41}</string>
   </dict>
   <key>hero_ani_11621_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,166},{30,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,40}}</string>
    <key>sourceSize</key>
    <string>{30,40}</string>
   </dict>
   <key>hero_ani_11621_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{419,134},{30,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,41}}</string>
    <key>sourceSize</key>
    <string>{30,41}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11621.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11621.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>