<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11636_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,292},{77,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,78}}</string>
        <key>sourceSize</key>
        <string>{77,78}</string>
      </dict>
      <key>hero_ani_11636_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,306},{53,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,71}}</string>
        <key>sourceSize</key>
        <string>{53,71}</string>
      </dict>
      <key>hero_ani_11636_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,343},{45,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,69}}</string>
        <key>sourceSize</key>
        <string>{45,69}</string>
      </dict>
      <key>hero_ani_11636_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,292},{34,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,61}}</string>
        <key>sourceSize</key>
        <string>{34,61}</string>
      </dict>
      <key>hero_ani_11636_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,379},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,38}}</string>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
      <key>hero_ani_11636_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,182},{26,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,20}}</string>
        <key>sourceSize</key>
        <string>{26,20}</string>
      </dict>
      <key>hero_ani_11636_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{829,192},{92,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,90}}</string>
        <key>sourceSize</key>
        <string>{92,90}</string>
      </dict>
      <key>hero_ani_11636_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,0},{111,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,94}}</string>
        <key>sourceSize</key>
        <string>{111,94}</string>
      </dict>
      <key>hero_ani_11636_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,84},{107,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,88}}</string>
        <key>sourceSize</key>
        <string>{107,88}</string>
      </dict>
      <key>hero_ani_11636_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,96},{105,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,90}}</string>
        <key>sourceSize</key>
        <string>{105,90}</string>
      </dict>
      <key>hero_ani_11636_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,218},{95,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,86}}</string>
        <key>sourceSize</key>
        <string>{95,86}</string>
      </dict>
      <key>hero_ani_11636_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,349},{56,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,62}}</string>
        <key>sourceSize</key>
        <string>{56,62}</string>
      </dict>
      <key>hero_ani_11636_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,346},{62,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,64}}</string>
        <key>sourceSize</key>
        <string>{62,64}</string>
      </dict>
      <key>hero_ani_11636_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,328},{70,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,66}}</string>
        <key>sourceSize</key>
        <string>{70,66}</string>
      </dict>
      <key>hero_ani_11636_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,343},{66,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{66,60}</string>
      </dict>
      <key>hero_ani_11636_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,372},{46,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,30}}</string>
        <key>sourceSize</key>
        <string>{46,30}</string>
      </dict>
      <key>hero_ani_11636_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,351},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,39}}</string>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>hero_ani_11636_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,266},{94,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,78}}</string>
        <key>sourceSize</key>
        <string>{94,78}</string>
      </dict>
      <key>hero_ani_11636_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,0},{121,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,82}}</string>
        <key>sourceSize</key>
        <string>{121,82}</string>
      </dict>
      <key>hero_ani_11636_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,274},{98,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,73}}</string>
        <key>sourceSize</key>
        <string>{98,73}</string>
      </dict>
      <key>hero_ani_11636_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,360},{58,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,48}}</string>
        <key>sourceSize</key>
        <string>{58,48}</string>
      </dict>
      <key>hero_ani_11636_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,100},{92,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,90}}</string>
        <key>sourceSize</key>
        <string>{92,90}</string>
      </dict>
      <key>hero_ani_11636_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,346},{53,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,70}}</string>
        <key>sourceSize</key>
        <string>{53,70}</string>
      </dict>
      <key>hero_ani_11636_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,173},{88,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,94}}</string>
        <key>sourceSize</key>
        <string>{88,94}</string>
      </dict>
      <key>hero_ani_11636_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{100,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,106}}</string>
        <key>sourceSize</key>
        <string>{100,106}</string>
      </dict>
      <key>hero_ani_11636_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{112,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,102}}</string>
        <key>sourceSize</key>
        <string>{112,102}</string>
      </dict>
      <key>hero_ani_11636_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,0},{98,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,98}}</string>
        <key>sourceSize</key>
        <string>{98,98}</string>
      </dict>
      <key>hero_ani_11636_97.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,351},{56,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,54}}</string>
        <key>sourceSize</key>
        <string>{56,54}</string>
      </dict>
      <key>hero_ani_11636_96.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,349},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>hero_ani_11636_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,306},{70,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,73}}</string>
        <key>sourceSize</key>
        <string>{70,73}</string>
      </dict>
      <key>hero_ani_11636_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,284},{83,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,74}}</string>
        <key>sourceSize</key>
        <string>{83,74}</string>
      </dict>
      <key>hero_ani_11636_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,265},{88,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>hero_ani_11636_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,236},{90,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,90}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>hero_ani_11636_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,257},{92,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,84}}</string>
        <key>sourceSize</key>
        <string>{92,84}</string>
      </dict>
      <key>hero_ani_11636_99.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,280},{64,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,102}}</string>
        <key>sourceSize</key>
        <string>{64,102}</string>
      </dict>
      <key>hero_ani_11636_98.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{104,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,142}}</string>
        <key>sourceSize</key>
        <string>{104,142}</string>
      </dict>
      <key>hero_ani_11636_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{186,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,63}}</string>
        <key>sourceSize</key>
        <string>{186,63}</string>
      </dict>
      <key>hero_ani_11636_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,65},{90,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,106}}</string>
        <key>sourceSize</key>
        <string>{90,106}</string>
      </dict>
      <key>hero_ani_11636_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,361},{43,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,43}}</string>
        <key>sourceSize</key>
        <string>{43,43}</string>
      </dict>
      <key>hero_ani_11636_199.png</key>
      <dict>
        <key>frame</key>
        <string>{{1011,7},{7,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,5}}</string>
        <key>sourceSize</key>
        <string>{7,5}</string>
      </dict>
      <key>hero_ani_11636_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1011,0},{7,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,5}}</string>
        <key>sourceSize</key>
        <string>{7,5}</string>
      </dict>
      <key>hero_ani_11636_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,381},{66,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,17}}</string>
        <key>sourceSize</key>
        <string>{66,17}</string>
      </dict>
      <key>hero_ani_11636_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,384},{66,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,17}}</string>
        <key>sourceSize</key>
        <string>{66,17}</string>
      </dict>
      <key>hero_ani_11636_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,372},{66,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,17}}</string>
        <key>sourceSize</key>
        <string>{66,17}</string>
      </dict>
      <key>hero_ani_11636_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,269},{78,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,90}}</string>
        <key>sourceSize</key>
        <string>{78,90}</string>
      </dict>
      <key>hero_ani_11636_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{943,126},{78,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,90}}</string>
        <key>sourceSize</key>
        <string>{78,90}</string>
      </dict>
      <key>hero_ani_11636_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,174},{92,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,90}}</string>
        <key>sourceSize</key>
        <string>{92,90}</string>
      </dict>
      <key>hero_ani_11636_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,182},{92,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,90}}</string>
        <key>sourceSize</key>
        <string>{92,90}</string>
      </dict>
      <key>hero_ani_11636_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,173},{92,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,90}}</string>
        <key>sourceSize</key>
        <string>{92,90}</string>
      </dict>
      <key>hero_ani_11636_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,104},{106,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,76}}</string>
        <key>sourceSize</key>
        <string>{106,76}</string>
      </dict>
      <key>hero_ani_11636_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,0},{101,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,99}}</string>
        <key>sourceSize</key>
        <string>{101,99}</string>
      </dict>
      <key>hero_ani_11636_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,179},{116,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,76}}</string>
        <key>sourceSize</key>
        <string>{116,76}</string>
      </dict>
      <key>hero_ani_11636_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,101},{112,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,76}}</string>
        <key>sourceSize</key>
        <string>{112,76}</string>
      </dict>
      <key>hero_ani_11636_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,0},{60,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,124}}</string>
        <key>sourceSize</key>
        <string>{60,124}</string>
      </dict>
      <key>hero_ani_11636_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,65},{90,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,106}}</string>
        <key>sourceSize</key>
        <string>{90,106}</string>
      </dict>
      <key>hero_ani_11636_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,108},{92,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,90}}</string>
        <key>sourceSize</key>
        <string>{92,90}</string>
      </dict>
      <key>hero_ani_11636_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,144},{92,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,90}}</string>
        <key>sourceSize</key>
        <string>{92,90}</string>
      </dict>
      <key>hero_ani_11636_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,188},{92,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,90}}</string>
        <key>sourceSize</key>
        <string>{92,90}</string>
      </dict>
      <key>hero_ani_11636_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,200},{92,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,90}}</string>
        <key>sourceSize</key>
        <string>{92,90}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11636.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11636.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>