<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11620_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,333},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11620_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,0},{23,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,123}}</string>
        <key>sourceSize</key>
        <string>{23,123}</string>
      </dict>
      <key>hero_ani_11620_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,23},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>hero_ani_11620_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,23},{139,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>hero_ani_11620_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,173},{93,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>hero_ani_11620_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{375,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,21}}</string>
        <key>sourceSize</key>
        <string>{375,21}</string>
      </dict>
      <key>hero_ani_11620_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,97},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11620_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,274},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11620_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,97},{16,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,27}}</string>
        <key>sourceSize</key>
        <string>{16,27}</string>
      </dict>
      <key>hero_ani_11620_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,169},{14,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,25}}</string>
        <key>sourceSize</key>
        <string>{14,25}</string>
      </dict>
      <key>hero_ani_11620_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,98},{13,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,29}}</string>
        <key>sourceSize</key>
        <string>{13,29}</string>
      </dict>
      <key>hero_ani_11620_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,126},{14,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,27}}</string>
        <key>sourceSize</key>
        <string>{14,27}</string>
      </dict>
      <key>hero_ani_11620_993.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,155},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11620_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,362},{49,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,12}}</string>
        <key>sourceSize</key>
        <string>{49,12}</string>
      </dict>
      <key>hero_ani_11620_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,264},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>hero_ani_11620_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{100,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,61}}</string>
        <key>sourceSize</key>
        <string>{100,61}</string>
      </dict>
      <key>hero_ani_11620_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,98},{90,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,73}}</string>
        <key>sourceSize</key>
        <string>{90,73}</string>
      </dict>
      <key>hero_ani_11620_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,171},{31,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,37}}</string>
        <key>sourceSize</key>
        <string>{31,37}</string>
      </dict>
      <key>hero_ani_11620_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,334},{42,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,41}}</string>
        <key>sourceSize</key>
        <string>{42,41}</string>
      </dict>
      <key>hero_ani_11620_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,132},{36,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,36}}</string>
        <key>sourceSize</key>
        <string>{36,36}</string>
      </dict>
      <key>hero_ani_11620_97.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,310},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>hero_ani_11620_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,129},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11620_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,232},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_11620_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,115},{110,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,52}}</string>
        <key>sourceSize</key>
        <string>{110,52}</string>
      </dict>
      <key>hero_ani_11620_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{106,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,96}}</string>
        <key>sourceSize</key>
        <string>{106,96}</string>
      </dict>
      <key>hero_ani_11620_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,321},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>hero_ani_11620_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,23},{146,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,90}}</string>
        <key>sourceSize</key>
        <string>{146,90}</string>
      </dict>
      <key>hero_ani_11620_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,202},{44,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,71}}</string>
        <key>sourceSize</key>
        <string>{44,71}</string>
      </dict>
      <key>hero_ani_11620_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,173},{44,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,72}}</string>
        <key>sourceSize</key>
        <string>{44,72}</string>
      </dict>
      <key>hero_ani_11620_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,202},{44,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,70}}</string>
        <key>sourceSize</key>
        <string>{44,70}</string>
      </dict>
      <key>hero_ani_11620_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,350},{32,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,10}}</string>
        <key>sourceSize</key>
        <string>{32,10}</string>
      </dict>
      <key>hero_ani_11620_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,314},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11620_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{54,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,26}}</string>
        <key>sourceSize</key>
        <string>{54,26}</string>
      </dict>
      <key>hero_ani_11620_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,247},{41,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,61}}</string>
        <key>sourceSize</key>
        <string>{41,61}</string>
      </dict>
      <key>hero_ani_11620_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,274},{40,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,59}}</string>
        <key>sourceSize</key>
        <string>{40,59}</string>
      </dict>
      <key>hero_ani_11620_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,275},{42,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,56}}</string>
        <key>sourceSize</key>
        <string>{42,56}</string>
      </dict>
      <key>hero_ani_11620_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,376},{152,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,11}}</string>
        <key>sourceSize</key>
        <string>{152,11}</string>
      </dict>
      <key>hero_ani_11620_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,201},{86,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,29}}</string>
        <key>sourceSize</key>
        <string>{86,29}</string>
      </dict>
      <key>hero_ani_11620_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,169},{89,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,31}}</string>
        <key>sourceSize</key>
        <string>{89,31}</string>
      </dict>
      <key>hero_ani_11620_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,232},{83,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,30}}</string>
        <key>sourceSize</key>
        <string>{83,30}</string>
      </dict>
      <key>hero_ani_11620_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,115},{32,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,54}}</string>
        <key>sourceSize</key>
        <string>{32,54}</string>
      </dict>
      <key>hero_ani_11620_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,163},{61,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,61}}</string>
        <key>sourceSize</key>
        <string>{61,61}</string>
      </dict>
      <key>hero_ani_11620_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,330},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11620_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,274},{49,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,58}}</string>
        <key>sourceSize</key>
        <string>{49,58}</string>
      </dict>
      <key>hero_ani_11620_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,210},{50,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,62}}</string>
        <key>sourceSize</key>
        <string>{50,62}</string>
      </dict>
      <key>hero_ani_11620_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,335},{34,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,25}}</string>
        <key>sourceSize</key>
        <string>{34,25}</string>
      </dict>
      <key>hero_ani_11620_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,295},{56,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,40}}</string>
        <key>sourceSize</key>
        <string>{56,40}</string>
      </dict>
      <key>hero_ani_11620_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,226},{65,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,46}}</string>
        <key>sourceSize</key>
        <string>{65,46}</string>
      </dict>
      <key>hero_ani_11620_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,195},{69,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,48}}</string>
        <key>sourceSize</key>
        <string>{69,48}</string>
      </dict>
      <key>hero_ani_11620_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,245},{62,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,48}}</string>
        <key>sourceSize</key>
        <string>{62,48}</string>
      </dict>
      <key>hero_ani_11620_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,23},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11620_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,23},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11620_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,325},{41,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,48}}</string>
        <key>sourceSize</key>
        <string>{41,48}</string>
      </dict>
      <key>hero_ani_11620_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,170},{32,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,38}}</string>
        <key>sourceSize</key>
        <string>{32,38}</string>
      </dict>
      <key>hero_ani_11620_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,311},{27,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,37}}</string>
        <key>sourceSize</key>
        <string>{27,37}</string>
      </dict>
      <key>hero_ani_11620_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,271},{29,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,38}}</string>
        <key>sourceSize</key>
        <string>{29,38}</string>
      </dict>
      <key>hero_ani_11620_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,249},{30,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,37}}</string>
        <key>sourceSize</key>
        <string>{30,37}</string>
      </dict>
      <key>hero_ani_11620_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,235},{29,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,38}}</string>
        <key>sourceSize</key>
        <string>{29,38}</string>
      </dict>
      <key>hero_ani_11620_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,340},{25,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,34}}</string>
        <key>sourceSize</key>
        <string>{25,34}</string>
      </dict>
      <key>hero_ani_11620_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,125},{29,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,46}}</string>
        <key>sourceSize</key>
        <string>{29,46}</string>
      </dict>
      <key>hero_ani_11620_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,288},{29,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,35}}</string>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>hero_ani_11620_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,264},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>hero_ani_11620_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,303},{25,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,35}}</string>
        <key>sourceSize</key>
        <string>{25,35}</string>
      </dict>
      <key>hero_ani_11620_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,321},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11620_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,210},{30,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,37}}</string>
        <key>sourceSize</key>
        <string>{30,37}</string>
      </dict>
      <key>hero_ani_11620_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,195},{29,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,38}}</string>
        <key>sourceSize</key>
        <string>{29,38}</string>
      </dict>
      <key>hero_ani_11620_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,275},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11620.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11620.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>