<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11033_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,289},{35,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,43}}</string>
        <key>sourceSize</key>
        <string>{35,43}</string>
      </dict>
      <key>hero_ani_11033_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,285},{46,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,47}}</string>
        <key>sourceSize</key>
        <string>{46,47}</string>
      </dict>
      <key>hero_ani_11033_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,332},{58,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,40}}</string>
        <key>sourceSize</key>
        <string>{58,40}</string>
      </dict>
      <key>hero_ani_11033_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,332},{50,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,37}}</string>
        <key>sourceSize</key>
        <string>{50,37}</string>
      </dict>
      <key>hero_ani_11033_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,334},{42,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,35}}</string>
        <key>sourceSize</key>
        <string>{42,35}</string>
      </dict>
      <key>hero_ani_11033_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,411},{31,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,24}}</string>
        <key>sourceSize</key>
        <string>{31,24}</string>
      </dict>
      <key>hero_ani_11033_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,166},{179,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,164}}</string>
        <key>sourceSize</key>
        <string>{179,164}</string>
      </dict>
      <key>hero_ani_11033_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,166},{179,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,164}}</string>
        <key>sourceSize</key>
        <string>{179,164}</string>
      </dict>
      <key>hero_ani_11033_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{179,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,164}}</string>
        <key>sourceSize</key>
        <string>{179,164}</string>
      </dict>
      <key>hero_ani_11033_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{179,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,164}}</string>
        <key>sourceSize</key>
        <string>{179,164}</string>
      </dict>
      <key>hero_ani_11033_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,410},{33,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,34}}</string>
        <key>sourceSize</key>
        <string>{33,34}</string>
      </dict>
      <key>hero_ani_11033_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,410},{28,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,28}}</string>
        <key>sourceSize</key>
        <string>{28,28}</string>
      </dict>
      <key>hero_ani_11033_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,140},{66,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,68}}</string>
        <key>sourceSize</key>
        <string>{66,68}</string>
      </dict>
      <key>hero_ani_11033_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,215},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11033_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,284},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero_ani_11033_872.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{147,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,138}}</string>
        <key>sourceSize</key>
        <string>{147,138}</string>
      </dict>
      <key>hero_ani_11033_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,374},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>hero_ani_11033_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,213},{36,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,70}}</string>
        <key>sourceSize</key>
        <string>{36,70}</string>
      </dict>
      <key>hero_ani_11033_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,140},{36,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,71}}</string>
        <key>sourceSize</key>
        <string>{36,71}</string>
      </dict>
      <key>hero_ani_11033_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,215},{39,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,72}}</string>
        <key>sourceSize</key>
        <string>{39,72}</string>
      </dict>
      <key>hero_ani_11033_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,140},{41,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,73}}</string>
        <key>sourceSize</key>
        <string>{41,73}</string>
      </dict>
      <key>hero_ani_11033_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,210},{40,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,72}}</string>
        <key>sourceSize</key>
        <string>{40,72}</string>
      </dict>
      <key>hero_ani_11033_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,338},{25,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,47}}</string>
        <key>sourceSize</key>
        <string>{25,47}</string>
      </dict>
      <key>hero_ani_11033_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,210},{14,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,37}}</string>
        <key>sourceSize</key>
        <string>{14,37}</string>
      </dict>
      <key>hero_ani_11033_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,332},{58,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,46}}</string>
        <key>sourceSize</key>
        <string>{58,46}</string>
      </dict>
      <key>hero_ani_11033_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,332},{56,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,38}}</string>
        <key>sourceSize</key>
        <string>{56,38}</string>
      </dict>
      <key>hero_ani_11033_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{66,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,42}}</string>
        <key>sourceSize</key>
        <string>{66,42}</string>
      </dict>
      <key>hero_ani_11033_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,249},{11,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,11}}</string>
        <key>sourceSize</key>
        <string>{11,11}</string>
      </dict>
      <key>hero_ani_11033_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,210},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11033_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,376},{25,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,38}}</string>
        <key>sourceSize</key>
        <string>{25,38}</string>
      </dict>
      <key>hero_ani_11033_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,380},{25,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,38}}</string>
        <key>sourceSize</key>
        <string>{25,38}</string>
      </dict>
      <key>hero_ani_11033_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,387},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>hero_ani_11033_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,376},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>hero_ani_11033_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,372},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>hero_ani_11033_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,338},{37,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,35}}</string>
        <key>sourceSize</key>
        <string>{37,35}</string>
      </dict>
      <key>hero_ani_11033_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,371},{35,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,37}}</string>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>hero_ani_11033_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,371},{35,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,37}}</string>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>hero_ani_11033_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,334},{35,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,37}}</string>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>hero_ani_11033_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,380},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>hero_ani_11033_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,382},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>hero_ani_11033_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,373},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>hero_ani_11033_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,375},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>hero_ani_11033_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,332},{50,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,48}}</string>
        <key>sourceSize</key>
        <string>{50,48}</string>
      </dict>
      <key>hero_ani_11033_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,371},{17,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,6}}</string>
        <key>sourceSize</key>
        <string>{17,6}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11033.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11033.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>