<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11002_102.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,214},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11002_103.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,23},{23,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,123}}</string>
        <key>sourceSize</key>
        <string>{23,123}</string>
      </dict>
      <key>hero_ani_11002_104.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,112},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>hero_ani_11002_106.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{139,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>hero_ani_11002_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,211},{93,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>hero_ani_11002_107.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{375,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,21}}</string>
        <key>sourceSize</key>
        <string>{375,21}</string>
      </dict>
      <key>hero_ani_11002_101.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,158},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11002_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,226},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11002_554.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,226},{40,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,46}}</string>
        <key>sourceSize</key>
        <string>{40,46}</string>
      </dict>
      <key>hero_ani_11002_112.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,228},{48,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,60}}</string>
        <key>sourceSize</key>
        <string>{48,60}</string>
      </dict>
      <key>hero_ani_11002_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,239},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>hero_ani_11002_96.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,218},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>hero_ani_11002_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,205},{40,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,49}}</string>
        <key>sourceSize</key>
        <string>{40,49}</string>
      </dict>
      <key>hero_ani_11002_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,224},{55,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,54}}</string>
        <key>sourceSize</key>
        <string>{55,54}</string>
      </dict>
      <key>hero_ani_11002_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,177},{47,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>hero_ani_11002_110.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,109},{25,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,56}}</string>
        <key>sourceSize</key>
        <string>{25,56}</string>
      </dict>
      <key>hero_ani_11002_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,0},{68,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,156}}</string>
        <key>sourceSize</key>
        <string>{68,156}</string>
      </dict>
      <key>hero_ani_11002_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,186},{81,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,57}}</string>
        <key>sourceSize</key>
        <string>{81,57}</string>
      </dict>
      <key>hero_ani_11002_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,177},{79,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,60}}</string>
        <key>sourceSize</key>
        <string>{79,60}</string>
      </dict>
      <key>hero_ani_11002_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,0},{66,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,110}}</string>
        <key>sourceSize</key>
        <string>{66,110}</string>
      </dict>
      <key>hero_ani_11002_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,165},{94,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,51}}</string>
        <key>sourceSize</key>
        <string>{94,51}</string>
      </dict>
      <key>hero_ani_11002_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,173},{94,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,51}}</string>
        <key>sourceSize</key>
        <string>{94,51}</string>
      </dict>
      <key>hero_ani_11002_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,255},{33,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,33}}</string>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>hero_ani_11002_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,226},{44,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,43}}</string>
        <key>sourceSize</key>
        <string>{44,43}</string>
      </dict>
      <key>hero_ani_11002_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,235},{54,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,51}}</string>
        <key>sourceSize</key>
        <string>{54,51}</string>
      </dict>
      <key>hero_ani_11002_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,165},{46,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,47}}</string>
        <key>sourceSize</key>
        <string>{46,47}</string>
      </dict>
      <key>hero_ani_11002_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,212},{57,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,57}}</string>
        <key>sourceSize</key>
        <string>{57,57}</string>
      </dict>
      <key>hero_ani_11002_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,212},{57,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,58}}</string>
        <key>sourceSize</key>
        <string>{57,58}</string>
      </dict>
      <key>hero_ani_11002_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,101},{104,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,74}}</string>
        <key>sourceSize</key>
        <string>{104,74}</string>
      </dict>
      <key>hero_ani_11002_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,0},{116,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,71}}</string>
        <key>sourceSize</key>
        <string>{116,71}</string>
      </dict>
      <key>hero_ani_11002_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,23},{119,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,67}}</string>
        <key>sourceSize</key>
        <string>{119,67}</string>
      </dict>
      <key>hero_ani_11002_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,76},{118,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,64}}</string>
        <key>sourceSize</key>
        <string>{118,64}</string>
      </dict>
      <key>hero_ani_11002_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,142},{107,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,68}}</string>
        <key>sourceSize</key>
        <string>{107,68}</string>
      </dict>
      <key>hero_ani_11002_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,143},{104,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,66}}</string>
        <key>sourceSize</key>
        <string>{104,66}</string>
      </dict>
      <key>hero_ani_11002_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,109},{114,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,62}}</string>
        <key>sourceSize</key>
        <string>{114,62}</string>
      </dict>
      <key>hero_ani_11002_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,104},{117,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,59}}</string>
        <key>sourceSize</key>
        <string>{117,59}</string>
      </dict>
      <key>hero_ani_11002_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,73},{116,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,68}}</string>
        <key>sourceSize</key>
        <string>{116,68}</string>
      </dict>
      <key>hero_ani_11002_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,75},{109,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,75}}</string>
        <key>sourceSize</key>
        <string>{109,75}</string>
      </dict>
      <key>hero_ani_11002_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,33},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11002_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,0},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11002_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,272},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11002_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,218},{37,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,35}}</string>
        <key>sourceSize</key>
        <string>{37,35}</string>
      </dict>
      <key>hero_ani_11002_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,262},{25,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,34}}</string>
        <key>sourceSize</key>
        <string>{25,34}</string>
      </dict>
      <key>hero_ani_11002_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,245},{33,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,36}}</string>
        <key>sourceSize</key>
        <string>{33,36}</string>
      </dict>
      <key>hero_ani_11002_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{90,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,71}}</string>
        <key>sourceSize</key>
        <string>{90,71}</string>
      </dict>
      <key>hero_ani_11002_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,152},{95,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,74}}</string>
        <key>sourceSize</key>
        <string>{95,74}</string>
      </dict>
      <key>hero_ani_11002_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,23},{106,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,79}}</string>
        <key>sourceSize</key>
        <string>{106,79}</string>
      </dict>
      <key>hero_ani_11002_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,23},{110,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,76}}</string>
        <key>sourceSize</key>
        <string>{110,76}</string>
      </dict>
      <key>hero_ani_11002_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,0},{114,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,74}}</string>
        <key>sourceSize</key>
        <string>{114,74}</string>
      </dict>
      <key>hero_ani_11002_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{116,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,73}}</string>
        <key>sourceSize</key>
        <string>{116,73}</string>
      </dict>
      <key>hero_ani_11002_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,92},{114,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,68}}</string>
        <key>sourceSize</key>
        <string>{114,68}</string>
      </dict>
      <key>hero_ani_11002_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,235},{33,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,36}}</string>
        <key>sourceSize</key>
        <string>{33,36}</string>
      </dict>
      <key>hero_ani_11002_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,245},{46,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,39}}</string>
        <key>sourceSize</key>
        <string>{46,39}</string>
      </dict>
      <key>hero_ani_11002_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,239},{50,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,39}}</string>
        <key>sourceSize</key>
        <string>{50,39}</string>
      </dict>
      <key>hero_ani_11002_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,239},{55,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,39}}</string>
        <key>sourceSize</key>
        <string>{55,39}</string>
      </dict>
      <key>hero_ani_11002_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,4},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11002_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11002_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,271},{29,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,35}}</string>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>hero_ani_11002_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,266},{29,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,35}}</string>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>hero_ani_11002_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,262},{27,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,35}}</string>
        <key>sourceSize</key>
        <string>{27,35}</string>
      </dict>
      <key>hero_ani_11002_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,271},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11002_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,239},{30,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,36}}</string>
        <key>sourceSize</key>
        <string>{30,36}</string>
      </dict>
      <key>hero_ani_11002_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,260},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>hero_ani_11002_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,224},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>hero_ani_11002_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,273},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11002_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,224},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>hero_ani_11002_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,143},{20,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,6}}</string>
        <key>sourceSize</key>
        <string>{20,6}</string>
      </dict>
      <key>hero_ani_11002_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,256},{38,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,35}}</string>
        <key>sourceSize</key>
        <string>{38,35}</string>
      </dict>
      <key>hero_ani_11002_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,186},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>hero_ani_11002_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,228},{38,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,36}}</string>
        <key>sourceSize</key>
        <string>{38,36}</string>
      </dict>
      <key>hero_ani_11002_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,271},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>hero_ani_11002_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,274},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11002_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,167},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>hero_ani_11002_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,272},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11002.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11002.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>