<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11024_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{138,303},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11024_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{471,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11024_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{241,161},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11024_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,153},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11024_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,452},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11024_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11024_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{303,280},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11024_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,262},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11024_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{338,23},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11024_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{338,83},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11024_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,125},{32,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,54}}</string>
    <key>sourceSize</key>
    <string>{32,54}</string>
   </dict>
   <key>hero_ani_11024_104.png</key>
   <dict>
    <key>frame</key>
    <string>{{249,385},{32,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,10}}</string>
    <key>sourceSize</key>
    <string>{32,10}</string>
   </dict>
   <key>hero_ani_11024_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,153},{98,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,53}}</string>
    <key>sourceSize</key>
    <string>{98,53}</string>
   </dict>
   <key>hero_ani_11024_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,396},{43,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,17}}</string>
    <key>sourceSize</key>
    <string>{43,17}</string>
   </dict>
   <key>hero_ani_11024_108.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,409},{73,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,62}}</string>
    <key>sourceSize</key>
    <string>{73,62}</string>
   </dict>
   <key>hero_ani_11024_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,384},{25,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,26}}</string>
    <key>sourceSize</key>
    <string>{25,26}</string>
   </dict>
   <key>hero_ani_11024_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{195,363},{21,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,26}}</string>
    <key>sourceSize</key>
    <string>{21,26}</string>
   </dict>
   <key>hero_ani_11024_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,371},{21,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,26}}</string>
    <key>sourceSize</key>
    <string>{21,26}</string>
   </dict>
   <key>hero_ani_11024_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,368},{21,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,26}}</string>
    <key>sourceSize</key>
    <string>{21,26}</string>
   </dict>
   <key>hero_ani_11024_107.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,345},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
   <key>hero_ani_11024_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{496,0},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11024_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,377},{43,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,17}}</string>
    <key>sourceSize</key>
    <string>{43,17}</string>
   </dict>
   <key>hero_ani_11024_106.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,181},{44,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,52}}</string>
    <key>sourceSize</key>
    <string>{44,52}</string>
   </dict>
   <key>hero_ani_11024_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{242,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{242,128}}</string>
    <key>sourceSize</key>
    <string>{242,128}</string>
   </dict>
   <key>hero_ani_11024_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,266},{24,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,56}}</string>
    <key>sourceSize</key>
    <string>{24,56}</string>
   </dict>
   <key>hero_ani_11024_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{496,33},{12,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,28}}</string>
    <key>sourceSize</key>
    <string>{12,28}</string>
   </dict>
   <key>hero_ani_11024_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,211},{24,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,56}}</string>
    <key>sourceSize</key>
    <string>{24,56}</string>
   </dict>
   <key>hero_ani_11024_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,208},{24,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,56}}</string>
    <key>sourceSize</key>
    <string>{24,56}</string>
   </dict>
   <key>hero_ani_11024_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{277,235},{24,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,56}}</string>
    <key>sourceSize</key>
    <string>{24,56}</string>
   </dict>
   <key>hero_ani_11024_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{454,235},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11024_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{447,338},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
   <key>hero_ani_11024_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{454,292},{45,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,44}}</string>
    <key>sourceSize</key>
    <string>{45,44}</string>
   </dict>
   <key>hero_ani_11024_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,143},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,40}}</string>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>hero_ani_11024_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,323},{35,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,36}}</string>
    <key>sourceSize</key>
    <string>{35,36}</string>
   </dict>
   <key>hero_ani_11024_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,402},{64,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,51}}</string>
    <key>sourceSize</key>
    <string>{64,51}</string>
   </dict>
   <key>hero_ani_11024_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,409},{70,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,59}}</string>
    <key>sourceSize</key>
    <string>{70,59}</string>
   </dict>
   <key>hero_ani_11024_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{244,93},{87,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,66}}</string>
    <key>sourceSize</key>
    <string>{87,66}</string>
   </dict>
   <key>hero_ani_11024_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{244,23},{92,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,68}}</string>
    <key>sourceSize</key>
    <string>{92,68}</string>
   </dict>
   <key>hero_ani_11024_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{92,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,69}}</string>
    <key>sourceSize</key>
    <string>{92,69}</string>
   </dict>
   <key>hero_ani_11024_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,71},{91,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,69}}</string>
    <key>sourceSize</key>
    <string>{91,69}</string>
   </dict>
   <key>hero_ani_11024_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,142},{85,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,67}}</string>
    <key>sourceSize</key>
    <string>{85,67}</string>
   </dict>
   <key>hero_ani_11024_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{287,346},{80,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,61}}</string>
    <key>sourceSize</key>
    <string>{80,61}</string>
   </dict>
   <key>hero_ani_11024_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,390},{80,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,60}}</string>
    <key>sourceSize</key>
    <string>{80,60}</string>
   </dict>
   <key>hero_ani_11024_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,262},{80,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,62}}</string>
    <key>sourceSize</key>
    <string>{80,62}</string>
   </dict>
   <key>hero_ani_11024_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,326},{80,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,62}}</string>
    <key>sourceSize</key>
    <string>{80,62}</string>
   </dict>
   <key>hero_ani_11024_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,416},{79,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,53}}</string>
    <key>sourceSize</key>
    <string>{79,53}</string>
   </dict>
   <key>hero_ani_11024_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,318},{24,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,51}}</string>
    <key>sourceSize</key>
    <string>{24,51}</string>
   </dict>
   <key>hero_ani_11024_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,269},{24,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,52}}</string>
    <key>sourceSize</key>
    <string>{24,52}</string>
   </dict>
   <key>hero_ani_11024_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,318},{23,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,48}}</string>
    <key>sourceSize</key>
    <string>{23,48}</string>
   </dict>
   <key>hero_ani_11024_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{277,293},{24,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,51}}</string>
    <key>sourceSize</key>
    <string>{24,51}</string>
   </dict>
   <key>hero_ani_11024_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{222,235},{53,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,93}}</string>
    <key>sourceSize</key>
    <string>{53,93}</string>
   </dict>
   <key>hero_ani_11024_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{373,211},{53,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,93}}</string>
    <key>sourceSize</key>
    <string>{53,93}</string>
   </dict>
   <key>hero_ani_11024_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,208},{53,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,93}}</string>
    <key>sourceSize</key>
    <string>{53,93}</string>
   </dict>
   <key>hero_ani_11024_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{318,185},{53,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,93}}</string>
    <key>sourceSize</key>
    <string>{53,93}</string>
   </dict>
   <key>hero_ani_11024_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{508,4},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11024_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{508,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11024_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,324},{34,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,37}}</string>
    <key>sourceSize</key>
    <string>{34,37}</string>
   </dict>
   <key>hero_ani_11024_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{220,330},{34,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,37}}</string>
    <key>sourceSize</key>
    <string>{34,37}</string>
   </dict>
   <key>hero_ani_11024_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{400,361},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
   <key>hero_ani_11024_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,346},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
   <key>hero_ani_11024_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,338},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
   <key>hero_ani_11024_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{431,377},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
   <key>hero_ani_11024_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,306},{39,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,37}}</string>
    <key>sourceSize</key>
    <string>{39,37}</string>
   </dict>
   <key>hero_ani_11024_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{133,349},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
   <key>hero_ani_11024_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,369},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
   <key>hero_ani_11024_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{164,363},{29,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,37}}</string>
    <key>sourceSize</key>
    <string>{29,37}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11024.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11024.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>