<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_18029_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,203},{68,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,64}}</string>
    <key>sourceSize</key>
    <string>{68,64}</string>
   </dict>
   <key>hero_ani_18029_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,228},{109,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,32}}</string>
    <key>sourceSize</key>
    <string>{109,32}</string>
   </dict>
   <key>hero_ani_18029_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,169},{49,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,48}}</string>
    <key>sourceSize</key>
    <string>{49,48}</string>
   </dict>
   <key>hero_ani_18029_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{111,228},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>hero_ani_18029_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{179,228},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>hero_ani_18029_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{434,228},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>hero_ani_18029_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,220},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>hero_ani_18029_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,328},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_202.png</key>
   <dict>
    <key>frame</key>
    <string>{{508,3},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_18029_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{264,354},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,362},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,288},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{379,296},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,394},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,362},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,362},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,296},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,362},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,296},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,262},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,335},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{247,269},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,296},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_18029_200.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,0},{13,207}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,207}}</string>
    <key>sourceSize</key>
    <string>{13,207}</string>
   </dict>
   <key>hero_ani_18029_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,114},{47,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,53}}</string>
    <key>sourceSize</key>
    <string>{47,53}</string>
   </dict>
   <key>hero_ani_18029_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{459,110},{47,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,53}}</string>
    <key>sourceSize</key>
    <string>{47,53}</string>
   </dict>
   <key>hero_ani_18029_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{459,0},{47,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,53}}</string>
    <key>sourceSize</key>
    <string>{47,53}</string>
   </dict>
   <key>hero_ani_18029_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{459,55},{47,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,53}}</string>
    <key>sourceSize</key>
    <string>{47,53}</string>
   </dict>
   <key>hero_ani_18029_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{459,165},{47,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,53}}</string>
    <key>sourceSize</key>
    <string>{47,53}</string>
   </dict>
   <key>hero_ani_18029_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{436,209},{18,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,17}}</string>
    <key>sourceSize</key>
    <string>{18,17}</string>
   </dict>
   <key>hero_ani_18029_201.png</key>
   <dict>
    <key>frame</key>
    <string>{{508,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_18029_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,203},{17,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,15}}</string>
    <key>sourceSize</key>
    <string>{17,15}</string>
   </dict>
   <key>hero_ani_18029_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{146,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,112}}</string>
    <key>sourceSize</key>
    <string>{146,112}</string>
   </dict>
   <key>hero_ani_18029_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,0},{146,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,112}}</string>
    <key>sourceSize</key>
    <string>{146,112}</string>
   </dict>
   <key>hero_ani_18029_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,0},{146,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,112}}</string>
    <key>sourceSize</key>
    <string>{146,112}</string>
   </dict>
   <key>hero_ani_18029_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,114},{146,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,112}}</string>
    <key>sourceSize</key>
    <string>{146,112}</string>
   </dict>
   <key>hero_ani_18029_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,114},{146,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,112}}</string>
    <key>sourceSize</key>
    <string>{146,112}</string>
   </dict>
   <key>hero_ani_18029_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,114},{87,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,87}}</string>
    <key>sourceSize</key>
    <string>{87,87}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_18029.png</string>
   <key>textureFileName</key>
   <string>hero_ani_18029.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>