<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11424_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{124,447},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11424_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{602,232},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11424_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{251,370},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11424_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,275},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11424_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{859,394},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11424_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{265,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11424_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{618,381},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11424_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{798,439},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11424_148.png</key>
   <dict>
    <key>frame</key>
    <string>{{124,418},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11424_1629.png</key>
   <dict>
    <key>frame</key>
    <string>{{698,448},{38,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,50}}</string>
    <key>sourceSize</key>
    <string>{38,50}</string>
   </dict>
   <key>hero_ani_11424_137.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,363},{77,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,77}}</string>
    <key>sourceSize</key>
    <string>{77,77}</string>
   </dict>
   <key>hero_ani_11424_144.png</key>
   <dict>
    <key>frame</key>
    <string>{{955,391},{58,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,65}}</string>
    <key>sourceSize</key>
    <string>{58,65}</string>
   </dict>
   <key>hero_ani_11424_138.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,460},{56,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,25}}</string>
    <key>sourceSize</key>
    <string>{56,25}</string>
   </dict>
   <key>hero_ani_11424_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{365,298},{25,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,56}}</string>
    <key>sourceSize</key>
    <string>{25,56}</string>
   </dict>
   <key>hero_ani_11424_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{624,140},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11424_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{98,493},{36,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,42}}</string>
    <key>sourceSize</key>
    <string>{36,42}</string>
   </dict>
   <key>hero_ani_11424_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,152},{108,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,93}}</string>
    <key>sourceSize</key>
    <string>{108,93}</string>
   </dict>
   <key>hero_ani_11424_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{781,152},{102,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,99}}</string>
    <key>sourceSize</key>
    <string>{102,99}</string>
   </dict>
   <key>hero_ani_11424_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,442},{52,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,51}}</string>
    <key>sourceSize</key>
    <string>{52,51}</string>
   </dict>
   <key>hero_ani_11424_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{328,439},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11424_1627.png</key>
   <dict>
    <key>frame</key>
    <string>{{328,370},{24,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,22}}</string>
    <key>sourceSize</key>
    <string>{24,22}</string>
   </dict>
   <key>hero_ani_11424_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{365,356},{29,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,29}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>hero_ani_11424_1628.png</key>
   <dict>
    <key>frame</key>
    <string>{{1000,157},{20,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,24}}</string>
    <key>sourceSize</key>
    <string>{20,24}</string>
   </dict>
   <key>hero_ani_11424_1626.png</key>
   <dict>
    <key>frame</key>
    <string>{{486,175},{17,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,19}}</string>
    <key>sourceSize</key>
    <string>{17,19}</string>
   </dict>
   <key>hero_ani_11424_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{779,344},{78,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,93}}</string>
    <key>sourceSize</key>
    <string>{78,93}</string>
   </dict>
   <key>hero_ani_11424_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{875,299},{78,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,93}}</string>
    <key>sourceSize</key>
    <string>{78,93}</string>
   </dict>
   <key>hero_ani_11424_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,324},{78,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,93}}</string>
    <key>sourceSize</key>
    <string>{78,93}</string>
   </dict>
   <key>hero_ani_11424_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,323},{78,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,93}}</string>
    <key>sourceSize</key>
    <string>{78,93}</string>
   </dict>
   <key>hero_ani_11424_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,403},{56,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,57}}</string>
    <key>sourceSize</key>
    <string>{56,57}</string>
   </dict>
   <key>hero_ani_11424_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,403},{64,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,55}}</string>
    <key>sourceSize</key>
    <string>{64,55}</string>
   </dict>
   <key>hero_ani_11424_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{859,422},{64,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,47}}</string>
    <key>sourceSize</key>
    <string>{64,47}</string>
   </dict>
   <key>hero_ani_11424_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{633,27},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11424_146.png</key>
   <dict>
    <key>frame</key>
    <string>{{744,439},{52,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,57}}</string>
    <key>sourceSize</key>
    <string>{52,57}</string>
   </dict>
   <key>hero_ani_11424_145.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,381},{58,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,65}}</string>
    <key>sourceSize</key>
    <string>{58,65}</string>
   </dict>
   <key>hero_ani_11424_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{854,471},{38,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,40}}</string>
    <key>sourceSize</key>
    <string>{38,40}</string>
   </dict>
   <key>hero_ani_11424_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,487},{38,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,40}}</string>
    <key>sourceSize</key>
    <string>{38,40}</string>
   </dict>
   <key>hero_ani_11424_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{580,418},{36,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,42}}</string>
    <key>sourceSize</key>
    <string>{36,42}</string>
   </dict>
   <key>hero_ani_11424_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{248,494},{37,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,40}}</string>
    <key>sourceSize</key>
    <string>{37,40}</string>
   </dict>
   <key>hero_ani_11424_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,495},{36,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,41}}</string>
    <key>sourceSize</key>
    <string>{36,41}</string>
   </dict>
   <key>hero_ani_11424_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{287,494},{36,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,41}}</string>
    <key>sourceSize</key>
    <string>{36,41}</string>
   </dict>
   <key>hero_ani_11424_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{58,462},{38,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,43}}</string>
    <key>sourceSize</key>
    <string>{38,43}</string>
   </dict>
   <key>hero_ani_11424_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{439,460},{39,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,42}}</string>
    <key>sourceSize</key>
    <string>{39,42}</string>
   </dict>
   <key>hero_ani_11424_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{521,460},{38,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,43}}</string>
    <key>sourceSize</key>
    <string>{38,43}</string>
   </dict>
   <key>hero_ani_11424_136.png</key>
   <dict>
    <key>frame</key>
    <string>{{273,444},{48,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,48}}</string>
    <key>sourceSize</key>
    <string>{48,48}</string>
   </dict>
   <key>hero_ani_11424_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,444},{55,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,42}}</string>
    <key>sourceSize</key>
    <string>{55,42}</string>
   </dict>
   <key>hero_ani_11424_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{580,357},{36,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,59}}</string>
    <key>sourceSize</key>
    <string>{36,59}</string>
   </dict>
   <key>hero_ani_11424_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{925,458},{43,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,44}}</string>
    <key>sourceSize</key>
    <string>{43,44}</string>
   </dict>
   <key>hero_ani_11424_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{970,458},{42,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,42}}</string>
    <key>sourceSize</key>
    <string>{42,42}</string>
   </dict>
   <key>hero_ani_11424_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,460},{39,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,42}}</string>
    <key>sourceSize</key>
    <string>{39,42}</string>
   </dict>
   <key>hero_ani_11424_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,462},{38,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,43}}</string>
    <key>sourceSize</key>
    <string>{38,43}</string>
   </dict>
   <key>hero_ani_11424_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,488},{36,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,42}}</string>
    <key>sourceSize</key>
    <string>{36,42}</string>
   </dict>
   <key>hero_ani_11424_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{627,276},{150,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,103}}</string>
    <key>sourceSize</key>
    <string>{150,103}</string>
   </dict>
   <key>hero_ani_11424_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,152},{146,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,121}}</string>
    <key>sourceSize</key>
    <string>{146,121}</string>
   </dict>
   <key>hero_ani_11424_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{636,152},{143,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{143,122}}</string>
    <key>sourceSize</key>
    <string>{143,122}</string>
   </dict>
   <key>hero_ani_11424_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{258,175},{138,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{138,121}}</string>
    <key>sourceSize</key>
    <string>{138,121}</string>
   </dict>
   <key>hero_ani_11424_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{890,0},{130,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,119}}</string>
    <key>sourceSize</key>
    <string>{130,119}</string>
   </dict>
   <key>hero_ani_11424_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{510,23},{121,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{121,115}}</string>
    <key>sourceSize</key>
    <string>{121,115}</string>
   </dict>
   <key>hero_ani_11424_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{890,121},{108,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,111}}</string>
    <key>sourceSize</key>
    <string>{108,111}</string>
   </dict>
   <key>hero_ani_11424_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{398,175},{86,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,104}}</string>
    <key>sourceSize</key>
    <string>{86,104}</string>
   </dict>
   <key>hero_ani_11424_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{955,299},{53,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,90}}</string>
    <key>sourceSize</key>
    <string>{53,90}</string>
   </dict>
   <key>hero_ani_11424_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,323},{28,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,47}}</string>
    <key>sourceSize</key>
    <string>{28,47}</string>
   </dict>
   <key>hero_ani_11424_141.png</key>
   <dict>
    <key>frame</key>
    <string>{{633,23},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11424_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{263,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{263,150}}</string>
    <key>sourceSize</key>
    <string>{263,150}</string>
   </dict>
   <key>hero_ani_11424_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{642,0},{246,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{246,150}}</string>
    <key>sourceSize</key>
    <string>{246,150}</string>
   </dict>
   <key>hero_ani_11424_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{265,23},{243,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{243,150}}</string>
    <key>sourceSize</key>
    <string>{243,150}</string>
   </dict>
   <key>hero_ani_11424_993.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,384},{106,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,17}}</string>
    <key>sourceSize</key>
    <string>{106,17}</string>
   </dict>
   <key>hero_ani_11424_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{1000,121},{12,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,34}}</string>
    <key>sourceSize</key>
    <string>{12,34}</string>
   </dict>
   <key>hero_ani_11424_107.png</key>
   <dict>
    <key>frame</key>
    <string>{{798,495},{38,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,22}}</string>
    <key>sourceSize</key>
    <string>{38,22}</string>
   </dict>
   <key>hero_ani_11424_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{1000,183},{12,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,22}}</string>
    <key>sourceSize</key>
    <string>{12,22}</string>
   </dict>
   <key>hero_ani_11424_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,298},{106,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,70}}</string>
    <key>sourceSize</key>
    <string>{106,70}</string>
   </dict>
   <key>hero_ani_11424_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,247},{107,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,74}}</string>
    <key>sourceSize</key>
    <string>{107,74}</string>
   </dict>
   <key>hero_ani_11424_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{781,253},{92,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,89}}</string>
    <key>sourceSize</key>
    <string>{92,89}</string>
   </dict>
   <key>hero_ani_11424_135.png</key>
   <dict>
    <key>frame</key>
    <string>{{510,140},{112,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{112,90}}</string>
    <key>sourceSize</key>
    <string>{112,90}</string>
   </dict>
   <key>hero_ani_11424_134.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,232},{98,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,90}}</string>
    <key>sourceSize</key>
    <string>{98,90}</string>
   </dict>
   <key>hero_ani_11424_133.png</key>
   <dict>
    <key>frame</key>
    <string>{{398,281},{100,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,80}}</string>
    <key>sourceSize</key>
    <string>{100,80}</string>
   </dict>
   <key>hero_ani_11424_132.png</key>
   <dict>
    <key>frame</key>
    <string>{{885,234},{124,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,63}}</string>
    <key>sourceSize</key>
    <string>{124,63}</string>
   </dict>
   <key>hero_ani_11424_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{475,419},{77,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,39}}</string>
    <key>sourceSize</key>
    <string>{77,39}</string>
   </dict>
   <key>hero_ani_11424_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{486,196},{12,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,21}}</string>
    <key>sourceSize</key>
    <string>{12,21}</string>
   </dict>
   <key>hero_ani_11424_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{486,219},{14,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,14}}</string>
    <key>sourceSize</key>
    <string>{14,14}</string>
   </dict>
   <key>hero_ani_11424_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{1000,207},{14,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,16}}</string>
    <key>sourceSize</key>
    <string>{14,16}</string>
   </dict>
   <key>hero_ani_11424_139.png</key>
   <dict>
    <key>frame</key>
    <string>{{637,23},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11424_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,387},{38,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,50}}</string>
    <key>sourceSize</key>
    <string>{38,50}</string>
   </dict>
   <key>hero_ani_11424_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{170,447},{38,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,50}}</string>
    <key>sourceSize</key>
    <string>{38,50}</string>
   </dict>
   <key>hero_ani_11424_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{618,447},{38,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,50}}</string>
    <key>sourceSize</key>
    <string>{38,50}</string>
   </dict>
   <key>hero_ani_11424_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{658,448},{38,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,50}}</string>
    <key>sourceSize</key>
    <string>{38,50}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11424.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11424.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>