<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11007_122.png</key>
   <dict>
    <key>frame</key>
    <string>{{49,246},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11007_123.png</key>
   <dict>
    <key>frame</key>
    <string>{{968,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11007_124.png</key>
   <dict>
    <key>frame</key>
    <string>{{701,30},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11007_126.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11007_125.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,109},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11007_127.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11007_121.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,101},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11007_120.png</key>
   <dict>
    <key>frame</key>
    <string>{{751,164},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11007_115.png</key>
   <dict>
    <key>frame</key>
    <string>{{628,255},{65,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,19}}</string>
    <key>sourceSize</key>
    <string>{65,19}</string>
   </dict>
   <key>hero_ani_11007_114.png</key>
   <dict>
    <key>frame</key>
    <string>{{123,182},{82,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,25}}</string>
    <key>sourceSize</key>
    <string>{82,25}</string>
   </dict>
   <key>hero_ani_11007_113.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,149},{82,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,31}}</string>
    <key>sourceSize</key>
    <string>{82,31}</string>
   </dict>
   <key>hero_ani_11007_112.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,115},{82,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,36}}</string>
    <key>sourceSize</key>
    <string>{82,36}</string>
   </dict>
   <key>hero_ani_11007_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{778,87},{87,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,46}}</string>
    <key>sourceSize</key>
    <string>{87,46}</string>
   </dict>
   <key>hero_ani_11007_110.png</key>
   <dict>
    <key>frame</key>
    <string>{{518,163},{80,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,29}}</string>
    <key>sourceSize</key>
    <string>{80,29}</string>
   </dict>
   <key>hero_ani_11007_109.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,243},{67,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,22}}</string>
    <key>sourceSize</key>
    <string>{67,22}</string>
   </dict>
   <key>hero_ani_11007_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{968,125},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11007_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{901,152},{56,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,54}}</string>
    <key>sourceSize</key>
    <string>{56,54}</string>
   </dict>
   <key>hero_ani_11007_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{843,152},{56,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,54}}</string>
    <key>sourceSize</key>
    <string>{56,54}</string>
   </dict>
   <key>hero_ani_11007_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,167},{53,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,53}}</string>
    <key>sourceSize</key>
    <string>{53,53}</string>
   </dict>
   <key>hero_ani_11007_133.png</key>
   <dict>
    <key>frame</key>
    <string>{{472,109},{44,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,57}}</string>
    <key>sourceSize</key>
    <string>{44,57}</string>
   </dict>
   <key>hero_ani_11007_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{695,258},{61,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,23}}</string>
    <key>sourceSize</key>
    <string>{61,23}</string>
   </dict>
   <key>hero_ani_11007_135.png</key>
   <dict>
    <key>frame</key>
    <string>{{751,135},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11007_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{614,41},{71,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,71}}</string>
    <key>sourceSize</key>
    <string>{71,71}</string>
   </dict>
   <key>hero_ani_11007_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{893,208},{48,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,48}}</string>
    <key>sourceSize</key>
    <string>{48,48}</string>
   </dict>
   <key>hero_ani_11007_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{123,209},{48,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,48}}</string>
    <key>sourceSize</key>
    <string>{48,48}</string>
   </dict>
   <key>hero_ani_11007_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{843,208},{48,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,48}}</string>
    <key>sourceSize</key>
    <string>{48,48}</string>
   </dict>
   <key>hero_ani_11007_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,191},{50,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,50}}</string>
    <key>sourceSize</key>
    <string>{50,50}</string>
   </dict>
   <key>hero_ani_11007_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{173,231},{46,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,46}}</string>
    <key>sourceSize</key>
    <string>{46,46}</string>
   </dict>
   <key>hero_ani_11007_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{959,181},{50,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,50}}</string>
    <key>sourceSize</key>
    <string>{50,50}</string>
   </dict>
   <key>hero_ani_11007_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,42},{84,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,57}}</string>
    <key>sourceSize</key>
    <string>{84,57}</string>
   </dict>
   <key>hero_ani_11007_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{512,235},{40,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,49}}</string>
    <key>sourceSize</key>
    <string>{40,49}</string>
   </dict>
   <key>hero_ani_11007_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{425,235},{40,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,49}}</string>
    <key>sourceSize</key>
    <string>{40,49}</string>
   </dict>
   <key>hero_ani_11007_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{471,168},{40,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,49}}</string>
    <key>sourceSize</key>
    <string>{40,49}</string>
   </dict>
   <key>hero_ani_11007_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,219},{40,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,49}}</string>
    <key>sourceSize</key>
    <string>{40,49}</string>
   </dict>
   <key>hero_ani_11007_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{294,227},{40,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,49}}</string>
    <key>sourceSize</key>
    <string>{40,49}</string>
   </dict>
   <key>hero_ani_11007_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{600,173},{50,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,50}}</string>
    <key>sourceSize</key>
    <string>{50,50}</string>
   </dict>
   <key>hero_ani_11007_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{518,0},{181,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{181,39}}</string>
    <key>sourceSize</key>
    <string>{181,39}</string>
   </dict>
   <key>hero_ani_11007_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{701,0},{179,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{179,13}}</string>
    <key>sourceSize</key>
    <string>{179,13}</string>
   </dict>
   <key>hero_ani_11007_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{701,15},{169,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{169,13}}</string>
    <key>sourceSize</key>
    <string>{169,13}</string>
   </dict>
   <key>hero_ani_11007_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{165,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{165,17}}</string>
    <key>sourceSize</key>
    <string>{165,17}</string>
   </dict>
   <key>hero_ani_11007_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{652,222},{62,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,31}}</string>
    <key>sourceSize</key>
    <string>{62,31}</string>
   </dict>
   <key>hero_ani_11007_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{55,210},{61,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,34}}</string>
    <key>sourceSize</key>
    <string>{61,34}</string>
   </dict>
   <key>hero_ani_11007_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,279},{53,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,26}}</string>
    <key>sourceSize</key>
    <string>{53,26}</string>
   </dict>
   <key>hero_ani_11007_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{167,23},{80,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,79}}</string>
    <key>sourceSize</key>
    <string>{80,79}</string>
   </dict>
   <key>hero_ani_11007_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{882,0},{84,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,81}}</string>
    <key>sourceSize</key>
    <string>{84,81}</string>
   </dict>
   <key>hero_ani_11007_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{518,94},{63,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,67}}</string>
    <key>sourceSize</key>
    <string>{63,67}</string>
   </dict>
   <key>hero_ani_11007_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{869,83},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{67,67}</string>
   </dict>
   <key>hero_ani_11007_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{86,42},{70,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,71}}</string>
    <key>sourceSize</key>
    <string>{70,71}</string>
   </dict>
   <key>hero_ani_11007_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{687,104},{62,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,62}}</string>
    <key>sourceSize</key>
    <string>{62,62}</string>
   </dict>
   <key>hero_ani_11007_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{807,213},{34,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,35}}</string>
    <key>sourceSize</key>
    <string>{34,35}</string>
   </dict>
   <key>hero_ani_11007_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{778,30},{89,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,55}}</string>
    <key>sourceSize</key>
    <string>{89,55}</string>
   </dict>
   <key>hero_ani_11007_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{249,23},{98,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,54}}</string>
    <key>sourceSize</key>
    <string>{98,54}</string>
   </dict>
   <key>hero_ani_11007_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{518,41},{94,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,51}}</string>
    <key>sourceSize</key>
    <string>{94,51}</string>
   </dict>
   <key>hero_ani_11007_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{249,79},{90,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,49}}</string>
    <key>sourceSize</key>
    <string>{90,49}</string>
   </dict>
   <key>hero_ani_11007_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,104},{82,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,43}}</string>
    <key>sourceSize</key>
    <string>{82,43}</string>
   </dict>
   <key>hero_ani_11007_116.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,153},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11007_130.png</key>
   <dict>
    <key>frame</key>
    <string>{{993,0},{25,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,56}}</string>
    <key>sourceSize</key>
    <string>{25,56}</string>
   </dict>
   <key>hero_ani_11007_132.png</key>
   <dict>
    <key>frame</key>
    <string>{{341,82},{34,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,47}}</string>
    <key>sourceSize</key>
    <string>{34,47}</string>
   </dict>
   <key>hero_ani_11007_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{872,15},{6,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,14}}</string>
    <key>sourceSize</key>
    <string>{6,14}</string>
   </dict>
   <key>hero_ani_11007_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,23},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11007_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,131},{34,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,47}}</string>
    <key>sourceSize</key>
    <string>{34,47}</string>
   </dict>
   <key>hero_ani_11007_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{962,276},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,40}}</string>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>hero_ani_11007_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{920,276},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,40}}</string>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>hero_ani_11007_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{262,278},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,40}}</string>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>hero_ani_11007_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{835,258},{42,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,42}}</string>
    <key>sourceSize</key>
    <string>{42,42}</string>
   </dict>
   <key>hero_ani_11007_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{790,250},{43,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,43}}</string>
    <key>sourceSize</key>
    <string>{43,43}</string>
   </dict>
   <key>hero_ani_11007_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{635,276},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,40}}</string>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>hero_ani_11007_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{613,114},{61,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,57}}</string>
    <key>sourceSize</key>
    <string>{61,57}</string>
   </dict>
   <key>hero_ani_11007_108.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,271},{46,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,37}}</string>
    <key>sourceSize</key>
    <string>{46,37}</string>
   </dict>
   <key>hero_ani_11007_107.png</key>
   <dict>
    <key>frame</key>
    <string>{{574,225},{52,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,41}}</string>
    <key>sourceSize</key>
    <string>{52,41}</string>
   </dict>
   <key>hero_ani_11007_104.png</key>
   <dict>
    <key>frame</key>
    <string>{{513,194},{59,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,39}}</string>
    <key>sourceSize</key>
    <string>{59,39}</string>
   </dict>
   <key>hero_ani_11007_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,220},{58,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,36}}</string>
    <key>sourceSize</key>
    <string>{58,36}</string>
   </dict>
   <key>hero_ani_11007_103.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,65},{15,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,15}}</string>
    <key>sourceSize</key>
    <string>{15,15}</string>
   </dict>
   <key>hero_ani_11007_106.png</key>
   <dict>
    <key>frame</key>
    <string>{{361,23},{11,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,14}}</string>
    <key>sourceSize</key>
    <string>{11,14}</string>
   </dict>
   <key>hero_ani_11007_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{676,168},{52,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,52}}</string>
    <key>sourceSize</key>
    <string>{52,52}</string>
   </dict>
   <key>hero_ani_11007_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,222},{47,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,47}}</string>
    <key>sourceSize</key>
    <string>{47,47}</string>
   </dict>
   <key>hero_ani_11007_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{381,247},{41,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,45}}</string>
    <key>sourceSize</key>
    <string>{41,45}</string>
   </dict>
   <key>hero_ani_11007_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,196},{49,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,49}}</string>
    <key>sourceSize</key>
    <string>{49,49}</string>
   </dict>
   <key>hero_ani_11007_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,130},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,59}}</string>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>hero_ani_11007_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,137},{57,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,57}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>hero_ani_11007_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{1020,7},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11007_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{1020,4},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11007_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{1020,0},{1,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,2}}</string>
    <key>sourceSize</key>
    <string>{1,2}</string>
   </dict>
   <key>hero_ani_11007_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{869,31},{3,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,3}}</string>
    <key>sourceSize</key>
    <string>{3,3}</string>
   </dict>
   <key>hero_ani_11007_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{554,268},{39,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,45}}</string>
    <key>sourceSize</key>
    <string>{39,45}</string>
   </dict>
   <key>hero_ani_11007_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,267},{39,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,45}}</string>
    <key>sourceSize</key>
    <string>{39,45}</string>
   </dict>
   <key>hero_ani_11007_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,259},{39,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,45}}</string>
    <key>sourceSize</key>
    <string>{39,45}</string>
   </dict>
   <key>hero_ani_11007_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{879,258},{39,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,45}}</string>
    <key>sourceSize</key>
    <string>{39,45}</string>
   </dict>
   <key>hero_ani_11007_193.png</key>
   <dict>
    <key>frame</key>
    <string>{{467,270},{39,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,45}}</string>
    <key>sourceSize</key>
    <string>{39,45}</string>
   </dict>
   <key>hero_ani_11007_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{336,247},{43,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,44}}</string>
    <key>sourceSize</key>
    <string>{43,44}</string>
   </dict>
   <key>hero_ani_11007_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{595,276},{38,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,43}}</string>
    <key>sourceSize</key>
    <string>{38,43}</string>
   </dict>
   <key>hero_ani_11007_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{339,180},{33,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,47}}</string>
    <key>sourceSize</key>
    <string>{33,47}</string>
   </dict>
   <key>hero_ani_11007_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{435,137},{34,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,47}}</string>
    <key>sourceSize</key>
    <string>{34,47}</string>
   </dict>
   <key>hero_ani_11007_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{207,182},{33,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,47}}</string>
    <key>sourceSize</key>
    <string>{33,47}</string>
   </dict>
   <key>hero_ani_11007_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{303,130},{35,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,46}}</string>
    <key>sourceSize</key>
    <string>{35,46}</string>
   </dict>
   <key>hero_ani_11007_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{938,83},{28,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,43}}</string>
    <key>sourceSize</key>
    <string>{28,43}</string>
   </dict>
   <key>hero_ani_11007_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{943,233},{50,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,41}}</string>
    <key>sourceSize</key>
    <string>{50,41}</string>
   </dict>
   <key>hero_ani_11007_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{583,94},{28,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,43}}</string>
    <key>sourceSize</key>
    <string>{28,43}</string>
   </dict>
   <key>hero_ani_11007_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{677,283},{40,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,34}}</string>
    <key>sourceSize</key>
    <string>{40,34}</string>
   </dict>
   <key>hero_ani_11007_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{993,58},{28,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,44}}</string>
    <key>sourceSize</key>
    <string>{28,44}</string>
   </dict>
   <key>hero_ani_11007_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{303,178},{34,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,47}}</string>
    <key>sourceSize</key>
    <string>{34,47}</string>
   </dict>
   <key>hero_ani_11007_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{435,186},{33,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,47}}</string>
    <key>sourceSize</key>
    <string>{33,47}</string>
   </dict>
   <key>hero_ani_11007_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{807,164},{34,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,47}}</string>
    <key>sourceSize</key>
    <string>{34,47}</string>
   </dict>
   <key>hero_ani_11007_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,56},{26,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,7}}</string>
    <key>sourceSize</key>
    <string>{26,7}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11007.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11007.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>