<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11408_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{126,463},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11408_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{113,132},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11408_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{347,353},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11408_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11408_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{403,432},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11408_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11408_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,358},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11408_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{347,427},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11408_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,426},{58,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,51}}</string>
    <key>sourceSize</key>
    <string>{58,51}</string>
   </dict>
   <key>hero_ani_11408_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,243},{27,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,34}}</string>
    <key>sourceSize</key>
    <string>{27,34}</string>
   </dict>
   <key>hero_ani_11408_554.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,358},{53,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,60}}</string>
    <key>sourceSize</key>
    <string>{53,60}</string>
   </dict>
   <key>hero_ani_11408_233.png</key>
   <dict>
    <key>frame</key>
    <string>{{424,353},{53,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,77}}</string>
    <key>sourceSize</key>
    <string>{53,77}</string>
   </dict>
   <key>hero_ani_11408_231.png</key>
   <dict>
    <key>frame</key>
    <string>{{403,460},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11408_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{131,411},{74,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,50}}</string>
    <key>sourceSize</key>
    <string>{74,50}</string>
   </dict>
   <key>hero_ani_11408_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,420},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11408_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{488,124},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11408_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,489},{33,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,49}}</string>
    <key>sourceSize</key>
    <string>{33,49}</string>
   </dict>
   <key>hero_ani_11408_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{251,142},{111,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,117}}</string>
    <key>sourceSize</key>
    <string>{111,117}</string>
   </dict>
   <key>hero_ani_11408_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{138,142},{111,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,117}}</string>
    <key>sourceSize</key>
    <string>{111,117}</string>
   </dict>
   <key>hero_ani_11408_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{262,23},{111,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,117}}</string>
    <key>sourceSize</key>
    <string>{111,117}</string>
   </dict>
   <key>hero_ani_11408_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,124},{111,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,117}}</string>
    <key>sourceSize</key>
    <string>{111,117}</string>
   </dict>
   <key>hero_ani_11408_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{111,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,117}}</string>
    <key>sourceSize</key>
    <string>{111,117}</string>
   </dict>
   <key>hero_ani_11408_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,251},{96,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,95}}</string>
    <key>sourceSize</key>
    <string>{96,95}</string>
   </dict>
   <key>hero_ani_11408_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,261},{117,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{117,95}}</string>
    <key>sourceSize</key>
    <string>{117,95}</string>
   </dict>
   <key>hero_ani_11408_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,23},{119,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{119,117}}</string>
    <key>sourceSize</key>
    <string>{119,117}</string>
   </dict>
   <key>hero_ani_11408_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,243},{116,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,108}}</string>
    <key>sourceSize</key>
    <string>{116,108}</string>
   </dict>
   <key>hero_ani_11408_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,348},{80,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,76}}</string>
    <key>sourceSize</key>
    <string>{80,76}</string>
   </dict>
   <key>hero_ani_11408_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,279},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{28,28}</string>
   </dict>
   <key>hero_ani_11408_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{207,424},{68,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,46}}</string>
    <key>sourceSize</key>
    <string>{68,46}</string>
   </dict>
   <key>hero_ani_11408_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{133,342},{89,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,67}}</string>
    <key>sourceSize</key>
    <string>{89,67}</string>
   </dict>
   <key>hero_ani_11408_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{133,261},{93,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,79}}</string>
    <key>sourceSize</key>
    <string>{93,79}</string>
   </dict>
   <key>hero_ani_11408_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{133,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{133,122}}</string>
    <key>sourceSize</key>
    <string>{133,122}</string>
   </dict>
   <key>hero_ani_11408_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{508,124},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11408_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,124},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11408_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{504,124},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11408_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{60,473},{34,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,49}}</string>
    <key>sourceSize</key>
    <string>{34,49}</string>
   </dict>
   <key>hero_ani_11408_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,479},{34,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,49}}</string>
    <key>sourceSize</key>
    <string>{34,49}</string>
   </dict>
   <key>hero_ani_11408_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{243,472},{34,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,49}}</string>
    <key>sourceSize</key>
    <string>{34,49}</string>
   </dict>
   <key>hero_ani_11408_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{207,472},{34,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,49}}</string>
    <key>sourceSize</key>
    <string>{34,49}</string>
   </dict>
   <key>hero_ani_11408_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,422},{42,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,49}}</string>
    <key>sourceSize</key>
    <string>{42,49}</string>
   </dict>
   <key>hero_ani_11408_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{279,477},{34,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,49}}</string>
    <key>sourceSize</key>
    <string>{34,49}</string>
   </dict>
   <key>hero_ani_11408_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{172,463},{33,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,49}}</string>
    <key>sourceSize</key>
    <string>{33,49}</string>
   </dict>
   <key>hero_ani_11408_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,483},{33,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,49}}</string>
    <key>sourceSize</key>
    <string>{33,49}</string>
   </dict>
   <key>hero_ani_11408_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,489},{33,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,49}}</string>
    <key>sourceSize</key>
    <string>{33,49}</string>
   </dict>
   <key>hero_ani_11408_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,366},{47,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,54}}</string>
    <key>sourceSize</key>
    <string>{47,54}</string>
   </dict>
   <key>hero_ani_11408_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{98,257},{33,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,56}}</string>
    <key>sourceSize</key>
    <string>{33,56}</string>
   </dict>
   <key>hero_ani_11408_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{315,483},{33,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,49}}</string>
    <key>sourceSize</key>
    <string>{33,49}</string>
   </dict>
   <key>hero_ani_11408_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,489},{33,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,49}}</string>
    <key>sourceSize</key>
    <string>{33,49}</string>
   </dict>
   <key>hero_ani_11408_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{98,315},{33,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,49}}</string>
    <key>sourceSize</key>
    <string>{33,49}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11408.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11408.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>