<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11633_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,492},{65,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,19}}</string>
    <key>sourceSize</key>
    <string>{65,19}</string>
   </dict>
   <key>hero_ani_11633_110.png</key>
   <dict>
    <key>frame</key>
    <string>{{424,479},{82,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,25}}</string>
    <key>sourceSize</key>
    <string>{82,25}</string>
   </dict>
   <key>hero_ani_11633_109.png</key>
   <dict>
    <key>frame</key>
    <string>{{75,447},{82,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,31}}</string>
    <key>sourceSize</key>
    <string>{82,31}</string>
   </dict>
   <key>hero_ani_11633_108.png</key>
   <dict>
    <key>frame</key>
    <string>{{75,409},{82,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,36}}</string>
    <key>sourceSize</key>
    <string>{82,36}</string>
   </dict>
   <key>hero_ani_11633_107.png</key>
   <dict>
    <key>frame</key>
    <string>{{87,231},{87,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,46}}</string>
    <key>sourceSize</key>
    <string>{87,46}</string>
   </dict>
   <key>hero_ani_11633_106.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,370},{80,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,29}}</string>
    <key>sourceSize</key>
    <string>{80,29}</string>
   </dict>
   <key>hero_ani_11633_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,468},{67,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,22}}</string>
    <key>sourceSize</key>
    <string>{67,22}</string>
   </dict>
   <key>hero_ani_11633_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{336,93},{6,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,5}}</string>
    <key>sourceSize</key>
    <string>{6,5}</string>
   </dict>
   <key>hero_ani_11633_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,94},{4,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,7}}</string>
    <key>sourceSize</key>
    <string>{4,7}</string>
   </dict>
   <key>hero_ani_11633_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,84},{6,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,8}}</string>
    <key>sourceSize</key>
    <string>{6,8}</string>
   </dict>
   <key>hero_ani_11633_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,96},{8,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,7}}</string>
    <key>sourceSize</key>
    <string>{8,7}</string>
   </dict>
   <key>hero_ani_11633_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,85},{9,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,9}}</string>
    <key>sourceSize</key>
    <string>{9,9}</string>
   </dict>
   <key>hero_ani_11633_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,84},{10,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,11}}</string>
    <key>sourceSize</key>
    <string>{10,11}</string>
   </dict>
   <key>hero_ani_11633_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,74},{6,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,8}}</string>
    <key>sourceSize</key>
    <string>{6,8}</string>
   </dict>
   <key>hero_ani_11633_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{231,463},{33,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,28}}</string>
    <key>sourceSize</key>
    <string>{33,28}</string>
   </dict>
   <key>hero_ani_11633_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{336,85},{7,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,6}}</string>
    <key>sourceSize</key>
    <string>{7,6}</string>
   </dict>
   <key>hero_ani_11633_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,97},{4,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,6}}</string>
    <key>sourceSize</key>
    <string>{4,6}</string>
   </dict>
   <key>hero_ani_11633_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,334},{74,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,40}}</string>
    <key>sourceSize</key>
    <string>{74,40}</string>
   </dict>
   <key>hero_ani_11633_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{87,279},{87,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,42}}</string>
    <key>sourceSize</key>
    <string>{87,42}</string>
   </dict>
   <key>hero_ani_11633_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{76,366},{87,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,41}}</string>
    <key>sourceSize</key>
    <string>{87,41}</string>
   </dict>
   <key>hero_ani_11633_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,323},{88,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,41}}</string>
    <key>sourceSize</key>
    <string>{88,41}</string>
   </dict>
   <key>hero_ani_11633_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,0},{88,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,49}}</string>
    <key>sourceSize</key>
    <string>{88,49}</string>
   </dict>
   <key>hero_ani_11633_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,231},{85,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,51}}</string>
    <key>sourceSize</key>
    <string>{85,51}</string>
   </dict>
   <key>hero_ani_11633_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,284},{78,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,48}}</string>
    <key>sourceSize</key>
    <string>{78,48}</string>
   </dict>
   <key>hero_ani_11633_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{371,441},{41,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,30}}</string>
    <key>sourceSize</key>
    <string>{41,30}</string>
   </dict>
   <key>hero_ani_11633_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{226,229}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{226,229}}</string>
    <key>sourceSize</key>
    <string>{226,229}</string>
   </dict>
   <key>hero_ani_11633_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,217},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11633_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,128},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11633_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,151},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11633_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{345,74},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11633_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,85},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11633_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,140},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11633_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,194},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11633_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,206},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11633_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{298,324},{21,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,8}}</string>
    <key>sourceSize</key>
    <string>{21,8}</string>
   </dict>
   <key>hero_ani_11633_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,51},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11633_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{429,419},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,140},{28,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,53}}</string>
    <key>sourceSize</key>
    <string>{28,53}</string>
   </dict>
   <key>hero_ani_11633_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{254,343},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{159,411},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,310},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,51},{9,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,87}}</string>
    <key>sourceSize</key>
    <string>{9,87}</string>
   </dict>
   <key>hero_ani_11633_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{318,473},{104,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,21}}</string>
    <key>sourceSize</key>
    <string>{104,21}</string>
   </dict>
   <key>hero_ani_11633_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{69,480},{102,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,20}}</string>
    <key>sourceSize</key>
    <string>{102,20}</string>
   </dict>
   <key>hero_ani_11633_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{265,496},{100,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,19}}</string>
    <key>sourceSize</key>
    <string>{100,19}</string>
   </dict>
   <key>hero_ani_11633_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{67,502},{98,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,18}}</string>
    <key>sourceSize</key>
    <string>{98,18}</string>
   </dict>
   <key>hero_ani_11633_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{167,512},{95,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,18}}</string>
    <key>sourceSize</key>
    <string>{95,18}</string>
   </dict>
   <key>hero_ani_11633_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{264,517},{93,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,19}}</string>
    <key>sourceSize</key>
    <string>{93,19}</string>
   </dict>
   <key>hero_ani_11633_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{367,506},{94,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,21}}</string>
    <key>sourceSize</key>
    <string>{94,21}</string>
   </dict>
   <key>hero_ani_11633_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,522},{93,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,18}}</string>
    <key>sourceSize</key>
    <string>{93,18}</string>
   </dict>
   <key>hero_ani_11633_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{173,493},{90,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,17}}</string>
    <key>sourceSize</key>
    <string>{90,17}</string>
   </dict>
   <key>hero_ani_11633_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{429,401},{79,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,16}}</string>
    <key>sourceSize</key>
    <string>{79,16}</string>
   </dict>
   <key>hero_ani_11633_103.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,376},{72,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,30}}</string>
    <key>sourceSize</key>
    <string>{72,30}</string>
   </dict>
   <key>hero_ani_11633_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,260},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,59}}</string>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>hero_ani_11633_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{457,195},{53,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,53}}</string>
    <key>sourceSize</key>
    <string>{53,53}</string>
   </dict>
   <key>hero_ani_11633_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,0},{29,324}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,324}}</string>
    <key>sourceSize</key>
    <string>{29,324}</string>
   </dict>
   <key>hero_ani_11633_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,51},{62,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,75}}</string>
    <key>sourceSize</key>
    <string>{62,75}</string>
   </dict>
   <key>hero_ani_11633_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,0},{84,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,83}}</string>
    <key>sourceSize</key>
    <string>{84,83}</string>
   </dict>
   <key>hero_ani_11633_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{345,0},{73,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,72}}</string>
    <key>sourceSize</key>
    <string>{73,72}</string>
   </dict>
   <key>hero_ani_11633_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{507,55},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11633_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{507,51},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11633_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,272},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,283},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{209,386},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{332,409},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,446},{31,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,39}}</string>
    <key>sourceSize</key>
    <string>{31,39}</string>
   </dict>
   <key>hero_ani_11633_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{298,283},{25,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,39}}</string>
    <key>sourceSize</key>
    <string>{25,39}</string>
   </dict>
   <key>hero_ani_11633_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{287,452},{29,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,39}}</string>
    <key>sourceSize</key>
    <string>{29,39}</string>
   </dict>
   <key>hero_ani_11633_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,313},{25,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,39}}</string>
    <key>sourceSize</key>
    <string>{25,39}</string>
   </dict>
   <key>hero_ani_11633_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,272},{25,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,39}}</string>
    <key>sourceSize</key>
    <string>{25,39}</string>
   </dict>
   <key>hero_ani_11633_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,408},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{170,351},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{321,332},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,321},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{176,291},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,354},{28,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,53}}</string>
    <key>sourceSize</key>
    <string>{28,53}</string>
   </dict>
   <key>hero_ani_11633_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{293,392},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{39,408},{34,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,58}}</string>
    <key>sourceSize</key>
    <string>{34,58}</string>
   </dict>
   <key>hero_ani_11633_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,419},{34,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,58}}</string>
    <key>sourceSize</key>
    <string>{34,58}</string>
   </dict>
   <key>hero_ani_11633_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{176,231},{44,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,58}}</string>
    <key>sourceSize</key>
    <string>{44,58}</string>
   </dict>
   <key>hero_ani_11633_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,326},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{248,403},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{390,381},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
   <key>hero_ani_11633_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{457,250},{37,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,58}}</string>
    <key>sourceSize</key>
    <string>{37,58}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11633.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11633.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>