<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11637_242.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,418},{90,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,38}}</string>
        <key>sourceSize</key>
        <string>{90,38}</string>
      </dict>
      <key>hero_ani_11637_241.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,91},{46,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,18}}</string>
        <key>sourceSize</key>
        <string>{46,18}</string>
      </dict>
      <key>hero_ani_11637_240.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,269},{119,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,36}}</string>
        <key>sourceSize</key>
        <string>{119,36}</string>
      </dict>
      <key>hero_ani_11637_239.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{112,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,27}}</string>
        <key>sourceSize</key>
        <string>{112,27}</string>
      </dict>
      <key>hero_ani_11637_238.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,412},{102,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,34}}</string>
        <key>sourceSize</key>
        <string>{102,34}</string>
      </dict>
      <key>hero_ani_11637_237.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,448},{89,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,36}}</string>
        <key>sourceSize</key>
        <string>{89,36}</string>
      </dict>
      <key>hero_ani_11637_325.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{131,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,89}}</string>
        <key>sourceSize</key>
        <string>{131,89}</string>
      </dict>
      <key>hero_ani_11637_323.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,0},{130,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,87}}</string>
        <key>sourceSize</key>
        <string>{130,87}</string>
      </dict>
      <key>hero_ani_11637_322.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,80},{124,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,83}}</string>
        <key>sourceSize</key>
        <string>{124,83}</string>
      </dict>
      <key>hero_ani_11637_320.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,0},{129,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,78}}</string>
        <key>sourceSize</key>
        <string>{129,78}</string>
      </dict>
      <key>hero_ani_11637_319.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,0},{125,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,89}}</string>
        <key>sourceSize</key>
        <string>{125,89}</string>
      </dict>
      <key>hero_ani_11637_249.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,257},{107,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,52}}</string>
        <key>sourceSize</key>
        <string>{107,52}</string>
      </dict>
      <key>hero_ani_11637_248.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,343},{115,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,38}}</string>
        <key>sourceSize</key>
        <string>{115,38}</string>
      </dict>
      <key>hero_ani_11637_247.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,272},{112,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,42}}</string>
        <key>sourceSize</key>
        <string>{112,42}</string>
      </dict>
      <key>hero_ani_11637_246.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,215},{124,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,40}}</string>
        <key>sourceSize</key>
        <string>{124,40}</string>
      </dict>
      <key>hero_ani_11637_245.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,165},{125,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,48}}</string>
        <key>sourceSize</key>
        <string>{125,48}</string>
      </dict>
      <key>hero_ani_11637_244.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,316},{115,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,38}}</string>
        <key>sourceSize</key>
        <string>{115,38}</string>
      </dict>
      <key>hero_ani_11637_243.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,307},{112,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,42}}</string>
        <key>sourceSize</key>
        <string>{112,42}</string>
      </dict>
      <key>hero_ani_11637_236.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,87},{119,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,84}}</string>
        <key>sourceSize</key>
        <string>{119,84}</string>
      </dict>
      <key>hero_ani_11637_235.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,0},{128,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,85}}</string>
        <key>sourceSize</key>
        <string>{128,85}</string>
      </dict>
      <key>hero_ani_11637_234.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{132,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,85}}</string>
        <key>sourceSize</key>
        <string>{132,85}</string>
      </dict>
      <key>hero_ani_11637_250.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,105}}</string>
        <key>sourceSize</key>
        <string>{126,105}</string>
      </dict>
      <key>hero_ani_11637_230.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,89},{43,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,24}}</string>
        <key>sourceSize</key>
        <string>{43,24}</string>
      </dict>
      <key>hero_ani_11637_229.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,405},{56,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,40}}</string>
        <key>sourceSize</key>
        <string>{56,40}</string>
      </dict>
      <key>hero_ani_11637_228.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,370},{56,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,45}}</string>
        <key>sourceSize</key>
        <string>{56,45}</string>
      </dict>
      <key>hero_ani_11637_227.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,409},{74,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,62}}</string>
        <key>sourceSize</key>
        <string>{74,62}</string>
      </dict>
      <key>hero_ani_11637_226.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,254},{75,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,84}}</string>
        <key>sourceSize</key>
        <string>{75,84}</string>
      </dict>
      <key>hero_ani_11637_224.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,85},{89,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,92}}</string>
        <key>sourceSize</key>
        <string>{89,92}</string>
      </dict>
      <key>hero_ani_11637_223.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,89},{90,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,85}}</string>
        <key>sourceSize</key>
        <string>{90,85}</string>
      </dict>
      <key>hero_ani_11637_221.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,161},{90,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,81}}</string>
        <key>sourceSize</key>
        <string>{90,81}</string>
      </dict>
      <key>hero_ani_11637_220.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,244},{90,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,74}}</string>
        <key>sourceSize</key>
        <string>{90,74}</string>
      </dict>
      <key>hero_ani_11637_219.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,266},{90,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,67}}</string>
        <key>sourceSize</key>
        <string>{90,67}</string>
      </dict>
      <key>hero_ani_11637_218.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,277},{88,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,64}}</string>
        <key>sourceSize</key>
        <string>{88,64}</string>
      </dict>
      <key>hero_ani_11637_217.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,356},{82,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,60}}</string>
        <key>sourceSize</key>
        <string>{82,60}</string>
      </dict>
      <key>hero_ani_11637_216.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,417},{62,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,45}}</string>
        <key>sourceSize</key>
        <string>{62,45}</string>
      </dict>
      <key>hero_ani_11637_215.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,417},{60,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,36}}</string>
        <key>sourceSize</key>
        <string>{60,36}</string>
      </dict>
      <key>hero_ani_11637_131.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{53,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,111}}</string>
        <key>sourceSize</key>
        <string>{53,111}</string>
      </dict>
      <key>hero_ani_11637_126.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,176},{74,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,91}}</string>
        <key>sourceSize</key>
        <string>{74,91}</string>
      </dict>
      <key>hero_ani_11637_162.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,458},{74,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,44}}</string>
        <key>sourceSize</key>
        <string>{74,44}</string>
      </dict>
      <key>hero_ani_11637_214.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,455},{106,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,25}}</string>
        <key>sourceSize</key>
        <string>{106,25}</string>
      </dict>
      <key>hero_ani_11637_213.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,455},{106,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,27}}</string>
        <key>sourceSize</key>
        <string>{106,27}</string>
      </dict>
      <key>hero_ani_11637_212.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,441},{108,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,27}}</string>
        <key>sourceSize</key>
        <string>{108,27}</string>
      </dict>
      <key>hero_ani_11637_211.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,359},{105,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,36}}</string>
        <key>sourceSize</key>
        <string>{105,36}</string>
      </dict>
      <key>hero_ani_11637_210.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,397},{97,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,42}}</string>
        <key>sourceSize</key>
        <string>{97,42}</string>
      </dict>
      <key>hero_ani_11637_209.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,404},{90,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,49}}</string>
        <key>sourceSize</key>
        <string>{90,49}</string>
      </dict>
      <key>hero_ani_11637_208.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,413},{82,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,51}}</string>
        <key>sourceSize</key>
        <string>{82,51}</string>
      </dict>
      <key>hero_ani_11637_207.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,428},{76,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,52}}</string>
        <key>sourceSize</key>
        <string>{76,52}</string>
      </dict>
      <key>hero_ani_11637_206.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,445},{70,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,53}}</string>
        <key>sourceSize</key>
        <string>{70,53}</string>
      </dict>
      <key>hero_ani_11637_205.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,362},{63,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,53}}</string>
        <key>sourceSize</key>
        <string>{63,53}</string>
      </dict>
      <key>hero_ani_11637_204.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,351},{58,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,52}}</string>
        <key>sourceSize</key>
        <string>{58,52}</string>
      </dict>
      <key>hero_ani_11637_143.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,464},{74,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,16}}</string>
        <key>sourceSize</key>
        <string>{74,16}</string>
      </dict>
      <key>hero_ani_11637_1224.png</key>
      <dict>
        <key>frame</key>
        <string>{{1016,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11637_141.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,335},{59,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,91}}</string>
        <key>sourceSize</key>
        <string>{59,91}</string>
      </dict>
      <key>hero_ani_11637_140.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,311},{59,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,91}}</string>
        <key>sourceSize</key>
        <string>{59,91}</string>
      </dict>
      <key>hero_ani_11637_139.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,320},{59,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,91}}</string>
        <key>sourceSize</key>
        <string>{59,91}</string>
      </dict>
      <key>hero_ani_11637_138.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,266},{63,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,91}}</string>
        <key>sourceSize</key>
        <string>{63,91}</string>
      </dict>
      <key>hero_ani_11637_137.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,269},{63,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,91}}</string>
        <key>sourceSize</key>
        <string>{63,91}</string>
      </dict>
      <key>hero_ani_11637_136.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,277},{59,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,91}}</string>
        <key>sourceSize</key>
        <string>{59,91}</string>
      </dict>
      <key>hero_ani_11637_135.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,351},{57,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,92}}</string>
        <key>sourceSize</key>
        <string>{57,92}</string>
      </dict>
      <key>hero_ani_11637_130.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,316},{59,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,91}}</string>
        <key>sourceSize</key>
        <string>{59,91}</string>
      </dict>
      <key>hero_ani_11637_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,340},{59,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,91}}</string>
        <key>sourceSize</key>
        <string>{59,91}</string>
      </dict>
      <key>hero_ani_11637_129.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,173},{74,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,91}}</string>
        <key>sourceSize</key>
        <string>{74,91}</string>
      </dict>
      <key>hero_ani_11637_128.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,184},{74,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,91}}</string>
        <key>sourceSize</key>
        <string>{74,91}</string>
      </dict>
      <key>hero_ani_11637_127.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,176},{74,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,91}}</string>
        <key>sourceSize</key>
        <string>{74,91}</string>
      </dict>
      <key>hero_ani_11637_154.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,87},{124,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,72}}</string>
        <key>sourceSize</key>
        <string>{124,72}</string>
      </dict>
      <key>hero_ani_11637_151.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,91},{84,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,91}}</string>
        <key>sourceSize</key>
        <string>{84,91}</string>
      </dict>
      <key>hero_ani_11637_152.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,91},{84,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,91}}</string>
        <key>sourceSize</key>
        <string>{84,91}</string>
      </dict>
      <key>hero_ani_11637_153.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,161},{84,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,91}}</string>
        <key>sourceSize</key>
        <string>{84,91}</string>
      </dict>
      <key>hero_ani_11637_171.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,0},{99,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,83}}</string>
        <key>sourceSize</key>
        <string>{99,83}</string>
      </dict>
      <key>hero_ani_11637_142.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{84,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,91}}</string>
        <key>sourceSize</key>
        <string>{84,91}</string>
      </dict>
      <key>hero_ani_11637_125.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,173},{74,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,91}}</string>
        <key>sourceSize</key>
        <string>{74,91}</string>
      </dict>
      <key>hero_ani_11637_123.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,184},{74,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,91}}</string>
        <key>sourceSize</key>
        <string>{74,91}</string>
      </dict>
      <key>hero_ani_11637_124.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,179},{74,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,91}}</string>
        <key>sourceSize</key>
        <string>{74,91}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11637.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11637.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>