<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11421_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,67},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11421_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11421_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,110},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11421_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11421_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,273},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11421_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11421_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,188},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11421_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,254},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11421_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{140,208},{71,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,54}}</string>
    <key>sourceSize</key>
    <string>{71,54}</string>
   </dict>
   <key>hero_ani_11421_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{264,184},{73,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,55}}</string>
    <key>sourceSize</key>
    <string>{73,55}</string>
   </dict>
   <key>hero_ani_11421_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{140,154},{78,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,52}}</string>
    <key>sourceSize</key>
    <string>{78,52}</string>
   </dict>
   <key>hero_ani_11421_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{424,229},{79,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,42}}</string>
    <key>sourceSize</key>
    <string>{79,42}</string>
   </dict>
   <key>hero_ani_11421_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{101,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,54}}</string>
    <key>sourceSize</key>
    <string>{101,54}</string>
   </dict>
   <key>hero_ani_11421_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,98},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11421_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{316,254},{92,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,35}}</string>
    <key>sourceSize</key>
    <string>{92,35}</string>
   </dict>
   <key>hero_ani_11421_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{348,98},{78,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,85}}</string>
    <key>sourceSize</key>
    <string>{78,85}</string>
   </dict>
   <key>hero_ani_11421_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,67},{78,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,85}}</string>
    <key>sourceSize</key>
    <string>{78,85}</string>
   </dict>
   <key>hero_ani_11421_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{268,23},{78,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,85}}</string>
    <key>sourceSize</key>
    <string>{78,85}</string>
   </dict>
   <key>hero_ani_11421_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,356},{32,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,34}}</string>
    <key>sourceSize</key>
    <string>{32,34}</string>
   </dict>
   <key>hero_ani_11421_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,320},{32,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,34}}</string>
    <key>sourceSize</key>
    <string>{32,34}</string>
   </dict>
   <key>hero_ani_11421_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,241},{58,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,51}}</string>
    <key>sourceSize</key>
    <string>{58,51}</string>
   </dict>
   <key>hero_ani_11421_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,155},{82,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,72}}</string>
    <key>sourceSize</key>
    <string>{82,72}</string>
   </dict>
   <key>hero_ani_11421_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{316,291},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11421_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{348,56},{21,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,6}}</string>
    <key>sourceSize</key>
    <string>{21,6}</string>
   </dict>
   <key>hero_ani_11421_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{282,358},{53,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,12}}</string>
    <key>sourceSize</key>
    <string>{53,12}</string>
   </dict>
   <key>hero_ani_11421_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,23},{125,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{125,42}}</string>
    <key>sourceSize</key>
    <string>{125,42}</string>
   </dict>
   <key>hero_ani_11421_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{140,264},{51,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,57}}</string>
    <key>sourceSize</key>
    <string>{51,57}</string>
   </dict>
   <key>hero_ani_11421_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{339,185},{83,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,67}}</string>
    <key>sourceSize</key>
    <string>{83,67}</string>
   </dict>
   <key>hero_ani_11421_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{56,276},{41,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,38}}</string>
    <key>sourceSize</key>
    <string>{41,38}</string>
   </dict>
   <key>hero_ani_11421_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,153},{41,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,38}}</string>
    <key>sourceSize</key>
    <string>{41,38}</string>
   </dict>
   <key>hero_ani_11421_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,113},{41,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,38}}</string>
    <key>sourceSize</key>
    <string>{41,38}</string>
   </dict>
   <key>hero_ani_11421_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{213,233},{41,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,38}}</string>
    <key>sourceSize</key>
    <string>{41,38}</string>
   </dict>
   <key>hero_ani_11421_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{220,193},{41,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,38}}</string>
    <key>sourceSize</key>
    <string>{41,38}</string>
   </dict>
   <key>hero_ani_11421_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{193,273},{50,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,58}}</string>
    <key>sourceSize</key>
    <string>{50,58}</string>
   </dict>
   <key>hero_ani_11421_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{348,23},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11421_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,188},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>hero_ani_11421_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,301},{41,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,36}}</string>
    <key>sourceSize</key>
    <string>{41,36}</string>
   </dict>
   <key>hero_ani_11421_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{43,316},{41,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,36}}</string>
    <key>sourceSize</key>
    <string>{41,36}</string>
   </dict>
   <key>hero_ani_11421_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{288,320},{41,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,36}}</string>
    <key>sourceSize</key>
    <string>{41,36}</string>
   </dict>
   <key>hero_ani_11421_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{331,320},{41,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,36}}</string>
    <key>sourceSize</key>
    <string>{41,36}</string>
   </dict>
   <key>hero_ani_11421_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{408,301},{41,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,36}}</string>
    <key>sourceSize</key>
    <string>{41,36}</string>
   </dict>
   <key>hero_ani_11421_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{139,323},{41,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,36}}</string>
    <key>sourceSize</key>
    <string>{41,36}</string>
   </dict>
   <key>hero_ani_11421_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,310},{41,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,36}}</string>
    <key>sourceSize</key>
    <string>{41,36}</string>
   </dict>
   <key>hero_ani_11421_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{245,294},{41,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,36}}</string>
    <key>sourceSize</key>
    <string>{41,36}</string>
   </dict>
   <key>hero_ani_11421_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{106,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,96}}</string>
    <key>sourceSize</key>
    <string>{106,96}</string>
   </dict>
   <key>hero_ani_11421_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,308},{38,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,39}}</string>
    <key>sourceSize</key>
    <string>{38,39}</string>
   </dict>
   <key>hero_ani_11421_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,23},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11421_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,23},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11421_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,232},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>hero_ani_11421_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,132},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>hero_ani_11421_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,176},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>hero_ani_11421_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,339},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>hero_ani_11421_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,348},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>hero_ani_11421_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{37,354},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>hero_ani_11421_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{182,333},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>hero_ani_11421_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,264},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>hero_ani_11421_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,220},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>hero_ani_11421_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{408,339},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>hero_ani_11421_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{86,349},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>hero_ani_11421_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{245,332},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11421.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11421.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>