<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11409_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,182},{84,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,53}}</string>
        <key>sourceSize</key>
        <string>{84,53}</string>
      </dict>
      <key>hero_ani_11409_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,326},{34,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,28}}</string>
        <key>sourceSize</key>
        <string>{34,28}</string>
      </dict>
      <key>hero_ani_11409_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,68},{3,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,102}}</string>
        <key>sourceSize</key>
        <string>{3,102}</string>
      </dict>
      <key>hero_ani_11409_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,261},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,38}}</string>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
      <key>hero_ani_11409_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,68},{6,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,95}}</string>
        <key>sourceSize</key>
        <string>{6,95}</string>
      </dict>
      <key>hero_ani_11409_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,325},{34,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,28}}</string>
        <key>sourceSize</key>
        <string>{34,28}</string>
      </dict>
      <key>hero_ani_11409_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,68},{46,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,72}}</string>
        <key>sourceSize</key>
        <string>{46,72}</string>
      </dict>
      <key>hero_ani_11409_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,91},{86,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,89}}</string>
        <key>sourceSize</key>
        <string>{86,89}</string>
      </dict>
      <key>hero_ani_11409_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,0},{86,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,89}}</string>
        <key>sourceSize</key>
        <string>{86,89}</string>
      </dict>
      <key>hero_ani_11409_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,0},{86,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,89}}</string>
        <key>sourceSize</key>
        <string>{86,89}</string>
      </dict>
      <key>hero_ani_11409_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{86,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,89}}</string>
        <key>sourceSize</key>
        <string>{86,89}</string>
      </dict>
      <key>hero_ani_11409_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{86,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,89}}</string>
        <key>sourceSize</key>
        <string>{86,89}</string>
      </dict>
      <key>hero_ani_11409_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,91},{86,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,89}}</string>
        <key>sourceSize</key>
        <string>{86,89}</string>
      </dict>
      <key>hero_ani_11409_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,223},{19,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,17}}</string>
        <key>sourceSize</key>
        <string>{19,17}</string>
      </dict>
      <key>hero_ani_11409_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,212},{19,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,18}}</string>
        <key>sourceSize</key>
        <string>{19,18}</string>
      </dict>
      <key>hero_ani_11409_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,203},{19,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,18}}</string>
        <key>sourceSize</key>
        <string>{19,18}</string>
      </dict>
      <key>hero_ani_11409_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,182},{19,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,19}}</string>
        <key>sourceSize</key>
        <string>{19,19}</string>
      </dict>
      <key>hero_ani_11409_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,92},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11409_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,287},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11409_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,261},{40,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,37}}</string>
        <key>sourceSize</key>
        <string>{40,37}</string>
      </dict>
      <key>hero_ani_11409_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,165},{13,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,4}}</string>
        <key>sourceSize</key>
        <string>{13,4}</string>
      </dict>
      <key>hero_ani_11409_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>hero_ani_11409_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,284},{56,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,18}}</string>
        <key>sourceSize</key>
        <string>{56,18}</string>
      </dict>
      <key>hero_ani_11409_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{90,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,90}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>hero_ani_11409_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,172},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>hero_ani_11409_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,232},{21,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,11}}</string>
        <key>sourceSize</key>
        <string>{21,11}</string>
      </dict>
      <key>hero_ani_11409_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,338},{36,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,19}}</string>
        <key>sourceSize</key>
        <string>{36,19}</string>
      </dict>
      <key>hero_ani_11409_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,249},{44,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,35}}</string>
        <key>sourceSize</key>
        <string>{44,35}</string>
      </dict>
      <key>hero_ani_11409_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,237},{44,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,45}}</string>
        <key>sourceSize</key>
        <string>{44,45}</string>
      </dict>
      <key>hero_ani_11409_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,192},{44,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,47}}</string>
        <key>sourceSize</key>
        <string>{44,47}</string>
      </dict>
      <key>hero_ani_11409_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,142},{44,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,48}}</string>
        <key>sourceSize</key>
        <string>{44,48}</string>
      </dict>
      <key>hero_ani_11409_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,237},{39,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,43}}</string>
        <key>sourceSize</key>
        <string>{39,43}</string>
      </dict>
      <key>hero_ani_11409_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,249},{43,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,35}}</string>
        <key>sourceSize</key>
        <string>{43,35}</string>
      </dict>
      <key>hero_ani_11409_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,325},{38,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,24}}</string>
        <key>sourceSize</key>
        <string>{38,24}</string>
      </dict>
      <key>hero_ani_11409_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,196},{23,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,14}}</string>
        <key>sourceSize</key>
        <string>{23,14}</string>
      </dict>
      <key>hero_ani_11409_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,250},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>hero_ani_11409_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,241},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11409_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,91},{6,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,93}}</string>
        <key>sourceSize</key>
        <string>{6,93}</string>
      </dict>
      <key>hero_ani_11409_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,182},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>hero_ani_11409_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,170},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>hero_ani_11409_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,92},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>hero_ani_11409_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,91},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>hero_ani_11409_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,170},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>hero_ani_11409_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>hero_ani_11409_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,91},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>hero_ani_11409_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,68},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11409_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,68},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11409_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,289},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11409_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,304},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11409_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,301},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11409_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,304},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11409_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,320},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11409_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,288},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11409_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,287},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11409_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,287},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11409_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,320},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11409_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,249},{40,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,37}}</string>
        <key>sourceSize</key>
        <string>{40,37}</string>
      </dict>
      <key>hero_ani_11409_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{40,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,37}}</string>
        <key>sourceSize</key>
        <string>{40,37}</string>
      </dict>
      <key>hero_ani_11409_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,325},{35,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,31}}</string>
        <key>sourceSize</key>
        <string>{35,31}</string>
      </dict>
      <key>hero_ani_11409_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,324},{35,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,31}}</string>
        <key>sourceSize</key>
        <string>{35,31}</string>
      </dict>
      <key>hero_ani_11409_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,324},{35,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,31}}</string>
        <key>sourceSize</key>
        <string>{35,31}</string>
      </dict>
      <key>hero_ani_11409_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,286},{35,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,32}}</string>
        <key>sourceSize</key>
        <string>{35,32}</string>
      </dict>
      <key>hero_ani_11409_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,286},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hero_ani_11409_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,282},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hero_ani_11409_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,300},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11409_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,249},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>hero_ani_11409_154.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,286},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11409.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11409.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>