<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_18021_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{162,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,38}}</string>
        <key>sourceSize</key>
        <string>{162,38}</string>
      </dict>
      <key>hero_ani_18021_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,132},{20,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,24}}</string>
        <key>sourceSize</key>
        <string>{20,24}</string>
      </dict>
      <key>hero_ani_18021_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,103},{22,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,31}}</string>
        <key>sourceSize</key>
        <string>{22,31}</string>
      </dict>
      <key>hero_ani_18021_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,66},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>hero_ani_18021_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,76},{24,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,33}}</string>
        <key>sourceSize</key>
        <string>{24,33}</string>
      </dict>
      <key>hero_ani_18021_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,40},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18021_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,40},{29,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,34}}</string>
        <key>sourceSize</key>
        <string>{29,34}</string>
      </dict>
      <key>hero_ani_18021_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,66},{52,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,37}}</string>
        <key>sourceSize</key>
        <string>{52,37}</string>
      </dict>
      <key>hero_ani_18021_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,105},{51,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,37}}</string>
        <key>sourceSize</key>
        <string>{51,37}</string>
      </dict>
      <key>hero_ani_18021_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{48,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,37}}</string>
        <key>sourceSize</key>
        <string>{48,37}</string>
      </dict>
      <key>hero_ani_18021_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,106},{36,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,27}}</string>
        <key>sourceSize</key>
        <string>{36,27}</string>
      </dict>
      <key>hero_ani_18021_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,132},{19,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,22}}</string>
        <key>sourceSize</key>
        <string>{19,22}</string>
      </dict>
      <key>hero_ani_18021_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_18021_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18021_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18021_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18021_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,40},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18021_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18021_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18021_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18021_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18021_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18021_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18021_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_18021_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,111},{27,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,25}}</string>
        <key>sourceSize</key>
        <string>{27,25}</string>
      </dict>
      <key>hero_ani_18021_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,135},{27,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,25}}</string>
        <key>sourceSize</key>
        <string>{27,25}</string>
      </dict>
      <key>hero_ani_18021_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,132},{27,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,25}}</string>
        <key>sourceSize</key>
        <string>{27,25}</string>
      </dict>
      <key>hero_ani_18021_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,136},{27,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,25}}</string>
        <key>sourceSize</key>
        <string>{27,25}</string>
      </dict>
      <key>hero_ani_18021_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_18021_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,132},{40,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,43}}</string>
        <key>sourceSize</key>
        <string>{40,43}</string>
      </dict>
      <key>hero_ani_18021_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,132},{40,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,43}}</string>
        <key>sourceSize</key>
        <string>{40,43}</string>
      </dict>
      <key>hero_ani_18021_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,132},{40,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,43}}</string>
        <key>sourceSize</key>
        <string>{40,43}</string>
      </dict>
      <key>hero_ani_18021_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,132},{40,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,43}}</string>
        <key>sourceSize</key>
        <string>{40,43}</string>
      </dict>
      <key>hero_ani_18021_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,106},{40,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,43}}</string>
        <key>sourceSize</key>
        <string>{40,43}</string>
      </dict>
      <key>hero_ani_18021_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,151},{39,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,27}}</string>
        <key>sourceSize</key>
        <string>{39,27}</string>
      </dict>
      <key>hero_ani_18021_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,144},{42,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,26}}</string>
        <key>sourceSize</key>
        <string>{42,26}</string>
      </dict>
      <key>hero_ani_18021_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,145},{40,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,27}}</string>
        <key>sourceSize</key>
        <string>{40,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_18021.png</string>
      <key>textureFileName</key>
      <string>hero_ani_18021.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>