<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_18024_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,115},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18024_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{84,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,110}}</string>
        <key>sourceSize</key>
        <string>{84,110}</string>
      </dict>
      <key>hero_ani_18024_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{83,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,47}}</string>
        <key>sourceSize</key>
        <string>{83,47}</string>
      </dict>
      <key>hero_ani_18024_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,0},{33,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,33}}</string>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>hero_ani_18024_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{82,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,120}}</string>
        <key>sourceSize</key>
        <string>{82,120}</string>
      </dict>
      <key>hero_ani_18024_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,0},{84,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,108}}</string>
        <key>sourceSize</key>
        <string>{84,108}</string>
      </dict>
      <key>hero_ani_18024_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,176},{80,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,38}}</string>
        <key>sourceSize</key>
        <string>{80,38}</string>
      </dict>
      <key>hero_ani_18024_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,181},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,51}}</string>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>hero_ani_18024_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,198},{43,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,56}}</string>
        <key>sourceSize</key>
        <string>{43,56}</string>
      </dict>
      <key>hero_ani_18024_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,178},{57,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,57}}</string>
        <key>sourceSize</key>
        <string>{57,57}</string>
      </dict>
      <key>hero_ani_18024_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,181},{53,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,53}}</string>
        <key>sourceSize</key>
        <string>{53,53}</string>
      </dict>
      <key>hero_ani_18024_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,188},{44,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,55}}</string>
        <key>sourceSize</key>
        <string>{44,55}</string>
      </dict>
      <key>hero_ani_18024_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,66},{55,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,58}}</string>
        <key>sourceSize</key>
        <string>{55,58}</string>
      </dict>
      <key>hero_ani_18024_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,126},{54,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,53}}</string>
        <key>sourceSize</key>
        <string>{54,53}</string>
      </dict>
      <key>hero_ani_18024_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,35},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,17}}</string>
        <key>sourceSize</key>
        <string>{17,17}</string>
      </dict>
      <key>hero_ani_18024_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,35},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,17}}</string>
        <key>sourceSize</key>
        <string>{17,17}</string>
      </dict>
      <key>hero_ani_18024_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_18024_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,110},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18024_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,112},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18024_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18024_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18024_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18024_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,49},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18024_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18024_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18024_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_18024_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_18024.png</string>
      <key>textureFileName</key>
      <string>hero_ani_18024.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>