<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11423_10068.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,338},{26,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,25}}</string>
        <key>sourceSize</key>
        <string>{26,25}</string>
      </dict>
      <key>hero_ani_11423_10067.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,726},{29,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,22}}</string>
        <key>sourceSize</key>
        <string>{29,22}</string>
      </dict>
      <key>hero_ani_11423_10066.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,715},{27,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,28}}</string>
        <key>sourceSize</key>
        <string>{27,28}</string>
      </dict>
      <key>hero_ani_11423_10065.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,365},{25,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,23}}</string>
        <key>sourceSize</key>
        <string>{25,23}</string>
      </dict>
      <key>hero_ani_11423_10064.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,390},{24,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,23}}</string>
        <key>sourceSize</key>
        <string>{24,23}</string>
      </dict>
      <key>hero_ani_11423_10063.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,184},{19,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,17}}</string>
        <key>sourceSize</key>
        <string>{19,17}</string>
      </dict>
      <key>hero_ani_11423_10062.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,225},{16,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,19}}</string>
        <key>sourceSize</key>
        <string>{16,19}</string>
      </dict>
      <key>hero_ani_11423_10061.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,260},{16,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,13}}</string>
        <key>sourceSize</key>
        <string>{16,13}</string>
      </dict>
      <key>hero_ani_11423_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,632},{144,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,75}}</string>
        <key>sourceSize</key>
        <string>{144,75}</string>
      </dict>
      <key>hero_ani_11423_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,724},{38,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,18}}</string>
        <key>sourceSize</key>
        <string>{38,18}</string>
      </dict>
      <key>hero_ani_11423_1005.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,246},{19,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,12}}</string>
        <key>sourceSize</key>
        <string>{19,12}</string>
      </dict>
      <key>hero_ani_11423_103.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,552},{43,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,40}}</string>
        <key>sourceSize</key>
        <string>{43,40}</string>
      </dict>
      <key>hero_ani_11423_141.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,614},{78,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,78}}</string>
        <key>sourceSize</key>
        <string>{78,78}</string>
      </dict>
      <key>hero_ani_11423_139.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,655},{48,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,58}}</string>
        <key>sourceSize</key>
        <string>{48,58}</string>
      </dict>
      <key>hero_ani_11423_138.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,627},{76,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,74}}</string>
        <key>sourceSize</key>
        <string>{76,74}</string>
      </dict>
      <key>hero_ani_11423_137.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,294},{74,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,170}}</string>
        <key>sourceSize</key>
        <string>{74,170}</string>
      </dict>
      <key>hero_ani_11423_136.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,466},{74,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,146}}</string>
        <key>sourceSize</key>
        <string>{74,146}</string>
      </dict>
      <key>hero_ani_11423_133.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,186},{54,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,146}}</string>
        <key>sourceSize</key>
        <string>{54,146}</string>
      </dict>
      <key>hero_ani_11423_132.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,334},{54,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,142}}</string>
        <key>sourceSize</key>
        <string>{54,142}</string>
      </dict>
      <key>hero_ani_11423_131.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,0},{54,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,150}}</string>
        <key>sourceSize</key>
        <string>{54,150}</string>
      </dict>
      <key>hero_ani_11423_130.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,529},{54,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,124}}</string>
        <key>sourceSize</key>
        <string>{54,124}</string>
      </dict>
      <key>hero_ani_11423_129.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,627},{50,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,56}}</string>
        <key>sourceSize</key>
        <string>{50,56}</string>
      </dict>
      <key>hero_ani_11423_150.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,335},{100,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,170}}</string>
        <key>sourceSize</key>
        <string>{100,170}</string>
      </dict>
      <key>hero_ani_11423_149.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,0},{176,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,182}}</string>
        <key>sourceSize</key>
        <string>{176,182}</string>
      </dict>
      <key>hero_ani_11423_148.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,0},{186,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,184}}</string>
        <key>sourceSize</key>
        <string>{186,184}</string>
      </dict>
      <key>hero_ani_11423_147.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,0},{176,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,182}}</string>
        <key>sourceSize</key>
        <string>{176,182}</string>
      </dict>
      <key>hero_ani_11423_146.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,184},{164,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,170}}</string>
        <key>sourceSize</key>
        <string>{164,170}</string>
      </dict>
      <key>hero_ani_11423_145.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{268,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,184}}</string>
        <key>sourceSize</key>
        <string>{268,184}</string>
      </dict>
      <key>hero_ani_11423_144.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{135,333}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,333}}</string>
        <key>sourceSize</key>
        <string>{135,333}</string>
      </dict>
      <key>hero_ani_11423_143.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,478},{54,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,141}}</string>
        <key>sourceSize</key>
        <string>{54,141}</string>
      </dict>
      <key>hero_ani_11423_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,338},{171,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{171,105}}</string>
        <key>sourceSize</key>
        <string>{171,105}</string>
      </dict>
      <key>hero_ani_11423_126.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,737},{157,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,70}}</string>
        <key>sourceSize</key>
        <string>{157,70}</string>
      </dict>
      <key>hero_ani_11423_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,695},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11423_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,724},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>hero_ani_11423_112.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,335},{23,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,119}}</string>
        <key>sourceSize</key>
        <string>{23,119}</string>
      </dict>
      <key>hero_ani_11423_111.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,573},{48,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,111}}</string>
        <key>sourceSize</key>
        <string>{48,111}</string>
      </dict>
      <key>hero_ani_11423_110.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,553},{55,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,117}}</string>
        <key>sourceSize</key>
        <string>{55,117}</string>
      </dict>
      <key>hero_ani_11423_109.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,152},{61,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,140}}</string>
        <key>sourceSize</key>
        <string>{61,140}</string>
      </dict>
      <key>hero_ani_11423_108.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,594},{61,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,78}}</string>
        <key>sourceSize</key>
        <string>{61,78}</string>
      </dict>
      <key>hero_ani_11423_107.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,674},{60,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,51}}</string>
        <key>sourceSize</key>
        <string>{60,51}</string>
      </dict>
      <key>hero_ani_11423_106.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,690},{58,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,50}}</string>
        <key>sourceSize</key>
        <string>{58,50}</string>
      </dict>
      <key>hero_ani_11423_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,621},{61,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,51}}</string>
        <key>sourceSize</key>
        <string>{61,51}</string>
      </dict>
      <key>hero_ani_11423_104.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,674},{61,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,48}}</string>
        <key>sourceSize</key>
        <string>{61,48}</string>
      </dict>
      <key>hero_ani_11423_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,0},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11423_102.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,686},{43,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,40}}</string>
        <key>sourceSize</key>
        <string>{43,40}</string>
      </dict>
      <key>hero_ani_11423_125.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,450},{143,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,125}}</string>
        <key>sourceSize</key>
        <string>{143,125}</string>
      </dict>
      <key>hero_ani_11423_124.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,337},{198,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,132}}</string>
        <key>sourceSize</key>
        <string>{198,132}</string>
      </dict>
      <key>hero_ani_11423_123.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,186},{199,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,149}}</string>
        <key>sourceSize</key>
        <string>{199,149}</string>
      </dict>
      <key>hero_ani_11423_122.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,186},{191,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,150}}</string>
        <key>sourceSize</key>
        <string>{191,150}</string>
      </dict>
      <key>hero_ani_11423_121.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,184},{167,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,139}}</string>
        <key>sourceSize</key>
        <string>{167,139}</string>
      </dict>
      <key>hero_ani_11423_120.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,356},{139,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,137}}</string>
        <key>sourceSize</key>
        <string>{139,137}</string>
      </dict>
      <key>hero_ani_11423_119.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,553},{117,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,137}}</string>
        <key>sourceSize</key>
        <string>{117,137}</string>
      </dict>
      <key>hero_ani_11423_118.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,495},{128,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,130}}</string>
        <key>sourceSize</key>
        <string>{128,130}</string>
      </dict>
      <key>hero_ani_11423_117.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,445},{139,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,132}}</string>
        <key>sourceSize</key>
        <string>{139,132}</string>
      </dict>
      <key>hero_ani_11423_116.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,325},{155,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,123}}</string>
        <key>sourceSize</key>
        <string>{155,123}</string>
      </dict>
      <key>hero_ani_11423_115.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,577},{127,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,116}}</string>
        <key>sourceSize</key>
        <string>{127,116}</string>
      </dict>
      <key>hero_ani_11423_114.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,507},{98,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,101}}</string>
        <key>sourceSize</key>
        <string>{98,101}</string>
      </dict>
      <key>hero_ani_11423_113.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,610},{82,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,78}}</string>
        <key>sourceSize</key>
        <string>{82,78}</string>
      </dict>
      <key>hero_ani_11423_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,450},{43,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,49}}</string>
        <key>sourceSize</key>
        <string>{43,49}</string>
      </dict>
      <key>hero_ani_11423_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,579},{139,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,51}}</string>
        <key>sourceSize</key>
        <string>{139,51}</string>
      </dict>
      <key>hero_ani_11423_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,672},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero_ani_11423_164.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,415},{25,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,21}}</string>
        <key>sourceSize</key>
        <string>{25,21}</string>
      </dict>
      <key>hero_ani_11423_163.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,438},{25,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,21}}</string>
        <key>sourceSize</key>
        <string>{25,21}</string>
      </dict>
      <key>hero_ani_11423_162.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,484},{25,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,21}}</string>
        <key>sourceSize</key>
        <string>{25,21}</string>
      </dict>
      <key>hero_ani_11423_161.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,461},{25,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,21}}</string>
        <key>sourceSize</key>
        <string>{25,21}</string>
      </dict>
      <key>hero_ani_11423_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,471},{186,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,80}}</string>
        <key>sourceSize</key>
        <string>{186,80}</string>
      </dict>
      <key>hero_ani_11423_128.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,750},{276,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,60}}</string>
        <key>sourceSize</key>
        <string>{276,60}</string>
      </dict>
      <key>hero_ani_11423_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,33},{13,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,11}}</string>
        <key>sourceSize</key>
        <string>{13,11}</string>
      </dict>
      <key>hero_ani_11423_165.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,203},{16,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,20}}</string>
        <key>sourceSize</key>
        <string>{16,20}</string>
      </dict>
      <key>hero_ani_11423_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11423_991.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11423_183.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,703},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11423_182.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,703},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11423_153.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,709},{30,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,40}}</string>
        <key>sourceSize</key>
        <string>{30,40}</string>
      </dict>
      <key>hero_ani_11423_152.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,715},{30,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,40}}</string>
        <key>sourceSize</key>
        <string>{30,40}</string>
      </dict>
      <key>hero_ani_11423_1004.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,694},{40,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,35}}</string>
        <key>sourceSize</key>
        <string>{40,35}</string>
      </dict>
      <key>hero_ani_11423_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,487},{30,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,40}}</string>
        <key>sourceSize</key>
        <string>{30,40}</string>
      </dict>
      <key>hero_ani_11423_151.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,695},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11423_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,709},{30,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,40}}</string>
        <key>sourceSize</key>
        <string>{30,40}</string>
      </dict>
      <key>hero_ani_11423_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,690},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11423_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,445},{30,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,40}}</string>
        <key>sourceSize</key>
        <string>{30,40}</string>
      </dict>
      <key>hero_ani_11423_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,695},{40,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,35}}</string>
        <key>sourceSize</key>
        <string>{40,35}</string>
      </dict>
      <key>hero_ani_11423_99.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,692},{40,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,35}}</string>
        <key>sourceSize</key>
        <string>{40,35}</string>
      </dict>
      <key>hero_ani_11423_98.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,694},{40,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,35}}</string>
        <key>sourceSize</key>
        <string>{40,35}</string>
      </dict>
      <key>hero_ani_11423_101.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,501},{43,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,49}}</string>
        <key>sourceSize</key>
        <string>{43,49}</string>
      </dict>
      <key>hero_ani_11423_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,471},{43,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,49}}</string>
        <key>sourceSize</key>
        <string>{43,49}</string>
      </dict>
      <key>hero_ani_11423_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,522},{43,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,49}}</string>
        <key>sourceSize</key>
        <string>{43,49}</string>
      </dict>
      <key>hero_ani_11423_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,685},{43,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,40}}</string>
        <key>sourceSize</key>
        <string>{43,40}</string>
      </dict>
      <key>hero_ani_11423_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,692},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11423_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,692},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>hero_ani_11423_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,709},{30,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,40}}</string>
        <key>sourceSize</key>
        <string>{30,40}</string>
      </dict>
      <key>hero_ani_11423_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,709},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11423.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11423.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>