<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_boss_4_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,0},{15,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,8}}</string>
        <key>sourceSize</key>
        <string>{15,8}</string>
      </dict>
      <key>hero_ani_boss_4_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,123},{52,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,55}}</string>
        <key>sourceSize</key>
        <string>{52,55}</string>
      </dict>
      <key>hero_ani_boss_4_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,123},{65,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,54}}</string>
        <key>sourceSize</key>
        <string>{65,54}</string>
      </dict>
      <key>hero_ani_boss_4_yj 5.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,180},{96,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>hero_ani_boss_4_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{72,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,121}}</string>
        <key>sourceSize</key>
        <string>{72,121}</string>
      </dict>
      <key>hero_ani_boss_4_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,0},{72,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,121}}</string>
        <key>sourceSize</key>
        <string>{72,121}</string>
      </dict>
      <key>hero_ani_boss_4_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,0},{72,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,121}}</string>
        <key>sourceSize</key>
        <string>{72,121}</string>
      </dict>
      <key>hero_ani_boss_4_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{72,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,121}}</string>
        <key>sourceSize</key>
        <string>{72,121}</string>
      </dict>
      <key>hero_ani_boss_4_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_boss_4_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{96,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>hero_ani_boss_4_yj 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,217},{96,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>hero_ani_boss_4_yj 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,123},{96,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>hero_ani_boss_4_yj 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,123},{96,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>hero_ani_boss_4_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{115,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,102}}</string>
        <key>sourceSize</key>
        <string>{115,102}</string>
      </dict>
      <key>hero_ani_boss_4_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{74,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,126}}</string>
        <key>sourceSize</key>
        <string>{74,126}</string>
      </dict>
      <key>hero_ani_boss_4_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,179},{96,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>hero_ani_boss_4_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{96,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>hero_ani_boss_4_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,217},{96,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_boss_4.png</string>
      <key>textureFileName</key>
      <string>hero_ani_boss_4.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>