<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11639_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1031,640}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1031,640}}</string>
    <key>sourceSize</key>
    <string>{1031,640}</string>
   </dict>
   <key>hero_ani_11639_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,642},{1029,620}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1029,620}}</string>
    <key>sourceSize</key>
    <string>{1029,620}</string>
   </dict>
   <key>hero_ani_11639_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{1031,661},{1015,619}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1015,619}}</string>
    <key>sourceSize</key>
    <string>{1015,619}</string>
   </dict>
   <key>hero_ani_11639_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{1033,0},{970,659}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{970,659}}</string>
    <key>sourceSize</key>
    <string>{970,659}</string>
   </dict>
   <key>元件 4.png</key>
   <dict>
    <key>frame</key>
    <string>{{454,1456},{55,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,39}}</string>
    <key>sourceSize</key>
    <string>{55,39}</string>
   </dict>
   <key>元件 3.png</key>
   <dict>
    <key>frame</key>
    <string>{{717,1387},{76,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,64}}</string>
    <key>sourceSize</key>
    <string>{76,64}</string>
   </dict>
   <key>元件 2.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,1390},{76,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,64}}</string>
    <key>sourceSize</key>
    <string>{76,64}</string>
   </dict>
   <key>元件 1.png</key>
   <dict>
    <key>frame</key>
    <string>{{542,1392},{76,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,62}}</string>
    <key>sourceSize</key>
    <string>{76,62}</string>
   </dict>
   <key>hero_ani_11639_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{1612,1362},{52,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,79}}</string>
    <key>sourceSize</key>
    <string>{52,79}</string>
   </dict>
   <key>hero_ani_11639_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{1906,1425},{51,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,78}}</string>
    <key>sourceSize</key>
    <string>{51,78}</string>
   </dict>
   <key>hero_ani_11639_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{1666,1438},{50,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,76}}</string>
    <key>sourceSize</key>
    <string>{50,76}</string>
   </dict>
   <key>hero_ani_11639_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{1959,1438},{51,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,72}}</string>
    <key>sourceSize</key>
    <string>{51,72}</string>
   </dict>
   <key>hero_ani_11639_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{2005,0},{5,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{5,100}}</string>
    <key>sourceSize</key>
    <string>{5,100}</string>
   </dict>
   <key>hero_ani_11639_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{860,1264},{92,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,140}}</string>
    <key>sourceSize</key>
    <string>{92,140}</string>
   </dict>
   <key>hero_ani_11639_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,1454},{64,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,46}}</string>
    <key>sourceSize</key>
    <string>{64,46}</string>
   </dict>
   <key>hero_ani_11639_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{1718,1438},{66,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,58}}</string>
    <key>sourceSize</key>
    <string>{66,58}</string>
   </dict>
   <key>hero_ani_11639_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{1138,1404},{68,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,66}}</string>
    <key>sourceSize</key>
    <string>{68,66}</string>
   </dict>
   <key>hero_ani_11639_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,1390},{74,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,62}}</string>
    <key>sourceSize</key>
    <string>{74,62}</string>
   </dict>
   <key>hero_ani_11639_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{2012,0},{30,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,26}}</string>
    <key>sourceSize</key>
    <string>{30,26}</string>
   </dict>
   <key>hero_ani_11639_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{1239,1282},{111,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,72}}</string>
    <key>sourceSize</key>
    <string>{111,72}</string>
   </dict>
   <key>hero_ani_11639_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{323,1264},{238,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{238,46}}</string>
    <key>sourceSize</key>
    <string>{238,46}</string>
   </dict>
   <key>hero_ani_11639_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{2032,56},{14,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,14}}</string>
    <key>sourceSize</key>
    <string>{14,14}</string>
   </dict>
   <key>hero_ani_11639_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{1666,1282},{94,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,81}}</string>
    <key>sourceSize</key>
    <string>{94,81}</string>
   </dict>
   <key>hero_ani_11639_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{1456,1282},{106,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,72}}</string>
    <key>sourceSize</key>
    <string>{106,72}</string>
   </dict>
   <key>hero_ani_11639_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{1025,1282},{118,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,102}}</string>
    <key>sourceSize</key>
    <string>{118,102}</string>
   </dict>
   <key>hero_ani_11639_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{717,1264},{141,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,121}}</string>
    <key>sourceSize</key>
    <string>{141,121}</string>
   </dict>
   <key>hero_ani_11639_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1264},{159,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,133}}</string>
    <key>sourceSize</key>
    <string>{159,133}</string>
   </dict>
   <key>hero_ani_11639_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{161,1264},{160,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,130}}</string>
    <key>sourceSize</key>
    <string>{160,130}</string>
   </dict>
   <key>hero_ani_11639_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{563,1264},{152,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{152,126}}</string>
    <key>sourceSize</key>
    <string>{152,126}</string>
   </dict>
   <key>hero_ani_11639_1111.png</key>
   <dict>
    <key>frame</key>
    <string>{{1145,1282},{92,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,120}}</string>
    <key>sourceSize</key>
    <string>{92,120}</string>
   </dict>
   <key>hero_ani_11639_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1666,1365},{73,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,71}}</string>
    <key>sourceSize</key>
    <string>{73,71}</string>
   </dict>
   <key>hero_ani_11639_999.png</key>
   <dict>
    <key>frame</key>
    <string>{{2012,88},{18,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,28}}</string>
    <key>sourceSize</key>
    <string>{18,28}</string>
   </dict>
   <key>hero_ani_11639_998.png</key>
   <dict>
    <key>frame</key>
    <string>{{2005,134},{16,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,28}}</string>
    <key>sourceSize</key>
    <string>{16,28}</string>
   </dict>
   <key>hero_ani_11639_997.png</key>
   <dict>
    <key>frame</key>
    <string>{{2023,134},{16,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,26}}</string>
    <key>sourceSize</key>
    <string>{16,26}</string>
   </dict>
   <key>hero_ani_11639_996.png</key>
   <dict>
    <key>frame</key>
    <string>{{2012,56},{18,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,30}}</string>
    <key>sourceSize</key>
    <string>{18,30}</string>
   </dict>
   <key>hero_ani_11639_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{740,1453},{53,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,67}}</string>
    <key>sourceSize</key>
    <string>{53,67}</string>
   </dict>
   <key>hero_ani_11639_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1399},{63,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,73}}</string>
    <key>sourceSize</key>
    <string>{63,73}</string>
   </dict>
   <key>hero_ani_11639_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{2012,28},{30,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,26}}</string>
    <key>sourceSize</key>
    <string>{30,26}</string>
   </dict>
   <key>hero_ani_11639_115.png</key>
   <dict>
    <key>frame</key>
    <string>{{1276,1439},{51,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,72}}</string>
    <key>sourceSize</key>
    <string>{51,72}</string>
   </dict>
   <key>hero_ani_11639_114.png</key>
   <dict>
    <key>frame</key>
    <string>{{65,1399},{53,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,83}}</string>
    <key>sourceSize</key>
    <string>{53,83}</string>
   </dict>
   <key>hero_ani_11639_113.png</key>
   <dict>
    <key>frame</key>
    <string>{{1083,1386},{53,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,85}}</string>
    <key>sourceSize</key>
    <string>{53,85}</string>
   </dict>
   <key>hero_ani_11639_112.png</key>
   <dict>
    <key>frame</key>
    <string>{{1025,1386},{56,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,85}}</string>
    <key>sourceSize</key>
    <string>{56,85}</string>
   </dict>
   <key>hero_ani_11639_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{1329,1439},{46,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,60}}</string>
    <key>sourceSize</key>
    <string>{46,60}</string>
   </dict>
   <key>hero_ani_11639_110.png</key>
   <dict>
    <key>frame</key>
    <string>{{1381,1361},{69,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,76}}</string>
    <key>sourceSize</key>
    <string>{69,76}</string>
   </dict>
   <key>hero_ani_11639_109.png</key>
   <dict>
    <key>frame</key>
    <string>{{954,1342},{69,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,76}}</string>
    <key>sourceSize</key>
    <string>{69,76}</string>
   </dict>
   <key>hero_ani_11639_108.png</key>
   <dict>
    <key>frame</key>
    <string>{{1960,1360},{69,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,76}}</string>
    <key>sourceSize</key>
    <string>{69,76}</string>
   </dict>
   <key>hero_ani_11639_107.png</key>
   <dict>
    <key>frame</key>
    <string>{{954,1264},{69,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,76}}</string>
    <key>sourceSize</key>
    <string>{69,76}</string>
   </dict>
   <key>hero_ani_11639_106.png</key>
   <dict>
    <key>frame</key>
    <string>{{1456,1356},{69,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,76}}</string>
    <key>sourceSize</key>
    <string>{69,76}</string>
   </dict>
   <key>hero_ani_11639_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{323,1312},{69,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,76}}</string>
    <key>sourceSize</key>
    <string>{69,76}</string>
   </dict>
   <key>hero_ani_11639_104.png</key>
   <dict>
    <key>frame</key>
    <string>{{465,1312},{69,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,76}}</string>
    <key>sourceSize</key>
    <string>{69,76}</string>
   </dict>
   <key>hero_ani_11639_103.png</key>
   <dict>
    <key>frame</key>
    <string>{{1239,1356},{69,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,76}}</string>
    <key>sourceSize</key>
    <string>{69,76}</string>
   </dict>
   <key>hero_ani_11639_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{1762,1360},{69,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,76}}</string>
    <key>sourceSize</key>
    <string>{69,76}</string>
   </dict>
   <key>hero_ani_11639_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{1310,1361},{69,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,76}}</string>
    <key>sourceSize</key>
    <string>{69,76}</string>
   </dict>
   <key>hero_ani_11639_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{394,1312},{69,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,76}}</string>
    <key>sourceSize</key>
    <string>{69,76}</string>
   </dict>
   <key>hero_ani_11639_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{1960,1282},{80,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,76}}</string>
    <key>sourceSize</key>
    <string>{80,76}</string>
   </dict>
   <key>hero_ani_11639_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{1862,1282},{96,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,78}}</string>
    <key>sourceSize</key>
    <string>{96,78}</string>
   </dict>
   <key>hero_ani_11639_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{1352,1282},{102,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,77}}</string>
    <key>sourceSize</key>
    <string>{102,77}</string>
   </dict>
   <key>hero_ani_11639_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{1564,1282},{100,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,78}}</string>
    <key>sourceSize</key>
    <string>{100,78}</string>
   </dict>
   <key>hero_ani_11639_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{1762,1282},{98,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,76}}</string>
    <key>sourceSize</key>
    <string>{98,76}</string>
   </dict>
   <key>hero_ani_11635_360.png</key>
   <dict>
    <key>frame</key>
    <string>{{2032,79},{7,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,5}}</string>
    <key>sourceSize</key>
    <string>{7,5}</string>
   </dict>
   <key>hero_ani_11635_350.png</key>
   <dict>
    <key>frame</key>
    <string>{{2032,72},{7,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,5}}</string>
    <key>sourceSize</key>
    <string>{7,5}</string>
   </dict>
   <key>hero_ani_11639_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{685,1453},{53,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,67}}</string>
    <key>sourceSize</key>
    <string>{53,67}</string>
   </dict>
   <key>hero_ani_11639_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{1594,1443},{55,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,67}}</string>
    <key>sourceSize</key>
    <string>{55,67}</string>
   </dict>
   <key>hero_ani_11639_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{1527,1425},{65,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,66}}</string>
    <key>sourceSize</key>
    <string>{65,66}</string>
   </dict>
   <key>hero_ani_11639_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{620,1392},{63,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,73}}</string>
    <key>sourceSize</key>
    <string>{63,73}</string>
   </dict>
   <key>hero_ani_11639_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{323,1390},{63,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,73}}</string>
    <key>sourceSize</key>
    <string>{63,73}</string>
   </dict>
   <key>hero_ani_11639_119.png</key>
   <dict>
    <key>frame</key>
    <string>{{1452,1434},{67,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,62}}</string>
    <key>sourceSize</key>
    <string>{67,62}</string>
   </dict>
   <key>hero_ani_11639_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{1208,1434},{66,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,64}}</string>
    <key>sourceSize</key>
    <string>{66,64}</string>
   </dict>
   <key>hero_ani_11639_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{860,1406},{54,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,79}}</string>
    <key>sourceSize</key>
    <string>{54,79}</string>
   </dict>
   <key>hero_ani_11639_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{1833,1362},{83,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,61}}</string>
    <key>sourceSize</key>
    <string>{83,61}</string>
   </dict>
   <key>hero_ani_11639_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{1527,1362},{83,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,61}}</string>
    <key>sourceSize</key>
    <string>{83,61}</string>
   </dict>
   <key>hero_ani_11639_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{1833,1425},{71,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,59}}</string>
    <key>sourceSize</key>
    <string>{71,59}</string>
   </dict>
   <key>hero_ani_11639_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{1377,1439},{57,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,65}}</string>
    <key>sourceSize</key>
    <string>{57,65}</string>
   </dict>
   <key>hero_ani_11639_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{916,1420},{65,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,66}}</string>
    <key>sourceSize</key>
    <string>{65,66}</string>
   </dict>
   <key>hero_ani_11639_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{795,1387},{63,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,73}}</string>
    <key>sourceSize</key>
    <string>{63,73}</string>
   </dict>
   <key>hero_ani_11639_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{161,1396},{63,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,73}}</string>
    <key>sourceSize</key>
    <string>{63,73}</string>
   </dict>
   <key>hero_ani_11639_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{226,1396},{63,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,73}}</string>
    <key>sourceSize</key>
    <string>{63,73}</string>
   </dict>
   <key>hero_ani_11639_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{2005,118},{37,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,14}}</string>
    <key>sourceSize</key>
    <string>{37,14}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11639.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11639.png</string>
   <key>size</key>
   <string>{2048,2048}</string>
  </dict>
 </dict>
</plist>