<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_chest__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,184},{33,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,52}}</string>
        <key>sourceSize</key>
        <string>{33,52}</string>
      </dict>
      <key>hero_ani_chest__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,222},{19,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,52}}</string>
        <key>sourceSize</key>
        <string>{19,52}</string>
      </dict>
      <key>hero_ani_chest__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,222},{19,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,52}}</string>
        <key>sourceSize</key>
        <string>{19,52}</string>
      </dict>
      <key>hero_ani_chest__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,130},{33,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,52}}</string>
        <key>sourceSize</key>
        <string>{33,52}</string>
      </dict>
      <key>hero_ani_chest__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,146},{49,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,52}}</string>
        <key>sourceSize</key>
        <string>{49,52}</string>
      </dict>
      <key>hero_ani_chest__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,200},{49,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,52}}</string>
        <key>sourceSize</key>
        <string>{49,52}</string>
      </dict>
      <key>hero_ani_chest__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,222},{23,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,23}}</string>
        <key>sourceSize</key>
        <string>{23,23}</string>
      </dict>
      <key>hero_ani_chest__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,237},{38,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,29}}</string>
        <key>sourceSize</key>
        <string>{38,29}</string>
      </dict>
      <key>hero_ani_chest__29.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,118},{135,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,102}}</string>
        <key>sourceSize</key>
        <string>{135,102}</string>
      </dict>
      <key>hero_ani_chest__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,222},{66,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,91}}</string>
        <key>sourceSize</key>
        <string>{66,91}</string>
      </dict>
      <key>hero_ani_chest__30.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,146},{129,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,89}}</string>
        <key>sourceSize</key>
        <string>{129,89}</string>
      </dict>
      <key>hero_ani_chest__26.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{146,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,128}}</string>
        <key>sourceSize</key>
        <string>{146,128}</string>
      </dict>
      <key>hero_ani_chest__28.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{170,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,144}}</string>
        <key>sourceSize</key>
        <string>{170,144}</string>
      </dict>
      <key>hero_ani_chest__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{192,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,128}}</string>
        <key>sourceSize</key>
        <string>{192,128}</string>
      </dict>
      <key>hero_ani_chest__27.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{138,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,116}}</string>
        <key>sourceSize</key>
        <string>{138,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_chest.png</string>
      <key>textureFileName</key>
      <string>hero_ani_chest.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>