<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_18000_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{127,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,112}}</string>
        <key>sourceSize</key>
        <string>{127,112}</string>
      </dict>
      <key>hero_ani_18000_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,114},{127,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,112}}</string>
        <key>sourceSize</key>
        <string>{127,112}</string>
      </dict>
      <key>hero_ani_18000_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{127,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,112}}</string>
        <key>sourceSize</key>
        <string>{127,112}</string>
      </dict>
      <key>hero_ani_18000_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{127,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,112}}</string>
        <key>sourceSize</key>
        <string>{127,112}</string>
      </dict>
      <key>hero_ani_18000_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{127,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,112}}</string>
        <key>sourceSize</key>
        <string>{127,112}</string>
      </dict>
      <key>hero_ani_18000_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{127,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,112}}</string>
        <key>sourceSize</key>
        <string>{127,112}</string>
      </dict>
      <key>hero_ani_18000_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,114},{127,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,112}}</string>
        <key>sourceSize</key>
        <string>{127,112}</string>
      </dict>
      <key>hero_ani_18000_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,0},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>hero_ani_18000_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,186},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>hero_ani_18000_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,62},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>hero_ani_18000_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,124},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>hero_ani_18000_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,124},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_18000_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,73},{7,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,7}}</string>
        <key>sourceSize</key>
        <string>{7,7}</string>
      </dict>
      <key>hero_ani_18000_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,0},{57,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,71}}</string>
        <key>sourceSize</key>
        <string>{57,71}</string>
      </dict>
      <key>hero_ani_18000_335.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_18000_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,111},{30,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,36}}</string>
        <key>sourceSize</key>
        <string>{30,36}</string>
      </dict>
      <key>hero_ani_18000_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,73},{30,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,36}}</string>
        <key>sourceSize</key>
        <string>{30,36}</string>
      </dict>
      <key>hero_ani_18000_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,228},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_18000_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,149},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_18000_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,163},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_18000_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,202},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_18000_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,227},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_18000_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,188},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>hero_ani_18000_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,228},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_18000.png</string>
      <key>textureFileName</key>
      <string>hero_ani_18000.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>