<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11295_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{694,154},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11295_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,23},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11295_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,142},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11295_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{605,0},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11295_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{573,248},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11295_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11295_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{824,205},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11295_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,243},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11295_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{908,111},{77,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,80}}</string>
    <key>sourceSize</key>
    <string>{77,80}</string>
   </dict>
   <key>hero_ani_11295_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{987,111},{32,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,54}}</string>
    <key>sourceSize</key>
    <string>{32,54}</string>
   </dict>
   <key>hero_ani_11295_995.png</key>
   <dict>
    <key>frame</key>
    <string>{{694,109},{47,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,43}}</string>
    <key>sourceSize</key>
    <string>{47,43}</string>
   </dict>
   <key>hero_ani_11295_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{63,240},{32,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,10}}</string>
    <key>sourceSize</key>
    <string>{32,10}</string>
   </dict>
   <key>hero_ani_11295_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{681,200},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11295_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{824,159},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11295_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,138},{36,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,32}}</string>
    <key>sourceSize</key>
    <string>{36,32}</string>
   </dict>
   <key>hero_ani_11295_991.png</key>
   <dict>
    <key>frame</key>
    <string>{{1021,28},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11295_996.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,199},{40,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,42}}</string>
    <key>sourceSize</key>
    <string>{40,42}</string>
   </dict>
   <key>hero_ani_11295_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{986,202},{31,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,33}}</string>
    <key>sourceSize</key>
    <string>{31,33}</string>
   </dict>
   <key>hero_ani_11295_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{987,167},{31,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,33}}</string>
    <key>sourceSize</key>
    <string>{31,33}</string>
   </dict>
   <key>hero_ani_11295_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,206},{31,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,32}}</string>
    <key>sourceSize</key>
    <string>{31,32}</string>
   </dict>
   <key>hero_ani_11295_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,226},{31,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,32}}</string>
    <key>sourceSize</key>
    <string>{31,32}</string>
   </dict>
   <key>hero_ani_11295_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,206},{31,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,32}}</string>
    <key>sourceSize</key>
    <string>{31,32}</string>
   </dict>
   <key>hero_ani_11295_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,191},{31,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,33}}</string>
    <key>sourceSize</key>
    <string>{31,33}</string>
   </dict>
   <key>hero_ani_11295_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,176},{36,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,28}}</string>
    <key>sourceSize</key>
    <string>{36,28}</string>
   </dict>
   <key>hero_ani_11295_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{986,237},{33,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,25}}</string>
    <key>sourceSize</key>
    <string>{33,25}</string>
   </dict>
   <key>hero_ani_11295_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,157},{36,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,32}}</string>
    <key>sourceSize</key>
    <string>{36,32}</string>
   </dict>
   <key>hero_ani_11295_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,142},{36,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,32}}</string>
    <key>sourceSize</key>
    <string>{36,32}</string>
   </dict>
   <key>hero_ani_11295_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,172},{36,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,32}}</string>
    <key>sourceSize</key>
    <string>{36,32}</string>
   </dict>
   <key>hero_ani_11295_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{341,188},{17,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,4}}</string>
    <key>sourceSize</key>
    <string>{17,4}</string>
   </dict>
   <key>hero_ani_11295_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{63,260},{93,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,15}}</string>
    <key>sourceSize</key>
    <string>{93,15}</string>
   </dict>
   <key>hero_ani_11295_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{746,0},{160,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,82}}</string>
    <key>sourceSize</key>
    <string>{160,82}</string>
   </dict>
   <key>path_11295_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,202},{82,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,64}}</string>
    <key>sourceSize</key>
    <string>{82,64}</string>
   </dict>
   <key>path_11295_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{229,200},{82,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,64}}</string>
    <key>sourceSize</key>
    <string>{82,64}</string>
   </dict>
   <key>path_11295_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{740,159},{82,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,64}}</string>
    <key>sourceSize</key>
    <string>{82,64}</string>
   </dict>
   <key>path_11295_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{902,193},{82,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,64}}</string>
    <key>sourceSize</key>
    <string>{82,64}</string>
   </dict>
   <key>path_11295_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{597,182},{82,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,64}}</string>
    <key>sourceSize</key>
    <string>{82,64}</string>
   </dict>
   <key>hero_ani_11295_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{315,170},{13,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,13}}</string>
    <key>sourceSize</key>
    <string>{13,13}</string>
   </dict>
   <key>hero_ani_11295_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,218},{69,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,51}}</string>
    <key>sourceSize</key>
    <string>{69,51}</string>
   </dict>
   <key>hero_ani_11295_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{1017,0},{5,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{5,5}}</string>
    <key>sourceSize</key>
    <string>{5,5}</string>
   </dict>
   <key>hero_ani_11295_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{668,257},{64,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,49}}</string>
    <key>sourceSize</key>
    <string>{64,49}</string>
   </dict>
   <key>hero_ani_11295_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{371,23},{3,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,5}}</string>
    <key>sourceSize</key>
    <string>{3,5}</string>
   </dict>
   <key>hero_ani_11295_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,112},{36,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,43}}</string>
    <key>sourceSize</key>
    <string>{36,43}</string>
   </dict>
   <key>hero_ani_11295_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{1017,7},{4,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,6}}</string>
    <key>sourceSize</key>
    <string>{4,6}</string>
   </dict>
   <key>hero_ani_11295_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,216},{61,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,65}}</string>
    <key>sourceSize</key>
    <string>{61,65}</string>
   </dict>
   <key>hero_ani_11295_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{595,138},{7,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,6}}</string>
    <key>sourceSize</key>
    <string>{7,6}</string>
   </dict>
   <key>hero_ani_11295_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{1017,22},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>hero_ani_11295_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,187},{12,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,10}}</string>
    <key>sourceSize</key>
    <string>{12,10}</string>
   </dict>
   <key>hero_ani_11295_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{1017,15},{4,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,5}}</string>
    <key>sourceSize</key>
    <string>{4,5}</string>
   </dict>
   <key>hero_ani_11295_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,266},{52,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,49}}</string>
    <key>sourceSize</key>
    <string>{52,49}</string>
   </dict>
   <key>hero_ani_11295_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{681,182},{11,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,13}}</string>
    <key>sourceSize</key>
    <string>{11,13}</string>
   </dict>
   <key>hero_ani_11295_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,260},{58,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,45}}</string>
    <key>sourceSize</key>
    <string>{58,45}</string>
   </dict>
   <key>hero_ani_11295_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{846,84},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,60}}</string>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>hero_ani_11295_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{345,148},{19,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,22}}</string>
    <key>sourceSize</key>
    <string>{19,22}</string>
   </dict>
   <key>hero_ani_11295_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{371,138},{78,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,78}}</string>
    <key>sourceSize</key>
    <string>{78,78}</string>
   </dict>
   <key>hero_ani_11295_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{343,172},{19,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,14}}</string>
    <key>sourceSize</key>
    <string>{19,14}</string>
   </dict>
   <key>hero_ani_11295_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{846,146},{54,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,57}}</string>
    <key>sourceSize</key>
    <string>{54,57}</string>
   </dict>
   <key>hero_ani_11295_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{576,165},{19,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,19}}</string>
    <key>sourceSize</key>
    <string>{19,19}</string>
   </dict>
   <key>hero_ani_11295_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{963,264},{57,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,44}}</string>
    <key>sourceSize</key>
    <string>{57,44}</string>
   </dict>
   <key>hero_ani_11295_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{315,107},{26,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,26}}</string>
    <key>sourceSize</key>
    <string>{26,26}</string>
   </dict>
   <key>hero_ani_11295_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{237,107},{76,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,91}}</string>
    <key>sourceSize</key>
    <string>{76,91}</string>
   </dict>
   <key>hero_ani_11295_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{112,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{112,136}}</string>
    <key>sourceSize</key>
    <string>{112,136}</string>
   </dict>
   <key>hero_ani_11295_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{491,0},{112,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{112,136}}</string>
    <key>sourceSize</key>
    <string>{112,136}</string>
   </dict>
   <key>hero_ani_11295_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{746,84},{98,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,73}}</string>
    <key>sourceSize</key>
    <string>{98,73}</string>
   </dict>
   <key>hero_ani_11295_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{605,109},{87,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,71}}</string>
    <key>sourceSize</key>
    <string>{87,71}</string>
   </dict>
   <key>hero_ani_11295_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{115,194},{75,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,64}}</string>
    <key>sourceSize</key>
    <string>{75,64}</string>
   </dict>
   <key>hero_ani_11295_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{237,23},{107,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,82}}</string>
    <key>sourceSize</key>
    <string>{107,82}</string>
   </dict>
   <key>hero_ani_11295_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{576,138},{17,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,25}}</string>
    <key>sourceSize</key>
    <string>{17,25}</string>
   </dict>
   <key>hero_ani_11295_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{576,186},{15,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,10}}</string>
    <key>sourceSize</key>
    <string>{15,10}</string>
   </dict>
   <key>hero_ani_11295_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{315,135},{13,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,33}}</string>
    <key>sourceSize</key>
    <string>{13,33}</string>
   </dict>
   <key>hero_ani_11295_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,135},{13,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,28}}</string>
    <key>sourceSize</key>
    <string>{13,28}</string>
   </dict>
   <key>hero_ani_11295_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,165},{11,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,20}}</string>
    <key>sourceSize</key>
    <string>{11,20}</string>
   </dict>
   <key>hero_ani_11295_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{315,185},{10,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,14}}</string>
    <key>sourceSize</key>
    <string>{10,14}</string>
   </dict>
   <key>hero_ani_11295_992.png</key>
   <dict>
    <key>frame</key>
    <string>{{890,259},{71,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,48}}</string>
    <key>sourceSize</key>
    <string>{71,48}</string>
   </dict>
   <key>hero_ani_11295_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{908,0},{107,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,109}}</string>
    <key>sourceSize</key>
    <string>{107,109}</string>
   </dict>
   <key>hero_ani_11295_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{115,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,117}}</string>
    <key>sourceSize</key>
    <string>{115,117}</string>
   </dict>
   <key>hero_ani_11295_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{117,23},{118,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,87}}</string>
    <key>sourceSize</key>
    <string>{118,87}</string>
   </dict>
   <key>hero_ani_11295_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{738,225},{84,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,58}}</string>
    <key>sourceSize</key>
    <string>{84,58}</string>
   </dict>
   <key>hero_ani_11295_971.png</key>
   <dict>
    <key>frame</key>
    <string>{{1017,28},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11295_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,138},{85,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,62}}</string>
    <key>sourceSize</key>
    <string>{85,62}</string>
   </dict>
   <key>hero_ani_11295_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{117,112},{77,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,80}}</string>
    <key>sourceSize</key>
    <string>{77,80}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11295.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11295.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>