<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11430_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{528,214},{137,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{137,69}}</string>
    <key>sourceSize</key>
    <string>{137,69}</string>
   </dict>
   <key>hero_ani_11430_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,150},{143,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{143,79}}</string>
    <key>sourceSize</key>
    <string>{143,79}</string>
   </dict>
   <key>hero_ani_11430_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{827,0},{133,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{133,101}}</string>
    <key>sourceSize</key>
    <string>{133,101}</string>
   </dict>
   <key>hero_ani_11430_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{419,124},{134,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{134,87}}</string>
    <key>sourceSize</key>
    <string>{134,87}</string>
   </dict>
   <key>hero_ani_11430_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{555,131},{133,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{133,81}}</string>
    <key>sourceSize</key>
    <string>{133,81}</string>
   </dict>
   <key>hero_ani_11430_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,102},{143,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{143,79}}</string>
    <key>sourceSize</key>
    <string>{143,79}</string>
   </dict>
   <key>hero_ani_11430_113.png</key>
   <dict>
    <key>frame</key>
    <string>{{915,283},{37,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,29}}</string>
    <key>sourceSize</key>
    <string>{37,29}</string>
   </dict>
   <key>hero_ani_11430_109.png</key>
   <dict>
    <key>frame</key>
    <string>{{370,259},{36,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,37}}</string>
    <key>sourceSize</key>
    <string>{36,37}</string>
   </dict>
   <key>hero_ani_11430_110.png</key>
   <dict>
    <key>frame</key>
    <string>{{925,165},{35,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,36}}</string>
    <key>sourceSize</key>
    <string>{35,36}</string>
   </dict>
   <key>hero_ani_11430_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{925,203},{33,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,36}}</string>
    <key>sourceSize</key>
    <string>{33,36}</string>
   </dict>
   <key>hero_ani_11430_112.png</key>
   <dict>
    <key>frame</key>
    <string>{{915,241},{38,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,40}}</string>
    <key>sourceSize</key>
    <string>{38,40}</string>
   </dict>
   <key>hero_ani_11430_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{925,103},{35,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,60}}</string>
    <key>sourceSize</key>
    <string>{35,60}</string>
   </dict>
   <key>hero_ani_11430_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,102},{18,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,27}}</string>
    <key>sourceSize</key>
    <string>{18,27}</string>
   </dict>
   <key>hero_ani_11430_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{370,183},{45,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,74}}</string>
    <key>sourceSize</key>
    <string>{45,74}</string>
   </dict>
   <key>hero_ani_11430_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{632,285},{51,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,76}}</string>
    <key>sourceSize</key>
    <string>{51,76}</string>
   </dict>
   <key>hero_ani_11430_9733.png</key>
   <dict>
    <key>frame</key>
    <string>{{399,143},{12,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,18}}</string>
    <key>sourceSize</key>
    <string>{12,18}</string>
   </dict>
   <key>hero_ani_11430_9732.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,131},{12,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,18}}</string>
    <key>sourceSize</key>
    <string>{12,18}</string>
   </dict>
   <key>hero_ani_11430_9731.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,151},{12,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,18}}</string>
    <key>sourceSize</key>
    <string>{12,18}</string>
   </dict>
   <key>hero_ani_11430_970.png</key>
   <dict>
    <key>frame</key>
    <string>{{405,102},{12,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,19}}</string>
    <key>sourceSize</key>
    <string>{12,19}</string>
   </dict>
   <key>hero_ani_11430_979.png</key>
   <dict>
    <key>frame</key>
    <string>{{405,123},{12,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,18}}</string>
    <key>sourceSize</key>
    <string>{12,18}</string>
   </dict>
   <key>hero_ani_11430_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{331,521},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,60}}</string>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>hero_ani_11430_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{563,0},{129,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{129,129}}</string>
    <key>sourceSize</key>
    <string>{129,129}</string>
   </dict>
   <key>hero_ani_11430_161.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,0},{177,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{177,100}}</string>
    <key>sourceSize</key>
    <string>{177,100}</string>
   </dict>
   <key>hero_ani_11430_159.png</key>
   <dict>
    <key>frame</key>
    <string>{{239,183},{129,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{129,81}}</string>
    <key>sourceSize</key>
    <string>{129,81}</string>
   </dict>
   <key>hero_ani_11430_158.png</key>
   <dict>
    <key>frame</key>
    <string>{{879,314},{76,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,84}}</string>
    <key>sourceSize</key>
    <string>{76,84}</string>
   </dict>
   <key>hero_ani_11430_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{569,538},{87,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,62}}</string>
    <key>sourceSize</key>
    <string>{87,62}</string>
   </dict>
   <key>hero_ani_11430_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{507,369},{90,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,74}}</string>
    <key>sourceSize</key>
    <string>{90,74}</string>
   </dict>
   <key>hero_ani_11430_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{694,116},{126,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{126,91}}</string>
    <key>sourceSize</key>
    <string>{126,91}</string>
   </dict>
   <key>hero_ani_11430_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{93,349},{35,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,12}}</string>
    <key>sourceSize</key>
    <string>{35,12}</string>
   </dict>
   <key>hero_ani_11430_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{238,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{238,148}}</string>
    <key>sourceSize</key>
    <string>{238,148}</string>
   </dict>
   <key>hero_ani_11430_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{681,447},{86,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,68}}</string>
    <key>sourceSize</key>
    <string>{86,68}</string>
   </dict>
   <key>hero_ani_11430_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{571,468},{86,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,68}}</string>
    <key>sourceSize</key>
    <string>{86,68}</string>
   </dict>
   <key>hero_ani_11430_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{852,475},{86,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,68}}</string>
    <key>sourceSize</key>
    <string>{86,68}</string>
   </dict>
   <key>hero_ani_11430_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{394,453},{86,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,68}}</string>
    <key>sourceSize</key>
    <string>{86,68}</string>
   </dict>
   <key>hero_ani_11430_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{172,500},{86,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,68}}</string>
    <key>sourceSize</key>
    <string>{86,68}</string>
   </dict>
   <key>hero_ani_11430_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{934,585},{68,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,68}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>hero_ani_11430_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{277,425},{53,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,27}}</string>
    <key>sourceSize</key>
    <string>{53,27}</string>
   </dict>
   <key>hero_ani_11430_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{419,0},{142,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{142,122}}</string>
    <key>sourceSize</key>
    <string>{142,122}</string>
   </dict>
   <key>hero_ani_11430_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,231},{46,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,60}}</string>
    <key>sourceSize</key>
    <string>{46,60}</string>
   </dict>
   <key>hero_ani_11430_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{962,119},{59,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,89}}</string>
    <key>sourceSize</key>
    <string>{59,89}</string>
   </dict>
   <key>hero_ani_11430_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{957,335},{61,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,95}}</string>
    <key>sourceSize</key>
    <string>{61,95}</string>
   </dict>
   <key>hero_ani_11430_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{332,447},{60,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,72}}</string>
    <key>sourceSize</key>
    <string>{60,72}</string>
   </dict>
   <key>hero_ani_11430_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,346},{48,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,38}}</string>
    <key>sourceSize</key>
    <string>{48,38}</string>
   </dict>
   <key>hero_ani_11430_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{632,363},{50,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,25}}</string>
    <key>sourceSize</key>
    <string>{50,25}</string>
   </dict>
   <key>hero_ani_11430_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{694,0},{131,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{131,114}}</string>
    <key>sourceSize</key>
    <string>{131,114}</string>
   </dict>
   <key>hero_ani_11430_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{658,592},{62,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,36}}</string>
    <key>sourceSize</key>
    <string>{62,36}</string>
   </dict>
   <key>hero_ani_11430_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,637},{110,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,36}}</string>
    <key>sourceSize</key>
    <string>{110,36}</string>
   </dict>
   <key>hero_ani_11430_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,587},{96,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,46}}</string>
    <key>sourceSize</key>
    <string>{96,46}</string>
   </dict>
   <key>hero_ani_11430_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{722,596},{102,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,46}}</string>
    <key>sourceSize</key>
    <string>{102,46}</string>
   </dict>
   <key>hero_ani_11430_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{582,637},{102,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,44}}</string>
    <key>sourceSize</key>
    <string>{102,44}</string>
   </dict>
   <key>hero_ani_11430_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{826,613},{102,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,44}}</string>
    <key>sourceSize</key>
    <string>{102,44}</string>
   </dict>
   <key>hero_ani_11430_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{742,550},{106,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,44}}</string>
    <key>sourceSize</key>
    <string>{106,44}</string>
   </dict>
   <key>hero_ani_11430_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{686,644},{104,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,40}}</string>
    <key>sourceSize</key>
    <string>{104,40}</string>
   </dict>
   <key>hero_ani_11430_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{789,310},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,88}}</string>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>hero_ani_11430_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,298},{54,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,46}}</string>
    <key>sourceSize</key>
    <string>{54,46}</string>
   </dict>
   <key>hero_ani_11430_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{145,150},{92,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,120}}</string>
    <key>sourceSize</key>
    <string>{92,120}</string>
   </dict>
   <key>hero_ani_11430_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,570},{73,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,71}}</string>
    <key>sourceSize</key>
    <string>{73,71}</string>
   </dict>
   <key>hero_ani_11430_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{856,400},{84,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,73}}</string>
    <key>sourceSize</key>
    <string>{84,73}</string>
   </dict>
   <key>hero_ani_11430_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{555,124},{5,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{5,4}}</string>
    <key>sourceSize</key>
    <string>{5,4}</string>
   </dict>
   <key>hero_ani_11430_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{960,210},{62,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,123}}</string>
    <key>sourceSize</key>
    <string>{62,123}</string>
   </dict>
   <key>hero_ani_11430_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{962,0},{58,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,117}}</string>
    <key>sourceSize</key>
    <string>{58,117}</string>
   </dict>
   <key>hero_ani_11430_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{241,580},{66,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,78}}</string>
    <key>sourceSize</key>
    <string>{66,78}</string>
   </dict>
   <key>hero_ani_11430_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,500},{69,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,78}}</string>
    <key>sourceSize</key>
    <string>{69,78}</string>
   </dict>
   <key>hero_ani_11430_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{83,519},{81,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,71}}</string>
    <key>sourceSize</key>
    <string>{81,71}</string>
   </dict>
   <key>hero_ani_11430_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,231},{93,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,96}}</string>
    <key>sourceSize</key>
    <string>{93,96}</string>
   </dict>
   <key>hero_ani_11430_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{143,272},{93,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,90}}</string>
    <key>sourceSize</key>
    <string>{93,90}</string>
   </dict>
   <key>hero_ani_11430_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{309,583},{82,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,55}}</string>
    <key>sourceSize</key>
    <string>{82,55}</string>
   </dict>
   <key>hero_ani_11430_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{568,602},{63,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,33}}</string>
    <key>sourceSize</key>
    <string>{63,33}</string>
   </dict>
   <key>hero_ani_11430_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{942,432},{72,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,76}}</string>
    <key>sourceSize</key>
    <string>{72,76}</string>
   </dict>
   <key>hero_ani_11430_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{690,209},{111,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,82}}</string>
    <key>sourceSize</key>
    <string>{111,82}</string>
   </dict>
   <key>hero_ani_11430_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{417,213},{109,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,83}}</string>
    <key>sourceSize</key>
    <string>{109,83}</string>
   </dict>
   <key>hero_ani_11430_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{803,227},{110,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,81}}</string>
    <key>sourceSize</key>
    <string>{110,81}</string>
   </dict>
   <key>hero_ani_11430_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{239,266},{108,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,79}}</string>
    <key>sourceSize</key>
    <string>{108,79}</string>
   </dict>
   <key>hero_ani_11430_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{528,285},{102,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,82}}</string>
    <key>sourceSize</key>
    <string>{102,82}</string>
   </dict>
   <key>hero_ani_11430_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,329},{91,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,78}}</string>
    <key>sourceSize</key>
    <string>{91,78}</string>
   </dict>
   <key>hero_ani_11430_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{852,545},{80,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,66}}</string>
    <key>sourceSize</key>
    <string>{80,66}</string>
   </dict>
   <key>hero_ani_11430_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{338,386},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,59}}</string>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>hero_ani_11430_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,293},{46,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,54}}</string>
    <key>sourceSize</key>
    <string>{46,54}</string>
   </dict>
   <key>hero_ani_11430_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{599,390},{80,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,76}}</string>
    <key>sourceSize</key>
    <string>{80,76}</string>
   </dict>
   <key>hero_ani_11430_104.png</key>
   <dict>
    <key>frame</key>
    <string>{{93,364},{96,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,78}}</string>
    <key>sourceSize</key>
    <string>{96,78}</string>
   </dict>
   <key>hero_ani_11430_103.png</key>
   <dict>
    <key>frame</key>
    <string>{{685,293},{102,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,77}}</string>
    <key>sourceSize</key>
    <string>{102,77}</string>
   </dict>
   <key>hero_ani_11430_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{405,298},{100,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,78}}</string>
    <key>sourceSize</key>
    <string>{100,78}</string>
   </dict>
   <key>hero_ani_11430_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{238,347},{98,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,76}}</string>
    <key>sourceSize</key>
    <string>{98,76}</string>
   </dict>
   <key>hero_ani_11430_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{822,116},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11430_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{940,510},{81,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,73}}</string>
    <key>sourceSize</key>
    <string>{81,73}</string>
   </dict>
   <key>hero_ani_11430_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{659,517},{81,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,73}}</string>
    <key>sourceSize</key>
    <string>{81,73}</string>
   </dict>
   <key>hero_ani_11430_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{769,475},{81,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,73}}</string>
    <key>sourceSize</key>
    <string>{81,73}</string>
   </dict>
   <key>hero_ani_11430_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,484},{81,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,73}}</string>
    <key>sourceSize</key>
    <string>{81,73}</string>
   </dict>
   <key>hero_ani_11430_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{191,425},{84,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,73}}</string>
    <key>sourceSize</key>
    <string>{84,73}</string>
   </dict>
   <key>hero_ani_11430_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{86,444},{84,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,73}}</string>
    <key>sourceSize</key>
    <string>{84,73}</string>
   </dict>
   <key>hero_ani_11430_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,372},{84,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,73}}</string>
    <key>sourceSize</key>
    <string>{84,73}</string>
   </dict>
   <key>hero_ani_11430_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{393,587},{75,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,59}}</string>
    <key>sourceSize</key>
    <string>{75,59}</string>
   </dict>
   <key>hero_ani_11430_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{827,103},{96,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,122}}</string>
    <key>sourceSize</key>
    <string>{96,122}</string>
   </dict>
   <key>hero_ani_11430_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{393,523},{87,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,62}}</string>
    <key>sourceSize</key>
    <string>{87,62}</string>
   </dict>
   <key>hero_ani_11430_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,519},{85,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,66}}</string>
    <key>sourceSize</key>
    <string>{85,66}</string>
   </dict>
   <key>hero_ani_11430_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,559},{78,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,66}}</string>
    <key>sourceSize</key>
    <string>{78,66}</string>
   </dict>
   <key>hero_ani_11430_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,445},{84,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,72}}</string>
    <key>sourceSize</key>
    <string>{84,72}</string>
   </dict>
   <key>hero_ani_11430_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,592},{67,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,65}}</string>
    <key>sourceSize</key>
    <string>{67,65}</string>
   </dict>
   <key>hero_ani_11430_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{770,400},{84,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,73}}</string>
    <key>sourceSize</key>
    <string>{84,73}</string>
   </dict>
   <key>hero_ani_11430_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,409},{84,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,73}}</string>
    <key>sourceSize</key>
    <string>{84,73}</string>
   </dict>
   <key>hero_ani_11430_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{399,378},{84,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,73}}</string>
    <key>sourceSize</key>
    <string>{84,73}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11430.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11430.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>