<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11031_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{328,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{328,123}}</string>
        <key>sourceSize</key>
        <string>{328,123}</string>
      </dict>
      <key>hero_ani_11031_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{341,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{341,153}}</string>
        <key>sourceSize</key>
        <string>{341,153}</string>
      </dict>
      <key>hero_ani_11031_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,0},{344,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{344,133}}</string>
        <key>sourceSize</key>
        <string>{344,133}</string>
      </dict>
      <key>hero_ani_11031_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,135},{167,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,103}}</string>
        <key>sourceSize</key>
        <string>{167,103}</string>
      </dict>
      <key>hero_ani_11031_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,240},{140,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,60}}</string>
        <key>sourceSize</key>
        <string>{140,60}</string>
      </dict>
      <key>hero_ani_11031_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,280},{107,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,46}}</string>
        <key>sourceSize</key>
        <string>{107,46}</string>
      </dict>
      <key>hero_ani_11031_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,344},{28,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,7}}</string>
        <key>sourceSize</key>
        <string>{28,7}</string>
      </dict>
      <key>hero_ani_11031_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,155},{11,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,15}}</string>
        <key>sourceSize</key>
        <string>{11,15}</string>
      </dict>
      <key>hero_ani_11031_97.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,337},{46,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,45}}</string>
        <key>sourceSize</key>
        <string>{46,45}</string>
      </dict>
      <key>hero_ani_11031_96.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,269},{48,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,44}}</string>
        <key>sourceSize</key>
        <string>{48,44}</string>
      </dict>
      <key>hero_ani_11031_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,317},{46,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,45}}</string>
        <key>sourceSize</key>
        <string>{46,45}</string>
      </dict>
      <key>hero_ani_11031_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,265},{18,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,26}}</string>
        <key>sourceSize</key>
        <string>{18,26}</string>
      </dict>
      <key>hero_ani_11031_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,172},{8,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,16}}</string>
        <key>sourceSize</key>
        <string>{8,16}</string>
      </dict>
      <key>hero_ani_11031_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,323},{12,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,13}}</string>
        <key>sourceSize</key>
        <string>{12,13}</string>
      </dict>
      <key>hero_ani_11031_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,293},{17,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,16}}</string>
        <key>sourceSize</key>
        <string>{17,16}</string>
      </dict>
      <key>hero_ani_11031_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,338},{15,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,8}}</string>
        <key>sourceSize</key>
        <string>{15,8}</string>
      </dict>
      <key>hero_ani_11031_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,368},{45,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,35}}</string>
        <key>sourceSize</key>
        <string>{45,35}</string>
      </dict>
      <key>hero_ani_11031_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,405},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>hero_ani_11031_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,311},{17,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,10}}</string>
        <key>sourceSize</key>
        <string>{17,10}</string>
      </dict>
      <key>hero_ani_11031_1121.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,190},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
      <key>hero_ani_11031_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,351},{58,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,58}}</string>
        <key>sourceSize</key>
        <string>{58,58}</string>
      </dict>
      <key>hero_ani_11031_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,0},{140,332}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,332}}</string>
        <key>sourceSize</key>
        <string>{140,332}</string>
      </dict>
      <key>hero_ani_11031_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,135},{131,332}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,332}}</string>
        <key>sourceSize</key>
        <string>{131,332}</string>
      </dict>
      <key>hero_ani_11031_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,0},{133,335}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,335}}</string>
        <key>sourceSize</key>
        <string>{133,335}</string>
      </dict>
      <key>hero_ani_11031_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,328},{25,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,14}}</string>
        <key>sourceSize</key>
        <string>{25,14}</string>
      </dict>
      <key>hero_ani_11031_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,280},{86,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,86}}</string>
        <key>sourceSize</key>
        <string>{86,86}</string>
      </dict>
      <key>hero_ani_11031_978.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,172},{1,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,2}}</string>
        <key>sourceSize</key>
        <string>{1,2}</string>
      </dict>
      <key>hero_ani_11031_977.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,217},{3,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,4}}</string>
        <key>sourceSize</key>
        <string>{3,4}</string>
      </dict>
      <key>hero_ani_11031_976.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,217},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>hero_ani_11031_975.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,171},{2,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,4}}</string>
        <key>sourceSize</key>
        <string>{2,4}</string>
      </dict>
      <key>hero_ani_11031_974.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,183},{2,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,3}}</string>
        <key>sourceSize</key>
        <string>{2,3}</string>
      </dict>
      <key>hero_ani_11031_973.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,211},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>hero_ani_11031_972.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,211},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>hero_ani_11031_971.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,177},{2,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,4}}</string>
        <key>sourceSize</key>
        <string>{2,4}</string>
      </dict>
      <key>hero_ani_11031_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,353},{26,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,9}}</string>
        <key>sourceSize</key>
        <string>{26,9}</string>
      </dict>
      <key>hero_ani_11031_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,302},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11031_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,334},{73,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>hero_ani_11031_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,328},{74,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,72}}</string>
        <key>sourceSize</key>
        <string>{74,72}</string>
      </dict>
      <key>hero_ani_11031_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,280},{69,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,69}}</string>
        <key>sourceSize</key>
        <string>{69,69}</string>
      </dict>
      <key>hero_ani_11031_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,302},{71,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,77}}</string>
        <key>sourceSize</key>
        <string>{71,77}</string>
      </dict>
      <key>hero_ani_11031_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,280},{72,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,77}}</string>
        <key>sourceSize</key>
        <string>{72,77}</string>
      </dict>
      <key>hero_ani_11031_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,364},{43,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,39}}</string>
        <key>sourceSize</key>
        <string>{43,39}</string>
      </dict>
      <key>hero_ani_11031_979.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,179},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11031_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,409},{54,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,22}}</string>
        <key>sourceSize</key>
        <string>{54,22}</string>
      </dict>
      <key>hero_ani_11031_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,362},{44,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,45}}</string>
        <key>sourceSize</key>
        <string>{44,45}</string>
      </dict>
      <key>hero_ani_11031_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,266},{46,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,49}}</string>
        <key>sourceSize</key>
        <string>{46,49}</string>
      </dict>
      <key>hero_ani_11031_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,122},{54,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,47}}</string>
        <key>sourceSize</key>
        <string>{54,47}</string>
      </dict>
      <key>hero_ani_11031_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,402},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,202},{7,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,7}}</string>
        <key>sourceSize</key>
        <string>{7,7}</string>
      </dict>
      <key>hero_ani_11031_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,66},{55,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,54}}</string>
        <key>sourceSize</key>
        <string>{55,54}</string>
      </dict>
      <key>hero_ani_11031_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,171},{52,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,49}}</string>
        <key>sourceSize</key>
        <string>{52,49}</string>
      </dict>
      <key>hero_ani_11031_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,0},{56,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,64}}</string>
        <key>sourceSize</key>
        <string>{56,64}</string>
      </dict>
      <key>hero_ani_11031_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,240},{24,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,23}}</string>
        <key>sourceSize</key>
        <string>{24,23}</string>
      </dict>
      <key>hero_ani_11031_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,176},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11031_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,407},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,384},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,405},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,405},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,406},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,405},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,384},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,224},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,406},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,182},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,315},{46,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,45}}</string>
        <key>sourceSize</key>
        <string>{46,45}</string>
      </dict>
      <key>hero_ani_11031_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,359},{72,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,45}}</string>
        <key>sourceSize</key>
        <string>{72,45}</string>
      </dict>
      <key>hero_ani_11031_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,334},{72,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,45}}</string>
        <key>sourceSize</key>
        <string>{72,45}</string>
      </dict>
      <key>hero_ani_11031_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,368},{72,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,45}}</string>
        <key>sourceSize</key>
        <string>{72,45}</string>
      </dict>
      <key>hero_ani_11031_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,337},{82,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,45}}</string>
        <key>sourceSize</key>
        <string>{82,45}</string>
      </dict>
      <key>hero_ani_11031_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,381},{72,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,45}}</string>
        <key>sourceSize</key>
        <string>{72,45}</string>
      </dict>
      <key>hero_ani_11031_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,407},{33,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,39}}</string>
        <key>sourceSize</key>
        <string>{33,39}</string>
      </dict>
      <key>hero_ani_11031_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,222},{54,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,45}}</string>
        <key>sourceSize</key>
        <string>{54,45}</string>
      </dict>
      <key>hero_ani_11031_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,135},{40,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,45}}</string>
        <key>sourceSize</key>
        <string>{40,45}</string>
      </dict>
      <key>hero_ani_11031_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,384},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,402},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11031_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,381},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11031.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11031.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>