<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11021_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,474},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11021_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,117},{23,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,123}}</string>
        <key>sourceSize</key>
        <string>{23,123}</string>
      </dict>
      <key>hero_ani_11021_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,332},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>hero_ani_11021_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,23},{139,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>hero_ani_11021_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,431},{93,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>hero_ani_11021_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{375,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,21}}</string>
        <key>sourceSize</key>
        <string>{375,21}</string>
      </dict>
      <key>hero_ani_11021_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,406},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11021_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,440},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11021_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,438},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>hero_ani_11021_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,242},{32,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,54}}</string>
        <key>sourceSize</key>
        <string>{32,54}</string>
      </dict>
      <key>hero_ani_11021_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,233},{106,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,95}}</string>
        <key>sourceSize</key>
        <string>{106,95}</string>
      </dict>
      <key>hero_ani_11021_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,234},{106,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,95}}</string>
        <key>sourceSize</key>
        <string>{106,95}</string>
      </dict>
      <key>hero_ani_11021_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,235},{106,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,95}}</string>
        <key>sourceSize</key>
        <string>{106,95}</string>
      </dict>
      <key>hero_ani_11021_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,137},{106,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,95}}</string>
        <key>sourceSize</key>
        <string>{106,95}</string>
      </dict>
      <key>hero_ani_11021_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,331},{101,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,79}}</string>
        <key>sourceSize</key>
        <string>{101,79}</string>
      </dict>
      <key>hero_ani_11021_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,410},{52,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,62}}</string>
        <key>sourceSize</key>
        <string>{52,62}</string>
      </dict>
      <key>hero_ani_11021_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,505},{32,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,10}}</string>
        <key>sourceSize</key>
        <string>{32,10}</string>
      </dict>
      <key>hero_ani_11021_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,387},{94,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,51}}</string>
        <key>sourceSize</key>
        <string>{94,51}</string>
      </dict>
      <key>hero_ani_11021_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,495},{32,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,14}}</string>
        <key>sourceSize</key>
        <string>{32,14}</string>
      </dict>
      <key>hero_ani_11021_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,140},{108,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,93}}</string>
        <key>sourceSize</key>
        <string>{108,93}</string>
      </dict>
      <key>hero_ani_11021_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,330},{102,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,99}}</string>
        <key>sourceSize</key>
        <string>{102,99}</string>
      </dict>
      <key>hero_ani_11021_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,452},{52,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,51}}</string>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>hero_ani_11021_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,23},{107,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,112}}</string>
        <key>sourceSize</key>
        <string>{107,112}</string>
      </dict>
      <key>hero_ani_11021_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,117},{116,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,114}}</string>
        <key>sourceSize</key>
        <string>{116,114}</string>
      </dict>
      <key>hero_ani_11021_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,23},{117,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,115}}</string>
        <key>sourceSize</key>
        <string>{117,115}</string>
      </dict>
      <key>hero_ani_11021_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{119,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,115}}</string>
        <key>sourceSize</key>
        <string>{119,115}</string>
      </dict>
      <key>hero_ani_11021_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,337},{42,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,48}}</string>
        <key>sourceSize</key>
        <string>{42,48}</string>
      </dict>
      <key>hero_ani_11021_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,412},{82,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,38}}</string>
        <key>sourceSize</key>
        <string>{82,38}</string>
      </dict>
      <key>hero_ani_11021_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,498},{42,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,36}}</string>
        <key>sourceSize</key>
        <string>{42,36}</string>
      </dict>
      <key>hero_ani_11021_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,472},{60,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,37}}</string>
        <key>sourceSize</key>
        <string>{60,37}</string>
      </dict>
      <key>hero_ani_11021_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,490},{50,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,35}}</string>
        <key>sourceSize</key>
        <string>{50,35}</string>
      </dict>
      <key>hero_ani_11021_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,440},{36,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,37}}</string>
        <key>sourceSize</key>
        <string>{36,37}</string>
      </dict>
      <key>hero_ani_11021_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,387},{41,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,49}}</string>
        <key>sourceSize</key>
        <string>{41,49}</string>
      </dict>
      <key>hero_ani_11021_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,33},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11021_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,0},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11021_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,452},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>hero_ani_11021_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,496},{45,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,34}}</string>
        <key>sourceSize</key>
        <string>{45,34}</string>
      </dict>
      <key>hero_ani_11021_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,479},{35,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,14}}</string>
        <key>sourceSize</key>
        <string>{35,14}</string>
      </dict>
      <key>hero_ani_11021_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,305},{130,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,80}}</string>
        <key>sourceSize</key>
        <string>{130,80}</string>
      </dict>
      <key>hero_ani_11021_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,520},{144,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,78}}</string>
        <key>sourceSize</key>
        <string>{144,78}</string>
      </dict>
      <key>hero_ani_11021_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{135,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,81}}</string>
        <key>sourceSize</key>
        <string>{135,81}</string>
      </dict>
      <key>hero_ani_11021_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{138,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,88}}</string>
        <key>sourceSize</key>
        <string>{138,88}</string>
      </dict>
      <key>hero_ani_11021_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,23},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11021_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,26},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11021_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,23},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11021_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,332},{30,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,37}}</string>
        <key>sourceSize</key>
        <string>{30,37}</string>
      </dict>
      <key>hero_ani_11021_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,298},{31,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,37}}</string>
        <key>sourceSize</key>
        <string>{31,37}</string>
      </dict>
      <key>hero_ani_11021_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,371},{24,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,37}}</string>
        <key>sourceSize</key>
        <string>{24,37}</string>
      </dict>
      <key>hero_ani_11021_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,451},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>hero_ani_11021_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,387},{24,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,37}}</string>
        <key>sourceSize</key>
        <string>{24,37}</string>
      </dict>
      <key>hero_ani_11021_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,498},{42,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,36}}</string>
        <key>sourceSize</key>
        <string>{42,36}</string>
      </dict>
      <key>hero_ani_11021_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,459},{60,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,37}}</string>
        <key>sourceSize</key>
        <string>{60,37}</string>
      </dict>
      <key>hero_ani_11021_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,495},{50,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,35}}</string>
        <key>sourceSize</key>
        <string>{50,35}</string>
      </dict>
      <key>hero_ani_11021_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,474},{36,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,37}}</string>
        <key>sourceSize</key>
        <string>{36,37}</string>
      </dict>
      <key>hero_ani_11021_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,426},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>hero_ani_11021_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,412},{24,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,37}}</string>
        <key>sourceSize</key>
        <string>{24,37}</string>
      </dict>
      <key>hero_ani_11021_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,459},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11021.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11021.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>