<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11005_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,363},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11005_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,159},{23,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,123}}</string>
        <key>sourceSize</key>
        <string>{23,123}</string>
      </dict>
      <key>hero_ani_11005_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,98},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>hero_ani_11005_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,23},{139,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>hero_ani_11005_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,400},{93,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>hero_ani_11005_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{375,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,21}}</string>
        <key>sourceSize</key>
        <string>{375,21}</string>
      </dict>
      <key>hero_ani_11005_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11005_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,334},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11005_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,172},{25,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,55}}</string>
        <key>sourceSize</key>
        <string>{25,55}</string>
      </dict>
      <key>hero_ani_11005_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,325},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>hero_ani_11005_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,172},{48,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,97}}</string>
        <key>sourceSize</key>
        <string>{48,97}</string>
      </dict>
      <key>hero_ani_11005_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,397},{103,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,50}}</string>
        <key>sourceSize</key>
        <string>{103,50}</string>
      </dict>
      <key>hero_ani_11005_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,364},{45,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,32}}</string>
        <key>sourceSize</key>
        <string>{45,32}</string>
      </dict>
      <key>hero_ani_11005_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,345},{51,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,52}}</string>
        <key>sourceSize</key>
        <string>{51,52}</string>
      </dict>
      <key>hero_ani_11005_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,287},{69,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,68}}</string>
        <key>sourceSize</key>
        <string>{69,68}</string>
      </dict>
      <key>hero_ani_11005_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,389},{99,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,68}}</string>
        <key>sourceSize</key>
        <string>{99,68}</string>
      </dict>
      <key>hero_ani_11005_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,211},{98,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,74}}</string>
        <key>sourceSize</key>
        <string>{98,74}</string>
      </dict>
      <key>hero_ani_11005_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,136},{117,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,73}}</string>
        <key>sourceSize</key>
        <string>{117,73}</string>
      </dict>
      <key>hero_ani_11005_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{131,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,69}}</string>
        <key>sourceSize</key>
        <string>{131,69}</string>
      </dict>
      <key>hero_ani_11005_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,88},{146,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,69}}</string>
        <key>sourceSize</key>
        <string>{146,69}</string>
      </dict>
      <key>hero_ani_11005_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,71},{137,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,63}}</string>
        <key>sourceSize</key>
        <string>{137,63}</string>
      </dict>
      <key>hero_ani_11005_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{130,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,60}}</string>
        <key>sourceSize</key>
        <string>{130,60}</string>
      </dict>
      <key>hero_ani_11005_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,23},{153,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,63}}</string>
        <key>sourceSize</key>
        <string>{153,63}</string>
      </dict>
      <key>hero_ani_11005_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,382},{58,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,16}}</string>
        <key>sourceSize</key>
        <string>{58,16}</string>
      </dict>
      <key>hero_ani_11005_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,162},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11005_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,195},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11005_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,300},{28,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,35}}</string>
        <key>sourceSize</key>
        <string>{28,35}</string>
      </dict>
      <key>hero_ani_11005_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,159},{92,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,92}}</string>
        <key>sourceSize</key>
        <string>{92,92}</string>
      </dict>
      <key>hero_ani_11005_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{92,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,92}}</string>
        <key>sourceSize</key>
        <string>{92,92}</string>
      </dict>
      <key>hero_ani_11005_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,253},{73,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,70}}</string>
        <key>sourceSize</key>
        <string>{73,70}</string>
      </dict>
      <key>hero_ani_11005_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,23},{75,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,73}}</string>
        <key>sourceSize</key>
        <string>{75,73}</string>
      </dict>
      <key>hero_ani_11005_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,373},{31,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,22}}</string>
        <key>sourceSize</key>
        <string>{31,22}</string>
      </dict>
      <key>hero_ani_11005_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,284},{42,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,31}}</string>
        <key>sourceSize</key>
        <string>{42,31}</string>
      </dict>
      <key>hero_ani_11005_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,228},{40,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,38}}</string>
        <key>sourceSize</key>
        <string>{40,38}</string>
      </dict>
      <key>hero_ani_11005_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,325},{21,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,37}}</string>
        <key>sourceSize</key>
        <string>{21,37}</string>
      </dict>
      <key>hero_ani_11005_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,354},{45,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,54}}</string>
        <key>sourceSize</key>
        <string>{45,54}</string>
      </dict>
      <key>hero_ani_11005_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,271},{60,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,61}}</string>
        <key>sourceSize</key>
        <string>{60,61}</string>
      </dict>
      <key>hero_ani_11005_96.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,159},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>hero_ani_11005_554.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,211},{38,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,48}}</string>
        <key>sourceSize</key>
        <string>{38,48}</string>
      </dict>
      <key>hero_ani_11005_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,410},{90,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,27}}</string>
        <key>sourceSize</key>
        <string>{90,27}</string>
      </dict>
      <key>hero_ani_11005_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,357},{63,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,30}}</string>
        <key>sourceSize</key>
        <string>{63,30}</string>
      </dict>
      <key>hero_ani_11005_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,139},{7,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,5}}</string>
        <key>sourceSize</key>
        <string>{7,5}</string>
      </dict>
      <key>hero_ani_11005_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,132},{7,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,5}}</string>
        <key>sourceSize</key>
        <string>{7,5}</string>
      </dict>
      <key>hero_ani_11005_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,23},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11005_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,287},{25,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,38}}</string>
        <key>sourceSize</key>
        <string>{25,38}</string>
      </dict>
      <key>hero_ani_11005_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,229},{25,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,38}}</string>
        <key>sourceSize</key>
        <string>{25,38}</string>
      </dict>
      <key>hero_ani_11005_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,268},{27,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,37}}</string>
        <key>sourceSize</key>
        <string>{27,37}</string>
      </dict>
      <key>hero_ani_11005_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,266},{27,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,37}}</string>
        <key>sourceSize</key>
        <string>{27,37}</string>
      </dict>
      <key>hero_ani_11005_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,261},{27,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,37}}</string>
        <key>sourceSize</key>
        <string>{27,37}</string>
      </dict>
      <key>hero_ani_11005_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,269},{25,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,38}}</string>
        <key>sourceSize</key>
        <string>{25,38}</string>
      </dict>
      <key>hero_ani_11005_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,288},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>hero_ani_11005_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,326},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11005_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,309},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>hero_ani_11005_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,88},{5,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,22}}</string>
        <key>sourceSize</key>
        <string>{5,22}</string>
      </dict>
      <key>hero_ani_11005_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,136},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>hero_ani_11005_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,342},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11005_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,194},{35,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,34}}</string>
        <key>sourceSize</key>
        <string>{35,34}</string>
      </dict>
      <key>hero_ani_11005_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,337},{27,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,34}}</string>
        <key>sourceSize</key>
        <string>{27,34}</string>
      </dict>
      <key>hero_ani_11005_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,230},{35,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,34}}</string>
        <key>sourceSize</key>
        <string>{35,34}</string>
      </dict>
      <key>hero_ani_11005_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,317},{27,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,34}}</string>
        <key>sourceSize</key>
        <string>{27,34}</string>
      </dict>
      <key>hero_ani_11005_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,347},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>hero_ani_11005_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,307},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>hero_ani_11005_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,305},{28,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,35}}</string>
        <key>sourceSize</key>
        <string>{28,35}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11005.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11005.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>