<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11034_185.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{92,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,76}}</string>
        <key>sourceSize</key>
        <string>{92,76}</string>
      </dict>
      <key>hero_ani_11034_184.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{84,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,65}}</string>
        <key>sourceSize</key>
        <string>{84,65}</string>
      </dict>
      <key>hero_ani_11034_183.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,0},{82,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,59}}</string>
        <key>sourceSize</key>
        <string>{82,59}</string>
      </dict>
      <key>hero_ani_11034_182.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{84,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,59}}</string>
        <key>sourceSize</key>
        <string>{84,59}</string>
      </dict>
      <key>hero_ani_11034_181.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,132},{78,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,51}}</string>
        <key>sourceSize</key>
        <string>{78,51}</string>
      </dict>
      <key>hero_ani_11034_180.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,205},{65,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,40}}</string>
        <key>sourceSize</key>
        <string>{65,40}</string>
      </dict>
      <key>hero_ani_11034_151.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,247},{58,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,31}}</string>
        <key>sourceSize</key>
        <string>{58,31}</string>
      </dict>
      <key>hero_ani_11034_149.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,245},{61,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,33}}</string>
        <key>sourceSize</key>
        <string>{61,33}</string>
      </dict>
      <key>hero_ani_11034_150.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,247},{61,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,32}}</string>
        <key>sourceSize</key>
        <string>{61,32}</string>
      </dict>
      <key>hero_ani_11034_2168.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,279},{58,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,28}}</string>
        <key>sourceSize</key>
        <string>{58,28}</string>
      </dict>
      <key>hero_ani_11034_2167.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,135},{36,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,32}}</string>
        <key>sourceSize</key>
        <string>{36,32}</string>
      </dict>
      <key>hero_ani_11034_2166.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,249},{60,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,28}}</string>
        <key>sourceSize</key>
        <string>{60,28}</string>
      </dict>
      <key>hero_ani_11034_175.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,131},{70,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,63}}</string>
        <key>sourceSize</key>
        <string>{70,63}</string>
      </dict>
      <key>hero_ani_11034_174.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,78},{71,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,62}}</string>
        <key>sourceSize</key>
        <string>{71,62}</string>
      </dict>
      <key>hero_ani_11034_173.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,73},{71,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,64}}</string>
        <key>sourceSize</key>
        <string>{71,64}</string>
      </dict>
      <key>hero_ani_11034_172.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,72},{70,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,68}}</string>
        <key>sourceSize</key>
        <string>{70,68}</string>
      </dict>
      <key>hero_ani_11034_171.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,61},{71,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,68}}</string>
        <key>sourceSize</key>
        <string>{71,68}</string>
      </dict>
      <key>hero_ani_11034_170.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{72,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,70}}</string>
        <key>sourceSize</key>
        <string>{72,70}</string>
      </dict>
      <key>hero_ani_11034_169.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,61},{71,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,69}}</string>
        <key>sourceSize</key>
        <string>{71,69}</string>
      </dict>
      <key>hero_ani_11034_168.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,71}}</string>
        <key>sourceSize</key>
        <string>{71,71}</string>
      </dict>
      <key>hero_ani_11034_167.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,193},{64,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,50}}</string>
        <key>sourceSize</key>
        <string>{64,50}</string>
      </dict>
      <key>hero_ani_11034_166.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,142},{64,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,53}}</string>
        <key>sourceSize</key>
        <string>{64,53}</string>
      </dict>
      <key>hero_ani_11034_165.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,142},{65,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,54}}</string>
        <key>sourceSize</key>
        <string>{65,54}</string>
      </dict>
      <key>hero_ani_11034_164.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,67},{75,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,63}}</string>
        <key>sourceSize</key>
        <string>{75,63}</string>
      </dict>
      <key>hero_ani_11034_163.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,132},{64,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,59}}</string>
        <key>sourceSize</key>
        <string>{64,59}</string>
      </dict>
      <key>hero_ani_11034_162.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,196},{63,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,51}}</string>
        <key>sourceSize</key>
        <string>{63,51}</string>
      </dict>
      <key>hero_ani_11034_161.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,185},{63,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,52}}</string>
        <key>sourceSize</key>
        <string>{63,52}</string>
      </dict>
      <key>hero_ani_11034_160.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,197},{65,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,48}}</string>
        <key>sourceSize</key>
        <string>{65,48}</string>
      </dict>
      <key>hero_ani_11034_159.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,267},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>hero_ani_11034_158.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,290},{23,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,26}}</string>
        <key>sourceSize</key>
        <string>{23,26}</string>
      </dict>
      <key>hero_ani_11034_133.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,206},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>hero_ani_11034_153.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,280},{53,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,28}}</string>
        <key>sourceSize</key>
        <string>{53,28}</string>
      </dict>
      <key>hero_ani_11034_179.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,243},{60,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,35}}</string>
        <key>sourceSize</key>
        <string>{60,35}</string>
      </dict>
      <key>hero_ani_11034_178.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,254},{53,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,33}}</string>
        <key>sourceSize</key>
        <string>{53,33}</string>
      </dict>
      <key>hero_ani_11034_177.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,280},{53,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,32}}</string>
        <key>sourceSize</key>
        <string>{53,32}</string>
      </dict>
      <key>hero_ani_11034_144.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,0},{1,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,22}}</string>
        <key>sourceSize</key>
        <string>{1,22}</string>
      </dict>
      <key>hero_ani_11034_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{55,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,54}}</string>
        <key>sourceSize</key>
        <string>{55,54}</string>
      </dict>
      <key>hero_ani_11034_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,239},{52,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,49}}</string>
        <key>sourceSize</key>
        <string>{52,49}</string>
      </dict>
      <key>hero_ani_11034_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,139},{56,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,64}}</string>
        <key>sourceSize</key>
        <string>{56,64}</string>
      </dict>
      <key>hero_ani_11034_1999.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,304},{24,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,23}}</string>
        <key>sourceSize</key>
        <string>{24,23}</string>
      </dict>
      <key>hero_ani_11034_157.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{3,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,3}}</string>
        <key>sourceSize</key>
        <string>{3,3}</string>
      </dict>
      <key>hero_ani_11034_141.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,245},{21,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,6}}</string>
        <key>sourceSize</key>
        <string>{21,6}</string>
      </dict>
      <key>hero_ani_11034_941.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11034_138.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,169},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>hero_ani_11034_136.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,289},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>hero_ani_11034_135.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,247},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>hero_ani_11034_134.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,289},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>hero_ani_11034_137.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,169},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>hero_ani_11034_147.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,196},{20,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,27}}</string>
        <key>sourceSize</key>
        <string>{20,27}</string>
      </dict>
      <key>hero_ani_11034_148.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,206},{41,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,22}}</string>
        <key>sourceSize</key>
        <string>{41,22}</string>
      </dict>
      <key>hero_ani_11034_176.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,280},{55,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,29}}</string>
        <key>sourceSize</key>
        <string>{55,29}</string>
      </dict>
      <key>hero_ani_11034_146.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,281},{47,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,22}}</string>
        <key>sourceSize</key>
        <string>{47,22}</string>
      </dict>
      <key>hero_ani_11034_154.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,98},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
      <key>hero_ani_11034_143.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,61},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
      <key>hero_ani_11034_140.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,290},{31,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,25}}</string>
        <key>sourceSize</key>
        <string>{31,25}</string>
      </dict>
      <key>hero_ani_11034_139.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,230},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>hero_ani_11034_130.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,280},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>hero_ani_11034_131.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,284},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>hero_ani_11034_132.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,132},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11034.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11034.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>