<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_569031_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{84,131},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569031_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{387,0},{82,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,104}}</string>
    <key>sourceSize</key>
    <string>{82,104}</string>
   </dict>
   <key>hero_ani_569031_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,93},{82,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,104}}</string>
    <key>sourceSize</key>
    <string>{82,104}</string>
   </dict>
   <key>hero_ani_569031_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{120,93},{82,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,104}}</string>
    <key>sourceSize</key>
    <string>{82,104}</string>
   </dict>
   <key>hero_ani_569031_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,93},{82,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,104}}</string>
    <key>sourceSize</key>
    <string>{82,104}</string>
   </dict>
   <key>hero_ani_569031_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{128,279},{62,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,47}}</string>
    <key>sourceSize</key>
    <string>{62,47}</string>
   </dict>
   <key>hero_ani_569031_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{76,199},{74,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,78}}</string>
    <key>sourceSize</key>
    <string>{74,78}</string>
   </dict>
   <key>hero_ani_569031_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,199},{74,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,78}}</string>
    <key>sourceSize</key>
    <string>{74,78}</string>
   </dict>
   <key>hero_ani_569031_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,199},{74,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,78}}</string>
    <key>sourceSize</key>
    <string>{74,78}</string>
   </dict>
   <key>hero_ani_569031_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,186},{74,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,78}}</string>
    <key>sourceSize</key>
    <string>{74,78}</string>
   </dict>
   <key>hero_ani_569031_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,199},{74,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,78}}</string>
    <key>sourceSize</key>
    <string>{74,78}</string>
   </dict>
   <key>hero_ani_569031_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{400,186},{74,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,78}}</string>
    <key>sourceSize</key>
    <string>{74,78}</string>
   </dict>
   <key>hero_ani_569031_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,106},{87,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,78}}</string>
    <key>sourceSize</key>
    <string>{87,78}</string>
   </dict>
   <key>hero_ani_569031_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{258,0},{127,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{127,91}}</string>
    <key>sourceSize</key>
    <string>{127,91}</string>
   </dict>
   <key>hero_ani_569031_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{127,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{127,91}}</string>
    <key>sourceSize</key>
    <string>{127,91}</string>
   </dict>
   <key>hero_ani_569031_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,0},{127,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{127,91}}</string>
    <key>sourceSize</key>
    <string>{127,91}</string>
   </dict>
   <key>hero_ani_569031_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{507,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_569031_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{449,114},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569031_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,131},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569031_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,93},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569031_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{471,76},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569031_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{471,0},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569031_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{64,279},{62,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,47}}</string>
    <key>sourceSize</key>
    <string>{62,47}</string>
   </dict>
   <key>hero_ani_569031_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,279},{62,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,47}}</string>
    <key>sourceSize</key>
    <string>{62,47}</string>
   </dict>
   <key>hero_ani_569031_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{471,38},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569031_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{84,93},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569031_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,93},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>path_569031_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{383,266},{77,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,55}}</string>
    <key>sourceSize</key>
    <string>{77,55}</string>
   </dict>
   <key>path_569031_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,266},{77,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,55}}</string>
    <key>sourceSize</key>
    <string>{77,55}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_569031.png</string>
   <key>textureFileName</key>
   <string>hero_ani_569031.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>