<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11616_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{408,205},{102,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,82}}</string>
    <key>sourceSize</key>
    <string>{102,82}</string>
   </dict>
   <key>hero_ani_11616_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{493,0},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11616_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{314,183},{92,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,171}}</string>
    <key>sourceSize</key>
    <string>{92,171}</string>
   </dict>
   <key>hero_ani_11616_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{314,0},{111,181}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,181}}</string>
    <key>sourceSize</key>
    <string>{111,181}</string>
   </dict>
   <key>hero_ani_11616_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{165,0},{147,207}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{147,207}}</string>
    <key>sourceSize</key>
    <string>{147,207}</string>
   </dict>
   <key>hero_ani_11616_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{163,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{163,210}}</string>
    <key>sourceSize</key>
    <string>{163,210}</string>
   </dict>
   <key>hero_ani_11616_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{387,426},{46,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,18}}</string>
    <key>sourceSize</key>
    <string>{46,18}</string>
   </dict>
   <key>hero_ani_11616_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,212},{108,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,94}}</string>
    <key>sourceSize</key>
    <string>{108,94}</string>
   </dict>
   <key>hero_ani_11616_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,305},{108,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,94}}</string>
    <key>sourceSize</key>
    <string>{108,94}</string>
   </dict>
   <key>hero_ani_11616_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{165,209},{108,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,94}}</string>
    <key>sourceSize</key>
    <string>{108,94}</string>
   </dict>
   <key>hero_ani_11616_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{438,419},{27,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,38}}</string>
    <key>sourceSize</key>
    <string>{27,38}</string>
   </dict>
   <key>hero_ani_11616_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,380},{40,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,44}}</string>
    <key>sourceSize</key>
    <string>{40,44}</string>
   </dict>
   <key>hero_ani_11616_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{258,390},{40,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,44}}</string>
    <key>sourceSize</key>
    <string>{40,44}</string>
   </dict>
   <key>hero_ani_11616_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{408,289},{34,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,89}}</string>
    <key>sourceSize</key>
    <string>{34,89}</string>
   </dict>
   <key>hero_ani_11616_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,289},{31,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,88}}</string>
    <key>sourceSize</key>
    <string>{31,88}</string>
   </dict>
   <key>hero_ani_11616_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{275,299},{27,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,89}}</string>
    <key>sourceSize</key>
    <string>{27,89}</string>
   </dict>
   <key>hero_ani_11616_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,289},{32,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,88}}</string>
    <key>sourceSize</key>
    <string>{32,88}</string>
   </dict>
   <key>hero_ani_11616_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{110,212},{35,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,88}}</string>
    <key>sourceSize</key>
    <string>{35,88}</string>
   </dict>
   <key>hero_ani_11616_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{275,209},{36,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,88}}</string>
    <key>sourceSize</key>
    <string>{36,88}</string>
   </dict>
   <key>hero_ani_11616_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{46,308},{44,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,51}}</string>
    <key>sourceSize</key>
    <string>{44,51}</string>
   </dict>
   <key>hero_ani_11616_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,356},{44,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,51}}</string>
    <key>sourceSize</key>
    <string>{44,51}</string>
   </dict>
   <key>hero_ani_11616_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,308},{44,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,51}}</string>
    <key>sourceSize</key>
    <string>{44,51}</string>
   </dict>
   <key>hero_ani_11616_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,356},{44,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,51}}</string>
    <key>sourceSize</key>
    <string>{44,51}</string>
   </dict>
   <key>hero_ani_11616_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{146,401},{54,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,36}}</string>
    <key>sourceSize</key>
    <string>{54,36}</string>
   </dict>
   <key>hero_ani_11616_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{45,399},{54,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,36}}</string>
    <key>sourceSize</key>
    <string>{54,36}</string>
   </dict>
   <key>hero_ani_11616_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{45,361},{54,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,36}}</string>
    <key>sourceSize</key>
    <string>{54,36}</string>
   </dict>
   <key>hero_ani_11616_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11616_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{505,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11616_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,379},{31,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,38}}</string>
    <key>sourceSize</key>
    <string>{31,38}</string>
   </dict>
   <key>hero_ani_11616_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,379},{29,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,38}}</string>
    <key>sourceSize</key>
    <string>{29,38}</string>
   </dict>
   <key>hero_ani_11616_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,401},{27,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,39}}</string>
    <key>sourceSize</key>
    <string>{27,39}</string>
   </dict>
   <key>hero_ani_11616_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{358,409},{27,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,39}}</string>
    <key>sourceSize</key>
    <string>{27,39}</string>
   </dict>
   <key>hero_ani_11616_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,407},{27,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,39}}</string>
    <key>sourceSize</key>
    <string>{27,39}</string>
   </dict>
   <key>hero_ani_11616_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{427,0},{64,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,71}}</string>
    <key>sourceSize</key>
    <string>{64,71}</string>
   </dict>
   <key>hero_ani_11616_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{110,302},{36,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,66}}</string>
    <key>sourceSize</key>
    <string>{36,66}</string>
   </dict>
   <key>hero_ani_11616_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,361},{43,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,44}}</string>
    <key>sourceSize</key>
    <string>{43,44}</string>
   </dict>
   <key>hero_ani_11616_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{101,370},{43,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,44}}</string>
    <key>sourceSize</key>
    <string>{43,44}</string>
   </dict>
   <key>hero_ani_11616_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{427,139},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11616_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{427,73},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11616_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,409},{27,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,39}}</string>
    <key>sourceSize</key>
    <string>{27,39}</string>
   </dict>
   <key>hero_ani_11616_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{329,409},{27,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,39}}</string>
    <key>sourceSize</key>
    <string>{27,39}</string>
   </dict>
   <key>hero_ani_11616_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{101,416},{27,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,38}}</string>
    <key>sourceSize</key>
    <string>{27,38}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11616.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11616.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>