<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11404_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{402,472},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11404_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11404_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,425},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11404_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11404_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{387,552},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11404_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11404_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{321,499},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11404_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{448,465},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11404_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{78,427},{94,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,50}}</string>
    <key>sourceSize</key>
    <string>{94,50}</string>
   </dict>
   <key>hero_ani_11404_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,360},{84,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,65}}</string>
    <key>sourceSize</key>
    <string>{84,65}</string>
   </dict>
   <key>hero_ani_11404_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{425,339},{22,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,19}}</string>
    <key>sourceSize</key>
    <string>{22,19}</string>
   </dict>
   <key>hero_ani_11404_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{200,348},{76,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,80}}</string>
    <key>sourceSize</key>
    <string>{76,80}</string>
   </dict>
   <key>hero_ani_11404_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{130,193},{89,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,81}}</string>
    <key>sourceSize</key>
    <string>{89,81}</string>
   </dict>
   <key>hero_ani_11404_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,347},{82,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,76}}</string>
    <key>sourceSize</key>
    <string>{82,76}</string>
   </dict>
   <key>hero_ani_11404_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,382},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,71}}</string>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>hero_ani_11404_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,434},{69,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,65}}</string>
    <key>sourceSize</key>
    <string>{69,65}</string>
   </dict>
   <key>hero_ani_11404_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{402,425},{44,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,45}}</string>
    <key>sourceSize</key>
    <string>{44,45}</string>
   </dict>
   <key>hero_ani_11404_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,78},{14,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,8}}</string>
    <key>sourceSize</key>
    <string>{14,8}</string>
   </dict>
   <key>hero_ani_11404_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{81,360},{22,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,14}}</string>
    <key>sourceSize</key>
    <string>{22,14}</string>
   </dict>
   <key>hero_ani_11404_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{278,348},{25,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,14}}</string>
    <key>sourceSize</key>
    <string>{25,14}</string>
   </dict>
   <key>hero_ani_11404_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,97},{13,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,5}}</string>
    <key>sourceSize</key>
    <string>{13,5}</string>
   </dict>
   <key>hero_ani_11404_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{417,360},{29,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,25}}</string>
    <key>sourceSize</key>
    <string>{29,25}</string>
   </dict>
   <key>hero_ani_11404_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{387,518},{55,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,32}}</string>
    <key>sourceSize</key>
    <string>{55,32}</string>
   </dict>
   <key>hero_ani_11404_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,519},{68,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,31}}</string>
    <key>sourceSize</key>
    <string>{68,31}</string>
   </dict>
   <key>hero_ani_11404_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,552},{67,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,21}}</string>
    <key>sourceSize</key>
    <string>{67,21}</string>
   </dict>
   <key>hero_ani_11404_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,88},{14,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,7}}</string>
    <key>sourceSize</key>
    <string>{14,7}</string>
   </dict>
   <key>hero_ani_11404_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{312,580},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11404_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{278,377},{45,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,55}}</string>
    <key>sourceSize</key>
    <string>{45,55}</string>
   </dict>
   <key>hero_ani_11404_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{97,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,80}}</string>
    <key>sourceSize</key>
    <string>{97,80}</string>
   </dict>
   <key>hero_ani_11404_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{99,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{99,94}}</string>
    <key>sourceSize</key>
    <string>{99,94}</string>
   </dict>
   <key>hero_ani_11404_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,96},{97,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,88}}</string>
    <key>sourceSize</key>
    <string>{97,88}</string>
   </dict>
   <key>hero_ani_11404_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,23},{108,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,84}}</string>
    <key>sourceSize</key>
    <string>{108,84}</string>
   </dict>
   <key>hero_ani_11404_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{251,23},{107,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,83}}</string>
    <key>sourceSize</key>
    <string>{107,83}</string>
   </dict>
   <key>hero_ani_11404_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,109},{97,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,82}}</string>
    <key>sourceSize</key>
    <string>{97,82}</string>
   </dict>
   <key>hero_ani_11404_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{251,108},{103,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,79}}</string>
    <key>sourceSize</key>
    <string>{103,79}</string>
   </dict>
   <key>hero_ani_11404_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{356,186},{98,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,75}}</string>
    <key>sourceSize</key>
    <string>{98,75}</string>
   </dict>
   <key>hero_ani_11404_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,189},{97,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,73}}</string>
    <key>sourceSize</key>
    <string>{97,73}</string>
   </dict>
   <key>hero_ani_11404_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,324},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11404_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,56},{8,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,20}}</string>
    <key>sourceSize</key>
    <string>{8,20}</string>
   </dict>
   <key>hero_ani_11404_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,501},{85,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,40}}</string>
    <key>sourceSize</key>
    <string>{85,40}</string>
   </dict>
   <key>hero_ani_11404_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,558},{76,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,36}}</string>
    <key>sourceSize</key>
    <string>{76,36}</string>
   </dict>
   <key>hero_ani_11404_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,543},{82,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,39}}</string>
    <key>sourceSize</key>
    <string>{82,39}</string>
   </dict>
   <key>hero_ani_11404_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{70,543},{78,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,36}}</string>
    <key>sourceSize</key>
    <string>{78,36}</string>
   </dict>
   <key>hero_ani_11404_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{76,479},{74,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,62}}</string>
    <key>sourceSize</key>
    <string>{74,62}</string>
   </dict>
   <key>hero_ani_11404_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,494},{74,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,62}}</string>
    <key>sourceSize</key>
    <string>{74,62}</string>
   </dict>
   <key>hero_ani_11404_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,455},{74,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,62}}</string>
    <key>sourceSize</key>
    <string>{74,62}</string>
   </dict>
   <key>hero_ani_11404_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{174,430},{74,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,62}}</string>
    <key>sourceSize</key>
    <string>{74,62}</string>
   </dict>
   <key>hero_ani_11404_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{475,125},{26,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,63}}</string>
    <key>sourceSize</key>
    <string>{26,63}</string>
   </dict>
   <key>hero_ani_11404_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,23},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11404_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{306,301},{28,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,36}}</string>
    <key>sourceSize</key>
    <string>{28,36}</string>
   </dict>
   <key>hero_ani_11404_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{448,381},{62,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,82}}</string>
    <key>sourceSize</key>
    <string>{62,82}</string>
   </dict>
   <key>hero_ani_11404_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,298},{79,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,82}}</string>
    <key>sourceSize</key>
    <string>{79,82}</string>
   </dict>
   <key>hero_ani_11404_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{339,263},{84,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,82}}</string>
    <key>sourceSize</key>
    <string>{84,82}</string>
   </dict>
   <key>hero_ani_11404_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,264},{83,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,82}}</string>
    <key>sourceSize</key>
    <string>{83,82}</string>
   </dict>
   <key>hero_ani_11404_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{118,276},{80,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,82}}</string>
    <key>sourceSize</key>
    <string>{80,82}</string>
   </dict>
   <key>hero_ani_11404_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,214},{85,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,82}}</string>
    <key>sourceSize</key>
    <string>{85,82}</string>
   </dict>
   <key>hero_ani_11404_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,190},{51,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,65}}</string>
    <key>sourceSize</key>
    <string>{51,65}</string>
   </dict>
   <key>hero_ani_11404_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,257},{51,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,65}}</string>
    <key>sourceSize</key>
    <string>{51,65}</string>
   </dict>
   <key>hero_ani_11404_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{508,4},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11404_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{508,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11404_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{503,0},{3,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,3}}</string>
    <key>sourceSize</key>
    <string>{3,3}</string>
   </dict>
   <key>hero_ani_11404_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,208},{29,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,36}}</string>
    <key>sourceSize</key>
    <string>{29,36}</string>
   </dict>
   <key>hero_ani_11404_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,132},{29,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,36}}</string>
    <key>sourceSize</key>
    <string>{29,36}</string>
   </dict>
   <key>hero_ani_11404_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,170},{29,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,36}}</string>
    <key>sourceSize</key>
    <string>{29,36}</string>
   </dict>
   <key>hero_ani_11404_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{81,322},{25,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,36}}</string>
    <key>sourceSize</key>
    <string>{25,36}</string>
   </dict>
   <key>hero_ani_11404_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{425,263},{29,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,36}}</string>
    <key>sourceSize</key>
    <string>{29,36}</string>
   </dict>
   <key>hero_ani_11404_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{306,264},{29,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,35}}</string>
    <key>sourceSize</key>
    <string>{29,35}</string>
   </dict>
   <key>hero_ani_11404_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{306,339},{25,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,36}}</string>
    <key>sourceSize</key>
    <string>{25,36}</string>
   </dict>
   <key>hero_ani_11404_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{425,301},{25,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,36}}</string>
    <key>sourceSize</key>
    <string>{25,36}</string>
   </dict>
   <key>hero_ani_11404_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{87,246},{29,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,36}}</string>
    <key>sourceSize</key>
    <string>{29,36}</string>
   </dict>
   <key>hero_ani_11404_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{87,284},{28,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,36}}</string>
    <key>sourceSize</key>
    <string>{28,36}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11404.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11404.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>