<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11035_109.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,172},{160,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,161}}</string>
        <key>sourceSize</key>
        <string>{160,161}</string>
      </dict>
      <key>hero_ani_11035_108.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,174},{160,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,161}}</string>
        <key>sourceSize</key>
        <string>{160,161}</string>
      </dict>
      <key>hero_ani_11035_107.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,0},{170,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,170}}</string>
        <key>sourceSize</key>
        <string>{170,170}</string>
      </dict>
      <key>hero_ani_11035_106.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{149,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,149}}</string>
        <key>sourceSize</key>
        <string>{149,149}</string>
      </dict>
      <key>hero_ani_11035_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,151},{145,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,144}}</string>
        <key>sourceSize</key>
        <string>{145,144}</string>
      </dict>
      <key>hero_ani_11035_756.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,495},{28,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,28}}</string>
        <key>sourceSize</key>
        <string>{28,28}</string>
      </dict>
      <key>hero_ani_11035_759.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,335},{171,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{171,59}}</string>
        <key>sourceSize</key>
        <string>{171,59}</string>
      </dict>
      <key>hero_ani_11035_758.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,385},{28,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,62}}</string>
        <key>sourceSize</key>
        <string>{28,62}</string>
      </dict>
      <key>hero_ani_11035_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,396},{82,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,29}}</string>
        <key>sourceSize</key>
        <string>{82,29}</string>
      </dict>
      <key>hero_ani_11035_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,440},{43,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,52}}</string>
        <key>sourceSize</key>
        <string>{43,52}</string>
      </dict>
      <key>hero_ani_11035_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,379},{24,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,9}}</string>
        <key>sourceSize</key>
        <string>{24,9}</string>
      </dict>
      <key>hero_ani_11035_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,457},{48,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,44}}</string>
        <key>sourceSize</key>
        <string>{48,44}</string>
      </dict>
      <key>hero_ani_11035_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,427},{50,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,58}}</string>
        <key>sourceSize</key>
        <string>{50,58}</string>
      </dict>
      <key>hero_ani_11035_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,360},{72,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,75}}</string>
        <key>sourceSize</key>
        <string>{72,75}</string>
      </dict>
      <key>hero_ani_11035_7511.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,494},{41,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,24}}</string>
        <key>sourceSize</key>
        <string>{41,24}</string>
      </dict>
      <key>hero_ani_11035_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,503},{58,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,14}}</string>
        <key>sourceSize</key>
        <string>{58,14}</string>
      </dict>
      <key>hero_ani_11035_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,437},{76,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,20}}</string>
        <key>sourceSize</key>
        <string>{76,20}</string>
      </dict>
      <key>hero_ani_11035_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,408},{80,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,30}}</string>
        <key>sourceSize</key>
        <string>{80,30}</string>
      </dict>
      <key>hero_ani_11035_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{92,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,36}}</string>
        <key>sourceSize</key>
        <string>{92,36}</string>
      </dict>
      <key>hero_ani_11035_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,396},{88,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,36}}</string>
        <key>sourceSize</key>
        <string>{88,36}</string>
      </dict>
      <key>hero_ani_11035_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,423},{78,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,32}}</string>
        <key>sourceSize</key>
        <string>{78,32}</string>
      </dict>
      <key>hero_ani_11035_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,487},{48,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,20}}</string>
        <key>sourceSize</key>
        <string>{48,20}</string>
      </dict>
      <key>hero_ani_11035_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,172}}</string>
        <key>sourceSize</key>
        <string>{180,172}</string>
      </dict>
      <key>hero_ani_11035_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,486},{27,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,33}}</string>
        <key>sourceSize</key>
        <string>{27,33}</string>
      </dict>
      <key>hero_ani_11035_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,449},{30,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,44}}</string>
        <key>sourceSize</key>
        <string>{30,44}</string>
      </dict>
      <key>hero_ani_11035_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,434},{65,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,37}}</string>
        <key>sourceSize</key>
        <string>{65,37}</string>
      </dict>
      <key>hero_ani_11035_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,174},{17,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,20}}</string>
        <key>sourceSize</key>
        <string>{17,20}</string>
      </dict>
      <key>hero_ani_11035_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,297},{143,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,61}}</string>
        <key>sourceSize</key>
        <string>{143,61}</string>
      </dict>
      <key>hero_ani_11035_1284.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11035_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,482},{33,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,38}}</string>
        <key>sourceSize</key>
        <string>{33,38}</string>
      </dict>
      <key>hero_ani_11035_755.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,436},{30,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,44}}</string>
        <key>sourceSize</key>
        <string>{30,44}</string>
      </dict>
      <key>hero_ani_11035_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,337},{23,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,40}}</string>
        <key>sourceSize</key>
        <string>{23,40}</string>
      </dict>
      <key>hero_ani_11035_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,459},{30,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,44}}</string>
        <key>sourceSize</key>
        <string>{30,44}</string>
      </dict>
      <key>hero_ani_11035_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,473},{30,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,44}}</string>
        <key>sourceSize</key>
        <string>{30,44}</string>
      </dict>
      <key>hero_ani_11035_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,473},{30,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,44}}</string>
        <key>sourceSize</key>
        <string>{30,44}</string>
      </dict>
      <key>hero_ani_11035_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,473},{30,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,44}}</string>
        <key>sourceSize</key>
        <string>{30,44}</string>
      </dict>
      <key>hero_ani_11035_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,440},{30,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,44}}</string>
        <key>sourceSize</key>
        <string>{30,44}</string>
      </dict>
      <key>hero_ani_11035_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{133,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,46}}</string>
        <key>sourceSize</key>
        <string>{133,46}</string>
      </dict>
      <key>hero_ani_11035_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,360},{101,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,46}}</string>
        <key>sourceSize</key>
        <string>{101,46}</string>
      </dict>
      <key>hero_ani_11035_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,457},{28,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,40}}</string>
        <key>sourceSize</key>
        <string>{28,40}</string>
      </dict>
      <key>hero_ani_11035_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,473},{26,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,40}}</string>
        <key>sourceSize</key>
        <string>{26,40}</string>
      </dict>
      <key>hero_ani_11035_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,390},{32,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,44}}</string>
        <key>sourceSize</key>
        <string>{32,44}</string>
      </dict>
      <key>hero_ani_11035_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,459},{30,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,44}}</string>
        <key>sourceSize</key>
        <string>{30,44}</string>
      </dict>
      <key>hero_ani_11035_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,427},{30,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,44}}</string>
        <key>sourceSize</key>
        <string>{30,44}</string>
      </dict>
      <key>hero_ani_11035_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,459},{30,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,44}}</string>
        <key>sourceSize</key>
        <string>{30,44}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11035.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11035.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>