<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11209_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{274,489},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11209_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{486,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11209_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,330},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11209_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11209_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,552},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11209_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11209_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,411},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11209_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,370},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11209_554.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,125},{42,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,50}}</string>
    <key>sourceSize</key>
    <string>{42,50}</string>
   </dict>
   <key>hero_ani_11209_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,414},{71,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,66}}</string>
    <key>sourceSize</key>
    <string>{71,66}</string>
   </dict>
   <key>hero_ani_11209_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,531},{32,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,10}}</string>
    <key>sourceSize</key>
    <string>{32,10}</string>
   </dict>
   <key>hero_ani_11209_203.png</key>
   <dict>
    <key>frame</key>
    <string>{{251,556},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11209_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{359,23},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11209_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{345,312},{75,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,98}}</string>
    <key>sourceSize</key>
    <string>{75,98}</string>
   </dict>
   <key>hero_ani_11209_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{454,313},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11209_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,214},{110,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,93}}</string>
    <key>sourceSize</key>
    <string>{110,93}</string>
   </dict>
   <key>hero_ani_11209_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{359,212},{106,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,98}}</string>
    <key>sourceSize</key>
    <string>{106,98}</string>
   </dict>
   <key>hero_ani_11209_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,426},{52,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,54}}</string>
    <key>sourceSize</key>
    <string>{52,54}</string>
   </dict>
   <key>hero_ani_11209_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,235},{110,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,93}}</string>
    <key>sourceSize</key>
    <string>{110,93}</string>
   </dict>
   <key>hero_ani_11209_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{359,106},{107,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,104}}</string>
    <key>sourceSize</key>
    <string>{107,104}</string>
   </dict>
   <key>hero_ani_11209_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,129},{107,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,104}}</string>
    <key>sourceSize</key>
    <string>{107,104}</string>
   </dict>
   <key>hero_ani_11209_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,129},{107,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,104}}</string>
    <key>sourceSize</key>
    <string>{107,104}</string>
   </dict>
   <key>hero_ani_11209_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,23},{107,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,104}}</string>
    <key>sourceSize</key>
    <string>{107,104}</string>
   </dict>
   <key>hero_ani_11209_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,23},{107,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,104}}</string>
    <key>sourceSize</key>
    <string>{107,104}</string>
   </dict>
   <key>hero_ani_11209_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{107,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,104}}</string>
    <key>sourceSize</key>
    <string>{107,104}</string>
   </dict>
   <key>hero_ani_11209_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{169,517},{34,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,31}}</string>
    <key>sourceSize</key>
    <string>{34,31}</string>
   </dict>
   <key>hero_ani_11209_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,491},{46,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,38}}</string>
    <key>sourceSize</key>
    <string>{46,38}</string>
   </dict>
   <key>hero_ani_11209_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,318},{30,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,48}}</string>
    <key>sourceSize</key>
    <string>{30,48}</string>
   </dict>
   <key>hero_ani_11209_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,177},{32,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,54}}</string>
    <key>sourceSize</key>
    <string>{32,54}</string>
   </dict>
   <key>hero_ani_11209_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,457},{66,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,53}}</string>
    <key>sourceSize</key>
    <string>{66,53}</string>
   </dict>
   <key>hero_ani_11209_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,412},{74,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,63}}</string>
    <key>sourceSize</key>
    <string>{74,63}</string>
   </dict>
   <key>hero_ani_11209_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,392},{74,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,63}}</string>
    <key>sourceSize</key>
    <string>{74,63}</string>
   </dict>
   <key>hero_ani_11209_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{76,404},{74,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,63}}</string>
    <key>sourceSize</key>
    <string>{74,63}</string>
   </dict>
   <key>hero_ani_11209_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,469},{72,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,33}}</string>
    <key>sourceSize</key>
    <string>{72,33}</string>
   </dict>
   <key>hero_ani_11209_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,504},{53,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,34}}</string>
    <key>sourceSize</key>
    <string>{53,34}</string>
   </dict>
   <key>hero_ani_11209_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{181,330},{35,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,40}}</string>
    <key>sourceSize</key>
    <string>{35,40}</string>
   </dict>
   <key>hero_ani_11209_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,477},{66,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,38}}</string>
    <key>sourceSize</key>
    <string>{66,38}</string>
   </dict>
   <key>hero_ani_11209_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,477},{65,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,36}}</string>
    <key>sourceSize</key>
    <string>{65,36}</string>
   </dict>
   <key>hero_ani_11209_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,482},{62,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,36}}</string>
    <key>sourceSize</key>
    <string>{62,36}</string>
   </dict>
   <key>hero_ani_11209_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,309},{102,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,81}}</string>
    <key>sourceSize</key>
    <string>{102,81}</string>
   </dict>
   <key>hero_ani_11209_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,235},{119,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{119,81}}</string>
    <key>sourceSize</key>
    <string>{119,81}</string>
   </dict>
   <key>hero_ani_11209_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{127,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{127,80}}</string>
    <key>sourceSize</key>
    <string>{127,80}</string>
   </dict>
   <key>hero_ani_11209_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,214},{23,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,17}}</string>
    <key>sourceSize</key>
    <string>{23,17}</string>
   </dict>
   <key>hero_ani_11209_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,482},{48,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,46}}</string>
    <key>sourceSize</key>
    <string>{48,46}</string>
   </dict>
   <key>hero_ani_11209_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,318},{74,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,94}}</string>
    <key>sourceSize</key>
    <string>{74,94}</string>
   </dict>
   <key>hero_ani_11209_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{371,23},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11209_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{371,27},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11209_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,408},{33,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,38}}</string>
    <key>sourceSize</key>
    <string>{33,38}</string>
   </dict>
   <key>hero_ani_11209_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,368},{34,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,38}}</string>
    <key>sourceSize</key>
    <string>{34,38}</string>
   </dict>
   <key>hero_ani_11209_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,412},{33,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,37}}</string>
    <key>sourceSize</key>
    <string>{33,37}</string>
   </dict>
   <key>hero_ani_11209_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{181,372},{34,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,37}}</string>
    <key>sourceSize</key>
    <string>{34,37}</string>
   </dict>
   <key>hero_ani_11209_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,448},{31,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,39}}</string>
    <key>sourceSize</key>
    <string>{31,39}</string>
   </dict>
   <key>hero_ani_11209_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,451},{31,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,38}}</string>
    <key>sourceSize</key>
    <string>{31,38}</string>
   </dict>
   <key>hero_ani_11209_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{320,515},{44,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,39}}</string>
    <key>sourceSize</key>
    <string>{44,39}</string>
   </dict>
   <key>hero_ani_11209_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{467,273},{43,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,38}}</string>
    <key>sourceSize</key>
    <string>{43,38}</string>
   </dict>
   <key>hero_ani_11209_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{205,520},{44,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,39}}</string>
    <key>sourceSize</key>
    <string>{44,39}</string>
   </dict>
   <key>hero_ani_11209_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,362},{28,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,10}}</string>
    <key>sourceSize</key>
    <string>{28,10}</string>
   </dict>
   <key>hero_ani_11209_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{439,530},{46,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,36}}</string>
    <key>sourceSize</key>
    <string>{46,36}</string>
   </dict>
   <key>hero_ani_11209_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,312},{30,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,48}}</string>
    <key>sourceSize</key>
    <string>{30,48}</string>
   </dict>
   <key>hero_ani_11209_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{467,233},{43,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,38}}</string>
    <key>sourceSize</key>
    <string>{43,38}</string>
   </dict>
   <key>hero_ani_11209_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{123,517},{44,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,39}}</string>
    <key>sourceSize</key>
    <string>{44,39}</string>
   </dict>
   <key>hero_ani_11209_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,512},{46,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,38}}</string>
    <key>sourceSize</key>
    <string>{46,38}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11209.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11209.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>