<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_569011_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,235},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569011_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,142},{160,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,140}}</string>
    <key>sourceSize</key>
    <string>{160,140}</string>
   </dict>
   <key>hero_ani_569011_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,0},{160,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,140}}</string>
    <key>sourceSize</key>
    <string>{160,140}</string>
   </dict>
   <key>hero_ani_569011_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{162,0},{160,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,140}}</string>
    <key>sourceSize</key>
    <string>{160,140}</string>
   </dict>
   <key>hero_ani_569011_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{160,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,140}}</string>
    <key>sourceSize</key>
    <string>{160,140}</string>
   </dict>
   <key>hero_ani_569011_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{162,142},{127,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{127,91}}</string>
    <key>sourceSize</key>
    <string>{127,91}</string>
   </dict>
   <key>hero_ani_569011_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{162,235},{127,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{127,91}}</string>
    <key>sourceSize</key>
    <string>{127,91}</string>
   </dict>
   <key>hero_ani_569011_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,142},{127,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{127,91}}</string>
    <key>sourceSize</key>
    <string>{127,91}</string>
   </dict>
   <key>hero_ani_569011_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{486,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_569011_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,235},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569011_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,235},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569011_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{399,240},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569011_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{435,240},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569011_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,273},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569011_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,191},{62,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,47}}</string>
    <key>sourceSize</key>
    <string>{62,47}</string>
   </dict>
   <key>hero_ani_569011_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,142},{62,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,47}}</string>
    <key>sourceSize</key>
    <string>{62,47}</string>
   </dict>
   <key>hero_ani_569011_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{471,240},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569011_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,273},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>hero_ani_569011_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,273},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_569011.png</string>
   <key>textureFileName</key>
   <string>hero_ani_569011.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>