<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11203_103.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,281},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11203_104.png</key>
   <dict>
    <key>frame</key>
    <string>{{985,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11203_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{667,258},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11203_107.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,23},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11203_106.png</key>
   <dict>
    <key>frame</key>
    <string>{{627,332},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11203_108.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11203_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{517,261},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11203_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,285},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11203_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{1018,63},{3,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,3}}</string>
    <key>sourceSize</key>
    <string>{3,3}</string>
   </dict>
   <key>hero_ani_11203_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{816,258},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>hero_ani_11203_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1010,110},{6,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,8}}</string>
    <key>sourceSize</key>
    <string>{6,8}</string>
   </dict>
   <key>hero_ani_11203_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,281},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11203_114.png</key>
   <dict>
    <key>frame</key>
    <string>{{471,245},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11203_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,252},{98,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,102}}</string>
    <key>sourceSize</key>
    <string>{98,102}</string>
   </dict>
   <key>hero_ani_11203_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{365,152},{152,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{152,91}}</string>
    <key>sourceSize</key>
    <string>{152,91}</string>
   </dict>
   <key>hero_ani_11203_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,245},{106,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,102}}</string>
    <key>sourceSize</key>
    <string>{106,102}</string>
   </dict>
   <key>hero_ani_11203_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{519,152},{120,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,107}}</string>
    <key>sourceSize</key>
    <string>{120,107}</string>
   </dict>
   <key>hero_ani_11203_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{668,152},{117,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{117,104}}</string>
    <key>sourceSize</key>
    <string>{117,104}</string>
   </dict>
   <key>hero_ani_11203_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,150}}</string>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>hero_ani_11203_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{529,0},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,150}}</string>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>hero_ani_11203_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{681,0},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,150}}</string>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>hero_ani_11203_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,150}}</string>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>hero_ani_11203_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{833,0},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,150}}</string>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>hero_ani_11203_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{884,258},{50,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,62}}</string>
    <key>sourceSize</key>
    <string>{50,62}</string>
   </dict>
   <key>hero_ani_11203_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{1010,0},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11203_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{787,152},{40,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,82}}</string>
    <key>sourceSize</key>
    <string>{40,82}</string>
   </dict>
   <key>hero_ani_11203_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,135},{44,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,88}}</string>
    <key>sourceSize</key>
    <string>{44,88}</string>
   </dict>
   <key>hero_ani_11203_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,135},{26,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,60}}</string>
    <key>sourceSize</key>
    <string>{26,60}</string>
   </dict>
   <key>hero_ani_11203_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{985,125},{32,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,92}}</string>
    <key>sourceSize</key>
    <string>{32,92}</string>
   </dict>
   <key>hero_ani_11203_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{945,152},{34,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,44}}</string>
    <key>sourceSize</key>
    <string>{34,44}</string>
   </dict>
   <key>hero_ani_11203_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{744,258},{41,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,40}}</string>
    <key>sourceSize</key>
    <string>{41,40}</string>
   </dict>
   <key>hero_ani_11203_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,341},{81,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,23}}</string>
    <key>sourceSize</key>
    <string>{81,23}</string>
   </dict>
   <key>hero_ani_11203_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{984,219},{31,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,32}}</string>
    <key>sourceSize</key>
    <string>{31,32}</string>
   </dict>
   <key>hero_ani_11203_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{641,152},{25,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,60}}</string>
    <key>sourceSize</key>
    <string>{25,60}</string>
   </dict>
   <key>hero_ani_11203_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,132},{17,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,17}}</string>
    <key>sourceSize</key>
    <string>{17,17}</string>
   </dict>
   <key>hero_ani_11203_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{1010,63},{6,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,31}}</string>
    <key>sourceSize</key>
    <string>{6,31}</string>
   </dict>
   <key>hero_ani_11203_113.png</key>
   <dict>
    <key>frame</key>
    <string>{{974,253},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11203_112.png</key>
   <dict>
    <key>frame</key>
    <string>{{930,339},{90,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,27}}</string>
    <key>sourceSize</key>
    <string>{90,27}</string>
   </dict>
   <key>hero_ani_11203_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{323,305},{29,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,25}}</string>
    <key>sourceSize</key>
    <string>{29,25}</string>
   </dict>
   <key>hero_ani_11203_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{936,275},{34,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,26}}</string>
    <key>sourceSize</key>
    <string>{34,26}</string>
   </dict>
   <key>hero_ani_11203_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,349},{46,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,28}}</string>
    <key>sourceSize</key>
    <string>{46,28}</string>
   </dict>
   <key>hero_ani_11203_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,347},{57,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,29}}</string>
    <key>sourceSize</key>
    <string>{57,29}</string>
   </dict>
   <key>hero_ani_11203_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,327},{63,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,32}}</string>
    <key>sourceSize</key>
    <string>{63,32}</string>
   </dict>
   <key>hero_ani_11203_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{805,326},{64,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,47}}</string>
    <key>sourceSize</key>
    <string>{64,47}</string>
   </dict>
   <key>hero_ani_11203_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,225},{58,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,58}}</string>
    <key>sourceSize</key>
    <string>{58,58}</string>
   </dict>
   <key>hero_ani_11203_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{1010,33},{10,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,28}}</string>
    <key>sourceSize</key>
    <string>{10,28}</string>
   </dict>
   <key>hero_ani_11203_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{293,23},{57,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,110}}</string>
    <key>sourceSize</key>
    <string>{57,110}</string>
   </dict>
   <key>hero_ani_11203_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,132},{118,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,118}}</string>
    <key>sourceSize</key>
    <string>{118,118}</string>
   </dict>
   <key>hero_ani_11203_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{583,261},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11203_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{1010,96},{6,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,12}}</string>
    <key>sourceSize</key>
    <string>{6,12}</string>
   </dict>
   <key>hero_ani_11203_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,175},{110,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,104}}</string>
    <key>sourceSize</key>
    <string>{110,104}</string>
   </dict>
   <key>hero_ani_11203_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{829,152},{114,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,104}}</string>
    <key>sourceSize</key>
    <string>{114,104}</string>
   </dict>
   <key>hero_ani_11203_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{1018,76},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11203_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{1018,72},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11203_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{1018,68},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11203_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{744,300},{32,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,28}}</string>
    <key>sourceSize</key>
    <string>{32,28}</string>
   </dict>
   <key>hero_ani_11203_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{936,303},{29,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,30}}</string>
    <key>sourceSize</key>
    <string>{29,30}</string>
   </dict>
   <key>hero_ani_11203_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{778,310},{25,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,29}}</string>
    <key>sourceSize</key>
    <string>{25,29}</string>
   </dict>
   <key>hero_ani_11203_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,288},{23,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,32}}</string>
    <key>sourceSize</key>
    <string>{23,32}</string>
   </dict>
   <key>hero_ani_11203_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,288},{23,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,33}}</string>
    <key>sourceSize</key>
    <string>{23,33}</string>
   </dict>
   <key>hero_ani_11203_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,197},{24,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,35}}</string>
    <key>sourceSize</key>
    <string>{24,35}</string>
   </dict>
   <key>hero_ani_11203_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{641,214},{24,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,35}}</string>
    <key>sourceSize</key>
    <string>{24,35}</string>
   </dict>
   <key>hero_ani_11203_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,214},{28,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,36}}</string>
    <key>sourceSize</key>
    <string>{28,36}</string>
   </dict>
   <key>hero_ani_11203_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{787,236},{27,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,36}}</string>
    <key>sourceSize</key>
    <string>{27,36}</string>
   </dict>
   <key>hero_ani_11203_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{945,237},{27,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,36}}</string>
    <key>sourceSize</key>
    <string>{27,36}</string>
   </dict>
   <key>hero_ani_11203_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{972,299},{42,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,38}}</string>
    <key>sourceSize</key>
    <string>{42,38}</string>
   </dict>
   <key>hero_ani_11203_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,175},{37,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,37}}</string>
    <key>sourceSize</key>
    <string>{37,37}</string>
   </dict>
   <key>hero_ani_11203_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,327},{64,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,37}}</string>
    <key>sourceSize</key>
    <string>{64,37}</string>
   </dict>
   <key>hero_ani_11203_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,252},{28,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,34}}</string>
    <key>sourceSize</key>
    <string>{28,34}</string>
   </dict>
   <key>hero_ani_11203_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{787,274},{23,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,34}}</string>
    <key>sourceSize</key>
    <string>{23,34}</string>
   </dict>
   <key>hero_ani_11203_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{641,251},{24,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,33}}</string>
    <key>sourceSize</key>
    <string>{24,33}</string>
   </dict>
   <key>hero_ani_11203_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{332,270},{29,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,33}}</string>
    <key>sourceSize</key>
    <string>{29,33}</string>
   </dict>
   <key>hero_ani_11203_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,61},{23,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,35}}</string>
    <key>sourceSize</key>
    <string>{23,35}</string>
   </dict>
   <key>hero_ani_11203_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,252},{23,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,34}}</string>
    <key>sourceSize</key>
    <string>{23,34}</string>
   </dict>
   <key>hero_ani_11203_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,98},{23,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,35}}</string>
    <key>sourceSize</key>
    <string>{23,35}</string>
   </dict>
   <key>hero_ani_11203_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,23},{23,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,36}}</string>
    <key>sourceSize</key>
    <string>{23,36}</string>
   </dict>
   <key>hero_ani_11203_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{640,286},{23,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,34}}</string>
    <key>sourceSize</key>
    <string>{23,34}</string>
   </dict>
   <key>hero_ani_11203_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{332,234},{29,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,34}}</string>
    <key>sourceSize</key>
    <string>{29,34}</string>
   </dict>
   <key>hero_ani_11203_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{884,322},{44,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,34}}</string>
    <key>sourceSize</key>
    <string>{44,34}</string>
   </dict>
   <key>hero_ani_11203_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{722,332},{43,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,34}}</string>
    <key>sourceSize</key>
    <string>{43,34}</string>
   </dict>
   <key>hero_ani_11203_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{583,318},{42,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,38}}</string>
    <key>sourceSize</key>
    <string>{42,38}</string>
   </dict>
   <key>hero_ani_11203_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{945,198},{37,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,37}}</string>
    <key>sourceSize</key>
    <string>{37,37}</string>
   </dict>
   <key>hero_ani_11203_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{471,291},{41,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,40}}</string>
    <key>sourceSize</key>
    <string>{41,40}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11203.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11203.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>