<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11227_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,105},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11227_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,23},{23,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,123}}</string>
        <key>sourceSize</key>
        <string>{23,123}</string>
      </dict>
      <key>hero_ani_11227_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,295},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>hero_ani_11227_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,0},{139,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>hero_ani_11227_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,479},{93,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>hero_ani_11227_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{375,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,21}}</string>
        <key>sourceSize</key>
        <string>{375,21}</string>
      </dict>
      <key>hero_ani_11227_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,369},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11227_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,208},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11227_908.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,170},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>hero_ani_11227_993.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,217},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero_ani_11227_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,93},{70,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,129}}</string>
        <key>sourceSize</key>
        <string>{70,129}</string>
      </dict>
      <key>hero_ani_11227_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,105},{69,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,129}}</string>
        <key>sourceSize</key>
        <string>{69,129}</string>
      </dict>
      <key>hero_ani_11227_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,224},{71,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,115}}</string>
        <key>sourceSize</key>
        <string>{71,115}</string>
      </dict>
      <key>hero_ani_11227_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,109},{71,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,116}}</string>
        <key>sourceSize</key>
        <string>{71,116}</string>
      </dict>
      <key>hero_ani_11227_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,227},{71,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,113}}</string>
        <key>sourceSize</key>
        <string>{71,113}</string>
      </dict>
      <key>hero_ani_11227_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,236},{71,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,112}}</string>
        <key>sourceSize</key>
        <string>{71,112}</string>
      </dict>
      <key>hero_ani_11227_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,93},{70,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,129}}</string>
        <key>sourceSize</key>
        <string>{70,129}</string>
      </dict>
      <key>hero_ani_11227_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,109},{69,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,129}}</string>
        <key>sourceSize</key>
        <string>{69,129}</string>
      </dict>
      <key>hero_ani_11227_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,133},{71,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,115}}</string>
        <key>sourceSize</key>
        <string>{71,115}</string>
      </dict>
      <key>hero_ani_11227_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,118},{71,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,116}}</string>
        <key>sourceSize</key>
        <string>{71,116}</string>
      </dict>
      <key>hero_ani_11227_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,224},{71,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,113}}</string>
        <key>sourceSize</key>
        <string>{71,113}</string>
      </dict>
      <key>hero_ani_11227_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,240},{71,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,112}}</string>
        <key>sourceSize</key>
        <string>{71,112}</string>
      </dict>
      <key>hero_ani_11227_907.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,189},{43,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,43}}</string>
        <key>sourceSize</key>
        <string>{43,43}</string>
      </dict>
      <key>hero_ani_11227_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,23},{143,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,101}}</string>
        <key>sourceSize</key>
        <string>{143,101}</string>
      </dict>
      <key>hero_ani_11227_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{175,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,131}}</string>
        <key>sourceSize</key>
        <string>{175,131}</string>
      </dict>
      <key>hero_ani_11227_1999.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,151},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>hero_ani_11227_994.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,185},{20,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,32}}</string>
        <key>sourceSize</key>
        <string>{20,32}</string>
      </dict>
      <key>hero_ani_11227_900.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,234},{43,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,29}}</string>
        <key>sourceSize</key>
        <string>{43,29}</string>
      </dict>
      <key>hero_ani_11227_906.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,169},{37,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,28}}</string>
        <key>sourceSize</key>
        <string>{37,28}</string>
      </dict>
      <key>hero_ani_11227_905.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,260},{54,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,26}}</string>
        <key>sourceSize</key>
        <string>{54,26}</string>
      </dict>
      <key>hero_ani_11227_904.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,428},{62,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,30}}</string>
        <key>sourceSize</key>
        <string>{62,30}</string>
      </dict>
      <key>hero_ani_11227_903.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,264},{61,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,39}}</string>
        <key>sourceSize</key>
        <string>{61,39}</string>
      </dict>
      <key>hero_ani_11227_902.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,417},{64,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,29}}</string>
        <key>sourceSize</key>
        <string>{64,29}</string>
      </dict>
      <key>hero_ani_11227_901.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,418},{64,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,29}}</string>
        <key>sourceSize</key>
        <string>{64,29}</string>
      </dict>
      <key>hero_ani_11227_919.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,419},{64,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,29}}</string>
        <key>sourceSize</key>
        <string>{64,29}</string>
      </dict>
      <key>hero_ani_11227_918.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,224},{54,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,34}}</string>
        <key>sourceSize</key>
        <string>{54,34}</string>
      </dict>
      <key>hero_ani_11227_917.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,148},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>hero_ani_11227_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,111},{25,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,56}}</string>
        <key>sourceSize</key>
        <string>{25,56}</string>
      </dict>
      <key>hero_ani_11227_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,111},{92,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,104}}</string>
        <key>sourceSize</key>
        <string>{92,104}</string>
      </dict>
      <key>hero_ani_11227_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,0},{118,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,103}}</string>
        <key>sourceSize</key>
        <string>{118,103}</string>
      </dict>
      <key>hero_ani_11227_138.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,144},{44,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,43}}</string>
        <key>sourceSize</key>
        <string>{44,43}</string>
      </dict>
      <key>hero_ani_11227_137.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,354},{67,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,62}}</string>
        <key>sourceSize</key>
        <string>{67,62}</string>
      </dict>
      <key>hero_ani_11227_136.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,224},{68,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,85}}</string>
        <key>sourceSize</key>
        <string>{68,85}</string>
      </dict>
      <key>hero_ani_11227_135.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,295},{90,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,94}}</string>
        <key>sourceSize</key>
        <string>{90,94}</string>
      </dict>
      <key>hero_ani_11227_134.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,223},{90,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,97}}</string>
        <key>sourceSize</key>
        <string>{90,97}</string>
      </dict>
      <key>hero_ani_11227_133.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{100,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,95}}</string>
        <key>sourceSize</key>
        <string>{100,95}</string>
      </dict>
      <key>hero_ani_11227_132.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,133},{102,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,89}}</string>
        <key>sourceSize</key>
        <string>{102,89}</string>
      </dict>
      <key>hero_ani_11227_131.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,328},{101,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,81}}</string>
        <key>sourceSize</key>
        <string>{101,81}</string>
      </dict>
      <key>hero_ani_11227_130.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,339},{101,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,72}}</string>
        <key>sourceSize</key>
        <string>{101,72}</string>
      </dict>
      <key>hero_ani_11227_129.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,468},{99,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,65}}</string>
        <key>sourceSize</key>
        <string>{99,65}</string>
      </dict>
      <key>hero_ani_11227_128.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,477},{96,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,62}}</string>
        <key>sourceSize</key>
        <string>{96,62}</string>
      </dict>
      <key>hero_ani_11227_127.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,476},{89,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,55}}</string>
        <key>sourceSize</key>
        <string>{89,55}</string>
      </dict>
      <key>hero_ani_11227_126.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,392},{64,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,42}}</string>
        <key>sourceSize</key>
        <string>{64,42}</string>
      </dict>
      <key>hero_ani_11227_125.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,305},{62,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,32}}</string>
        <key>sourceSize</key>
        <string>{62,32}</string>
      </dict>
      <key>hero_ani_11227_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,199},{36,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,9}}</string>
        <key>sourceSize</key>
        <string>{36,9}</string>
      </dict>
      <key>hero_ani_11227_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,491},{90,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,27}}</string>
        <key>sourceSize</key>
        <string>{90,27}</string>
      </dict>
      <key>hero_ani_11227_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,23},{205,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{205,15}}</string>
        <key>sourceSize</key>
        <string>{205,15}</string>
      </dict>
      <key>hero_ani_11227_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,86},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11227_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,111},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11227_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,466},{90,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,75}}</string>
        <key>sourceSize</key>
        <string>{90,75}</string>
      </dict>
      <key>hero_ani_11227_992.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,0},{11,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,84}}</string>
        <key>sourceSize</key>
        <string>{11,84}</string>
      </dict>
      <key>hero_ani_11227_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,0},{192,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,91}}</string>
        <key>sourceSize</key>
        <string>{192,91}</string>
      </dict>
      <key>hero_ani_11227_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,40},{136,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,69}}</string>
        <key>sourceSize</key>
        <string>{136,69}</string>
      </dict>
      <key>hero_ani_11227_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,411},{106,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,64}}</string>
        <key>sourceSize</key>
        <string>{106,64}</string>
      </dict>
      <key>hero_ani_11227_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,126},{24,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,42}}</string>
        <key>sourceSize</key>
        <string>{24,42}</string>
      </dict>
      <key>hero_ani_11227_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,413},{106,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,64}}</string>
        <key>sourceSize</key>
        <string>{106,64}</string>
      </dict>
      <key>hero_ani_11227_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,40},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11227_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,314},{68,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,76}}</string>
        <key>sourceSize</key>
        <string>{68,76}</string>
      </dict>
      <key>hero_ani_11227_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,311},{68,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,76}}</string>
        <key>sourceSize</key>
        <string>{68,76}</string>
      </dict>
      <key>hero_ani_11227_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,339},{64,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,76}}</string>
        <key>sourceSize</key>
        <string>{64,76}</string>
      </dict>
      <key>hero_ani_11227_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,40},{64,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,76}}</string>
        <key>sourceSize</key>
        <string>{64,76}</string>
      </dict>
      <key>hero_ani_11227_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,350},{64,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,76}}</string>
        <key>sourceSize</key>
        <string>{64,76}</string>
      </dict>
      <key>hero_ani_11227_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,341},{68,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,76}}</string>
        <key>sourceSize</key>
        <string>{68,76}</string>
      </dict>
      <key>hero_ani_11227_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,389},{90,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,75}}</string>
        <key>sourceSize</key>
        <string>{90,75}</string>
      </dict>
      <key>hero_ani_11227_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,399},{90,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,75}}</string>
        <key>sourceSize</key>
        <string>{90,75}</string>
      </dict>
      <key>hero_ani_11227_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,322},{90,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,75}}</string>
        <key>sourceSize</key>
        <string>{90,75}</string>
      </dict>
      <key>hero_ani_11227_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,236},{69,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,76}}</string>
        <key>sourceSize</key>
        <string>{69,76}</string>
      </dict>
      <key>hero_ani_11227_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,250},{72,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,76}}</string>
        <key>sourceSize</key>
        <string>{72,76}</string>
      </dict>
      <key>hero_ani_11227_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,217},{114,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,76}}</string>
        <key>sourceSize</key>
        <string>{114,76}</string>
      </dict>
      <key>hero_ani_11227_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,477},{95,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,64}}</string>
        <key>sourceSize</key>
        <string>{95,64}</string>
      </dict>
      <key>hero_ani_11227_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,468},{90,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,70}}</string>
        <key>sourceSize</key>
        <string>{90,70}</string>
      </dict>
      <key>hero_ani_11227_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,342},{71,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,70}}</string>
        <key>sourceSize</key>
        <string>{71,70}</string>
      </dict>
      <key>hero_ani_11227_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,450},{90,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,75}}</string>
        <key>sourceSize</key>
        <string>{90,75}</string>
      </dict>
      <key>hero_ani_11227_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,414},{90,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,75}}</string>
        <key>sourceSize</key>
        <string>{90,75}</string>
      </dict>
      <key>hero_ani_11227_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,391},{90,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,75}}</string>
        <key>sourceSize</key>
        <string>{90,75}</string>
      </dict>
      <key>hero_ani_11227_146.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,449},{61,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,8}}</string>
        <key>sourceSize</key>
        <string>{61,8}</string>
      </dict>
      <key>hero_ani_11227_145.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,436},{62,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,26}}</string>
        <key>sourceSize</key>
        <string>{62,26}</string>
      </dict>
      <key>hero_ani_11227_144.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,448},{60,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,27}}</string>
        <key>sourceSize</key>
        <string>{60,27}</string>
      </dict>
      <key>hero_ani_11227_143.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,435},{60,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,31}}</string>
        <key>sourceSize</key>
        <string>{60,31}</string>
      </dict>
      <key>hero_ani_11227_142.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,93},{44,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,49}}</string>
        <key>sourceSize</key>
        <string>{44,49}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11227.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11227.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>