<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11414_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,308},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11414_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11414_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11414_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11414_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{417,381},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11414_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11414_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{226,185},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11414_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,206},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11414_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,133},{53,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,58}}</string>
    <key>sourceSize</key>
    <string>{53,58}</string>
   </dict>
   <key>hero_ani_11414_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,193},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11414_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,139},{85,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,51}}</string>
    <key>sourceSize</key>
    <string>{85,51}</string>
   </dict>
   <key>hero_ani_11414_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,82},{30,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,49}}</string>
    <key>sourceSize</key>
    <string>{30,49}</string>
   </dict>
   <key>hero_ani_11414_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{251,286},{38,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,38}}</string>
    <key>sourceSize</key>
    <string>{38,38}</string>
   </dict>
   <key>hero_ani_11414_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,237},{38,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,38}}</string>
    <key>sourceSize</key>
    <string>{38,38}</string>
   </dict>
   <key>hero_ani_11414_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{251,326},{38,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,38}}</string>
    <key>sourceSize</key>
    <string>{38,38}</string>
   </dict>
   <key>hero_ani_11414_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{103,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,80}}</string>
    <key>sourceSize</key>
    <string>{103,80}</string>
   </dict>
   <key>hero_ani_11414_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,23},{103,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,80}}</string>
    <key>sourceSize</key>
    <string>{103,80}</string>
   </dict>
   <key>hero_ani_11414_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{243,137},{92,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,46}}</string>
    <key>sourceSize</key>
    <string>{92,46}</string>
   </dict>
   <key>hero_ani_11414_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,162},{92,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,41}}</string>
    <key>sourceSize</key>
    <string>{92,41}</string>
   </dict>
   <key>hero_ani_11414_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,251},{85,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,33}}</string>
    <key>sourceSize</key>
    <string>{85,33}</string>
   </dict>
   <key>hero_ani_11414_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{292,185},{42,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,54}}</string>
    <key>sourceSize</key>
    <string>{42,54}</string>
   </dict>
   <key>hero_ani_11414_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{328,387},{32,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,10}}</string>
    <key>sourceSize</key>
    <string>{32,10}</string>
   </dict>
   <key>hero_ani_11414_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,290},{47,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,48}}</string>
    <key>sourceSize</key>
    <string>{47,48}</string>
   </dict>
   <key>hero_ani_11414_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{160,305},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>hero_ani_11414_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{395,277},{47,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,48}}</string>
    <key>sourceSize</key>
    <string>{47,48}</string>
   </dict>
   <key>hero_ani_11414_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{336,192},{72,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,54}}</string>
    <key>sourceSize</key>
    <string>{72,54}</string>
   </dict>
   <key>hero_ani_11414_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,132},{53,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,58}}</string>
    <key>sourceSize</key>
    <string>{53,58}</string>
   </dict>
   <key>hero_ani_11414_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{348,45},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11414_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,312},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>hero_ani_11414_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,286},{47,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,48}}</string>
    <key>sourceSize</key>
    <string>{47,48}</string>
   </dict>
   <key>hero_ani_11414_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{42,375},{48,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,33}}</string>
    <key>sourceSize</key>
    <string>{48,33}</string>
   </dict>
   <key>hero_ani_11414_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{193,383},{30,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,21}}</string>
    <key>sourceSize</key>
    <string>{30,21}</string>
   </dict>
   <key>hero_ani_11414_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{286,382},{40,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,37}}</string>
    <key>sourceSize</key>
    <string>{40,37}</string>
   </dict>
   <key>hero_ani_11414_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,297},{49,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,44}}</string>
    <key>sourceSize</key>
    <string>{49,44}</string>
   </dict>
   <key>hero_ani_11414_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{334,248},{59,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,40}}</string>
    <key>sourceSize</key>
    <string>{59,40}</string>
   </dict>
   <key>hero_ani_11414_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{49,296},{54,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,39}}</string>
    <key>sourceSize</key>
    <string>{54,39}</string>
   </dict>
   <key>hero_ani_11414_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{348,82},{100,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,55}}</string>
    <key>sourceSize</key>
    <string>{100,55}</string>
   </dict>
   <key>hero_ani_11414_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{246,23},{100,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,55}}</string>
    <key>sourceSize</key>
    <string>{100,55}</string>
   </dict>
   <key>hero_ani_11414_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{246,80},{100,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,55}}</string>
    <key>sourceSize</key>
    <string>{100,55}</string>
   </dict>
   <key>hero_ani_11414_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,105},{100,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,55}}</string>
    <key>sourceSize</key>
    <string>{100,55}</string>
   </dict>
   <key>hero_ani_11414_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{131,205},{69,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,51}}</string>
    <key>sourceSize</key>
    <string>{69,51}</string>
   </dict>
   <key>hero_ani_11414_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,192},{52,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,51}}</string>
    <key>sourceSize</key>
    <string>{52,51}</string>
   </dict>
   <key>hero_ani_11414_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{56,245},{53,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,49}}</string>
    <key>sourceSize</key>
    <string>{53,49}</string>
   </dict>
   <key>hero_ani_11414_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,250},{51,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,45}}</string>
    <key>sourceSize</key>
    <string>{51,45}</string>
   </dict>
   <key>hero_ani_11414_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{348,23},{26,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,20}}</string>
    <key>sourceSize</key>
    <string>{26,20}</string>
   </dict>
   <key>hero_ani_11414_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{433,343},{49,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,36}}</string>
    <key>sourceSize</key>
    <string>{49,36}</string>
   </dict>
   <key>hero_ani_11414_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,327},{49,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,36}}</string>
    <key>sourceSize</key>
    <string>{49,36}</string>
   </dict>
   <key>hero_ani_11414_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{42,337},{49,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,36}}</string>
    <key>sourceSize</key>
    <string>{49,36}</string>
   </dict>
   <key>hero_ani_11414_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{507,4},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11414_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{507,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11414_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,359},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>hero_ani_11414_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{151,352},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>hero_ani_11414_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,288},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>hero_ani_11414_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,336},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>hero_ani_11414_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,192},{38,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,43}}</string>
    <key>sourceSize</key>
    <string>{38,43}</string>
   </dict>
   <key>hero_ani_11414_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{93,354},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>hero_ani_11414_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,340},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>hero_ani_11414_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,365},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>hero_ani_11414_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{160,258},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>hero_ani_11414_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{111,258},{47,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,48}}</string>
    <key>sourceSize</key>
    <string>{47,48}</string>
   </dict>
   <key>hero_ani_11414_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,262},{47,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,48}}</string>
    <key>sourceSize</key>
    <string>{47,48}</string>
   </dict>
   <key>hero_ani_11414_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,335},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>hero_ani_11414_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{292,241},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>hero_ani_11414_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{244,366},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11414.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11414.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>