<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11023_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,297},{51,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{51,55}</string>
      </dict>
      <key>hero_ani_11023_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,297},{58,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,58}}</string>
        <key>sourceSize</key>
        <string>{58,58}</string>
      </dict>
      <key>hero_ani_11023_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,178},{45,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,63}}</string>
        <key>sourceSize</key>
        <string>{45,63}</string>
      </dict>
      <key>hero_ani_11023_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,425},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>hero_ani_11023_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,96},{102,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,106}}</string>
        <key>sourceSize</key>
        <string>{102,106}</string>
      </dict>
      <key>hero_ani_11023_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{150,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,53}}</string>
        <key>sourceSize</key>
        <string>{150,53}</string>
      </dict>
      <key>hero_ani_11023_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,247},{34,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,50}}</string>
        <key>sourceSize</key>
        <string>{34,50}</string>
      </dict>
      <key>hero_ani_11023_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,204},{23,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,6}}</string>
        <key>sourceSize</key>
        <string>{23,6}</string>
      </dict>
      <key>hero_ani_11023_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{238,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,24}}</string>
        <key>sourceSize</key>
        <string>{238,24}</string>
      </dict>
      <key>hero_ani_11023_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,72},{243,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,23}}</string>
        <key>sourceSize</key>
        <string>{243,23}</string>
      </dict>
      <key>hero_ani_11023_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,43},{250,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,27}}</string>
        <key>sourceSize</key>
        <string>{250,27}</string>
      </dict>
      <key>hero_ani_11023_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,313},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,51}}</string>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>hero_ani_11023_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{339,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{339,4}}</string>
        <key>sourceSize</key>
        <string>{339,4}</string>
      </dict>
      <key>hero_ani_11023_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,6},{255,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,35}}</string>
        <key>sourceSize</key>
        <string>{255,35}</string>
      </dict>
      <key>hero_ani_11023_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,105},{10,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,22}}</string>
        <key>sourceSize</key>
        <string>{10,22}</string>
      </dict>
      <key>hero_ani_11023_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,443},{37,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,37}}</string>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
      <key>hero_ani_11023_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,412},{40,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,46}}</string>
        <key>sourceSize</key>
        <string>{40,46}</string>
      </dict>
      <key>hero_ani_11023_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,316},{46,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,52}}</string>
        <key>sourceSize</key>
        <string>{46,52}</string>
      </dict>
      <key>hero_ani_11023_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{61,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,56}}</string>
        <key>sourceSize</key>
        <string>{61,56}</string>
      </dict>
      <key>hero_ani_11023_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,72},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11023_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,452},{33,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,39}}</string>
        <key>sourceSize</key>
        <string>{33,39}</string>
      </dict>
      <key>hero_ani_11023_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,316},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero_ani_11023_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,6},{80,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>hero_ani_11023_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,247},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11023_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,209},{73,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>hero_ani_11023_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,171},{74,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,72}}</string>
        <key>sourceSize</key>
        <string>{74,72}</string>
      </dict>
      <key>hero_ani_11023_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,245},{69,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,69}}</string>
        <key>sourceSize</key>
        <string>{69,69}</string>
      </dict>
      <key>hero_ani_11023_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,96},{71,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,77}}</string>
        <key>sourceSize</key>
        <string>{71,77}</string>
      </dict>
      <key>hero_ani_11023_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,92},{72,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,77}}</string>
        <key>sourceSize</key>
        <string>{72,77}</string>
      </dict>
      <key>hero_ani_11023_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,212},{20,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,8}}</string>
        <key>sourceSize</key>
        <string>{20,8}</string>
      </dict>
      <key>hero_ani_11023_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,282},{61,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,61}}</string>
        <key>sourceSize</key>
        <string>{61,61}</string>
      </dict>
      <key>hero_ani_11023_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,408},{46,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,42}}</string>
        <key>sourceSize</key>
        <string>{46,42}</string>
      </dict>
      <key>hero_ani_11023_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,399},{47,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,42}}</string>
        <key>sourceSize</key>
        <string>{47,42}</string>
      </dict>
      <key>hero_ani_11023_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,421},{43,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,40}}</string>
        <key>sourceSize</key>
        <string>{43,40}</string>
      </dict>
      <key>hero_ani_11023_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,409},{44,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,42}}</string>
        <key>sourceSize</key>
        <string>{44,42}</string>
      </dict>
      <key>hero_ani_11023_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,129},{9,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,9}}</string>
        <key>sourceSize</key>
        <string>{9,9}</string>
      </dict>
      <key>hero_ani_11023_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{169,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,94}}</string>
        <key>sourceSize</key>
        <string>{169,94}</string>
      </dict>
      <key>hero_ani_11023_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,175},{75,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,70}}</string>
        <key>sourceSize</key>
        <string>{75,70}</string>
      </dict>
      <key>hero_ani_11023_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{96,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,104}}</string>
        <key>sourceSize</key>
        <string>{96,104}</string>
      </dict>
      <key>hero_ani_11023_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,204},{91,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,91}}</string>
        <key>sourceSize</key>
        <string>{91,91}</string>
      </dict>
      <key>hero_ani_11023_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,123},{86,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,84}}</string>
        <key>sourceSize</key>
        <string>{86,84}</string>
      </dict>
      <key>hero_ani_11023_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,43},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11023_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,6},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>hero_ani_11023_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,442},{34,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,42}}</string>
        <key>sourceSize</key>
        <string>{34,42}</string>
      </dict>
      <key>hero_ani_11023_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,426},{34,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,42}}</string>
        <key>sourceSize</key>
        <string>{34,42}</string>
      </dict>
      <key>hero_ani_11023_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,397},{34,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,43}}</string>
        <key>sourceSize</key>
        <string>{34,43}</string>
      </dict>
      <key>hero_ani_11023_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,426},{34,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,43}}</string>
        <key>sourceSize</key>
        <string>{34,43}</string>
      </dict>
      <key>hero_ani_11023_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,400},{34,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,43}}</string>
        <key>sourceSize</key>
        <string>{34,43}</string>
      </dict>
      <key>hero_ani_11023_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,299},{34,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,43}}</string>
        <key>sourceSize</key>
        <string>{34,43}</string>
      </dict>
      <key>hero_ani_11023_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,328},{33,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,41}}</string>
        <key>sourceSize</key>
        <string>{33,41}</string>
      </dict>
      <key>hero_ani_11023_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,284},{33,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,42}}</string>
        <key>sourceSize</key>
        <string>{33,42}</string>
      </dict>
      <key>hero_ani_11023_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,443},{33,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,41}}</string>
        <key>sourceSize</key>
        <string>{33,41}</string>
      </dict>
      <key>hero_ani_11023_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,342},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero_ani_11023_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,298},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero_ani_11023_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,445},{29,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,45}}</string>
        <key>sourceSize</key>
        <string>{29,45}</string>
      </dict>
      <key>hero_ani_11023_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,353},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero_ani_11023_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,344},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero_ani_11023_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,357},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero_ani_11023_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,243},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero_ani_11023_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,371},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero_ani_11023_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,371},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero_ani_11023_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,345},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero_ani_11023_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,354},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero_ani_11023_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,366},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero_ani_11023_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,370},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11023.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11023.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>