<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero_ani_11607_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,132},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>hero_ani_11607_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,0},{23,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,123}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>hero_ani_11607_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,23},{75,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,72}}</string>
    <key>sourceSize</key>
    <string>{75,72}</string>
   </dict>
   <key>hero_ani_11607_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,23},{139,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,107}}</string>
    <key>sourceSize</key>
    <string>{139,107}</string>
   </dict>
   <key>hero_ani_11607_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{93,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,26}}</string>
    <key>sourceSize</key>
    <string>{93,26}</string>
   </dict>
   <key>hero_ani_11607_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{375,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,21}}</string>
    <key>sourceSize</key>
    <string>{375,21}</string>
   </dict>
   <key>hero_ani_11607_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,23},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>hero_ani_11607_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,89},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,54}}</string>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>hero_ani_11607_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,23},{34,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,49}}</string>
    <key>sourceSize</key>
    <string>{34,49}</string>
   </dict>
   <key>hero_ani_11607_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,178},{32,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,10}}</string>
    <key>sourceSize</key>
    <string>{32,10}</string>
   </dict>
   <key>hero_ani_11607_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{66,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,87}}</string>
    <key>sourceSize</key>
    <string>{66,87}</string>
   </dict>
   <key>hero_ani_11607_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,89},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>hero_ani_11607_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,166},{22,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,35}}</string>
    <key>sourceSize</key>
    <string>{22,35}</string>
   </dict>
   <key>hero_ani_11607_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{268,146},{11,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,13}}</string>
    <key>sourceSize</key>
    <string>{11,13}</string>
   </dict>
   <key>hero_ani_11607_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,62},{30,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,49}}</string>
    <key>sourceSize</key>
    <string>{30,49}</string>
   </dict>
   <key>hero_ani_11607_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,160},{78,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,23}}</string>
    <key>sourceSize</key>
    <string>{78,23}</string>
   </dict>
   <key>hero_ani_11607_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,0},{30,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,60}}</string>
    <key>sourceSize</key>
    <string>{30,60}</string>
   </dict>
   <key>hero_ani_11607_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,89},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11607_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,122},{10,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,31}}</string>
    <key>sourceSize</key>
    <string>{10,31}</string>
   </dict>
   <key>hero_ani_11607_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{331,153},{23,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,38}}</string>
    <key>sourceSize</key>
    <string>{23,38}</string>
   </dict>
   <key>hero_ani_11607_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,85},{49,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,60}}</string>
    <key>sourceSize</key>
    <string>{49,60}</string>
   </dict>
   <key>hero_ani_11607_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,23},{51,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,60}}</string>
    <key>sourceSize</key>
    <string>{51,60}</string>
   </dict>
   <key>hero_ani_11607_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{114,178},{21,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,20}}</string>
    <key>sourceSize</key>
    <string>{21,20}</string>
   </dict>
   <key>hero_ani_11607_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,166},{22,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,20}}</string>
    <key>sourceSize</key>
    <string>{22,20}</string>
   </dict>
   <key>hero_ani_11607_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,179},{21,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,19}}</string>
    <key>sourceSize</key>
    <string>{21,19}</string>
   </dict>
   <key>hero_ani_11607_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{370,145},{48,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,49}}</string>
    <key>sourceSize</key>
    <string>{48,49}</string>
   </dict>
   <key>hero_ani_11607_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,97},{42,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,61}}</string>
    <key>sourceSize</key>
    <string>{42,61}</string>
   </dict>
   <key>hero_ani_11607_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{506,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>hero_ani_11607_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hero_ani_11607_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{185,139},{27,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,38}}</string>
    <key>sourceSize</key>
    <string>{27,38}</string>
   </dict>
   <key>hero_ani_11607_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{185,97},{26,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,40}}</string>
    <key>sourceSize</key>
    <string>{26,40}</string>
   </dict>
   <key>hero_ani_11607_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{281,147},{23,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,38}}</string>
    <key>sourceSize</key>
    <string>{23,38}</string>
   </dict>
   <key>hero_ani_11607_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,160},{23,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,38}}</string>
    <key>sourceSize</key>
    <string>{23,38}</string>
   </dict>
   <key>hero_ani_11607_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{306,147},{23,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,38}}</string>
    <key>sourceSize</key>
    <string>{23,38}</string>
   </dict>
   <key>hero_ani_11607_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,74},{35,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,38}}</string>
    <key>sourceSize</key>
    <string>{35,38}</string>
   </dict>
   <key>hero_ani_11607_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{241,146},{25,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,38}}</string>
    <key>sourceSize</key>
    <string>{25,38}</string>
   </dict>
   <key>hero_ani_11607_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,113},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>hero_ani_11607_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,114},{33,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,37}}</string>
    <key>sourceSize</key>
    <string>{33,37}</string>
   </dict>
   <key>hero_ani_11607_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,125},{25,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,39}}</string>
    <key>sourceSize</key>
    <string>{25,39}</string>
   </dict>
   <key>hero_ani_11607_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{469,155},{23,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,38}}</string>
    <key>sourceSize</key>
    <string>{23,38}</string>
   </dict>
   <key>hero_ani_11607_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{214,146},{25,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,39}}</string>
    <key>sourceSize</key>
    <string>{25,39}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero_ani_11607.png</string>
   <key>textureFileName</key>
   <string>hero_ani_11607.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>