<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11431_994.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,148},{24,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,15}}</string>
        <key>sourceSize</key>
        <string>{24,15}</string>
      </dict>
      <key>hero_ani_11431_991.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,138},{24,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,15}}</string>
        <key>sourceSize</key>
        <string>{24,15}</string>
      </dict>
      <key>hero_ani_11431_993.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,76},{6,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,16}}</string>
        <key>sourceSize</key>
        <string>{6,16}</string>
      </dict>
      <key>hero_ani_11431_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,320},{50,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,25}}</string>
        <key>sourceSize</key>
        <string>{50,25}</string>
      </dict>
      <key>hero_ani_11431_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,332},{50,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,21}}</string>
        <key>sourceSize</key>
        <string>{50,21}</string>
      </dict>
      <key>hero_ani_11431_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,78},{100,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,58}}</string>
        <key>sourceSize</key>
        <string>{100,58}</string>
      </dict>
      <key>hero_ani_11431_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,0},{89,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,80}}</string>
        <key>sourceSize</key>
        <string>{89,80}</string>
      </dict>
      <key>hero_ani_11431_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{69,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,75}}</string>
        <key>sourceSize</key>
        <string>{69,75}</string>
      </dict>
      <key>hero_ani_11431_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,153},{79,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,69}}</string>
        <key>sourceSize</key>
        <string>{79,69}</string>
      </dict>
      <key>hero_ani_11431_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,290},{93,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,28}}</string>
        <key>sourceSize</key>
        <string>{93,28}</string>
      </dict>
      <key>hero_ani_11431_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,79},{20,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,59}}</string>
        <key>sourceSize</key>
        <string>{20,59}</string>
      </dict>
      <key>hero_ani_11431_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,83},{27,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,77}}</string>
        <key>sourceSize</key>
        <string>{27,77}</string>
      </dict>
      <key>hero_ani_11431_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,76},{83,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,75}}</string>
        <key>sourceSize</key>
        <string>{83,75}</string>
      </dict>
      <key>hero_ani_11431_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,219},{77,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,66}}</string>
        <key>sourceSize</key>
        <string>{77,66}</string>
      </dict>
      <key>hero_ani_11431_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,290},{83,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,53}}</string>
        <key>sourceSize</key>
        <string>{83,53}</string>
      </dict>
      <key>hero_ani_11431_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,287},{77,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,52}}</string>
        <key>sourceSize</key>
        <string>{77,52}</string>
      </dict>
      <key>hero_ani_11431_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,294},{58,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,36}}</string>
        <key>sourceSize</key>
        <string>{58,36}</string>
      </dict>
      <key>hero_ani_11431_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,0},{114,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,76}}</string>
        <key>sourceSize</key>
        <string>{114,76}</string>
      </dict>
      <key>hero_ani_11431_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{112,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,81}}</string>
        <key>sourceSize</key>
        <string>{112,81}</string>
      </dict>
      <key>hero_ani_11431_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,0},{93,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,77}}</string>
        <key>sourceSize</key>
        <string>{93,77}</string>
      </dict>
      <key>hero_ani_11431_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{47,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,60}}</string>
        <key>sourceSize</key>
        <string>{47,60}</string>
      </dict>
      <key>hero_ani_11431_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11431_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{87,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,74}}</string>
        <key>sourceSize</key>
        <string>{87,74}</string>
      </dict>
      <key>hero_ani_11431_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,79},{83,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,67}}</string>
        <key>sourceSize</key>
        <string>{83,67}</string>
      </dict>
      <key>hero_ani_11431_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,148},{79,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,69}}</string>
        <key>sourceSize</key>
        <string>{79,69}</string>
      </dict>
      <key>hero_ani_11431_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,82},{78,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,72}}</string>
        <key>sourceSize</key>
        <string>{78,72}</string>
      </dict>
      <key>hero_ani_11431_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,219},{79,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,69}}</string>
        <key>sourceSize</key>
        <string>{79,69}</string>
      </dict>
      <key>hero_ani_11431_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,227},{76,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,65}}</string>
        <key>sourceSize</key>
        <string>{76,65}</string>
      </dict>
      <key>hero_ani_11431_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,224},{83,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,64}}</string>
        <key>sourceSize</key>
        <string>{83,64}</string>
      </dict>
      <key>hero_ani_11431_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,290},{83,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,59}}</string>
        <key>sourceSize</key>
        <string>{83,59}</string>
      </dict>
      <key>hero_ani_11431_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,138},{71,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,79}}</string>
        <key>sourceSize</key>
        <string>{71,79}</string>
      </dict>
      <key>hero_ani_11431_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,83},{78,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,72}}</string>
        <key>sourceSize</key>
        <string>{78,72}</string>
      </dict>
      <key>hero_ani_11431_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,156},{79,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,69}}</string>
        <key>sourceSize</key>
        <string>{79,69}</string>
      </dict>
      <key>hero_ani_11431_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,219},{79,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,69}}</string>
        <key>sourceSize</key>
        <string>{79,69}</string>
      </dict>
      <key>hero_ani_11431_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,320},{69,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,18}}</string>
        <key>sourceSize</key>
        <string>{69,18}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11431.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11431.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>