<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_11025_96.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,365},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>hero_ani_11025_97.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,98},{23,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,123}}</string>
        <key>sourceSize</key>
        <string>{23,123}</string>
      </dict>
      <key>hero_ani_11025_98.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,196},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>hero_ani_11025_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,23},{139,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>hero_ani_11025_99.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,433},{93,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>hero_ani_11025_101.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{375,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,21}}</string>
        <key>sourceSize</key>
        <string>{375,21}</string>
      </dict>
      <key>hero_ani_11025_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,270},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11025_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,190},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero_ani_11025_201.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,260},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11025_560.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,114}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>hero_ani_11025_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,115},{10,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,19}}</string>
        <key>sourceSize</key>
        <string>{10,19}</string>
      </dict>
      <key>hero_ani_11025_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,417},{37,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,24}}</string>
        <key>sourceSize</key>
        <string>{37,24}</string>
      </dict>
      <key>hero_ani_11025_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,246},{57,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,56}}</string>
        <key>sourceSize</key>
        <string>{57,56}</string>
      </dict>
      <key>hero_ani_11025_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,336},{65,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,58}}</string>
        <key>sourceSize</key>
        <string>{65,58}</string>
      </dict>
      <key>hero_ani_11025_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,308},{66,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{66,60}</string>
      </dict>
      <key>hero_ani_11025_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,319},{66,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,59}}</string>
        <key>sourceSize</key>
        <string>{66,59}</string>
      </dict>
      <key>hero_ani_11025_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,289},{61,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,58}}</string>
        <key>sourceSize</key>
        <string>{61,58}</string>
      </dict>
      <key>hero_ani_11025_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,115},{21,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,94}}</string>
        <key>sourceSize</key>
        <string>{21,94}</string>
      </dict>
      <key>hero_ani_11025_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,494},{160,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,29}}</string>
        <key>sourceSize</key>
        <string>{160,29}</string>
      </dict>
      <key>hero_ani_11025_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,186},{90,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,62}}</string>
        <key>sourceSize</key>
        <string>{90,62}</string>
      </dict>
      <key>hero_ani_11025_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,190},{45,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,97}}</string>
        <key>sourceSize</key>
        <string>{45,97}</string>
      </dict>
      <key>hero_ani_11025_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{81,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,68}}</string>
        <key>sourceSize</key>
        <string>{81,68}</string>
      </dict>
      <key>hero_ani_11025_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,496},{143,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,26}}</string>
        <key>sourceSize</key>
        <string>{143,26}</string>
      </dict>
      <key>hero_ani_11025_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,115},{81,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,81}}</string>
        <key>sourceSize</key>
        <string>{81,81}</string>
      </dict>
      <key>hero_ani_11025_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,23},{91,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,90}}</string>
        <key>sourceSize</key>
        <string>{91,90}</string>
      </dict>
      <key>hero_ani_11025_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,98},{90,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,86}}</string>
        <key>sourceSize</key>
        <string>{90,86}</string>
      </dict>
      <key>hero_ani_11025_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,349},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>hero_ani_11025_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,113},{14,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,15}}</string>
        <key>sourceSize</key>
        <string>{14,15}</string>
      </dict>
      <key>hero_ani_11025_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,442},{146,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,52}}</string>
        <key>sourceSize</key>
        <string>{146,52}</string>
      </dict>
      <key>hero_ani_11025_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,443},{146,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,49}}</string>
        <key>sourceSize</key>
        <string>{146,49}</string>
      </dict>
      <key>hero_ani_11025_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,494},{144,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,49}}</string>
        <key>sourceSize</key>
        <string>{144,49}</string>
      </dict>
      <key>hero_ani_11025_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{138,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,56}}</string>
        <key>sourceSize</key>
        <string>{138,56}</string>
      </dict>
      <key>hero_ani_11025_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,23},{133,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,73}}</string>
        <key>sourceSize</key>
        <string>{133,73}</string>
      </dict>
      <key>hero_ani_11025_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,420},{39,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,20}}</string>
        <key>sourceSize</key>
        <string>{39,20}</string>
      </dict>
      <key>hero_ani_11025_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,250},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>hero_ani_11025_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,98},{15,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,15}}</string>
        <key>sourceSize</key>
        <string>{15,15}</string>
      </dict>
      <key>hero_ani_11025_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,116},{78,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,78}}</string>
        <key>sourceSize</key>
        <string>{78,78}</string>
      </dict>
      <key>hero_ani_11025_104.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,116},{28,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,72}}</string>
        <key>sourceSize</key>
        <string>{28,72}</string>
      </dict>
      <key>hero_ani_11025_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,198},{84,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,59}}</string>
        <key>sourceSize</key>
        <string>{84,59}</string>
      </dict>
      <key>hero_ani_11025_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,259},{86,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,47}}</string>
        <key>sourceSize</key>
        <string>{86,47}</string>
      </dict>
      <key>hero_ani_11025_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,250},{67,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,67}}</string>
        <key>sourceSize</key>
        <string>{67,67}</string>
      </dict>
      <key>hero_ani_11025_554.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,331},{48,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,49}}</string>
        <key>sourceSize</key>
        <string>{48,49}</string>
      </dict>
      <key>hero_ani_11025_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,307},{52,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,56}}</string>
        <key>sourceSize</key>
        <string>{52,56}</string>
      </dict>
      <key>hero_ani_11025_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,130},{20,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,6}}</string>
        <key>sourceSize</key>
        <string>{20,6}</string>
      </dict>
      <key>hero_ani_11025_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,380},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,38}}</string>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
      <key>hero_ani_11025_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,47},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11025_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,80},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>hero_ani_11025_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,304},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero_ani_11025_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,380},{35,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,38}}</string>
        <key>sourceSize</key>
        <string>{35,38}</string>
      </dict>
      <key>hero_ani_11025_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,0},{11,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,45}}</string>
        <key>sourceSize</key>
        <string>{11,45}</string>
      </dict>
      <key>hero_ani_11025_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,370},{33,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,45}}</string>
        <key>sourceSize</key>
        <string>{33,45}</string>
      </dict>
      <key>hero_ani_11025_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{4,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,41}}</string>
        <key>sourceSize</key>
        <string>{4,41}</string>
      </dict>
      <key>hero_ani_11025_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,370},{74,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,21}}</string>
        <key>sourceSize</key>
        <string>{74,21}</string>
      </dict>
      <key>hero_ani_11025_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{64,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,39}}</string>
        <key>sourceSize</key>
        <string>{64,39}</string>
      </dict>
      <key>hero_ani_11025_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,27},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>hero_ani_11025_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,23},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11025_106.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,23},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero_ani_11025_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,211},{29,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,38}}</string>
        <key>sourceSize</key>
        <string>{29,38}</string>
      </dict>
      <key>hero_ani_11025_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,291},{27,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,38}}</string>
        <key>sourceSize</key>
        <string>{27,38}</string>
      </dict>
      <key>hero_ani_11025_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,251},{27,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,38}}</string>
        <key>sourceSize</key>
        <string>{27,38}</string>
      </dict>
      <key>hero_ani_11025_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,410},{27,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,38}}</string>
        <key>sourceSize</key>
        <string>{27,38}</string>
      </dict>
      <key>hero_ani_11025_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,370},{37,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,38}}</string>
        <key>sourceSize</key>
        <string>{37,38}</string>
      </dict>
      <key>hero_ani_11025_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,396},{35,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,38}}</string>
        <key>sourceSize</key>
        <string>{35,38}</string>
      </dict>
      <key>hero_ani_11025_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,411},{27,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,38}}</string>
        <key>sourceSize</key>
        <string>{27,38}</string>
      </dict>
      <key>hero_ani_11025_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,399},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>hero_ani_11025_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,393},{35,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,38}}</string>
        <key>sourceSize</key>
        <string>{35,38}</string>
      </dict>
      <key>hero_ani_11025_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,399},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>hero_ani_11025_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,396},{35,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,38}}</string>
        <key>sourceSize</key>
        <string>{35,38}</string>
      </dict>
      <key>hero_ani_11025_199.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,367},{40,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,38}}</string>
        <key>sourceSize</key>
        <string>{40,38}</string>
      </dict>
      <key>hero_ani_11025_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,407},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>hero_ani_11025_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,382},{35,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,38}}</string>
        <key>sourceSize</key>
        <string>{35,38}</string>
      </dict>
      <key>hero_ani_11025_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,393},{35,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,38}}</string>
        <key>sourceSize</key>
        <string>{35,38}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_11025.png</string>
      <key>textureFileName</key>
      <string>hero_ani_11025.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>