<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_20054_02_399.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20054_02_299.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,68},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20054_02_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20054_02_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20054_02_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{34,136},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{238,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>npc_ani_20054_02_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,68},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,110},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{170,68},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,0},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,110},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,136},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,42},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,68},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,84},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{102,110},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{170,110},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_699.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,126},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>npc_ani_20054_02_599.png</key>
   <dict>
    <key>frame</key>
    <string>{{102,68},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_20054_02.png</string>
   <key>textureFileName</key>
   <string>npc_ani_20054_02.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>