<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_20047_02__9.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,144},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20047_02__21.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,0},{80,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,76}}</string>
    <key>sourceSize</key>
    <string>{80,76}</string>
   </dict>
   <key>npc_ani_20047_02__20.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{80,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,76}}</string>
    <key>sourceSize</key>
    <string>{80,76}</string>
   </dict>
   <key>npc_ani_20047_02__19.png</key>
   <dict>
    <key>frame</key>
    <string>{{164,0},{80,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,76}}</string>
    <key>sourceSize</key>
    <string>{80,76}</string>
   </dict>
   <key>npc_ani_20047_02_1__25.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,78},{22,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,52}}</string>
    <key>sourceSize</key>
    <string>{22,52}</string>
   </dict>
   <key>npc_ani_20047_02__14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,144},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20047_02__13.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,210},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20047_02__10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,78},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20047_02__11.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,276},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20047_02__12.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,78},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20047_02__18.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,78},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20047_02__17.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,144},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20047_02__8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,210},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20047_02__7.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,210},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20047_02__6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,276},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_20047_02_1.png</string>
   <key>textureFileName</key>
   <string>npc_ani_20047_02_1.png</string>
   <key>size</key>
   <string>{256,512}</string>
  </dict>
 </dict>
</plist>