<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_20057_02_311.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20057_02_211.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,68},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20057_02_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20057_02_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20057_02_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,68},{35,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,32}}</string>
    <key>sourceSize</key>
    <string>{35,32}</string>
   </dict>
   <key>npc_ani_20057_02_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,0},{46,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,42}}</string>
    <key>sourceSize</key>
    <string>{46,42}</string>
   </dict>
   <key>npc_ani_20057_02_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>npc_ani_20057_02_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,136},{31,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,32}}</string>
    <key>sourceSize</key>
    <string>{31,32}</string>
   </dict>
   <key>npc_ani_20057_02_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{208,112},{31,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,32}}</string>
    <key>sourceSize</key>
    <string>{31,32}</string>
   </dict>
   <key>npc_ani_20057_02_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,112},{31,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,32}}</string>
    <key>sourceSize</key>
    <string>{31,32}</string>
   </dict>
   <key>npc_ani_20057_02_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,44},{35,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,32}}</string>
    <key>sourceSize</key>
    <string>{35,32}</string>
   </dict>
   <key>npc_ani_20057_02_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,136},{31,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,32}}</string>
    <key>sourceSize</key>
    <string>{31,32}</string>
   </dict>
   <key>npc_ani_20057_02_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,78},{35,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,32}}</string>
    <key>sourceSize</key>
    <string>{35,32}</string>
   </dict>
   <key>npc_ani_20057_02_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,102},{31,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,32}}</string>
    <key>sourceSize</key>
    <string>{31,32}</string>
   </dict>
   <key>npc_ani_20057_02_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,102},{35,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,32}}</string>
    <key>sourceSize</key>
    <string>{35,32}</string>
   </dict>
   <key>npc_ani_20057_02_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,136},{31,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,32}}</string>
    <key>sourceSize</key>
    <string>{31,32}</string>
   </dict>
   <key>npc_ani_20057_02_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{179,78},{35,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,32}}</string>
    <key>sourceSize</key>
    <string>{35,32}</string>
   </dict>
   <key>npc_ani_20057_02_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,68},{35,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,32}}</string>
    <key>sourceSize</key>
    <string>{35,32}</string>
   </dict>
   <key>npc_ani_20057_02_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,102},{35,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,32}}</string>
    <key>sourceSize</key>
    <string>{35,32}</string>
   </dict>
   <key>npc_ani_20057_02_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{33,136},{31,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,32}}</string>
    <key>sourceSize</key>
    <string>{31,32}</string>
   </dict>
   <key>npc_ani_20057_02_511.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,68},{35,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,32}}</string>
    <key>sourceSize</key>
    <string>{35,32}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_20057_02.png</string>
   <key>textureFileName</key>
   <string>npc_ani_20057_02.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>