<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_29014_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{345,338},{43,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,40}}</string>
    <key>sourceSize</key>
    <string>{43,40}</string>
   </dict>
   <key>npc_ani_29014_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,342},{43,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,40}}</string>
    <key>sourceSize</key>
    <string>{43,40}</string>
   </dict>
   <key>npc_ani_29014_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{45,342},{43,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,40}}</string>
    <key>sourceSize</key>
    <string>{43,40}</string>
   </dict>
   <key>npc_ani_29014_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,210},{22,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,20}}</string>
    <key>sourceSize</key>
    <string>{22,20}</string>
   </dict>
   <key>npc_ani_29014_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{463,115},{43,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,40}}</string>
    <key>sourceSize</key>
    <string>{43,40}</string>
   </dict>
   <key>npc_ani_29014_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,0},{92,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,103}}</string>
    <key>sourceSize</key>
    <string>{92,103}</string>
   </dict>
   <key>npc_ani_29014_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{282,0},{92,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,103}}</string>
    <key>sourceSize</key>
    <string>{92,103}</string>
   </dict>
   <key>npc_ani_29014_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,105},{92,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,103}}</string>
    <key>sourceSize</key>
    <string>{92,103}</string>
   </dict>
   <key>npc_ani_29014_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{94,105},{92,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,103}}</string>
    <key>sourceSize</key>
    <string>{92,103}</string>
   </dict>
   <key>npc_ani_29014_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{222,210},{55,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,68}}</string>
    <key>sourceSize</key>
    <string>{55,68}</string>
   </dict>
   <key>npc_ani_29014_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,105},{92,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,103}}</string>
    <key>sourceSize</key>
    <string>{92,103}</string>
   </dict>
   <key>npc_ani_29014_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{282,105},{92,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,103}}</string>
    <key>sourceSize</key>
    <string>{92,103}</string>
   </dict>
   <key>npc_ani_29014_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{92,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,103}}</string>
    <key>sourceSize</key>
    <string>{92,103}</string>
   </dict>
   <key>npc_ani_29014_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{94,0},{92,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,103}}</string>
    <key>sourceSize</key>
    <string>{92,103}</string>
   </dict>
   <key>npc_ani_29014_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,0},{92,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,103}}</string>
    <key>sourceSize</key>
    <string>{92,103}</string>
   </dict>
   <key>npc_ani_29014_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,342},{40,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,29}}</string>
    <key>sourceSize</key>
    <string>{40,29}</string>
   </dict>
   <key>npc_ani_29014_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{345,303},{55,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,33}}</string>
    <key>sourceSize</key>
    <string>{55,33}</string>
   </dict>
   <key>npc_ani_29014_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,289},{61,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,64}}</string>
    <key>sourceSize</key>
    <string>{61,64}</string>
   </dict>
   <key>npc_ani_29014_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,40},{36,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,35}}</string>
    <key>sourceSize</key>
    <string>{36,35}</string>
   </dict>
   <key>npc_ani_29014_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,77},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>npc_ani_29014_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{474,289},{31,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,33}}</string>
    <key>sourceSize</key>
    <string>{31,33}</string>
   </dict>
   <key>npc_ani_29014_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,0},{34,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,38}}</string>
    <key>sourceSize</key>
    <string>{34,38}</string>
   </dict>
   <key>npc_ani_29014_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,105},{19,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,32}}</string>
    <key>sourceSize</key>
    <string>{19,32}</string>
   </dict>
   <key>npc_ani_29014_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{506,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>npc_ani_29014_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,171},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,276},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,276},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{279,210},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,210},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,210},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,210},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,105},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,157},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{279,276},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,276},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{345,237},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,223},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_29014_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,280},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_29014.png</string>
   <key>textureFileName</key>
   <string>npc_ani_29014.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>