<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_20051_02_322.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20051_02_2222.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,68},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20051_02_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20051_02_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20051_02_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{72,156},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_2322.png</key>
   <dict>
    <key>frame</key>
    <string>{{244,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>npc_ani_20051_02_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,68},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,136},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,88},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,156},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,112},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,0},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{176,132},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,44},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,68},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,68},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,112},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{140,112},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_6222.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,132},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>npc_ani_20051_02_5222.png</key>
   <dict>
    <key>frame</key>
    <string>{{36,156},{34,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,42}}</string>
    <key>sourceSize</key>
    <string>{34,42}</string>
   </dict>
   <key>path_20051_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>npc_ani_20051_02_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,68},{16,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,16}}</string>
    <key>sourceSize</key>
    <string>{16,16}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_20051_02.png</string>
   <key>textureFileName</key>
   <string>npc_ani_20051_02.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>