<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_20001_02_1113.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,129},{30,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,33}}</string>
    <key>sourceSize</key>
    <string>{30,33}</string>
   </dict>
   <key>npc_ani_20001_02_399.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,68},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20001_02_299.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20001_02_200.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20001_02_300.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20001_02_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,162},{28,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,34}}</string>
    <key>sourceSize</key>
    <string>{28,34}</string>
   </dict>
   <key>npc_ani_20001_02_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{128,68},{58,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,55}}</string>
    <key>sourceSize</key>
    <string>{58,55}</string>
   </dict>
   <key>npc_ani_20001_02_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,72},{58,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,55}}</string>
    <key>sourceSize</key>
    <string>{58,55}</string>
   </dict>
   <key>npc_ani_20001_02_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,68},{58,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,55}}</string>
    <key>sourceSize</key>
    <string>{58,55}</string>
   </dict>
   <key>npc_ani_20001_02_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{236,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>npc_ani_20001_02_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{161,129},{29,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,35}}</string>
    <key>sourceSize</key>
    <string>{29,35}</string>
   </dict>
   <key>npc_ani_20001_02_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,125},{29,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,35}}</string>
    <key>sourceSize</key>
    <string>{29,35}</string>
   </dict>
   <key>npc_ani_20001_02_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,125},{29,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,35}}</string>
    <key>sourceSize</key>
    <string>{29,35}</string>
   </dict>
   <key>npc_ani_20001_02_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{130,125},{29,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,35}}</string>
    <key>sourceSize</key>
    <string>{29,35}</string>
   </dict>
   <key>npc_ani_20001_02_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{30,136},{28,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,35}}</string>
    <key>sourceSize</key>
    <string>{28,35}</string>
   </dict>
   <key>npc_ani_20001_02_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,36},{30,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,34}}</string>
    <key>sourceSize</key>
    <string>{30,34}</string>
   </dict>
   <key>npc_ani_20001_02_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,136},{28,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,35}}</string>
    <key>sourceSize</key>
    <string>{28,35}</string>
   </dict>
   <key>npc_ani_20001_02_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,129},{30,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,33}}</string>
    <key>sourceSize</key>
    <string>{30,33}</string>
   </dict>
   <key>npc_ani_20001_02_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,164},{28,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,34}}</string>
    <key>sourceSize</key>
    <string>{28,34}</string>
   </dict>
   <key>npc_ani_20001_02_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,0},{30,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,34}}</string>
    <key>sourceSize</key>
    <string>{30,34}</string>
   </dict>
   <key>npc_ani_20001_02_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{60,162},{28,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,35}}</string>
    <key>sourceSize</key>
    <string>{28,35}</string>
   </dict>
   <key>npc_ani_20001_02_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{120,162},{28,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,34}}</string>
    <key>sourceSize</key>
    <string>{28,34}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_20001_02.png</string>
   <key>textureFileName</key>
   <string>npc_ani_20001_02.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>