<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_20023_02_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,0},{16,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,28}}</string>
        <key>sourceSize</key>
        <string>{16,28}</string>
      </dict>
      <key>npc_ani_20023_02_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{17,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,33}}</string>
        <key>sourceSize</key>
        <string>{17,33}</string>
      </dict>
      <key>npc_ani_20023_02_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,45},{11,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,9}}</string>
        <key>sourceSize</key>
        <string>{11,9}</string>
      </dict>
      <key>npc_ani_20023_02_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,35},{17,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,7}}</string>
        <key>sourceSize</key>
        <string>{17,7}</string>
      </dict>
      <key>npc_ani_20023_02_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,36},{8,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,7}}</string>
        <key>sourceSize</key>
        <string>{8,7}</string>
      </dict>
      <key>npc_ani_20023_02_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,0},{37,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,16}}</string>
        <key>sourceSize</key>
        <string>{37,16}</string>
      </dict>
      <key>npc_ani_20023_02_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,38},{12,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,11}}</string>
        <key>sourceSize</key>
        <string>{12,11}</string>
      </dict>
      <key>npc_ani_20023_02_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{31,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,25}}</string>
        <key>sourceSize</key>
        <string>{31,25}</string>
      </dict>
      <key>npc_ani_20023_02_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,26},{15,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,10}}</string>
        <key>sourceSize</key>
        <string>{15,10}</string>
      </dict>
      <key>npc_ani_20023_02_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,18},{11,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,16}}</string>
        <key>sourceSize</key>
        <string>{11,16}</string>
      </dict>
      <key>npc_ani_20023_02_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,49},{9,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,9}}</string>
        <key>sourceSize</key>
        <string>{9,9}</string>
      </dict>
      <key>npc_ani_20023_02_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,27},{21,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,17}}</string>
        <key>sourceSize</key>
        <string>{21,17}</string>
      </dict>
      <key>npc_ani_20023_02_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,18},{20,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,19}}</string>
        <key>sourceSize</key>
        <string>{20,19}</string>
      </dict>
      <key>npc_ani_20023_02_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,39},{13,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,8}}</string>
        <key>sourceSize</key>
        <string>{13,8}</string>
      </dict>
      <key>npc_ani_20023_02_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,27},{8,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,7}}</string>
        <key>sourceSize</key>
        <string>{8,7}</string>
      </dict>
      <key>npc_ani_20023_02_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,44},{12,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,8}}</string>
        <key>sourceSize</key>
        <string>{12,8}</string>
      </dict>
      <key>npc_ani_20023_02_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,36},{10,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,11}}</string>
        <key>sourceSize</key>
        <string>{10,11}</string>
      </dict>
      <key>npc_ani_20023_02_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,45},{9,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,10}}</string>
        <key>sourceSize</key>
        <string>{9,10}</string>
      </dict>
      <key>npc_ani_20023_02_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,0},{17,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,12}}</string>
        <key>sourceSize</key>
        <string>{17,12}</string>
      </dict>
      <key>npc_ani_20023_02_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,49},{9,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,7}}</string>
        <key>sourceSize</key>
        <string>{9,7}</string>
      </dict>
      <key>npc_ani_20023_02_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,14},{17,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,10}}</string>
        <key>sourceSize</key>
        <string>{17,10}</string>
      </dict>
      <key>npc_ani_20023_02_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,49},{9,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,9}}</string>
        <key>sourceSize</key>
        <string>{9,9}</string>
      </dict>
      <key>npc_ani_20023_02_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,30},{12,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,13}}</string>
        <key>sourceSize</key>
        <string>{12,13}</string>
      </dict>
      <key>npc_ani_20023_02_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,46},{26,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,11}}</string>
        <key>sourceSize</key>
        <string>{26,11}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_20001_02.png</string>
      <key>textureFileName</key>
      <string>npc_ani_20001_02.png</string>
      <key>size</key>
      <string>{128,64}</string>
    </dict>
  </dict>
</plist>