<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_20026__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20026__35.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,138},{22,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,52}}</string>
        <key>sourceSize</key>
        <string>{22,52}</string>
      </dict>
      <key>npc_ani_20026__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20026__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20026__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,198},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20026__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20026__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,198},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20026__29.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20026__28.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20026__27.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20026__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20026__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20026__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20026__34.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{53,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,48}}</string>
        <key>sourceSize</key>
        <string>{53,48}</string>
      </dict>
      <key>npc_ani_20026__33.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,50},{47,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,46}}</string>
        <key>sourceSize</key>
        <string>{47,46}</string>
      </dict>
      <key>npc_ani_20026__32.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,192},{36,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,37}}</string>
        <key>sourceSize</key>
        <string>{36,37}</string>
      </dict>
      <key>npc_ani_20026__31.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,98},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,38}}</string>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_20026.png</string>
      <key>textureFileName</key>
      <string>npc_ani_20026.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>