<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_18009_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,311},{112,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,106}}</string>
        <key>sourceSize</key>
        <string>{112,106}</string>
      </dict>
      <key>npc_ani_18009_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,268},{128,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,92}}</string>
        <key>sourceSize</key>
        <string>{128,92}</string>
      </dict>
      <key>npc_ani_18009_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,186},{116,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,123}}</string>
        <key>sourceSize</key>
        <string>{116,123}</string>
      </dict>
      <key>npc_ani_18009_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,335},{108,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,99}}</string>
        <key>sourceSize</key>
        <string>{108,99}</string>
      </dict>
      <key>npc_ani_18009_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,356},{100,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,99}}</string>
        <key>sourceSize</key>
        <string>{100,99}</string>
      </dict>
      <key>npc_ani_18009_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,356},{77,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,69}}</string>
        <key>sourceSize</key>
        <string>{77,69}</string>
      </dict>
      <key>npc_ani_18009_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,298},{64,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,78}}</string>
        <key>sourceSize</key>
        <string>{64,78}</string>
      </dict>
      <key>npc_ani_18009_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,362},{64,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,47}}</string>
        <key>sourceSize</key>
        <string>{64,47}</string>
      </dict>
      <key>npc_ani_18009_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,269},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>npc_ani_18009_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,378},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>npc_ani_18009_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,356},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>npc_ani_18009_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,321},{48,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,58}}</string>
        <key>sourceSize</key>
        <string>{48,58}</string>
      </dict>
      <key>npc_ani_18009_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,362},{60,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,58}}</string>
        <key>sourceSize</key>
        <string>{60,58}</string>
      </dict>
      <key>npc_ani_18009_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,0},{58,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,153}}</string>
        <key>sourceSize</key>
        <string>{58,153}</string>
      </dict>
      <key>npc_ani_18009_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,184},{58,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,129}}</string>
        <key>sourceSize</key>
        <string>{58,129}</string>
      </dict>
      <key>npc_ani_18009_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,186},{37,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,129}}</string>
        <key>sourceSize</key>
        <string>{37,129}</string>
      </dict>
      <key>npc_ani_18009_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,186},{36,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,126}}</string>
        <key>sourceSize</key>
        <string>{36,126}</string>
      </dict>
      <key>npc_ani_18009_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,186},{37,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,133}}</string>
        <key>sourceSize</key>
        <string>{37,133}</string>
      </dict>
      <key>npc_ani_18009_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,268},{37,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,108}}</string>
        <key>sourceSize</key>
        <string>{37,108}</string>
      </dict>
      <key>npc_ani_18009_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,186},{34,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,40}}</string>
        <key>sourceSize</key>
        <string>{34,40}</string>
      </dict>
      <key>npc_ani_18009_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,184},{100,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,170}}</string>
        <key>sourceSize</key>
        <string>{100,170}</string>
      </dict>
      <key>npc_ani_18009_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,0},{176,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,182}}</string>
        <key>sourceSize</key>
        <string>{176,182}</string>
      </dict>
      <key>npc_ani_18009_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,0},{186,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,184}}</string>
        <key>sourceSize</key>
        <string>{186,184}</string>
      </dict>
      <key>npc_ani_18009_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,0},{176,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,182}}</string>
        <key>sourceSize</key>
        <string>{176,182}</string>
      </dict>
      <key>npc_ani_18009_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,184},{164,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,170}}</string>
        <key>sourceSize</key>
        <string>{164,170}</string>
      </dict>
      <key>npc_ani_18009_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{268,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,184}}</string>
        <key>sourceSize</key>
        <string>{268,184}</string>
      </dict>
      <key>npc_ani_18009_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{135,333}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,333}}</string>
        <key>sourceSize</key>
        <string>{135,333}</string>
      </dict>
      <key>npc_ani_18009_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,155},{54,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,141}}</string>
        <key>sourceSize</key>
        <string>{54,141}</string>
      </dict>
      <key>npc_ani_18009_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,186},{186,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,80}}</string>
        <key>sourceSize</key>
        <string>{186,80}</string>
      </dict>
      <key>npc_ani_18009_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,443},{276,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,60}}</string>
        <key>sourceSize</key>
        <string>{276,60}</string>
      </dict>
      <key>npc_ani_18009_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,314},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>npc_ani_18009_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,315},{48,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,60}}</string>
        <key>sourceSize</key>
        <string>{48,60}</string>
      </dict>
      <key>npc_ani_18009_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,335},{20,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,21}}</string>
        <key>sourceSize</key>
        <string>{20,21}</string>
      </dict>
      <key>npc_ani_18009_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,268},{17,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,20}}</string>
        <key>sourceSize</key>
        <string>{17,20}</string>
      </dict>
      <key>npc_ani_18009_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,295},{22,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,23}}</string>
        <key>sourceSize</key>
        <string>{22,23}</string>
      </dict>
      <key>npc_ani_18009_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{1011,0},{10,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,31}}</string>
        <key>sourceSize</key>
        <string>{10,31}</string>
      </dict>
      <key>npc_ani_18009_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,361},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,320},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,366},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,356},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,377},{48,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,47}}</string>
        <key>sourceSize</key>
        <string>{48,47}</string>
      </dict>
      <key>npc_ani_18009_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,381},{51,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,49}}</string>
        <key>sourceSize</key>
        <string>{51,49}</string>
      </dict>
      <key>npc_ani_18009_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,399},{50,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,46}}</string>
        <key>sourceSize</key>
        <string>{50,46}</string>
      </dict>
      <key>npc_ani_18009_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{1011,33},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>npc_ani_18009_961.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,33},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>npc_ani_18009_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,402},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,397},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,305},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,378},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,317},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,346},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,358},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,362},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,387},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,221},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
      <key>npc_ani_18009_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,258},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
      <key>npc_ani_18009_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,184},{24,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,35}}</string>
        <key>sourceSize</key>
        <string>{24,35}</string>
      </dict>
      <key>npc_ani_18009_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,228},{30,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,39}}</string>
        <key>sourceSize</key>
        <string>{30,39}</string>
      </dict>
      <key>npc_ani_18009_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,411},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,403},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
      <key>npc_ani_18009_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,407},{27,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_18009.png</string>
      <key>textureFileName</key>
      <string>npc_ani_18009.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>