<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_20035_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,98},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>npc_ani_20035_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{127,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,91}}</string>
        <key>sourceSize</key>
        <string>{127,91}</string>
      </dict>
      <key>npc_ani_20035_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{127,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,91}}</string>
        <key>sourceSize</key>
        <string>{127,91}</string>
      </dict>
      <key>npc_ani_20035_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,93},{127,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,91}}</string>
        <key>sourceSize</key>
        <string>{127,91}</string>
      </dict>
      <key>npc_ani_20035_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>npc_ani_20035_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,38},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>npc_ani_20035_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,76},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>npc_ani_20035_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>npc_ani_20035_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,114},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>npc_ani_20035_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,152},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>npc_ani_20035_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,49},{62,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,47}}</string>
        <key>sourceSize</key>
        <string>{62,47}</string>
      </dict>
      <key>npc_ani_20035_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{62,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,47}}</string>
        <key>sourceSize</key>
        <string>{62,47}</string>
      </dict>
      <key>npc_ani_20035_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,114},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>npc_ani_20035_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,136},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>npc_ani_20035_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,152},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_20035.png</string>
      <key>textureFileName</key>
      <string>npc_ani_20035.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>