<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_20023_03_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,0},{16,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,28}}</string>
        <key>sourceSize</key>
        <string>{16,28}</string>
      </dict>
      <key>npc_ani_20023_03_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,0},{17,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,33}}</string>
        <key>sourceSize</key>
        <string>{17,33}</string>
      </dict>
      <key>npc_ani_20023_03_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,26},{15,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,10}}</string>
        <key>sourceSize</key>
        <string>{15,10}</string>
      </dict>
      <key>npc_ani_20023_03_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,44},{9,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,11}}</string>
        <key>sourceSize</key>
        <string>{9,11}</string>
      </dict>
      <key>npc_ani_20023_03_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,35},{17,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,7}}</string>
        <key>sourceSize</key>
        <string>{17,7}</string>
      </dict>
      <key>npc_ani_20023_03_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,38},{10,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,11}}</string>
        <key>sourceSize</key>
        <string>{10,11}</string>
      </dict>
      <key>npc_ani_20023_03_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,47},{9,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,8}}</string>
        <key>sourceSize</key>
        <string>{9,8}</string>
      </dict>
      <key>npc_ani_20023_03_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{31,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,25}}</string>
        <key>sourceSize</key>
        <string>{31,25}</string>
      </dict>
      <key>npc_ani_20023_03_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{11,46},{10,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,8}}</string>
        <key>sourceSize</key>
        <string>{10,8}</string>
      </dict>
      <key>npc_ani_20023_03_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,41},{11,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,9}}</string>
        <key>sourceSize</key>
        <string>{11,9}</string>
      </dict>
      <key>npc_ani_20023_03_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,0},{36,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,17}}</string>
        <key>sourceSize</key>
        <string>{36,17}</string>
      </dict>
      <key>npc_ani_20023_03_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,27},{21,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,17}}</string>
        <key>sourceSize</key>
        <string>{21,17}</string>
      </dict>
      <key>npc_ani_20023_03_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,19},{20,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,19}}</string>
        <key>sourceSize</key>
        <string>{20,19}</string>
      </dict>
      <key>npc_ani_20023_03_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,30},{14,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,9}}</string>
        <key>sourceSize</key>
        <string>{14,9}</string>
      </dict>
      <key>npc_ani_20023_03_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,40},{12,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,8}}</string>
        <key>sourceSize</key>
        <string>{12,8}</string>
      </dict>
      <key>npc_ani_20023_03_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,38},{8,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,7}}</string>
        <key>sourceSize</key>
        <string>{8,7}</string>
      </dict>
      <key>npc_ani_20023_03_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,34},{10,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,11}}</string>
        <key>sourceSize</key>
        <string>{10,11}</string>
      </dict>
      <key>npc_ani_20023_03_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,46},{9,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,10}}</string>
        <key>sourceSize</key>
        <string>{9,10}</string>
      </dict>
      <key>npc_ani_20023_03_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,0},{17,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,12}}</string>
        <key>sourceSize</key>
        <string>{17,12}</string>
      </dict>
      <key>npc_ani_20023_03_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,50},{9,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,7}}</string>
        <key>sourceSize</key>
        <string>{9,7}</string>
      </dict>
      <key>npc_ani_20023_03_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,38},{8,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,7}}</string>
        <key>sourceSize</key>
        <string>{8,7}</string>
      </dict>
      <key>npc_ani_20023_03_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,14},{17,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,10}}</string>
        <key>sourceSize</key>
        <string>{17,10}</string>
      </dict>
      <key>npc_ani_20023_03_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,27},{8,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,9}}</string>
        <key>sourceSize</key>
        <string>{8,9}</string>
      </dict>
      <key>npc_ani_20023_03_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,19},{12,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,13}}</string>
        <key>sourceSize</key>
        <string>{12,13}</string>
      </dict>
      <key>npc_ani_20023_03_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,51},{26,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,11}}</string>
        <key>sourceSize</key>
        <string>{26,11}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_20001_03.png</string>
      <key>textureFileName</key>
      <string>npc_ani_20001_03.png</string>
      <key>size</key>
      <string>{128,64}</string>
    </dict>
  </dict>
</plist>