<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_10000_112.png</key>
   <dict>
    <key>frame</key>
    <string>{{172,432},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>npc_ani_10000_132.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,0},{25,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,79}}</string>
    <key>sourceSize</key>
    <string>{25,79}</string>
   </dict>
   <key>npc_ani_10000_201.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,501},{47,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,52}}</string>
    <key>sourceSize</key>
    <string>{47,52}</string>
   </dict>
   <key>npc_ani_10000_200.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,498},{47,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,52}}</string>
    <key>sourceSize</key>
    <string>{47,52}</string>
   </dict>
   <key>npc_ani_10000_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,479},{47,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,52}}</string>
    <key>sourceSize</key>
    <string>{47,52}</string>
   </dict>
   <key>npc_ani_10000_198.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,478},{47,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,52}}</string>
    <key>sourceSize</key>
    <string>{47,52}</string>
   </dict>
   <key>npc_ani_10000_191.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,20},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>npc_ani_10000_178.png</key>
   <dict>
    <key>frame</key>
    <string>{{222,308},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,60}}</string>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>npc_ani_10000_177.png</key>
   <dict>
    <key>frame</key>
    <string>{{42,539},{50,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,47}}</string>
    <key>sourceSize</key>
    <string>{50,47}</string>
   </dict>
   <key>npc_ani_10000_176.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,532},{50,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,47}}</string>
    <key>sourceSize</key>
    <string>{50,47}</string>
   </dict>
   <key>npc_ani_10000_175.png</key>
   <dict>
    <key>frame</key>
    <string>{{207,504},{50,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,47}}</string>
    <key>sourceSize</key>
    <string>{50,47}</string>
   </dict>
   <key>npc_ani_10000_174.png</key>
   <dict>
    <key>frame</key>
    <string>{{94,552},{50,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,47}}</string>
    <key>sourceSize</key>
    <string>{50,47}</string>
   </dict>
   <key>npc_ani_10000_173.png</key>
   <dict>
    <key>frame</key>
    <string>{{98,503},{50,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,47}}</string>
    <key>sourceSize</key>
    <string>{50,47}</string>
   </dict>
   <key>npc_ani_10000_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,412},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,65}}</string>
    <key>sourceSize</key>
    <string>{49,65}</string>
   </dict>
   <key>npc_ani_10000_163.png</key>
   <dict>
    <key>frame</key>
    <string>{{121,322},{62,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,52}}</string>
    <key>sourceSize</key>
    <string>{62,52}</string>
   </dict>
   <key>npc_ani_10000_162.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,289},{68,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,54}}</string>
    <key>sourceSize</key>
    <string>{68,54}</string>
   </dict>
   <key>npc_ani_10000_161.png</key>
   <dict>
    <key>frame</key>
    <string>{{237,88},{76,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,56}}</string>
    <key>sourceSize</key>
    <string>{76,56}</string>
   </dict>
   <key>npc_ani_10000_160.png</key>
   <dict>
    <key>frame</key>
    <string>{{393,80},{78,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,56}}</string>
    <key>sourceSize</key>
    <string>{78,56}</string>
   </dict>
   <key>npc_ani_10000_159.png</key>
   <dict>
    <key>frame</key>
    <string>{{381,138},{84,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,62}}</string>
    <key>sourceSize</key>
    <string>{84,62}</string>
   </dict>
   <key>npc_ani_10000_158.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,202},{84,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,58}}</string>
    <key>sourceSize</key>
    <string>{84,58}</string>
   </dict>
   <key>npc_ani_10000_190.png</key>
   <dict>
    <key>frame</key>
    <string>{{398,512},{40,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,29}}</string>
    <key>sourceSize</key>
    <string>{40,29}</string>
   </dict>
   <key>npc_ani_10000_189.png</key>
   <dict>
    <key>frame</key>
    <string>{{49,508},{40,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,29}}</string>
    <key>sourceSize</key>
    <string>{40,29}</string>
   </dict>
   <key>npc_ani_10000_188.png</key>
   <dict>
    <key>frame</key>
    <string>{{402,481},{40,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,29}}</string>
    <key>sourceSize</key>
    <string>{40,29}</string>
   </dict>
   <key>npc_ani_10000_144.png</key>
   <dict>
    <key>frame</key>
    <string>{{434,555},{71,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,29}}</string>
    <key>sourceSize</key>
    <string>{71,29}</string>
   </dict>
   <key>npc_ani_10000_143.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,528},{76,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,29}}</string>
    <key>sourceSize</key>
    <string>{76,29}</string>
   </dict>
   <key>npc_ani_10000_142.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,496},{78,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,30}}</string>
    <key>sourceSize</key>
    <string>{78,30}</string>
   </dict>
   <key>npc_ani_10000_141.png</key>
   <dict>
    <key>frame</key>
    <string>{{314,580},{68,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,26}}</string>
    <key>sourceSize</key>
    <string>{68,26}</string>
   </dict>
   <key>npc_ani_10000_140.png</key>
   <dict>
    <key>frame</key>
    <string>{{243,559},{69,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,27}}</string>
    <key>sourceSize</key>
    <string>{69,27}</string>
   </dict>
   <key>npc_ani_10000_139.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,553},{39,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,11}}</string>
    <key>sourceSize</key>
    <string>{39,11}</string>
   </dict>
   <key>npc_ani_10000_157.png</key>
   <dict>
    <key>frame</key>
    <string>{{320,404},{29,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,32}}</string>
    <key>sourceSize</key>
    <string>{29,32}</string>
   </dict>
   <key>npc_ani_10000_156.png</key>
   <dict>
    <key>frame</key>
    <string>{{96,195},{32,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,58}}</string>
    <key>sourceSize</key>
    <string>{32,58}</string>
   </dict>
   <key>npc_ani_10000_155.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,81},{32,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,58}}</string>
    <key>sourceSize</key>
    <string>{32,58}</string>
   </dict>
   <key>npc_ani_10000_154.png</key>
   <dict>
    <key>frame</key>
    <string>{{467,195},{32,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,58}}</string>
    <key>sourceSize</key>
    <string>{32,58}</string>
   </dict>
   <key>npc_ani_10000_153.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,255},{31,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,58}}</string>
    <key>sourceSize</key>
    <string>{31,58}</string>
   </dict>
   <key>npc_ani_10000_152.png</key>
   <dict>
    <key>frame</key>
    <string>{{185,329},{31,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,53}}</string>
    <key>sourceSize</key>
    <string>{31,53}</string>
   </dict>
   <key>npc_ani_10000_151.png</key>
   <dict>
    <key>frame</key>
    <string>{{100,150},{28,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,43}}</string>
    <key>sourceSize</key>
    <string>{28,43}</string>
   </dict>
   <key>npc_ani_10000_138.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,533},{40,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,22}}</string>
    <key>sourceSize</key>
    <string>{40,22}</string>
   </dict>
   <key>npc_ani_10000_137.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,146},{80,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,54}}</string>
    <key>sourceSize</key>
    <string>{80,54}</string>
   </dict>
   <key>npc_ani_10000_136.png</key>
   <dict>
    <key>frame</key>
    <string>{{230,202},{76,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,54}}</string>
    <key>sourceSize</key>
    <string>{76,54}</string>
   </dict>
   <key>npc_ani_10000_135.png</key>
   <dict>
    <key>frame</key>
    <string>{{123,270},{72,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,50}}</string>
    <key>sourceSize</key>
    <string>{72,50}</string>
   </dict>
   <key>npc_ani_10000_134.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,453},{64,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,46}}</string>
    <key>sourceSize</key>
    <string>{64,46}</string>
   </dict>
   <key>npc_ani_10000_133.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,312},{68,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,50}}</string>
    <key>sourceSize</key>
    <string>{68,50}</string>
   </dict>
   <key>npc_ani_10000_172.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,322},{52,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,62}}</string>
    <key>sourceSize</key>
    <string>{52,62}</string>
   </dict>
   <key>npc_ani_10000_171.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,234},{54,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,68}}</string>
    <key>sourceSize</key>
    <string>{54,68}</string>
   </dict>
   <key>npc_ani_10000_170.png</key>
   <dict>
    <key>frame</key>
    <string>{{314,160},{58,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,72}}</string>
    <key>sourceSize</key>
    <string>{58,72}</string>
   </dict>
   <key>npc_ani_10000_169.png</key>
   <dict>
    <key>frame</key>
    <string>{{317,86},{62,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,72}}</string>
    <key>sourceSize</key>
    <string>{62,72}</string>
   </dict>
   <key>npc_ani_10000_168.png</key>
   <dict>
    <key>frame</key>
    <string>{{317,0},{74,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,84}}</string>
    <key>sourceSize</key>
    <string>{74,84}</string>
   </dict>
   <key>npc_ani_10000_167.png</key>
   <dict>
    <key>frame</key>
    <string>{{237,0},{78,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,86}}</string>
    <key>sourceSize</key>
    <string>{78,86}</string>
   </dict>
   <key>npc_ani_10000_166.png</key>
   <dict>
    <key>frame</key>
    <string>{{306,304},{52,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,64}}</string>
    <key>sourceSize</key>
    <string>{52,64}</string>
   </dict>
   <key>npc_ani_10000_165.png</key>
   <dict>
    <key>frame</key>
    <string>{{102,443},{54,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,58}}</string>
    <key>sourceSize</key>
    <string>{54,58}</string>
   </dict>
   <key>npc_ani_10000_164.png</key>
   <dict>
    <key>frame</key>
    <string>{{172,384},{44,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,46}}</string>
    <key>sourceSize</key>
    <string>{44,46}</string>
   </dict>
   <key>npc_ani_10000_150.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,308},{19,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,17}}</string>
    <key>sourceSize</key>
    <string>{19,17}</string>
   </dict>
   <key>npc_ani_10000_149.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,400},{29,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,35}}</string>
    <key>sourceSize</key>
    <string>{29,35}</string>
   </dict>
   <key>npc_ani_10000_148.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,364},{34,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,34}}</string>
    <key>sourceSize</key>
    <string>{34,34}</string>
   </dict>
   <key>npc_ani_10000_147.png</key>
   <dict>
    <key>frame</key>
    <string>{{320,370},{34,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,32}}</string>
    <key>sourceSize</key>
    <string>{34,32}</string>
   </dict>
   <key>npc_ani_10000_146.png</key>
   <dict>
    <key>frame</key>
    <string>{{398,543},{34,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,25}}</string>
    <key>sourceSize</key>
    <string>{34,25}</string>
   </dict>
   <key>npc_ani_10000_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,364},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,65}}</string>
    <key>sourceSize</key>
    <string>{49,65}</string>
   </dict>
   <key>npc_ani_10000_110.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,437},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,65}}</string>
    <key>sourceSize</key>
    <string>{49,65}</string>
   </dict>
   <key>npc_ani_10000_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,370},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,65}}</string>
    <key>sourceSize</key>
    <string>{49,65}</string>
   </dict>
   <key>npc_ani_10000_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,431},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,65}}</string>
    <key>sourceSize</key>
    <string>{49,65}</string>
   </dict>
   <key>npc_ani_10000_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{51,382},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,65}}</string>
    <key>sourceSize</key>
    <string>{49,65}</string>
   </dict>
   <key>npc_ani_10000_122.png</key>
   <dict>
    <key>frame</key>
    <string>{{467,141},{42,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,52}}</string>
    <key>sourceSize</key>
    <string>{42,52}</string>
   </dict>
   <key>npc_ani_10000_124.png</key>
   <dict>
    <key>frame</key>
    <string>{{51,449},{45,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,57}}</string>
    <key>sourceSize</key>
    <string>{45,57}</string>
   </dict>
   <key>npc_ani_10000_123.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,437},{45,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,57}}</string>
    <key>sourceSize</key>
    <string>{45,57}</string>
   </dict>
   <key>npc_ani_10000_114.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,255},{50,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,65}}</string>
    <key>sourceSize</key>
    <string>{50,65}</string>
   </dict>
   <key>npc_ani_10000_115.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,345},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,65}}</string>
    <key>sourceSize</key>
    <string>{49,65}</string>
   </dict>
   <key>npc_ani_10000_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,370},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,65}}</string>
    <key>sourceSize</key>
    <string>{49,65}</string>
   </dict>
   <key>npc_ani_10000_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{121,376},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,65}}</string>
    <key>sourceSize</key>
    <string>{49,65}</string>
   </dict>
   <key>npc_ani_10000_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{447,386},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,65}}</string>
    <key>sourceSize</key>
    <string>{49,65}</string>
   </dict>
   <key>npc_ani_10000_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{70,315},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,65}}</string>
    <key>sourceSize</key>
    <string>{49,65}</string>
   </dict>
   <key>npc_ani_10000_187.png</key>
   <dict>
    <key>frame</key>
    <string>{{130,106},{100,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,54}}</string>
    <key>sourceSize</key>
    <string>{100,54}</string>
   </dict>
   <key>npc_ani_10000_186.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,129},{98,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,52}}</string>
    <key>sourceSize</key>
    <string>{98,52}</string>
   </dict>
   <key>npc_ani_10000_185.png</key>
   <dict>
    <key>frame</key>
    <string>{{130,162},{98,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,52}}</string>
    <key>sourceSize</key>
    <string>{98,52}</string>
   </dict>
   <key>npc_ani_10000_184.png</key>
   <dict>
    <key>frame</key>
    <string>{{130,216},{94,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,52}}</string>
    <key>sourceSize</key>
    <string>{94,52}</string>
   </dict>
   <key>npc_ani_10000_183.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,183},{94,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,52}}</string>
    <key>sourceSize</key>
    <string>{94,52}</string>
   </dict>
   <key>npc_ani_10000_182.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,237},{88,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,50}}</string>
    <key>sourceSize</key>
    <string>{88,50}</string>
   </dict>
   <key>npc_ani_10000_181.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,552},{59,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,26}}</string>
    <key>sourceSize</key>
    <string>{59,26}</string>
   </dict>
   <key>npc_ani_10000_180.png</key>
   <dict>
    <key>frame</key>
    <string>{{226,258},{78,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,48}}</string>
    <key>sourceSize</key>
    <string>{78,48}</string>
   </dict>
   <key>npc_ani_10000_179.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,262},{74,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,48}}</string>
    <key>sourceSize</key>
    <string>{74,48}</string>
   </dict>
   <key>npc_ani_10000_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{114,102},{14,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,16}}</string>
    <key>sourceSize</key>
    <string>{14,16}</string>
   </dict>
   <key>npc_ani_10000_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{114,120},{13,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,13}}</string>
    <key>sourceSize</key>
    <string>{13,13}</string>
   </dict>
   <key>npc_ani_10000_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,0},{103,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,104}}</string>
    <key>sourceSize</key>
    <string>{103,104}</string>
   </dict>
   <key>npc_ani_10000_196.png</key>
   <dict>
    <key>frame</key>
    <string>{{197,270},{23,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,29}}</string>
    <key>sourceSize</key>
    <string>{23,29}</string>
   </dict>
   <key>npc_ani_10000_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{197,301},{23,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,26}}</string>
    <key>sourceSize</key>
    <string>{23,26}</string>
   </dict>
   <key>npc_ani_10000_192.png</key>
   <dict>
    <key>frame</key>
    <string>{{393,0},{78,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,78}}</string>
    <key>sourceSize</key>
    <string>{78,78}</string>
   </dict>
   <key>npc_ani_10000_107.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,0},{9,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,8}}</string>
    <key>sourceSize</key>
    <string>{9,8}</string>
   </dict>
   <key>npc_ani_10000_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,312},{19,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,17}}</string>
    <key>sourceSize</key>
    <string>{19,17}</string>
   </dict>
   <key>npc_ani_10000_106.png</key>
   <dict>
    <key>frame</key>
    <string>{{100,129},{12,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,8}}</string>
    <key>sourceSize</key>
    <string>{12,8}</string>
   </dict>
   <key>npc_ani_10000_103.png</key>
   <dict>
    <key>frame</key>
    <string>{{114,135},{13,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,13}}</string>
    <key>sourceSize</key>
    <string>{13,13}</string>
   </dict>
   <key>npc_ani_10000_104.png</key>
   <dict>
    <key>frame</key>
    <string>{{114,84},{14,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,16}}</string>
    <key>sourceSize</key>
    <string>{14,16}</string>
   </dict>
   <key>npc_ani_10000_109.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,10},{9,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,8}}</string>
    <key>sourceSize</key>
    <string>{9,8}</string>
   </dict>
   <key>npc_ani_10000_108.png</key>
   <dict>
    <key>frame</key>
    <string>{{316,438},{27,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,8}}</string>
    <key>sourceSize</key>
    <string>{27,8}</string>
   </dict>
   <key>npc_ani_10000_145.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{130,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,82}}</string>
    <key>sourceSize</key>
    <string>{130,82}</string>
   </dict>
   <key>npc_ani_10000_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{402,437},{42,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,42}}</string>
    <key>sourceSize</key>
    <string>{42,42}</string>
   </dict>
   <key>npc_ani_10000_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,84},{112,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{112,43}}</string>
    <key>sourceSize</key>
    <string>{112,43}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_10000.png</string>
   <key>textureFileName</key>
   <string>npc_ani_10000.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>