<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_20015_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,145},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20015_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{78,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,77}}</string>
        <key>sourceSize</key>
        <string>{78,77}</string>
      </dict>
      <key>npc_ani_20015_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{78,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,77}}</string>
        <key>sourceSize</key>
        <string>{78,77}</string>
      </dict>
      <key>npc_ani_20015_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{78,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,77}}</string>
        <key>sourceSize</key>
        <string>{78,77}</string>
      </dict>
      <key>npc_ani_20015_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>npc_ani_20015_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,145},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20015_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,211},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20015_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,79},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20015_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,277},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20015_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,79},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20015_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,79},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20015_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,145},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20015_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,211},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20015_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,211},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20015_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,277},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_20015.png</string>
      <key>textureFileName</key>
      <string>npc_ani_20015.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>