<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_20024__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,264},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20024__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,67},{85,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,65}}</string>
        <key>sourceSize</key>
        <string>{85,65}</string>
      </dict>
      <key>npc_ani_20024__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{85,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,65}}</string>
        <key>sourceSize</key>
        <string>{85,65}</string>
      </dict>
      <key>npc_ani_20024__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{85,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,65}}</string>
        <key>sourceSize</key>
        <string>{85,65}</string>
      </dict>
      <key>npc_ani_20024__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,67},{85,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,65}}</string>
        <key>sourceSize</key>
        <string>{85,65}</string>
      </dict>
      <key>npc_ani_20024__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,134},{22,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,52}}</string>
        <key>sourceSize</key>
        <string>{22,52}</string>
      </dict>
      <key>npc_ani_20024__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20024__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20024__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,198},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20024__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,266},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20024__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20024__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,134},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20024__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20024__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,200},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20024__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,134},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_20024.png</string>
      <key>textureFileName</key>
      <string>npc_ani_20024.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>