<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_20053_02_399.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>npc_ani_20053_02_299.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,68},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>npc_ani_20053_02_199.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>npc_ani_20053_02_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,0},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>npc_ani_20053_02_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,148},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,80},{15,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,15}}</string>
        <key>sourceSize</key>
        <string>{15,15}</string>
      </dict>
      <key>npc_ani_20053_02_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>npc_ani_20053_02_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,68},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,108},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,148},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,108},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,120},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,40},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,68},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,108},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,120},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,136},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_599.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,80},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_20053_02_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,68},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>path_20053_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>npc_ani_20053_02_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,68},{15,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,15}}</string>
        <key>sourceSize</key>
        <string>{15,15}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_20053_02.png</string>
      <key>textureFileName</key>
      <string>npc_ani_20053_02.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>