<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_20016__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20016__1.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,88},{22,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,52}}</string>
        <key>sourceSize</key>
        <string>{22,52}</string>
      </dict>
      <key>npc_ani_20016__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20016__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20016__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20016__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20016__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20016__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20016__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20016__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20016__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20016__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{39,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,43}}</string>
        <key>sourceSize</key>
        <string>{39,43}</string>
      </dict>
      <key>npc_ani_20016__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,45},{38,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,41}}</string>
        <key>sourceSize</key>
        <string>{38,41}</string>
      </dict>
      <key>npc_ani_20016__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,142},{34,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,33}}</string>
        <key>sourceSize</key>
        <string>{34,33}</string>
      </dict>
      <key>npc_ani_20016__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,183},{40,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,3}}</string>
        <key>sourceSize</key>
        <string>{40,3}</string>
      </dict>
      <key>npc_ani_20016__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,177},{40,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,4}}</string>
        <key>sourceSize</key>
        <string>{40,4}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_20016.png</string>
      <key>textureFileName</key>
      <string>npc_ani_20016.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>