<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_29021_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,53},{8,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,8}}</string>
        <key>sourceSize</key>
        <string>{8,8}</string>
      </dict>
      <key>npc_ani_29021_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,63},{8,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,8}}</string>
        <key>sourceSize</key>
        <string>{8,8}</string>
      </dict>
      <key>npc_ani_29021_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,71},{27,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,69}}</string>
        <key>sourceSize</key>
        <string>{27,69}</string>
      </dict>
      <key>npc_ani_29021_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,272},{71,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,83}}</string>
        <key>sourceSize</key>
        <string>{71,83}</string>
      </dict>
      <key>npc_ani_29021_107.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,147},{108,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,106}}</string>
        <key>sourceSize</key>
        <string>{108,106}</string>
      </dict>
      <key>npc_ani_29021_106.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,306},{77,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,75}}</string>
        <key>sourceSize</key>
        <string>{77,75}</string>
      </dict>
      <key>npc_ani_29021_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{106,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>npc_ani_29021_104.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,241},{88,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,88}}</string>
        <key>sourceSize</key>
        <string>{88,88}</string>
      </dict>
      <key>npc_ani_29021_103.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,147},{95,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,92}}</string>
        <key>sourceSize</key>
        <string>{95,92}</string>
      </dict>
      <key>npc_ani_29021_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,159},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>npc_ani_29021_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,306},{58,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,66}}</string>
        <key>sourceSize</key>
        <string>{58,66}</string>
      </dict>
      <key>npc_ani_29021_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,263},{92,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,68}}</string>
        <key>sourceSize</key>
        <string>{92,68}</string>
      </dict>
      <key>npc_ani_29021_109.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,333},{61,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,50}}</string>
        <key>sourceSize</key>
        <string>{61,50}</string>
      </dict>
      <key>npc_ani_29021_108.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,142},{47,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,34}}</string>
        <key>sourceSize</key>
        <string>{47,34}</string>
      </dict>
      <key>npc_ani_29021_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,183},{22,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,14}}</string>
        <key>sourceSize</key>
        <string>{22,14}</string>
      </dict>
      <key>npc_ani_29021_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,41},{7,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,14}}</string>
        <key>sourceSize</key>
        <string>{7,14}</string>
      </dict>
      <key>npc_ani_29021_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,255},{116,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,49}}</string>
        <key>sourceSize</key>
        <string>{116,49}</string>
      </dict>
      <key>npc_ani_29021_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,321},{59,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,56}}</string>
        <key>sourceSize</key>
        <string>{59,56}</string>
      </dict>
      <key>npc_ani_29021_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,41},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
      <key>npc_ani_29021_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,0},{27,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,69}}</string>
        <key>sourceSize</key>
        <string>{27,69}</string>
      </dict>
      <key>npc_ani_29021_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,272},{26,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,27}}</string>
        <key>sourceSize</key>
        <string>{26,27}</string>
      </dict>
      <key>npc_ani_29021_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,218},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>npc_ani_29021_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,333},{56,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,34}}</string>
        <key>sourceSize</key>
        <string>{56,34}</string>
      </dict>
      <key>npc_ani_29021_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,285},{28,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,28}}</string>
        <key>sourceSize</key>
        <string>{28,28}</string>
      </dict>
      <key>npc_ani_29021_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,159},{24,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,57}}</string>
        <key>sourceSize</key>
        <string>{24,57}</string>
      </dict>
      <key>npc_ani_29021_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>npc_ani_29021_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,259},{35,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,24}}</string>
        <key>sourceSize</key>
        <string>{35,24}</string>
      </dict>
      <key>npc_ani_29021_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{210,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,74}}</string>
        <key>sourceSize</key>
        <string>{210,74}</string>
      </dict>
      <key>npc_ani_29021_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,25},{18,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,14}}</string>
        <key>sourceSize</key>
        <string>{18,14}</string>
      </dict>
      <key>npc_ani_29021_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,136},{87,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,134}}</string>
        <key>sourceSize</key>
        <string>{87,134}</string>
      </dict>
      <key>npc_ani_29021_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,258},{29,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,40}}</string>
        <key>sourceSize</key>
        <string>{29,40}</string>
      </dict>
      <key>npc_ani_29021_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,331},{86,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,53}}</string>
        <key>sourceSize</key>
        <string>{86,53}</string>
      </dict>
      <key>npc_ani_29021_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,357},{53,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,33}}</string>
        <key>sourceSize</key>
        <string>{53,33}</string>
      </dict>
      <key>npc_ani_29021_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,217},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>npc_ani_29021_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{157,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,157}}</string>
        <key>sourceSize</key>
        <string>{157,157}</string>
      </dict>
      <key>npc_ani_29021_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,301},{26,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,18}}</string>
        <key>sourceSize</key>
        <string>{26,18}</string>
      </dict>
      <key>npc_ani_29021_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,300},{32,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,23}}</string>
        <key>sourceSize</key>
        <string>{32,23}</string>
      </dict>
      <key>npc_ani_29021_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,178},{43,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,37}}</string>
        <key>sourceSize</key>
        <string>{43,37}</string>
      </dict>
      <key>npc_ani_29021_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,0},{87,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,134}}</string>
        <key>sourceSize</key>
        <string>{87,134}</string>
      </dict>
      <key>npc_ani_29021_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,0},{13,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,23}}</string>
        <key>sourceSize</key>
        <string>{13,23}</string>
      </dict>
      <key>npc_ani_29021_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,76},{210,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,69}}</string>
        <key>sourceSize</key>
        <string>{210,69}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_29021.png</string>
      <key>textureFileName</key>
      <string>npc_ani_29021.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>