<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_20045_02_1__8.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,0},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20045_02_1__21.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,264},{73,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,39}}</string>
    <key>sourceSize</key>
    <string>{73,39}</string>
   </dict>
   <key>npc_ani_20045_02_1__20.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,198},{73,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,39}}</string>
    <key>sourceSize</key>
    <string>{73,39}</string>
   </dict>
   <key>npc_ani_20045_02_1__19.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,239},{73,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,39}}</string>
    <key>sourceSize</key>
    <string>{73,39}</string>
   </dict>
   <key>npc_ani_20045_02_1__18.png</key>
   <dict>
    <key>frame</key>
    <string>{{75,280},{73,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,39}}</string>
    <key>sourceSize</key>
    <string>{73,39}</string>
   </dict>
   <key>npc_ani_20045_02_1__25.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,0},{22,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,52}}</string>
    <key>sourceSize</key>
    <string>{22,52}</string>
   </dict>
   <key>npc_ani_20045_02_1__12.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,198},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20045_02_1__13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,66},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20045_02_1__9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20045_02_1__10.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,0},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20045_02_1__11.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,132},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20045_02_1__17.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,66},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20045_02_1__16.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,132},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20045_02_1__7.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,66},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20045_02_1__6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20045_02_1__5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,198},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_20045_02_1.png</string>
   <key>textureFileName</key>
   <string>npc_ani_20045_02_1.png</string>
   <key>size</key>
   <string>{256,512}</string>
  </dict>
 </dict>
</plist>