<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_29018__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,130},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_29018__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{96,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,62}}</string>
        <key>sourceSize</key>
        <string>{96,62}</string>
      </dict>
      <key>npc_ani_29018__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,62}}</string>
        <key>sourceSize</key>
        <string>{96,62}</string>
      </dict>
      <key>npc_ani_29018__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{96,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,62}}</string>
        <key>sourceSize</key>
        <string>{96,62}</string>
      </dict>
      <key>npc_ani_29018__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{96,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,62}}</string>
        <key>sourceSize</key>
        <string>{96,62}</string>
      </dict>
      <key>npc_ani_29018__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{96,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,62}}</string>
        <key>sourceSize</key>
        <string>{96,62}</string>
      </dict>
      <key>npc_ani_29018__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,64},{22,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,52}}</string>
        <key>sourceSize</key>
        <string>{22,52}</string>
      </dict>
      <key>npc_ani_29018__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,64},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_29018__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,64},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_29018__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,64},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_29018__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,130},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_29018__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,64},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_29018__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,64},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_29018__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,64},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_29018__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_29018__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,64},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_29018.png</string>
      <key>textureFileName</key>
      <string>npc_ani_29018.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>