<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_20019__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__27.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,67},{34,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,44}}</string>
        <key>sourceSize</key>
        <string>{34,44}</string>
      </dict>
      <key>npc_ani_20019__26.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{50,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,64}}</string>
        <key>sourceSize</key>
        <string>{50,64}</string>
      </dict>
      <key>npc_ani_20019__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{48,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,65}}</string>
        <key>sourceSize</key>
        <string>{48,65}</string>
      </dict>
      <key>npc_ani_20019__28.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,113},{22,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,52}}</string>
        <key>sourceSize</key>
        <string>{22,52}</string>
      </dict>
      <key>npc_ani_20019__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>npc_ani_20019__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_20019.png</string>
      <key>textureFileName</key>
      <string>npc_ani_20019.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>