<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_20004_03_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>npc_ani_20004_03_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,68},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>npc_ani_20004_03_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>npc_ani_20004_03_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,0},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>npc_ani_20004_03_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,136},{31,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,38}}</string>
        <key>sourceSize</key>
        <string>{31,38}</string>
      </dict>
      <key>npc_ani_20004_03_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>npc_ani_20004_03_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,114},{28,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,43}}</string>
        <key>sourceSize</key>
        <string>{28,43}</string>
      </dict>
      <key>npc_ani_20004_03_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,159},{28,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,39}}</string>
        <key>sourceSize</key>
        <string>{28,39}</string>
      </dict>
      <key>npc_ani_20004_03_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,107},{28,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,43}}</string>
        <key>sourceSize</key>
        <string>{28,43}</string>
      </dict>
      <key>npc_ani_20004_03_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,107},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>npc_ani_20004_03_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,152},{28,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,39}}</string>
        <key>sourceSize</key>
        <string>{28,39}</string>
      </dict>
      <key>npc_ani_20004_03_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,136},{31,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,38}}</string>
        <key>sourceSize</key>
        <string>{31,38}</string>
      </dict>
      <key>npc_ani_20004_03_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,68},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>npc_ani_20004_03_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,131},{31,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,38}}</string>
        <key>sourceSize</key>
        <string>{31,38}</string>
      </dict>
      <key>npc_ani_20004_03_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,146},{31,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,37}}</string>
        <key>sourceSize</key>
        <string>{31,37}</string>
      </dict>
      <key>npc_ani_20004_03_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,68},{35,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,37}}</string>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>npc_ani_20004_03_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,92},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>npc_ani_20004_03_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,131},{31,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,38}}</string>
        <key>sourceSize</key>
        <string>{31,38}</string>
      </dict>
      <key>npc_ani_20004_03_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,171},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>npc_ani_20004_03_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>npc_ani_20004_03_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,46},{39,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,44}}</string>
        <key>sourceSize</key>
        <string>{39,44}</string>
      </dict>
      <key>npc_ani_20004_03_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,68},{39,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,44}}</string>
        <key>sourceSize</key>
        <string>{39,44}</string>
      </dict>
      <key>npc_ani_20004_03_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{39,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,44}}</string>
        <key>sourceSize</key>
        <string>{39,44}</string>
      </dict>
      <key>npc_ani_20004_03_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,68},{20,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,9}}</string>
        <key>sourceSize</key>
        <string>{20,9}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_20004_03.png</string>
      <key>textureFileName</key>
      <string>npc_ani_20004_03.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>