<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_workers_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{125,73},{24,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,6}}</string>
    <key>sourceSize</key>
    <string>{24,6}</string>
   </dict>
   <key>npc_ani_workers_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,73},{27,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,34}}</string>
    <key>sourceSize</key>
    <string>{27,34}</string>
   </dict>
   <key>npc_ani_workers_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{213,72},{27,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,35}}</string>
    <key>sourceSize</key>
    <string>{27,35}</string>
   </dict>
   <key>npc_ani_workers_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{28,73},{27,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,34}}</string>
    <key>sourceSize</key>
    <string>{27,34}</string>
   </dict>
   <key>npc_ani_workers_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{214,0},{29,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,35}}</string>
    <key>sourceSize</key>
    <string>{29,35}</string>
   </dict>
   <key>npc_ani_workers_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{154,0},{29,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,36}}</string>
    <key>sourceSize</key>
    <string>{29,36}</string>
   </dict>
   <key>npc_ani_workers_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,0},{29,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,35}}</string>
    <key>sourceSize</key>
    <string>{29,35}</string>
   </dict>
   <key>npc_ani_workers_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{213,36},{28,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,35}}</string>
    <key>sourceSize</key>
    <string>{28,35}</string>
   </dict>
   <key>npc_ani_workers_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,36},{28,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,36}}</string>
    <key>sourceSize</key>
    <string>{28,36}</string>
   </dict>
   <key>npc_ani_workers_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{154,37},{28,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,35}}</string>
    <key>sourceSize</key>
    <string>{28,35}</string>
   </dict>
   <key>npc_ani_workers_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{76,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,72}}</string>
    <key>sourceSize</key>
    <string>{76,72}</string>
   </dict>
   <key>npc_ani_workers_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,0},{76,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,72}}</string>
    <key>sourceSize</key>
    <string>{76,72}</string>
   </dict>
   <key>npc_ani_workers_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{56,73},{38,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,14}}</string>
    <key>sourceSize</key>
    <string>{38,14}</string>
   </dict>
   <key>npc_ani_workers_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,73},{32,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,14}}</string>
    <key>sourceSize</key>
    <string>{32,14}</string>
   </dict>
   <key>npc_ani_workers_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{183,73},{21,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,9}}</string>
    <key>sourceSize</key>
    <string>{21,9}</string>
   </dict>
   <key>npc_ani_workers_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,73},{29,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,22}}</string>
    <key>sourceSize</key>
    <string>{29,22}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_workers.png</string>
   <key>textureFileName</key>
   <string>npc_ani_workers.png</string>
   <key>size</key>
   <string>{256,128}</string>
  </dict>
 </dict>
</plist>