<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_ani_20055_02_399.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,0},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>npc_ani_20055_02_299.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>npc_ani_20055_02_199.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,68},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>npc_ani_20055_02_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>npc_ani_20055_02_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,98},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>npc_ani_20055_02_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,68},{33,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,28}}</string>
        <key>sourceSize</key>
        <string>{33,28}</string>
      </dict>
      <key>npc_ani_20055_02_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{44,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,34}}</string>
        <key>sourceSize</key>
        <string>{44,34}</string>
      </dict>
      <key>npc_ani_20055_02_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>npc_ani_20055_02_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,68},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>npc_ani_20055_02_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,134},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>npc_ani_20055_02_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,69},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>npc_ani_20055_02_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,68},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>npc_ani_20055_02_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,101},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>npc_ani_20055_02_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,101},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>npc_ani_20055_02_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,102},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>npc_ani_20055_02_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,68},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>npc_ani_20055_02_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,69},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>npc_ani_20055_02_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,36},{37,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,31}}</string>
        <key>sourceSize</key>
        <string>{37,31}</string>
      </dict>
      <key>npc_ani_20055_02_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,134},{24,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,31}}</string>
        <key>sourceSize</key>
        <string>{24,31}</string>
      </dict>
      <key>npc_ani_20055_02_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,102},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>npc_ani_20055_02_699.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,101},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>npc_ani_20055_02_599.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,131},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_ani_20055_02.png</string>
      <key>textureFileName</key>
      <string>npc_ani_20055_02.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>