<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_20043_02_1__4.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20043_02_1__3.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20043_02_1__2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20043_02_1__1.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20043_02_1__9.png</key>
   <dict>
    <key>frame</key>
    <string>{{404,0},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20043_02_1__24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,134},{55,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,63}}</string>
    <key>sourceSize</key>
    <string>{55,63}</string>
   </dict>
   <key>npc_ani_20043_02_1__22.png</key>
   <dict>
    <key>frame</key>
    <string>{{114,134},{55,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,63}}</string>
    <key>sourceSize</key>
    <string>{55,63}</string>
   </dict>
   <key>npc_ani_20043_02_1__21.png</key>
   <dict>
    <key>frame</key>
    <string>{{57,134},{55,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,63}}</string>
    <key>sourceSize</key>
    <string>{55,63}</string>
   </dict>
   <key>npc_ani_20043_02_1__25.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,0},{22,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,52}}</string>
    <key>sourceSize</key>
    <string>{22,52}</string>
   </dict>
   <key>npc_ani_20043_02_1__14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,68},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20043_02_1__13.png</key>
   <dict>
    <key>frame</key>
    <string>{{171,134},{60,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,54}}</string>
    <key>sourceSize</key>
    <string>{60,54}</string>
   </dict>
   <key>npc_ani_20043_02_1__15.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,0},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20043_02_1__16.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,66},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20043_02_1__18.png</key>
   <dict>
    <key>frame</key>
    <string>{{171,190},{60,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,54}}</string>
    <key>sourceSize</key>
    <string>{60,54}</string>
   </dict>
   <key>npc_ani_20043_02_1__17.png</key>
   <dict>
    <key>frame</key>
    <string>{{338,0},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20043_02_1__12.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,68},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20043_02_1__11.png</key>
   <dict>
    <key>frame</key>
    <string>{{264,132},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20043_02_1__10.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,68},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20043_02_1__20.png</key>
   <dict>
    <key>frame</key>
    <string>{{66,68},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20043_02_1__19.png</key>
   <dict>
    <key>frame</key>
    <string>{{404,66},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20043_02_1__6.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,132},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20043_02_1__7.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,132},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>npc_ani_20043_02_1__8.png</key>
   <dict>
    <key>frame</key>
    <string>{{338,66},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_20043_02_1.png</string>
   <key>textureFileName</key>
   <string>npc_ani_20043_02_1.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>