<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_20061_02_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,170},{25,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,30}}</string>
    <key>sourceSize</key>
    <string>{25,30}</string>
   </dict>
   <key>npc_ani_20061_02_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,182},{25,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,30}}</string>
    <key>sourceSize</key>
    <string>{25,30}</string>
   </dict>
   <key>npc_ani_20061_02_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{131,182},{25,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,30}}</string>
    <key>sourceSize</key>
    <string>{25,30}</string>
   </dict>
   <key>npc_ani_20061_02_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,68},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20061_02_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,68},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20061_02_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20061_02_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,0},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>npc_ani_20061_02_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,0},{34,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,37}}</string>
    <key>sourceSize</key>
    <string>{34,37}</string>
   </dict>
   <key>npc_ani_20061_02_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,74},{53,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,74}}</string>
    <key>sourceSize</key>
    <string>{53,74}</string>
   </dict>
   <key>npc_ani_20061_02_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{72,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,72}}</string>
    <key>sourceSize</key>
    <string>{72,72}</string>
   </dict>
   <key>npc_ani_20061_02_119.png</key>
   <dict>
    <key>frame</key>
    <string>{{246,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>npc_ani_20061_02_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,150},{45,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,44}}</string>
    <key>sourceSize</key>
    <string>{45,44}</string>
   </dict>
   <key>npc_ani_20061_02_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,136},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,32}}</string>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>npc_ani_20061_02_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{55,136},{47,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,44}}</string>
    <key>sourceSize</key>
    <string>{47,44}</string>
   </dict>
   <key>npc_ani_20061_02_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,136},{47,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,44}}</string>
    <key>sourceSize</key>
    <string>{47,44}</string>
   </dict>
   <key>npc_ani_20061_02_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,107},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,32}}</string>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>npc_ani_20061_02_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{206,141},{45,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,44}}</string>
    <key>sourceSize</key>
    <string>{45,44}</string>
   </dict>
   <key>npc_ani_20061_02_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,39},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,32}}</string>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>npc_ani_20061_02_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{47,182},{25,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,30}}</string>
    <key>sourceSize</key>
    <string>{25,30}</string>
   </dict>
   <key>npc_ani_20061_02_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,73},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,32}}</string>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>npc_ani_20061_02_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{185,136},{19,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,6}}</string>
    <key>sourceSize</key>
    <string>{19,6}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_20061_02.png</string>
   <key>textureFileName</key>
   <string>npc_ani_20061_02.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>