<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_29025_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{710,0},{202,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{202,105}}</string>
    <key>sourceSize</key>
    <string>{202,105}</string>
   </dict>
   <key>npc_ani_29025_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{230,538},{54,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,26}}</string>
    <key>sourceSize</key>
    <string>{54,26}</string>
   </dict>
   <key>npc_ani_29025_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,284},{33,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,28}}</string>
    <key>sourceSize</key>
    <string>{33,28}</string>
   </dict>
   <key>npc_ani_29025_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{807,412},{52,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,44}}</string>
    <key>sourceSize</key>
    <string>{52,44}</string>
   </dict>
   <key>npc_ani_29025_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,212},{41,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,45}}</string>
    <key>sourceSize</key>
    <string>{41,45}</string>
   </dict>
   <key>npc_ani_29025_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{838,224},{45,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,30}}</string>
    <key>sourceSize</key>
    <string>{45,30}</string>
   </dict>
   <key>npc_ani_29025_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,259},{38,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,23}}</string>
    <key>sourceSize</key>
    <string>{38,23}</string>
   </dict>
   <key>npc_ani_29025_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{318,527},{61,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,24}}</string>
    <key>sourceSize</key>
    <string>{61,24}</string>
   </dict>
   <key>npc_ani_29025_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{145,538},{83,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,37}}</string>
    <key>sourceSize</key>
    <string>{83,37}</string>
   </dict>
   <key>npc_ani_29025_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{463,522},{76,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,45}}</string>
    <key>sourceSize</key>
    <string>{76,45}</string>
   </dict>
   <key>npc_ani_29025_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{93,410},{87,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,86}}</string>
    <key>sourceSize</key>
    <string>{87,86}</string>
   </dict>
   <key>npc_ani_29025_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{963,446},{55,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,35}}</string>
    <key>sourceSize</key>
    <string>{55,35}</string>
   </dict>
   <key>npc_ani_29025_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{838,256},{37,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,31}}</string>
    <key>sourceSize</key>
    <string>{37,31}</string>
   </dict>
   <key>npc_ani_29025_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{275,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{275,210}}</string>
    <key>sourceSize</key>
    <string>{275,210}</string>
   </dict>
   <key>npc_ani_29025_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,341},{91,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,91}}</string>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>npc_ani_29025_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{777,319},{91,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,91}}</string>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>npc_ani_29025_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,319},{91,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,91}}</string>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>npc_ani_29025_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{870,359},{91,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,91}}</string>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>npc_ani_29025_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,319},{91,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,91}}</string>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>npc_ani_29025_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{1000,0},{7,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,7}}</string>
    <key>sourceSize</key>
    <string>{7,7}</string>
   </dict>
   <key>npc_ani_29025_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,212},{142,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{142,105}}</string>
    <key>sourceSize</key>
    <string>{142,105}</string>
   </dict>
   <key>npc_ani_29025_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,412},{90,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,63}}</string>
    <key>sourceSize</key>
    <string>{90,63}</string>
   </dict>
   <key>npc_ani_29025_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{277,0},{240,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{240,147}}</string>
    <key>sourceSize</key>
    <string>{240,147}</string>
   </dict>
   <key>npc_ani_29025_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{687,224},{149,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{149,93}}</string>
    <key>sourceSize</key>
    <string>{149,93}</string>
   </dict>
   <key>npc_ani_29025_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{519,0},{189,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{189,126}}</string>
    <key>sourceSize</key>
    <string>{189,126}</string>
   </dict>
   <key>npc_ani_29025_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{886,126},{132,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{132,132}}</string>
    <key>sourceSize</key>
    <string>{132,132}</string>
   </dict>
   <key>npc_ani_29025_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{182,450},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{929,483},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{277,149},{166,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{166,111}}</string>
    <key>sourceSize</key>
    <string>{166,111}</string>
   </dict>
   <key>npc_ani_29025_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{519,128},{166,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{166,112}}</string>
    <key>sourceSize</key>
    <string>{166,112}</string>
   </dict>
   <key>npc_ani_29025_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{710,107},{174,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{174,115}}</string>
    <key>sourceSize</key>
    <string>{174,115}</string>
   </dict>
   <key>npc_ani_29025_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{914,0},{84,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,124}}</string>
    <key>sourceSize</key>
    <string>{84,124}</string>
   </dict>
   <key>npc_ani_29025_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{515,242},{86,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,97}}</string>
    <key>sourceSize</key>
    <string>{86,97}</string>
   </dict>
   <key>npc_ani_29025_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{877,260},{86,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,97}}</string>
    <key>sourceSize</key>
    <string>{86,97}</string>
   </dict>
   <key>npc_ani_29025_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,262},{86,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,97}}</string>
    <key>sourceSize</key>
    <string>{86,97}</string>
   </dict>
   <key>npc_ani_29025_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,311},{86,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,97}}</string>
    <key>sourceSize</key>
    <string>{86,97}</string>
   </dict>
   <key>npc_ani_29025_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,212},{86,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,97}}</string>
    <key>sourceSize</key>
    <string>{86,97}</string>
   </dict>
   <key>npc_ani_29025_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{1009,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>npc_ani_29025_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{603,331},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{323,439},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,450},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,335},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{671,412},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{861,452},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{739,412},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{496,434},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{593,419},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,511},{70,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,68}}</string>
    <key>sourceSize</key>
    <string>{70,68}</string>
   </dict>
   <key>npc_ani_29025_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{93,319},{48,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,87}}</string>
    <key>sourceSize</key>
    <string>{48,87}</string>
   </dict>
   <key>npc_ani_29025_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,262},{70,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,87}}</string>
    <key>sourceSize</key>
    <string>{70,87}</string>
   </dict>
   <key>npc_ani_29025_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{738,500},{66,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,76}}</string>
    <key>sourceSize</key>
    <string>{66,76}</string>
   </dict>
   <key>npc_ani_29025_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,149},{68,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,91}}</string>
    <key>sourceSize</key>
    <string>{68,91}</string>
   </dict>
   <key>npc_ani_29025_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{661,500},{75,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,76}}</string>
    <key>sourceSize</key>
    <string>{75,76}</string>
   </dict>
   <key>npc_ani_29025_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,260},{51,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,91}}</string>
    <key>sourceSize</key>
    <string>{51,91}</string>
   </dict>
   <key>npc_ani_29025_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{564,507},{66,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,76}}</string>
    <key>sourceSize</key>
    <string>{66,76}</string>
   </dict>
   <key>npc_ani_29025_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,242},{68,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,91}}</string>
    <key>sourceSize</key>
    <string>{68,91}</string>
   </dict>
   <key>npc_ani_29025_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,498},{75,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,76}}</string>
    <key>sourceSize</key>
    <string>{75,76}</string>
   </dict>
   <key>npc_ani_29025_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,353},{51,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,91}}</string>
    <key>sourceSize</key>
    <string>{51,91}</string>
   </dict>
   <key>npc_ani_29025_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,361},{89,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,87}}</string>
    <key>sourceSize</key>
    <string>{89,87}</string>
   </dict>
   <key>npc_ani_29025_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{603,242},{79,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,87}}</string>
    <key>sourceSize</key>
    <string>{79,87}</string>
   </dict>
   <key>npc_ani_29025_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,423},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,477},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>npc_ani_29025_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,351},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_29025.png</string>
   <key>textureFileName</key>
   <string>npc_ani_29025.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>