<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>npc_ani_91501_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{940,226},{77,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,77}}</string>
    <key>sourceSize</key>
    <string>{77,77}</string>
   </dict>
   <key>npc_ani_91501_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{1013,113},{8,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,9}}</string>
    <key>sourceSize</key>
    <string>{8,9}</string>
   </dict>
   <key>npc_ani_91501_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{390,339},{94,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,50}}</string>
    <key>sourceSize</key>
    <string>{94,50}</string>
   </dict>
   <key>npc_ani_91501_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,281},{90,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,56}}</string>
    <key>sourceSize</key>
    <string>{90,56}</string>
   </dict>
   <key>npc_ani_91501_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,262},{89,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,63}}</string>
    <key>sourceSize</key>
    <string>{89,63}</string>
   </dict>
   <key>npc_ani_91501_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{673,270},{83,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,68}}</string>
    <key>sourceSize</key>
    <string>{83,68}</string>
   </dict>
   <key>npc_ani_91501_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{58,304},{79,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,67}}</string>
    <key>sourceSize</key>
    <string>{79,67}</string>
   </dict>
   <key>npc_ani_91501_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{516,270},{77,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,69}}</string>
    <key>sourceSize</key>
    <string>{77,69}</string>
   </dict>
   <key>npc_ani_91501_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,101},{88,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,111}}</string>
    <key>sourceSize</key>
    <string>{88,111}</string>
   </dict>
   <key>npc_ani_91501_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{797,380},{61,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,21}}</string>
    <key>sourceSize</key>
    <string>{61,21}</string>
   </dict>
   <key>npc_ani_91501_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{726,380},{69,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,32}}</string>
    <key>sourceSize</key>
    <string>{69,32}</string>
   </dict>
   <key>npc_ani_91501_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{733,240},{30,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,21}}</string>
    <key>sourceSize</key>
    <string>{30,21}</string>
   </dict>
   <key>npc_ani_91501_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{58,214},{29,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,25}}</string>
    <key>sourceSize</key>
    <string>{29,25}</string>
   </dict>
   <key>npc_ani_91501_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,140},{19,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,6}}</string>
    <key>sourceSize</key>
    <string>{19,6}</string>
   </dict>
   <key>npc_ani_91501_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,365},{40,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,48}}</string>
    <key>sourceSize</key>
    <string>{40,48}</string>
   </dict>
   <key>npc_ani_91501_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{58,241},{27,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,22}}</string>
    <key>sourceSize</key>
    <string>{27,22}</string>
   </dict>
   <key>npc_ani_91501_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,124},{18,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,14}}</string>
    <key>sourceSize</key>
    <string>{18,14}</string>
   </dict>
   <key>npc_ani_91501_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,86},{16,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,20}}</string>
    <key>sourceSize</key>
    <string>{16,20}</string>
   </dict>
   <key>npc_ani_91501_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,101},{12,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,8}}</string>
    <key>sourceSize</key>
    <string>{12,8}</string>
   </dict>
   <key>npc_ani_91501_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,388},{41,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,14}}</string>
    <key>sourceSize</key>
    <string>{41,14}</string>
   </dict>
   <key>npc_ani_91501_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,111},{10,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,9}}</string>
    <key>sourceSize</key>
    <string>{10,9}</string>
   </dict>
   <key>npc_ani_91501_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,221},{34,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,26}}</string>
    <key>sourceSize</key>
    <string>{34,26}</string>
   </dict>
   <key>npc_ani_91501_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,127},{16,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,16}}</string>
    <key>sourceSize</key>
    <string>{16,16}</string>
   </dict>
   <key>npc_ani_91501_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{658,374},{66,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,46}}</string>
    <key>sourceSize</key>
    <string>{66,46}</string>
   </dict>
   <key>npc_ani_91501_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{596,258},{75,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,75}}</string>
    <key>sourceSize</key>
    <string>{75,75}</string>
   </dict>
   <key>npc_ani_91501_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{860,383},{41,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,41}}</string>
    <key>sourceSize</key>
    <string>{41,41}</string>
   </dict>
   <key>npc_ani_91501_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,108},{19,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,14}}</string>
    <key>sourceSize</key>
    <string>{19,14}</string>
   </dict>
   <key>npc_ani_91501_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,101},{83,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,99}}</string>
    <key>sourceSize</key>
    <string>{83,99}</string>
   </dict>
   <key>npc_ani_91501_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{516,168},{78,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,100}}</string>
    <key>sourceSize</key>
    <string>{78,100}</string>
   </dict>
   <key>npc_ani_91501_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{596,168},{77,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,88}}</string>
    <key>sourceSize</key>
    <string>{77,88}</string>
   </dict>
   <key>npc_ani_91501_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{261,262},{62,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,71}}</string>
    <key>sourceSize</key>
    <string>{62,71}</string>
   </dict>
   <key>npc_ani_91501_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{201,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{201,99}}</string>
    <key>sourceSize</key>
    <string>{201,99}</string>
   </dict>
   <key>npc_ani_91501_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{201,294},{49,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,69}}</string>
    <key>sourceSize</key>
    <string>{49,69}</string>
   </dict>
   <key>npc_ani_91501_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,65},{20,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,19}}</string>
    <key>sourceSize</key>
    <string>{20,19}</string>
   </dict>
   <key>npc_ani_91501_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,335},{63,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,64}}</string>
    <key>sourceSize</key>
    <string>{63,64}</string>
   </dict>
   <key>npc_ani_91501_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,327},{63,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,64}}</string>
    <key>sourceSize</key>
    <string>{63,64}</string>
   </dict>
   <key>npc_ani_91501_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{939,305},{63,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,64}}</string>
    <key>sourceSize</key>
    <string>{63,64}</string>
   </dict>
   <key>npc_ani_91501_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{758,314},{63,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,64}}</string>
    <key>sourceSize</key>
    <string>{63,64}</string>
   </dict>
   <key>npc_ani_91501_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{823,314},{63,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,64}}</string>
    <key>sourceSize</key>
    <string>{63,64}</string>
   </dict>
   <key>npc_ani_91501_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{47,373},{88,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,30}}</string>
    <key>sourceSize</key>
    <string>{88,30}</string>
   </dict>
   <key>npc_ani_91501_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{658,340},{92,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,32}}</string>
    <key>sourceSize</key>
    <string>{92,32}</string>
   </dict>
   <key>npc_ani_91501_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{935,371},{86,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,34}}</string>
    <key>sourceSize</key>
    <string>{86,34}</string>
   </dict>
   <key>npc_ani_91501_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,101},{11,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,24}}</string>
    <key>sourceSize</key>
    <string>{11,24}</string>
   </dict>
   <key>npc_ani_91501_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{772,168},{119,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{119,42}}</string>
    <key>sourceSize</key>
    <string>{119,42}</string>
   </dict>
   <key>npc_ani_91501_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,214},{56,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,100}}</string>
    <key>sourceSize</key>
    <string>{56,100}</string>
   </dict>
   <key>npc_ani_91501_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{830,212},{56,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,100}}</string>
    <key>sourceSize</key>
    <string>{56,100}</string>
   </dict>
   <key>npc_ani_91501_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,202},{56,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,100}}</string>
    <key>sourceSize</key>
    <string>{56,100}</string>
   </dict>
   <key>npc_ani_91501_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{772,212},{56,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,100}}</string>
    <key>sourceSize</key>
    <string>{56,100}</string>
   </dict>
   <key>npc_ani_91501_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{675,168},{56,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,100}}</string>
    <key>sourceSize</key>
    <string>{56,100}</string>
   </dict>
   <key>npc_ani_91501_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,168},{69,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,111}}</string>
    <key>sourceSize</key>
    <string>{69,111}</string>
   </dict>
   <key>npc_ani_91501_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{264,149},{69,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,111}}</string>
    <key>sourceSize</key>
    <string>{69,111}</string>
   </dict>
   <key>npc_ani_91501_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,149},{69,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,111}}</string>
    <key>sourceSize</key>
    <string>{69,111}</string>
   </dict>
   <key>npc_ani_91501_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{944,0},{69,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,111}}</string>
    <key>sourceSize</key>
    <string>{69,111}</string>
   </dict>
   <key>npc_ani_91501_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{942,113},{69,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,111}}</string>
    <key>sourceSize</key>
    <string>{69,111}</string>
   </dict>
   <key>npc_ani_91501_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{486,341},{61,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,61}}</string>
    <key>sourceSize</key>
    <string>{61,61}</string>
   </dict>
   <key>npc_ani_91501_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{203,0},{59,221}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,221}}</string>
    <key>sourceSize</key>
    <string>{59,221}</string>
   </dict>
   <key>npc_ani_91501_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{264,65},{162,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,82}}</string>
    <key>sourceSize</key>
    <string>{162,82}</string>
   </dict>
   <key>npc_ani_91501_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{778,84},{162,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,82}}</string>
    <key>sourceSize</key>
    <string>{162,82}</string>
   </dict>
   <key>npc_ani_91501_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,0},{162,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,82}}</string>
    <key>sourceSize</key>
    <string>{162,82}</string>
   </dict>
   <key>npc_ani_91501_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{616,0},{162,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,82}}</string>
    <key>sourceSize</key>
    <string>{162,82}</string>
   </dict>
   <key>npc_ani_91501_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,84},{162,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,82}}</string>
    <key>sourceSize</key>
    <string>{162,82}</string>
   </dict>
   <key>npc_ani_91501_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{780,0},{162,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,82}}</string>
    <key>sourceSize</key>
    <string>{162,82}</string>
   </dict>
   <key>npc_ani_91501_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{614,84},{162,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,82}}</string>
    <key>sourceSize</key>
    <string>{162,82}</string>
   </dict>
   <key>npc_ani_91501_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{264,0},{186,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{186,63}}</string>
    <key>sourceSize</key>
    <string>{186,63}</string>
   </dict>
   <key>npc_ani_91501_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{1015,7},{7,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,5}}</string>
    <key>sourceSize</key>
    <string>{7,5}</string>
   </dict>
   <key>npc_ani_91501_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{1015,0},{7,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,5}}</string>
    <key>sourceSize</key>
    <string>{7,5}</string>
   </dict>
   <key>npc_ani_91501_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,202},{52,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,69}}</string>
    <key>sourceSize</key>
    <string>{52,69}</string>
   </dict>
   <key>npc_ani_91501_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,316},{45,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,70}}</string>
    <key>sourceSize</key>
    <string>{45,70}</string>
   </dict>
   <key>npc_ani_91501_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,149},{37,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,70}}</string>
    <key>sourceSize</key>
    <string>{37,70}</string>
   </dict>
   <key>npc_ani_91501_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{888,311},{45,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,70}}</string>
    <key>sourceSize</key>
    <string>{45,70}</string>
   </dict>
   <key>npc_ani_91501_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,223},{57,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,69}}</string>
    <key>sourceSize</key>
    <string>{57,69}</string>
   </dict>
   <key>npc_ani_91501_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,273},{51,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,69}}</string>
    <key>sourceSize</key>
    <string>{51,69}</string>
   </dict>
   <key>npc_ani_91501_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{139,344},{47,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,55}}</string>
    <key>sourceSize</key>
    <string>{47,55}</string>
   </dict>
   <key>npc_ani_91501_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{549,341},{44,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,68}}</string>
    <key>sourceSize</key>
    <string>{44,68}</string>
   </dict>
   <key>npc_ani_91501_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{595,335},{61,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,61}}</string>
    <key>sourceSize</key>
    <string>{61,61}</string>
   </dict>
   <key>npc_ani_91501_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{733,168},{37,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,70}}</string>
    <key>sourceSize</key>
    <string>{37,70}</string>
   </dict>
   <key>npc_ani_91501_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{893,168},{45,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,70}}</string>
    <key>sourceSize</key>
    <string>{45,70}</string>
   </dict>
   <key>npc_ani_91501_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{888,240},{49,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,69}}</string>
    <key>sourceSize</key>
    <string>{49,69}</string>
   </dict>
   <key>npc_ani_91501_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,249},{37,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,8}}</string>
    <key>sourceSize</key>
    <string>{37,8}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>npc_ani_91501.png</string>
   <key>textureFileName</key>
   <string>npc_ani_91501.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>