<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pvp_seize_soldier__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,39},{35,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,50}}</string>
        <key>sourceSize</key>
        <string>{35,50}</string>
      </dict>
      <key>pvp_seize_soldier__26.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,26},{35,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,50}}</string>
        <key>sourceSize</key>
        <string>{35,50}</string>
      </dict>
      <key>pvp_seize_soldier__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,26},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>pvp_seize_soldier__50.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,26},{74,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,24}}</string>
        <key>sourceSize</key>
        <string>{74,24}</string>
      </dict>
      <key>pvp_seize_soldier__49.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{121,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,24}}</string>
        <key>sourceSize</key>
        <string>{121,24}</string>
      </dict>
      <key>pvp_seize_soldier__48.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{96,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,24}}</string>
        <key>sourceSize</key>
        <string>{96,24}</string>
      </dict>
      <key>pvp_seize_soldier__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,26},{32,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,36}}</string>
        <key>sourceSize</key>
        <string>{32,36}</string>
      </dict>
      <key>pvp_seize_soldier__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{32,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,37}}</string>
        <key>sourceSize</key>
        <string>{32,37}</string>
      </dict>
      <key>pvp_seize_soldier__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,64},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>pvp_seize_soldier__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,78},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>pvp_seize_soldier__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,78},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>pvp_seize_soldier__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,90},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>pvp_seize_soldier__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,91},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>pvp_seize_soldier__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,52},{35,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,37}}</string>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>pvp_seize_soldier__3.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,52},{35,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,36}}</string>
        <key>sourceSize</key>
        <string>{35,36}</string>
      </dict>
      <key>pvp_seize_soldier__2.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,91},{22,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,29}}</string>
        <key>sourceSize</key>
        <string>{22,29}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>pvp_seize_soldier.png</string>
      <key>textureFileName</key>
      <string>pvp_seize_soldier.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>