<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Stoning_vehicles_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,75},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>Stoning_vehicles_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>Stoning_vehicles_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,0},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>Stoning_vehicles_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>Stoning_vehicles_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,38},{23,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,36}}</string>
        <key>sourceSize</key>
        <string>{23,36}</string>
      </dict>
      <key>Stoning_vehicles_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,47},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>Stoning_vehicles_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,37},{23,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,36}}</string>
        <key>sourceSize</key>
        <string>{23,36}</string>
      </dict>
      <key>Stoning_vehicles_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,0},{30,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,35}}</string>
        <key>sourceSize</key>
        <string>{30,35}</string>
      </dict>
      <key>Stoning_vehicles_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{33,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,45}}</string>
        <key>sourceSize</key>
        <string>{33,45}</string>
      </dict>
      <key>Stoning_vehicles_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,76},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>Stoning_vehicles_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,38},{23,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,36}}</string>
        <key>sourceSize</key>
        <string>{23,36}</string>
      </dict>
      <key>Stoning_vehicles_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,76},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Stoning_vehicles.png</string>
      <key>textureFileName</key>
      <string>Stoning_vehicles.png</string>
      <key>size</key>
      <string>{128,128}</string>
    </dict>
  </dict>
</plist>