<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changan_huo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,251},{79,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{79,84}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>changan_huo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,399},{79,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{79,84}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>changan_huo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,313},{79,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{79,84}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>changan_huo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{79,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{79,84}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>changan_huo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{79,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{79,84}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>changan_huo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,176},{79,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{79,84}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>changan_huo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,170},{79,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{79,84}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>changan_huo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,89},{79,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{79,84}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>changan_kiki_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{85,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{85,89}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>changan_kiki_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,171},{85,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{85,89}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>changan_kiki_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,89},{85,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{85,89}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>changan_kiki_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{85,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{85,89}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>changan_kiki_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{85,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{85,89}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>changan_kiki_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,84},{85,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{85,89}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>changan_kiki_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{85,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{85,89}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>changan_kiki_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{85,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{85,89}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>changan_kkiuu.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{128,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>changan_ll9o8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,48}}</string>
                <key>sourceSize</key>
                <string>{139,52}</string>
            </dict>
            <key>changan_mmm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,92},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{43,36}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
            <key>changan_mmm_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,52},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{45,38}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
            <key>changan_mmm_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,168},{35,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{35,34}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
            <key>changan_mmm_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,130},{39,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{39,36}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
            <key>changan_mmm_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,84},{41,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{41,36}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changan_huo.png</string>
            <key>size</key>
            <string>{453,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56b65a42d12b4460629e41ab0801e094$</string>
            <key>textureFileName</key>
            <string>changan_huo.png</string>
        </dict>
    </dict>
</plist>
