<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_decor2_02_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,206},{88,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,44}}</string>
        <key>sourceSize</key>
        <string>{88,44}</string>
      </dict>
      <key>hero_decor2_02_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,208},{88,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,44}}</string>
        <key>sourceSize</key>
        <string>{88,44}</string>
      </dict>
      <key>hero_decor2_02_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,254},{88,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,38}}</string>
        <key>sourceSize</key>
        <string>{88,38}</string>
      </dict>
      <key>hero_decor2_02_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{84,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,58}}</string>
        <key>sourceSize</key>
        <string>{84,58}</string>
      </dict>
      <key>hero_decor2_02_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,60},{87,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,53}}</string>
        <key>sourceSize</key>
        <string>{87,53}</string>
      </dict>
      <key>hero_decor2_02_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,163},{93,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,43}}</string>
        <key>sourceSize</key>
        <string>{93,43}</string>
      </dict>
      <key>hero_decor2_02_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,293},{90,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,36}}</string>
        <key>sourceSize</key>
        <string>{90,36}</string>
      </dict>
      <key>hero_decor2_02_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{85,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,49}}</string>
        <key>sourceSize</key>
        <string>{85,49}</string>
      </dict>
      <key>hero_decor2_02_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,252},{89,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,39}}</string>
        <key>sourceSize</key>
        <string>{89,39}</string>
      </dict>
      <key>hero_decor2_02_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,115},{87,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,50}}</string>
        <key>sourceSize</key>
        <string>{87,50}</string>
      </dict>
      <key>hero_decor2_02_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{81,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,63}}</string>
        <key>sourceSize</key>
        <string>{81,63}</string>
      </dict>
      <key>hero_decor2_02_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,115},{93,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,46}}</string>
        <key>sourceSize</key>
        <string>{93,46}</string>
      </dict>
      <key>hero_decor2_02_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,167},{96,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,37}}</string>
        <key>sourceSize</key>
        <string>{96,37}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_decor2_02.png</string>
      <key>textureFileName</key>
      <string>hero_decor2_02.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>