<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_decor2_04_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,141},{33,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,28}}</string>
        <key>sourceSize</key>
        <string>{33,28}</string>
      </dict>
      <key>hero_decor2_04_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,170},{58,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,24}}</string>
        <key>sourceSize</key>
        <string>{58,24}</string>
      </dict>
      <key>hero_decor2_04_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,141},{42,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,46}}</string>
        <key>sourceSize</key>
        <string>{42,46}</string>
      </dict>
      <key>hero_decor2_04_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,137},{30,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,40}}</string>
        <key>sourceSize</key>
        <string>{30,40}</string>
      </dict>
      <key>hero_decor2_04_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,137},{73,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,31}}</string>
        <key>sourceSize</key>
        <string>{73,31}</string>
      </dict>
      <key>hero_decor2_04_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,56},{71,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,67}}</string>
        <key>sourceSize</key>
        <string>{71,67}</string>
      </dict>
      <key>hero_decor2_04_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,125},{56,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,52}}</string>
        <key>sourceSize</key>
        <string>{56,52}</string>
      </dict>
      <key>hero_decor2_04_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,92},{80,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,47}}</string>
        <key>sourceSize</key>
        <string>{80,47}</string>
      </dict>
      <key>hero_decor2_04_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,65},{66,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,70}}</string>
        <key>sourceSize</key>
        <string>{66,70}</string>
      </dict>
      <key>hero_decor2_04_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{52,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,63}}</string>
        <key>sourceSize</key>
        <string>{52,63}</string>
      </dict>
      <key>hero_decor2_04_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{96,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,54}}</string>
        <key>sourceSize</key>
        <string>{96,54}</string>
      </dict>
      <key>hero_decor2_04_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{94,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,90}}</string>
        <key>sourceSize</key>
        <string>{94,90}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_decor2_04.png</string>
      <key>textureFileName</key>
      <string>hero_decor2_04.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>