<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_decor2_03_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,0},{34,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,52}}</string>
        <key>sourceSize</key>
        <string>{34,52}</string>
      </dict>
      <key>hero_decor2_03_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{34,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,53}}</string>
        <key>sourceSize</key>
        <string>{34,53}</string>
      </dict>
      <key>hero_decor2_03_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,56},{29,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,51}}</string>
        <key>sourceSize</key>
        <string>{29,51}</string>
      </dict>
      <key>hero_decor2_03_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,106},{26,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,49}}</string>
        <key>sourceSize</key>
        <string>{26,49}</string>
      </dict>
      <key>hero_decor2_03_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,0},{33,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,54}}</string>
        <key>sourceSize</key>
        <string>{33,54}</string>
      </dict>
      <key>hero_decor2_03_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,54},{31,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,50}}</string>
        <key>sourceSize</key>
        <string>{31,50}</string>
      </dict>
      <key>hero_decor2_03_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,55},{30,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,51}}</string>
        <key>sourceSize</key>
        <string>{30,51}</string>
      </dict>
      <key>hero_decor2_03_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,106},{28,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,47}}</string>
        <key>sourceSize</key>
        <string>{28,47}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_decor2_03.png</string>
      <key>textureFileName</key>
      <string>hero_decor2_03.png</string>
      <key>size</key>
      <string>{128,256}</string>
    </dict>
  </dict>
</plist>