<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_decor2_05_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,128},{30,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,41}}</string>
        <key>sourceSize</key>
        <string>{30,41}</string>
      </dict>
      <key>hero_decor2_05_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,157},{30,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,41}}</string>
        <key>sourceSize</key>
        <string>{30,41}</string>
      </dict>
      <key>hero_decor2_05_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,156},{46,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,39}}</string>
        <key>sourceSize</key>
        <string>{46,39}</string>
      </dict>
      <key>hero_decor2_05_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,157},{44,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,38}}</string>
        <key>sourceSize</key>
        <string>{44,38}</string>
      </dict>
      <key>hero_decor2_05_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,175},{42,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,28}}</string>
        <key>sourceSize</key>
        <string>{42,28}</string>
      </dict>
      <key>hero_decor2_05_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>hero_decor2_05_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,41},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>hero_decor2_05_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,23},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>hero_decor2_05_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,102},{51,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{51,53}</string>
      </dict>
      <key>hero_decor2_05_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,102},{56,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,52}}</string>
        <key>sourceSize</key>
        <string>{56,52}</string>
      </dict>
      <key>hero_decor2_05_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{47,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,49}}</string>
        <key>sourceSize</key>
        <string>{47,49}</string>
      </dict>
      <key>hero_decor2_05_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,128},{42,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,45}}</string>
        <key>sourceSize</key>
        <string>{42,45}</string>
      </dict>
      <key>hero_decor2_05_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,126}}</string>
        <key>sourceSize</key>
        <string>{126,126}</string>
      </dict>
      <key>hero_decor2_05_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{96,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,100}}</string>
        <key>sourceSize</key>
        <string>{96,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_decor2_05.png</string>
      <key>textureFileName</key>
      <string>hero_decor2_05.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>