<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>map12_decor_1__21.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{114,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,135}}</string>
    <key>sourceSize</key>
    <string>{114,135}</string>
   </dict>
   <key>map12_decor_1__20.png</key>
   <dict>
    <key>frame</key>
    <string>{{116,0},{111,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,133}}</string>
    <key>sourceSize</key>
    <string>{111,133}</string>
   </dict>
   <key>map12_decor_1__19.png</key>
   <dict>
    <key>frame</key>
    <string>{{229,133},{108,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,133}}</string>
    <key>sourceSize</key>
    <string>{108,133}</string>
   </dict>
   <key>map12_decor_1__18.png</key>
   <dict>
    <key>frame</key>
    <string>{{341,0},{109,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,132}}</string>
    <key>sourceSize</key>
    <string>{109,132}</string>
   </dict>
   <key>map12_decor_1__17.png</key>
   <dict>
    <key>frame</key>
    <string>{{229,0},{110,131}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,131}}</string>
    <key>sourceSize</key>
    <string>{110,131}</string>
   </dict>
   <key>map12_decor_1__16.png</key>
   <dict>
    <key>frame</key>
    <string>{{339,134},{109,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,130}}</string>
    <key>sourceSize</key>
    <string>{109,130}</string>
   </dict>
   <key>map12_decor_1__1.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,0},{44,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,38}}</string>
    <key>sourceSize</key>
    <string>{44,38}</string>
   </dict>
   <key>map12_decor_1__15.png</key>
   <dict>
    <key>frame</key>
    <string>{{116,135},{84,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,53}}</string>
    <key>sourceSize</key>
    <string>{84,53}</string>
   </dict>
   <key>map12_decor_1__50.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,120},{19,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,22}}</string>
    <key>sourceSize</key>
    <string>{19,22}</string>
   </dict>
   <key>map12_decor_1__49.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,92},{22,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,26}}</string>
    <key>sourceSize</key>
    <string>{22,26}</string>
   </dict>
   <key>map12_decor_1__48.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,116},{23,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,24}}</string>
    <key>sourceSize</key>
    <string>{23,24}</string>
   </dict>
   <key>map12_decor_1__47.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,66},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,24}}</string>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>map12_decor_1__46.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,62},{31,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,25}}</string>
    <key>sourceSize</key>
    <string>{31,25}</string>
   </dict>
   <key>map12_decor_1__45.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,40},{39,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,20}}</string>
    <key>sourceSize</key>
    <string>{39,20}</string>
   </dict>
   <key>map12_decor_1__39.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,150},{7,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,10}}</string>
    <key>sourceSize</key>
    <string>{7,10}</string>
   </dict>
   <key>map12_decor_1__38.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,137},{7,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,11}}</string>
    <key>sourceSize</key>
    <string>{7,11}</string>
   </dict>
   <key>map12_decor_1__37.png</key>
   <dict>
    <key>frame</key>
    <string>{{501,92},{8,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,12}}</string>
    <key>sourceSize</key>
    <string>{8,12}</string>
   </dict>
   <key>map12_decor_1__36.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,0},{10,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,13}}</string>
    <key>sourceSize</key>
    <string>{10,13}</string>
   </dict>
   <key>map12_decor_1__35.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,27},{9,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,12}}</string>
    <key>sourceSize</key>
    <string>{9,12}</string>
   </dict>
   <key>map12_decor_1__44.png</key>
   <dict>
    <key>frame</key>
    <string>{{493,41},{16,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,23}}</string>
    <key>sourceSize</key>
    <string>{16,23}</string>
   </dict>
   <key>map12_decor_1__43.png</key>
   <dict>
    <key>frame</key>
    <string>{{85,137},{16,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,21}}</string>
    <key>sourceSize</key>
    <string>{16,21}</string>
   </dict>
   <key>map12_decor_1__42.png</key>
   <dict>
    <key>frame</key>
    <string>{{472,144},{18,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,18}}</string>
    <key>sourceSize</key>
    <string>{18,18}</string>
   </dict>
   <key>map12_decor_1__41.png</key>
   <dict>
    <key>frame</key>
    <string>{{501,106},{9,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,10}}</string>
    <key>sourceSize</key>
    <string>{9,10}</string>
   </dict>
   <key>map12_decor_1__40.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,15},{11,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,10}}</string>
    <key>sourceSize</key>
    <string>{11,10}</string>
   </dict>
   <key>map12_decor_1__34.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,132},{8,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,10}}</string>
    <key>sourceSize</key>
    <string>{8,10}</string>
   </dict>
   <key>map12_decor_1__33.png</key>
   <dict>
    <key>frame</key>
    <string>{{10,154},{7,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,9}}</string>
    <key>sourceSize</key>
    <string>{7,9}</string>
   </dict>
   <key>map12_decor_1__32.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,89},{23,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,25}}</string>
    <key>sourceSize</key>
    <string>{23,25}</string>
   </dict>
   <key>map12_decor_1__31.png</key>
   <dict>
    <key>frame</key>
    <string>{{64,137},{19,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,21}}</string>
    <key>sourceSize</key>
    <string>{19,21}</string>
   </dict>
   <key>map12_decor_1__30.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,144},{17,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,19}}</string>
    <key>sourceSize</key>
    <string>{17,19}</string>
   </dict>
   <key>map12_decor_1__29.png</key>
   <dict>
    <key>frame</key>
    <string>{{34,153},{13,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,16}}</string>
    <key>sourceSize</key>
    <string>{13,16}</string>
   </dict>
   <key>map12_decor_1__28.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,154},{8,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,8}}</string>
    <key>sourceSize</key>
    <string>{8,8}</string>
   </dict>
   <key>map12_decor_1__27.png</key>
   <dict>
    <key>frame</key>
    <string>{{49,153},{13,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,7}}</string>
    <key>sourceSize</key>
    <string>{13,7}</string>
   </dict>
   <key>map12_decor_1__26.png</key>
   <dict>
    <key>frame</key>
    <string>{{34,137},{28,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,14}}</string>
    <key>sourceSize</key>
    <string>{28,14}</string>
   </dict>
   <key>map12_decor_1__25.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,137},{32,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,15}}</string>
    <key>sourceSize</key>
    <string>{32,15}</string>
   </dict>
   <key>map12_decor_1__24.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,135},{25,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,17}}</string>
    <key>sourceSize</key>
    <string>{25,17}</string>
   </dict>
   <key>map12_decor_1__23.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,142},{20,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,16}}</string>
    <key>sourceSize</key>
    <string>{20,16}</string>
   </dict>
   <key>map12_decor_1__22.png</key>
   <dict>
    <key>frame</key>
    <string>{{501,118},{7,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,12}}</string>
    <key>sourceSize</key>
    <string>{7,12}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>map12_decor_1.png</string>
   <key>textureFileName</key>
   <string>map12_decor_1.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>