<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panda_friend_1.png</key>
            <dict>
                <key>height</key>
                <integer>16</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>16</integer>
                <key>originalWidth</key>
                <integer>24</integer>
                <key>width</key>
                <integer>24</integer>
                <key>x</key>
                <integer>173</integer>
                <key>y</key>
                <integer>79</integer>
            </dict>
            <key>panda_friend_10.png</key>
            <dict>
                <key>height</key>
                <integer>19</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>19</integer>
                <key>originalWidth</key>
                <integer>21</integer>
                <key>width</key>
                <integer>21</integer>
                <key>x</key>
                <integer>79</integer>
                <key>y</key>
                <integer>117</integer>
            </dict>
            <key>panda_friend_11.png</key>
            <dict>
                <key>height</key>
                <integer>21</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>21</integer>
                <key>originalWidth</key>
                <integer>20</integer>
                <key>width</key>
                <integer>20</integer>
                <key>x</key>
                <integer>173</integer>
                <key>y</key>
                <integer>97</integer>
            </dict>
            <key>panda_friend_12.png</key>
            <dict>
                <key>height</key>
                <integer>29</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>29</integer>
                <key>originalWidth</key>
                <integer>31</integer>
                <key>width</key>
                <integer>31</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>349</integer>
            </dict>
            <key>panda_friend_13.png</key>
            <dict>
                <key>height</key>
                <integer>26</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>26</integer>
                <key>originalWidth</key>
                <integer>38</integer>
                <key>width</key>
                <integer>38</integer>
                <key>x</key>
                <integer>152</integer>
                <key>y</key>
                <integer>263</integer>
            </dict>
            <key>panda_friend_14.png</key>
            <dict>
                <key>height</key>
                <integer>15</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>15</integer>
                <key>originalWidth</key>
                <integer>23</integer>
                <key>width</key>
                <integer>23</integer>
                <key>x</key>
                <integer>79</integer>
                <key>y</key>
                <integer>74</integer>
            </dict>
            <key>panda_friend_15.png</key>
            <dict>
                <key>height</key>
                <integer>25</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>25</integer>
                <key>originalWidth</key>
                <integer>38</integer>
                <key>width</key>
                <integer>38</integer>
                <key>x</key>
                <integer>142</integer>
                <key>y</key>
                <integer>291</integer>
            </dict>
            <key>panda_friend_16.png</key>
            <dict>
                <key>height</key>
                <integer>70</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>70</integer>
                <key>originalWidth</key>
                <integer>100</integer>
                <key>width</key>
                <integer>100</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>panda_friend_17.png</key>
            <dict>
                <key>height</key>
                <integer>43</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>43</integer>
                <key>originalWidth</key>
                <integer>56</integer>
                <key>width</key>
                <integer>56</integer>
                <key>x</key>
                <integer>195</integer>
                <key>y</key>
                <integer>116</integer>
            </dict>
            <key>panda_friend_18.png</key>
            <dict>
                <key>height</key>
                <integer>36</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>36</integer>
                <key>originalWidth</key>
                <integer>54</integer>
                <key>width</key>
                <integer>54</integer>
                <key>x</key>
                <integer>199</integer>
                <key>y</key>
                <integer>40</integer>
            </dict>
            <key>panda_friend_19.png</key>
            <dict>
                <key>height</key>
                <integer>14</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>14</integer>
                <key>originalWidth</key>
                <integer>12</integer>
                <key>width</key>
                <integer>12</integer>
                <key>x</key>
                <integer>79</integer>
                <key>y</key>
                <integer>138</integer>
            </dict>
            <key>panda_friend_2.png</key>
            <dict>
                <key>height</key>
                <integer>24</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>26</integer>
                <key>originalWidth</key>
                <integer>21</integer>
                <key>width</key>
                <integer>21</integer>
                <key>x</key>
                <integer>79</integer>
                <key>y</key>
                <integer>91</integer>
            </dict>
            <key>panda_friend_3.png</key>
            <dict>
                <key>height</key>
                <integer>28</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>28</integer>
                <key>originalWidth</key>
                <integer>25</integer>
                <key>width</key>
                <integer>25</integer>
                <key>x</key>
                <integer>86</integer>
                <key>y</key>
                <integer>353</integer>
            </dict>
            <key>panda_friend_4.png</key>
            <dict>
                <key>height</key>
                <integer>46</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>48</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>193</integer>
                <key>y</key>
                <integer>262</integer>
            </dict>
            <key>panda_friend_5.png</key>
            <dict>
                <key>height</key>
                <integer>44</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>44</integer>
                <key>originalWidth</key>
                <integer>38</integer>
                <key>width</key>
                <integer>38</integer>
                <key>x</key>
                <integer>153</integer>
                <key>y</key>
                <integer>217</integer>
            </dict>
            <key>panda_friend_6.png</key>
            <dict>
                <key>height</key>
                <integer>35</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>35</integer>
                <key>originalWidth</key>
                <integer>31</integer>
                <key>width</key>
                <integer>31</integer>
                <key>x</key>
                <integer>53</integer>
                <key>y</key>
                <integer>339</integer>
            </dict>
            <key>panda_friend_7.png</key>
            <dict>
                <key>height</key>
                <integer>36</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>36</integer>
                <key>originalWidth</key>
                <integer>44</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>55</integer>
                <key>y</key>
                <integer>189</integer>
            </dict>
            <key>panda_friend_8.png</key>
            <dict>
                <key>height</key>
                <integer>44</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>44</integer>
                <key>originalWidth</key>
                <integer>34</integer>
                <key>width</key>
                <integer>34</integer>
                <key>x</key>
                <integer>182</integer>
                <key>y</key>
                <integer>310</integer>
            </dict>
            <key>panda_friend_9.png</key>
            <dict>
                <key>height</key>
                <integer>24</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>24</integer>
                <key>originalWidth</key>
                <integer>16</integer>
                <key>width</key>
                <integer>16</integer>
                <key>x</key>
                <integer>173</integer>
                <key>y</key>
                <integer>120</integer>
            </dict>
            <key>panda_posture_1.png</key>
            <dict>
                <key>height</key>
                <integer>35</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>35</integer>
                <key>originalWidth</key>
                <integer>36</integer>
                <key>width</key>
                <integer>36</integer>
                <key>x</key>
                <integer>156</integer>
                <key>y</key>
                <integer>146</integer>
            </dict>
            <key>panda_posture_10.png</key>
            <dict>
                <key>height</key>
                <integer>36</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>36</integer>
                <key>originalWidth</key>
                <integer>55</integer>
                <key>width</key>
                <integer>55</integer>
                <key>x</key>
                <integer>199</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>panda_posture_11.png</key>
            <dict>
                <key>height</key>
                <integer>25</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>25</integer>
                <key>originalWidth</key>
                <integer>34</integer>
                <key>width</key>
                <integer>34</integer>
                <key>x</key>
                <integer>218</integer>
                <key>y</key>
                <integer>340</integer>
            </dict>
            <key>panda_posture_12.png</key>
            <dict>
                <key>height</key>
                <integer>53</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>53</integer>
                <key>originalWidth</key>
                <integer>51</integer>
                <key>width</key>
                <integer>51</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>147</integer>
            </dict>
            <key>panda_posture_13.png</key>
            <dict>
                <key>height</key>
                <integer>18</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>18</integer>
                <key>originalWidth</key>
                <integer>34</integer>
                <key>width</key>
                <integer>34</integer>
                <key>x</key>
                <integer>142</integer>
                <key>y</key>
                <integer>318</integer>
            </dict>
            <key>panda_posture_14.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>36</integer>
                <key>width</key>
                <integer>36</integer>
                <key>x</key>
                <integer>156</integer>
                <key>y</key>
                <integer>183</integer>
            </dict>
            <key>panda_posture_2.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>44</integer>
                <key>originalWidth</key>
                <integer>29</integer>
                <key>width</key>
                <integer>29</integer>
                <key>x</key>
                <integer>131</integer>
                <key>y</key>
                <integer>338</integer>
            </dict>
            <key>panda_posture_3.png</key>
            <dict>
                <key>height</key>
                <integer>29</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>29</integer>
                <key>originalWidth</key>
                <integer>33</integer>
                <key>width</key>
                <integer>33</integer>
                <key>x</key>
                <integer>96</integer>
                <key>y</key>
                <integer>322</integer>
            </dict>
            <key>panda_posture_4.png</key>
            <dict>
                <key>height</key>
                <integer>28</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>28</integer>
                <key>originalWidth</key>
                <integer>34</integer>
                <key>width</key>
                <integer>34</integer>
                <key>x</key>
                <integer>218</integer>
                <key>y</key>
                <integer>310</integer>
            </dict>
            <key>panda_posture_5.png</key>
            <dict>
                <key>height</key>
                <integer>75</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>75</integer>
                <key>originalWidth</key>
                <integer>93</integer>
                <key>width</key>
                <integer>93</integer>
                <key>x</key>
                <integer>104</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>panda_posture_6.png</key>
            <dict>
                <key>height</key>
                <integer>38</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>38</integer>
                <key>originalWidth</key>
                <integer>49</integer>
                <key>width</key>
                <integer>49</integer>
                <key>x</key>
                <integer>193</integer>
                <key>y</key>
                <integer>222</integer>
            </dict>
            <key>panda_posture_7.png</key>
            <dict>
                <key>height</key>
                <integer>52</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>52</integer>
                <key>originalWidth</key>
                <integer>67</integer>
                <key>width</key>
                <integer>67</integer>
                <key>x</key>
                <integer>104</integer>
                <key>y</key>
                <integer>79</integer>
            </dict>
            <key>panda_posture_8.png</key>
            <dict>
                <key>height</key>
                <integer>61</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>63</integer>
                <key>originalWidth</key>
                <integer>49</integer>
                <key>width</key>
                <integer>49</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>286</integer>
            </dict>
            <key>panda_posture_9.png</key>
            <dict>
                <key>height</key>
                <integer>71</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>71</integer>
                <key>originalWidth</key>
                <integer>75</integer>
                <key>width</key>
                <integer>75</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>74</integer>
            </dict>
            <key>panda_props_1.png</key>
            <dict>
                <key>height</key>
                <integer>40</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>40</integer>
                <key>originalWidth</key>
                <integer>41</integer>
                <key>width</key>
                <integer>41</integer>
                <key>x</key>
                <integer>99</integer>
                <key>y</key>
                <integer>280</integer>
            </dict>
            <key>panda_props_10.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>60</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>101</integer>
                <key>y</key>
                <integer>193</integer>
            </dict>
            <key>panda_props_11.png</key>
            <dict>
                <key>height</key>
                <integer>58</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>60</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>52</integer>
                <key>x</key>
                <integer>102</integer>
                <key>y</key>
                <integer>133</integer>
            </dict>
            <key>panda_props_12.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>60</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>202</integer>
            </dict>
            <key>panda_props_2.png</key>
            <dict>
                <key>height</key>
                <integer>48</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>48</integer>
                <key>originalWidth</key>
                <integer>43</integer>
                <key>width</key>
                <integer>43</integer>
                <key>x</key>
                <integer>54</integer>
                <key>y</key>
                <integer>257</integer>
            </dict>
            <key>panda_props_3.png</key>
            <dict>
                <key>height</key>
                <integer>59</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>59</integer>
                <key>originalWidth</key>
                <integer>51</integer>
                <key>width</key>
                <integer>51</integer>
                <key>x</key>
                <integer>194</integer>
                <key>y</key>
                <integer>161</integer>
            </dict>
            <key>panda_props_4.png</key>
            <dict>
                <key>height</key>
                <integer>30</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>34</integer>
                <key>originalWidth</key>
                <integer>43</integer>
                <key>width</key>
                <integer>41</integer>
                <key>x</key>
                <integer>53</integer>
                <key>y</key>
                <integer>307</integer>
            </dict>
            <key>panda_props_5.png</key>
            <dict>
                <key>height</key>
                <integer>28</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>30</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>54</integer>
                <key>y</key>
                <integer>227</integer>
            </dict>
            <key>panda_props_6.png</key>
            <dict>
                <key>height</key>
                <integer>24</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>24</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>260</integer>
            </dict>
            <key>panda_props_7.png</key>
            <dict>
                <key>height</key>
                <integer>33</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>33</integer>
                <key>originalWidth</key>
                <integer>45</integer>
                <key>width</key>
                <integer>45</integer>
                <key>x</key>
                <integer>55</integer>
                <key>y</key>
                <integer>154</integer>
            </dict>
            <key>panda_props_8.png</key>
            <dict>
                <key>height</key>
                <integer>27</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>27</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>100</integer>
                <key>y</key>
                <integer>251</integer>
            </dict>
            <key>panda_props_9.png</key>
            <dict>
                <key>height</key>
                <integer>36</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>36</integer>
                <key>originalWidth</key>
                <integer>53</integer>
                <key>width</key>
                <integer>53</integer>
                <key>x</key>
                <integer>199</integer>
                <key>y</key>
                <integer>78</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>panda_posture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2754c609049e77821587ec33f690888:1/1$</string>
            <key>textureFileName</key>
            <string>panda_posture.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>512</integer>
            <key>width</key>
            <integer>256</integer>
        </dict>
    </dict>
</plist>
