<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_zy_jmkiki.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,27},{31,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>hero_zy_nhhjy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{77,77}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{77,77}}</string>
                <key>sourceSize</key>
                <string>{97,109}</string>
            </dict>
            <key>nng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,150},{49,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
            <key>nng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,193},{80,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{84,62}</string>
            </dict>
            <key>nng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{90,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,72}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
            <key>nng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{99,71}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{99,71}}</string>
                <key>sourceSize</key>
                <string>{101,89}</string>
            </dict>
            <key>nng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{99,94}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{99,94}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>nng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,98},{95,93}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{95,93}}</string>
                <key>sourceSize</key>
                <string>{119,107}</string>
            </dict>
            <key>nng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,83}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{103,83}}</string>
                <key>sourceSize</key>
                <string>{105,109}</string>
            </dict>
            <key>nng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,201},{78,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>nng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,98},{50,50}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,58}</string>
            </dict>
            <key>nng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{23,34}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{23,34}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_zy.png</string>
            <key>size</key>
            <string>{256,313}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2fb3fe44a8169beed426946ba38dd3e$</string>
            <key>textureFileName</key>
            <string>hero_zy.png</string>
        </dict>
    </dict>
</plist>
