<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{68,70}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,16},{68,70}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>arrow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,81},{56,64}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,18},{56,64}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>arrow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{58,70}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,15},{58,70}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>arrow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{58,74}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{58,74}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>arrow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,78}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{56,78}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>arrow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,74},{32,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,5}}</string>
                <key>sourceSize</key>
                <string>{34,7}</string>
            </dict>
            <key>arrow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,74},{16,3}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{16,3}}</string>
                <key>sourceSize</key>
                <string>{34,7}</string>
            </dict>
            <key>arrow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,147},{56,48}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,25},{56,48}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arrow.png</string>
            <key>size</key>
            <string>{124,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dd91198b84949a32ab0b968ab01f4c9$</string>
            <key>textureFileName</key>
            <string>arrow.png</string>
        </dict>
    </dict>
</plist>
