<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>born_ani_29021_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,333},{420,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{420,148}}</string>
        <key>sourceSize</key>
        <string>{420,148}</string>
      </dict>
      <key>born_ani_29021_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,107},{110,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,156}}</string>
        <key>sourceSize</key>
        <string>{110,156}</string>
      </dict>
      <key>born_ani_29021_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,0},{171,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{171,105}}</string>
        <key>sourceSize</key>
        <string>{171,105}</string>
      </dict>
      <key>born_ani_29021_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,265},{106,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,66}}</string>
        <key>sourceSize</key>
        <string>{106,66}</string>
      </dict>
      <key>born_ani_29021_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{313,313}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,313}}</string>
        <key>sourceSize</key>
        <string>{313,313}</string>
      </dict>
      <key>born_ani_29021_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,107},{64,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,45}}</string>
        <key>sourceSize</key>
        <string>{64,45}</string>
      </dict>
      <key>born_ani_29021_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,483},{420,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{420,138}}</string>
        <key>sourceSize</key>
        <string>{420,138}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>born_ani_29021.png</string>
      <key>textureFileName</key>
      <string>born_ani_29021.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>