<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buff_ani_31296_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,361},{158,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,162}}</string>
        <key>sourceSize</key>
        <string>{158,162}</string>
      </dict>
      <key>buff_ani_31296_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,366},{156,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,162}}</string>
        <key>sourceSize</key>
        <string>{156,162}</string>
      </dict>
      <key>buff_ani_31296_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,364},{156,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,164}}</string>
        <key>sourceSize</key>
        <string>{156,164}</string>
      </dict>
      <key>buff_ani_31296_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,361},{158,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,162}}</string>
        <key>sourceSize</key>
        <string>{158,162}</string>
      </dict>
      <key>buff_ani_31296_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,202},{158,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,162}}</string>
        <key>sourceSize</key>
        <string>{158,162}</string>
      </dict>
      <key>buff_ani_31296_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,202},{162,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,160}}</string>
        <key>sourceSize</key>
        <string>{162,160}</string>
      </dict>
      <key>buff_ani_31296_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,199},{166,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,160}}</string>
        <key>sourceSize</key>
        <string>{166,160}</string>
      </dict>
      <key>buff_ani_31296_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,199},{164,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,160}}</string>
        <key>sourceSize</key>
        <string>{164,160}</string>
      </dict>
      <key>hit_effect_xingshidun_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,199},{40,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,19}}</string>
        <key>sourceSize</key>
        <string>{40,19}</string>
      </dict>
      <key>hit_effect_xingshidun_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{192,202}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,202}}</string>
        <key>sourceSize</key>
        <string>{192,202}</string>
      </dict>
      <key>hit_effect_xingshidun_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,0},{195,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,200}}</string>
        <key>sourceSize</key>
        <string>{195,200}</string>
      </dict>
      <key>hit_effect_xingshidun_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,0},{195,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,200}}</string>
        <key>sourceSize</key>
        <string>{195,200}</string>
      </dict>
      <key>hit_effect_xingshidun_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,0},{200,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,197}}</string>
        <key>sourceSize</key>
        <string>{200,197}</string>
      </dict>
      <key>hit_effect_xingshidun_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{205,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{205,197}}</string>
        <key>sourceSize</key>
        <string>{205,197}</string>
      </dict>
      <key>hit_effect_xingshidun_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,0},{202,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{202,197}}</string>
        <key>sourceSize</key>
        <string>{202,197}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buff_ani_31296.png</string>
      <key>textureFileName</key>
      <string>buff_ani_31296.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>