<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_ani_31021_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{58,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>buff_ani_31021_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{66,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,81}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>buff_ani_31021_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,112},{23,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>buff_ani_31021_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{35,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{35,82}}</string>
                <key>sourceSize</key>
                <string>{43,84}</string>
            </dict>
            <key>buff_ani_31021_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,154},{29,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>buff_ani_31021_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,93},{35,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{35,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>buff_ani_31021_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{32,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>buff_ani_31021_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,154},{34,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,20}</string>
            </dict>
            <key>buff_ani_31021_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,198},{34,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,53}}</string>
                <key>sourceSize</key>
                <string>{34,53}</string>
            </dict>
            <key>buff_ani_31021_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,89}}</string>
                <key>sourceSize</key>
                <string>{125,89}</string>
            </dict>
            <key>buff_ani_31021_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,25},{83,72}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,72}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
            <key>buff_ani_31021_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,190},{52,61}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>buff_ani_31021_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,58},{52,38}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,38}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>buff_ani_31021_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{91,21}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{91,21}}</string>
                <key>sourceSize</key>
                <string>{111,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_ani_31021.png</string>
            <key>size</key>
            <string>{256,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7580d45f9d473fdad3f53a8d261ce615$</string>
            <key>textureFileName</key>
            <string>buff_ani_31021.png</string>
        </dict>
    </dict>
</plist>
