<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>buff_ani_56074_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{418,650}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{418,650}}</string>
    <key>sourceSize</key>
    <string>{418,650}</string>
   </dict>
   <key>buff_ani_56074_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,0},{32,208}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,208}}</string>
    <key>sourceSize</key>
    <string>{32,208}</string>
   </dict>
   <key>buff_ani_56074_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{534,0},{12,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,12}}</string>
    <key>sourceSize</key>
    <string>{12,12}</string>
   </dict>
   <key>buff_ani_56074_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{454,0},{78,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,78}}</string>
    <key>sourceSize</key>
    <string>{78,78}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>buff_ani_56074.png</string>
   <key>textureFileName</key>
   <string>buff_ani_56074.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>