<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buff_ani_51445_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{188,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,58}}</string>
        <key>sourceSize</key>
        <string>{188,58}</string>
      </dict>
      <key>buff_ani_51445_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,60},{184,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,62}}</string>
        <key>sourceSize</key>
        <string>{184,62}</string>
      </dict>
      <key>buff_ani_51445_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,149},{116,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,54}}</string>
        <key>sourceSize</key>
        <string>{116,54}</string>
      </dict>
      <key>buff_ani_51445_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,124},{58,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,69}}</string>
        <key>sourceSize</key>
        <string>{58,69}</string>
      </dict>
      <key>buff_ani_51445_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,124},{116,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,69}}</string>
        <key>sourceSize</key>
        <string>{116,69}</string>
      </dict>
      <key>buff_ani_51445_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,82},{152,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,65}}</string>
        <key>sourceSize</key>
        <string>{152,65}</string>
      </dict>
      <key>buff_ani_51445_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{134,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,80}}</string>
        <key>sourceSize</key>
        <string>{134,80}</string>
      </dict>
      <key>buff_ani_51445_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{170,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,170}}</string>
        <key>sourceSize</key>
        <string>{170,170}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buff_ani_51445.png</string>
      <key>textureFileName</key>
      <string>buff_ani_51445.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>