<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31151_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{943,60},{18,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,36}}</string>
        <key>sourceSize</key>
        <string>{18,36}</string>
      </dict>
      <key>skill_ani_31151_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_31151_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,261},{178,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,129}}</string>
        <key>sourceSize</key>
        <string>{178,129}</string>
      </dict>
      <key>skill_ani_31151_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{335,249}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,249}}</string>
        <key>sourceSize</key>
        <string>{335,249}</string>
      </dict>
      <key>skill_ani_31151_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,251},{243,221}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,221}}</string>
        <key>sourceSize</key>
        <string>{243,221}</string>
      </dict>
      <key>skill_ani_31151_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,261},{226,221}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,221}}</string>
        <key>sourceSize</key>
        <string>{226,221}</string>
      </dict>
      <key>skill_ani_31151_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,0},{264,259}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{264,259}}</string>
        <key>sourceSize</key>
        <string>{264,259}</string>
      </dict>
      <key>skill_ani_31151_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{304,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{304,320}}</string>
        <key>sourceSize</key>
        <string>{304,320}</string>
      </dict>
      <key>skill_ani_31151_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{943,0},{75,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,58}}</string>
        <key>sourceSize</key>
        <string>{75,58}</string>
      </dict>
      <key>skill_ani_31151_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{909,0},{32,181}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,181}}</string>
        <key>sourceSize</key>
        <string>{32,181}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buff_ani_51152.png</string>
      <key>textureFileName</key>
      <string>buff_ani_51152.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>