<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>buff_ani_12345_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,0},{88,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,101}}</string>
    <key>sourceSize</key>
    <string>{88,101}</string>
   </dict>
   <key>buff_ani_12345_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{88,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,103}}</string>
    <key>sourceSize</key>
    <string>{88,103}</string>
   </dict>
   <key>buff_ani_12345_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{180,0},{85,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,98}}</string>
    <key>sourceSize</key>
    <string>{85,98}</string>
   </dict>
   <key>buff_ani_12345_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,105},{80,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,52}}</string>
    <key>sourceSize</key>
    <string>{80,52}</string>
   </dict>
   <key>buff_ani_12345_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,103},{80,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,55}}</string>
    <key>sourceSize</key>
    <string>{80,55}</string>
   </dict>
   <key>buff_ani_12345_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,119},{80,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,52}}</string>
    <key>sourceSize</key>
    <string>{80,52}</string>
   </dict>
   <key>buff_ani_12345_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{262,120},{80,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,50}}</string>
    <key>sourceSize</key>
    <string>{80,50}</string>
   </dict>
   <key>buff_ani_12345_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,0},{80,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,58}}</string>
    <key>sourceSize</key>
    <string>{80,58}</string>
   </dict>
   <key>buff_ani_12345_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,60},{80,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,58}}</string>
    <key>sourceSize</key>
    <string>{80,58}</string>
   </dict>
   <key>buff_ani_12345_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,0},{80,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,58}}</string>
    <key>sourceSize</key>
    <string>{80,58}</string>
   </dict>
   <key>buff_ani_12345_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{180,100},{80,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,57}}</string>
    <key>sourceSize</key>
    <string>{80,57}</string>
   </dict>
   <key>buff_ani_12345_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,60},{80,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,57}}</string>
    <key>sourceSize</key>
    <string>{80,57}</string>
   </dict>
   <key>buff_ani_12345_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{431,0},{68,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,68}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>buff_ani_12345_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{431,70},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>buff_ani_12345.png</string>
   <key>textureFileName</key>
   <string>buff_ani_12345.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>