<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,141},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>buff_ani_ddef_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>buff_ani_ddef_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>buff_ani_ddef_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,235},{16,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>buff_ani_ddef_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,195},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>buff_ani_ddef_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>buff_ani_ddef_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,171},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>buff_ani_ddef_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,210},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>buff_ani_ddef_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>buff_ani_ddef_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,139},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>buff_ani_ddef_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,100},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>buff_ani_ddef_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,63},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>buff_ani_ddef_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>buff_ani_ddef_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,220},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>buff_ani_ddef_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,175},{18,28}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{18,28}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>buff_ani_ddef_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{29,34}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{29,34}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>buff_ani_ddef_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,100},{43,37}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{43,37}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>buff_ani_ddef_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{45,45}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{45,45}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>buff_ani_ddef_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{59,61}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>buff_ani_ddef_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,52},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>buff_ani_ddef_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,236},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_ani_ddef.png</string>
            <key>size</key>
            <string>{127,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4ba6eb52fef9c4b6e7e6307a885848c$</string>
            <key>textureFileName</key>
            <string>buff_ani_ddef.png</string>
        </dict>
    </dict>
</plist>
