<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_ani_1117_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,66}}</string>
                <key>sourceSize</key>
                <string>{37,66}</string>
            </dict>
            <key>buff_ani_1117_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,67},{22,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,45}}</string>
                <key>sourceSize</key>
                <string>{22,45}</string>
            </dict>
            <key>buff_ani_1117_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,70},{20,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,55}}</string>
                <key>sourceSize</key>
                <string>{20,55}</string>
            </dict>
            <key>buff_ani_1117_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,67},{20,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,58}}</string>
                <key>sourceSize</key>
                <string>{22,58}</string>
            </dict>
            <key>buff_ani_1117_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{23,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,60}}</string>
                <key>sourceSize</key>
                <string>{23,60}</string>
            </dict>
            <key>buff_ani_1117_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{20,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,55}}</string>
                <key>sourceSize</key>
                <string>{22,55}</string>
            </dict>
            <key>buff_ani_1117_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{22,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,63}}</string>
                <key>sourceSize</key>
                <string>{26,63}</string>
            </dict>
            <key>buff_ani_1117_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{23,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,63}}</string>
                <key>sourceSize</key>
                <string>{25,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_ani_1117.png</string>
            <key>size</key>
            <string>{115,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b9c8ed0c3d33c3043ce8f8fe594d8fa$</string>
            <key>textureFileName</key>
            <string>buff_ani_1117.png</string>
        </dict>
    </dict>
</plist>
