<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buff_ani_94501_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{35,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,46}}</string>
        <key>sourceSize</key>
        <string>{35,46}</string>
      </dict>
      <key>buff_ani_94501_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,0},{3,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,30}}</string>
        <key>sourceSize</key>
        <string>{3,30}</string>
      </dict>
      <key>buff_ani_94501_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{5,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,32}}</string>
        <key>sourceSize</key>
        <string>{5,32}</string>
      </dict>
      <key>buff_ani_94501_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{3,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,125}}</string>
        <key>sourceSize</key>
        <string>{3,125}</string>
      </dict>
      <key>buff_ani_94501_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{3,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,122}}</string>
        <key>sourceSize</key>
        <string>{3,122}</string>
      </dict>
      <key>buff_ani_94501_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{4,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,47}}</string>
        <key>sourceSize</key>
        <string>{4,47}</string>
      </dict>
      <key>buff_ani_94501_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{5,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,153}}</string>
        <key>sourceSize</key>
        <string>{5,153}</string>
      </dict>
      <key>buff_ani_94501_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{5,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,112}}</string>
        <key>sourceSize</key>
        <string>{5,112}</string>
      </dict>
      <key>buff_ani_94501_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{5,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,114}}</string>
        <key>sourceSize</key>
        <string>{5,114}</string>
      </dict>
      <key>buff_ani_94501_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{5,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,150}}</string>
        <key>sourceSize</key>
        <string>{5,150}</string>
      </dict>
      <key>buff_ani_94501_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{5,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,151}}</string>
        <key>sourceSize</key>
        <string>{5,151}</string>
      </dict>
      <key>buff_ani_94501_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{5,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,150}}</string>
        <key>sourceSize</key>
        <string>{5,150}</string>
      </dict>
      <key>buff_ani_94501_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{50,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,111}}</string>
        <key>sourceSize</key>
        <string>{50,111}</string>
      </dict>
      <key>buff_ani_94501_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,0},{50,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,111}}</string>
        <key>sourceSize</key>
        <string>{50,111}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buff_ani_94501.png</string>
      <key>textureFileName</key>
      <string>buff_ani_94501.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>