<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_ani_sbone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,62},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>buff_ani_sbone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>buff_ani_sbone_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{130,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,147}}</string>
                <key>sourceSize</key>
                <string>{130,147}</string>
            </dict>
            <key>buff_ani_sbone_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,147}}</string>
                <key>sourceSize</key>
                <string>{130,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_ani_sbone.png</string>
            <key>size</key>
            <string>{231,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4b6bcc75f31ba4546623e1d35681866$</string>
            <key>textureFileName</key>
            <string>buff_ani_sbone.png</string>
        </dict>
    </dict>
</plist>
