<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buff_ani_514451_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{32,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,38}}</string>
        <key>sourceSize</key>
        <string>{32,38}</string>
      </dict>
      <key>buff_ani_514451_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,70},{64,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,38}}</string>
        <key>sourceSize</key>
        <string>{64,38}</string>
      </dict>
      <key>buff_ani_514451_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,70},{84,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,36}}</string>
        <key>sourceSize</key>
        <string>{84,36}</string>
      </dict>
      <key>buff_ani_514451_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{104,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,32}}</string>
        <key>sourceSize</key>
        <string>{104,32}</string>
      </dict>
      <key>buff_ani_514451_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,34},{102,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,34}}</string>
        <key>sourceSize</key>
        <string>{102,34}</string>
      </dict>
      <key>buff_ani_514451_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,108},{64,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,30}}</string>
        <key>sourceSize</key>
        <string>{64,30}</string>
      </dict>
      <key>buff_ani_514451_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{74,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,44}}</string>
        <key>sourceSize</key>
        <string>{74,44}</string>
      </dict>
      <key>buff_ani_514451_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{94,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buff_ani_514451.png</string>
      <key>textureFileName</key>
      <string>buff_ani_514451.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>