<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_building_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,78},{8,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,9}}</string>
                <key>sourceSize</key>
                <string>{8,9}</string>
            </dict>
            <key>buff_building_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,70},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>buff_building_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,25},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>buff_building_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>buff_building_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,37},{28,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,13}</string>
            </dict>
            <key>buff_building_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,71},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>buff_building_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,88},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>buff_building_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,81},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>buff_building_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,68},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>buff_building_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,34},{18,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,6}}</string>
                <key>sourceSize</key>
                <string>{18,6}</string>
            </dict>
            <key>buff_building_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,37},{25,18}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>buff_building_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,18},{31,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,17}}</string>
                <key>sourceSize</key>
                <string>{37,21}</string>
            </dict>
            <key>buff_building_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,18},{28,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,17}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>buff_building_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,52},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>buff_building_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,65},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>buff_building_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>buff_building_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,52},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>buff_building_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,68},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>buff_building_1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,44},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>buff_building_1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,14}}</string>
                <key>sourceSize</key>
                <string>{38,14}</string>
            </dict>
            <key>buff_building_1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>buff_building_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,57},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>buff_building_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>buff_building_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,57},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>buff_building_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,55},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>buff_building_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,24},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>buff_building_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,37},{6,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{6,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_building_1.png</string>
            <key>size</key>
            <string>{128,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da15af82be628f9933032bbfec2d927c$</string>
            <key>textureFileName</key>
            <string>buff_building_1.png</string>
        </dict>
    </dict>
</plist>
