<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_build_base_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,79}}</string>
                <key>sourceSize</key>
                <string>{110,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_build_base.png</string>
            <key>size</key>
            <string>{114,83}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e6541475de6504da2b1d7a9e8be03f7$</string>
            <key>textureFileName</key>
            <string>buff_build_base.png</string>
        </dict>
    </dict>
</plist>
