<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>fire4_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{87,0},{79,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,159}}</string>
    <key>sourceSize</key>
    <string>{79,159}</string>
   </dict>
   <key>fire4_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{85,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,159}}</string>
    <key>sourceSize</key>
    <string>{85,159}</string>
   </dict>
   <key>fire4_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{258,0},{87,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,142}}</string>
    <key>sourceSize</key>
    <string>{87,142}</string>
   </dict>
   <key>fire4_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{168,0},{88,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,143}}</string>
    <key>sourceSize</key>
    <string>{88,143}</string>
   </dict>
   <key>fire4_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{347,0},{88,139}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,139}}</string>
    <key>sourceSize</key>
    <string>{88,139}</string>
   </dict>
   <key>fire4_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{347,141},{87,138}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,138}}</string>
    <key>sourceSize</key>
    <string>{87,138}</string>
   </dict>
   <key>fire4_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{258,144},{86,139}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,139}}</string>
    <key>sourceSize</key>
    <string>{86,139}</string>
   </dict>
   <key>fire4_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{168,145},{84,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,130}}</string>
    <key>sourceSize</key>
    <string>{84,130}</string>
   </dict>
   <key>fire4_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,161},{81,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,122}}</string>
    <key>sourceSize</key>
    <string>{81,122}</string>
   </dict>
   <key>fire4_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{83,161},{79,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,117}}</string>
    <key>sourceSize</key>
    <string>{79,117}</string>
   </dict>
   <key>fire4_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{164,277},{84,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,111}}</string>
    <key>sourceSize</key>
    <string>{84,111}</string>
   </dict>
   <key>fire4_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{437,0},{67,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,105}}</string>
    <key>sourceSize</key>
    <string>{67,105}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>fire4.png</string>
   <key>textureFileName</key>
   <string>fire4.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>