<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fire3_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,0},{40,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,80}}</string>
        <key>sourceSize</key>
        <string>{40,80}</string>
      </dict>
      <key>fire3_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{43,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,80}}</string>
        <key>sourceSize</key>
        <string>{43,80}</string>
      </dict>
      <key>fire3_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,0},{44,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,71}}</string>
        <key>sourceSize</key>
        <string>{44,71}</string>
      </dict>
      <key>fire3_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{44,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,72}}</string>
        <key>sourceSize</key>
        <string>{44,72}</string>
      </dict>
      <key>fire3_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,0},{44,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,70}}</string>
        <key>sourceSize</key>
        <string>{44,70}</string>
      </dict>
      <key>fire3_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,72},{44,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,69}}</string>
        <key>sourceSize</key>
        <string>{44,69}</string>
      </dict>
      <key>fire3_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,73},{43,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,70}}</string>
        <key>sourceSize</key>
        <string>{43,70}</string>
      </dict>
      <key>fire3_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,74},{42,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,65}}</string>
        <key>sourceSize</key>
        <string>{42,65}</string>
      </dict>
      <key>fire3_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{41,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,61}}</string>
        <key>sourceSize</key>
        <string>{41,61}</string>
      </dict>
      <key>fire3_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,82},{40,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,59}}</string>
        <key>sourceSize</key>
        <string>{40,59}</string>
      </dict>
      <key>fire3_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,141},{42,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,56}}</string>
        <key>sourceSize</key>
        <string>{42,56}</string>
      </dict>
      <key>fire3_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,143},{34,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,53}}</string>
        <key>sourceSize</key>
        <string>{34,53}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fire3.png</string>
      <key>textureFileName</key>
      <string>fire3.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>