<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hit_effect_zhoutaidun_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,0},{40,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,19}}</string>
        <key>sourceSize</key>
        <string>{40,19}</string>
      </dict>
      <key>hit_effect_zhoutaidun_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,0},{26,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,46}}</string>
        <key>sourceSize</key>
        <string>{26,46}</string>
      </dict>
      <key>hit_effect_zhoutaidun_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{124,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,124}}</string>
        <key>sourceSize</key>
        <string>{124,124}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hit_effect_zhoutaidun.png</string>
      <key>textureFileName</key>
      <string>hit_effect_zhoutaidun.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>