<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_42351_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{988,56},{28,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,58}}</string>
    <key>sourceSize</key>
    <string>{28,58}</string>
   </dict>
   <key>hit_effect_42351_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{907,400},{62,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,62}}</string>
    <key>sourceSize</key>
    <string>{62,62}</string>
   </dict>
   <key>hit_effect_42351_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,508},{62,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,41}}</string>
    <key>sourceSize</key>
    <string>{62,41}</string>
   </dict>
   <key>hit_effect_42351_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{972,345},{48,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,58}}</string>
    <key>sourceSize</key>
    <string>{48,58}</string>
   </dict>
   <key>hit_effect_42351_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,405},{60,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,58}}</string>
    <key>sourceSize</key>
    <string>{60,58}</string>
   </dict>
   <key>hit_effect_42351_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{928,56},{58,153}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,153}}</string>
    <key>sourceSize</key>
    <string>{58,153}</string>
   </dict>
   <key>hit_effect_42351_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{233,156},{58,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,129}}</string>
    <key>sourceSize</key>
    <string>{58,129}</string>
   </dict>
   <key>hit_effect_42351_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{924,211},{46,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,135}}</string>
    <key>sourceSize</key>
    <string>{46,135}</string>
   </dict>
   <key>hit_effect_42351_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{770,191},{37,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,133}}</string>
    <key>sourceSize</key>
    <string>{37,133}</string>
   </dict>
   <key>hit_effect_42351_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{972,235},{37,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,108}}</string>
    <key>sourceSize</key>
    <string>{37,108}</string>
   </dict>
   <key>hit_effect_42351_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{988,116},{34,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,40}}</string>
    <key>sourceSize</key>
    <string>{34,40}</string>
   </dict>
   <key>hit_effect_42351_108.png</key>
   <dict>
    <key>frame</key>
    <string>{{288,385},{101,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,100}}</string>
    <key>sourceSize</key>
    <string>{101,100}</string>
   </dict>
   <key>hit_effect_42351_107.png</key>
   <dict>
    <key>frame</key>
    <string>{{633,304},{104,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,102}}</string>
    <key>sourceSize</key>
    <string>{104,102}</string>
   </dict>
   <key>hit_effect_42351_106.png</key>
   <dict>
    <key>frame</key>
    <string>{{421,291},{104,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,103}}</string>
    <key>sourceSize</key>
    <string>{104,103}</string>
   </dict>
   <key>hit_effect_42351_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{527,304},{104,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,102}}</string>
    <key>sourceSize</key>
    <string>{104,102}</string>
   </dict>
   <key>hit_effect_42351_104.png</key>
   <dict>
    <key>frame</key>
    <string>{{111,339},{102,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,101}}</string>
    <key>sourceSize</key>
    <string>{102,101}</string>
   </dict>
   <key>hit_effect_42351_103.png</key>
   <dict>
    <key>frame</key>
    <string>{{499,408},{100,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,98}}</string>
    <key>sourceSize</key>
    <string>{100,98}</string>
   </dict>
   <key>hit_effect_42351_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{233,287},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{56,56}</string>
   </dict>
   <key>hit_effect_42351_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{810,181},{112,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{112,106}}</string>
    <key>sourceSize</key>
    <string>{112,106}</string>
   </dict>
   <key>hit_effect_42351_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,291},{128,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,92}}</string>
    <key>sourceSize</key>
    <string>{128,92}</string>
   </dict>
   <key>hit_effect_42351_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{810,56},{116,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,123}}</string>
    <key>sourceSize</key>
    <string>{116,123}</string>
   </dict>
   <key>hit_effect_42351_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,289},{108,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,99}}</string>
    <key>sourceSize</key>
    <string>{108,99}</string>
   </dict>
   <key>hit_effect_42351_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{805,390},{100,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,99}}</string>
    <key>sourceSize</key>
    <string>{100,99}</string>
   </dict>
   <key>hit_effect_42351_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,465},{77,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,69}}</string>
    <key>sourceSize</key>
    <string>{77,69}</string>
   </dict>
   <key>hit_effect_42351_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{739,326},{64,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,78}}</string>
    <key>sourceSize</key>
    <string>{64,78}</string>
   </dict>
   <key>hit_effect_42351_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{739,406},{64,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,47}}</string>
    <key>sourceSize</key>
    <string>{64,47}</string>
   </dict>
   <key>hit_effect_42351_109.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,339},{109,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,95}}</string>
    <key>sourceSize</key>
    <string>{109,95}</string>
   </dict>
   <key>hit_effect_42351_110.png</key>
   <dict>
    <key>frame</key>
    <string>{{277,487},{98,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,83}}</string>
    <key>sourceSize</key>
    <string>{98,83}</string>
   </dict>
   <key>hit_effect_42351_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,396},{106,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,92}}</string>
    <key>sourceSize</key>
    <string>{106,92}</string>
   </dict>
   <key>hit_effect_42351_112.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,345},{71,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,58}}</string>
    <key>sourceSize</key>
    <string>{71,58}</string>
   </dict>
   <key>hit_effect_42351_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,525},{66,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,35}}</string>
    <key>sourceSize</key>
    <string>{66,35}</string>
   </dict>
   <key>hit_effect_42351_144.png</key>
   <dict>
    <key>frame</key>
    <string>{{601,408},{97,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,90}}</string>
    <key>sourceSize</key>
    <string>{97,90}</string>
   </dict>
   <key>hit_effect_42351_143.png</key>
   <dict>
    <key>frame</key>
    <string>{{907,464},{97,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,90}}</string>
    <key>sourceSize</key>
    <string>{97,90}</string>
   </dict>
   <key>hit_effect_42351_142.png</key>
   <dict>
    <key>frame</key>
    <string>{{700,455},{97,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,90}}</string>
    <key>sourceSize</key>
    <string>{97,90}</string>
   </dict>
   <key>hit_effect_42351_141.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,442},{97,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,90}}</string>
    <key>sourceSize</key>
    <string>{97,90}</string>
   </dict>
   <key>hit_effect_42351_140.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,436},{97,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,90}}</string>
    <key>sourceSize</key>
    <string>{97,90}</string>
   </dict>
   <key>hit_effect_42351_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{293,180},{244,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{244,109}}</string>
    <key>sourceSize</key>
    <string>{244,109}</string>
   </dict>
   <key>hit_effect_42351_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{565,0},{243,189}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{243,189}}</string>
    <key>sourceSize</key>
    <string>{243,189}</string>
   </dict>
   <key>hit_effect_42351_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{293,154}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{293,154}}</string>
    <key>sourceSize</key>
    <string>{293,154}</string>
   </dict>
   <key>hit_effect_42351_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,0},{268,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{268,178}}</string>
    <key>sourceSize</key>
    <string>{268,178}</string>
   </dict>
   <key>hit_effect_42351_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,156},{231,181}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{231,181}}</string>
    <key>sourceSize</key>
    <string>{231,181}</string>
   </dict>
   <key>hit_effect_42351_139.png</key>
   <dict>
    <key>frame</key>
    <string>{{539,191},{229,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{229,63}}</string>
    <key>sourceSize</key>
    <string>{229,63}</string>
   </dict>
   <key>hit_effect_42351_138.png</key>
   <dict>
    <key>frame</key>
    <string>{{810,0},{206,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{206,54}}</string>
    <key>sourceSize</key>
    <string>{206,54}</string>
   </dict>
   <key>hit_effect_42351_137.png</key>
   <dict>
    <key>frame</key>
    <string>{{539,256},{180,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{180,46}}</string>
    <key>sourceSize</key>
    <string>{180,46}</string>
   </dict>
   <key>hit_effect_42351_136.png</key>
   <dict>
    <key>frame</key>
    <string>{{64,536},{151,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{151,42}}</string>
    <key>sourceSize</key>
    <string>{151,42}</string>
   </dict>
   <key>hit_effect_42351_135.png</key>
   <dict>
    <key>frame</key>
    <string>{{660,547},{139,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,23}}</string>
    <key>sourceSize</key>
    <string>{139,23}</string>
   </dict>
   <key>hit_effect_42351_134.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,490},{106,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,33}}</string>
    <key>sourceSize</key>
    <string>{106,33}</string>
   </dict>
   <key>hit_effect_42351_133.png</key>
   <dict>
    <key>frame</key>
    <string>{{721,256},{30,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,34}}</string>
    <key>sourceSize</key>
    <string>{30,34}</string>
   </dict>
   <key>hit_effect_42351_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{601,500},{57,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,52}}</string>
    <key>sourceSize</key>
    <string>{57,52}</string>
   </dict>
   <key>hit_effect_42351_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{799,491},{57,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,52}}</string>
    <key>sourceSize</key>
    <string>{57,52}</string>
   </dict>
   <key>hit_effect_42351_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{919,348},{49,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,50}}</string>
    <key>sourceSize</key>
    <string>{49,50}</string>
   </dict>
   <key>hit_effect_42351_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{988,158},{33,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,38}}</string>
    <key>sourceSize</key>
    <string>{33,38}</string>
   </dict>
   <key>hit_effect_42351_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{988,198},{30,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,35}}</string>
    <key>sourceSize</key>
    <string>{30,35}</string>
   </dict>
   <key>hit_effect_42351_119.png</key>
   <dict>
    <key>frame</key>
    <string>{{217,572},{375,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{375,55}}</string>
    <key>sourceSize</key>
    <string>{375,55}</string>
   </dict>
   <key>hit_effect_42351_125.png</key>
   <dict>
    <key>frame</key>
    <string>{{1018,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hit_effect_42351_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,528},{62,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,39}}</string>
    <key>sourceSize</key>
    <string>{62,39}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_42351.png</string>
   <key>textureFileName</key>
   <string>hit_effect_42351.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>