<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effect_31064_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{124,108}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{124,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>hit_effect_31064_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{130,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>hit_effect_31064_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>hit_effect_31064_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,134},{100,130}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effect_31064.png</string>
            <key>size</key>
            <string>{256,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebe543d79a663802cd0744f0f17eb64c$</string>
            <key>textureFileName</key>
            <string>hit_effect_31064.png</string>
        </dict>
    </dict>
</plist>
