<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effect_blood_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,93},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>hit_effect_blood_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,192},{32,56}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>hit_effect_blood_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,334},{68,61}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{68,61}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hit_effect_blood_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{94,95}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,95}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hit_effect_blood_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{96,97}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,97}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hit_effect_blood_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{100,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hit_effect_blood_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,93},{86,85}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{86,85}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hit_effect_blood_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{74,75}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{74,75}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hit_effect_blood_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{66,67}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{66,67}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hit_effect_blood_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{64,57}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,28},{64,57}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hit_effect_blood_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,262},{70,77}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,28},{70,77}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hit_effect_blood_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{78,79}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,26},{78,79}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hit_effect_blood_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,180},{80,81}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{80,81}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hit_effect_blood_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,294},{62,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{62,55}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hit_effect_blood_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{150,14}}</string>
                <key>sourceSize</key>
                <string>{158,14}</string>
            </dict>
            <key>hit_effect_blood_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,145},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>hit_effect_blood_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,74},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>hit_effect_blood_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,52},{9,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,20}}</string>
                <key>sourceSize</key>
                <string>{9,20}</string>
            </dict>
            <key>hit_effect_blood_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,122},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>hit_effect_blood_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,250},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>hit_effect_blood_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,93},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>hit_effect_blood_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,91},{5,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,13}}</string>
                <key>sourceSize</key>
                <string>{5,13}</string>
            </dict>
            <key>hit_effect_blood_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,81},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>hit_effect_blood_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,52},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hit_effect_blood_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,18},{32,48}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{32,48}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>hit_effect_blood_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,180},{34,56}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>hit_effect_blood_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,238},{34,54}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,54}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>hit_effect_blood_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,132},{36,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effect_blood.png</string>
            <key>size</key>
            <string>{256,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d01b96579910a2284c6527458b79cb8$</string>
            <key>textureFileName</key>
            <string>hit_effect_blood.png</string>
        </dict>
    </dict>
</plist>
