<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_41009_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,0},{173,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{173,150}}</string>
    <key>sourceSize</key>
    <string>{173,150}</string>
   </dict>
   <key>hit_effect_41009_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,152},{173,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{173,150}}</string>
    <key>sourceSize</key>
    <string>{173,150}</string>
   </dict>
   <key>hit_effect_41009_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,152},{173,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{173,150}}</string>
    <key>sourceSize</key>
    <string>{173,150}</string>
   </dict>
   <key>hit_effect_41009_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{173,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{173,150}}</string>
    <key>sourceSize</key>
    <string>{173,150}</string>
   </dict>
   <key>hit_effect_41009_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,153},{157,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{157,134}}</string>
    <key>sourceSize</key>
    <string>{157,134}</string>
   </dict>
   <key>hit_effect_41009_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,0},{155,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{155,151}}</string>
    <key>sourceSize</key>
    <string>{155,151}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_41009.png</string>
   <key>textureFileName</key>
   <string>hit_effect_41009.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>