<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hit_effect_1155_rs1_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,154},{42,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,18}}</string>
        <key>sourceSize</key>
        <string>{42,18}</string>
      </dict>
      <key>hit_effect_1155_rs1_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,174},{42,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,16}}</string>
        <key>sourceSize</key>
        <string>{42,16}</string>
      </dict>
      <key>hit_effect_1155_rs1_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,277},{124,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,21}}</string>
        <key>sourceSize</key>
        <string>{124,21}</string>
      </dict>
      <key>hit_effect_1155_rs1_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,182},{208,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{208,93}}</string>
        <key>sourceSize</key>
        <string>{208,93}</string>
      </dict>
      <key>hit_effect_1155_rs1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{260,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,99}}</string>
        <key>sourceSize</key>
        <string>{260,99}</string>
      </dict>
      <key>hit_effect_1155_rs1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,101},{251,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{251,79}}</string>
        <key>sourceSize</key>
        <string>{251,79}</string>
      </dict>
      <key>hit_effect_1155_rs1_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,249},{53,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,60}}</string>
        <key>sourceSize</key>
        <string>{53,60}</string>
      </dict>
      <key>hit_effect_1155_rs1_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,277},{51,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,59}}</string>
        <key>sourceSize</key>
        <string>{51,59}</string>
      </dict>
      <key>hit_effect_1155_rs1_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,277},{49,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,56}}</string>
        <key>sourceSize</key>
        <string>{49,56}</string>
      </dict>
      <key>hit_effect_1155_rs1_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,101},{43,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,51}}</string>
        <key>sourceSize</key>
        <string>{43,51}</string>
      </dict>
      <key>hit_effect_1155_rs1_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,0},{32,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,38}}</string>
        <key>sourceSize</key>
        <string>{32,38}</string>
      </dict>
      <key>hit_effect_1155_rs1_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,192},{73,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,138}}</string>
        <key>sourceSize</key>
        <string>{73,138}</string>
      </dict>
      <key>hit_effect_1155_rs1_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{212,211}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{212,211}}</string>
        <key>sourceSize</key>
        <string>{212,211}</string>
      </dict>
      <key>hit_effect_1155_rs1_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,213},{175,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,34}}</string>
        <key>sourceSize</key>
        <string>{175,34}</string>
      </dict>
      <key>hit_effect_1155_rs1_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,249},{128,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,27}}</string>
        <key>sourceSize</key>
        <string>{128,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hit_effect_1155.png</string>
      <key>textureFileName</key>
      <string>hit_effect_1155.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>