<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_43124_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,103},{80,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,1}}</string>
    <key>sourceSize</key>
    <string>{80,1}</string>
   </dict>
   <key>hit_effect_43124_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{316,0},{140,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,96}}</string>
    <key>sourceSize</key>
    <string>{140,96}</string>
   </dict>
   <key>hit_effect_43124_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{153,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{153,101}}</string>
    <key>sourceSize</key>
    <string>{153,101}</string>
   </dict>
   <key>hit_effect_43124_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{155,0},{159,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,83}}</string>
    <key>sourceSize</key>
    <string>{159,83}</string>
   </dict>
   <key>hit_effect_11219_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{155,85},{103,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,105}}</string>
    <key>sourceSize</key>
    <string>{103,105}</string>
   </dict>
   <key>hit_effect_11219_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{365,98},{103,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,105}}</string>
    <key>sourceSize</key>
    <string>{103,105}</string>
   </dict>
   <key>hit_effect_11219_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,98},{103,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,105}}</string>
    <key>sourceSize</key>
    <string>{103,105}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_43124.png</string>
   <key>textureFileName</key>
   <string>hit_effect_43124.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>