<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effect_1117_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{4,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,117}}</string>
                <key>sourceSize</key>
                <string>{4,117}</string>
            </dict>
            <key>hit_effect_1117_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,8},{39,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,14}}</string>
                <key>sourceSize</key>
                <string>{39,14}</string>
            </dict>
            <key>hit_effect_1117_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,195},{43,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,24}}</string>
                <key>sourceSize</key>
                <string>{43,24}</string>
            </dict>
            <key>hit_effect_1117_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{53,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,23}}</string>
                <key>sourceSize</key>
                <string>{53,23}</string>
            </dict>
            <key>hit_effect_1117_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,36},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>hit_effect_1117_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,99},{53,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,30}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>hit_effect_1117_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>hit_effect_1117_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>hit_effect_1117_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>hit_effect_1117_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,131},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>hit_effect_1117_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>hit_effect_1117_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{67,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{67,16}}</string>
                <key>sourceSize</key>
                <string>{71,16}</string>
            </dict>
            <key>hit_effect_1117_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,24},{10,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,35}}</string>
                <key>sourceSize</key>
                <string>{10,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effect_1117.png</string>
            <key>size</key>
            <string>{127,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6ae21be6c99a69718a967d209aef651$</string>
            <key>textureFileName</key>
            <string>hit_effect_1117.png</string>
        </dict>
    </dict>
</plist>
