<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effect_31127_rs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,36},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>hit_effect_31127_rs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>hit_effect_31127_rs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,93}}</string>
                <key>sourceSize</key>
                <string>{62,93}</string>
            </dict>
            <key>hit_effect_31127_rs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,18},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>hit_effect_31127_rs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>hit_effect_31127_rs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,50},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>hit_effect_31127_rs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,149},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>hit_effect_31127_rs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,86},{37,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,61}}</string>
                <key>sourceSize</key>
                <string>{37,61}</string>
            </dict>
            <key>hit_effect_31127_rs_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{43,72}</string>
            </dict>
            <key>hit_effect_31127_rs_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{39,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,68}}</string>
                <key>sourceSize</key>
                <string>{39,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effect_31127.png</string>
            <key>size</key>
            <string>{127,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3a97487088013f7bb6b64c2534c2069$</string>
            <key>textureFileName</key>
            <string>hit_effect_31127.png</string>
        </dict>
    </dict>
</plist>
