<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_11620_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{90,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,99}}</string>
    <key>sourceSize</key>
    <string>{90,99}</string>
   </dict>
   <key>hit_effect_11620_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{92,0},{88,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,95}}</string>
    <key>sourceSize</key>
    <string>{88,95}</string>
   </dict>
   <key>hit_effect_11620_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{92,97},{78,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,77}}</string>
    <key>sourceSize</key>
    <string>{78,77}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_11620.png</string>
   <key>textureFileName</key>
   <string>hit_effect_11620.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>