<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effect_plight_rs_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>hit_effect_plight_rs_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>hit_effect_plight_rs_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>hit_effect_plight_rs_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effect_plight.png</string>
            <key>size</key>
            <string>{138,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:348932d72dc253d2346d5e76482f5823$</string>
            <key>textureFileName</key>
            <string>hit_effect_plight.png</string>
        </dict>
    </dict>
</plist>
