<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_43172_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,214},{108,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,100}}</string>
    <key>sourceSize</key>
    <string>{108,100}</string>
   </dict>
   <key>hit_effect_43172_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{577,193},{169,193}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{169,193}}</string>
    <key>sourceSize</key>
    <string>{169,193}</string>
   </dict>
   <key>hit_effect_43172_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{748,196},{167,191}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,191}}</string>
    <key>sourceSize</key>
    <string>{167,191}</string>
   </dict>
   <key>hit_effect_43172_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{772,0},{175,194}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{175,194}}</string>
    <key>sourceSize</key>
    <string>{175,194}</string>
   </dict>
   <key>hit_effect_43172_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,0},{184,203}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,203}}</string>
    <key>sourceSize</key>
    <string>{184,203}</string>
   </dict>
   <key>hit_effect_43172_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,0},{191,212}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{191,212}}</string>
    <key>sourceSize</key>
    <string>{191,212}</string>
   </dict>
   <key>hit_effect_43172_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{196,212}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{196,212}}</string>
    <key>sourceSize</key>
    <string>{196,212}</string>
   </dict>
   <key>hit_effect_43172_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{577,0},{193,191}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{193,191}}</string>
    <key>sourceSize</key>
    <string>{193,191}</string>
   </dict>
   <key>hit_effect_43172_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,205},{146,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,146}}</string>
    <key>sourceSize</key>
    <string>{146,146}</string>
   </dict>
   <key>hit_effect_43172_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,196},{87,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,88}}</string>
    <key>sourceSize</key>
    <string>{87,88}</string>
   </dict>
   <key>hit_effect_43172_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,258},{105,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{105,2}}</string>
    <key>sourceSize</key>
    <string>{105,2}</string>
   </dict>
   <key>hit_effect_43172_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{110,214},{144,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,48}}</string>
    <key>sourceSize</key>
    <string>{144,48}</string>
   </dict>
   <key>hit_effect_43172_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{110,264},{136,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{136,51}}</string>
    <key>sourceSize</key>
    <string>{136,51}</string>
   </dict>
   <key>hit_effect_43172_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,214},{109,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,42}}</string>
    <key>sourceSize</key>
    <string>{109,42}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_43172.png</string>
   <key>textureFileName</key>
   <string>hit_effect_43172.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>