<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effect_2128_rs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,202},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{30,33}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>hit_effect_2128_rs_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,135},{43,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>hit_effect_2128_rs_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,162},{73,79}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{73,79}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>hit_effect_2128_rs_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,81},{79,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>hit_effect_2128_rs_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{81,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>hit_effect_2128_rs_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{80,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>hit_effect_2128_rs_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,91},{58,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,9}}</string>
                <key>sourceSize</key>
                <string>{58,9}</string>
            </dict>
            <key>hit_effect_2128_rs_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,237},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>hit_effect_2128_rs_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,91},{42,59}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{46,59}</string>
            </dict>
            <key>hit_effect_2128_rs_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,151},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>hit_effect_2128_rs_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,202},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>hit_effect_2128_rs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,180},{79,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,20}}</string>
                <key>sourceSize</key>
                <string>{79,20}</string>
            </dict>
            <key>hit_effect_2128_rs_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{92,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>hit_effect_2128_rs_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,95}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{80,95}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>hit_effect_2128_rs_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{87,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{87,61}}</string>
                <key>sourceSize</key>
                <string>{95,79}</string>
            </dict>
            <key>hit_effect_2128_rs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effect_2128.png</string>
            <key>size</key>
            <string>{256,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddee354743bc4e896242eb39d30b9c0a$</string>
            <key>textureFileName</key>
            <string>hit_effect_2128.png</string>
        </dict>
    </dict>
</plist>
