<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hit_effect_Dispel_rs1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{61,249}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,249}}</string>
        <key>sourceSize</key>
        <string>{61,249}</string>
      </dict>
      <key>hit_effect_Dispel_rs1_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,201},{60,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,28}}</string>
        <key>sourceSize</key>
        <string>{60,28}</string>
      </dict>
      <key>hit_effect_Dispel_rs1_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,77},{69,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,69}}</string>
        <key>sourceSize</key>
        <string>{69,69}</string>
      </dict>
      <key>hit_effect_Dispel_rs1_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,148},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,51}}</string>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>hit_effect_Dispel_rs1_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,143},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hit_effect_Dispel_rs1_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,143},{59,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,67}}</string>
        <key>sourceSize</key>
        <string>{59,67}</string>
      </dict>
      <key>hit_effect_Dispel_rs1_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{82,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,75}}</string>
        <key>sourceSize</key>
        <string>{82,75}</string>
      </dict>
      <key>hit_effect_Dispel_rs1_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,73},{74,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,68}}</string>
        <key>sourceSize</key>
        <string>{74,68}</string>
      </dict>
      <key>hit_effect_Dispel_rs1_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,0},{73,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>hit_effect_Dispel_rs1_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{26,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,48}}</string>
        <key>sourceSize</key>
        <string>{26,48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hit_effect_Dispel.png</string>
      <key>textureFileName</key>
      <string>hit_effect_Dispel.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>