<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hit_effect_def_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,26},{46,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,28}}</string>
        <key>sourceSize</key>
        <string>{46,28}</string>
      </dict>
      <key>hit_effect_def_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,82},{47,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,26}}</string>
        <key>sourceSize</key>
        <string>{47,26}</string>
      </dict>
      <key>hit_effect_def_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,65},{53,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,30}}</string>
        <key>sourceSize</key>
        <string>{53,30}</string>
      </dict>
      <key>hit_effect_def_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,26},{64,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,30}}</string>
        <key>sourceSize</key>
        <string>{64,30}</string>
      </dict>
      <key>hit_effect_def_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,58},{61,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,32}}</string>
        <key>sourceSize</key>
        <string>{61,32}</string>
      </dict>
      <key>hit_effect_def_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,81},{53,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,23}}</string>
        <key>sourceSize</key>
        <string>{53,23}</string>
      </dict>
      <key>hit_effect_def_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,56},{43,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,24}}</string>
        <key>sourceSize</key>
        <string>{43,24}</string>
      </dict>
      <key>hit_effect_def_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,92},{39,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,14}}</string>
        <key>sourceSize</key>
        <string>{39,14}</string>
      </dict>
      <key>hit_effect_def_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{77,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,79}}</string>
        <key>sourceSize</key>
        <string>{77,79}</string>
      </dict>
      <key>hit_effect_def_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,0},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>hit_effect_def_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{82,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,24}}</string>
        <key>sourceSize</key>
        <string>{82,24}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hit_effect_def.png</string>
      <key>textureFileName</key>
      <string>hit_effect_def.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>