<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hit_effect_magictower_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{133,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,19}}</string>
        <key>sourceSize</key>
        <string>{133,19}</string>
      </dict>
      <key>hit_effect_magictower_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,93},{249,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{249,104}}</string>
        <key>sourceSize</key>
        <string>{249,104}</string>
      </dict>
      <key>hit_effect_magictower_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,93},{250,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,114}}</string>
        <key>sourceSize</key>
        <string>{250,114}</string>
      </dict>
      <key>hit_effect_magictower_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{338,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{338,91}}</string>
        <key>sourceSize</key>
        <string>{338,91}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hit_effect_magictower.png</string>
      <key>textureFileName</key>
      <string>hit_effect_magictower.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>