<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_45075_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{234,352},{64,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,60}}</string>
    <key>sourceSize</key>
    <string>{64,60}</string>
   </dict>
   <key>hit_effect_45075_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{168,352},{64,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,60}}</string>
    <key>sourceSize</key>
    <string>{64,60}</string>
   </dict>
   <key>hit_effect_45075_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,403},{64,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,60}}</string>
    <key>sourceSize</key>
    <string>{64,60}</string>
   </dict>
   <key>hit_effect_45075_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,373},{64,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,60}}</string>
    <key>sourceSize</key>
    <string>{64,60}</string>
   </dict>
   <key>hit_effect_45075_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,373},{64,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,60}}</string>
    <key>sourceSize</key>
    <string>{64,60}</string>
   </dict>
   <key>hit_effect_45075_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,373},{64,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,60}}</string>
    <key>sourceSize</key>
    <string>{64,60}</string>
   </dict>
   <key>hit_effect_45075_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,0},{189,175}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{189,175}}</string>
    <key>sourceSize</key>
    <string>{189,175}</string>
   </dict>
   <key>hit_effect_45075_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{190,175}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{190,175}}</string>
    <key>sourceSize</key>
    <string>{190,175}</string>
   </dict>
   <key>hit_effect_45075_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,177},{185,154}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{185,154}}</string>
    <key>sourceSize</key>
    <string>{185,154}</string>
   </dict>
   <key>hit_effect_45075_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{358,193},{129,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{129,108}}</string>
    <key>sourceSize</key>
    <string>{129,108}</string>
   </dict>
   <key>hit_effect_45075_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{383,92},{110,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,99}}</string>
    <key>sourceSize</key>
    <string>{110,99}</string>
   </dict>
   <key>hit_effect_45075_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{383,0},{124,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,90}}</string>
    <key>sourceSize</key>
    <string>{124,90}</string>
   </dict>
   <key>hit_effect_45075_995.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,177},{144,173}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,173}}</string>
    <key>sourceSize</key>
    <string>{144,173}</string>
   </dict>
   <key>hit_effect_45075_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,177},{23,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,51}}</string>
    <key>sourceSize</key>
    <string>{23,51}</string>
   </dict>
   <key>hit_effect_45075_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,109},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>hit_effect_45075_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,303},{82,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,68}}</string>
    <key>sourceSize</key>
    <string>{82,68}</string>
   </dict>
   <key>hit_effect_45075_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{84,333},{82,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,68}}</string>
    <key>sourceSize</key>
    <string>{82,68}</string>
   </dict>
   <key>hit_effect_45075_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,333},{82,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,68}}</string>
    <key>sourceSize</key>
    <string>{82,68}</string>
   </dict>
   <key>hit_effect_45075_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{417,303},{82,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,68}}</string>
    <key>sourceSize</key>
    <string>{82,68}</string>
   </dict>
   <key>hit_effect_45075_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,92},{15,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,15}}</string>
    <key>sourceSize</key>
    <string>{15,15}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_45075.png</string>
   <key>textureFileName</key>
   <string>hit_effect_45075.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>