<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hit_effect_41376_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,0},{262,268}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{262,268}}</string>
        <key>sourceSize</key>
        <string>{262,268}</string>
      </dict>
      <key>hit_effect_41376_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,0},{8,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,160}}</string>
        <key>sourceSize</key>
        <string>{8,160}</string>
      </dict>
      <key>hit_effect_41376_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{244,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{244,400}}</string>
        <key>sourceSize</key>
        <string>{244,400}</string>
      </dict>
      <key>hit_effect_41376_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,0},{216,202}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,202}}</string>
        <key>sourceSize</key>
        <string>{216,202}</string>
      </dict>
      <key>hit_effect_41376_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{276,276}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,276}}</string>
        <key>sourceSize</key>
        <string>{276,276}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hit_effect_41376.png</string>
      <key>textureFileName</key>
      <string>hit_effect_41376.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>