<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effect_fire_rs1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{30,28}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{30,28}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>hit_effect_fire_rs1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,36}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{46,36}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>hit_effect_fire_rs1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,36}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{46,36}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>hit_effect_fire_rs1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hit_effect_fire_rs1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{35,29}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,29}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effect_fire.png</string>
            <key>size</key>
            <string>{128,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66cf43e09f9b14b53d19c7574c5e5e47$</string>
            <key>textureFileName</key>
            <string>hit_effect_fire.png</string>
        </dict>
    </dict>
</plist>
