<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_fire3_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{418,255},{78,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,79}}</string>
    <key>sourceSize</key>
    <string>{78,79}</string>
   </dict>
   <key>hit_effect_fire3_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{418,417},{78,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,79}}</string>
    <key>sourceSize</key>
    <string>{78,79}</string>
   </dict>
   <key>hit_effect_fire3_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{418,336},{78,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,79}}</string>
    <key>sourceSize</key>
    <string>{78,79}</string>
   </dict>
   <key>hit_effect_fire3_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,230},{78,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,79}}</string>
    <key>sourceSize</key>
    <string>{78,79}</string>
   </dict>
   <key>hit_effect_fire3_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,392},{78,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,79}}</string>
    <key>sourceSize</key>
    <string>{78,79}</string>
   </dict>
   <key>hit_effect_fire3_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,311},{78,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,79}}</string>
    <key>sourceSize</key>
    <string>{78,79}</string>
   </dict>
   <key>hit_effect_fire3_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{249,367},{167,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,110}}</string>
    <key>sourceSize</key>
    <string>{167,110}</string>
   </dict>
   <key>hit_effect_fire3_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,456},{167,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,110}}</string>
    <key>sourceSize</key>
    <string>{167,110}</string>
   </dict>
   <key>hit_effect_fire3_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,232},{167,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,110}}</string>
    <key>sourceSize</key>
    <string>{167,110}</string>
   </dict>
   <key>hit_effect_fire3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{249,255},{167,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,110}}</string>
    <key>sourceSize</key>
    <string>{167,110}</string>
   </dict>
   <key>hit_effect_fire3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{271,143},{167,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,110}}</string>
    <key>sourceSize</key>
    <string>{167,110}</string>
   </dict>
   <key>hit_effect_fire3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,344},{167,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,110}}</string>
    <key>sourceSize</key>
    <string>{167,110}</string>
   </dict>
   <key>hit_effect_fire3_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{144,149}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,149}}</string>
    <key>sourceSize</key>
    <string>{144,149}</string>
   </dict>
   <key>hit_effect_fire3_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{146,0},{147,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{147,141}}</string>
    <key>sourceSize</key>
    <string>{147,141}</string>
   </dict>
   <key>hit_effect_fire3_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,0},{147,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{147,141}}</string>
    <key>sourceSize</key>
    <string>{147,141}</string>
   </dict>
   <key>hit_effect_fire3_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,151},{121,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{121,38}}</string>
    <key>sourceSize</key>
    <string>{121,38}</string>
   </dict>
   <key>hit_effect_fire3_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,191},{121,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{121,37}}</string>
    <key>sourceSize</key>
    <string>{121,37}</string>
   </dict>
   <key>hit_effect_fire3_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{146,143},{123,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{123,41}}</string>
    <key>sourceSize</key>
    <string>{123,41}</string>
   </dict>
   <key>hit_effect_fire3_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{123,186},{115,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,44}}</string>
    <key>sourceSize</key>
    <string>{115,44}</string>
   </dict>
   <key>hit_effect_fire3_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{249,479},{101,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,39}}</string>
    <key>sourceSize</key>
    <string>{101,39}</string>
   </dict>
   <key>hit_effect_fire3_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,473},{73,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,28}}</string>
    <key>sourceSize</key>
    <string>{73,28}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_fire3.png</string>
   <key>textureFileName</key>
   <string>hit_effect_fire3.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>