<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_31344_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{908,0},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,88}}</string>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>hit_effect_31344_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,0},{253,253}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{253,253}}</string>
    <key>sourceSize</key>
    <string>{253,253}</string>
   </dict>
   <key>hit_effect_31344_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{908,90},{80,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,67}}</string>
    <key>sourceSize</key>
    <string>{80,67}</string>
   </dict>
   <key>hit_effect_31344_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{908,159},{74,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,61}}</string>
    <key>sourceSize</key>
    <string>{74,61}</string>
   </dict>
   <key>hit_effect_31344_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{630,255},{68,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,57}}</string>
    <key>sourceSize</key>
    <string>{68,57}</string>
   </dict>
   <key>hit_effect_31344_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{630,314},{67,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,51}}</string>
    <key>sourceSize</key>
    <string>{67,51}</string>
   </dict>
   <key>hit_effect_31344_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,377},{52,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,42}}</string>
    <key>sourceSize</key>
    <string>{52,42}</string>
   </dict>
   <key>hit_effect_31344_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{998,81},{16,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,14}}</string>
    <key>sourceSize</key>
    <string>{16,14}</string>
   </dict>
   <key>hit_effect_31344_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{998,24},{20,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,20}}</string>
    <key>sourceSize</key>
    <string>{20,20}</string>
   </dict>
   <key>hit_effect_31344_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{478,375}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{478,375}}</string>
    <key>sourceSize</key>
    <string>{478,375}</string>
   </dict>
   <key>hit_effect_31344_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{990,97},{29,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,24}}</string>
    <key>sourceSize</key>
    <string>{29,24}</string>
   </dict>
   <key>hit_effect_31344_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{998,46},{21,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,18}}</string>
    <key>sourceSize</key>
    <string>{21,18}</string>
   </dict>
   <key>hit_effect_31344_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{990,137},{13,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,14}}</string>
    <key>sourceSize</key>
    <string>{13,14}</string>
   </dict>
   <key>hit_effect_31344_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{1005,148},{12,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,11}}</string>
    <key>sourceSize</key>
    <string>{12,11}</string>
   </dict>
   <key>hit_effect_31344_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{998,0},{22,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,22}}</string>
    <key>sourceSize</key>
    <string>{22,22}</string>
   </dict>
   <key>hit_effect_31344_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,377},{41,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,19}}</string>
    <key>sourceSize</key>
    <string>{41,19}</string>
   </dict>
   <key>hit_effect_31344_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{1005,137},{17,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,9}}</string>
    <key>sourceSize</key>
    <string>{17,9}</string>
   </dict>
   <key>hit_effect_31344_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{990,123},{25,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,12}}</string>
    <key>sourceSize</key>
    <string>{25,12}</string>
   </dict>
   <key>hit_effect_31344_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{998,66},{24,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,13}}</string>
    <key>sourceSize</key>
    <string>{24,13}</string>
   </dict>
   <key>hit_effect_31344_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{735,0},{171,163}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{171,163}}</string>
    <key>sourceSize</key>
    <string>{171,163}</string>
   </dict>
   <key>hit_effect_31344_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,377},{146,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,142}}</string>
    <key>sourceSize</key>
    <string>{146,142}</string>
   </dict>
   <key>hit_effect_31344_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,377},{145,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{145,143}}</string>
    <key>sourceSize</key>
    <string>{145,143}</string>
   </dict>
   <key>hit_effect_31344_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{850,360},{146,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,144}}</string>
    <key>sourceSize</key>
    <string>{146,144}</string>
   </dict>
   <key>hit_effect_31344_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{735,165},{149,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{149,145}}</string>
    <key>sourceSize</key>
    <string>{149,145}</string>
   </dict>
   <key>hit_effect_31344_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{700,312},{148,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,145}}</string>
    <key>sourceSize</key>
    <string>{148,145}</string>
   </dict>
   <key>hit_effect_31344_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,255},{148,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,145}}</string>
    <key>sourceSize</key>
    <string>{148,145}</string>
   </dict>
   <key>hit_effect_31344_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{886,222},{118,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,136}}</string>
    <key>sourceSize</key>
    <string>{118,136}</string>
   </dict>
   <key>hit_effect_31344_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{630,367},{51,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,51}}</string>
    <key>sourceSize</key>
    <string>{51,51}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_31344.png</string>
   <key>textureFileName</key>
   <string>hit_effect_31344.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>