<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hit_effect_stone_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{16,19},{12,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,6}}</string>
        <key>sourceSize</key>
        <string>{12,6}</string>
      </dict>
      <key>hit_effect_stone_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,17}}</string>
        <key>sourceSize</key>
        <string>{17,17}</string>
      </dict>
      <key>hit_effect_stone_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,19},{14,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,12}}</string>
        <key>sourceSize</key>
        <string>{14,12}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hit_effect_stone.png</string>
      <key>textureFileName</key>
      <string>hit_effect_stone.png</string>
      <key>size</key>
      <string>{32,64}</string>
    </dict>
  </dict>
</plist>