<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_31028_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{326,0},{161,161}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{161,161}}</string>
    <key>sourceSize</key>
    <string>{161,161}</string>
   </dict>
   <key>hit_effect_31028_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,163},{161,161}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{161,161}}</string>
    <key>sourceSize</key>
    <string>{161,161}</string>
   </dict>
   <key>hit_effect_31028_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{161,161}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{161,161}}</string>
    <key>sourceSize</key>
    <string>{161,161}</string>
   </dict>
   <key>hit_effect_31028_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{163,0},{161,161}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{161,161}}</string>
    <key>sourceSize</key>
    <string>{161,161}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_31028.png</string>
   <key>textureFileName</key>
   <string>hit_effect_31028.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>