<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_44171_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{205,298},{203,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{203,147}}</string>
    <key>sourceSize</key>
    <string>{203,147}</string>
   </dict>
   <key>hit_effect_44171_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,149},{203,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{203,147}}</string>
    <key>sourceSize</key>
    <string>{203,147}</string>
   </dict>
   <key>hit_effect_44171_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,447},{203,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{203,147}}</string>
    <key>sourceSize</key>
    <string>{203,147}</string>
   </dict>
   <key>hit_effect_44171_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{203,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{203,147}}</string>
    <key>sourceSize</key>
    <string>{203,147}</string>
   </dict>
   <key>hit_effect_44171_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{205,0},{203,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{203,147}}</string>
    <key>sourceSize</key>
    <string>{203,147}</string>
   </dict>
   <key>hit_effect_44171_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{205,149},{203,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{203,147}}</string>
    <key>sourceSize</key>
    <string>{203,147}</string>
   </dict>
   <key>hit_effect_44171_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,298},{203,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{203,147}}</string>
    <key>sourceSize</key>
    <string>{203,147}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_44171.png</string>
   <key>textureFileName</key>
   <string>hit_effect_44171.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>