<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effect_18019_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>hit_effect_18019_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,79}}</string>
                <key>sourceSize</key>
                <string>{61,79}</string>
            </dict>
            <key>hit_effect_18019_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>hit_effect_18019_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,80},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,54}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>hit_effect_18019_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{40,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,57}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>hit_effect_18019_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,163},{34,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,57}}</string>
                <key>sourceSize</key>
                <string>{34,57}</string>
            </dict>
            <key>hit_effect_18019_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,136},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>hit_effect_18019_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,80},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hit_effect_18019_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,136},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>hit_effect_18019_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,80},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>hit_effect_18019_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,222},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>hit_effect_18019_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,215},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>hit_effect_18019_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,222},{45,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,29}}</string>
                <key>sourceSize</key>
                <string>{45,29}</string>
            </dict>
            <key>hit_effect_18019_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,108},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>hit_effect_18019_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,162},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>hit_effect_18019_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effect_18019.png</string>
            <key>size</key>
            <string>{164,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb919432aa54f563a1b03d1f59e91e45$</string>
            <key>textureFileName</key>
            <string>hit_effect_18019.png</string>
        </dict>
    </dict>
</plist>
