<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hit_effect_492702_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,218},{44,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,52}}</string>
        <key>sourceSize</key>
        <string>{44,52}</string>
      </dict>
      <key>hit_effect_492702_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,134},{42,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>hit_effect_492702_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,256},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>hit_effect_492702_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,28},{20,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,28}}</string>
        <key>sourceSize</key>
        <string>{20,28}</string>
      </dict>
      <key>hit_effect_492702_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,178},{38,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,46}}</string>
        <key>sourceSize</key>
        <string>{38,46}</string>
      </dict>
      <key>hit_effect_492702_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{22,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,26}}</string>
        <key>sourceSize</key>
        <string>{22,26}</string>
      </dict>
      <key>hit_effect_492702_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{6,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,204}}</string>
        <key>sourceSize</key>
        <string>{6,204}</string>
      </dict>
      <key>hit_effect_492702_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,180}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>hit_effect_492702_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,256},{42,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,22}}</string>
        <key>sourceSize</key>
        <string>{42,22}</string>
      </dict>
      <key>hit_effect_492702_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,254},{72,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,38}}</string>
        <key>sourceSize</key>
        <string>{72,38}</string>
      </dict>
      <key>hit_effect_492702_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,182},{88,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,70}}</string>
        <key>sourceSize</key>
        <string>{88,70}</string>
      </dict>
      <key>hit_effect_492702_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,134},{88,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,90}}</string>
        <key>sourceSize</key>
        <string>{88,90}</string>
      </dict>
      <key>hit_effect_492702_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,98},{88,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,94}}</string>
        <key>sourceSize</key>
        <string>{88,94}</string>
      </dict>
      <key>hit_effect_492702_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{88,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,96}}</string>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>hit_effect_492702_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{78,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,86}}</string>
        <key>sourceSize</key>
        <string>{78,86}</string>
      </dict>
      <key>hit_effect_492702_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,194},{86,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,70}}</string>
        <key>sourceSize</key>
        <string>{86,70}</string>
      </dict>
      <key>hit_effect_492702_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,226},{76,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,48}}</string>
        <key>sourceSize</key>
        <string>{76,48}</string>
      </dict>
      <key>hit_effect_492702_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,226},{46,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,28}}</string>
        <key>sourceSize</key>
        <string>{46,28}</string>
      </dict>
      <key>hit_effect_492702_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,0},{24,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,254}}</string>
        <key>sourceSize</key>
        <string>{24,254}</string>
      </dict>
      <key>hit_effect_492702_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{40,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,216}}</string>
        <key>sourceSize</key>
        <string>{40,216}</string>
      </dict>
      <key>hit_effect_492702_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{132,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,132}}</string>
        <key>sourceSize</key>
        <string>{132,132}</string>
      </dict>
      <key>hit_effect_492702_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,266},{112,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,36}}</string>
        <key>sourceSize</key>
        <string>{112,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hit_effect_492702.png</string>
      <key>textureFileName</key>
      <string>hit_effect_492702.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>