<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_41020_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{57,49},{40,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,49}}</string>
    <key>sourceSize</key>
    <string>{40,49}</string>
   </dict>
   <key>hit_effect_41020_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{55,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,54}}</string>
    <key>sourceSize</key>
    <string>{55,54}</string>
   </dict>
   <key>hit_effect_41020_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{57,0},{47,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,47}}</string>
    <key>sourceSize</key>
    <string>{47,47}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_41020.png</string>
   <key>textureFileName</key>
   <string>hit_effect_41020.png</string>
   <key>size</key>
   <string>{128,128}</string>
  </dict>
 </dict>
</plist>