<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_11421_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{447,82},{43,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,33}}</string>
    <key>sourceSize</key>
    <string>{43,33}</string>
   </dict>
   <key>hit_effect_11421_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{449,0},{54,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,80}}</string>
    <key>sourceSize</key>
    <string>{54,80}</string>
   </dict>
   <key>hit_effect_11421_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,79},{69,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,89}}</string>
    <key>sourceSize</key>
    <string>{69,89}</string>
   </dict>
   <key>hit_effect_11421_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{248,101},{70,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,83}}</string>
    <key>sourceSize</key>
    <string>{70,83}</string>
   </dict>
   <key>hit_effect_11421_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,0},{96,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,77}}</string>
    <key>sourceSize</key>
    <string>{96,77}</string>
   </dict>
   <key>hit_effect_11421_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{126,111},{79,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,61}}</string>
    <key>sourceSize</key>
    <string>{79,61}</string>
   </dict>
   <key>hit_effect_11421_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,79},{23,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,23}}</string>
    <key>sourceSize</key>
    <string>{23,23}</string>
   </dict>
   <key>hit_effect_11421_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{248,0},{101,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,99}}</string>
    <key>sourceSize</key>
    <string>{101,99}</string>
   </dict>
   <key>hit_effect_11421_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{126,0},{120,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,109}}</string>
    <key>sourceSize</key>
    <string>{120,109}</string>
   </dict>
   <key>hit_effect_11421_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{124,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,117}}</string>
    <key>sourceSize</key>
    <string>{124,117}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_11421.png</string>
   <key>textureFileName</key>
   <string>hit_effect_11421.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>