<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hit_effect_31197_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,98},{90,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,90}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>hit_effect_31197_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,0},{92,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,96}}</string>
        <key>sourceSize</key>
        <string>{92,96}</string>
      </dict>
      <key>hit_effect_31197_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,276},{86,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,86}}</string>
        <key>sourceSize</key>
        <string>{86,86}</string>
      </dict>
      <key>hit_effect_31197_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,190},{88,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>hit_effect_31197_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,0},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>hit_effect_31197_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,22},{16,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,12}}</string>
        <key>sourceSize</key>
        <string>{16,12}</string>
      </dict>
      <key>hit_effect_31197_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,560},{162,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,46}}</string>
        <key>sourceSize</key>
        <string>{162,46}</string>
      </dict>
      <key>hit_effect_31197_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,560},{192,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,158}}</string>
        <key>sourceSize</key>
        <string>{192,158}</string>
      </dict>
      <key>hit_effect_31197_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,332},{192,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,158}}</string>
        <key>sourceSize</key>
        <string>{192,158}</string>
      </dict>
      <key>hit_effect_31197_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,560},{192,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,158}}</string>
        <key>sourceSize</key>
        <string>{192,158}</string>
      </dict>
      <key>hit_effect_31197_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,364},{192,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,158}}</string>
        <key>sourceSize</key>
        <string>{192,158}</string>
      </dict>
      <key>hit_effect_31197_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,652},{192,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,158}}</string>
        <key>sourceSize</key>
        <string>{192,158}</string>
      </dict>
      <key>hit_effect_31197_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,524},{192,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,158}}</string>
        <key>sourceSize</key>
        <string>{192,158}</string>
      </dict>
      <key>hit_effect_31197_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,492},{192,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,158}}</string>
        <key>sourceSize</key>
        <string>{192,158}</string>
      </dict>
      <key>hit_effect_31197_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,684},{192,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,158}}</string>
        <key>sourceSize</key>
        <string>{192,158}</string>
      </dict>
      <key>hit_effect_31197_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{330,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{330,330}}</string>
        <key>sourceSize</key>
        <string>{330,330}</string>
      </dict>
      <key>hit_effect_31197_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{558,558}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{558,558}}</string>
        <key>sourceSize</key>
        <string>{558,558}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hit_effect_31197.png</string>
      <key>textureFileName</key>
      <string>hit_effect_31197.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>