<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effect_31039_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{97,91}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{97,91}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>hit_effect_31039_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,88}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{121,88}}</string>
                <key>sourceSize</key>
                <string>{131,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effect_31039.png</string>
            <key>size</key>
            <string>{125,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6cae2cbeba87131ad55f7abb4432f84$</string>
            <key>textureFileName</key>
            <string>hit_effect_31039.png</string>
        </dict>
    </dict>
</plist>
