<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hit_effect_31066_rs1_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{78,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,90}}</string>
        <key>sourceSize</key>
        <string>{78,90}</string>
      </dict>
      <key>hit_effect_31066_rs1_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{74,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,92}}</string>
        <key>sourceSize</key>
        <string>{74,92}</string>
      </dict>
      <key>hit_effect_31066_rs1_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,94},{76,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,70}}</string>
        <key>sourceSize</key>
        <string>{76,70}</string>
      </dict>
      <key>hit_effect_31066_rs1_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{78,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,88}}</string>
        <key>sourceSize</key>
        <string>{78,88}</string>
      </dict>
      <key>hit_effect_31066_rs1_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,90},{74,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,86}}</string>
        <key>sourceSize</key>
        <string>{74,86}</string>
      </dict>
      <key>hit_effect_31066_rs1_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,92},{73,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,81}}</string>
        <key>sourceSize</key>
        <string>{73,81}</string>
      </dict>
      <key>hit_effect_31066_rs1_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,217},{56,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,36}}</string>
        <key>sourceSize</key>
        <string>{56,36}</string>
      </dict>
      <key>hit_effect_31066_rs1_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>hit_effect_31066_rs1_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,178},{55,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,38}}</string>
        <key>sourceSize</key>
        <string>{55,38}</string>
      </dict>
      <key>hit_effect_31066_rs1_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,166},{53,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,49}}</string>
        <key>sourceSize</key>
        <string>{53,49}</string>
      </dict>
      <key>hit_effect_31066_rs1_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,217},{52,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,41}}</string>
        <key>sourceSize</key>
        <string>{52,41}</string>
      </dict>
      <key>hit_effect_31066_rs1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{5,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,9}}</string>
        <key>sourceSize</key>
        <string>{5,9}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hit_effect_31066.png</string>
      <key>textureFileName</key>
      <string>hit_effect_31066.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>