<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effec_44293_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,139},{55,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,13}}</string>
    <key>sourceSize</key>
    <string>{55,13}</string>
   </dict>
   <key>hit_effec_44293_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,90},{73,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,47}}</string>
    <key>sourceSize</key>
    <string>{73,47}</string>
   </dict>
   <key>hit_effec_44293_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,41},{89,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,47}}</string>
    <key>sourceSize</key>
    <string>{89,47}</string>
   </dict>
   <key>hit_effec_44293_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{97,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,39}}</string>
    <key>sourceSize</key>
    <string>{97,39}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effec_44293.png</string>
   <key>textureFileName</key>
   <string>hit_effec_44293.png</string>
   <key>size</key>
   <string>{128,256}</string>
  </dict>
 </dict>
</plist>