<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_heal2_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,0},{3,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,102}}</string>
    <key>sourceSize</key>
    <string>{3,102}</string>
   </dict>
   <key>hit_effect_heal2_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,0},{90,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,90}}</string>
    <key>sourceSize</key>
    <string>{90,90}</string>
   </dict>
   <key>hit_effect_heal2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{483,0},{14,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,14}}</string>
    <key>sourceSize</key>
    <string>{14,14}</string>
   </dict>
   <key>hit_effect_heal2_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,138},{40,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,20}}</string>
    <key>sourceSize</key>
    <string>{40,20}</string>
   </dict>
   <key>hit_effect_heal2_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,96},{72,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,36}}</string>
    <key>sourceSize</key>
    <string>{72,36}</string>
   </dict>
   <key>hit_effect_heal2_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,91},{88,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,70}}</string>
    <key>sourceSize</key>
    <string>{88,70}</string>
   </dict>
   <key>hit_effect_heal2_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,0},{88,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,89}}</string>
    <key>sourceSize</key>
    <string>{88,89}</string>
   </dict>
   <key>hit_effect_heal2_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{182,0},{88,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,92}}</string>
    <key>sourceSize</key>
    <string>{88,92}</string>
   </dict>
   <key>hit_effect_heal2_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{88,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,94}}</string>
    <key>sourceSize</key>
    <string>{88,94}</string>
   </dict>
   <key>hit_effect_heal2_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,0},{78,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,84}}</string>
    <key>sourceSize</key>
    <string>{78,84}</string>
   </dict>
   <key>hit_effect_heal2_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,92},{86,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,68}}</string>
    <key>sourceSize</key>
    <string>{86,68}</string>
   </dict>
   <key>hit_effect_heal2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{178,94},{76,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,46}}</string>
    <key>sourceSize</key>
    <string>{76,46}</string>
   </dict>
   <key>hit_effect_heal2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,110},{46,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,26}}</string>
    <key>sourceSize</key>
    <string>{46,26}</string>
   </dict>
   <key>hit_effect_heal2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,0},{12,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,127}}</string>
    <key>sourceSize</key>
    <string>{12,127}</string>
   </dict>
   <key>hit_effect_heal2_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,0},{20,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,108}}</string>
    <key>sourceSize</key>
    <string>{20,108}</string>
   </dict>
   <key>hit_effect_heal2_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,86},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>hit_effect_heal2_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,134},{56,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,18}}</string>
    <key>sourceSize</key>
    <string>{56,18}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_heal2.png</string>
   <key>textureFileName</key>
   <string>hit_effect_heal2.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>