<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_31193_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,514},{255,255}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{255,255}}</string>
    <key>sourceSize</key>
    <string>{255,255}</string>
   </dict>
   <key>hit_effect_31193_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,0},{255,255}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{255,255}}</string>
    <key>sourceSize</key>
    <string>{255,255}</string>
   </dict>
   <key>hit_effect_31193_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,514},{255,255}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{255,255}}</string>
    <key>sourceSize</key>
    <string>{255,255}</string>
   </dict>
   <key>hit_effect_31193_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,257},{255,255}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{255,255}}</string>
    <key>sourceSize</key>
    <string>{255,255}</string>
   </dict>
   <key>hit_effect_31193_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{255,255}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{255,255}}</string>
    <key>sourceSize</key>
    <string>{255,255}</string>
   </dict>
   <key>hit_effect_31193_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,0},{255,255}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{255,255}}</string>
    <key>sourceSize</key>
    <string>{255,255}</string>
   </dict>
   <key>hit_effect_31193_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,257},{255,255}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{255,255}}</string>
    <key>sourceSize</key>
    <string>{255,255}</string>
   </dict>
   <key>hit_effect_31193_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,257},{255,255}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{255,255}}</string>
    <key>sourceSize</key>
    <string>{255,255}</string>
   </dict>
   <key>hit_effect_31193_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,514},{255,255}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{255,255}}</string>
    <key>sourceSize</key>
    <string>{255,255}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_31193.png</string>
   <key>textureFileName</key>
   <string>hit_effect_31193.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>