<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hit_effect_11205_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{114,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,99}}</string>
        <key>sourceSize</key>
        <string>{114,99}</string>
      </dict>
      <key>hit_effect_11205_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,101},{114,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,99}}</string>
        <key>sourceSize</key>
        <string>{114,99}</string>
      </dict>
      <key>hit_effect_11205_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,101},{114,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,99}}</string>
        <key>sourceSize</key>
        <string>{114,99}</string>
      </dict>
      <key>hit_effect_11205_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,99}}</string>
        <key>sourceSize</key>
        <string>{114,99}</string>
      </dict>
      <key>hit_effect_11205_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{114,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,99}}</string>
        <key>sourceSize</key>
        <string>{114,99}</string>
      </dict>
      <key>hit_effect_11205_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{114,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,99}}</string>
        <key>sourceSize</key>
        <string>{114,99}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hit_effect_11205.png</string>
      <key>textureFileName</key>
      <string>hit_effect_11205.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>