<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_31114_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,168},{97,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,58}}</string>
    <key>sourceSize</key>
    <string>{97,58}</string>
   </dict>
   <key>hit_effect_31114_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,359},{97,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,51}}</string>
    <key>sourceSize</key>
    <string>{97,51}</string>
   </dict>
   <key>hit_effect_31114_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,106},{96,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,60}}</string>
    <key>sourceSize</key>
    <string>{96,60}</string>
   </dict>
   <key>hit_effect_31114_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,228},{92,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,63}}</string>
    <key>sourceSize</key>
    <string>{92,63}</string>
   </dict>
   <key>hit_effect_31114_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,304},{96,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,53}}</string>
    <key>sourceSize</key>
    <string>{96,53}</string>
   </dict>
   <key>hit_effect_31114_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{440,228},{69,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,74}}</string>
    <key>sourceSize</key>
    <string>{69,74}</string>
   </dict>
   <key>hit_effect_31114_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,0},{104,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,104}}</string>
    <key>sourceSize</key>
    <string>{104,104}</string>
   </dict>
   <key>hit_effect_31114_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,0},{54,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,63}}</string>
    <key>sourceSize</key>
    <string>{54,63}</string>
   </dict>
   <key>hit_effect_31114_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{171,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{171,143}}</string>
    <key>sourceSize</key>
    <string>{171,143}</string>
   </dict>
   <key>hit_effect_31114_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,290},{171,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{171,143}}</string>
    <key>sourceSize</key>
    <string>{171,143}</string>
   </dict>
   <key>hit_effect_31114_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,145},{171,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{171,143}}</string>
    <key>sourceSize</key>
    <string>{171,143}</string>
   </dict>
   <key>hit_effect_31114_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{173,145},{171,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{171,143}}</string>
    <key>sourceSize</key>
    <string>{171,143}</string>
   </dict>
   <key>hit_effect_31114_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{173,290},{171,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{171,143}}</string>
    <key>sourceSize</key>
    <string>{171,143}</string>
   </dict>
   <key>hit_effect_31114_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{173,0},{171,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{171,143}}</string>
    <key>sourceSize</key>
    <string>{171,143}</string>
   </dict>
   <key>hit_effect_31114_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,435},{171,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{171,143}}</string>
    <key>sourceSize</key>
    <string>{171,143}</string>
   </dict>
   <key>hit_effect_31114_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{173,435},{171,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{171,143}}</string>
    <key>sourceSize</key>
    <string>{171,143}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hit_effect_31114.png</string>
   <key>textureFileName</key>
   <string>hit_effect_31114.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>