<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image 8329.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,12},{16,10}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{16,10}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>image 8331.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,10}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{22,10}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>image 8333.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{18,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{18,20}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>image 8335.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{18,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{18,20}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>image 8337.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{16,20}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>image 8339.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,22},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>image 8341.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{8,12}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>image0.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d2a34c32e95b6ec8e42ec2f2cb245c1$</string>
            <key>textureFileName</key>
            <string>image0.png</string>
        </dict>
    </dict>
</plist>
