<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_effect_blood_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,13}}</string>
                <key>sourceSize</key>
                <string>{61,13}</string>
            </dict>
            <key>map_effect_blood_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,66},{56,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,12}}</string>
                <key>sourceSize</key>
                <string>{56,12}</string>
            </dict>
            <key>map_effect_blood_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{56,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,12}}</string>
                <key>sourceSize</key>
                <string>{56,12}</string>
            </dict>
            <key>map_effect_blood_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,2},{62,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,12}}</string>
                <key>sourceSize</key>
                <string>{62,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_effect_blood.png</string>
            <key>size</key>
            <string>{31,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e99530411afdc8c20d29d52f6260ec9$</string>
            <key>textureFileName</key>
            <string>map_effect_blood.png</string>
        </dict>
    </dict>
</plist>
