<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>map_effect_31124_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,152},{104,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,41}}</string>
        <key>sourceSize</key>
        <string>{104,41}</string>
      </dict>
      <key>map_effect_31124_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,152},{109,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,46}}</string>
        <key>sourceSize</key>
        <string>{109,46}</string>
      </dict>
      <key>map_effect_31124_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{155,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,150}}</string>
        <key>sourceSize</key>
        <string>{155,150}</string>
      </dict>
      <key>map_effect_31124_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>map_effect_31124_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,50},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>map_effect_31124_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,50},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>map_effect_31124_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,0},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>map_effect_31124.png</string>
      <key>textureFileName</key>
      <string>map_effect_31124.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>