<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>map_effect_31441_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,55},{14,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,13}}</string>
        <key>sourceSize</key>
        <string>{14,13}</string>
      </dict>
      <key>map_effect_31441_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,343},{55,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,46}}</string>
        <key>sourceSize</key>
        <string>{55,46}</string>
      </dict>
      <key>map_effect_31441_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,585},{56,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,49}}</string>
        <key>sourceSize</key>
        <string>{56,49}</string>
      </dict>
      <key>map_effect_31441_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,553},{58,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,56}}</string>
        <key>sourceSize</key>
        <string>{58,56}</string>
      </dict>
      <key>map_effect_31441_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,391},{52,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,47}}</string>
        <key>sourceSize</key>
        <string>{52,47}</string>
      </dict>
      <key>map_effect_31441_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,440},{46,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,39}}</string>
        <key>sourceSize</key>
        <string>{46,39}</string>
      </dict>
      <key>map_effect_31441_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,0},{18,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,12}}</string>
        <key>sourceSize</key>
        <string>{18,12}</string>
      </dict>
      <key>map_effect_31441_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,28},{17,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,11}}</string>
        <key>sourceSize</key>
        <string>{17,11}</string>
      </dict>
      <key>map_effect_31441_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,41},{16,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,12}}</string>
        <key>sourceSize</key>
        <string>{16,12}</string>
      </dict>
      <key>map_effect_31441_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,70},{15,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,11}}</string>
        <key>sourceSize</key>
        <string>{15,11}</string>
      </dict>
      <key>map_effect_31441_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,14},{18,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,12}}</string>
        <key>sourceSize</key>
        <string>{18,12}</string>
      </dict>
      <key>map_effect_31441_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,83},{14,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,10}}</string>
        <key>sourceSize</key>
        <string>{14,10}</string>
      </dict>
      <key>map_effect_31441_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,95},{14,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,9}}</string>
        <key>sourceSize</key>
        <string>{14,9}</string>
      </dict>
      <key>map_effect_31441_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,106},{13,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,4}}</string>
        <key>sourceSize</key>
        <string>{13,4}</string>
      </dict>
      <key>map_effect_31441_99.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,495},{115,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,47}}</string>
        <key>sourceSize</key>
        <string>{115,47}</string>
      </dict>
      <key>map_effect_31441_98.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,0},{268,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,170}}</string>
        <key>sourceSize</key>
        <string>{268,170}</string>
      </dict>
      <key>map_effect_31441_97.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,172},{254,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{254,169}}</string>
        <key>sourceSize</key>
        <string>{254,169}</string>
      </dict>
      <key>map_effect_31441_96.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,343},{240,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,156}}</string>
        <key>sourceSize</key>
        <string>{240,156}</string>
      </dict>
      <key>map_effect_31441_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,349},{209,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{209,144}}</string>
        <key>sourceSize</key>
        <string>{209,144}</string>
      </dict>
      <key>map_effect_31441_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,349},{199,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,135}}</string>
        <key>sourceSize</key>
        <string>{199,135}</string>
      </dict>
      <key>map_effect_31441_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,486},{80,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,96}}</string>
        <key>sourceSize</key>
        <string>{80,96}</string>
      </dict>
      <key>map_effect_31441_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,473},{88,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,112}}</string>
        <key>sourceSize</key>
        <string>{88,112}</string>
      </dict>
      <key>map_effect_31441_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,470},{94,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,118}}</string>
        <key>sourceSize</key>
        <string>{94,118}</string>
      </dict>
      <key>map_effect_31441_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,349},{102,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,120}}</string>
        <key>sourceSize</key>
        <string>{102,120}</string>
      </dict>
      <key>map_effect_31441_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,349},{98,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,119}}</string>
        <key>sourceSize</key>
        <string>{98,119}</string>
      </dict>
      <key>map_effect_31441_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,349},{104,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,122}}</string>
        <key>sourceSize</key>
        <string>{104,122}</string>
      </dict>
      <key>map_effect_31441_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,471},{90,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,112}}</string>
        <key>sourceSize</key>
        <string>{90,112}</string>
      </dict>
      <key>map_effect_31441_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,486},{88,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,98}}</string>
        <key>sourceSize</key>
        <string>{88,98}</string>
      </dict>
      <key>map_effect_31441_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,495},{66,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,72}}</string>
        <key>sourceSize</key>
        <string>{66,72}</string>
      </dict>
      <key>map_effect_31441_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,501},{102,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,50}}</string>
        <key>sourceSize</key>
        <string>{102,50}</string>
      </dict>
      <key>map_effect_31441_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,501},{98,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,48}}</string>
        <key>sourceSize</key>
        <string>{98,48}</string>
      </dict>
      <key>map_effect_31441_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,501},{98,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,46}}</string>
        <key>sourceSize</key>
        <string>{98,46}</string>
      </dict>
      <key>map_effect_31441_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,544},{94,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,44}}</string>
        <key>sourceSize</key>
        <string>{94,44}</string>
      </dict>
      <key>map_effect_31441_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,549},{92,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,44}}</string>
        <key>sourceSize</key>
        <string>{92,44}</string>
      </dict>
      <key>map_effect_31441_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,551},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>map_effect_31441_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,569},{74,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,36}}</string>
        <key>sourceSize</key>
        <string>{74,36}</string>
      </dict>
      <key>map_effect_31441_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,584},{71,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,36}}</string>
        <key>sourceSize</key>
        <string>{71,36}</string>
      </dict>
      <key>map_effect_31441_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,586},{64,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,40}}</string>
        <key>sourceSize</key>
        <string>{64,40}</string>
      </dict>
      <key>map_effect_31441_101.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{723,347}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{723,347}}</string>
        <key>sourceSize</key>
        <string>{723,347}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>map_effect_31441.png</string>
      <key>textureFileName</key>
      <string>map_effect_31441.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>