<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>path_11612_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{310,0},{188,196}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{188,196}}</string>
    <key>sourceSize</key>
    <string>{188,196}</string>
   </dict>
   <key>path_11612_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,0},{2,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,94}}</string>
    <key>sourceSize</key>
    <string>{2,94}</string>
   </dict>
   <key>path_11612_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{310,198},{116,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,52}}</string>
    <key>sourceSize</key>
    <string>{116,52}</string>
   </dict>
   <key>path_11612_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,198},{68,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,68}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>path_11612_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{504,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>path_11612_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{308,262}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{308,262}}</string>
    <key>sourceSize</key>
    <string>{308,262}</string>
   </dict>
   <key>path_11612_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,264},{276,202}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{276,202}}</string>
    <key>sourceSize</key>
    <string>{276,202}</string>
   </dict>
   <key>path_11612_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{278,302},{230,184}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{230,184}}</string>
    <key>sourceSize</key>
    <string>{230,184}</string>
   </dict>
   <key>path_11612_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{310,252},{48,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,48}}</string>
    <key>sourceSize</key>
    <string>{48,48}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>path_11612.png</string>
   <key>textureFileName</key>
   <string>path_11612.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>