<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>path_18019_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>path_18019_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{110,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,90}}</string>
        <key>sourceSize</key>
        <string>{110,90}</string>
      </dict>
      <key>path_18019_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{102,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,90}}</string>
        <key>sourceSize</key>
        <string>{102,90}</string>
      </dict>
      <key>path_18019_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,92},{96,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,76}}</string>
        <key>sourceSize</key>
        <string>{96,76}</string>
      </dict>
      <key>path_18019_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,92},{76,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,64}}</string>
        <key>sourceSize</key>
        <string>{76,64}</string>
      </dict>
      <key>path_18019_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,158},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>path_18019_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,92},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>path_18019_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,148},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>path_18019.png</string>
      <key>textureFileName</key>
      <string>path_18019.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>