<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>path_11007_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>path_11007_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,134},{84,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,85}}</string>
        <key>sourceSize</key>
        <string>{84,85}</string>
      </dict>
      <key>path_11007_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{155,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,134}}</string>
        <key>sourceSize</key>
        <string>{155,134}</string>
      </dict>
      <key>path_11007_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{146,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,131}}</string>
        <key>sourceSize</key>
        <string>{146,131}</string>
      </dict>
      <key>path_11007_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,133},{110,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,98}}</string>
        <key>sourceSize</key>
        <string>{110,98}</string>
      </dict>
      <key>path_11007_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,203},{78,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,78}}</string>
        <key>sourceSize</key>
        <string>{78,78}</string>
      </dict>
      <key>path_11007_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,136},{155,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,65}}</string>
        <key>sourceSize</key>
        <string>{155,65}</string>
      </dict>
      <key>path_11007_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,67},{155,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,65}}</string>
        <key>sourceSize</key>
        <string>{155,65}</string>
      </dict>
      <key>path_11007_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,134},{155,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,65}}</string>
        <key>sourceSize</key>
        <string>{155,65}</string>
      </dict>
      <key>path_11007_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{155,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,65}}</string>
        <key>sourceSize</key>
        <string>{155,65}</string>
      </dict>
      <key>path_11007_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,201},{151,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,65}}</string>
        <key>sourceSize</key>
        <string>{151,65}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>path_11007.png</string>
      <key>textureFileName</key>
      <string>path_11007.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>