<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>path_11603_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,206},{204,204}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{204,204}}</string>
    <key>sourceSize</key>
    <string>{204,204}</string>
   </dict>
   <key>path_11603_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{206,0},{204,204}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{204,204}}</string>
    <key>sourceSize</key>
    <string>{204,204}</string>
   </dict>
   <key>path_11603_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{204,204}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{204,204}}</string>
    <key>sourceSize</key>
    <string>{204,204}</string>
   </dict>
   <key>path_11603_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{206,206},{100,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,88}}</string>
    <key>sourceSize</key>
    <string>{100,88}</string>
   </dict>
   <key>path_11603_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{206,296},{100,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,88}}</string>
    <key>sourceSize</key>
    <string>{100,88}</string>
   </dict>
   <key>path_11603_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,206},{100,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,88}}</string>
    <key>sourceSize</key>
    <string>{100,88}</string>
   </dict>
   <key>path_11603_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,206},{100,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,88}}</string>
    <key>sourceSize</key>
    <string>{100,88}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>path_11603.png</string>
   <key>textureFileName</key>
   <string>path_11603.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>