<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>path_11298_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,64},{43,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,42}}</string>
        <key>sourceSize</key>
        <string>{43,42}</string>
      </dict>
      <key>path_11298_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,20},{43,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,42}}</string>
        <key>sourceSize</key>
        <string>{43,42}</string>
      </dict>
      <key>path_11298_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{43,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,42}}</string>
        <key>sourceSize</key>
        <string>{43,42}</string>
      </dict>
      <key>path_11298_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,44},{43,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,42}}</string>
        <key>sourceSize</key>
        <string>{43,42}</string>
      </dict>
      <key>path_11298_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{78,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,18}}</string>
        <key>sourceSize</key>
        <string>{78,18}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>path_11298.png</string>
      <key>textureFileName</key>
      <string>path_11298.png</string>
      <key>size</key>
      <string>{128,128}</string>
    </dict>
  </dict>
</plist>