<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>path_18027_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>path_18027_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{107,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,86}}</string>
        <key>sourceSize</key>
        <string>{107,86}</string>
      </dict>
      <key>path_18027_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,0},{99,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,86}}</string>
        <key>sourceSize</key>
        <string>{99,86}</string>
      </dict>
      <key>path_18027_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,88},{93,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,73}}</string>
        <key>sourceSize</key>
        <string>{93,73}</string>
      </dict>
      <key>path_18027_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,88},{72,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,61}}</string>
        <key>sourceSize</key>
        <string>{72,61}</string>
      </dict>
      <key>path_18027_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,151},{49,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,49}}</string>
        <key>sourceSize</key>
        <string>{49,49}</string>
      </dict>
      <key>path_18027_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,88},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,51}}</string>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>path_18027_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,141},{49,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,49}}</string>
        <key>sourceSize</key>
        <string>{49,49}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>path_18027.png</string>
      <key>textureFileName</key>
      <string>path_18027.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>