<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>path_11001_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>path_11001_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,298},{147,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,147}}</string>
        <key>sourceSize</key>
        <string>{147,147}</string>
      </dict>
      <key>path_11001_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,298},{147,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,147}}</string>
        <key>sourceSize</key>
        <string>{147,147}</string>
      </dict>
      <key>path_11001_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,0},{147,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,147}}</string>
        <key>sourceSize</key>
        <string>{147,147}</string>
      </dict>
      <key>path_11001_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,149},{147,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,147}}</string>
        <key>sourceSize</key>
        <string>{147,147}</string>
      </dict>
      <key>path_11001_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,257},{147,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,147}}</string>
        <key>sourceSize</key>
        <string>{147,147}</string>
      </dict>
      <key>path_11001_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{255,255}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,255}}</string>
        <key>sourceSize</key>
        <string>{255,255}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>path_11001.png</string>
      <key>textureFileName</key>
      <string>path_11001.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>