<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>path_1011_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>path_1011_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{31,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>path_1011_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{49,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>path_1011_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,64},{42,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>path_1011_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>path_1011.png</string>
            <key>size</key>
            <string>{128,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a87c39678a7928bf028153bb6eb564d1$</string>
            <key>textureFileName</key>
            <string>path_1011.png</string>
        </dict>
    </dict>
</plist>
