<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>path_11215_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{3,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,3}}</string>
        <key>sourceSize</key>
        <string>{3,3}</string>
      </dict>
      <key>path_11215_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,115},{110,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,84}}</string>
        <key>sourceSize</key>
        <string>{110,84}</string>
      </dict>
      <key>path_11215_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,115},{110,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,84}}</string>
        <key>sourceSize</key>
        <string>{110,84}</string>
      </dict>
      <key>path_11215_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,115},{110,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,84}}</string>
        <key>sourceSize</key>
        <string>{110,84}</string>
      </dict>
      <key>path_11215_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,115},{110,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,84}}</string>
        <key>sourceSize</key>
        <string>{110,84}</string>
      </dict>
      <key>path_11215_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,201},{110,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,84}}</string>
        <key>sourceSize</key>
        <string>{110,84}</string>
      </dict>
      <key>path_11215_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{150,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,113}}</string>
        <key>sourceSize</key>
        <string>{150,113}</string>
      </dict>
      <key>path_11215_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{150,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,113}}</string>
        <key>sourceSize</key>
        <string>{150,113}</string>
      </dict>
      <key>path_11215_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{150,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,113}}</string>
        <key>sourceSize</key>
        <string>{150,113}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>path_11215.png</string>
      <key>textureFileName</key>
      <string>path_11215.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>