<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>path_11299_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{494,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>path_11299_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,130},{128,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,128}}</string>
    <key>sourceSize</key>
    <string>{128,128}</string>
   </dict>
   <key>path_11299_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{130,130},{128,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,128}}</string>
    <key>sourceSize</key>
    <string>{128,128}</string>
   </dict>
   <key>path_11299_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{130,0},{128,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,128}}</string>
    <key>sourceSize</key>
    <string>{128,128}</string>
   </dict>
   <key>path_11299_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,0},{128,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,128}}</string>
    <key>sourceSize</key>
    <string>{128,128}</string>
   </dict>
   <key>path_11299_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{128,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,128}}</string>
    <key>sourceSize</key>
    <string>{128,128}</string>
   </dict>
   <key>path_11299_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{390,0},{102,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,102}}</string>
    <key>sourceSize</key>
    <string>{102,102}</string>
   </dict>
   <key>path_11299_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,234},{102,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,102}}</string>
    <key>sourceSize</key>
    <string>{102,102}</string>
   </dict>
   <key>path_11299_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{390,104},{102,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,102}}</string>
    <key>sourceSize</key>
    <string>{102,102}</string>
   </dict>
   <key>path_11299_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,130},{102,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,102}}</string>
    <key>sourceSize</key>
    <string>{102,102}</string>
   </dict>
   <key>path_11299_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,208},{102,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,102}}</string>
    <key>sourceSize</key>
    <string>{102,102}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>path_11299.png</string>
   <key>textureFileName</key>
   <string>path_11299.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>