<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>path_11622_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>path_11622_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{268,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,170}}</string>
        <key>sourceSize</key>
        <string>{268,170}</string>
      </dict>
      <key>path_11622_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,288},{235,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,162}}</string>
        <key>sourceSize</key>
        <string>{235,162}</string>
      </dict>
      <key>path_11622_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{199,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,139}}</string>
        <key>sourceSize</key>
        <string>{199,139}</string>
      </dict>
      <key>path_11622_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,141},{149,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,125}}</string>
        <key>sourceSize</key>
        <string>{149,125}</string>
      </dict>
      <key>path_11622_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,141},{60,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,75}}</string>
        <key>sourceSize</key>
        <string>{60,75}</string>
      </dict>
      <key>path_11622_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{294,286}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,286}}</string>
        <key>sourceSize</key>
        <string>{294,286}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>path_11622.png</string>
      <key>textureFileName</key>
      <string>path_11622.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>