<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>path_11632_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{402,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,12}}</string>
        <key>sourceSize</key>
        <string>{402,12}</string>
      </dict>
      <key>path_11632_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>path_11632_239.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,14},{54,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,42}}</string>
        <key>sourceSize</key>
        <string>{54,42}</string>
      </dict>
      <key>path_11632_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,14},{40,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,28}}</string>
        <key>sourceSize</key>
        <string>{40,28}</string>
      </dict>
      <key>path_11632_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,14},{42,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,30}}</string>
        <key>sourceSize</key>
        <string>{42,30}</string>
      </dict>
      <key>path_11632_238.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,14},{70,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,56}}</string>
        <key>sourceSize</key>
        <string>{70,56}</string>
      </dict>
      <key>path_11632_233.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,14},{74,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,58}}</string>
        <key>sourceSize</key>
        <string>{74,58}</string>
      </dict>
      <key>path_11632_232.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,0},{76,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,56}}</string>
        <key>sourceSize</key>
        <string>{76,56}</string>
      </dict>
      <key>path_11632_231.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,14},{46,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,34}}</string>
        <key>sourceSize</key>
        <string>{46,34}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>path_11632.png</string>
      <key>textureFileName</key>
      <string>path_11632.png</string>
      <key>size</key>
      <string>{512,128}</string>
    </dict>
  </dict>
</plist>