<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shine1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,81},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>shine1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,303},{67,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{67,63}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>shine1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,169}}</string>
                <key>sourceSize</key>
                <string>{22,169}</string>
            </dict>
            <key>shine1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{107,106}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{107,106}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>shine1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,133},{37,62}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{37,62}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>shine1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{103,108}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{103,108}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>shine1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{87,92}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{87,92}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>shine1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,100},{89,100}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{89,100}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>shine1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,202},{99,106}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>shine1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,303},{61,84}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{61,84}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>shine1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{79,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{79,96}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>shine1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,26},{54,53}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{54,53}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>shine1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,197},{35,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shine1.png</string>
            <key>size</key>
            <string>{256,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36946f0ab14e2d035aa959f2df55034b$</string>
            <key>textureFileName</key>
            <string>shine1.png</string>
        </dict>
    </dict>
</plist>
