<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shine_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{54,53}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{54,53}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>shine_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,57},{50,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>shine_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{10,163}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{10,163}}</string>
                <key>sourceSize</key>
                <string>{22,169}</string>
            </dict>
            <key>shine_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,106},{35,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>shine_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{67,63}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>shine_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>shine_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,109},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>shine_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,67},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shine.png</string>
            <key>size</key>
            <string>{127,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3c15f787cc3251c993b960f0de32ae7$</string>
            <key>textureFileName</key>
            <string>shine.png</string>
        </dict>
    </dict>
</plist>
