<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>stars_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>stars_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,122},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>stars_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>stars_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>stars_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>stars_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>stars.png</string>
      <key>textureFileName</key>
      <string>stars.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>