<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_ani_11206_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,39},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>weapon_ani_11206_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,27},{16,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,26}}</string>
        <key>sourceSize</key>
        <string>{16,26}</string>
      </dict>
      <key>weapon_ani_11206_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{19,39},{13,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,24}}</string>
        <key>sourceSize</key>
        <string>{13,24}</string>
      </dict>
      <key>weapon_ani_11206_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,0},{17,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,25}}</string>
        <key>sourceSize</key>
        <string>{17,25}</string>
      </dict>
      <key>weapon_ani_11206_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,55},{11,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,18}}</string>
        <key>sourceSize</key>
        <string>{11,18}</string>
      </dict>
      <key>weapon_ani_11206_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,55},{14,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,18}}</string>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>weapon_ani_11206_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{37,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,37}}</string>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_ani_11206.png</string>
      <key>textureFileName</key>
      <string>weapon_ani_11206.png</string>
      <key>size</key>
      <string>{64,128}</string>
    </dict>
  </dict>
</plist>