<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>weapon_ani_11007_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{84,0},{82,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,91}}</string>
    <key>sourceSize</key>
    <string>{82,91}</string>
   </dict>
   <key>weapon_ani_11007_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,186},{82,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,91}}</string>
    <key>sourceSize</key>
    <string>{82,91}</string>
   </dict>
   <key>weapon_ani_11007_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,93},{82,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,91}}</string>
    <key>sourceSize</key>
    <string>{82,91}</string>
   </dict>
   <key>weapon_ani_11007_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{84,186},{82,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,91}}</string>
    <key>sourceSize</key>
    <string>{82,91}</string>
   </dict>
   <key>weapon_ani_11007_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{82,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,91}}</string>
    <key>sourceSize</key>
    <string>{82,91}</string>
   </dict>
   <key>weapon_ani_11007_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{168,0},{82,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,91}}</string>
    <key>sourceSize</key>
    <string>{82,91}</string>
   </dict>
   <key>weapon_ani_11007_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{84,93},{82,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,91}}</string>
    <key>sourceSize</key>
    <string>{82,91}</string>
   </dict>
   <key>weapon_ani_11007_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{168,93},{82,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,91}}</string>
    <key>sourceSize</key>
    <string>{82,91}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>weapon_ani_11007.png</string>
   <key>textureFileName</key>
   <string>weapon_ani_11007.png</string>
   <key>size</key>
   <string>{256,512}</string>
  </dict>
 </dict>
</plist>