<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>battle_win_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,683},{59,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,59}}</string>
        <key>sourceSize</key>
        <string>{59,59}</string>
      </dict>
      <key>battle_win_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,96},{19,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,17}}</string>
        <key>sourceSize</key>
        <string>{19,17}</string>
      </dict>
      <key>battle_win_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,638},{74,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,74}}</string>
        <key>sourceSize</key>
        <string>{74,74}</string>
      </dict>
      <key>battle_win_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,0},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>battle_win_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,740},{254,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{254,72}}</string>
        <key>sourceSize</key>
        <string>{254,72}</string>
      </dict>
      <key>battle_win_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,441},{133,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,134}}</string>
        <key>sourceSize</key>
        <string>{133,134}</string>
      </dict>
      <key>battle_win_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,591},{88,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,90}}</string>
        <key>sourceSize</key>
        <string>{88,90}</string>
      </dict>
      <key>battle_win_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,670},{67,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,69}}</string>
        <key>sourceSize</key>
        <string>{67,69}</string>
      </dict>
      <key>battle_win_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,0},{32,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,33}}</string>
        <key>sourceSize</key>
        <string>{32,33}</string>
      </dict>
      <key>battle_win_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,370},{366,368}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{366,368}}</string>
        <key>sourceSize</key>
        <string>{366,368}</string>
      </dict>
      <key>battle_win_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,370},{366,368}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{366,368}}</string>
        <key>sourceSize</key>
        <string>{366,368}</string>
      </dict>
      <key>battle_win_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{366,368}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{366,368}}</string>
        <key>sourceSize</key>
        <string>{366,368}</string>
      </dict>
      <key>battle_win_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{366,368}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{366,368}}</string>
        <key>sourceSize</key>
        <string>{366,368}</string>
      </dict>
      <key>battle_win_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,0},{242,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,248}}</string>
        <key>sourceSize</key>
        <string>{242,248}</string>
      </dict>
      <key>battle_win_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,250},{184,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,189}}</string>
        <key>sourceSize</key>
        <string>{184,189}</string>
      </dict>
      <key>battle_win_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,577},{88,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,91}}</string>
        <key>sourceSize</key>
        <string>{88,91}</string>
      </dict>
      <key>battle_win_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,441},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>battle_win_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,491},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>battle_win_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,541},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>battle_win_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,35},{31,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,32}}</string>
        <key>sourceSize</key>
        <string>{31,32}</string>
      </dict>
      <key>battle_win_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,69},{24,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,25}}</string>
        <key>sourceSize</key>
        <string>{24,25}</string>
      </dict>
      <key>battle_win_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,69},{12,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,12}</string>
      </dict>
      <key>battle_win_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,347},{91,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,95}}</string>
        <key>sourceSize</key>
        <string>{91,95}</string>
      </dict>
      <key>battle_win_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,541},{91,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,95}}</string>
        <key>sourceSize</key>
        <string>{91,95}</string>
      </dict>
      <key>battle_win_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,250},{91,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,95}}</string>
        <key>sourceSize</key>
        <string>{91,95}</string>
      </dict>
      <key>battle_win_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,444},{91,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,95}}</string>
        <key>sourceSize</key>
        <string>{91,95}</string>
      </dict>
      <key>battle_win_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,740},{427,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{427,252}}</string>
        <key>sourceSize</key>
        <string>{427,252}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>battle_win.png</string>
      <key>textureFileName</key>
      <string>battle_win.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>