<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>building_repair1_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{1790,218},{46,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,42}}</string>
        <key>sourceSize</key>
        <string>{46,42}</string>
      </dict>
      <key>building_repair1_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{1454,337},{23,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,17}}</string>
        <key>sourceSize</key>
        <string>{23,17}</string>
      </dict>
      <key>building_repair1_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{1522,276},{22,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,29}}</string>
        <key>sourceSize</key>
        <string>{22,29}</string>
      </dict>
      <key>building_repair1_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{2005,263},{35,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,50}}</string>
        <key>sourceSize</key>
        <string>{35,50}</string>
      </dict>
      <key>building_repair1_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{1830,273},{35,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,50}}</string>
        <key>sourceSize</key>
        <string>{35,50}</string>
      </dict>
      <key>building_repair1_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{1672,195},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>building_repair1_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{1645,325},{23,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,22}}</string>
        <key>sourceSize</key>
        <string>{23,22}</string>
      </dict>
      <key>building_repair1_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{1838,207},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>building_repair1_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{1939,201},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>building_repair1_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{1724,218},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>building_repair1_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{1670,295},{34,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,35}}</string>
        <key>sourceSize</key>
        <string>{34,35}</string>
      </dict>
      <key>building_repair1_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{1546,300},{33,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,35}}</string>
        <key>sourceSize</key>
        <string>{33,35}</string>
      </dict>
      <key>building_repair1_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{1753,284},{35,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>building_repair1_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{1903,301},{31,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,34}}</string>
        <key>sourceSize</key>
        <string>{31,34}</string>
      </dict>
      <key>building_repair1_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{2018,174},{28,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,35}}</string>
        <key>sourceSize</key>
        <string>{28,35}</string>
      </dict>
      <key>building_repair1_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{1867,312},{30,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,34}}</string>
        <key>sourceSize</key>
        <string>{30,34}</string>
      </dict>
      <key>building_repair1_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{1753,321},{29,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,35}}</string>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>building_repair1_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{1581,300},{30,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,36}}</string>
        <key>sourceSize</key>
        <string>{30,36}</string>
      </dict>
      <key>building_repair1_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{1422,311},{30,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,35}}</string>
        <key>sourceSize</key>
        <string>{30,35}</string>
      </dict>
      <key>building_repair1_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{1706,323},{29,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,35}}</string>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>building_repair1_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{1790,312},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>building_repair1_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{1479,324},{29,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,35}}</string>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>building_repair1_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{1522,307},{22,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,20}}</string>
        <key>sourceSize</key>
        <string>{22,20}</string>
      </dict>
      <key>building_repair1_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{1454,311},{23,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,24}}</string>
        <key>sourceSize</key>
        <string>{23,24}</string>
      </dict>
      <key>building_repair1_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{1607,243},{21,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,24}}</string>
        <key>sourceSize</key>
        <string>{21,24}</string>
      </dict>
      <key>building_repair1_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{1607,269},{21,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>building_repair1_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{1961,94},{55,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,105}}</string>
        <key>sourceSize</key>
        <string>{55,105}</string>
      </dict>
      <key>building_repair1_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{1937,267},{58,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,55}}</string>
        <key>sourceSize</key>
        <string>{58,55}</string>
      </dict>
      <key>building_repair1_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{1422,254},{58,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,55}}</string>
        <key>sourceSize</key>
        <string>{58,55}</string>
      </dict>
      <key>building_repair1_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{1547,243},{58,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,55}}</string>
        <key>sourceSize</key>
        <string>{58,55}</string>
      </dict>
      <key>building_repair1_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{1936,324},{30,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,33}}</string>
        <key>sourceSize</key>
        <string>{30,33}</string>
      </dict>
      <key>building_repair1_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{1613,325},{30,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,33}}</string>
        <key>sourceSize</key>
        <string>{30,33}</string>
      </dict>
      <key>building_repair1_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{1670,332},{28,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,34}}</string>
        <key>sourceSize</key>
        <string>{28,34}</string>
      </dict>
      <key>building_repair1_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{1997,315},{30,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,34}}</string>
        <key>sourceSize</key>
        <string>{30,34}</string>
      </dict>
      <key>building_repair1_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{1821,325},{28,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,35}}</string>
        <key>sourceSize</key>
        <string>{28,35}</string>
      </dict>
      <key>building_repair1_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{1510,329},{28,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,34}}</string>
        <key>sourceSize</key>
        <string>{28,34}</string>
      </dict>
      <key>building_repair1_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{1867,273},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>building_repair1_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{1904,261},{31,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,38}}</string>
        <key>sourceSize</key>
        <string>{31,38}</string>
      </dict>
      <key>building_repair1_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{2018,94},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>building_repair1_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{1968,324},{27,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,22}}</string>
        <key>sourceSize</key>
        <string>{27,22}</string>
      </dict>
      <key>building_repair1_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{1552,111},{12,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,9}}</string>
        <key>sourceSize</key>
        <string>{12,9}</string>
      </dict>
      <key>building_repair1_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{1566,64},{111,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,107}}</string>
        <key>sourceSize</key>
        <string>{111,107}</string>
      </dict>
      <key>building_repair1_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{1725,109},{111,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,107}}</string>
        <key>sourceSize</key>
        <string>{111,107}</string>
      </dict>
      <key>building_repair1_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{1848,0},{111,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,107}}</string>
        <key>sourceSize</key>
        <string>{111,107}</string>
      </dict>
      <key>building_repair1_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{1735,0},{111,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,107}}</string>
        <key>sourceSize</key>
        <string>{111,107}</string>
      </dict>
      <key>building_repair1_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{1679,64},{44,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,68}}</string>
        <key>sourceSize</key>
        <string>{44,68}</string>
      </dict>
      <key>building_repair1_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{1510,111},{40,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,65}}</string>
        <key>sourceSize</key>
        <string>{40,65}</string>
      </dict>
      <key>building_repair1_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{1679,134},{35,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,59}}</string>
        <key>sourceSize</key>
        <string>{35,59}</string>
      </dict>
      <key>building_repair1_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{1904,207},{32,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,52}}</string>
        <key>sourceSize</key>
        <string>{32,52}</string>
      </dict>
      <key>building_repair1_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{2018,133},{25,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,39}}</string>
        <key>sourceSize</key>
        <string>{25,39}</string>
      </dict>
      <key>building_repair1_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1422,182},{72,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,70}}</string>
        <key>sourceSize</key>
        <string>{72,70}</string>
      </dict>
      <key>building_repair1_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1552,173},{76,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,68}}</string>
        <key>sourceSize</key>
        <string>{76,68}</string>
      </dict>
      <key>building_repair1_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1482,276},{38,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,46}}</string>
        <key>sourceSize</key>
        <string>{38,46}</string>
      </dict>
      <key>building_repair1_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{2005,211},{38,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,50}}</string>
        <key>sourceSize</key>
        <string>{38,50}</string>
      </dict>
      <key>building_repair1_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1790,262},{38,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,48}}</string>
        <key>sourceSize</key>
        <string>{38,48}</string>
      </dict>
      <key>building_repair1_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1630,227},{38,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,50}}</string>
        <key>sourceSize</key>
        <string>{38,50}</string>
      </dict>
      <key>building_repair1_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1630,173},{40,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,52}}</string>
        <key>sourceSize</key>
        <string>{40,52}</string>
      </dict>
      <key>building_repair1_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1510,178},{40,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,48}}</string>
        <key>sourceSize</key>
        <string>{40,48}</string>
      </dict>
      <key>building_repair1_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1630,279},{38,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,44}}</string>
        <key>sourceSize</key>
        <string>{38,44}</string>
      </dict>
      <key>building_repair1_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1670,247},{40,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,46}}</string>
        <key>sourceSize</key>
        <string>{40,46}</string>
      </dict>
      <key>building_repair1_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1961,0},{74,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,92}}</string>
        <key>sourceSize</key>
        <string>{74,92}</string>
      </dict>
      <key>building_repair1_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1496,228},{49,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,46}}</string>
        <key>sourceSize</key>
        <string>{49,46}</string>
      </dict>
      <key>building_repair1_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1939,109},{19,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,19}}</string>
        <key>sourceSize</key>
        <string>{19,19}</string>
      </dict>
      <key>building_repair1_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1422,0},{142,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,109}}</string>
        <key>sourceSize</key>
        <string>{142,109}</string>
      </dict>
      <key>building_repair1_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{1566,0},{167,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,62}}</string>
        <key>sourceSize</key>
        <string>{167,62}</string>
      </dict>
      <key>building_repair1_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{1712,284},{39,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,37}}</string>
        <key>sourceSize</key>
        <string>{39,37}</string>
      </dict>
      <key>building_repair1_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{1422,111},{86,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,69}}</string>
        <key>sourceSize</key>
        <string>{86,69}</string>
      </dict>
      <key>building_repair1_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{1851,359},{94,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,23}}</string>
        <key>sourceSize</key>
        <string>{94,23}</string>
      </dict>
      <key>building_repair1_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1420,1088}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1420,1088}}</string>
        <key>sourceSize</key>
        <string>{1420,1088}</string>
      </dict>
      <key>building_repair1_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1838,109},{99,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,96}}</string>
        <key>sourceSize</key>
        <string>{99,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>building_repair1.png</string>
      <key>textureFileName</key>
      <string>building_repair1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
    </dict>
  </dict>
</plist>