<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_upgrade_light_jianz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,264}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{80,264}}</string>
                <key>sourceSize</key>
                <string>{82,316}</string>
            </dict>
            <key>building_upgrade_light_jianz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{30,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,137}}</string>
                <key>sourceSize</key>
                <string>{30,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_upgrade_light.png</string>
            <key>size</key>
            <string>{116,268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cf859a72cce44bd830629334be714e4$</string>
            <key>textureFileName</key>
            <string>building_upgrade_light.png</string>
        </dict>
    </dict>
</plist>
