<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>buildingpos_barracks__5.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,327},{97,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,62}}</string>
    <key>sourceSize</key>
    <string>{97,62}</string>
   </dict>
   <key>buildingpos_barracks__7.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,88},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,40}}</string>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>buildingpos_barracks__12.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,161},{76,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,164}}</string>
    <key>sourceSize</key>
    <string>{76,164}</string>
   </dict>
   <key>buildingpos_barracks__18.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,161},{76,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,164}}</string>
    <key>sourceSize</key>
    <string>{76,164}</string>
   </dict>
   <key>buildingpos_barracks__9.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,0},{83,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,159}}</string>
    <key>sourceSize</key>
    <string>{83,159}</string>
   </dict>
   <key>buildingpos_barracks__19.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,0},{83,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,159}}</string>
    <key>sourceSize</key>
    <string>{83,159}</string>
   </dict>
   <key>buildingpos_barracks__22.png</key>
   <dict>
    <key>frame</key>
    <string>{{138,215},{84,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,124}}</string>
    <key>sourceSize</key>
    <string>{84,124}</string>
   </dict>
   <key>buildingpos_barracks__10.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,0},{43,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,42}}</string>
    <key>sourceSize</key>
    <string>{43,42}</string>
   </dict>
   <key>buildingpos_barracks__11.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,244},{70,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,81}}</string>
    <key>sourceSize</key>
    <string>{70,81}</string>
   </dict>
   <key>buildingpos_barracks__21.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,227},{84,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,124}}</string>
    <key>sourceSize</key>
    <string>{84,124}</string>
   </dict>
   <key>buildingpos_barracks__28.png</key>
   <dict>
    <key>frame</key>
    <string>{{138,0},{132,213}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{132,213}}</string>
    <key>sourceSize</key>
    <string>{132,213}</string>
   </dict>
   <key>buildingpos_barracks__4.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,44},{43,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,42}}</string>
    <key>sourceSize</key>
    <string>{43,42}</string>
   </dict>
   <key>buildingpos_barracks__3.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,161},{70,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,81}}</string>
    <key>sourceSize</key>
    <string>{70,81}</string>
   </dict>
   <key>buildingpos_barracks__27.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{136,225}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{136,225}}</string>
    <key>sourceSize</key>
    <string>{136,225}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>buildingpos_barracks.png</string>
   <key>textureFileName</key>
   <string>buildingpos_barracks.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>