<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_upgrade_star_fsafas.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>building_upgrade_star_jianz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>building_upgrade_star_jianz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>building_upgrade_star_jjjyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_upgrade_star.png</string>
            <key>size</key>
            <string>{131,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:777206a0dd47f754437f7ad0220fdbd7$</string>
            <key>textureFileName</key>
            <string>building_upgrade_star.png</string>
        </dict>
    </dict>
</plist>
