<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>building_upgrade_pos__3.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,159},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>building_upgrade_pos__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,74},{47,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,39}}</string>
        <key>sourceSize</key>
        <string>{47,39}</string>
      </dict>
      <key>building_upgrade_pos__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,115},{43,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,42}}</string>
        <key>sourceSize</key>
        <string>{43,42}</string>
      </dict>
      <key>building_upgrade_pos__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,74},{47,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,39}}</string>
        <key>sourceSize</key>
        <string>{47,39}</string>
      </dict>
      <key>building_upgrade_pos__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,156},{37,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,35}}</string>
        <key>sourceSize</key>
        <string>{37,35}</string>
      </dict>
      <key>building_upgrade_pos__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,74},{47,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,39}}</string>
        <key>sourceSize</key>
        <string>{47,39}</string>
      </dict>
      <key>building_upgrade_pos__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,159},{37,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,35}}</string>
        <key>sourceSize</key>
        <string>{37,35}</string>
      </dict>
      <key>building_upgrade_pos__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,115},{47,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,39}}</string>
        <key>sourceSize</key>
        <string>{47,39}</string>
      </dict>
      <key>building_upgrade_pos__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,115},{43,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,42}}</string>
        <key>sourceSize</key>
        <string>{43,42}</string>
      </dict>
      <key>building_upgrade_pos__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,74},{32,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,106}}</string>
        <key>sourceSize</key>
        <string>{32,106}</string>
      </dict>
      <key>building_upgrade_pos__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,74},{86,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,106}}</string>
        <key>sourceSize</key>
        <string>{86,106}</string>
      </dict>
      <key>building_upgrade_pos__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,74},{52,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,106}}</string>
        <key>sourceSize</key>
        <string>{52,106}</string>
      </dict>
      <key>building_upgrade_pos__41.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{34,249}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,249}}</string>
        <key>sourceSize</key>
        <string>{34,249}</string>
      </dict>
      <key>building_upgrade_pos__40.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{86,249}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,249}}</string>
        <key>sourceSize</key>
        <string>{86,249}</string>
      </dict>
      <key>building_upgrade_pos__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,74},{35,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,149}}</string>
        <key>sourceSize</key>
        <string>{35,149}</string>
      </dict>
      <key>building_upgrade_pos__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{400,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,72}}</string>
        <key>sourceSize</key>
        <string>{400,72}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>building_upgrade_pos.png</string>
      <key>textureFileName</key>
      <string>building_upgrade_pos.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>