<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>building_skin__s_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{106,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,43}}</string>
        <key>sourceSize</key>
        <string>{106,43}</string>
      </dict>
      <key>building_skin__s_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,50},{14,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,16}}</string>
        <key>sourceSize</key>
        <string>{14,16}</string>
      </dict>
      <key>building_skin__s_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{13,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,48}}</string>
        <key>sourceSize</key>
        <string>{13,48}</string>
      </dict>
      <key>building_skin__s_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,45},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,17}}</string>
        <key>sourceSize</key>
        <string>{17,17}</string>
      </dict>
      <key>building_skin__s_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,45},{79,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,57}}</string>
        <key>sourceSize</key>
        <string>{79,57}</string>
      </dict>
      <key>building_skin__s_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,126},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>building_skin__s_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,126},{58,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,58}}</string>
        <key>sourceSize</key>
        <string>{58,58}</string>
      </dict>
      <key>building_skin__s_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{82,316}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,316}}</string>
        <key>sourceSize</key>
        <string>{82,316}</string>
      </dict>
      <key>building_skin__s_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{30,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,137}}</string>
        <key>sourceSize</key>
        <string>{30,137}</string>
      </dict>
      <key>building_skin__s_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{12,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,71}}</string>
        <key>sourceSize</key>
        <string>{12,71}</string>
      </dict>
      <key>building_skin__s_111.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,104},{113,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,20}}</string>
        <key>sourceSize</key>
        <string>{113,20}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>building_skin.png</string>
      <key>textureFileName</key>
      <string>building_skin.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>