<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>camp_map_effect_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,105},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,104},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,98},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,98},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,84},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_107.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{38,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,32}}</string>
        <key>sourceSize</key>
        <string>{38,32}</string>
      </dict>
      <key>camp_map_effect_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,79},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,78},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,64},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,44},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,44},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,99},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,106},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,118},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,104},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,64},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,106},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,78},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,118},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,78},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_119.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{38,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,32}}</string>
        <key>sourceSize</key>
        <string>{38,32}</string>
      </dict>
      <key>camp_map_effect_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,84},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,119},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,85},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,118},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,98},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,104},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>camp_map_effect_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,79},{19,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,16}}</string>
        <key>sourceSize</key>
        <string>{19,16}</string>
      </dict>
      <key>camp_map_effect_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,44},{21,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,20}}</string>
        <key>sourceSize</key>
        <string>{21,20}</string>
      </dict>
      <key>camp_map_effect_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,66},{19,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,18}}</string>
        <key>sourceSize</key>
        <string>{19,18}</string>
      </dict>
      <key>camp_map_effect_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,90},{18,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,14}}</string>
        <key>sourceSize</key>
        <string>{18,14}</string>
      </dict>
      <key>camp_map_effect_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,88},{18,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,14}}</string>
        <key>sourceSize</key>
        <string>{18,14}</string>
      </dict>
      <key>camp_map_effect_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,69},{18,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,19}}</string>
        <key>sourceSize</key>
        <string>{18,19}</string>
      </dict>
      <key>camp_map_effect_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,44},{18,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,42}}</string>
        <key>sourceSize</key>
        <string>{18,42}</string>
      </dict>
      <key>camp_map_effect_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,35},{20,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,42}}</string>
        <key>sourceSize</key>
        <string>{20,42}</string>
      </dict>
      <key>camp_map_effect_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{44,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,42}}</string>
        <key>sourceSize</key>
        <string>{44,42}</string>
      </dict>
      <key>camp_map_effect_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,0},{44,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,42}}</string>
        <key>sourceSize</key>
        <string>{44,42}</string>
      </dict>
      <key>camp_map_effect_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{35,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,42}}</string>
        <key>sourceSize</key>
        <string>{35,42}</string>
      </dict>
      <key>camp_map_effect_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{29,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,42}}</string>
        <key>sourceSize</key>
        <string>{29,42}</string>
      </dict>
      <key>camp_map_effect_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,34},{26,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,42}}</string>
        <key>sourceSize</key>
        <string>{26,42}</string>
      </dict>
      <key>camp_map_effect_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,34},{24,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,42}}</string>
        <key>sourceSize</key>
        <string>{24,42}</string>
      </dict>
      <key>camp_map_effect_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,44},{23,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,39}}</string>
        <key>sourceSize</key>
        <string>{23,39}</string>
      </dict>
      <key>camp_map_effect_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,44},{20,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,33}}</string>
        <key>sourceSize</key>
        <string>{20,33}</string>
      </dict>
      <key>camp_map_effect_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,44},{19,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,23}}</string>
        <key>sourceSize</key>
        <string>{19,23}</string>
      </dict>
      <key>camp_map_effect_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,86},{18,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,17}}</string>
        <key>sourceSize</key>
        <string>{18,17}</string>
      </dict>
      <key>camp_map_effect_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,16},{11,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,10}}</string>
        <key>sourceSize</key>
        <string>{11,10}</string>
      </dict>
      <key>camp_map_effect_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,32},{5,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,1}}</string>
        <key>sourceSize</key>
        <string>{5,1}</string>
      </dict>
      <key>camp_map_effect_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,32},{6,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,1}}</string>
        <key>sourceSize</key>
        <string>{6,1}</string>
      </dict>
      <key>camp_map_effect_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,34},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>camp_map_effect_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,34},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>camp_map_effect_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,19},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>camp_map_effect_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,28},{7,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,2}}</string>
        <key>sourceSize</key>
        <string>{7,2}</string>
      </dict>
      <key>camp_map_effect_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,34},{4,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,1}}</string>
        <key>sourceSize</key>
        <string>{4,1}</string>
      </dict>
      <key>camp_map_effect_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,28},{5,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,2}}</string>
        <key>sourceSize</key>
        <string>{5,2}</string>
      </dict>
      <key>camp_map_effect_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,34},{2,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,1}}</string>
        <key>sourceSize</key>
        <string>{2,1}</string>
      </dict>
      <key>camp_map_effect_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,16},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>camp_map_effect_137.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,14}}</string>
        <key>sourceSize</key>
        <string>{14,14}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>camp_map_effect.png</string>
      <key>textureFileName</key>
      <string>camp_map_effect.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>