<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>campaign_altar_item_effect_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,0},{229,295}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{229,295}}</string>
        <key>sourceSize</key>
        <string>{229,295}</string>
      </dict>
      <key>campaign_altar_item_effect_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,297},{137,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,204}}</string>
        <key>sourceSize</key>
        <string>{137,204}</string>
      </dict>
      <key>campaign_altar_item_effect_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,323},{142,183}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,183}}</string>
        <key>sourceSize</key>
        <string>{142,183}</string>
      </dict>
      <key>campaign_altar_item_effect_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,0},{59,439}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,439}}</string>
        <key>sourceSize</key>
        <string>{59,439}</string>
      </dict>
      <key>campaign_altar_item_effect_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,0},{163,357}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,357}}</string>
        <key>sourceSize</key>
        <string>{163,357}</string>
      </dict>
      <key>campaign_altar_item_effect_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{188,407}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,407}}</string>
        <key>sourceSize</key>
        <string>{188,407}</string>
      </dict>
      <key>campaign_altar_item_effect_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,0},{67,348}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,348}}</string>
        <key>sourceSize</key>
        <string>{67,348}</string>
      </dict>
      <key>campaign_altar_item_effect_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{233,321}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{233,321}}</string>
        <key>sourceSize</key>
        <string>{233,321}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>campaign_altar_item_effect.png</string>
      <key>textureFileName</key>
      <string>campaign_altar_item_effect.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>