<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>campaign_firework_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,203},{65,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,39}}</string>
        <key>sourceSize</key>
        <string>{65,39}</string>
      </dict>
      <key>campaign_firework_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{135,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,124}}</string>
        <key>sourceSize</key>
        <string>{135,124}</string>
      </dict>
      <key>campaign_firework_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,126},{58,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,58}}</string>
        <key>sourceSize</key>
        <string>{58,58}</string>
      </dict>
      <key>campaign_firework_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{87,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,88}}</string>
        <key>sourceSize</key>
        <string>{87,88}</string>
      </dict>
      <key>campaign_firework_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,90},{86,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,86}}</string>
        <key>sourceSize</key>
        <string>{86,86}</string>
      </dict>
      <key>campaign_firework_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,178},{42,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>campaign_firework_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,186},{38,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,39}}</string>
        <key>sourceSize</key>
        <string>{38,39}</string>
      </dict>
      <key>campaign_firework_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{74,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,75}}</string>
        <key>sourceSize</key>
        <string>{74,75}</string>
      </dict>
      <key>campaign_firework_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,222},{37,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,37}}</string>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
      <key>campaign_firework_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,227},{36,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,36}}</string>
        <key>sourceSize</key>
        <string>{36,36}</string>
      </dict>
      <key>campaign_firework_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{35,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>campaign_firework_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,247},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>campaign_firework_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,178},{66,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,67}}</string>
        <key>sourceSize</key>
        <string>{66,67}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>campaign_firework.png</string>
      <key>textureFileName</key>
      <string>campaign_firework.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>