<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>carriage_run__7.png</key>
   <dict>
    <key>frame</key>
    <string>{{146,0},{144,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,118}}</string>
    <key>sourceSize</key>
    <string>{144,118}</string>
   </dict>
   <key>carriage_run__6.png</key>
   <dict>
    <key>frame</key>
    <string>{{292,120},{144,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,118}}</string>
    <key>sourceSize</key>
    <string>{144,118}</string>
   </dict>
   <key>carriage_run__5.png</key>
   <dict>
    <key>frame</key>
    <string>{{146,120},{144,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,118}}</string>
    <key>sourceSize</key>
    <string>{144,118}</string>
   </dict>
   <key>carriage_run__4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{144,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,118}}</string>
    <key>sourceSize</key>
    <string>{144,118}</string>
   </dict>
   <key>carriage_run__3.png</key>
   <dict>
    <key>frame</key>
    <string>{{292,0},{144,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,118}}</string>
    <key>sourceSize</key>
    <string>{144,118}</string>
   </dict>
   <key>carriage_run__2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,120},{144,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,118}}</string>
    <key>sourceSize</key>
    <string>{144,118}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>carriage_run.png</string>
   <key>textureFileName</key>
   <string>carriage_run.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>