<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>childrensummon_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,182},{144,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,173}}</string>
        <key>sourceSize</key>
        <string>{144,173}</string>
      </dict>
      <key>childrensummon_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,172},{163,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,166}}</string>
        <key>sourceSize</key>
        <string>{163,166}</string>
      </dict>
      <key>childrensummon_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,0},{163,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,169}}</string>
        <key>sourceSize</key>
        <string>{163,169}</string>
      </dict>
      <key>childrensummon_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,171},{156,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,176}}</string>
        <key>sourceSize</key>
        <string>{156,176}</string>
      </dict>
      <key>childrensummon_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,0},{163,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,180}}</string>
        <key>sourceSize</key>
        <string>{163,180}</string>
      </dict>
      <key>childrensummon_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{163,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,184}}</string>
        <key>sourceSize</key>
        <string>{163,184}</string>
      </dict>
      <key>childrensummon_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,0},{163,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,170}}</string>
        <key>sourceSize</key>
        <string>{163,170}</string>
      </dict>
      <key>childrensummon_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,0},{64,211}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,211}}</string>
        <key>sourceSize</key>
        <string>{64,211}</string>
      </dict>
      <key>childrensummon_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{270,323}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,323}}</string>
        <key>sourceSize</key>
        <string>{270,323}</string>
      </dict>
      <key>childrensummon_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,0},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>childrensummon_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{925,288},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,71}}</string>
        <key>sourceSize</key>
        <string>{71,71}</string>
      </dict>
      <key>childrensummon_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,325},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,71}}</string>
        <key>sourceSize</key>
        <string>{71,71}</string>
      </dict>
      <key>childrensummon_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{925,213},{97,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,73}}</string>
        <key>sourceSize</key>
        <string>{97,73}</string>
      </dict>
      <key>childrensummon_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,277},{97,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,73}}</string>
        <key>sourceSize</key>
        <string>{97,73}</string>
      </dict>
      <key>childrensummon_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,186},{110,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,89}}</string>
        <key>sourceSize</key>
        <string>{110,89}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>childrensummon.png</string>
      <key>textureFileName</key>
      <string>childrensummon.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>