<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>childrenin_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,103},{9,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,10}}</string>
        <key>sourceSize</key>
        <string>{9,10}</string>
      </dict>
      <key>childrenin_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,92},{9,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,10}}</string>
        <key>sourceSize</key>
        <string>{9,10}</string>
      </dict>
      <key>childrenin_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,115},{14,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,6}}</string>
        <key>sourceSize</key>
        <string>{14,6}</string>
      </dict>
      <key>childrenin_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,91},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
      <key>childrenin_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{30,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,20}}</string>
        <key>sourceSize</key>
        <string>{30,20}</string>
      </dict>
      <key>childrenin_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,111},{24,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,17}}</string>
        <key>sourceSize</key>
        <string>{24,17}</string>
      </dict>
      <key>childrenin_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,53},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>childrenin_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,103},{24,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,20}}</string>
        <key>sourceSize</key>
        <string>{24,20}</string>
      </dict>
      <key>childrenin_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,53},{35,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,39}}</string>
        <key>sourceSize</key>
        <string>{35,39}</string>
      </dict>
      <key>childrenin_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,74},{34,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,38}}</string>
        <key>sourceSize</key>
        <string>{34,38}</string>
      </dict>
      <key>childrenin_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,94},{34,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>childrenin_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,114},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>childrenin_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,137},{26,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,8}}</string>
        <key>sourceSize</key>
        <string>{26,8}</string>
      </dict>
      <key>childrenin_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,78},{10,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,12}}</string>
        <key>sourceSize</key>
        <string>{10,12}</string>
      </dict>
      <key>childrenin_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,50},{6,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,4}}</string>
        <key>sourceSize</key>
        <string>{6,4}</string>
      </dict>
      <key>childrenin_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,50},{24,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,59}}</string>
        <key>sourceSize</key>
        <string>{24,59}</string>
      </dict>
      <key>childrenin_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,50},{24,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,51}}</string>
        <key>sourceSize</key>
        <string>{24,51}</string>
      </dict>
      <key>childrenin_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{24,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,72}}</string>
        <key>sourceSize</key>
        <string>{24,72}</string>
      </dict>
      <key>childrenin_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,53},{3,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,3}}</string>
        <key>sourceSize</key>
        <string>{3,3}</string>
      </dict>
      <key>childrenin_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,104},{12,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,6}}</string>
        <key>sourceSize</key>
        <string>{12,6}</string>
      </dict>
      <key>childrenin_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,78},{11,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,11}}</string>
        <key>sourceSize</key>
        <string>{11,11}</string>
      </dict>
      <key>childrenin_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,130},{28,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,28}}</string>
        <key>sourceSize</key>
        <string>{28,28}</string>
      </dict>
      <key>childrenin_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,130},{28,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,28}}</string>
        <key>sourceSize</key>
        <string>{28,28}</string>
      </dict>
      <key>childrenin_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{102,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,119}}</string>
        <key>sourceSize</key>
        <string>{102,119}</string>
      </dict>
      <key>childrenin_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{60,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,51}}</string>
        <key>sourceSize</key>
        <string>{60,51}</string>
      </dict>
      <key>childrenin_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{60,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,48}}</string>
        <key>sourceSize</key>
        <string>{60,48}</string>
      </dict>
      <key>childrenin_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,133},{37,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,17}}</string>
        <key>sourceSize</key>
        <string>{37,17}</string>
      </dict>
      <key>childrenin_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,121},{76,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,14}}</string>
        <key>sourceSize</key>
        <string>{76,14}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>childrenin.png</string>
      <key>textureFileName</key>
      <string>childrenin.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>