<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>city_war_castle1__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{256,246}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,246}}</string>
        <key>sourceSize</key>
        <string>{256,246}</string>
      </dict>
      <key>city_war_castle1__4.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,0},{226,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,216}}</string>
        <key>sourceSize</key>
        <string>{226,216}</string>
      </dict>
      <key>city_war_castle1__2.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{226,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,216}}</string>
        <key>sourceSize</key>
        <string>{226,216}</string>
      </dict>
      <key>city_war_castle1__3.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{226,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,216}}</string>
        <key>sourceSize</key>
        <string>{226,216}</string>
      </dict>
      <key>city_war_castle1__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,218},{196,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,186}}</string>
        <key>sourceSize</key>
        <string>{196,186}</string>
      </dict>
      <key>city_war_castle1__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,218},{196,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,186}}</string>
        <key>sourceSize</key>
        <string>{196,186}</string>
      </dict>
      <key>city_war_castle1__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,218},{196,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,186}}</string>
        <key>sourceSize</key>
        <string>{196,186}</string>
      </dict>
      <key>city_war_castle1__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,218},{156,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,146}}</string>
        <key>sourceSize</key>
        <string>{156,146}</string>
      </dict>
      <key>city_war_castle1__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,366},{156,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,146}}</string>
        <key>sourceSize</key>
        <string>{156,146}</string>
      </dict>
      <key>city_war_castle1__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,248},{156,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,146}}</string>
        <key>sourceSize</key>
        <string>{156,146}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>city_war_castle1.png</string>
      <key>textureFileName</key>
      <string>city_war_castle1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>