<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>city_monster_danger_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,0},{343,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{343,27}}</string>
        <key>sourceSize</key>
        <string>{343,27}</string>
      </dict>
      <key>city_monster_danger_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,34},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>city_monster_danger_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,34},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>city_monster_danger_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,34},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>city_monster_danger_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,34},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>city_monster_danger_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,34},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>city_monster_danger_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,34},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>city_monster_danger_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,29},{27,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,35}}</string>
        <key>sourceSize</key>
        <string>{27,35}</string>
      </dict>
      <key>city_monster_danger_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,34},{34,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,29}}</string>
        <key>sourceSize</key>
        <string>{34,29}</string>
      </dict>
      <key>city_monster_danger_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,34},{34,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,29}}</string>
        <key>sourceSize</key>
        <string>{34,29}</string>
      </dict>
      <key>city_monster_danger_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,34},{35,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,28}}</string>
        <key>sourceSize</key>
        <string>{35,28}</string>
      </dict>
      <key>city_monster_danger_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,34},{33,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,28}}</string>
        <key>sourceSize</key>
        <string>{33,28}</string>
      </dict>
      <key>city_monster_danger_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,34},{35,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,29}}</string>
        <key>sourceSize</key>
        <string>{35,29}</string>
      </dict>
      <key>city_monster_danger_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,34},{34,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,29}}</string>
        <key>sourceSize</key>
        <string>{34,29}</string>
      </dict>
      <key>city_monster_danger_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,34},{6,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,6}}</string>
        <key>sourceSize</key>
        <string>{6,6}</string>
      </dict>
      <key>city_monster_danger_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,34},{36,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,39}}</string>
        <key>sourceSize</key>
        <string>{36,39}</string>
      </dict>
      <key>city_monster_danger_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,0},{41,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,40}}</string>
        <key>sourceSize</key>
        <string>{41,40}</string>
      </dict>
      <key>city_monster_danger_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,34},{38,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,40}}</string>
        <key>sourceSize</key>
        <string>{38,40}</string>
      </dict>
      <key>city_monster_danger_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,29},{120,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,19}}</string>
        <key>sourceSize</key>
        <string>{120,19}</string>
      </dict>
      <key>city_monster_danger_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{630,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{630,32}}</string>
        <key>sourceSize</key>
        <string>{630,32}</string>
      </dict>
      <key>city_monster_danger_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,29},{189,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,145}}</string>
        <key>sourceSize</key>
        <string>{189,145}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>city_monster_danger.png</string>
      <key>textureFileName</key>
      <string>city_monster_danger.png</string>
      <key>size</key>
      <string>{1024,256}</string>
    </dict>
  </dict>
</plist>