<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>city_danger_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,34},{411,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{411,28}}</string>
        <key>sourceSize</key>
        <string>{411,28}</string>
      </dict>
      <key>city_danger_rs1_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,0},{6,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,6}}</string>
        <key>sourceSize</key>
        <string>{6,6}</string>
      </dict>
      <key>city_danger_rs1_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,21},{36,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,39}}</string>
        <key>sourceSize</key>
        <string>{36,39}</string>
      </dict>
      <key>city_danger_rs1_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,0},{41,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,40}}</string>
        <key>sourceSize</key>
        <string>{41,40}</string>
      </dict>
      <key>city_danger_rs1_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,21},{38,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,40}}</string>
        <key>sourceSize</key>
        <string>{38,40}</string>
      </dict>
      <key>city_danger_rs1_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,0},{120,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,19}}</string>
        <key>sourceSize</key>
        <string>{120,19}</string>
      </dict>
      <key>city_danger_rs1_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{630,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{630,32}}</string>
        <key>sourceSize</key>
        <string>{630,32}</string>
      </dict>
      <key>city_danger_rs1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,0},{189,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,145}}</string>
        <key>sourceSize</key>
        <string>{189,145}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>city_danger.png</string>
      <key>textureFileName</key>
      <string>city_danger.png</string>
      <key>size</key>
      <string>{1024,256}</string>
    </dict>
  </dict>
</plist>