<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>city_elf1_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,44},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>city_elf1_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,22},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>city_elf1_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,0},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>city_elf1_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{33,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,33}}</string>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>city_elf1_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,35},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>city_elf1.png</string>
      <key>textureFileName</key>
      <string>city_elf1.png</string>
      <key>size</key>
      <string>{64,128}</string>
    </dict>
  </dict>
</plist>