<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>city_monster_loading_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,62},{33,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,28}}</string>
    <key>sourceSize</key>
    <string>{33,28}</string>
   </dict>
   <key>city_monster_loading_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,0},{35,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,29}}</string>
    <key>sourceSize</key>
    <string>{35,29}</string>
   </dict>
   <key>city_monster_loading_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,31},{34,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,29}}</string>
    <key>sourceSize</key>
    <string>{34,29}</string>
   </dict>
   <key>city_monster_loading_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,92},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>city_monster_loading_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,113},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>city_monster_loading_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,87},{64,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>sourceSize</key>
    <string>{64,64}</string>
   </dict>
   <key>city_monster_loading_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,87},{95,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,119}}</string>
    <key>sourceSize</key>
    <string>{95,119}</string>
   </dict>
   <key>city_monster_loading_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,87},{109,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,27}}</string>
    <key>sourceSize</key>
    <string>{109,27}</string>
   </dict>
   <key>city_monster_loading_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,87},{170,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{170,24}}</string>
    <key>sourceSize</key>
    <string>{170,24}</string>
   </dict>
   <key>city_monster_loading_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{462,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{462,85}}</string>
    <key>sourceSize</key>
    <string>{462,85}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>city_monster_loading.png</string>
   <key>textureFileName</key>
   <string>city_monster_loading.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>