<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>decor_tupobuff_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,74},{48,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,47}}</string>
        <key>sourceSize</key>
        <string>{48,47}</string>
      </dict>
      <key>decor_tupobuff_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,110},{60,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,36}}</string>
        <key>sourceSize</key>
        <string>{60,36}</string>
      </dict>
      <key>decor_tupobuff_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,61}}</string>
        <key>sourceSize</key>
        <string>{96,61}</string>
      </dict>
      <key>decor_tupobuff_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{80,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,63}}</string>
        <key>sourceSize</key>
        <string>{80,63}</string>
      </dict>
      <key>decor_tupobuff_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{71,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,80}}</string>
        <key>sourceSize</key>
        <string>{71,80}</string>
      </dict>
      <key>decor_tupobuff_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{50,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,76}}</string>
        <key>sourceSize</key>
        <string>{50,76}</string>
      </dict>
      <key>decor_tupobuff_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,0},{48,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,69}}</string>
        <key>sourceSize</key>
        <string>{48,69}</string>
      </dict>
      <key>decor_tupobuff_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,124},{37,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,48}}</string>
        <key>sourceSize</key>
        <string>{37,48}</string>
      </dict>
      <key>decor_tupobuff_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,121},{55,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,34}}</string>
        <key>sourceSize</key>
        <string>{55,34}</string>
      </dict>
      <key>decor_tupobuff_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,124},{34,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,40}}</string>
        <key>sourceSize</key>
        <string>{34,40}</string>
      </dict>
      <key>decor_tupobuff_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,157},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>decor_tupobuff_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,162},{34,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,29}}</string>
        <key>sourceSize</key>
        <string>{34,29}</string>
      </dict>
      <key>decor_tupobuff_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,58},{21,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>decor_tupobuff_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,63},{20,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,21}}</string>
        <key>sourceSize</key>
        <string>{20,21}</string>
      </dict>
      <key>decor_tupobuff_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,149},{26,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,40}}</string>
        <key>sourceSize</key>
        <string>{26,40}</string>
      </dict>
      <key>decor_tupobuff_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,137},{32,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,37}}</string>
        <key>sourceSize</key>
        <string>{32,37}</string>
      </dict>
      <key>decor_tupobuff_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,136},{50,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,32}}</string>
        <key>sourceSize</key>
        <string>{50,32}</string>
      </dict>
      <key>decor_tupobuff_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,137},{58,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,23}}</string>
        <key>sourceSize</key>
        <string>{58,23}</string>
      </dict>
      <key>decor_tupobuff_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,123},{61,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,24}}</string>
        <key>sourceSize</key>
        <string>{61,24}</string>
      </dict>
      <key>decor_tupobuff_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,166},{26,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,28}}</string>
        <key>sourceSize</key>
        <string>{26,28}</string>
      </dict>
      <key>decor_tupobuff_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,148},{45,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,29}}</string>
        <key>sourceSize</key>
        <string>{45,29}</string>
      </dict>
      <key>decor_tupobuff_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,63},{71,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,45}}</string>
        <key>sourceSize</key>
        <string>{71,45}</string>
      </dict>
      <key>decor_tupobuff_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{64,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,56}}</string>
        <key>sourceSize</key>
        <string>{64,56}</string>
      </dict>
      <key>decor_tupobuff_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{53,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,72}}</string>
        <key>sourceSize</key>
        <string>{53,72}</string>
      </dict>
      <key>decor_tupobuff_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,58},{39,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,64}}</string>
        <key>sourceSize</key>
        <string>{39,64}</string>
      </dict>
      <key>decor_tupobuff_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,62},{28,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,56}}</string>
        <key>sourceSize</key>
        <string>{28,56}</string>
      </dict>
      <key>decor_tupobuff_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,110},{28,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,50}}</string>
        <key>sourceSize</key>
        <string>{28,50}</string>
      </dict>
      <key>decor_tupobuff_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,162},{28,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,36}}</string>
        <key>sourceSize</key>
        <string>{28,36}</string>
      </dict>
      <key>decor_tupobuff_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,166},{28,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,28}}</string>
        <key>sourceSize</key>
        <string>{28,28}</string>
      </dict>
      <key>decor_tupobuff_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,82},{61,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,40}}</string>
        <key>sourceSize</key>
        <string>{61,40}</string>
      </dict>
      <key>decor_tupobuff_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,71},{50,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,48}}</string>
        <key>sourceSize</key>
        <string>{50,48}</string>
      </dict>
      <key>decor_tupobuff_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,78},{39,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,56}}</string>
        <key>sourceSize</key>
        <string>{39,56}</string>
      </dict>
      <key>decor_tupobuff_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,0},{32,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,60}}</string>
        <key>sourceSize</key>
        <string>{32,60}</string>
      </dict>
      <key>decor_tupobuff_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,120},{32,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,44}}</string>
        <key>sourceSize</key>
        <string>{32,44}</string>
      </dict>
      <key>decor_tupobuff_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,157},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>decor_tupobuff_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,149},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>decor_tupobuff_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,103},{66,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,32}}</string>
        <key>sourceSize</key>
        <string>{66,32}</string>
      </dict>
      <key>decor_tupobuff_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,65},{79,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,36}}</string>
        <key>sourceSize</key>
        <string>{79,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>decor_tupobuff.png</string>
      <key>textureFileName</key>
      <string>decor_tupobuff.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>