<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>decor_tupo_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,40},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,24}}</string>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>decor_tupo_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,54},{30,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,18}}</string>
    <key>sourceSize</key>
    <string>{30,18}</string>
   </dict>
   <key>decor_tupo_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{48,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,31}}</string>
    <key>sourceSize</key>
    <string>{48,31}</string>
   </dict>
   <key>decor_tupo_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,0},{40,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,32}}</string>
    <key>sourceSize</key>
    <string>{40,32}</string>
   </dict>
   <key>decor_tupo_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{50,0},{36,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,40}}</string>
    <key>sourceSize</key>
    <string>{36,40}</string>
   </dict>
   <key>decor_tupo_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{159,0},{25,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,38}}</string>
    <key>sourceSize</key>
    <string>{25,38}</string>
   </dict>
   <key>decor_tupo_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{220,0},{24,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,35}}</string>
    <key>sourceSize</key>
    <string>{24,35}</string>
   </dict>
   <key>decor_tupo_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{120,64},{19,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,24}}</string>
    <key>sourceSize</key>
    <string>{19,24}</string>
   </dict>
   <key>decor_tupo_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{226,59},{28,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,17}}</string>
    <key>sourceSize</key>
    <string>{28,17}</string>
   </dict>
   <key>decor_tupo_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,81},{17,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,20}}</string>
    <key>sourceSize</key>
    <string>{17,20}</string>
   </dict>
   <key>decor_tupo_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,64},{14,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,19}}</string>
    <key>sourceSize</key>
    <string>{14,19}</string>
   </dict>
   <key>decor_tupo_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{18,88},{17,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,15}}</string>
    <key>sourceSize</key>
    <string>{17,15}</string>
   </dict>
   <key>decor_tupo_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,81},{11,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,11}}</string>
    <key>sourceSize</key>
    <string>{11,11}</string>
   </dict>
   <key>decor_tupo_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{208,30},{10,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,11}}</string>
    <key>sourceSize</key>
    <string>{10,11}</string>
   </dict>
   <key>decor_tupo_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{73,42},{13,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,20}}</string>
    <key>sourceSize</key>
    <string>{13,20}</string>
   </dict>
   <key>decor_tupo_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,88},{16,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,19}}</string>
    <key>sourceSize</key>
    <string>{16,19}</string>
   </dict>
   <key>decor_tupo_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{87,74},{25,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,16}}</string>
    <key>sourceSize</key>
    <string>{25,16}</string>
   </dict>
   <key>decor_tupo_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{38,74},{29,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,12}}</string>
    <key>sourceSize</key>
    <string>{29,12}</string>
   </dict>
   <key>decor_tupo_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{38,60},{31,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,12}}</string>
    <key>sourceSize</key>
    <string>{31,12}</string>
   </dict>
   <key>decor_tupo_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{114,90},{13,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,14}}</string>
    <key>sourceSize</key>
    <string>{13,14}</string>
   </dict>
   <key>decor_tupo_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{183,64},{23,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,15}}</string>
    <key>sourceSize</key>
    <string>{23,15}</string>
   </dict>
   <key>decor_tupo_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,33},{36,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,23}}</string>
    <key>sourceSize</key>
    <string>{36,23}</string>
   </dict>
   <key>decor_tupo_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,0},{32,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,28}}</string>
    <key>sourceSize</key>
    <string>{32,28}</string>
   </dict>
   <key>decor_tupo_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{130,0},{27,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,36}}</string>
    <key>sourceSize</key>
    <string>{27,36}</string>
   </dict>
   <key>decor_tupo_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,30},{20,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,32}}</string>
    <key>sourceSize</key>
    <string>{20,32}</string>
   </dict>
   <key>decor_tupo_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{22,58},{14,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,28}}</string>
    <key>sourceSize</key>
    <string>{14,28}</string>
   </dict>
   <key>decor_tupo_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{71,64},{14,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,25}}</string>
    <key>sourceSize</key>
    <string>{14,25}</string>
   </dict>
   <key>decor_tupo_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,85},{14,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,18}}</string>
    <key>sourceSize</key>
    <string>{14,18}</string>
   </dict>
   <key>decor_tupo_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{55,88},{14,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,14}}</string>
    <key>sourceSize</key>
    <string>{14,14}</string>
   </dict>
   <key>decor_tupo_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{220,37},{31,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,20}}</string>
    <key>sourceSize</key>
    <string>{31,20}</string>
   </dict>
   <key>decor_tupo_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{130,38},{25,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,24}}</string>
    <key>sourceSize</key>
    <string>{25,24}</string>
   </dict>
   <key>decor_tupo_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,58},{20,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,28}}</string>
    <key>sourceSize</key>
    <string>{20,28}</string>
   </dict>
   <key>decor_tupo_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{208,59},{16,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,30}}</string>
    <key>sourceSize</key>
    <string>{16,30}</string>
   </dict>
   <key>decor_tupo_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,66},{16,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,22}}</string>
    <key>sourceSize</key>
    <string>{16,22}</string>
   </dict>
   <key>decor_tupo_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{37,88},{16,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,16}}</string>
    <key>sourceSize</key>
    <string>{16,16}</string>
   </dict>
   <key>decor_tupo_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{226,78},{19,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,18}}</string>
    <key>sourceSize</key>
    <string>{19,18}</string>
   </dict>
   <key>decor_tupo_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{38,42},{33,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,16}}</string>
    <key>sourceSize</key>
    <string>{33,16}</string>
   </dict>
   <key>decor_tupo_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,34},{40,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,18}}</string>
    <key>sourceSize</key>
    <string>{40,18}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>decor_tupo.png</string>
   <key>textureFileName</key>
   <string>decor_tupo.png</string>
   <key>size</key>
   <string>{256,128}</string>
  </dict>
 </dict>
</plist>