<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>devil_levelup_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,0},{5,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,153}}</string>
        <key>sourceSize</key>
        <string>{5,153}</string>
      </dict>
      <key>devil_levelup_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,381},{135,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,135}}</string>
        <key>sourceSize</key>
        <string>{135,135}</string>
      </dict>
      <key>devil_levelup_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{245,215}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{245,215}}</string>
        <key>sourceSize</key>
        <string>{245,215}</string>
      </dict>
      <key>devil_levelup_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,0},{249,201}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{249,201}}</string>
        <key>sourceSize</key>
        <string>{249,201}</string>
      </dict>
      <key>devil_levelup_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>devil_levelup_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,203},{215,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{215,176}}</string>
        <key>sourceSize</key>
        <string>{215,176}</string>
      </dict>
      <key>devil_levelup_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,217},{153,177}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,177}}</string>
        <key>sourceSize</key>
        <string>{153,177}</string>
      </dict>
      <key>devil_levelup_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,381},{150,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,176}}</string>
        <key>sourceSize</key>
        <string>{150,176}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>devil_levelup_effect.png</string>
      <key>textureFileName</key>
      <string>devil_levelup_effect.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>