<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>dining_car_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{180,16},{60,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,19}}</string>
    <key>sourceSize</key>
    <string>{60,19}</string>
   </dict>
   <key>dining_car_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{118,16},{60,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,19}}</string>
    <key>sourceSize</key>
    <string>{60,19}</string>
   </dict>
   <key>dining_car_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,28},{11,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,10}}</string>
    <key>sourceSize</key>
    <string>{11,10}</string>
   </dict>
   <key>dining_car_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,37},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
   <key>dining_car_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{174,37},{9,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,10}}</string>
    <key>sourceSize</key>
    <string>{9,10}</string>
   </dict>
   <key>dining_car_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,16},{11,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,10}}</string>
    <key>sourceSize</key>
    <string>{11,10}</string>
   </dict>
   <key>dining_car_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,120},{140,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,78}}</string>
    <key>sourceSize</key>
    <string>{140,78}</string>
   </dict>
   <key>dining_car_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{118,37},{18,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,19}}</string>
    <key>sourceSize</key>
    <string>{18,19}</string>
   </dict>
   <key>dining_car_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{138,37},{18,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,18}}</string>
    <key>sourceSize</key>
    <string>{18,18}</string>
   </dict>
   <key>dining_car_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{118,0},{136,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{136,14}}</string>
    <key>sourceSize</key>
    <string>{136,14}</string>
   </dict>
   <key>dining_car_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{170,37},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>dining_car_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{116,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,118}}</string>
    <key>sourceSize</key>
    <string>{116,118}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>dining_car.png</string>
   <key>textureFileName</key>
   <string>dining_car.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>