<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>fight_begin__16.png</key>
   <dict>
    <key>frame</key>
    <string>{{83,0},{81,201}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,201}}</string>
    <key>sourceSize</key>
    <string>{81,201}</string>
   </dict>
   <key>fight_begin__6.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,107},{122,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,105}}</string>
    <key>sourceSize</key>
    <string>{122,105}</string>
   </dict>
   <key>fight_begin__5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,203},{122,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,105}}</string>
    <key>sourceSize</key>
    <string>{122,105}</string>
   </dict>
   <key>fight_begin__4.png</key>
   <dict>
    <key>frame</key>
    <string>{{124,214},{122,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,105}}</string>
    <key>sourceSize</key>
    <string>{122,105}</string>
   </dict>
   <key>fight_begin__3.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,0},{122,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,105}}</string>
    <key>sourceSize</key>
    <string>{122,105}</string>
   </dict>
   <key>fight_begin__2.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,0},{122,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,105}}</string>
    <key>sourceSize</key>
    <string>{122,105}</string>
   </dict>
   <key>fight_begin__1.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,107},{122,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,105}}</string>
    <key>sourceSize</key>
    <string>{122,105}</string>
   </dict>
   <key>fight_begin__14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{81,201}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,201}}</string>
    <key>sourceSize</key>
    <string>{81,201}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>fight_begin.png</string>
   <key>textureFileName</key>
   <string>fight_begin.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>