<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>first_rpg__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{993,59},{12,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,11}}</string>
        <key>sourceSize</key>
        <string>{12,11}</string>
      </dict>
      <key>first_rpg__2.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,114},{144,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,187}}</string>
        <key>sourceSize</key>
        <string>{144,187}</string>
      </dict>
      <key>first_rpg__32.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{960,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{960,112}}</string>
        <key>sourceSize</key>
        <string>{960,112}</string>
      </dict>
      <key>first_rpg__36.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{267,407}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,407}}</string>
        <key>sourceSize</key>
        <string>{267,407}</string>
      </dict>
      <key>first_rpg__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,0},{31,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,31}}</string>
        <key>sourceSize</key>
        <string>{31,31}</string>
      </dict>
      <key>first_rpg__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,114},{127,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,34}}</string>
        <key>sourceSize</key>
        <string>{127,34}</string>
      </dict>
      <key>first_rpg__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,33},{29,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,29}}</string>
        <key>sourceSize</key>
        <string>{29,29}</string>
      </dict>
      <key>first_rpg__38.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,0},{24,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,31}}</string>
        <key>sourceSize</key>
        <string>{24,31}</string>
      </dict>
      <key>first_rpg__37.png</key>
      <dict>
        <key>frame</key>
        <string>{{993,33},{29,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,24}}</string>
        <key>sourceSize</key>
        <string>{29,24}</string>
      </dict>
      <key>first_rpg__4.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,114},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>first_rpg.png</string>
      <key>textureFileName</key>
      <string>first_rpg.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>