<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fly_item_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,59},{44,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,57}}</string>
        <key>sourceSize</key>
        <string>{44,57}</string>
      </dict>
      <key>fly_item_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{44,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,57}}</string>
        <key>sourceSize</key>
        <string>{44,57}</string>
      </dict>
      <key>fly_item_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{44,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,57}}</string>
        <key>sourceSize</key>
        <string>{44,57}</string>
      </dict>
      <key>fly_item_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,0},{44,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,57}}</string>
        <key>sourceSize</key>
        <string>{44,57}</string>
      </dict>
      <key>fly_item_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{44,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,57}}</string>
        <key>sourceSize</key>
        <string>{44,57}</string>
      </dict>
      <key>fly_item_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,0},{44,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,57}}</string>
        <key>sourceSize</key>
        <string>{44,57}</string>
      </dict>
      <key>fly_item_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,59},{35,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,50}}</string>
        <key>sourceSize</key>
        <string>{35,50}</string>
      </dict>
      <key>fly_item_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,59},{35,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,50}}</string>
        <key>sourceSize</key>
        <string>{35,50}</string>
      </dict>
      <key>fly_item_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,59},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fly_item.png</string>
      <key>textureFileName</key>
      <string>fly_item.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>