<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>get_ctb_item_effect_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>get_ctb_item_effect_s_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{25,37}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>get_ctb_item_effect_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>get_ctb_item_effect.png</string>
            <key>size</key>
            <string>{93,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3cab8ea7733c950b95923864ad7b1cc$</string>
            <key>textureFileName</key>
            <string>get_ctb_item_effect.png</string>
        </dict>
    </dict>
</plist>
