<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>guide_rpg_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{892,0},{20,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,4}}</string>
    <key>sourceSize</key>
    <string>{20,4}</string>
   </dict>
   <key>guide_rpg_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{887,0},{4,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,24}}</string>
    <key>sourceSize</key>
    <string>{4,24}</string>
   </dict>
   <key>guide_rpg_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{618,0},{80,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,84}}</string>
    <key>sourceSize</key>
    <string>{80,84}</string>
   </dict>
   <key>guide_rpg_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{523,0},{94,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,116}}</string>
    <key>sourceSize</key>
    <string>{94,116}</string>
   </dict>
   <key>guide_rpg_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{699,0},{46,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,66}}</string>
    <key>sourceSize</key>
    <string>{46,66}</string>
   </dict>
   <key>guide_rpg_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{522,435}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{522,435}}</string>
    <key>sourceSize</key>
    <string>{522,435}</string>
   </dict>
   <key>guide_rpg_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{746,0},{46,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,45}}</string>
    <key>sourceSize</key>
    <string>{46,45}</string>
   </dict>
   <key>guide_rpg_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{840,0},{46,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,42}}</string>
    <key>sourceSize</key>
    <string>{46,42}</string>
   </dict>
   <key>guide_rpg_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{793,0},{46,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,45}}</string>
    <key>sourceSize</key>
    <string>{46,45}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>guide_rpg.png</string>
   <key>textureFileName</key>
   <string>guide_rpg.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>