<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_ani_icon__115.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,452},{140,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>hero_ani_icon__113.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,459},{140,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>hero_ani_icon__111.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,465},{140,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>hero_ani_icon__109.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,310},{140,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>hero_ani_icon__101.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,464},{140,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>hero_ani_icon__99.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,465},{140,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>hero_ani_icon__103.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,465},{140,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>hero_ani_icon__107.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,317},{140,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>hero_ani_icon__105.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,594},{140,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>hero_ani_icon__89.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,310},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__88.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,0},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__87.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,155},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__86.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,155},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__85.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,155},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__84.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,310},{152,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,152}}</string>
        <key>sourceSize</key>
        <string>{152,152}</string>
      </dict>
      <key>hero_ani_icon__83.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,310},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__82.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,0},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__81.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__80.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,0},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__79.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,0},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__78.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,155},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__77.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,310},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__76.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{160,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,160}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>hero_ani_icon__75.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,155},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__74.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{153,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,153}}</string>
        <key>sourceSize</key>
        <string>{153,153}</string>
      </dict>
      <key>hero_ani_icon__73.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,607},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>hero_ani_icon__72.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,310},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>hero_ani_icon__71.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,601},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>hero_ani_icon__70.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,607},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>hero_ani_icon__69.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,607},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>hero_ani_icon__68.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,409},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>hero_ani_icon__67.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,508},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>hero_ani_icon__66.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,606},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>hero_ani_icon__65.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,607},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>hero_ani_icon__64.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,607},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_ani_icon.png</string>
      <key>textureFileName</key>
      <string>hero_ani_icon.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>