<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero_get_ani__2.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,226},{42,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,25}}</string>
        <key>sourceSize</key>
        <string>{42,25}</string>
      </dict>
      <key>hero_get_ani__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,674},{93,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,79}}</string>
        <key>sourceSize</key>
        <string>{93,79}</string>
      </dict>
      <key>hero_get_ani__46.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,788},{110,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,31}}</string>
        <key>sourceSize</key>
        <string>{110,31}</string>
      </dict>
      <key>hero_get_ani__45.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,760},{87,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,30}}</string>
        <key>sourceSize</key>
        <string>{87,30}</string>
      </dict>
      <key>hero_get_ani__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,617},{69,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,30}}</string>
        <key>sourceSize</key>
        <string>{69,30}</string>
      </dict>
      <key>hero_get_ani__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,631},{53,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,29}}</string>
        <key>sourceSize</key>
        <string>{53,29}</string>
      </dict>
      <key>hero_get_ani__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,144},{26,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,29}}</string>
        <key>sourceSize</key>
        <string>{26,29}</string>
      </dict>
      <key>hero_get_ani__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,564},{70,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,51}}</string>
        <key>sourceSize</key>
        <string>{70,51}</string>
      </dict>
      <key>hero_get_ani__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,609},{102,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,103}}</string>
        <key>sourceSize</key>
        <string>{102,103}</string>
      </dict>
      <key>hero_get_ani__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,144},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>hero_get_ani__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,756},{122,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,30}}</string>
        <key>sourceSize</key>
        <string>{122,30}</string>
      </dict>
      <key>hero_get_ani__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{406,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{406,168}}</string>
        <key>sourceSize</key>
        <string>{406,168}</string>
      </dict>
      <key>hero_get_ani__26.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,437},{234,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,216}}</string>
        <key>sourceSize</key>
        <string>{234,216}</string>
      </dict>
      <key>hero_get_ani__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,825},{234,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,86}}</string>
        <key>sourceSize</key>
        <string>{234,86}</string>
      </dict>
      <key>hero_get_ani__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,144},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>hero_get_ani__76.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,742},{85,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,85}}</string>
        <key>sourceSize</key>
        <string>{85,85}</string>
      </dict>
      <key>hero_get_ani__75.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,170},{125,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,128}}</string>
        <key>sourceSize</key>
        <string>{125,128}</string>
      </dict>
      <key>hero_get_ani__33.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,521},{54,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,53}}</string>
        <key>sourceSize</key>
        <string>{54,53}</string>
      </dict>
      <key>hero_get_ani__74.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,564},{187,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,190}}</string>
        <key>sourceSize</key>
        <string>{187,190}</string>
      </dict>
      <key>hero_get_ani__32.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,576},{54,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,53}}</string>
        <key>sourceSize</key>
        <string>{54,53}</string>
      </dict>
      <key>hero_get_ani__44.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,301},{264,261}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{264,261}}</string>
        <key>sourceSize</key>
        <string>{264,261}</string>
      </dict>
      <key>hero_get_ani__43.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,755},{80,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,73}}</string>
        <key>sourceSize</key>
        <string>{80,73}</string>
      </dict>
      <key>hero_get_ani__42.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,655},{93,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,103}}</string>
        <key>sourceSize</key>
        <string>{93,103}</string>
      </dict>
      <key>hero_get_ani__41.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,300},{115,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,116}}</string>
        <key>sourceSize</key>
        <string>{115,116}</string>
      </dict>
      <key>hero_get_ani__40.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,301},{128,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,107}}</string>
        <key>sourceSize</key>
        <string>{128,107}</string>
      </dict>
      <key>hero_get_ani__39.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,511},{131,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,96}}</string>
        <key>sourceSize</key>
        <string>{131,96}</string>
      </dict>
      <key>hero_get_ani__38.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,410},{132,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,99}}</string>
        <key>sourceSize</key>
        <string>{132,99}</string>
      </dict>
      <key>hero_get_ani__37.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,418},{121,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,92}}</string>
        <key>sourceSize</key>
        <string>{121,92}</string>
      </dict>
      <key>hero_get_ani__36.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,657},{101,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,83}}</string>
        <key>sourceSize</key>
        <string>{101,83}</string>
      </dict>
      <key>hero_get_ani__35.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,452},{52,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,67}}</string>
        <key>sourceSize</key>
        <string>{52,67}</string>
      </dict>
      <key>hero_get_ani__77.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,512},{153,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,143}}</string>
        <key>sourceSize</key>
        <string>{153,143}</string>
      </dict>
      <key>hero_get_ani__99.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,72},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>hero_get_ani__47.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,144},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>hero_get_ani__101.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,36},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>hero_get_ani__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,144},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>hero_get_ani__103.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,0},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>hero_get_ani__48.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,146},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>hero_get_ani__104.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,108},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>hero_get_ani__49.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,146},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>hero_get_ani__50.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{403,299}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{403,299}}</string>
        <key>sourceSize</key>
        <string>{403,299}</string>
      </dict>
      <key>hero_get_ani__30.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,0},{172,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,224}}</string>
        <key>sourceSize</key>
        <string>{172,224}</string>
      </dict>
      <key>hero_get_ani__34.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,170},{268,265}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,265}}</string>
        <key>sourceSize</key>
        <string>{268,265}</string>
      </dict>
      <key>hero_get_ani__28.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,226},{172,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,224}}</string>
        <key>sourceSize</key>
        <string>{172,224}</string>
      </dict>
      <key>hero_get_ani__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,452},{166,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,220}}</string>
        <key>sourceSize</key>
        <string>{166,220}</string>
      </dict>
      <key>hero_get_ani__29.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,655},{171,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{171,168}}</string>
        <key>sourceSize</key>
        <string>{171,168}</string>
      </dict>
      <key>hero_get_ani__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,714},{167,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,164}}</string>
        <key>sourceSize</key>
        <string>{167,164}</string>
      </dict>
      <key>hero_get_ani__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,674},{167,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,164}}</string>
        <key>sourceSize</key>
        <string>{167,164}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero_get_ani.png</string>
      <key>textureFileName</key>
      <string>hero_get_ani.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>