<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xing_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,276},{176,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,24}}</string>
        <key>sourceSize</key>
        <string>{176,24}</string>
      </dict>
      <key>xing_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{179,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,26}}</string>
        <key>sourceSize</key>
        <string>{179,26}</string>
      </dict>
      <key>xing_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,210},{193,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{193,30}}</string>
        <key>sourceSize</key>
        <string>{193,30}</string>
      </dict>
      <key>xing_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,142},{196,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,31}}</string>
        <key>sourceSize</key>
        <string>{196,31}</string>
      </dict>
      <key>xing_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,175},{192,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,33}}</string>
        <key>sourceSize</key>
        <string>{192,33}</string>
      </dict>
      <key>xing_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,242},{188,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,32}}</string>
        <key>sourceSize</key>
        <string>{188,32}</string>
      </dict>
      <key>xing_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,272},{176,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,27}}</string>
        <key>sourceSize</key>
        <string>{176,27}</string>
      </dict>
      <key>guagn_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,302},{321,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{321,21}}</string>
        <key>sourceSize</key>
        <string>{321,21}</string>
      </dict>
      <key>guagn_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{310,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{310,242}}</string>
        <key>sourceSize</key>
        <string>{310,242}</string>
      </dict>
      <key>guagn_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{125,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,140}}</string>
        <key>sourceSize</key>
        <string>{125,140}</string>
      </dict>
      <key>guagn_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{67,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,75}}</string>
        <key>sourceSize</key>
        <string>{67,75}</string>
      </dict>
      <key>bvbgbfg.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,244},{119,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,40}}</string>
        <key>sourceSize</key>
        <string>{119,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>herolevelup.png</string>
      <key>textureFileName</key>
      <string>herolevelup.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>