<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_btn_ani_yuanjian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_10vv.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,115},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_11vv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{36,43}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_12vv.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,59},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{50,42}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_13vv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,95},{43,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,18}}</string>
                <key>sourceSize</key>
                <string>{43,18}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,154},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,46},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{17,27}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{17,27}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,95},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>hero_btn_ani_yuanjian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,131},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_btn_ani.png</string>
            <key>size</key>
            <string>{128,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffd053c48adbd73eef1a5931c2b79e8d$</string>
            <key>textureFileName</key>
            <string>hero_btn_ani.png</string>
        </dict>
    </dict>
</plist>
