<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>join_room_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,41},{6,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,18}}</string>
        <key>sourceSize</key>
        <string>{6,18}</string>
      </dict>
      <key>join_room_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,41},{7,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,17}}</string>
        <key>sourceSize</key>
        <string>{7,17}</string>
      </dict>
      <key>join_room_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,79},{7,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,17}}</string>
        <key>sourceSize</key>
        <string>{7,17}</string>
      </dict>
      <key>join_room_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,60},{7,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,17}}</string>
        <key>sourceSize</key>
        <string>{7,17}</string>
      </dict>
      <key>join_room_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>join_room_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>join_room_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,6},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>join_room_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>join_room_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>join_room_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{47,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,39}}</string>
        <key>sourceSize</key>
        <string>{47,39}</string>
      </dict>
      <key>join_room_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,41},{43,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,42}}</string>
        <key>sourceSize</key>
        <string>{43,42}</string>
      </dict>
      <key>join_room_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,0},{47,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,39}}</string>
        <key>sourceSize</key>
        <string>{47,39}</string>
      </dict>
      <key>join_room_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,78},{37,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,35}}</string>
        <key>sourceSize</key>
        <string>{37,35}</string>
      </dict>
      <key>join_room_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,41},{43,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,42}}</string>
        <key>sourceSize</key>
        <string>{43,42}</string>
      </dict>
      <key>join_room_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{47,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,39}}</string>
        <key>sourceSize</key>
        <string>{47,39}</string>
      </dict>
      <key>join_room_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,41},{37,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,35}}</string>
        <key>sourceSize</key>
        <string>{37,35}</string>
      </dict>
      <key>join_room_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{356,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{356,125}}</string>
        <key>sourceSize</key>
        <string>{356,125}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>join_room.png</string>
      <key>textureFileName</key>
      <string>join_room.png</string>
      <key>size</key>
      <string>{512,128}</string>
    </dict>
  </dict>
</plist>