<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>kill_tip_yuanjian_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,478},{43,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,23}}</string>
        <key>sourceSize</key>
        <string>{43,23}</string>
      </dict>
      <key>kill_tip_yuanjian_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,468},{43,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,23}}</string>
        <key>sourceSize</key>
        <string>{43,23}</string>
      </dict>
      <key>kill_tip_yuanjian_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,468},{81,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,8}}</string>
        <key>sourceSize</key>
        <string>{81,8}</string>
      </dict>
      <key>kill_tip_yuanjian_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{12,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,126}}</string>
        <key>sourceSize</key>
        <string>{12,126}</string>
      </dict>
      <key>kill_tip_yuanjian_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,468},{132,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,136}}</string>
        <key>sourceSize</key>
        <string>{132,136}</string>
      </dict>
      <key>kill_tip_tuceng_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,313},{26,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,25}}</string>
        <key>sourceSize</key>
        <string>{26,25}</string>
      </dict>
      <key>kill_tip_yuanjian_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,340},{238,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,139}}</string>
        <key>sourceSize</key>
        <string>{238,139}</string>
      </dict>
      <key>kill_tip_yuanjian_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,169},{264,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{264,142}}</string>
        <key>sourceSize</key>
        <string>{264,142}</string>
      </dict>
      <key>kill_tip_yuanjian_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,313},{238,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,153}}</string>
        <key>sourceSize</key>
        <string>{238,153}</string>
      </dict>
      <key>kill_tip_yuanjian_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{240,167}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,167}}</string>
        <key>sourceSize</key>
        <string>{240,167}</string>
      </dict>
      <key>kill_tip_yuanjian_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{242,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,163}}</string>
        <key>sourceSize</key>
        <string>{242,163}</string>
      </dict>
      <key>kill_tip_yuanjian_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{242,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,173}}</string>
        <key>sourceSize</key>
        <string>{242,173}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>kill_tip.png</string>
      <key>textureFileName</key>
      <string>kill_tip.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>