<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>kingtower_second_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,393},{63,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,63}}</string>
        <key>sourceSize</key>
        <string>{63,63}</string>
      </dict>
      <key>kingtower_second_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,235},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>kingtower_second_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{131,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,3}}</string>
        <key>sourceSize</key>
        <string>{131,3}</string>
      </dict>
      <key>kingtower_second_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,377},{133,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,9}}</string>
        <key>sourceSize</key>
        <string>{133,9}</string>
      </dict>
      <key>kingtower_second_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,427},{72,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,27}}</string>
        <key>sourceSize</key>
        <string>{72,27}</string>
      </dict>
      <key>kingtower_second_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{286,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{286,112}}</string>
        <key>sourceSize</key>
        <string>{286,112}</string>
      </dict>
      <key>kingtower_second_99.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{236,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,75}}</string>
        <key>sourceSize</key>
        <string>{236,75}</string>
      </dict>
      <key>kingtower_second_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,235},{196,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,62}}</string>
        <key>sourceSize</key>
        <string>{196,62}</string>
      </dict>
      <key>kingtower_second_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,299},{197,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,35}}</string>
        <key>sourceSize</key>
        <string>{197,35}</string>
      </dict>
      <key>kingtower_second_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{492,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{492,88}}</string>
        <key>sourceSize</key>
        <string>{492,88}</string>
      </dict>
      <key>kingtower_second_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,393},{246,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,48}}</string>
        <key>sourceSize</key>
        <string>{246,48}</string>
      </dict>
      <key>kingtower_second_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,443},{246,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,47}}</string>
        <key>sourceSize</key>
        <string>{246,47}</string>
      </dict>
      <key>kingtower_second_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{491,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{491,94}}</string>
        <key>sourceSize</key>
        <string>{491,94}</string>
      </dict>
      <key>kingtower_second_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,186},{216,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,47}}</string>
        <key>sourceSize</key>
        <string>{216,47}</string>
      </dict>
      <key>kingtower_second_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,377},{89,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,48}}</string>
        <key>sourceSize</key>
        <string>{89,48}</string>
      </dict>
      <key>kingtower_second_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,336},{246,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,55}}</string>
        <key>sourceSize</key>
        <string>{246,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>kingtower_second.png</string>
      <key>textureFileName</key>
      <string>kingtower_second.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>