<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>linkagewin_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,373},{265,267}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{265,267}}</string>
        <key>sourceSize</key>
        <string>{265,267}</string>
      </dict>
      <key>linkagewin_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,191},{175,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,180}}</string>
        <key>sourceSize</key>
        <string>{175,180}</string>
      </dict>
      <key>linkagewin_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,892},{134,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,137}}</string>
        <key>sourceSize</key>
        <string>{134,137}</string>
      </dict>
      <key>linkagewin_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,833},{64,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,66}}</string>
        <key>sourceSize</key>
        <string>{64,66}</string>
      </dict>
      <key>linkagewin_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,0},{366,368}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{366,368}}</string>
        <key>sourceSize</key>
        <string>{366,368}</string>
      </dict>
      <key>linkagewin_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,361},{366,368}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{366,368}}</string>
        <key>sourceSize</key>
        <string>{366,368}</string>
      </dict>
      <key>linkagewin_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,370},{366,368}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{366,368}}</string>
        <key>sourceSize</key>
        <string>{366,368}</string>
      </dict>
      <key>linkagewin_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,731},{366,368}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{366,368}}</string>
        <key>sourceSize</key>
        <string>{366,368}</string>
      </dict>
      <key>linkagewin_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,642},{242,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,248}}</string>
        <key>sourceSize</key>
        <string>{242,248}</string>
      </dict>
      <key>linkagewin_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,0},{184,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,189}}</string>
        <key>sourceSize</key>
        <string>{184,189}</string>
      </dict>
      <key>linkagewin_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,740},{88,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,91}}</string>
        <key>sourceSize</key>
        <string>{88,91}</string>
      </dict>
      <key>linkagewin_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,50},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>linkagewin_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,0},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>linkagewin_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,100},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>linkagewin_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,150},{31,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,32}}</string>
        <key>sourceSize</key>
        <string>{31,32}</string>
      </dict>
      <key>linkagewin_1111.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,184},{24,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,25}}</string>
        <key>sourceSize</key>
        <string>{24,25}</string>
      </dict>
      <key>linkagewin_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,150},{12,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,12}</string>
      </dict>
      <key>linkagewin_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{418,359}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{418,359}}</string>
        <key>sourceSize</key>
        <string>{418,359}</string>
      </dict>
      <key>linkagewin_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,740},{240,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,160}}</string>
        <key>sourceSize</key>
        <string>{240,160}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>linkagewin.png</string>
      <key>textureFileName</key>
      <string>linkagewin.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
    </dict>
  </dict>
</plist>