<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>linkagecloud_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,640},{394,209}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{394,209}}</string>
    <key>sourceSize</key>
    <string>{394,209}</string>
   </dict>
   <key>linkagecloud_1111.png</key>
   <dict>
    <key>frame</key>
    <string>{{564,214},{538,211}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{538,211}}</string>
    <key>sourceSize</key>
    <string>{538,211}</string>
   </dict>
   <key>linkagecloud_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,552},{414,204}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{414,204}}</string>
    <key>sourceSize</key>
    <string>{414,204}</string>
   </dict>
   <key>linkagecloud_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1590,247},{429,266}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{429,266}}</string>
    <key>sourceSize</key>
    <string>{429,266}</string>
   </dict>
   <key>linkagecloud_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1104,247},{484,251}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{484,251}}</string>
    <key>sourceSize</key>
    <string>{484,251}</string>
   </dict>
   <key>linkagecloud_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{564,0},{597,212}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{597,212}}</string>
    <key>sourceSize</key>
    <string>{597,212}</string>
   </dict>
   <key>linkagecloud_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,500},{469,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{469,200}}</string>
    <key>sourceSize</key>
    <string>{469,200}</string>
   </dict>
   <key>linkagecloud_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{448,427},{467,211}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{467,211}}</string>
    <key>sourceSize</key>
    <string>{467,211}</string>
   </dict>
   <key>linkagecloud_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1163,0},{529,245}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{529,245}}</string>
    <key>sourceSize</key>
    <string>{529,245}</string>
   </dict>
   <key>linkagecloud_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1180,730},{356,166}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{356,166}}</string>
    <key>sourceSize</key>
    <string>{356,166}</string>
   </dict>
   <key>linkagecloud_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{812,702},{366,222}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{366,222}}</string>
    <key>sourceSize</key>
    <string>{366,222}</string>
   </dict>
   <key>linkagecloud_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{1388,515},{430,213}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{430,213}}</string>
    <key>sourceSize</key>
    <string>{430,213}</string>
   </dict>
   <key>linkagecloud_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,305},{446,245}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{446,245}}</string>
    <key>sourceSize</key>
    <string>{446,245}</string>
   </dict>
   <key>linkagecloud_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{562,303}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{562,303}}</string>
    <key>sourceSize</key>
    <string>{562,303}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>linkagecloud.png</string>
   <key>textureFileName</key>
   <string>linkagecloud.png</string>
   <key>size</key>
   <string>{2048,1024}</string>
  </dict>
 </dict>
</plist>