<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>linkagehouse_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,46},{27,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,27}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>linkagehouse_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,44},{33,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,33}}</string>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>linkagehouse_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{14,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,24}}</string>
        <key>sourceSize</key>
        <string>{14,24}</string>
      </dict>
      <key>linkagehouse_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,0},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>linkagehouse_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,0},{25,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,42}}</string>
        <key>sourceSize</key>
        <string>{25,42}</string>
      </dict>
      <key>linkagehouse_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{29,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,46}}</string>
        <key>sourceSize</key>
        <string>{29,46}</string>
      </dict>
      <key>linkagehouse_111.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{132,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,105}}</string>
        <key>sourceSize</key>
        <string>{132,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>linkagehouse.png</string>
      <key>textureFileName</key>
      <string>linkagehouse.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>