<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>linkagecombat_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{219,150},{33,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,23}}</string>
    <key>sourceSize</key>
    <string>{33,23}</string>
   </dict>
   <key>linkagecombat_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,0},{41,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,42}}</string>
    <key>sourceSize</key>
    <string>{41,42}</string>
   </dict>
   <key>linkagecombat_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{195,113},{33,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,32}}</string>
    <key>sourceSize</key>
    <string>{33,32}</string>
   </dict>
   <key>linkagecombat_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,44},{33,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,35}}</string>
    <key>sourceSize</key>
    <string>{33,35}</string>
   </dict>
   <key>linkagecombat_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,147},{30,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,27}}</string>
    <key>sourceSize</key>
    <string>{30,27}</string>
   </dict>
   <key>linkagecombat_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{195,81},{36,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,30}}</string>
    <key>sourceSize</key>
    <string>{36,30}</string>
   </dict>
   <key>linkagecombat_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{219,175},{25,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,21}}</string>
    <key>sourceSize</key>
    <string>{25,21}</string>
   </dict>
   <key>linkagecombat_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{230,113},{22,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,35}}</string>
    <key>sourceSize</key>
    <string>{22,35}</string>
   </dict>
   <key>linkagecombat_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{91,210},{84,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,69}}</string>
    <key>sourceSize</key>
    <string>{84,69}</string>
   </dict>
   <key>linkagecombat_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,75},{97,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,62}}</string>
    <key>sourceSize</key>
    <string>{97,62}</string>
   </dict>
   <key>linkagecombat_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{91,146},{94,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,62}}</string>
    <key>sourceSize</key>
    <string>{94,62}</string>
   </dict>
   <key>linkagecombat_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{100,73},{93,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,71}}</string>
    <key>sourceSize</key>
    <string>{93,71}</string>
   </dict>
   <key>linkagecombat_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{98,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,73}}</string>
    <key>sourceSize</key>
    <string>{98,73}</string>
   </dict>
   <key>linkagecombat_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{100,0},{96,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,71}}</string>
    <key>sourceSize</key>
    <string>{96,71}</string>
   </dict>
   <key>linkagecombat_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,139},{89,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,70}}</string>
    <key>sourceSize</key>
    <string>{89,70}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>linkagecombat.png</string>
   <key>textureFileName</key>
   <string>linkagecombat.png</string>
   <key>size</key>
   <string>{256,512}</string>
  </dict>
 </dict>
</plist>