<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>map_refresh_gateway_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{101,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,152}}</string>
        <key>sourceSize</key>
        <string>{101,152}</string>
      </dict>
      <key>map_refresh_gateway_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{86,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,33}}</string>
        <key>sourceSize</key>
        <string>{86,33}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>map_refresh_gateway.png</string>
      <key>textureFileName</key>
      <string>map_refresh_gateway.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>