<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niudan__10.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,697},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>niudan__103.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1117},{129,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{129,102}}</string>
                <key>sourceSize</key>
                <string>{137,104}</string>
            </dict>
            <key>niudan__104.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1180},{93,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{93,77}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>niudan__105.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,311},{172,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,24}}</string>
                <key>sourceSize</key>
                <string>{172,24}</string>
            </dict>
            <key>niudan__106.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,526},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>niudan__107.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1040},{146,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{146,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>niudan__108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{200,168}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{200,168}}</string>
                <key>sourceSize</key>
                <string>{204,176}</string>
            </dict>
            <key>niudan__109.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,282},{266,214}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{266,214}}</string>
                <key>sourceSize</key>
                <string>{270,218}</string>
            </dict>
            <key>niudan__11.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1334},{77,78}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,86}</string>
            </dict>
            <key>niudan__110.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,587},{217,195}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{217,195}}</string>
                <key>sourceSize</key>
                <string>{229,223}</string>
            </dict>
            <key>niudan__112.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,142},{138,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,499}}</string>
                <key>sourceSize</key>
                <string>{138,499}</string>
            </dict>
            <key>niudan__113.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{138,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,499}}</string>
                <key>sourceSize</key>
                <string>{138,499}</string>
            </dict>
            <key>niudan__114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,499}}</string>
                <key>sourceSize</key>
                <string>{139,499}</string>
            </dict>
            <key>niudan__115.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,757},{105,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,122}}</string>
                <key>sourceSize</key>
                <string>{105,122}</string>
            </dict>
            <key>niudan__116.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,584},{122,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,32}}</string>
                <key>sourceSize</key>
                <string>{122,32}</string>
            </dict>
            <key>niudan__117.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,633},{122,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,32}}</string>
                <key>sourceSize</key>
                <string>{122,32}</string>
            </dict>
            <key>niudan__118.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,485},{122,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,32}}</string>
                <key>sourceSize</key>
                <string>{122,32}</string>
            </dict>
            <key>niudan__12.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1274},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>niudan__13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{483,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,240}}</string>
                <key>sourceSize</key>
                <string>{483,240}</string>
            </dict>
            <key>niudan__14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,47},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>niudan__15.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1016},{103,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{103,99}}</string>
                <key>sourceSize</key>
                <string>{153,143}</string>
            </dict>
            <key>niudan__16.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1133},{68,68}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>niudan__17.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1208},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>niudan__18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>niudan__19.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1194},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>niudan__20.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1164},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>niudan__21.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1140},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>niudan__22.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1083},{97,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,95}}</string>
                <key>sourceSize</key>
                <string>{97,95}</string>
            </dict>
            <key>niudan__23.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1086},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>niudan__24.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1405},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>niudan__25.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1334},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>niudan__26.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1059},{97,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,95}}</string>
                <key>sourceSize</key>
                <string>{97,95}</string>
            </dict>
            <key>niudan__27.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,962},{97,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,95}}</string>
                <key>sourceSize</key>
                <string>{97,95}</string>
            </dict>
            <key>niudan__28.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1121},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>niudan__29.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1040},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>niudan__3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,764},{187,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,190}}</string>
                <key>sourceSize</key>
                <string>{187,190}</string>
            </dict>
            <key>niudan__30.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1069},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>niudan__33.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1248},{84,86}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>niudan__36.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1188},{84,86}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>niudan__37.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1259},{84,86}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>niudan__38.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1073},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>niudan__39.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1009},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>niudan__4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{125,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,128}}</string>
                <key>sourceSize</key>
                <string>{125,128}</string>
            </dict>
            <key>niudan__40.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1013},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>niudan__41.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,953},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>niudan__42.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,949},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>niudan__43.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,889},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>niudan__44.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,829},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>niudan__46.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,953},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>niudan__47.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1188},{84,86}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>niudan__48.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1201},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>niudan__49.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1129},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>niudan__5.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,825},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>niudan__50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>niudan__51.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,753},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>niudan__52.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1218},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>niudan__54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,47},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>niudan__55.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,894},{144,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,166}}</string>
                <key>sourceSize</key>
                <string>{144,166}</string>
            </dict>
            <key>niudan__57.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,498},{210,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,220}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>niudan__58.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,710},{197,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,117}}</string>
                <key>sourceSize</key>
                <string>{197,117}</string>
            </dict>
            <key>niudan__61.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,584},{210,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{210,178}}</string>
                <key>sourceSize</key>
                <string>{218,188}</string>
            </dict>
            <key>niudan__62.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,962},{82,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,76}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>niudan__63.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,953},{145,131}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{145,131}}</string>
                <key>sourceSize</key>
                <string>{155,143}</string>
            </dict>
            <key>niudan__64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{171,176}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{171,176}}</string>
                <key>sourceSize</key>
                <string>{181,186}</string>
            </dict>
            <key>niudan__65.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,829},{131,174}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{131,174}}</string>
                <key>sourceSize</key>
                <string>{143,184}</string>
            </dict>
            <key>niudan__69.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,508},{220,77}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{220,77}}</string>
                <key>sourceSize</key>
                <string>{226,85}</string>
            </dict>
            <key>niudan__7.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1274},{74,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{74,86}}</string>
                <key>sourceSize</key>
                <string>{74,122}</string>
            </dict>
            <key>niudan__70.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,443},{230,63}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{230,63}}</string>
                <key>sourceSize</key>
                <string>{242,71}</string>
            </dict>
            <key>niudan__71.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,503},{222,79}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{222,79}}</string>
                <key>sourceSize</key>
                <string>{242,81}</string>
            </dict>
            <key>niudan__72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{228,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{228,74}}</string>
                <key>sourceSize</key>
                <string>{242,76}</string>
            </dict>
            <key>niudan__73.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,403},{235,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{235,38}}</string>
                <key>sourceSize</key>
                <string>{237,42}</string>
            </dict>
            <key>niudan__74.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,784},{192,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,108}}</string>
                <key>sourceSize</key>
                <string>{192,108}</string>
            </dict>
            <key>niudan__75.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,976},{108,105}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{108,105}}</string>
                <key>sourceSize</key>
                <string>{114,111}</string>
            </dict>
            <key>niudan__76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1081},{126,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,125}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>niudan__77.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,881},{109,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,93}}</string>
                <key>sourceSize</key>
                <string>{113,97}</string>
            </dict>
            <key>niudan__78.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,385},{226,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{226,116}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>niudan__79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{225,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{225,148}}</string>
                <key>sourceSize</key>
                <string>{229,152}</string>
            </dict>
            <key>niudan__8.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,697},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>niudan__80.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,282},{236,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{236,119}}</string>
                <key>sourceSize</key>
                <string>{258,131}</string>
            </dict>
            <key>niudan__81.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,609},{86,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,56}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>niudan__83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,69},{7,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,23}}</string>
                <key>sourceSize</key>
                <string>{7,23}</string>
            </dict>
            <key>niudan__85.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,282},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>niudan__86.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,542},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>niudan__87.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1086},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>niudan__88.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,498},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>niudan__9.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,470},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>niudan__90.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,908},{106,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>niudan__91.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,47},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>niudan__92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,47},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>niudan__93.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,47},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>niudan__94.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,594},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>niudan__95.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,448},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>niudan__96.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,47},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>niudan__97.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,385},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>niudan__98.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,423},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>niudan__99.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{43,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,18}}</string>
                <key>sourceSize</key>
                <string>{43,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niudan.png</string>
            <key>size</key>
            <string>{1024,1476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46ee10fa66c84bb0cca94dc1367a5af3$</string>
            <key>textureFileName</key>
            <string>niudan.png</string>
        </dict>
    </dict>
</plist>
