<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>openingcurtain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,696}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,696}}</string>
                <key>sourceSize</key>
                <string>{408,696}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OpeningCurtain.png</string>
            <key>size</key>
            <string>{412,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:782e61141a80d0e3555d9c122633b200$</string>
            <key>textureFileName</key>
            <string>OpeningCurtain.png</string>
        </dict>
    </dict>
</plist>
