<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>battle_box_s_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,194},{19,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,19}}</string>
        <key>sourceSize</key>
        <string>{19,19}</string>
      </dict>
      <key>battle_box_s_1115.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,167},{40,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,66}}</string>
        <key>sourceSize</key>
        <string>{40,66}</string>
      </dict>
      <key>battle_box_s_1114.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,97},{71,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,114}}</string>
        <key>sourceSize</key>
        <string>{71,114}</string>
      </dict>
      <key>battle_box_s_1113.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{105,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,165}}</string>
        <key>sourceSize</key>
        <string>{105,165}</string>
      </dict>
      <key>battle_box_s_1232.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{145,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,95}}</string>
        <key>sourceSize</key>
        <string>{145,95}</string>
      </dict>
      <key>battle_box_s_hhy.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,97},{63,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,115}}</string>
        <key>sourceSize</key>
        <string>{63,115}</string>
      </dict>
      <key>battle_box_s_vv13.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,194},{36,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,7}}</string>
        <key>sourceSize</key>
        <string>{36,7}</string>
      </dict>
      <key>pve_chest6.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,167},{26,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,25}}</string>
        <key>sourceSize</key>
        <string>{26,25}</string>
      </dict>
      <key>pve_chest5.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,167},{26,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,25}}</string>
        <key>sourceSize</key>
        <string>{26,25}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>pve_chest.png</string>
      <key>textureFileName</key>
      <string>pve_chest.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>