<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pvp_start__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,121},{137,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,22}}</string>
        <key>sourceSize</key>
        <string>{137,22}</string>
      </dict>
      <key>pvp_start__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,73},{142,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,22}}</string>
        <key>sourceSize</key>
        <string>{142,22}</string>
      </dict>
      <key>pvp_start__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,24},{144,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,22}}</string>
        <key>sourceSize</key>
        <string>{144,22}</string>
      </dict>
      <key>pvp_start__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,87},{255,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,85}}</string>
        <key>sourceSize</key>
        <string>{255,85}</string>
      </dict>
      <key>pvp_start__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,145},{74,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,52}}</string>
        <key>sourceSize</key>
        <string>{74,52}</string>
      </dict>
      <key>pvp_start__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,102},{81,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,81}}</string>
        <key>sourceSize</key>
        <string>{81,81}</string>
      </dict>
      <key>pvp_start__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,0},{99,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,100}}</string>
        <key>sourceSize</key>
        <string>{99,100}</string>
      </dict>
      <key>pvp_start__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,48},{143,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,23}}</string>
        <key>sourceSize</key>
        <string>{143,23}</string>
      </dict>
      <key>pvp_start__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,97},{141,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,22}}</string>
        <key>sourceSize</key>
        <string>{141,22}</string>
      </dict>
      <key>pvp_start__4.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{145,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,22}}</string>
        <key>sourceSize</key>
        <string>{145,22}</string>
      </dict>
      <key>pvp_start__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{255,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,85}}</string>
        <key>sourceSize</key>
        <string>{255,85}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>pvp_start.png</string>
      <key>textureFileName</key>
      <string>pvp_start.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>