<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>redgift_marquee_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{512,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{512,24}}</string>
        <key>sourceSize</key>
        <string>{512,24}</string>
      </dict>
      <key>redgift_marquee_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,156},{30,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,38}}</string>
        <key>sourceSize</key>
        <string>{30,38}</string>
      </dict>
      <key>redgift_marquee_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{688,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{688,50}}</string>
        <key>sourceSize</key>
        <string>{688,50}</string>
      </dict>
      <key>redgift_marquee_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,120},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,150},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,156},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,30},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,134},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,60},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,150},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,90},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,0},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,120},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,0},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,30},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,60},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,90},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,104},{164,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,28}}</string>
        <key>sourceSize</key>
        <string>{164,28}</string>
      </dict>
      <key>redgift_marquee_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{512,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{512,24}}</string>
        <key>sourceSize</key>
        <string>{512,24}</string>
      </dict>
      <key>redgift_marquee_1111.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,156},{59,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,56}}</string>
        <key>sourceSize</key>
        <string>{59,56}</string>
      </dict>
      <key>redgift_marquee_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,156},{68,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,50}}</string>
        <key>sourceSize</key>
        <string>{68,50}</string>
      </dict>
      <key>redgift_marquee_2222.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,52},{688,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{688,50}}</string>
        <key>sourceSize</key>
        <string>{688,50}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>redgift_marquee.png</string>
      <key>textureFileName</key>
      <string>redgift_marquee.png</string>
      <key>size</key>
      <string>{1024,256}</string>
    </dict>
  </dict>
</plist>