<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>redgift_open_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,244},{104,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,108}}</string>
    <key>sourceSize</key>
    <string>{104,108}</string>
   </dict>
   <key>redgift_open_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,428},{360,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{360,43}}</string>
    <key>sourceSize</key>
    <string>{360,43}</string>
   </dict>
   <key>redgift_open_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,208},{360,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{360,56}}</string>
    <key>sourceSize</key>
    <string>{360,56}</string>
   </dict>
   <key>redgift_open_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,374},{360,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{360,52}}</string>
    <key>sourceSize</key>
    <string>{360,52}</string>
   </dict>
   <key>redgift_open_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,147},{360,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{360,59}}</string>
    <key>sourceSize</key>
    <string>{360,59}</string>
   </dict>
   <key>redgift_open_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,516},{360,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{360,25}}</string>
    <key>sourceSize</key>
    <string>{360,25}</string>
   </dict>
   <key>redgift_open_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,0},{120,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,120}}</string>
    <key>sourceSize</key>
    <string>{120,120}</string>
   </dict>
   <key>redgift_open_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,122},{120,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,120}}</string>
    <key>sourceSize</key>
    <string>{120,120}</string>
   </dict>
   <key>redgift_open_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,34},{4,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,39}}</string>
    <key>sourceSize</key>
    <string>{4,39}</string>
   </dict>
   <key>redgift_open_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,324},{41,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,20}}</string>
    <key>sourceSize</key>
    <string>{41,20}</string>
   </dict>
   <key>redgift_open_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,34},{12,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,32}}</string>
    <key>sourceSize</key>
    <string>{12,32}</string>
   </dict>
   <key>redgift_open_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,244},{35,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,40}}</string>
    <key>sourceSize</key>
    <string>{35,40}</string>
   </dict>
   <key>redgift_open_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{424,483},{48,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,24}}</string>
    <key>sourceSize</key>
    <string>{48,24}</string>
   </dict>
   <key>redgift_open_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,483},{60,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,44}}</string>
    <key>sourceSize</key>
    <string>{60,44}</string>
   </dict>
   <key>redgift_open_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,433},{62,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,48}}</string>
    <key>sourceSize</key>
    <string>{62,48}</string>
   </dict>
   <key>redgift_open_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,377},{57,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,54}}</string>
    <key>sourceSize</key>
    <string>{57,54}</string>
   </dict>
   <key>redgift_open_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,354},{58,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,56}}</string>
    <key>sourceSize</key>
    <string>{58,56}</string>
   </dict>
   <key>redgift_open_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,412},{47,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,32}}</string>
    <key>sourceSize</key>
    <string>{47,32}</string>
   </dict>
   <key>redgift_open_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,0},{23,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,32}}</string>
    <key>sourceSize</key>
    <string>{23,32}</string>
   </dict>
   <key>redgift_open_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,346},{29,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,29}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>redgift_open_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,286},{30,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,36}}</string>
    <key>sourceSize</key>
    <string>{30,36}</string>
   </dict>
   <key>redgift_open_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,320},{360,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{360,52}}</string>
    <key>sourceSize</key>
    <string>{360,52}</string>
   </dict>
   <key>redgift_open_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{360,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{360,80}}</string>
    <key>sourceSize</key>
    <string>{360,80}</string>
   </dict>
   <key>redgift_open_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,473},{360,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{360,41}}</string>
    <key>sourceSize</key>
    <string>{360,41}</string>
   </dict>
   <key>redgift_open_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,266},{360,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{360,52}}</string>
    <key>sourceSize</key>
    <string>{360,52}</string>
   </dict>
   <key>redgift_open_222.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,82},{360,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{360,63}}</string>
    <key>sourceSize</key>
    <string>{360,63}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>redgift_open.png</string>
   <key>textureFileName</key>
   <string>redgift_open.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>