<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>reset_bgm__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{68,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,48}}</string>
        <key>sourceSize</key>
        <string>{68,48}</string>
      </dict>
      <key>reset_bgm__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,301},{90,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,24}}</string>
        <key>sourceSize</key>
        <string>{90,24}</string>
      </dict>
      <key>reset_bgm__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,275},{130,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,24}}</string>
        <key>sourceSize</key>
        <string>{130,24}</string>
      </dict>
      <key>reset_bgm__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{85,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,143}}</string>
        <key>sourceSize</key>
        <string>{85,143}</string>
      </dict>
      <key>reset_bgm__3.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,172},{98,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,101}}</string>
        <key>sourceSize</key>
        <string>{98,101}</string>
      </dict>
      <key>reset_bgm__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,50},{49,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,29}}</string>
        <key>sourceSize</key>
        <string>{49,29}</string>
      </dict>
      <key>reset_bgm__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,88},{34,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,31}}</string>
        <key>sourceSize</key>
        <string>{34,31}</string>
      </dict>
      <key>reset_bgm__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{170,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,170}}</string>
        <key>sourceSize</key>
        <string>{170,170}</string>
      </dict>
      <key>reset_bgm__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,81},{35,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,43}}</string>
        <key>sourceSize</key>
        <string>{35,43}</string>
      </dict>
      <key>reset_bgm__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,50},{22,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,36}}</string>
        <key>sourceSize</key>
        <string>{22,36}</string>
      </dict>
      <key>reset_bgm__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,121},{27,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,27}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>reset_bgm.png</string>
      <key>textureFileName</key>
      <string>reset_bgm.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>