<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>resources_max_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,229},{233,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{233,116}}</string>
        <key>sourceSize</key>
        <string>{233,116}</string>
      </dict>
      <key>resources_max_3333.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{358,227}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{358,227}}</string>
        <key>sourceSize</key>
        <string>{358,227}</string>
      </dict>
      <key>resources_max_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{360,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,108}}</string>
        <key>sourceSize</key>
        <string>{360,108}</string>
      </dict>
      <key>resources_max_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,0},{58,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,64}}</string>
        <key>sourceSize</key>
        <string>{58,64}</string>
      </dict>
      <key>resources_max_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,110},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>resources_max_511.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,110},{61,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,44}}</string>
        <key>sourceSize</key>
        <string>{61,44}</string>
      </dict>
      <key>resources_max_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,253},{190,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{190,108}}</string>
        <key>sourceSize</key>
        <string>{190,108}</string>
      </dict>
      <key>resources_max_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,66},{58,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,64}}</string>
        <key>sourceSize</key>
        <string>{58,64}</string>
      </dict>
      <key>resources_max_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,0},{190,251}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{190,251}}</string>
        <key>sourceSize</key>
        <string>{190,251}</string>
      </dict>
      <key>resources_max_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,110},{190,251}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{190,251}}</string>
        <key>sourceSize</key>
        <string>{190,251}</string>
      </dict>
      <key>resources_max_4444.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,253},{175,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,109}}</string>
        <key>sourceSize</key>
        <string>{175,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>resources_max.png</string>
      <key>textureFileName</key>
      <string>resources_max.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>