<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>rpg_rain__4.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,49},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>rpg_rain__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,101},{34,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,21}}</string>
        <key>sourceSize</key>
        <string>{34,21}</string>
      </dict>
      <key>rpg_rain__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,102},{34,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,21}}</string>
        <key>sourceSize</key>
        <string>{34,21}</string>
      </dict>
      <key>rpg_rain__3.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,102},{34,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,21}}</string>
        <key>sourceSize</key>
        <string>{34,21}</string>
      </dict>
      <key>rpg_rain__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>rpg_rain__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,0},{3,262}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,262}}</string>
        <key>sourceSize</key>
        <string>{3,262}</string>
      </dict>
      <key>rpg_rain__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{19,0},{3,378}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,378}}</string>
        <key>sourceSize</key>
        <string>{3,378}</string>
      </dict>
      <key>rpg_rain__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,0},{3,378}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,378}}</string>
        <key>sourceSize</key>
        <string>{3,378}</string>
      </dict>
      <key>rpg_rain__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{3,262}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,262}}</string>
        <key>sourceSize</key>
        <string>{3,262}</string>
      </dict>
      <key>rpg_rain__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{17,372}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,372}}</string>
        <key>sourceSize</key>
        <string>{17,372}</string>
      </dict>
      <key>rpg_rain__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{1,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,32}}</string>
        <key>sourceSize</key>
        <string>{1,32}</string>
      </dict>
      <key>rpg_rain__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{9,262}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,262}}</string>
        <key>sourceSize</key>
        <string>{9,262}</string>
      </dict>
      <key>rpg_rain__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{4,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,120}}</string>
        <key>sourceSize</key>
        <string>{4,120}</string>
      </dict>
      <key>rpg_rain__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,0},{59,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,148}}</string>
        <key>sourceSize</key>
        <string>{59,148}</string>
      </dict>
      <key>rpg_rain__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,49},{26,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,65}}</string>
        <key>sourceSize</key>
        <string>{26,65}</string>
      </dict>
      <key>rpg_rain__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,0},{79,193}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,193}}</string>
        <key>sourceSize</key>
        <string>{79,193}</string>
      </dict>
      <key>rpg_rain__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,0},{72,175}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,175}}</string>
        <key>sourceSize</key>
        <string>{72,175}</string>
      </dict>
      <key>rpg_rain__26.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{110,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,47}}</string>
        <key>sourceSize</key>
        <string>{110,47}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>rpg_rain.png</string>
      <key>textureFileName</key>
      <string>rpg_rain.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>