<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>rpg_lens_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{378,0},{29,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,29}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>rpg_lens_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{376,376}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{376,376}}</string>
    <key>sourceSize</key>
    <string>{376,376}</string>
   </dict>
   <key>rpg_lens_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,378},{287,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{287,195}}</string>
    <key>sourceSize</key>
    <string>{287,195}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>rpg_lens.png</string>
   <key>textureFileName</key>
   <string>rpg_lens.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>