<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>rpg_continue__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,264},{139,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,103}}</string>
        <key>sourceSize</key>
        <string>{139,103}</string>
      </dict>
      <key>rpg_continue__3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{407,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{407,110}}</string>
        <key>sourceSize</key>
        <string>{407,110}</string>
      </dict>
      <key>rpg_continue__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,132},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>rpg_continue__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,112},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>rpg_continue__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,198},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>rpg_continue__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>rpg_continue__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,178},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>rpg_continue__4.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>rpg_continue__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,112},{158,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,158}}</string>
        <key>sourceSize</key>
        <string>{158,158}</string>
      </dict>
      <key>rpg_continue__2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,112},{158,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,158}}</string>
        <key>sourceSize</key>
        <string>{158,158}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>rpg_continue.png</string>
      <key>textureFileName</key>
      <string>rpg_continue.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>