<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>run_magic_matrix_flow_s_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,43},{42,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,46}}</string>
        <key>sourceSize</key>
        <string>{42,46}</string>
      </dict>
      <key>run_magic_matrix_flow_s_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,381},{84,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,78}}</string>
        <key>sourceSize</key>
        <string>{84,78}</string>
      </dict>
      <key>run_magic_matrix_flow_s_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,761},{258,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{258,131}}</string>
        <key>sourceSize</key>
        <string>{258,131}</string>
      </dict>
      <key>run_magic_matrix_flow_s_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,607},{229,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{229,152}}</string>
        <key>sourceSize</key>
        <string>{229,152}</string>
      </dict>
      <key>run_magic_matrix_flow_s_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,767},{230,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{230,120}}</string>
        <key>sourceSize</key>
        <string>{230,120}</string>
      </dict>
      <key>run_magic_matrix_flow_s_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,850},{113,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,97}}</string>
        <key>sourceSize</key>
        <string>{113,97}</string>
      </dict>
      <key>run_magic_matrix_flow_s_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,694},{90,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,60}}</string>
        <key>sourceSize</key>
        <string>{90,60}</string>
      </dict>
      <key>run_magic_matrix_flow_s_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,299},{84,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,80}}</string>
        <key>sourceSize</key>
        <string>{84,80}</string>
      </dict>
      <key>run_magic_matrix_flow_s_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,130},{43,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,18}}</string>
        <key>sourceSize</key>
        <string>{43,18}</string>
      </dict>
      <key>run_magic_matrix_flow_s_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,206},{23,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,23}}</string>
        <key>sourceSize</key>
        <string>{23,23}</string>
      </dict>
      <key>run_magic_matrix_flow_s_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,150},{36,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,23}}</string>
        <key>sourceSize</key>
        <string>{36,23}</string>
      </dict>
      <key>run_magic_matrix_flow_s_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,197},{20,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,15}}</string>
        <key>sourceSize</key>
        <string>{20,15}</string>
      </dict>
      <key>run_magic_matrix_flow_s_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,175},{22,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,20}}</string>
        <key>sourceSize</key>
        <string>{22,20}</string>
      </dict>
      <key>run_magic_matrix_flow_s_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,91},{37,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,37}}</string>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
      <key>run_magic_matrix_flow_s_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,0},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>run_magic_matrix_flow_s_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,175},{27,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,29}}</string>
        <key>sourceSize</key>
        <string>{27,29}</string>
      </dict>
      <key>run_magic_matrix_flow_s_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,43},{7,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,23}}</string>
        <key>sourceSize</key>
        <string>{7,23}</string>
      </dict>
      <key>run_magic_matrix_flow_s_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,792},{112,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,110}}</string>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
      <key>run_magic_matrix_flow_s_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,738},{112,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,110}}</string>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
      <key>run_magic_matrix_flow_s_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,792},{112,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,110}}</string>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
      <key>run_magic_matrix_flow_s_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,807},{112,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,110}}</string>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
      <key>run_magic_matrix_flow_s_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,694},{114,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,111}}</string>
        <key>sourceSize</key>
        <string>{114,111}</string>
      </dict>
      <key>run_magic_matrix_flow_s_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{255,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,253}}</string>
        <key>sourceSize</key>
        <string>{255,253}</string>
      </dict>
      <key>run_magic_matrix_flow_s_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,461},{143,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,184}}</string>
        <key>sourceSize</key>
        <string>{143,184}</string>
      </dict>
      <key>run_magic_matrix_flow_s_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,382},{181,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,186}}</string>
        <key>sourceSize</key>
        <string>{181,186}</string>
      </dict>
      <key>run_magic_matrix_flow_s_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,647},{155,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,143}}</string>
        <key>sourceSize</key>
        <string>{155,143}</string>
      </dict>
      <key>run_magic_matrix_flow_s_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,385},{218,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{218,188}}</string>
        <key>sourceSize</key>
        <string>{218,188}</string>
      </dict>
      <key>run_magic_matrix_flow_s_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,575},{197,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,117}}</string>
        <key>sourceSize</key>
        <string>{197,117}</string>
      </dict>
      <key>run_magic_matrix_flow_s_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,385},{210,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,220}}</string>
        <key>sourceSize</key>
        <string>{210,220}</string>
      </dict>
      <key>run_magic_matrix_flow_s_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,570},{144,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,166}}</string>
        <key>sourceSize</key>
        <string>{144,166}</string>
      </dict>
      <key>run_magic_matrix_flow_s_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,299},{473,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{473,84}}</string>
        <key>sourceSize</key>
        <string>{473,84}</string>
      </dict>
      <key>run_magic_matrix_flow_s_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{483,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{483,152}}</string>
        <key>sourceSize</key>
        <string>{483,152}</string>
      </dict>
      <key>run_magic_matrix_flow_s_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{484,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{484,207}}</string>
        <key>sourceSize</key>
        <string>{484,207}</string>
      </dict>
      <key>run_magic_matrix_flow_s_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,154},{483,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{483,143}}</string>
        <key>sourceSize</key>
        <string>{483,143}</string>
      </dict>
      <key>run_magic_matrix_flow_s_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,209},{452,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{452,171}}</string>
        <key>sourceSize</key>
        <string>{452,171}</string>
      </dict>
      <key>run_magic_matrix_flow_s_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,637},{233,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{233,128}}</string>
        <key>sourceSize</key>
        <string>{233,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>run_magic_matrix_flow.png</string>
      <key>textureFileName</key>
      <string>run_magic_matrix_flow.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>