<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shop_recommend_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,155},{28,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,24}}</string>
        <key>sourceSize</key>
        <string>{28,24}</string>
      </dict>
      <key>shop_recommend_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,181},{41,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,35}}</string>
        <key>sourceSize</key>
        <string>{41,35}</string>
      </dict>
      <key>shop_recommend_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,132},{52,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,46}}</string>
        <key>sourceSize</key>
        <string>{52,46}</string>
      </dict>
      <key>shop_recommend_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,0},{61,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,53}}</string>
        <key>sourceSize</key>
        <string>{61,53}</string>
      </dict>
      <key>shop_recommend_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,55},{59,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,54}}</string>
        <key>sourceSize</key>
        <string>{59,54}</string>
      </dict>
      <key>shop_recommend_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,74},{57,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,52}}</string>
        <key>sourceSize</key>
        <string>{57,52}</string>
      </dict>
      <key>shop_recommend_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,128},{55,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,44}}</string>
        <key>sourceSize</key>
        <string>{55,44}</string>
      </dict>
      <key>shop_recommend_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,175},{49,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,35}}</string>
        <key>sourceSize</key>
        <string>{49,35}</string>
      </dict>
      <key>shop_recommend_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,180},{43,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,33}}</string>
        <key>sourceSize</key>
        <string>{43,33}</string>
      </dict>
      <key>shop_recommend_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{70,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>shop_recommend_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,41},{37,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,34}}</string>
        <key>sourceSize</key>
        <string>{37,34}</string>
      </dict>
      <key>shop_recommend_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,133},{50,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,44}}</string>
        <key>sourceSize</key>
        <string>{50,44}</string>
      </dict>
      <key>shop_recommend_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,59},{56,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>shop_recommend_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{58,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,59}}</string>
        <key>sourceSize</key>
        <string>{58,59}</string>
      </dict>
      <key>shop_recommend_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{60,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,57}}</string>
        <key>sourceSize</key>
        <string>{60,57}</string>
      </dict>
      <key>shop_recommend_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,74},{55,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,54}}</string>
        <key>sourceSize</key>
        <string>{55,54}</string>
      </dict>
      <key>shop_recommend_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,169},{48,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,42}}</string>
        <key>sourceSize</key>
        <string>{48,42}</string>
      </dict>
      <key>shop_recommend_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,174},{45,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,43}}</string>
        <key>sourceSize</key>
        <string>{45,43}</string>
      </dict>
      <key>shop_recommend_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{70,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>shop_recommend_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,0},{34,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,39}}</string>
        <key>sourceSize</key>
        <string>{34,39}</string>
      </dict>
      <key>shop_recommend_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,168},{42,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,50}}</string>
        <key>sourceSize</key>
        <string>{42,50}</string>
      </dict>
      <key>shop_recommend_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,118},{53,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,53}}</string>
        <key>sourceSize</key>
        <string>{53,53}</string>
      </dict>
      <key>shop_recommend_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,61},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,56}}</string>
        <key>sourceSize</key>
        <string>{56,56}</string>
      </dict>
      <key>shop_recommend_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{55,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,57}}</string>
        <key>sourceSize</key>
        <string>{55,57}</string>
      </dict>
      <key>shop_recommend_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,119},{52,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,54}}</string>
        <key>sourceSize</key>
        <string>{52,54}</string>
      </dict>
      <key>shop_recommend_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,74},{39,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,46}}</string>
        <key>sourceSize</key>
        <string>{39,46}</string>
      </dict>
      <key>shop_recommend_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,77},{32,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,37}}</string>
        <key>sourceSize</key>
        <string>{32,37}</string>
      </dict>
      <key>shop_recommend_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{70,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>shop_recommend_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,122},{29,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,31}}</string>
        <key>sourceSize</key>
        <string>{29,31}</string>
      </dict>
      <key>shop_recommend_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,179},{40,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,43}}</string>
        <key>sourceSize</key>
        <string>{40,43}</string>
      </dict>
      <key>shop_recommend_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,130},{51,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,48}}</string>
        <key>sourceSize</key>
        <string>{51,48}</string>
      </dict>
      <key>shop_recommend_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,111},{53,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,56}}</string>
        <key>sourceSize</key>
        <string>{53,56}</string>
      </dict>
      <key>shop_recommend_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,74},{53,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,56}}</string>
        <key>sourceSize</key>
        <string>{53,56}</string>
      </dict>
      <key>shop_recommend_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,116},{51,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,50}}</string>
        <key>sourceSize</key>
        <string>{51,50}</string>
      </dict>
      <key>shop_recommend_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,173},{48,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,42}}</string>
        <key>sourceSize</key>
        <string>{48,42}</string>
      </dict>
      <key>shop_recommend_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,180},{42,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,39}}</string>
        <key>sourceSize</key>
        <string>{42,39}</string>
      </dict>
      <key>shop_recommend_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{70,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>shop_recommend.png</string>
      <key>textureFileName</key>
      <string>shop_recommend.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>