<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sign_in_item_back_effect_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,152}}</string>
                <key>sourceSize</key>
                <string>{160,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sign_in_item_back_effect.png</string>
            <key>size</key>
            <string>{164,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a69979ac3d5503577eee948317e03677$</string>
            <key>textureFileName</key>
            <string>sign_in_item_back_effect.png</string>
        </dict>
    </dict>
</plist>
