<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_bubble_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{102,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,101}}</string>
        <key>sourceSize</key>
        <string>{102,101}</string>
      </dict>
      <key>skill_bubble_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,103},{102,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,101}}</string>
        <key>sourceSize</key>
        <string>{102,101}</string>
      </dict>
      <key>skill_bubble_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{119,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>skill_bubble_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{102,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,101}}</string>
        <key>sourceSize</key>
        <string>{102,101}</string>
      </dict>
      <key>skill_bubble_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,132},{93,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{93,93}</string>
      </dict>
      <key>skill_bubble_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,103},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>skill_bubble_102.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,202},{93,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{93,93}</string>
      </dict>
      <key>skill_bubble_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>skill_bubble_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{119,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_bubble.png</string>
      <key>textureFileName</key>
      <string>skill_bubble.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>