<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_show_tv_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,143},{87,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,88}}</string>
    <key>sourceSize</key>
    <string>{87,88}</string>
   </dict>
   <key>skill_show_door_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,233},{87,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,88}}</string>
    <key>sourceSize</key>
    <string>{87,88}</string>
   </dict>
   <key>skill_show_door_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,323},{86,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,86}}</string>
    <key>sourceSize</key>
    <string>{86,86}</string>
   </dict>
   <key>skill_show_door_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{322,363},{29,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,26}}</string>
    <key>sourceSize</key>
    <string>{29,26}</string>
   </dict>
   <key>skill_show_door_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{322,444},{130,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,56}}</string>
    <key>sourceSize</key>
    <string>{130,56}</string>
   </dict>
   <key>skill_show_door_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,428},{130,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,68}}</string>
    <key>sourceSize</key>
    <string>{130,68}</string>
   </dict>
   <key>skill_show_door_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{353,358},{130,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,84}}</string>
    <key>sourceSize</key>
    <string>{130,84}</string>
   </dict>
   <key>skill_show_door_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,311},{130,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,115}}</string>
    <key>sourceSize</key>
    <string>{130,115}</string>
   </dict>
   <key>skill_show_door_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,222},{130,139}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,139}}</string>
    <key>sourceSize</key>
    <string>{130,139}</string>
   </dict>
   <key>skill_show_door_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,207},{130,149}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,149}}</string>
    <key>sourceSize</key>
    <string>{130,149}</string>
   </dict>
   <key>skill_show_door_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,143},{130,166}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,166}}</string>
    <key>sourceSize</key>
    <string>{130,166}</string>
   </dict>
   <key>skill_show_door_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,0},{130,205}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,205}}</string>
    <key>sourceSize</key>
    <string>{130,205}</string>
   </dict>
   <key>skill_show_door_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{494,0},{6,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,6}}</string>
    <key>sourceSize</key>
    <string>{6,6}</string>
   </dict>
   <key>skill_show_door_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{222,15},{130,205}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,205}}</string>
    <key>sourceSize</key>
    <string>{130,205}</string>
   </dict>
   <key>skill_show_tv_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,465},{110,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,63}}</string>
    <key>sourceSize</key>
    <string>{110,63}</string>
   </dict>
   <key>skill_show_tv_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,15},{220,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{220,126}}</string>
    <key>sourceSize</key>
    <string>{220,126}</string>
   </dict>
   <key>skill_show_tv_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{220,363},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>skill_show_tv_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{360,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{360,13}}</string>
    <key>sourceSize</key>
    <string>{360,13}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_show_door.png</string>
   <key>textureFileName</key>
   <string>skill_show_door.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>