<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>build_ani_1001_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{143,167},{122,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,105}}</string>
    <key>sourceSize</key>
    <string>{122,105}</string>
   </dict>
   <key>build_ani_1001_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{542,246},{73,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,116}}</string>
    <key>sourceSize</key>
    <string>{73,116}</string>
   </dict>
   <key>build_ani_1001_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{409,246},{73,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,116}}</string>
    <key>sourceSize</key>
    <string>{73,116}</string>
   </dict>
   <key>build_ani_1001_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{715,167},{65,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,130}}</string>
    <key>sourceSize</key>
    <string>{65,130}</string>
   </dict>
   <key>build_ani_1001_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,334},{104,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,71}}</string>
    <key>sourceSize</key>
    <string>{104,71}</string>
   </dict>
   <key>build_ani_1001_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{759,299},{82,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,87}}</string>
    <key>sourceSize</key>
    <string>{82,87}</string>
   </dict>
   <key>build_ani_1001_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{572,0},{141,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,165}}</string>
    <key>sourceSize</key>
    <string>{141,165}</string>
   </dict>
   <key>build_ani_1001_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{143,0},{141,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,165}}</string>
    <key>sourceSize</key>
    <string>{141,165}</string>
   </dict>
   <key>build_ani_1001_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,340},{43,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,44}}</string>
    <key>sourceSize</key>
    <string>{43,44}</string>
   </dict>
   <key>build_ani_1001_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{141,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,165}}</string>
    <key>sourceSize</key>
    <string>{141,165}</string>
   </dict>
   <key>build_ani_1001_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{687,238},{26,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,69}}</string>
    <key>sourceSize</key>
    <string>{26,69}</string>
   </dict>
   <key>build_ani_1001_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{286,0},{141,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,165}}</string>
    <key>sourceSize</key>
    <string>{141,165}</string>
   </dict>
   <key>build_ani_1001_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,167},{16,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,42}}</string>
    <key>sourceSize</key>
    <string>{16,42}</string>
   </dict>
   <key>build_ani_1001_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{1001,72},{19,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,70}}</string>
    <key>sourceSize</key>
    <string>{19,70}</string>
   </dict>
   <key>build_ani_1001_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{843,330},{48,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,39}}</string>
    <key>sourceSize</key>
    <string>{48,39}</string>
   </dict>
   <key>build_ani_1001_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{617,246},{56,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,64}}</string>
    <key>sourceSize</key>
    <string>{56,64}</string>
   </dict>
   <key>build_ani_1001_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{849,285},{64,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,43}}</string>
    <key>sourceSize</key>
    <string>{64,43}</string>
   </dict>
   <key>build_ani_1001_30+.png</key>
   <dict>
    <key>frame</key>
    <string>{{106,377},{75,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,80}}</string>
    <key>sourceSize</key>
    <string>{75,80}</string>
   </dict>
   <key>build_ani_1001_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{227,274},{24,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,39}}</string>
    <key>sourceSize</key>
    <string>{24,39}</string>
   </dict>
   <key>build_ani_1001_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1019,144},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>build_ani_1001_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{529,364},{81,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,81}}</string>
    <key>sourceSize</key>
    <string>{81,81}</string>
   </dict>
   <key>build_ani_1001_32+.png</key>
   <dict>
    <key>frame</key>
    <string>{{893,358},{82,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,87}}</string>
    <key>sourceSize</key>
    <string>{82,87}</string>
   </dict>
   <key>build_ani_1001_3233.png</key>
   <dict>
    <key>frame</key>
    <string>{{617,312},{82,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,87}}</string>
    <key>sourceSize</key>
    <string>{82,87}</string>
   </dict>
   <key>build_ani_1002_rs11_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{285,167},{122,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,105}}</string>
    <key>sourceSize</key>
    <string>{122,105}</string>
   </dict>
   <key>build_ani_1002_rs11_287.png</key>
   <dict>
    <key>frame</key>
    <string>{{915,285},{104,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,71}}</string>
    <key>sourceSize</key>
    <string>{104,71}</string>
   </dict>
   <key>build_ani_1002_rs11_300.png</key>
   <dict>
    <key>frame</key>
    <string>{{387,364},{81,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,81}}</string>
    <key>sourceSize</key>
    <string>{81,81}</string>
   </dict>
   <key>build_ani_1002_rs11_217.png</key>
   <dict>
    <key>frame</key>
    <string>{{849,167},{73,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,116}}</string>
    <key>sourceSize</key>
    <string>{73,116}</string>
   </dict>
   <key>build_ani_1002_rs11_145.png</key>
   <dict>
    <key>frame</key>
    <string>{{924,167},{73,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,116}}</string>
    <key>sourceSize</key>
    <string>{73,116}</string>
   </dict>
   <key>build_ani_1002_rs11_555.png</key>
   <dict>
    <key>frame</key>
    <string>{{782,167},{65,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,130}}</string>
    <key>sourceSize</key>
    <string>{65,130}</string>
   </dict>
   <key>build_ani_1002_rs11_307.png</key>
   <dict>
    <key>frame</key>
    <string>{{977,358},{43,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,44}}</string>
    <key>sourceSize</key>
    <string>{43,44}</string>
   </dict>
   <key>build_ani_1002_rs11_133.png</key>
   <dict>
    <key>frame</key>
    <string>{{429,0},{141,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,165}}</string>
    <key>sourceSize</key>
    <string>{141,165}</string>
   </dict>
   <key>build_ani_1002_rs11_155.png</key>
   <dict>
    <key>frame</key>
    <string>{{715,0},{141,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,165}}</string>
    <key>sourceSize</key>
    <string>{141,165}</string>
   </dict>
   <key>build_ani_1002_rs11_175.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,167},{141,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,165}}</string>
    <key>sourceSize</key>
    <string>{141,165}</string>
   </dict>
   <key>build_ani_1002_rs11_206.png</key>
   <dict>
    <key>frame</key>
    <string>{{687,167},{26,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,69}}</string>
    <key>sourceSize</key>
    <string>{26,69}</string>
   </dict>
   <key>build_ani_1002_rs11_135.png</key>
   <dict>
    <key>frame</key>
    <string>{{858,0},{141,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,165}}</string>
    <key>sourceSize</key>
    <string>{141,165}</string>
   </dict>
   <key>build_ani_1002_rs11_257.png</key>
   <dict>
    <key>frame</key>
    <string>{{1001,144},{16,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,42}}</string>
    <key>sourceSize</key>
    <string>{16,42}</string>
   </dict>
   <key>build_ani_1002_rs11_297.png</key>
   <dict>
    <key>frame</key>
    <string>{{1001,0},{19,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,70}}</string>
    <key>sourceSize</key>
    <string>{19,70}</string>
   </dict>
   <key>build_ani_1002_rs11_247.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,340},{48,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,39}}</string>
    <key>sourceSize</key>
    <string>{48,39}</string>
   </dict>
   <key>build_ani_1002_rs11_267.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,274},{56,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,64}}</string>
    <key>sourceSize</key>
    <string>{56,64}</string>
   </dict>
   <key>build_ani_1002_rs11_576.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,246},{56,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,92}}</string>
    <key>sourceSize</key>
    <string>{56,92}</string>
   </dict>
   <key>build_ani_1002_rs11_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,381},{85,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,36}}</string>
    <key>sourceSize</key>
    <string>{85,36}</string>
   </dict>
   <key>build_ani_1002_rs11_333.png</key>
   <dict>
    <key>frame</key>
    <string>{{183,377},{85,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,47}}</string>
    <key>sourceSize</key>
    <string>{85,47}</string>
   </dict>
   <key>build_ani_1002_rs11_557.png</key>
   <dict>
    <key>frame</key>
    <string>{{701,388},{91,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,25}}</string>
    <key>sourceSize</key>
    <string>{91,25}</string>
   </dict>
   <key>build_ani_1002_rs11_672.png</key>
   <dict>
    <key>frame</key>
    <string>{{143,274},{82,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,101}}</string>
    <key>sourceSize</key>
    <string>{82,101}</string>
   </dict>
   <key>build_ani_1002_rs11_277.png</key>
   <dict>
    <key>frame</key>
    <string>{{715,299},{42,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,65}}</string>
    <key>sourceSize</key>
    <string>{42,65}</string>
   </dict>
   <key>build_ani_1002_rs11_205.png</key>
   <dict>
    <key>frame</key>
    <string>{{1019,148},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>build_ani_1002_rs11_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{253,274},{82,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,101}}</string>
    <key>sourceSize</key>
    <string>{82,101}</string>
   </dict>
   <key>build_ani_1002_rs11_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{409,167},{138,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{138,77}}</string>
    <key>sourceSize</key>
    <string>{138,77}</string>
   </dict>
   <key>build_ani_1002_rs11_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{549,167},{136,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{136,77}}</string>
    <key>sourceSize</key>
    <string>{136,77}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skin_pack_2.png</string>
   <key>textureFileName</key>
   <string>skin_pack_2.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>