<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>team_pve_end__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,51},{166,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,15}}</string>
        <key>sourceSize</key>
        <string>{166,15}</string>
      </dict>
      <key>team_pve_end__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,34},{271,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{271,15}}</string>
        <key>sourceSize</key>
        <string>{271,15}</string>
      </dict>
      <key>team_pve_end__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,17},{377,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{377,15}}</string>
        <key>sourceSize</key>
        <string>{377,15}</string>
      </dict>
      <key>team_pve_end__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,51},{79,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,80}}</string>
        <key>sourceSize</key>
        <string>{79,80}</string>
      </dict>
      <key>team_pve_end__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,17},{15,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,15}}</string>
        <key>sourceSize</key>
        <string>{15,15}</string>
      </dict>
      <key>team_pve_end__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,17},{15,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,15}}</string>
        <key>sourceSize</key>
        <string>{15,15}</string>
      </dict>
      <key>team_pve_end__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,68},{79,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,80}}</string>
        <key>sourceSize</key>
        <string>{79,80}</string>
      </dict>
      <key>team_pve_end__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,0},{17,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,15}}</string>
        <key>sourceSize</key>
        <string>{17,15}</string>
      </dict>
      <key>team_pve_end__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,133},{136,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,5}}</string>
        <key>sourceSize</key>
        <string>{136,5}</string>
      </dict>
      <key>team_pve_end__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,34},{10,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,5}}</string>
        <key>sourceSize</key>
        <string>{10,5}</string>
      </dict>
      <key>team_pve_end__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,103},{80,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,63}}</string>
        <key>sourceSize</key>
        <string>{80,63}</string>
      </dict>
      <key>team_pve_end__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,34},{86,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,84}}</string>
        <key>sourceSize</key>
        <string>{86,84}</string>
      </dict>
      <key>team_pve_end__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,17},{86,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,84}}</string>
        <key>sourceSize</key>
        <string>{86,84}</string>
      </dict>
      <key>team_pve_end__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,68},{80,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,63}}</string>
        <key>sourceSize</key>
        <string>{80,63}</string>
      </dict>
      <key>team_pve_end__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{482,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{482,15}}</string>
        <key>sourceSize</key>
        <string>{482,15}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>team_pve_end.png</string>
      <key>textureFileName</key>
      <string>team_pve_end.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>