<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>team_pve_pass__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,857},{131,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,3}}</string>
        <key>sourceSize</key>
        <string>{131,3}</string>
      </dict>
      <key>team_pve_pass__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,846},{133,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,9}}</string>
        <key>sourceSize</key>
        <string>{133,9}</string>
      </dict>
      <key>team_pve_pass__67.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,721},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__65.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,215},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__63.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,471},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__61.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,340},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__59.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,590},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__68.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,465},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__66.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,615},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__64.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,840},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__62.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,596},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__60.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,740},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__58.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,90},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__57.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,715},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__56.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__55.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,221},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__54.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,346},{335,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,123}}</string>
        <key>sourceSize</key>
        <string>{335,123}</string>
      </dict>
      <key>team_pve_pass__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,846},{197,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,35}}</string>
        <key>sourceSize</key>
        <string>{197,35}</string>
      </dict>
      <key>team_pve_pass__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,0},{492,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{492,88}}</string>
        <key>sourceSize</key>
        <string>{492,88}</string>
      </dict>
      <key>team_pve_pass__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,467},{246,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,48}}</string>
        <key>sourceSize</key>
        <string>{246,48}</string>
      </dict>
      <key>team_pve_pass__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,517},{246,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,47}}</string>
        <key>sourceSize</key>
        <string>{246,47}</string>
      </dict>
      <key>team_pve_pass__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{491,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{491,94}}</string>
        <key>sourceSize</key>
        <string>{491,94}</string>
      </dict>
      <key>team_pve_pass__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,566},{216,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,47}}</string>
        <key>sourceSize</key>
        <string>{216,47}</string>
      </dict>
      <key>team_pve_pass__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,417},{89,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,48}}</string>
        <key>sourceSize</key>
        <string>{89,48}</string>
      </dict>
      <key>team_pve_pass__51.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,372},{25,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,21}}</string>
        <key>sourceSize</key>
        <string>{25,21}</string>
      </dict>
      <key>team_pve_pass__50.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,228},{22,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,35}}</string>
        <key>sourceSize</key>
        <string>{22,35}</string>
      </dict>
      <key>team_pve_pass__48.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,395},{94,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,62}}</string>
        <key>sourceSize</key>
        <string>{94,62}</string>
      </dict>
      <key>team_pve_pass__47.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,263},{93,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,71}}</string>
        <key>sourceSize</key>
        <string>{93,71}</string>
      </dict>
      <key>team_pve_pass__46.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,278},{98,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,73}}</string>
        <key>sourceSize</key>
        <string>{98,73}</string>
      </dict>
      <key>team_pve_pass__45.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,190},{96,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,71}}</string>
        <key>sourceSize</key>
        <string>{96,71}</string>
      </dict>
      <key>team_pve_pass__44.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,336},{89,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,70}}</string>
        <key>sourceSize</key>
        <string>{89,70}</string>
      </dict>
      <key>team_pve_pass__43.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,408},{84,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,69}}</string>
        <key>sourceSize</key>
        <string>{84,69}</string>
      </dict>
      <key>team_pve_pass__49.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,353},{97,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,62}}</string>
        <key>sourceSize</key>
        <string>{97,62}</string>
      </dict>
      <key>team_pve_pass__41.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,96},{96,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>team_pve_pass__42.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,90},{96,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>team_pve_pass__40.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,184},{96,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>team_pve_pass__35.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,262},{29,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,38}}</string>
        <key>sourceSize</key>
        <string>{29,38}</string>
      </dict>
      <key>team_pve_pass__34.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,333},{26,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,39}}</string>
        <key>sourceSize</key>
        <string>{26,39}</string>
      </dict>
      <key>team_pve_pass__36.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,222},{31,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,38}}</string>
        <key>sourceSize</key>
        <string>{31,38}</string>
      </dict>
      <key>team_pve_pass__39.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,51},{33,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,49}}</string>
        <key>sourceSize</key>
        <string>{33,49}</string>
      </dict>
      <key>team_pve_pass__38.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,0},{33,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,49}}</string>
        <key>sourceSize</key>
        <string>{33,49}</string>
      </dict>
      <key>team_pve_pass__37.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,130},{33,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,49}}</string>
        <key>sourceSize</key>
        <string>{33,49}</string>
      </dict>
      <key>team_pve_pass__31.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,343},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>team_pve_pass__32.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,333},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>team_pve_pass__33.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,344},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>team_pve_pass__28.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,90},{46,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,38}}</string>
        <key>sourceSize</key>
        <string>{46,38}</string>
      </dict>
      <key>team_pve_pass__30.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,96},{44,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,39}}</string>
        <key>sourceSize</key>
        <string>{44,39}</string>
      </dict>
      <key>team_pve_pass__29.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,137},{43,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,38}}</string>
        <key>sourceSize</key>
        <string>{43,38}</string>
      </dict>
      <key>team_pve_pass__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,181},{33,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,39}}</string>
        <key>sourceSize</key>
        <string>{33,39}</string>
      </dict>
      <key>team_pve_pass__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,302},{35,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,40}}</string>
        <key>sourceSize</key>
        <string>{35,40}</string>
      </dict>
      <key>team_pve_pass__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,187},{37,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,39}}</string>
        <key>sourceSize</key>
        <string>{37,39}</string>
      </dict>
      <key>team_pve_pass__2.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,268},{63,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,63}}</string>
        <key>sourceSize</key>
        <string>{63,63}</string>
      </dict>
      <key>team_pve_pass__27.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,228},{37,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,38}}</string>
        <key>sourceSize</key>
        <string>{37,38}</string>
      </dict>
      <key>team_pve_pass__26.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,262},{36,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,39}}</string>
        <key>sourceSize</key>
        <string>{36,39}</string>
      </dict>
      <key>team_pve_pass__25.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,221},{36,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,39}}</string>
        <key>sourceSize</key>
        <string>{36,39}</string>
      </dict>
      <key>team_pve_pass__24.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,102},{41,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,42}}</string>
        <key>sourceSize</key>
        <string>{41,42}</string>
      </dict>
      <key>team_pve_pass__23.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,177},{36,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,42}}</string>
        <key>sourceSize</key>
        <string>{36,42}</string>
      </dict>
      <key>team_pve_pass__22.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,146},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,39}}</string>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>team_pve_pass__21.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,303},{36,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,38}}</string>
        <key>sourceSize</key>
        <string>{36,38}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>team_pve_pass.png</string>
      <key>textureFileName</key>
      <string>team_pve_pass.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>