<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ticket_1122.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,455},{43,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,57}}</string>
        <key>sourceSize</key>
        <string>{43,57}</string>
      </dict>
      <key>ticket_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,629},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,80}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>ticket_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,0},{483,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{483,240}}</string>
        <key>sourceSize</key>
        <string>{483,240}</string>
      </dict>
      <key>ticket_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,471},{112,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,110}}</string>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
      <key>ticket_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,465},{163,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,143}}</string>
        <key>sourceSize</key>
        <string>{163,143}</string>
      </dict>
      <key>ticket_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,562},{166,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,134}}</string>
        <key>sourceSize</key>
        <string>{166,134}</string>
      </dict>
      <key>ticket_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,562},{85,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,85}}</string>
        <key>sourceSize</key>
        <string>{85,85}</string>
      </dict>
      <key>ticket_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,581},{143,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,117}}</string>
        <key>sourceSize</key>
        <string>{143,117}</string>
      </dict>
      <key>ticket_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,455},{161,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,172}}</string>
        <key>sourceSize</key>
        <string>{161,172}</string>
      </dict>
      <key>ticket_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,258},{182,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{182,205}}</string>
        <key>sourceSize</key>
        <string>{182,205}</string>
      </dict>
      <key>ticket_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,0},{220,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,256}}</string>
        <key>sourceSize</key>
        <string>{220,256}</string>
      </dict>
      <key>ticket_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,242},{195,211}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,211}}</string>
        <key>sourceSize</key>
        <string>{195,211}</string>
      </dict>
      <key>ticket_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,583},{106,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,112}}</string>
        <key>sourceSize</key>
        <string>{106,112}</string>
      </dict>
      <key>ticket_1118.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,530},{53,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,70}}</string>
        <key>sourceSize</key>
        <string>{53,70}</string>
      </dict>
      <key>ticket_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,471},{192,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,108}}</string>
        <key>sourceSize</key>
        <string>{192,108}</string>
      </dict>
      <key>ticket_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,242},{277,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,156}}</string>
        <key>sourceSize</key>
        <string>{277,156}</string>
      </dict>
      <key>ticket_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,627},{23,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,40}}</string>
        <key>sourceSize</key>
        <string>{23,40}</string>
      </dict>
      <key>ticket_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,649},{27,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,21}}</string>
        <key>sourceSize</key>
        <string>{27,21}</string>
      </dict>
      <key>ticket_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,649},{27,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,21}}</string>
        <key>sourceSize</key>
        <string>{27,21}</string>
      </dict>
      <key>ticket_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,258},{13,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,168}}</string>
        <key>sourceSize</key>
        <string>{13,168}</string>
      </dict>
      <key>ticket_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,400},{262,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{262,160}}</string>
        <key>sourceSize</key>
        <string>{262,160}</string>
      </dict>
      <key>ticket_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,649},{27,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,18}}</string>
        <key>sourceSize</key>
        <string>{27,18}</string>
      </dict>
      <key>ticket_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,455},{51,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,73}}</string>
        <key>sourceSize</key>
        <string>{51,73}</string>
      </dict>
      <key>ticket_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,400},{11,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,33}}</string>
        <key>sourceSize</key>
        <string>{11,33}</string>
      </dict>
      <key>ticket_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,602},{56,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,41}}</string>
        <key>sourceSize</key>
        <string>{56,41}</string>
      </dict>
      <key>ticket_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,610},{56,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,40}}</string>
        <key>sourceSize</key>
        <string>{56,40}</string>
      </dict>
      <key>ticket_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,313},{29,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,53}}</string>
        <key>sourceSize</key>
        <string>{29,53}</string>
      </dict>
      <key>ticket_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,258},{30,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,53}}</string>
        <key>sourceSize</key>
        <string>{30,53}</string>
      </dict>
      <key>ticket_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,610},{102,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,68}}</string>
        <key>sourceSize</key>
        <string>{102,68}</string>
      </dict>
      <key>ticket_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,645},{78,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,67}}</string>
        <key>sourceSize</key>
        <string>{78,67}</string>
      </dict>
      <key>ticket_1121.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,514},{42,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,55}}</string>
        <key>sourceSize</key>
        <string>{42,55}</string>
      </dict>
      <key>ticket_112.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,409},{33,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,44}}</string>
        <key>sourceSize</key>
        <string>{33,44}</string>
      </dict>
      <key>ticket_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,611},{37,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,37}}</string>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
      <key>ticket_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,368},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,39}}</string>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>ticket_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,571},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,38}}</string>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
      <key>ticket_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,629},{78,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,67}}</string>
        <key>sourceSize</key>
        <string>{78,67}</string>
      </dict>
      <key>ticket_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,581},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>ticket_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{306,469}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{306,469}}</string>
        <key>sourceSize</key>
        <string>{306,469}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ticket.png</string>
      <key>textureFileName</key>
      <string>ticket.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>