<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ui_sj_jj_sx_ani_yuanjian_star.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,0},{13,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,13}}</string>
        <key>sourceSize</key>
        <string>{13,13}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_attr_ani_img.png</key>
      <dict>
        <key>frame</key>
        <string>{{917,195},{81,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,21}}</string>
        <key>sourceSize</key>
        <string>{81,21}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_1_fuben_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,128},{419,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{419,98}}</string>
        <key>sourceSize</key>
        <string>{419,98}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_vgvggrt.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,275},{222,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{222,88}}</string>
        <key>sourceSize</key>
        <string>{222,88}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_24_fuben.png</key>
      <dict>
        <key>frame</key>
        <string>{{955,0},{12,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,52}}</string>
        <key>sourceSize</key>
        <string>{12,52}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,0},{6,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,6}}</string>
        <key>sourceSize</key>
        <string>{6,6}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_breach_openwing.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,228},{150,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,70}}</string>
        <key>sourceSize</key>
        <string>{150,70}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_jinjie_text4.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,352},{160,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,50}}</string>
        <key>sourceSize</key>
        <string>{160,50}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,0},{457,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{457,126}}</string>
        <key>sourceSize</key>
        <string>{457,126}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_jinjie_text.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,300},{160,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,50}}</string>
        <key>sourceSize</key>
        <string>{160,50}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_jinjie_text3.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,349},{160,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,50}}</string>
        <key>sourceSize</key>
        <string>{160,50}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,221},{351,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{351,106}}</string>
        <key>sourceSize</key>
        <string>{351,106}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_shengji_text.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,329},{160,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,50}}</string>
        <key>sourceSize</key>
        <string>{160,50}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_shengxin_text.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,329},{160,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,50}}</string>
        <key>sourceSize</key>
        <string>{160,50}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_arrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{917,128},{69,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,65}}</string>
        <key>sourceSize</key>
        <string>{69,65}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,221},{136,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,126}}</string>
        <key>sourceSize</key>
        <string>{136,126}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,228},{326,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,45}}</string>
        <key>sourceSize</key>
        <string>{326,45}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_bg_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{457,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{457,55}}</string>
        <key>sourceSize</key>
        <string>{457,55}</string>
      </dict>
      <key>ui_sj_jj_sx_ani_yuanjian_bg_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{494,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{494,162}}</string>
        <key>sourceSize</key>
        <string>{494,162}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ui_sj_jj_sx_ani.png</string>
      <key>textureFileName</key>
      <string>ui_sj_jj_sx_ani.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>