<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>userlevelup_light__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,74},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,0},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,148},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,37},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,111},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,148},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,0},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,37},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,37},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,74},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__3.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,111},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
      <key>userlevelup_light__2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,148},{152,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,35}}</string>
        <key>sourceSize</key>
        <string>{152,35}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>userlevelup_light.png</string>
      <key>textureFileName</key>
      <string>userlevelup_light.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>