<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>valuenum_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,0},{191,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,51}}</string>
        <key>sourceSize</key>
        <string>{191,51}</string>
      </dict>
      <key>valuenum_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{43,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,21}}</string>
        <key>sourceSize</key>
        <string>{43,21}</string>
      </dict>
      <key>valuenum_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{261,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{261,38}}</string>
        <key>sourceSize</key>
        <string>{261,38}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>valuenum.png</string>
      <key>textureFileName</key>
      <string>valuenum.png</string>
      <key>size</key>
      <string>{512,64}</string>
    </dict>
  </dict>
</plist>