<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>behit_a_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{722,384}}</string>
                <key>offset</key>
                <string>{-53,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{722,384}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_a_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{696,414}}</string>
                <key>offset</key>
                <string>{-62,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{696,414}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_a_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{726,414}}</string>
                <key>offset</key>
                <string>{-51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{726,414}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_a_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{556,326}}</string>
                <key>offset</key>
                <string>{-98,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,88},{556,326}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_a_05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{560,804},{598,194}}</string>
                <key>offset</key>
                <string>{-116,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,110},{598,194}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>behit_a.pn_</string>
            <key>size</key>
            <string>{1160,1160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:124b30d77a07e3291e094c03e10fe034$</string>
            <key>textureFileName</key>
            <string>behit_a.pn_</string>
        </dict>
    </dict>
</plist>
