<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>behit_huojian_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1210,630},{168,102}}</string>
                <key>offset</key>
                <string>{-4,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,390},{168,102}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1204,266},{222,134}}</string>
                <key>offset</key>
                <string>{11,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,365},{222,134}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{262,198}}</string>
                <key>offset</key>
                <string>{29,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,312},{262,198}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1190,744},{320,248}}</string>
                <key>offset</key>
                <string>{33,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,258},{320,248}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1124},{344,264}}</string>
                <key>offset</key>
                <string>{29,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,242},{344,264}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_06.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{548,1124},{468,272}}</string>
                <key>offset</key>
                <string>{54,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,228},{468,272}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_07.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{612,422},{596,320}}</string>
                <key>offset</key>
                <string>{23,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,180},{596,320}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_08.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{566,744},{622,378}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,122},{622,378}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_09.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{590,418}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,82},{590,418}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_10.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{608,450}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,53},{608,450}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_11.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{562,488}}</string>
                <key>offset</key>
                <string>{21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,3},{562,488}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_12.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{544,476}}</string>
                <key>offset</key>
                <string>{77,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,2},{544,476}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_13.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1210,402},{206,226}}</string>
                <key>offset</key>
                <string>{123,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,0},{206,226}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>behit_huojian.pn_</string>
            <key>size</key>
            <string>{1440,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be574f229f73a21579c72251c470c260$</string>
            <key>textureFileName</key>
            <string>behit_huojian.pn_</string>
        </dict>
    </dict>
</plist>
