<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>behit_tuoke_c_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{310,148}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,147},{310,148}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_tuoke_c_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,138}}</string>
                <key>offset</key>
                <string>{-171,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,153},{414,138}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>behit_tuoke_c.pn_</string>
            <key>size</key>
            <string>{418,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f5b1e2961cafb465d4c28aaab4307f1$</string>
            <key>textureFileName</key>
            <string>behit_tuoke_c.pn_</string>
        </dict>
    </dict>
</plist>
