<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>behit_jiguanpao_c_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{474,263},{159,96}}</string>
                <key>offset</key>
                <string>{10,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,164},{159,96}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>behit_jiguanpao_c_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{635,678},{161,100}}</string>
                <key>offset</key>
                <string>{7,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,160},{161,100}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>behit_jiguanpao_c_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{635,550},{175,126}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,134},{175,126}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>behit_jiguanpao_c_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{469,570},{237,164}}</string>
                <key>offset</key>
                <string>{-15,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,90},{237,164}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>behit_jiguanpao_c_05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{279,570},{243,188}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,57},{243,188}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>behit_jiguanpao_c_06.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{259,204}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,45},{259,204}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>behit_jiguanpao_c_07.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{309,248}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{309,248}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>behit_jiguanpao_c_08.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{275,244}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{275,244}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>behit_jiguanpao_c_09.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{305,248}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{305,248}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>behit_jiguanpao_c_10.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{305,244}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{305,244}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>behit_jiguanpao_c_11.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{248,263},{305,224}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,224}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>behit_jiguanpao_c_12.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{635,263},{285,188}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{285,188}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>behit_jiguanpao_c.pn_</string>
            <key>size</key>
            <string>{826,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31cd918e3571452d27363d38b18b8427$</string>
            <key>textureFileName</key>
            <string>behit_jiguanpao_c.pn_</string>
        </dict>
    </dict>
</plist>
