<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>behit_tegong_c_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{392,390},{350,242}}</string>
                <key>offset</key>
                <string>{-17,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,134},{350,242}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
            <key>behit_tegong_c_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{636,904},{208,190}}</string>
                <key>offset</key>
                <string>{-67,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,141},{208,190}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
            <key>behit_tegong_c_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{392,904},{242,220}}</string>
                <key>offset</key>
                <string>{-51,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,122},{242,220}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
            <key>behit_tegong_c_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{828,668},{240,248}}</string>
                <key>offset</key>
                <string>{-51,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,101},{240,248}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
            <key>behit_tegong_c_05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{392,634},{268,304}}</string>
                <key>offset</key>
                <string>{-37,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,68},{268,304}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
            <key>behit_tegong_c_06.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{748,354},{312,378}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,18},{312,378}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
            <key>behit_tegong_c_07.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{350,388}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{350,388}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
            <key>behit_tegong_c_08.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{350,384}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{350,384}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
            <key>behit_tegong_c_09.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{378,388}}</string>
                <key>offset</key>
                <string>{26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{378,388}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
            <key>behit_tegong_c_10.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,390}}</string>
                <key>offset</key>
                <string>{29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{372,390}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
            <key>behit_tegong_c_11.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{370,386}}</string>
                <key>offset</key>
                <string>{30,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{370,386}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
            <key>behit_tegong_c_12.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{376,390},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>behit_tegong_c.pn_</string>
            <key>size</key>
            <string>{1136,1136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfa55d4dd050a8c2d1933ada41fc76d6$</string>
            <key>textureFileName</key>
            <string>behit_tegong_c.pn_</string>
        </dict>
    </dict>
</plist>
