<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>behit_pojia_c_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,174}}</string>
                <key>offset</key>
                <string>{-111,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,125},{454,174}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_pojia_c_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{408,188}}</string>
                <key>offset</key>
                <string>{-193,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,120},{408,188}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>behit_pojia_c.pn_</string>
            <key>size</key>
            <string>{458,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6894178c6877dbcfcd08e4feaf102e5e$</string>
            <key>textureFileName</key>
            <string>behit_pojia_c.pn_</string>
        </dict>
    </dict>
</plist>
