<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>behit_yingxin_b_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{254,256},{532,206}}</string>
                <key>offset</key>
                <string>{-152,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,114},{532,206}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_yingxin_b_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{616,214}}</string>
                <key>offset</key>
                <string>{-103,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,106},{616,214}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_yingxin_b_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{478,250}}</string>
                <key>offset</key>
                <string>{-178,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,109},{478,250}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_yingxin_b_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,252}}</string>
                <key>offset</key>
                <string>{-178,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,107},{478,252}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_yingxin_b_05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{462,620},{400,208}}</string>
                <key>offset</key>
                <string>{-218,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{400,208}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>behit_yingxin_b.pn_</string>
            <key>size</key>
            <string>{864,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcd2ec0c2c7ec1f2f9e97fb6d9acfd1d$</string>
            <key>textureFileName</key>
            <string>behit_yingxin_b.pn_</string>
        </dict>
    </dict>
</plist>
