<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>behit_tegong_a_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{434,575},{173,162}}</string>
                <key>offset</key>
                <string>{36,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,80},{173,162}}</string>
                <key>sourceSize</key>
                <string>{335,308}</string>
            </dict>
            <key>behit_tegong_a_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{248,575},{197,184}}</string>
                <key>offset</key>
                <string>{37,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,65},{197,184}}</string>
                <key>sourceSize</key>
                <string>{335,308}</string>
            </dict>
            <key>behit_tegong_a_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{618,562},{221,218}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,53},{221,218}}</string>
                <key>sourceSize</key>
                <string>{335,308}</string>
            </dict>
            <key>behit_tegong_a_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{265,244}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,18},{265,244}}</string>
                <key>sourceSize</key>
                <string>{335,308}</string>
            </dict>
            <key>behit_tegong_a_05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{325,289},{291,284}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{291,284}}</string>
                <key>sourceSize</key>
                <string>{335,308}</string>
            </dict>
            <key>behit_tegong_a_06.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{321,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{321,296}}</string>
                <key>sourceSize</key>
                <string>{335,308}</string>
            </dict>
            <key>behit_tegong_a_07.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{285,298}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{285,298}}</string>
                <key>sourceSize</key>
                <string>{335,308}</string>
            </dict>
            <key>behit_tegong_a_08.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{219,288}}</string>
                <key>offset</key>
                <string>{24,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,7},{219,288}}</string>
                <key>sourceSize</key>
                <string>{335,308}</string>
            </dict>
            <key>behit_tegong_a_09.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{213,282}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,9},{213,282}}</string>
                <key>sourceSize</key>
                <string>{335,308}</string>
            </dict>
            <key>behit_tegong_a_10.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{625,286},{199,274}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,13},{199,274}}</string>
                <key>sourceSize</key>
                <string>{335,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>behit_tegong_a.pn_</string>
            <key>size</key>
            <string>{842,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c9a10516590cac0604128367ffd5435$</string>
            <key>textureFileName</key>
            <string>behit_tegong_a.pn_</string>
        </dict>
    </dict>
</plist>
