<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>behit_tuoke_a_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{238,238},{324,234}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{324,234}}</string>
                <key>sourceSize</key>
                <string>{340,414}</string>
            </dict>
            <key>behit_tuoke_a_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{324,234}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,93},{324,234}}</string>
                <key>sourceSize</key>
                <string>{340,414}</string>
            </dict>
            <key>behit_tuoke_a_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{324,234}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{324,234}}</string>
                <key>sourceSize</key>
                <string>{340,414}</string>
            </dict>
            <key>behit_tuoke_a_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,234}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{324,234}}</string>
                <key>sourceSize</key>
                <string>{340,414}</string>
            </dict>
            <key>behit_tuoke_a_05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{238,474},{241,132}}</string>
                <key>offset</key>
                <string>{-50,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,156},{241,132}}</string>
                <key>sourceSize</key>
                <string>{341,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>behit_tuoke_a.pn_</string>
            <key>size</key>
            <string>{654,654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6a2512179a20f5e81e67292da85696c$</string>
            <key>textureFileName</key>
            <string>behit_tuoke_a.pn_</string>
        </dict>
    </dict>
</plist>
