<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>behit_suijia_c_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{266,386}}</string>
                <key>offset</key>
                <string>{-203,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,28},{266,386}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_suijia_c_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{388,390},{314,386}}</string>
                <key>offset</key>
                <string>{-217,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{314,386}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_suijia_c_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{384,384}}</string>
                <key>offset</key>
                <string>{-214,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{384,384}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>behit_suijia_c_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,386}}</string>
                <key>offset</key>
                <string>{-217,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{402,386}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>behit_suijia_c.pn_</string>
            <key>size</key>
            <string>{776,776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d86727d3b3464d603af2131746c346d$</string>
            <key>textureFileName</key>
            <string>behit_suijia_c.pn_</string>
        </dict>
    </dict>
</plist>
