<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>behit_gaobao_a_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{786,508},{694,348}}</string>
                <key>offset</key>
                <string>{11,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,141},{694,348}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1356,1656},{502,272}}</string>
                <key>offset</key>
                <string>{-127,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,251},{502,272}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1444,1364},{570,290}}</string>
                <key>offset</key>
                <string>{-161,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,250},{570,290}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1484},{492,282}}</string>
                <key>offset</key>
                <string>{-278,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,201},{492,282}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{666,914},{632,346}}</string>
                <key>offset</key>
                <string>{-281,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,139},{632,346}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_06.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{782,454}}</string>
                <key>offset</key>
                <string>{-209,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{782,454}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_07.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{782,454}}</string>
                <key>offset</key>
                <string>{-203,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{782,454}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_08.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{666,1548},{404,388}}</string>
                <key>offset</key>
                <string>{-220,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,83},{404,388}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_09.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1482,574},{504,412}}</string>
                <key>offset</key>
                <string>{-235,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,69},{504,412}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_10.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{722,504}}</string>
                <key>offset</key>
                <string>{-216,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{722,504}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_11.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{570,486}}</string>
                <key>offset</key>
                <string>{-218,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,0},{570,486}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_12.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{662,490}}</string>
                <key>offset</key>
                <string>{-208,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{662,490}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_13.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,1406},{662,488}}</string>
                <key>offset</key>
                <string>{-208,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{662,488}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_14.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1014,858},{624,428}}</string>
                <key>offset</key>
                <string>{-208,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{624,428}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
            <key>behit_gaobao_a_15.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1444,988},{580,374}}</string>
                <key>offset</key>
                <string>{-205,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{580,374}}</string>
                <key>sourceSize</key>
                <string>{1200,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>behit_gaobao_a.pn_</string>
            <key>size</key>
            <string>{2026,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fc357a70b8ee71b0443a22eba488640$</string>
            <key>textureFileName</key>
            <string>behit_gaobao_a.pn_</string>
        </dict>
    </dict>
</plist>
