<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duyan_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{224,231}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,72},{224,231}}</string>
                <key>sourceSize</key>
                <string>{250,325}</string>
            </dict>
            <key>duyan_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{443,186},{194,211}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,89},{194,211}}</string>
                <key>sourceSize</key>
                <string>{250,325}</string>
            </dict>
            <key>duyan_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{182,241}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,57},{182,241}}</string>
                <key>sourceSize</key>
                <string>{250,325}</string>
            </dict>
            <key>duyan_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{166,281}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{166,281}}</string>
                <key>sourceSize</key>
                <string>{250,325}</string>
            </dict>
            <key>duyan_05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,283}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,14},{174,283}}</string>
                <key>sourceSize</key>
                <string>{250,325}</string>
            </dict>
            <key>duyan_06.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{178,235},{162,263}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{162,263}}</string>
                <key>sourceSize</key>
                <string>{250,325}</string>
            </dict>
            <key>duyan_07.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{170,399},{174,267}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{174,267}}</string>
                <key>sourceSize</key>
                <string>{250,325}</string>
            </dict>
            <key>duyan_08.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{439,399},{144,245}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,2},{144,245}}</string>
                <key>sourceSize</key>
                <string>{250,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duyan.pn_</string>
            <key>size</key>
            <string>{647,647}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed1cc4801b70bcb696ac97a222b2f6d9$</string>
            <key>textureFileName</key>
            <string>duyan.pn_</string>
        </dict>
    </dict>
</plist>
