<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_tegongpaodan-eff_tegongpaodan-02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{426,418},{316,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,77}}</string>
                <key>sourceSize</key>
                <string>{316,77}</string>
            </dict>
            <key>eff_tegongpaodan-eff_tegongpaodan-04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{422,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,240}}</string>
                <key>sourceSize</key>
                <string>{422,240}</string>
            </dict>
            <key>eff_tegongpaodan-eff_tegongpaodan-05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{602,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,219}}</string>
                <key>sourceSize</key>
                <string>{602,219}</string>
            </dict>
            <key>eff_tegongpaodan-eff_tegongpaodan-06.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{505,223},{408,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,205}}</string>
                <key>sourceSize</key>
                <string>{408,205}</string>
            </dict>
            <key>eff_tegongpaodan-eff_tegongpaodan-07.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{492,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,193}}</string>
                <key>sourceSize</key>
                <string>{492,193}</string>
            </dict>
            <key>eff_tegongpaodan-eff_tegongpaodan-08.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{29,206}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{29,206}}</string>
                <key>sourceSize</key>
                <string>{51,206}</string>
            </dict>
            <key>eff_tegongpaodan-eff_tegongpaodan-09.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{12,233}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{12,233}}</string>
                <key>sourceSize</key>
                <string>{22,235}</string>
            </dict>
            <key>eff_tegongpaodan-eff_tegongpaodan-10.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{36,258}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,258}}</string>
                <key>sourceSize</key>
                <string>{46,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_tegongpaodan.pn_</string>
            <key>size</key>
            <string>{736,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e625c9632f2912942955333f8ff7bcde$</string>
            <key>textureFileName</key>
            <string>eff_tegongpaodan.pn_</string>
        </dict>
    </dict>
</plist>
