<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fengmao_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{61,51}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{61,51}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>fengmao_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,47}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{73,47}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengmao.pn_</string>
            <key>size</key>
            <string>{104,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abcfcd3446a6a21cc9fe2f945ae0e988$</string>
            <key>textureFileName</key>
            <string>fengmao.pn_</string>
        </dict>
    </dict>
</plist>
