<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flycannon_pojia_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{336,84}}</string>
                <key>offset</key>
                <string>{93,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,41},{336,84}}</string>
                <key>sourceSize</key>
                <string>{560,178}</string>
            </dict>
            <key>flycannon_pojia_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{426,84}}</string>
                <key>offset</key>
                <string>{51,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,41},{426,84}}</string>
                <key>sourceSize</key>
                <string>{560,178}</string>
            </dict>
            <key>flycannon_pojia_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{426,84}}</string>
                <key>offset</key>
                <string>{51,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,41},{426,84}}</string>
                <key>sourceSize</key>
                <string>{560,178}</string>
            </dict>
            <key>flycannon_pojia_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,84}}</string>
                <key>offset</key>
                <string>{46,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,41},{458,84}}</string>
                <key>sourceSize</key>
                <string>{560,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flycannon_pojia.pn_</string>
            <key>size</key>
            <string>{462,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:067c69e7173fb2ed1fd85a1f3db141b7$</string>
            <key>textureFileName</key>
            <string>flycannon_pojia.pn_</string>
        </dict>
    </dict>
</plist>
