<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flycannon_tuoke_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{253,69}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,174},{253,69}}</string>
                <key>sourceSize</key>
                <string>{327,423}</string>
            </dict>
            <key>flycannon_tuoke_02 .pn_</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{245,106}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,159},{245,106}}</string>
                <key>sourceSize</key>
                <string>{325,426}</string>
            </dict>
            <key>flycannon_tuoke_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{160,257},{250,142}}</string>
                <key>offset</key>
                <string>{-37,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,125},{250,142}}</string>
                <key>sourceSize</key>
                <string>{324,414}</string>
            </dict>
            <key>flycannon_tuoke_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,186}}</string>
                <key>offset</key>
                <string>{-37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,113},{250,186}}</string>
                <key>sourceSize</key>
                <string>{324,414}</string>
            </dict>
            <key>flycannon_tuoke_05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{251,156}}</string>
                <key>offset</key>
                <string>{-37,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,139},{251,156}}</string>
                <key>sourceSize</key>
                <string>{325,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flycannon_tuoke.pn_</string>
            <key>size</key>
            <string>{443,443}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:107ecc851ec121df946c236a74895cfa$</string>
            <key>textureFileName</key>
            <string>flycannon_tuoke.pn_</string>
        </dict>
    </dict>
</plist>
