<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flycannon_gaobao_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{691,90}}</string>
                <key>offset</key>
                <string>{-51,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{691,90}}</string>
                <key>sourceSize</key>
                <string>{793,246}</string>
            </dict>
            <key>flycannon_gaobao_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{691,84}}</string>
                <key>offset</key>
                <string>{-51,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{691,84}}</string>
                <key>sourceSize</key>
                <string>{793,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flycannon_gaobao.pn_</string>
            <key>size</key>
            <string>{695,695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a87c99bd57033ea2917d5abfa33754d8$</string>
            <key>textureFileName</key>
            <string>flycannon_gaobao.pn_</string>
        </dict>
    </dict>
</plist>
