<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flycannon_suijia_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,140}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,0},{394,140}}</string>
                <key>sourceSize</key>
                <string>{484,140}</string>
            </dict>
            <key>flycannon_suijia_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{394,94}}</string>
                <key>offset</key>
                <string>{41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{394,94}}</string>
                <key>sourceSize</key>
                <string>{484,140}</string>
            </dict>
            <key>flycannon_suijia_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{392,94}}</string>
                <key>offset</key>
                <string>{41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,24},{392,94}}</string>
                <key>sourceSize</key>
                <string>{484,140}</string>
            </dict>
            <key>flycannon_suijia_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{394,94}}</string>
                <key>offset</key>
                <string>{41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{394,94}}</string>
                <key>sourceSize</key>
                <string>{484,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flycannon_suijia.pn_</string>
            <key>size</key>
            <string>{432,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:715ee8d7bc9192d34b9d16b98b816625$</string>
            <key>textureFileName</key>
            <string>flycannon_suijia.pn_</string>
        </dict>
    </dict>
</plist>
