<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flycannon_yingxin_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{621,99}}</string>
                <key>offset</key>
                <string>{136,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,123},{621,99}}</string>
                <key>sourceSize</key>
                <string>{1073,341}</string>
            </dict>
            <key>flycannon_yingxin_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{621,109}}</string>
                <key>offset</key>
                <string>{136,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,122},{621,109}}</string>
                <key>sourceSize</key>
                <string>{1073,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flycannon_yingxin.pn_</string>
            <key>size</key>
            <string>{625,625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca2a5dd8db837f1463464fd3cc744744$</string>
            <key>textureFileName</key>
            <string>flycannon_yingxin.pn_</string>
        </dict>
    </dict>
</plist>
