<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flycannon01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{393,249}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,6},{393,249}}</string>
                <key>sourceSize</key>
                <string>{555,341}</string>
            </dict>
            <key>flycannon02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{395,95}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,127},{395,95}}</string>
                <key>sourceSize</key>
                <string>{555,341}</string>
            </dict>
            <key>flycannon03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{393,93}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,129},{393,93}}</string>
                <key>sourceSize</key>
                <string>{555,341}</string>
            </dict>
            <key>flycannon04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{395,95}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,127},{395,95}}</string>
                <key>sourceSize</key>
                <string>{555,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flycannon.pn_</string>
            <key>size</key>
            <string>{494,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0231893be468a948477b0615cd7bab66$</string>
            <key>textureFileName</key>
            <string>flycannon.pn_</string>
        </dict>
    </dict>
</plist>
