<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guaiwubaozha01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{262,1086},{194,214}}</string>
                <key>offset</key>
                <string>{56,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,256},{194,214}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1068,596},{180,230}}</string>
                <key>offset</key>
                <string>{54,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,235},{180,230}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1004,870},{184,214}}</string>
                <key>offset</key>
                <string>{40,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,262},{184,214}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{226,276}}</string>
                <key>offset</key>
                <string>{68,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,191},{226,276}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{218,258}}</string>
                <key>offset</key>
                <string>{71,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,202},{218,258}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha06.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{958,280},{186,260}}</string>
                <key>offset</key>
                <string>{72,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,204},{186,260}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha07.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{920,596},{146,272}}</string>
                <key>offset</key>
                <string>{82,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,168},{146,272}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha08.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{848,892},{154,320}}</string>
                <key>offset</key>
                <string>{73,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,140},{154,320}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha09.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1004,468},{126,300}}</string>
                <key>offset</key>
                <string>{89,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,158},{126,300}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha10.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1086},{154,166}}</string>
                <key>offset</key>
                <string>{92,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,218},{154,166}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha11.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1086},{154,166}}</string>
                <key>offset</key>
                <string>{92,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,218},{154,166}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha12.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{490,892},{356,412}}</string>
                <key>offset</key>
                <string>{79,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,55},{356,412}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha13.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{490,892},{356,412}}</string>
                <key>offset</key>
                <string>{79,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,55},{356,412}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha14.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{496,478},{412,422}}</string>
                <key>offset</key>
                <string>{62,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,58},{412,422}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha15.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{496,478},{412,422}}</string>
                <key>offset</key>
                <string>{62,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,58},{412,422}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha16.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{460,474}}</string>
                <key>offset</key>
                <string>{56,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,28},{460,474}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha17.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{460,474}}</string>
                <key>offset</key>
                <string>{56,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,28},{460,474}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha18.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,540}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{492,540}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha19.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,540}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{492,540}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
            <key>guaiwubaozha20.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{486,540}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{486,540}}</string>
                <key>sourceSize</key>
                <string>{572,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guaiwubaozha.pn_</string>
            <key>size</key>
            <string>{1306,1306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:611d3990fe603c88f671d04f53e23ef6$</string>
            <key>textureFileName</key>
            <string>guaiwubaozha.pn_</string>
        </dict>
    </dict>
</plist>
