<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiguanpao_openfire_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{194,133}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{194,133}}</string>
                <key>sourceSize</key>
                <string>{194,217}</string>
            </dict>
            <key>jiguanpao_openfire_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{170,183}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{170,183}}</string>
                <key>sourceSize</key>
                <string>{194,217}</string>
            </dict>
            <key>jiguanpao_openfire_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{194,133}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{194,133}}</string>
                <key>sourceSize</key>
                <string>{194,217}</string>
            </dict>
            <key>jiguanpao_openfire_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,213}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,213}}</string>
                <key>sourceSize</key>
                <string>{194,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiguanpao_openfire.pn_</string>
            <key>size</key>
            <string>{370,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf26f33ea6d634bd57160fae0716f52a$</string>
            <key>textureFileName</key>
            <string>jiguanpao_openfire.pn_</string>
        </dict>
    </dict>
</plist>
