<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>openfire_tuoke_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{350,418},{234,88}}</string>
                <key>offset</key>
                <string>{-272,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,166},{234,88}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>openfire_tuoke_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{440,452},{204,248}}</string>
                <key>offset</key>
                <string>{-221,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,85},{204,248}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>openfire_tuoke_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{278,346}}</string>
                <key>offset</key>
                <string>{-221,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,30},{278,346}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>openfire_tuoke_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,414}}</string>
                <key>offset</key>
                <string>{-167,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{462,414}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>openfire_tuoke_05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{448,166}}</string>
                <key>offset</key>
                <string>{-167,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,125},{448,166}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
            <key>openfire_tuoke_06.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{356,52}}</string>
                <key>offset</key>
                <string>{-114,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,178},{356,52}}</string>
                <key>sourceSize</key>
                <string>{836,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>openfire_tuoke.pn_</string>
            <key>size</key>
            <string>{698,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a8e86c89e8bb19b4a491eb2f068390d$</string>
            <key>textureFileName</key>
            <string>openfire_tuoke.pn_</string>
        </dict>
    </dict>
</plist>
