<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiangyan_01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{31,32}}</string>
                <key>offset</key>
                <string>{-35,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,40},{31,32}}</string>
                <key>sourceSize</key>
                <string>{159,142}</string>
            </dict>
            <key>qiangyan_02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{81,186},{41,44}}</string>
                <key>offset</key>
                <string>{-35,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,33},{41,44}}</string>
                <key>sourceSize</key>
                <string>{159,142}</string>
            </dict>
            <key>qiangyan_03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{77,76}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,40},{77,76}}</string>
                <key>sourceSize</key>
                <string>{159,142}</string>
            </dict>
            <key>qiangyan_04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,90}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{113,90}}</string>
                <key>sourceSize</key>
                <string>{159,142}</string>
            </dict>
            <key>qiangyan_05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{124,100},{103,92}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{103,92}}</string>
                <key>sourceSize</key>
                <string>{159,142}</string>
            </dict>
            <key>qiangyan_06.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{105,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{105,90}}</string>
                <key>sourceSize</key>
                <string>{159,142}</string>
            </dict>
            <key>qiangyan_07.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{105,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,22},{105,96}}</string>
                <key>sourceSize</key>
                <string>{159,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiangyan.pn_</string>
            <key>size</key>
            <string>{264,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf415252e9293099d7eb4544adf1a81c$</string>
            <key>textureFileName</key>
            <string>qiangyan.pn_</string>
        </dict>
    </dict>
</plist>
