<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tocannon01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{84,122}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,16},{84,122}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>tocannon02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,130}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,12},{102,130}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tocannon.pn_</string>
            <key>size</key>
            <string>{192,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18ecfd5827eeb490a411f6520005858f$</string>
            <key>textureFileName</key>
            <string>tocannon.pn_</string>
        </dict>
    </dict>
</plist>
