<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tocannonappear01.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{92,140}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,16},{92,140}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>tocannonappear02.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{226,128},{114,134}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,11},{114,134}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>tocannonappear03.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{124,138}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,7},{124,138}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>tocannonappear04.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,144}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{128,144}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>tocannonappear05.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{116,144}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{116,144}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>tocannonappear06.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{120,148},{102,140}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{102,140}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>tocannonappear07.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{224,244},{102,130}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,12},{102,130}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tocannonappear.pn_</string>
            <key>size</key>
            <string>{370,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a60bb3066703b1e424ed0fac179b83fc$</string>
            <key>textureFileName</key>
            <string>tocannonappear.pn_</string>
        </dict>
    </dict>
</plist>
