<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tksj_001.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{234,440},{206,205}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{206,205}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tksj_002.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,223}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tksj_003.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{228,217}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{228,217}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tksj_004.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{230,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{230,221}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tksj_005.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{234,221},{224,217}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{224,217}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tksj_006.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{157,154}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{157,154}}</string>
                <key>sourceSize</key>
                <string>{223,182}</string>
            </dict>
            <key>tksj_007.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{155,154}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{155,154}}</string>
                <key>sourceSize</key>
                <string>{223,182}</string>
            </dict>
            <key>tksj_008.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{464,158},{153,150}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{153,150}}</string>
                <key>sourceSize</key>
                <string>{223,182}</string>
            </dict>
            <key>tksj_009.pn_</key>
            <dict>
                <key>frame</key>
                <string>{{460,310},{151,146}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{151,146}}</string>
                <key>sourceSize</key>
                <string>{223,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tunkashouji.pn_</string>
            <key>size</key>
            <string>{647,647}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b19c184ea2ed72a5140c2568a5ea8506$</string>
            <key>textureFileName</key>
            <string>tunkashouji.pn_</string>
        </dict>
    </dict>
</plist>
