<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_decor_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,246},{88,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,52}}</string>
                <key>sourceSize</key>
                <string>{88,52}</string>
            </dict>
            <key>map_decor_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,246},{88,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,52}}</string>
                <key>sourceSize</key>
                <string>{88,52}</string>
            </dict>
            <key>map_decor_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,697},{61,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>map_decor_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,246},{127,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,93}}</string>
                <key>sourceSize</key>
                <string>{127,93}</string>
            </dict>
            <key>map_decor_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,886},{127,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,93}}</string>
                <key>sourceSize</key>
                <string>{127,93}</string>
            </dict>
            <key>map_decor_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,469},{102,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{102,62}</string>
            </dict>
            <key>map_decor_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,341},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>map_decor_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,246},{86,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>map_decor_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{64,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>map_decor_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,699},{96,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,82}}</string>
                <key>sourceSize</key>
                <string>{96,82}</string>
            </dict>
            <key>map_decor_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,336},{47,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>map_decor_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,522},{58,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>map_decor_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,561},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>map_decor_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,334},{78,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{78,63}</string>
            </dict>
            <key>map_decor_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,538},{172,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,104}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>map_decor_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,592},{234,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,109}}</string>
                <key>sourceSize</key>
                <string>{234,109}</string>
            </dict>
            <key>map_decor_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,755},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>map_decor_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,538},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>map_decor_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,963},{79,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,58}}</string>
                <key>sourceSize</key>
                <string>{79,58}</string>
            </dict>
            <key>map_decor_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,246},{147,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,86}}</string>
                <key>sourceSize</key>
                <string>{147,86}</string>
            </dict>
            <key>map_decor_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,533},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>map_decor_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,582},{61,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,83}}</string>
                <key>sourceSize</key>
                <string>{61,83}</string>
            </dict>
            <key>map_decor_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,891},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>map_decor_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,349},{81,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,65}}</string>
                <key>sourceSize</key>
                <string>{81,65}</string>
            </dict>
            <key>map_decor_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{86,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,59}}</string>
                <key>sourceSize</key>
                <string>{86,59}</string>
            </dict>
            <key>map_decor_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,589},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>map_decor_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,809},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>map_decor_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,891},{125,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,127}}</string>
                <key>sourceSize</key>
                <string>{125,127}</string>
            </dict>
            <key>map_decor_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,914},{108,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>map_decor_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,246},{101,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,65}}</string>
                <key>sourceSize</key>
                <string>{101,65}</string>
            </dict>
            <key>map_decor_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,914},{108,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,93}}</string>
                <key>sourceSize</key>
                <string>{108,93}</string>
            </dict>
            <key>map_decor_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,246},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>map_decor_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,165},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>map_decor_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,561},{49,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,28}}</string>
                <key>sourceSize</key>
                <string>{49,28}</string>
            </dict>
            <key>map_decor_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,336},{254,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,167}}</string>
                <key>sourceSize</key>
                <string>{254,167}</string>
            </dict>
            <key>map_decor_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,582},{125,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,113}}</string>
                <key>sourceSize</key>
                <string>{125,113}</string>
            </dict>
            <key>map_decor_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,421},{77,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,46}}</string>
                <key>sourceSize</key>
                <string>{77,46}</string>
            </dict>
            <key>map_decor_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{476,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,242}}</string>
                <key>sourceSize</key>
                <string>{476,242}</string>
            </dict>
            <key>map_decor_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,242}}</string>
                <key>sourceSize</key>
                <string>{476,242}</string>
            </dict>
            <key>map_decor_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,341},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>map_decor_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,561},{154,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,137}}</string>
                <key>sourceSize</key>
                <string>{154,137}</string>
            </dict>
            <key>map_decor_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,432},{125,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,119}</string>
            </dict>
            <key>map_decor_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,420},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>map_decor_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,700},{184,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,145}}</string>
                <key>sourceSize</key>
                <string>{184,145}</string>
            </dict>
            <key>map_decor_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,243},{63,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,91}}</string>
                <key>sourceSize</key>
                <string>{63,91}</string>
            </dict>
            <key>map_decor_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,385},{65,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,33}</string>
            </dict>
            <key>map_decor_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{63,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,88}}</string>
                <key>sourceSize</key>
                <string>{63,88}</string>
            </dict>
            <key>map_decor_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,963},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>map_decor_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,246},{88,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,46}}</string>
                <key>sourceSize</key>
                <string>{88,46}</string>
            </dict>
            <key>map_decor_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,389},{151,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,147}}</string>
                <key>sourceSize</key>
                <string>{151,147}</string>
            </dict>
            <key>map_decor_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,667},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>map_decor_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{366,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,202}}</string>
                <key>sourceSize</key>
                <string>{366,202}</string>
            </dict>
            <key>map_decor_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{257,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,216}}</string>
                <key>sourceSize</key>
                <string>{257,216}</string>
            </dict>
            <key>map_decor_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,336},{223,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,139}}</string>
                <key>sourceSize</key>
                <string>{223,139}</string>
            </dict>
            <key>map_decor_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,644},{53,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,107}}</string>
                <key>sourceSize</key>
                <string>{53,107}</string>
            </dict>
            <key>map_decor_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,891},{130,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,156}}</string>
                <key>sourceSize</key>
                <string>{130,156}</string>
            </dict>
            <key>map_decor_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,246},{87,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,139}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>map_decor_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,703},{186,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,172}}</string>
                <key>sourceSize</key>
                <string>{186,172}</string>
            </dict>
            <key>map_decor_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,703},{209,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,173}}</string>
                <key>sourceSize</key>
                <string>{209,173}</string>
            </dict>
            <key>map_decor_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,86},{77,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_decor.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d56895b188da26a3894ff068344c51b7:1/1$</string>
            <key>textureFileName</key>
            <string>map_decor.png</string>
        </dict>
    </dict>
</plist>
