<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pvp_cloud_ani29.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,192},{58,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,45}}</string>
        <key>sourceSize</key>
        <string>{58,45}</string>
      </dict>
      <key>pvp_cloud_ani12.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,0},{117,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,190}}</string>
        <key>sourceSize</key>
        <string>{117,190}</string>
      </dict>
      <key>pvp_cloud_ani18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{154,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,200}}</string>
        <key>sourceSize</key>
        <string>{154,200}</string>
      </dict>
      <key>pvp_cloud_ani17.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,0},{52,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,168}}</string>
        <key>sourceSize</key>
        <string>{52,168}</string>
      </dict>
      <key>pvp_cloud_ani19.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,0},{37,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,173}}</string>
        <key>sourceSize</key>
        <string>{37,173}</string>
      </dict>
      <key>pvp_cloud_ani11.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{121,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,190}}</string>
        <key>sourceSize</key>
        <string>{121,190}</string>
      </dict>
      <key>pvp_cloud_ani27.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,175},{61,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,119}}</string>
        <key>sourceSize</key>
        <string>{61,119}</string>
      </dict>
      <key>pvp_cloud_ani23.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,192},{129,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,26}}</string>
        <key>sourceSize</key>
        <string>{129,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>pvp_cloud_ani.png</string>
      <key>textureFileName</key>
      <string>pvp_cloud_ani.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>