<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>buff_ani_31088_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,148},{140,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,53}}</string>
    <key>sourceSize</key>
    <string>{140,53}</string>
   </dict>
   <key>buff_ani_31088_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,59},{20,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,20}}</string>
    <key>sourceSize</key>
    <string>{20,20}</string>
   </dict>
   <key>buff_ani_31088_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,0},{57,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,57}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>buff_ani_31088_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,0},{8,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,117}}</string>
    <key>sourceSize</key>
    <string>{8,117}</string>
   </dict>
   <key>buff_ani_31088_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{182,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{182,146}}</string>
    <key>sourceSize</key>
    <string>{182,146}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>buff_ani_31088.png</string>
   <key>textureFileName</key>
   <string>buff_ani_31088.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>