<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>map_effect_31471_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{929,541},{44,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,58}}</string>
    <key>sourceSize</key>
    <string>{44,58}</string>
   </dict>
   <key>map_effect_31471_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{676,530},{65,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,71}}</string>
    <key>sourceSize</key>
    <string>{65,71}</string>
   </dict>
   <key>map_effect_31471_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{389,496},{66,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,71}}</string>
    <key>sourceSize</key>
    <string>{66,71}</string>
   </dict>
   <key>map_effect_31471_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,638},{141,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,72}}</string>
    <key>sourceSize</key>
    <string>{141,72}</string>
   </dict>
   <key>map_effect_31471_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{897,601},{119,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{119,72}}</string>
    <key>sourceSize</key>
    <string>{119,72}</string>
   </dict>
   <key>map_effect_31471_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{676,457},{88,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,71}}</string>
    <key>sourceSize</key>
    <string>{88,71}</string>
   </dict>
   <key>map_effect_31471_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{929,469},{71,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,70}}</string>
    <key>sourceSize</key>
    <string>{71,70}</string>
   </dict>
   <key>map_effect_31471_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,569},{52,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,35}}</string>
    <key>sourceSize</key>
    <string>{52,35}</string>
   </dict>
   <key>map_effect_31471_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{578,621},{154,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{154,59}}</string>
    <key>sourceSize</key>
    <string>{154,59}</string>
   </dict>
   <key>map_effect_31471_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,542},{151,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{151,94}}</string>
    <key>sourceSize</key>
    <string>{151,94}</string>
   </dict>
   <key>map_effect_31471_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{743,560},{152,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{152,90}}</string>
    <key>sourceSize</key>
    <string>{152,90}</string>
   </dict>
   <key>map_effect_31471_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{389,414},{96,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,80}}</string>
    <key>sourceSize</key>
    <string>{96,80}</string>
   </dict>
   <key>map_effect_31471_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{968,0},{48,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,129}}</string>
    <key>sourceSize</key>
    <string>{48,129}</string>
   </dict>
   <key>map_effect_31471_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{954,355},{30,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,112}}</string>
    <key>sourceSize</key>
    <string>{30,112}</string>
   </dict>
   <key>map_effect_31471_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{968,131},{36,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,114}}</string>
    <key>sourceSize</key>
    <string>{36,114}</string>
   </dict>
   <key>map_effect_31471_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,247},{41,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,106}}</string>
    <key>sourceSize</key>
    <string>{41,106}</string>
   </dict>
   <key>map_effect_31471_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{986,355},{27,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,93}}</string>
    <key>sourceSize</key>
    <string>{27,93}</string>
   </dict>
   <key>map_effect_31471_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{975,541},{41,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,55}}</string>
    <key>sourceSize</key>
    <string>{41,55}</string>
   </dict>
   <key>map_effect_31471_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{367,621},{209,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{209,57}}</string>
    <key>sourceSize</key>
    <string>{209,57}</string>
   </dict>
   <key>map_effect_31471_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{160,497},{213,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{213,73}}</string>
    <key>sourceSize</key>
    <string>{213,73}</string>
   </dict>
   <key>map_effect_31471_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{153,572},{212,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{212,58}}</string>
    <key>sourceSize</key>
    <string>{212,58}</string>
   </dict>
   <key>map_effect_31471_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{457,559},{211,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{211,60}}</string>
    <key>sourceSize</key>
    <string>{211,60}</string>
   </dict>
   <key>map_effect_31471_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{813,0},{153,153}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{153,153}}</string>
    <key>sourceSize</key>
    <string>{153,153}</string>
   </dict>
   <key>map_effect_31471_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{1006,131},{16,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,18}}</string>
    <key>sourceSize</key>
    <string>{16,18}</string>
   </dict>
   <key>map_effect_31471_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,457},{187,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{187,100}}</string>
    <key>sourceSize</key>
    <string>{187,100}</string>
   </dict>
   <key>map_effect_31471_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,292},{180,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{180,112}}</string>
    <key>sourceSize</key>
    <string>{180,112}</string>
   </dict>
   <key>map_effect_31471_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{786,155},{177,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{177,126}}</string>
    <key>sourceSize</key>
    <string>{177,126}</string>
   </dict>
   <key>map_effect_31471_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{786,283},{166,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{166,136}}</string>
    <key>sourceSize</key>
    <string>{166,136}</string>
   </dict>
   <key>map_effect_31471_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,406},{158,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{158,134}}</string>
    <key>sourceSize</key>
    <string>{158,134}</string>
   </dict>
   <key>map_effect_31471_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{773,421},{154,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{154,137}}</string>
    <key>sourceSize</key>
    <string>{154,137}</string>
   </dict>
   <key>map_effect_31471_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{208,290}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{208,290}}</string>
    <key>sourceSize</key>
    <string>{208,290}</string>
   </dict>
   <key>map_effect_31471_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{182,308},{304,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{304,104}}</string>
    <key>sourceSize</key>
    <string>{304,104}</string>
   </dict>
   <key>map_effect_31471_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{153,632},{199,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{199,55}}</string>
    <key>sourceSize</key>
    <string>{199,55}</string>
   </dict>
   <key>map_effect_31471_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{513,0},{298,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{298,151}}</string>
    <key>sourceSize</key>
    <string>{298,151}</string>
   </dict>
   <key>map_effect_31471_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,0},{301,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{301,151}}</string>
    <key>sourceSize</key>
    <string>{301,151}</string>
   </dict>
   <key>map_effect_31471_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,153},{288,153}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{288,153}}</string>
    <key>sourceSize</key>
    <string>{288,153}</string>
   </dict>
   <key>map_effect_31471_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,307},{271,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{271,148}}</string>
    <key>sourceSize</key>
    <string>{271,148}</string>
   </dict>
   <key>map_effect_31471_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{160,414},{227,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{227,81}}</string>
    <key>sourceSize</key>
    <string>{227,81}</string>
   </dict>
   <key>map_effect_31471_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,153},{284,152}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{284,152}}</string>
    <key>sourceSize</key>
    <string>{284,152}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>map_effect_31471.png</string>
   <key>textureFileName</key>
   <string>map_effect_31471.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>