<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31248_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,68},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>skill_ani_31248_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,0},{89,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,89}}</string>
    <key>sourceSize</key>
    <string>{89,89}</string>
   </dict>
   <key>skill_ani_31248_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{95,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,90}}</string>
    <key>sourceSize</key>
    <string>{95,90}</string>
   </dict>
   <key>skill_ani_31248_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,91},{87,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,88}}</string>
    <key>sourceSize</key>
    <string>{87,88}</string>
   </dict>
   <key>skill_ani_31248_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,0},{64,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,66}}</string>
    <key>sourceSize</key>
    <string>{64,66}</string>
   </dict>
   <key>skill_ani_31248_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,92},{76,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,76}}</string>
    <key>sourceSize</key>
    <string>{76,76}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31248.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31248.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>