<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_35057_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{990,30},{16,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,36}}</string>
    <key>sourceSize</key>
    <string>{16,36}</string>
   </dict>
   <key>skill_ani_35057_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,262},{34,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,32}}</string>
    <key>sourceSize</key>
    <string>{34,32}</string>
   </dict>
   <key>skill_ani_35057_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,38},{36,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,52}}</string>
    <key>sourceSize</key>
    <string>{36,52}</string>
   </dict>
   <key>skill_ani_35057_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,38},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,398},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{836,360},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,218},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{650,540},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,360},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,540},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,38},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{692,180},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,218},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{650,360},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{526,0},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{712,0},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{506,180},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,398},{184,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,178}}</string>
    <key>sourceSize</key>
    <string>{184,178}</string>
   </dict>
   <key>skill_ani_35057_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{110,578},{92,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,42}}</string>
    <key>sourceSize</key>
    <string>{92,42}</string>
   </dict>
   <key>skill_ani_35057_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,194},{40,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,32}}</string>
    <key>sourceSize</key>
    <string>{40,32}</string>
   </dict>
   <key>skill_ani_35057_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,92},{40,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,32}}</string>
    <key>sourceSize</key>
    <string>{40,32}</string>
   </dict>
   <key>skill_ani_35057_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,228},{40,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,32}}</string>
    <key>sourceSize</key>
    <string>{40,32}</string>
   </dict>
   <key>skill_ani_35057_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,160},{40,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,32}}</string>
    <key>sourceSize</key>
    <string>{40,32}</string>
   </dict>
   <key>skill_ani_35057_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,126},{40,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,32}}</string>
    <key>sourceSize</key>
    <string>{40,32}</string>
   </dict>
   <key>skill_ani_35057_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{970,240},{34,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,34}}</string>
    <key>sourceSize</key>
    <string>{34,34}</string>
   </dict>
   <key>skill_ani_35057_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,38},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_35057_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{1008,30},{14,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,14}}</string>
    <key>sourceSize</key>
    <string>{14,14}</string>
   </dict>
   <key>skill_ani_35057_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,38},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
   <key>skill_ani_35057_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{836,540},{104,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,84}}</string>
    <key>sourceSize</key>
    <string>{104,84}</string>
   </dict>
   <key>skill_ani_35057_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{990,0},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{28,28}</string>
   </dict>
   <key>skill_ani_35057_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{524,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{524,36}}</string>
    <key>sourceSize</key>
    <string>{524,36}</string>
   </dict>
   <key>skill_ani_35057_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,158},{90,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,118}}</string>
    <key>sourceSize</key>
    <string>{90,118}</string>
   </dict>
   <key>skill_ani_35057_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{898,0},{90,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,118}}</string>
    <key>sourceSize</key>
    <string>{90,118}</string>
   </dict>
   <key>skill_ani_35057_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,398},{90,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,118}}</string>
    <key>sourceSize</key>
    <string>{90,118}</string>
   </dict>
   <key>skill_ani_35057_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,278},{90,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,118}}</string>
    <key>sourceSize</key>
    <string>{90,118}</string>
   </dict>
   <key>skill_ani_35057_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{878,240},{90,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,118}}</string>
    <key>sourceSize</key>
    <string>{90,118}</string>
   </dict>
   <key>skill_ani_35057_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{898,120},{90,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,118}}</string>
    <key>sourceSize</key>
    <string>{90,118}</string>
   </dict>
   <key>skill_ani_35057_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,38},{90,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,118}}</string>
    <key>sourceSize</key>
    <string>{90,118}</string>
   </dict>
   <key>skill_ani_35057_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,518},{90,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,118}}</string>
    <key>sourceSize</key>
    <string>{90,118}</string>
   </dict>
   <key>skill_ani_35057_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,578},{108,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,50}}</string>
    <key>sourceSize</key>
    <string>{108,50}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_35057.png</string>
   <key>textureFileName</key>
   <string>skill_ani_35057.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>