<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_99903_555.png</key>
   <dict>
    <key>frame</key>
    <string>{{1012,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>skill_ani_99903_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,203},{149,175}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{149,175}}</string>
    <key>sourceSize</key>
    <string>{149,175}</string>
   </dict>
   <key>skill_ani_99903_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{752,487},{185,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{185,78}}</string>
    <key>sourceSize</key>
    <string>{185,78}</string>
   </dict>
   <key>skill_ani_99903_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{182,475},{185,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{185,80}}</string>
    <key>sourceSize</key>
    <string>{185,80}</string>
   </dict>
   <key>skill_ani_99903_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{253,203},{189,183}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{189,183}}</string>
    <key>sourceSize</key>
    <string>{189,183}</string>
   </dict>
   <key>skill_ani_99903_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{743,567},{92,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,70}}</string>
    <key>sourceSize</key>
    <string>{92,70}</string>
   </dict>
   <key>skill_ani_99903_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,406},{180,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{180,88}}</string>
    <key>sourceSize</key>
    <string>{180,88}</string>
   </dict>
   <key>skill_ani_99903_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{837,567},{93,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,47}}</string>
    <key>sourceSize</key>
    <string>{93,47}</string>
   </dict>
   <key>skill_ani_99903_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,203},{185,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{185,96}}</string>
    <key>sourceSize</key>
    <string>{185,96}</string>
   </dict>
   <key>skill_ani_99903_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,397},{183,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{183,88}}</string>
    <key>sourceSize</key>
    <string>{183,88}</string>
   </dict>
   <key>skill_ani_99903_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{253,388},{186,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{186,85}}</string>
    <key>sourceSize</key>
    <string>{186,85}</string>
   </dict>
   <key>skill_ani_99903_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{595,435},{155,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{155,76}}</string>
    <key>sourceSize</key>
    <string>{155,76}</string>
   </dict>
   <key>skill_ani_99903_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{576,513},{165,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{165,79}}</string>
    <key>sourceSize</key>
    <string>{165,79}</string>
   </dict>
   <key>skill_ani_99903_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,539},{156,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,70}}</string>
    <key>sourceSize</key>
    <string>{156,70}</string>
   </dict>
   <key>skill_ani_99903_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{171,557},{131,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{131,55}}</string>
    <key>sourceSize</key>
    <string>{131,55}</string>
   </dict>
   <key>skill_ani_99903_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,380},{149,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{149,81}}</string>
    <key>sourceSize</key>
    <string>{149,81}</string>
   </dict>
   <key>skill_ani_99903_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{932,567},{87,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,33}}</string>
    <key>sourceSize</key>
    <string>{87,33}</string>
   </dict>
   <key>skill_ani_99903_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,496},{169,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{169,91}}</string>
    <key>sourceSize</key>
    <string>{169,91}</string>
   </dict>
   <key>skill_ani_99903_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,301},{185,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{185,94}}</string>
    <key>sourceSize</key>
    <string>{185,94}</string>
   </dict>
   <key>skill_ani_99903_913.png</key>
   <dict>
    <key>frame</key>
    <string>{{759,0},{251,201}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{251,201}}</string>
    <key>sourceSize</key>
    <string>{251,201}</string>
   </dict>
   <key>skill_ani_99903_912.png</key>
   <dict>
    <key>frame</key>
    <string>{{253,0},{251,201}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{251,201}}</string>
    <key>sourceSize</key>
    <string>{251,201}</string>
   </dict>
   <key>skill_ani_99903_911.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{251,201}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{251,201}}</string>
    <key>sourceSize</key>
    <string>{251,201}</string>
   </dict>
   <key>skill_ani_99903_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{506,0},{251,201}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{251,201}}</string>
    <key>sourceSize</key>
    <string>{251,201}</string>
   </dict>
   <key>skill_ani_99903_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,203},{251,201}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{251,201}}</string>
    <key>sourceSize</key>
    <string>{251,201}</string>
   </dict>
   <key>skill_ani_99903_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{595,203},{159,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,130}}</string>
    <key>sourceSize</key>
    <string>{159,130}</string>
   </dict>
   <key>skill_ani_99903_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{595,335},{159,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,98}}</string>
    <key>sourceSize</key>
    <string>{159,98}</string>
   </dict>
   <key>skill_ani_99903_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{441,463},{133,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{133,74}}</string>
    <key>sourceSize</key>
    <string>{133,74}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_99903.png</string>
   <key>textureFileName</key>
   <string>skill_ani_99903.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>