<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31181_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>skill_ani_31181_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,260},{150,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,32}}</string>
    <key>sourceSize</key>
    <string>{150,32}</string>
   </dict>
   <key>skill_ani_31181_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,211},{154,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{154,47}}</string>
    <key>sourceSize</key>
    <string>{154,47}</string>
   </dict>
   <key>skill_ani_31181_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,149},{145,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{145,60}}</string>
    <key>sourceSize</key>
    <string>{145,60}</string>
   </dict>
   <key>skill_ani_31181_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,75},{134,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{134,72}}</string>
    <key>sourceSize</key>
    <string>{134,72}</string>
   </dict>
   <key>skill_ani_31181_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{148,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,73}}</string>
    <key>sourceSize</key>
    <string>{148,73}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31181.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31181.png</string>
   <key>size</key>
   <string>{256,512}</string>
  </dict>
 </dict>
</plist>