<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31255_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_31255_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,0},{101,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,101}}</string>
        <key>sourceSize</key>
        <string>{101,101}</string>
      </dict>
      <key>skill_ani_31255_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,103},{116,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,79}}</string>
        <key>sourceSize</key>
        <string>{116,79}</string>
      </dict>
      <key>skill_ani_31255_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,90},{117,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,83}}</string>
        <key>sourceSize</key>
        <string>{117,83}</string>
      </dict>
      <key>skill_ani_31255_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>skill_ani_31255_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,168},{87,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,88}}</string>
        <key>sourceSize</key>
        <string>{87,88}</string>
      </dict>
      <key>skill_ani_31255_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,168},{92,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,92}}</string>
        <key>sourceSize</key>
        <string>{92,92}</string>
      </dict>
      <key>skill_ani_31255_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{221,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{221,166}}</string>
        <key>sourceSize</key>
        <string>{221,166}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31255.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31255.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>