<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31333_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,38},{36,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,36}}</string>
        <key>sourceSize</key>
        <string>{36,36}</string>
      </dict>
      <key>skill_ani_31333_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,38},{36,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,36}}</string>
        <key>sourceSize</key>
        <string>{36,36}</string>
      </dict>
      <key>skill_ani_31333_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,73},{32,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,21}}</string>
        <key>sourceSize</key>
        <string>{32,21}</string>
      </dict>
      <key>skill_ani_31333_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{31,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,17}}</string>
        <key>sourceSize</key>
        <string>{31,17}</string>
      </dict>
      <key>skill_ani_31333_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,19},{30,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,17}}</string>
        <key>sourceSize</key>
        <string>{30,17}</string>
      </dict>
      <key>skill_ani_31333_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,35},{47,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,54}}</string>
        <key>sourceSize</key>
        <string>{47,54}</string>
      </dict>
      <key>skill_ani_31333_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,36},{46,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{46,53}</string>
      </dict>
      <key>skill_ani_31333_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{76,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,34}}</string>
        <key>sourceSize</key>
        <string>{76,34}</string>
      </dict>
      <key>skill_ani_31333_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{72,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,36}}</string>
        <key>sourceSize</key>
        <string>{72,36}</string>
      </dict>
      <key>skill_ani_31333_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{69,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,33}}</string>
        <key>sourceSize</key>
        <string>{69,33}</string>
      </dict>
      <key>skill_ani_31333_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,38},{64,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,33}}</string>
        <key>sourceSize</key>
        <string>{64,33}</string>
      </dict>
      <key>skill_ani_31333_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,35},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31333.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31333.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>