<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31126_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_31126_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,0},{73,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>skill_ani_31126_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{73,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>skill_ani_31126_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,73},{73,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>skill_ani_31126_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{73,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>skill_ani_31126_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,73},{73,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>skill_ani_31126_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,73},{73,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>skill_ani_31126_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{85,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,51}}</string>
        <key>sourceSize</key>
        <string>{85,51}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31126.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31126.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>