<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_94601_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,205},{148,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,100}}</string>
        <key>sourceSize</key>
        <string>{148,100}</string>
      </dict>
      <key>skill_ani_94601_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,205},{197,203}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,203}}</string>
        <key>sourceSize</key>
        <string>{197,203}</string>
      </dict>
      <key>skill_ani_94601_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,0},{106,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,139}}</string>
        <key>sourceSize</key>
        <string>{106,139}</string>
      </dict>
      <key>skill_ani_94601_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{197,203}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,203}}</string>
        <key>sourceSize</key>
        <string>{197,203}</string>
      </dict>
      <key>skill_ani_94601_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,141},{95,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,99}}</string>
        <key>sourceSize</key>
        <string>{95,99}</string>
      </dict>
      <key>skill_ani_94601_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,242},{64,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,54}}</string>
        <key>sourceSize</key>
        <string>{64,54}</string>
      </dict>
      <key>skill_ani_94601_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,242},{28,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,48}}</string>
        <key>sourceSize</key>
        <string>{28,48}</string>
      </dict>
      <key>skill_ani_94601_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,298},{143,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,55}}</string>
        <key>sourceSize</key>
        <string>{143,55}</string>
      </dict>
      <key>skill_ani_94601_511.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_94601_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,355},{200,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,84}}</string>
        <key>sourceSize</key>
        <string>{200,84}</string>
      </dict>
      <key>skill_ani_94601_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{197,203}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,203}}</string>
        <key>sourceSize</key>
        <string>{197,203}</string>
      </dict>
      <key>skill_ani_94601_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,205},{42,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>skill_ani_94601_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,242},{19,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,14}}</string>
        <key>sourceSize</key>
        <string>{19,14}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_94601.png</string>
      <key>textureFileName</key>
      <string>skill_ani_94601.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>