<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31239_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_31239_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,314},{146,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,96}}</string>
        <key>sourceSize</key>
        <string>{146,96}</string>
      </dict>
      <key>skill_ani_31239_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,210},{146,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,102}}</string>
        <key>sourceSize</key>
        <string>{146,102}</string>
      </dict>
      <key>skill_ani_31239_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{126,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,122}}</string>
        <key>sourceSize</key>
        <string>{126,122}</string>
      </dict>
      <key>skill_ani_31239_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,168},{160,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,168}}</string>
        <key>sourceSize</key>
        <string>{160,168}</string>
      </dict>
      <key>skill_ani_31239_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,166},{170,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,172}}</string>
        <key>sourceSize</key>
        <string>{170,172}</string>
      </dict>
      <key>skill_ani_31239_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{188,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,164}}</string>
        <key>sourceSize</key>
        <string>{188,164}</string>
      </dict>
      <key>skill_ani_31239_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{186,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,166}}</string>
        <key>sourceSize</key>
        <string>{186,166}</string>
      </dict>
      <key>skill_ani_31239_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,338},{154,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,78}}</string>
        <key>sourceSize</key>
        <string>{154,78}</string>
      </dict>
      <key>skill_ani_31239_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,430},{84,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,46}}</string>
        <key>sourceSize</key>
        <string>{84,46}</string>
      </dict>
      <key>skill_ani_31239_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,412},{88,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,80}}</string>
        <key>sourceSize</key>
        <string>{88,80}</string>
      </dict>
      <key>skill_ani_31239_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,124},{88,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>skill_ani_31239_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,418},{84,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,84}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>skill_ani_31239_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,340},{84,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,88}}</string>
        <key>sourceSize</key>
        <string>{84,88}</string>
      </dict>
      <key>skill_ani_31239_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,412},{84,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,88}}</string>
        <key>sourceSize</key>
        <string>{84,88}</string>
      </dict>
      <key>skill_ani_31239_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,340},{84,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,88}}</string>
        <key>sourceSize</key>
        <string>{84,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31239.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31239.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>