<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_redball_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{983,319},{37,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,44}}</string>
    <key>sourceSize</key>
    <string>{37,44}</string>
   </dict>
   <key>skill_ani_redball_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{116,334},{36,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,38}}</string>
    <key>sourceSize</key>
    <string>{36,38}</string>
   </dict>
   <key>skill_ani_redball_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{180,132},{88,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,108}}</string>
    <key>sourceSize</key>
    <string>{88,108}</string>
   </dict>
   <key>skill_ani_redball_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{93,0},{91,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,130}}</string>
    <key>sourceSize</key>
    <string>{91,130}</string>
   </dict>
   <key>skill_ani_redball_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{883,198},{86,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,108}}</string>
    <key>sourceSize</key>
    <string>{86,108}</string>
   </dict>
   <key>skill_ani_redball_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{660,105},{94,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,102}}</string>
    <key>sourceSize</key>
    <string>{94,102}</string>
   </dict>
   <key>skill_ani_redball_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{584,0},{104,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,103}}</string>
    <key>sourceSize</key>
    <string>{104,103}</string>
   </dict>
   <key>skill_ani_redball_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{898,0},{100,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,97}}</string>
    <key>sourceSize</key>
    <string>{100,97}</string>
   </dict>
   <key>skill_ani_redball_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,209},{95,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,90}}</string>
    <key>sourceSize</key>
    <string>{95,90}</string>
   </dict>
   <key>skill_ani_redball_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{633,301},{89,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,88}}</string>
    <key>sourceSize</key>
    <string>{89,88}</string>
   </dict>
   <key>skill_ani_redball_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,319},{76,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,64}}</string>
    <key>sourceSize</key>
    <string>{76,64}</string>
   </dict>
   <key>skill_ani_redball_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{971,198},{45,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,59}}</string>
    <key>sourceSize</key>
    <string>{45,59}</string>
   </dict>
   <key>skill_ani_redball_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{481,319},{44,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,43}}</string>
    <key>sourceSize</key>
    <string>{44,43}</string>
   </dict>
   <key>skill_ani_redball_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,151},{37,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,44}}</string>
    <key>sourceSize</key>
    <string>{37,44}</string>
   </dict>
   <key>skill_ani_redball_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{219,332},{36,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,38}}</string>
    <key>sourceSize</key>
    <string>{36,38}</string>
   </dict>
   <key>skill_ani_redball_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,132},{88,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,108}}</string>
    <key>sourceSize</key>
    <string>{88,108}</string>
   </dict>
   <key>skill_ani_redball_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{91,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,130}}</string>
    <key>sourceSize</key>
    <string>{91,130}</string>
   </dict>
   <key>skill_ani_redball_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,209},{86,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,108}}</string>
    <key>sourceSize</key>
    <string>{86,108}</string>
   </dict>
   <key>skill_ani_redball_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,105},{94,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,102}}</string>
    <key>sourceSize</key>
    <string>{94,102}</string>
   </dict>
   <key>skill_ani_redball_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,0},{104,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,103}}</string>
    <key>sourceSize</key>
    <string>{104,103}</string>
   </dict>
   <key>skill_ani_redball_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{796,99},{100,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,97}}</string>
    <key>sourceSize</key>
    <string>{100,97}</string>
   </dict>
   <key>skill_ani_redball_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,301},{95,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,90}}</string>
    <key>sourceSize</key>
    <string>{95,90}</string>
   </dict>
   <key>skill_ani_redball_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,242},{89,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,88}}</string>
    <key>sourceSize</key>
    <string>{89,88}</string>
   </dict>
   <key>skill_ani_redball_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,308},{76,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,64}}</string>
    <key>sourceSize</key>
    <string>{76,64}</string>
   </dict>
   <key>skill_ani_redball_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{971,259},{44,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,58}}</string>
    <key>sourceSize</key>
    <string>{44,58}</string>
   </dict>
   <key>skill_ani_redball_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,332},{42,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,42}}</string>
    <key>sourceSize</key>
    <string>{42,42}</string>
   </dict>
   <key>skill_ani_redball_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,105},{37,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,44}}</string>
    <key>sourceSize</key>
    <string>{37,44}</string>
   </dict>
   <key>skill_ani_redball_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{78,334},{36,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,38}}</string>
    <key>sourceSize</key>
    <string>{36,38}</string>
   </dict>
   <key>skill_ani_redball_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,132},{88,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,108}}</string>
    <key>sourceSize</key>
    <string>{88,108}</string>
   </dict>
   <key>skill_ani_redball_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{279,0},{91,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,130}}</string>
    <key>sourceSize</key>
    <string>{91,130}</string>
   </dict>
   <key>skill_ani_redball_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{795,198},{86,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,108}}</string>
    <key>sourceSize</key>
    <string>{86,108}</string>
   </dict>
   <key>skill_ani_redball_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{564,105},{94,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,102}}</string>
    <key>sourceSize</key>
    <string>{94,102}</string>
   </dict>
   <key>skill_ani_redball_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{690,0},{104,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,103}}</string>
    <key>sourceSize</key>
    <string>{104,103}</string>
   </dict>
   <key>skill_ani_redball_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{796,0},{100,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,97}}</string>
    <key>sourceSize</key>
    <string>{100,97}</string>
   </dict>
   <key>skill_ani_redball_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{78,242},{95,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,90}}</string>
    <key>sourceSize</key>
    <string>{95,90}</string>
   </dict>
   <key>skill_ani_redball_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{770,308},{89,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,88}}</string>
    <key>sourceSize</key>
    <string>{89,88}</string>
   </dict>
   <key>skill_ani_redball_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,242},{76,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,64}}</string>
    <key>sourceSize</key>
    <string>{76,64}</string>
   </dict>
   <key>skill_ani_redball_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,243},{45,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,59}}</string>
    <key>sourceSize</key>
    <string>{45,59}</string>
   </dict>
   <key>skill_ani_redball_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{435,319},{44,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,43}}</string>
    <key>sourceSize</key>
    <string>{44,43}</string>
   </dict>
   <key>skill_ani_redball_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,197},{37,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,44}}</string>
    <key>sourceSize</key>
    <string>{37,44}</string>
   </dict>
   <key>skill_ani_redball_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,350},{36,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,38}}</string>
    <key>sourceSize</key>
    <string>{36,38}</string>
   </dict>
   <key>skill_ani_redball_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{88,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,108}}</string>
    <key>sourceSize</key>
    <string>{88,108}</string>
   </dict>
   <key>skill_ani_redball_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,0},{91,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,130}}</string>
    <key>sourceSize</key>
    <string>{91,130}</string>
   </dict>
   <key>skill_ani_redball_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{448,209},{86,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,108}}</string>
    <key>sourceSize</key>
    <string>{86,108}</string>
   </dict>
   <key>skill_ani_redball_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,105},{94,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,102}}</string>
    <key>sourceSize</key>
    <string>{94,102}</string>
   </dict>
   <key>skill_ani_redball_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,0},{104,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,103}}</string>
    <key>sourceSize</key>
    <string>{104,103}</string>
   </dict>
   <key>skill_ani_redball_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{898,99},{100,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,97}}</string>
    <key>sourceSize</key>
    <string>{100,97}</string>
   </dict>
   <key>skill_ani_redball_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{633,209},{95,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,90}}</string>
    <key>sourceSize</key>
    <string>{95,90}</string>
   </dict>
   <key>skill_ani_redball_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{266,242},{89,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,88}}</string>
    <key>sourceSize</key>
    <string>{89,88}</string>
   </dict>
   <key>skill_ani_redball_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{861,308},{76,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,64}}</string>
    <key>sourceSize</key>
    <string>{76,64}</string>
   </dict>
   <key>skill_ani_redball_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{724,304},{44,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,58}}</string>
    <key>sourceSize</key>
    <string>{44,58}</string>
   </dict>
   <key>skill_ani_redball_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{939,319},{42,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,42}}</string>
    <key>sourceSize</key>
    <string>{42,42}</string>
   </dict>
   <key>skill_ani_redball_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,332},{62,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,16}}</string>
    <key>sourceSize</key>
    <string>{62,16}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_redball.png</string>
   <key>textureFileName</key>
   <string>skill_ani_redball.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>