<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31171_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_31171_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,0},{136,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,136}}</string>
        <key>sourceSize</key>
        <string>{136,136}</string>
      </dict>
      <key>skill_ani_31171_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{343,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{343,212}}</string>
        <key>sourceSize</key>
        <string>{343,212}</string>
      </dict>
      <key>skill_ani_31171_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{216,641}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,641}}</string>
        <key>sourceSize</key>
        <string>{216,641}</string>
      </dict>
      <key>skill_ani_31171_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,0},{148,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,232}}</string>
        <key>sourceSize</key>
        <string>{148,232}</string>
      </dict>
      <key>skill_ani_31171_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,0},{148,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,232}}</string>
        <key>sourceSize</key>
        <string>{148,232}</string>
      </dict>
      <key>skill_ani_31171_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,138},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31171.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31171.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>