<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_1003_11_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,41},{11,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,25}}</string>
        <key>sourceSize</key>
        <string>{11,25}</string>
      </dict>
      <key>skill_ani_1003_9_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{66,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,49}}</string>
        <key>sourceSize</key>
        <string>{66,49}</string>
      </dict>
      <key>skill_ani_1003_7_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,57},{75,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,55}}</string>
        <key>sourceSize</key>
        <string>{75,55}</string>
      </dict>
      <key>skill_ani_1003_5_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,51},{65,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,48}}</string>
        <key>sourceSize</key>
        <string>{65,48}</string>
      </dict>
      <key>skill_ani_1003_3_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,101},{58,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,43}}</string>
        <key>sourceSize</key>
        <string>{58,43}</string>
      </dict>
      <key>skill_ani_1003_8_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{75,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,55}}</string>
        <key>sourceSize</key>
        <string>{75,55}</string>
      </dict>
      <key>skill_ani_1003_6_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,41},{75,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,55}}</string>
        <key>sourceSize</key>
        <string>{75,55}</string>
      </dict>
      <key>skill_ani_1003_4_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,98},{64,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,43}}</string>
        <key>sourceSize</key>
        <string>{64,43}</string>
      </dict>
      <key>skill_ani_1003_2_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,114},{43,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,33}}</string>
        <key>sourceSize</key>
        <string>{43,33}</string>
      </dict>
      <key>skill_ani_1003_12_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,39}}</string>
        <key>sourceSize</key>
        <string>{108,39}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_1003.png</string>
      <key>textureFileName</key>
      <string>skill_ani_1003.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>