<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31223_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{73,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,48}}</string>
    <key>sourceSize</key>
    <string>{73,48}</string>
   </dict>
   <key>skill_ani_31223_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,50},{75,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,36}}</string>
    <key>sourceSize</key>
    <string>{75,36}</string>
   </dict>
   <key>skill_ani_31223_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,88},{64,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,40}}</string>
    <key>sourceSize</key>
    <string>{64,40}</string>
   </dict>
   <key>skill_ani_31223_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{75,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31223.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31223.png</string>
   <key>size</key>
   <string>{128,256}</string>
  </dict>
 </dict>
</plist>