<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_ani_1013_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,73}}</string>
                <key>sourceSize</key>
                <string>{40,73}</string>
            </dict>
            <key>skill_ani_1013_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{50,46}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{50,46}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>skill_ani_1013_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{62,44}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>skill_ani_1013_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,77},{58,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,42}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>skill_ani_1013_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,48},{43,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,27}}</string>
                <key>sourceSize</key>
                <string>{43,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_ani_1013.png</string>
            <key>size</key>
            <string>{118,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b88aeda0596a44d0322619cad5045c5c$</string>
            <key>textureFileName</key>
            <string>skill_ani_1013.png</string>
        </dict>
    </dict>
</plist>
