<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_92101_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{2044,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>skill_ani_92101_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{1795,136},{34,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,38}}</string>
    <key>sourceSize</key>
    <string>{34,38}</string>
   </dict>
   <key>skill_ani_92101_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{1041,264},{132,162}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{132,162}}</string>
    <key>sourceSize</key>
    <string>{132,162}</string>
   </dict>
   <key>skill_ani_92101_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{1184,0},{244,261}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{244,261}}</string>
    <key>sourceSize</key>
    <string>{244,261}</string>
   </dict>
   <key>skill_ani_92101_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{1352,394},{114,139}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,139}}</string>
    <key>sourceSize</key>
    <string>{114,139}</string>
   </dict>
   <key>skill_ani_92101_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{1041,428},{95,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,54}}</string>
    <key>sourceSize</key>
    <string>{95,54}</string>
   </dict>
   <key>skill_ani_92101_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{1831,136},{28,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,43}}</string>
    <key>sourceSize</key>
    <string>{28,43}</string>
   </dict>
   <key>skill_ani_92101_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,434},{179,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{179,134}}</string>
    <key>sourceSize</key>
    <string>{179,134}</string>
   </dict>
   <key>skill_ani_92101_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{1795,176},{5,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{5,4}}</string>
    <key>sourceSize</key>
    <string>{5,4}</string>
   </dict>
   <key>skill_ani_92101_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{1468,394},{80,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,70}}</string>
    <key>sourceSize</key>
    <string>{80,70}</string>
   </dict>
   <key>skill_ani_92101_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{1937,388},{100,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,116}}</string>
    <key>sourceSize</key>
    <string>{100,116}</string>
   </dict>
   <key>skill_ani_92101_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1182,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1182,130}}</string>
    <key>sourceSize</key>
    <string>{1182,130}</string>
   </dict>
   <key>skill_ani_92101_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{1182,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1182,130}}</string>
    <key>sourceSize</key>
    <string>{1182,130}</string>
   </dict>
   <key>skill_ani_92101_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1352,263},{75,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,75}}</string>
    <key>sourceSize</key>
    <string>{75,75}</string>
   </dict>
   <key>skill_ani_92101_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{1184,263},{166,208}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{166,208}}</string>
    <key>sourceSize</key>
    <string>{166,208}</string>
   </dict>
   <key>skill_ani_92101_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{1866,0},{176,202}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{176,202}}</string>
    <key>sourceSize</key>
    <string>{176,202}</string>
   </dict>
   <key>skill_ani_92101_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{1592,136},{201,193}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{201,193}}</string>
    <key>sourceSize</key>
    <string>{201,193}</string>
   </dict>
   <key>skill_ani_92101_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{1795,204},{193,182}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{193,182}}</string>
    <key>sourceSize</key>
    <string>{193,182}</string>
   </dict>
   <key>skill_ani_92101_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,264},{184,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,168}}</string>
    <key>sourceSize</key>
    <string>{184,168}</string>
   </dict>
   <key>skill_ani_92101_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{1763,388},{172,152}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{172,152}}</string>
    <key>sourceSize</key>
    <string>{172,152}</string>
   </dict>
   <key>skill_ani_92101_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,264},{169,169}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{169,169}}</string>
    <key>sourceSize</key>
    <string>{169,169}</string>
   </dict>
   <key>skill_ani_92101_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{699,264},{169,169}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{169,169}}</string>
    <key>sourceSize</key>
    <string>{169,169}</string>
   </dict>
   <key>skill_ani_92101_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,264},{169,169}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{169,169}}</string>
    <key>sourceSize</key>
    <string>{169,169}</string>
   </dict>
   <key>skill_ani_92101_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{528,264},{169,169}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{169,169}}</string>
    <key>sourceSize</key>
    <string>{169,169}</string>
   </dict>
   <key>skill_ani_92101_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{1592,331},{169,169}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{169,169}}</string>
    <key>sourceSize</key>
    <string>{169,169}</string>
   </dict>
   <key>skill_ani_92101_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{870,264},{169,169}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{169,169}}</string>
    <key>sourceSize</key>
    <string>{169,169}</string>
   </dict>
   <key>skill_ani_92101_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1538,0},{52,392}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,392}}</string>
    <key>sourceSize</key>
    <string>{52,392}</string>
   </dict>
   <key>skill_ani_92101_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1430,0},{52,392}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,392}}</string>
    <key>sourceSize</key>
    <string>{52,392}</string>
   </dict>
   <key>skill_ani_92101_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1484,0},{52,392}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,392}}</string>
    <key>sourceSize</key>
    <string>{52,392}</string>
   </dict>
   <key>skill_ani_92101_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{181,435},{144,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,144}}</string>
    <key>sourceSize</key>
    <string>{144,144}</string>
   </dict>
   <key>skill_ani_92101_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1592,0},{272,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{272,134}}</string>
    <key>sourceSize</key>
    <string>{272,134}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_92101.png</string>
   <key>textureFileName</key>
   <string>skill_ani_92101.png</string>
   <key>size</key>
   <string>{2048,1024}</string>
  </dict>
 </dict>
</plist>