<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31194_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_31194_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,162},{68,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,68}}</string>
        <key>sourceSize</key>
        <string>{68,68}</string>
      </dict>
      <key>skill_ani_31194_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,226},{68,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,56}}</string>
        <key>sourceSize</key>
        <string>{68,56}</string>
      </dict>
      <key>skill_ani_31194_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,144}}</string>
        <key>sourceSize</key>
        <string>{144,144}</string>
      </dict>
      <key>skill_ani_31194_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,160},{155,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,155}}</string>
        <key>sourceSize</key>
        <string>{155,155}</string>
      </dict>
      <key>skill_ani_31194_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{158,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,158}}</string>
        <key>sourceSize</key>
        <string>{158,158}</string>
      </dict>
      <key>skill_ani_31194_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{160,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,160}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>skill_ani_31194_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{160,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,160}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>skill_ani_31194_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,162},{68,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,62}}</string>
        <key>sourceSize</key>
        <string>{68,62}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31194.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31194.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>