<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_35071_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{1012,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_35071_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{776,330},{146,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,112}}</string>
    <key>sourceSize</key>
    <string>{146,112}</string>
   </dict>
   <key>skill_ani_35071_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,592},{146,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,112}}</string>
    <key>sourceSize</key>
    <string>{146,112}</string>
   </dict>
   <key>skill_ani_35071_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,478},{146,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,112}}</string>
    <key>sourceSize</key>
    <string>{146,112}</string>
   </dict>
   <key>skill_ani_35071_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,364},{146,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,112}}</string>
    <key>sourceSize</key>
    <string>{146,112}</string>
   </dict>
   <key>skill_ani_35071_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{960,338},{38,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,40}}</string>
    <key>sourceSize</key>
    <string>{38,40}</string>
   </dict>
   <key>skill_ani_35071_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{960,208},{48,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,42}}</string>
    <key>sourceSize</key>
    <string>{48,42}</string>
   </dict>
   <key>skill_ani_35071_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{960,294},{40,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,42}}</string>
    <key>sourceSize</key>
    <string>{40,42}</string>
   </dict>
   <key>skill_ani_35071_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{956,380},{36,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,30}}</string>
    <key>sourceSize</key>
    <string>{36,30}</string>
   </dict>
   <key>skill_ani_35071_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{924,330},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>skill_ani_35071_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{960,252},{44,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,40}}</string>
    <key>sourceSize</key>
    <string>{44,40}</string>
   </dict>
   <key>skill_ani_35071_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{960,0},{50,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,206}}</string>
    <key>sourceSize</key>
    <string>{50,206}</string>
   </dict>
   <key>skill_ani_35071_881.png</key>
   <dict>
    <key>frame</key>
    <string>{{1018,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_35071_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,444},{260,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{260,164}}</string>
    <key>sourceSize</key>
    <string>{260,164}</string>
   </dict>
   <key>skill_ani_35071_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{316,796},{312,212}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{312,212}}</string>
    <key>sourceSize</key>
    <string>{312,212}</string>
   </dict>
   <key>skill_ani_35071_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{716,610},{296,208}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{296,208}}</string>
    <key>sourceSize</key>
    <string>{296,208}</string>
   </dict>
   <key>skill_ani_35071_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,720},{314,222}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{314,222}}</string>
    <key>sourceSize</key>
    <string>{314,222}</string>
   </dict>
   <key>skill_ani_35071_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,344},{270,208}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{270,208}}</string>
    <key>sourceSize</key>
    <string>{270,208}</string>
   </dict>
   <key>skill_ani_35071_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{630,820},{294,196}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{294,196}}</string>
    <key>sourceSize</key>
    <string>{294,196}</string>
   </dict>
   <key>skill_ani_35071_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,944},{292,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{292,192}}</string>
    <key>sourceSize</key>
    <string>{292,192}</string>
   </dict>
   <key>skill_ani_35071_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{294,1010},{282,188}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{282,188}}</string>
    <key>sourceSize</key>
    <string>{282,188}</string>
   </dict>
   <key>skill_ani_35071_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{520,340},{234,190}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{234,190}}</string>
    <key>sourceSize</key>
    <string>{234,190}</string>
   </dict>
   <key>skill_ani_35071_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,554},{248,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{248,164}}</string>
    <key>sourceSize</key>
    <string>{248,164}</string>
   </dict>
   <key>skill_ani_35071_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,532},{294,262}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{294,262}}</string>
    <key>sourceSize</key>
    <string>{294,262}</string>
   </dict>
   <key>skill_ani_35071_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{276,0},{242,362}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{242,362}}</string>
    <key>sourceSize</key>
    <string>{242,362}</string>
   </dict>
   <key>skill_ani_35071_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{274,342}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{274,342}}</string>
    <key>sourceSize</key>
    <string>{274,342}</string>
   </dict>
   <key>skill_ani_35071_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{520,0},{254,338}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{254,338}}</string>
    <key>sourceSize</key>
    <string>{254,338}</string>
   </dict>
   <key>skill_ani_35071_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{776,0},{182,328}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{182,328}}</string>
    <key>sourceSize</key>
    <string>{182,328}</string>
   </dict>
   <key>skill_ani_35071_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,364},{68,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,68}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>skill_ani_35071_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{924,368},{30,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,30}}</string>
    <key>sourceSize</key>
    <string>{30,30}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_35071.png</string>
   <key>textureFileName</key>
   <string>skill_ani_35071.png</string>
   <key>size</key>
   <string>{1024,2048}</string>
  </dict>
 </dict>
</plist>