<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_99905_2122.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_99905_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,244},{45,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,95}}</string>
        <key>sourceSize</key>
        <string>{45,95}</string>
      </dict>
      <key>skill_ani_99905_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,104},{20,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,83}}</string>
        <key>sourceSize</key>
        <string>{20,83}</string>
      </dict>
      <key>skill_ani_99905_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,0},{17,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,102}}</string>
        <key>sourceSize</key>
        <string>{17,102}</string>
      </dict>
      <key>skill_ani_99905_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,164},{26,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,37}}</string>
        <key>sourceSize</key>
        <string>{26,37}</string>
      </dict>
      <key>skill_ani_99905_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,189},{17,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,38}}</string>
        <key>sourceSize</key>
        <string>{17,38}</string>
      </dict>
      <key>skill_ani_99905_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,245},{59,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,95}}</string>
        <key>sourceSize</key>
        <string>{59,95}</string>
      </dict>
      <key>skill_ani_99905_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,388},{69,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,36}}</string>
        <key>sourceSize</key>
        <string>{69,36}</string>
      </dict>
      <key>skill_ani_99905_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,528},{101,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,56}}</string>
        <key>sourceSize</key>
        <string>{101,56}</string>
      </dict>
      <key>skill_ani_99905_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,475},{101,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,56}}</string>
        <key>sourceSize</key>
        <string>{101,56}</string>
      </dict>
      <key>skill_ani_99905_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,582},{97,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,53}}</string>
        <key>sourceSize</key>
        <string>{97,53}</string>
      </dict>
      <key>skill_ani_99905_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,566},{90,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,46}}</string>
        <key>sourceSize</key>
        <string>{90,46}</string>
      </dict>
      <key>skill_ani_99905_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,325},{54,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,42}}</string>
        <key>sourceSize</key>
        <string>{54,42}</string>
      </dict>
      <key>skill_ani_99905_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,426},{54,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,42}}</string>
        <key>sourceSize</key>
        <string>{54,42}</string>
      </dict>
      <key>skill_ani_99905_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,444},{50,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,38}}</string>
        <key>sourceSize</key>
        <string>{50,38}</string>
      </dict>
      <key>skill_ani_99905_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,382},{43,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,31}}</string>
        <key>sourceSize</key>
        <string>{43,31}</string>
      </dict>
      <key>skill_ani_99905_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,342},{67,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,44}}</string>
        <key>sourceSize</key>
        <string>{67,44}</string>
      </dict>
      <key>skill_ani_99905_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,469},{85,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,45}}</string>
        <key>sourceSize</key>
        <string>{85,45}</string>
      </dict>
      <key>skill_ani_99905_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,528},{106,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,48}}</string>
        <key>sourceSize</key>
        <string>{106,48}</string>
      </dict>
      <key>skill_ani_99905_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,533},{105,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,47}}</string>
        <key>sourceSize</key>
        <string>{105,47}</string>
      </dict>
      <key>skill_ani_99905_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,578},{104,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,46}}</string>
        <key>sourceSize</key>
        <string>{104,46}</string>
      </dict>
      <key>skill_ani_99905_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,626},{103,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,45}}</string>
        <key>sourceSize</key>
        <string>{103,45}</string>
      </dict>
      <key>skill_ani_99905_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,637},{102,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,44}}</string>
        <key>sourceSize</key>
        <string>{102,44}</string>
      </dict>
      <key>skill_ani_99905_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,637},{102,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,44}}</string>
        <key>sourceSize</key>
        <string>{102,44}</string>
      </dict>
      <key>skill_ani_99905_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,586},{98,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,40}}</string>
        <key>sourceSize</key>
        <string>{98,40}</string>
      </dict>
      <key>skill_ani_99905_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,628},{91,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,33}}</string>
        <key>sourceSize</key>
        <string>{91,33}</string>
      </dict>
      <key>skill_ani_99905_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,0},{138,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,162}}</string>
        <key>sourceSize</key>
        <string>{138,162}</string>
      </dict>
      <key>skill_ani_99905_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,480},{298,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,204}}</string>
        <key>sourceSize</key>
        <string>{298,204}</string>
      </dict>
      <key>skill_ani_99905_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{292,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{292,242}}</string>
        <key>sourceSize</key>
        <string>{292,242}</string>
      </dict>
      <key>skill_ani_99905_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{286,243}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{286,243}}</string>
        <key>sourceSize</key>
        <string>{286,243}</string>
      </dict>
      <key>skill_ani_99905_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,0},{275,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{275,240}}</string>
        <key>sourceSize</key>
        <string>{275,240}</string>
      </dict>
      <key>skill_ani_99905_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,242},{260,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,236}}</string>
        <key>sourceSize</key>
        <string>{260,236}</string>
      </dict>
      <key>skill_ani_99905_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{242,229}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,229}}</string>
        <key>sourceSize</key>
        <string>{242,229}</string>
      </dict>
      <key>skill_ani_99905_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,245},{215,222}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{215,222}}</string>
        <key>sourceSize</key>
        <string>{215,222}</string>
      </dict>
      <key>skill_ani_99905_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,469},{171,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{171,206}}</string>
        <key>sourceSize</key>
        <string>{171,206}</string>
      </dict>
      <key>skill_ani_99905_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,164},{105,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,180}}</string>
        <key>sourceSize</key>
        <string>{105,180}</string>
      </dict>
      <key>skill_ani_99905_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,229},{54,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,94}}</string>
        <key>sourceSize</key>
        <string>{54,94}</string>
      </dict>
      <key>skill_ani_99905_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,341},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,39}}</string>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>skill_ani_99905_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,475},{93,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,89}}</string>
        <key>sourceSize</key>
        <string>{93,89}</string>
      </dict>
      <key>skill_ani_99905_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,346},{93,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,89}}</string>
        <key>sourceSize</key>
        <string>{93,89}</string>
      </dict>
      <key>skill_ani_99905_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,437},{93,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,89}}</string>
        <key>sourceSize</key>
        <string>{93,89}</string>
      </dict>
      <key>skill_ani_99905_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,369},{76,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,73}}</string>
        <key>sourceSize</key>
        <string>{76,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_99905.png</string>
      <key>textureFileName</key>
      <string>skill_ani_99905.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>