<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_32022_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,124},{68,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,60}}</string>
        <key>sourceSize</key>
        <string>{68,60}</string>
      </dict>
      <key>skill_ani_32022_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,186},{68,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,60}}</string>
        <key>sourceSize</key>
        <string>{68,60}</string>
      </dict>
      <key>skill_ani_32022_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{68,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,60}}</string>
        <key>sourceSize</key>
        <string>{68,60}</string>
      </dict>
      <key>skill_ani_32022_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,68},{68,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,60}}</string>
        <key>sourceSize</key>
        <string>{68,60}</string>
      </dict>
      <key>skill_ani_32022_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,186},{68,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,60}}</string>
        <key>sourceSize</key>
        <string>{68,60}</string>
      </dict>
      <key>skill_ani_32022_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{68,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,60}}</string>
        <key>sourceSize</key>
        <string>{68,60}</string>
      </dict>
      <key>skill_ani_32022_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{68,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,60}}</string>
        <key>sourceSize</key>
        <string>{68,60}</string>
      </dict>
      <key>skill_ani_32022_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,62},{68,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,60}}</string>
        <key>sourceSize</key>
        <string>{68,60}</string>
      </dict>
      <key>skill_ani_32022_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,124},{68,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,60}}</string>
        <key>sourceSize</key>
        <string>{68,60}</string>
      </dict>
      <key>skill_ani_32022_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,0},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>skill_ani_32022_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_32022.png</string>
      <key>textureFileName</key>
      <string>skill_ani_32022.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>