<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31480_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{760,652}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{760,652}}</string>
        <key>sourceSize</key>
        <string>{760,652}</string>
      </dict>
      <key>skill_ani_31480_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{1520,0},{748,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{748,640}}</string>
        <key>sourceSize</key>
        <string>{748,640}</string>
      </dict>
      <key>skill_ani_31480_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,0},{756,636}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{756,636}}</string>
        <key>sourceSize</key>
        <string>{756,636}</string>
      </dict>
      <key>skill_ani_31480_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{2270,0},{724,636}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{724,636}}</string>
        <key>sourceSize</key>
        <string>{724,636}</string>
      </dict>
      <key>skill_ani_31480_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{2996,0},{724,628}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{724,628}}</string>
        <key>sourceSize</key>
        <string>{724,628}</string>
      </dict>
      <key>skill_ani_31480_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{2996,630},{688,612}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{688,612}}</string>
        <key>sourceSize</key>
        <string>{688,612}</string>
      </dict>
      <key>skill_ani_31480_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,638},{652,596}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{652,596}}</string>
        <key>sourceSize</key>
        <string>{652,596}</string>
      </dict>
      <key>skill_ani_31480_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{2270,638},{624,588}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{624,588}}</string>
        <key>sourceSize</key>
        <string>{624,588}</string>
      </dict>
      <key>skill_ani_31480_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1486,642},{484,468}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{484,468}}</string>
        <key>sourceSize</key>
        <string>{484,468}</string>
      </dict>
      <key>skill_ani_31480_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{3722,286},{340,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{340,248}}</string>
        <key>sourceSize</key>
        <string>{340,248}</string>
      </dict>
      <key>skill_ani_31480_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{3686,818},{392,292}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{392,292}}</string>
        <key>sourceSize</key>
        <string>{392,292}</string>
      </dict>
      <key>skill_ani_31480_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3722,0},{348,284}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{348,284}}</string>
        <key>sourceSize</key>
        <string>{348,284}</string>
      </dict>
      <key>skill_ani_31480_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,1200},{300,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,256}}</string>
        <key>sourceSize</key>
        <string>{300,256}</string>
      </dict>
      <key>skill_ani_31480_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1124},{428,328}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,328}}</string>
        <key>sourceSize</key>
        <string>{428,328}</string>
      </dict>
      <key>skill_ani_31480_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,654},{200,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,208}}</string>
        <key>sourceSize</key>
        <string>{200,208}</string>
      </dict>
      <key>skill_ani_31480_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1416,638},{68,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,100}}</string>
        <key>sourceSize</key>
        <string>{68,100}</string>
      </dict>
      <key>skill_ani_31480_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,654},{60,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,40}}</string>
        <key>sourceSize</key>
        <string>{60,40}</string>
      </dict>
      <key>skill_ani_31480_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{4028,536},{52,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,132}}</string>
        <key>sourceSize</key>
        <string>{52,132}</string>
      </dict>
      <key>skill_ani_31480_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{2896,638},{52,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,112}}</string>
        <key>sourceSize</key>
        <string>{52,112}</string>
      </dict>
      <key>skill_ani_31480_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{2950,638},{44,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,80}}</string>
        <key>sourceSize</key>
        <string>{44,80}</string>
      </dict>
      <key>skill_ani_31480_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{4028,670},{40,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,56}}</string>
        <key>sourceSize</key>
        <string>{40,56}</string>
      </dict>
      <key>skill_ani_31480_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,654},{460,468}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{460,468}}</string>
        <key>sourceSize</key>
        <string>{460,468}</string>
      </dict>
      <key>skill_ani_31480_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1416,1112},{472,348}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{472,348}}</string>
        <key>sourceSize</key>
        <string>{472,348}</string>
      </dict>
      <key>skill_ani_31480_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1890,1144},{336,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{336,232}}</string>
        <key>sourceSize</key>
        <string>{336,232}</string>
      </dict>
      <key>skill_ani_31480_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{2912,1244},{340,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{340,208}}</string>
        <key>sourceSize</key>
        <string>{340,208}</string>
      </dict>
      <key>skill_ani_31480_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{2228,1228},{340,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{340,208}}</string>
        <key>sourceSize</key>
        <string>{340,208}</string>
      </dict>
      <key>skill_ani_31480_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{2570,1228},{340,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{340,208}}</string>
        <key>sourceSize</key>
        <string>{340,208}</string>
      </dict>
      <key>skill_ani_31480_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,1236},{340,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{340,208}}</string>
        <key>sourceSize</key>
        <string>{340,208}</string>
      </dict>
      <key>skill_ani_31480_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{1074,1236},{340,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{340,208}}</string>
        <key>sourceSize</key>
        <string>{340,208}</string>
      </dict>
      <key>skill_ani_31480_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{4064,286},{28,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,20}}</string>
        <key>sourceSize</key>
        <string>{28,20}</string>
      </dict>
      <key>skill_ani_31480_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{3722,536},{304,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{304,280}}</string>
        <key>sourceSize</key>
        <string>{304,280}</string>
      </dict>
      <key>skill_ani_31480_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{3686,1112},{304,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{304,280}}</string>
        <key>sourceSize</key>
        <string>{304,280}</string>
      </dict>
      <key>skill_ani_31480_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{1972,642},{296,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,248}}</string>
        <key>sourceSize</key>
        <string>{296,248}</string>
      </dict>
      <key>skill_ani_31480_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,864},{208,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{208,172}}</string>
        <key>sourceSize</key>
        <string>{208,172}</string>
      </dict>
      <key>skill_ani_31480_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,1038},{176,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,160}}</string>
        <key>sourceSize</key>
        <string>{176,160}</string>
      </dict>
      <key>skill_ani_31480_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{1972,892},{200,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,144}}</string>
        <key>sourceSize</key>
        <string>{200,144}</string>
      </dict>
      <key>skill_ani_31480_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{3914,1394},{140,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,108}}</string>
        <key>sourceSize</key>
        <string>{140,108}</string>
      </dict>
      <key>skill_ani_31480_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{1972,1038},{156,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,104}}</string>
        <key>sourceSize</key>
        <string>{156,104}</string>
      </dict>
      <key>skill_ani_31480_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{3584,1394},{328,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{328,168}}</string>
        <key>sourceSize</key>
        <string>{328,168}</string>
      </dict>
      <key>skill_ani_31480_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{1890,1378},{332,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{332,184}}</string>
        <key>sourceSize</key>
        <string>{332,184}</string>
      </dict>
      <key>skill_ani_31480_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{3254,1244},{328,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{328,204}}</string>
        <key>sourceSize</key>
        <string>{328,204}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31480.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31480.png</string>
      <key>size</key>
      <string>{4096,2048}</string>
    </dict>
  </dict>
</plist>