<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_1154__3.png</key>
   <dict>
    <key>frame</key>
    <string>{{317,343},{26,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,26}}</string>
    <key>sourceSize</key>
    <string>{26,26}</string>
   </dict>
   <key>skill_ani_1154__4.png</key>
   <dict>
    <key>frame</key>
    <string>{{508,0},{0,0}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>sourceSize</key>
    <string>{0,0}</string>
   </dict>
   <key>skill_ani_1154__8.png</key>
   <dict>
    <key>frame</key>
    <string>{{87,302},{78,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,56}}</string>
    <key>sourceSize</key>
    <string>{78,56}</string>
   </dict>
   <key>skill_ani_1154__7.png</key>
   <dict>
    <key>frame</key>
    <string>{{358,318},{78,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,56}}</string>
    <key>sourceSize</key>
    <string>{78,56}</string>
   </dict>
   <key>skill_ani_1154__6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,320},{78,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,56}}</string>
    <key>sourceSize</key>
    <string>{78,56}</string>
   </dict>
   <key>skill_ani_1154__10.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,294},{87,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,47}}</string>
    <key>sourceSize</key>
    <string>{87,47}</string>
   </dict>
   <key>skill_ani_1154__11.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,238},{77,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,78}}</string>
    <key>sourceSize</key>
    <string>{77,78}</string>
   </dict>
   <key>skill_ani_1154__12.png</key>
   <dict>
    <key>frame</key>
    <string>{{317,376},{111,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,27}}</string>
    <key>sourceSize</key>
    <string>{111,27}</string>
   </dict>
   <key>skill_ani_1154__34.png</key>
   <dict>
    <key>frame</key>
    <string>{{493,0},{10,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,15}}</string>
    <key>sourceSize</key>
    <string>{10,15}</string>
   </dict>
   <key>skill_ani_1154__33.png</key>
   <dict>
    <key>frame</key>
    <string>{{438,348},{23,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,25}}</string>
    <key>sourceSize</key>
    <string>{23,25}</string>
   </dict>
   <key>skill_ani_1154__27.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,169},{52,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,38}}</string>
    <key>sourceSize</key>
    <string>{52,38}</string>
   </dict>
   <key>skill_ani_1154__25.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,343},{46,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,33}}</string>
    <key>sourceSize</key>
    <string>{46,33}</string>
   </dict>
   <key>skill_ani_1154__16.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,144},{162,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,148}}</string>
    <key>sourceSize</key>
    <string>{162,148}</string>
   </dict>
   <key>skill_ani_1154__18.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,294},{83,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,69}}</string>
    <key>sourceSize</key>
    <string>{83,69}</string>
   </dict>
   <key>skill_ani_1154__39.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,360},{89,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,17}}</string>
    <key>sourceSize</key>
    <string>{89,17}</string>
   </dict>
   <key>skill_ani_1154__15.png</key>
   <dict>
    <key>frame</key>
    <string>{{505,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>skill_ani_1154__21.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{194,161}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{194,161}}</string>
    <key>sourceSize</key>
    <string>{194,161}</string>
   </dict>
   <key>skill_ani_1154__29.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,209},{49,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,34}}</string>
    <key>sourceSize</key>
    <string>{49,34}</string>
   </dict>
   <key>skill_ani_1154__20.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,0},{179,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{179,142}}</string>
    <key>sourceSize</key>
    <string>{179,142}</string>
   </dict>
   <key>skill_ani_1154__19.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,169},{88,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,67}}</string>
    <key>sourceSize</key>
    <string>{88,67}</string>
   </dict>
   <key>skill_ani_1154__17.png</key>
   <dict>
    <key>frame</key>
    <string>{{439,245},{69,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,65}}</string>
    <key>sourceSize</key>
    <string>{69,65}</string>
   </dict>
   <key>skill_ani_1154__38.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{114,167}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,167}}</string>
    <key>sourceSize</key>
    <string>{114,167}</string>
   </dict>
   <key>skill_ani_1154__37.png</key>
   <dict>
    <key>frame</key>
    <string>{{87,163},{95,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,137}}</string>
    <key>sourceSize</key>
    <string>{95,137}</string>
   </dict>
   <key>skill_ani_1154__22.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,163},{85,155}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,155}}</string>
    <key>sourceSize</key>
    <string>{85,155}</string>
   </dict>
   <key>skill_ani_1154__23.png</key>
   <dict>
    <key>frame</key>
    <string>{{439,312},{62,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,34}}</string>
    <key>sourceSize</key>
    <string>{62,34}</string>
   </dict>
   <key>skill_ani_1154__31.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,379},{226,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{226,50}}</string>
    <key>sourceSize</key>
    <string>{226,50}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_1154_1.png</string>
   <key>textureFileName</key>
   <string>skill_ani_1154_1.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>