<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31119__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{132,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,73}}</string>
        <key>sourceSize</key>
        <string>{132,73}</string>
      </dict>
      <key>skill_ani_31119__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,75},{124,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,48}}</string>
        <key>sourceSize</key>
        <string>{124,48}</string>
      </dict>
      <key>skill_ani_31119__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,0},{109,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,53}}</string>
        <key>sourceSize</key>
        <string>{109,53}</string>
      </dict>
      <key>skill_ani_31119__12.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,108},{52,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,25}}</string>
        <key>sourceSize</key>
        <string>{52,25}</string>
      </dict>
      <key>skill_ani_31119__20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{73,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,43}}</string>
        <key>sourceSize</key>
        <string>{73,43}</string>
      </dict>
      <key>skill_ani_31119__19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,125},{73,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,43}}</string>
        <key>sourceSize</key>
        <string>{73,43}</string>
      </dict>
      <key>skill_ani_31119__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,55},{73,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,43}}</string>
        <key>sourceSize</key>
        <string>{73,43}</string>
      </dict>
      <key>skill_ani_31119__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,100},{73,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,43}}</string>
        <key>sourceSize</key>
        <string>{73,43}</string>
      </dict>
      <key>skill_ani_31119__4.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,55},{20,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,51}}</string>
        <key>sourceSize</key>
        <string>{20,51}</string>
      </dict>
      <key>skill_ani_31119__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,55},{19,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,7}}</string>
        <key>sourceSize</key>
        <string>{19,7}</string>
      </dict>
      <key>skill_ani_31119__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,188},{99,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,16}}</string>
        <key>sourceSize</key>
        <string>{99,16}</string>
      </dict>
      <key>skill_ani_31119__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,145},{139,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,41}}</string>
        <key>sourceSize</key>
        <string>{139,41}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31119.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31119.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>