<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31195_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_31195_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,232},{56,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,162}}</string>
        <key>sourceSize</key>
        <string>{56,162}</string>
      </dict>
      <key>skill_ani_31195_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{398,296}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{398,296}}</string>
        <key>sourceSize</key>
        <string>{398,296}</string>
      </dict>
      <key>skill_ani_31195_1000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,298},{320,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{320,58}}</string>
        <key>sourceSize</key>
        <string>{320,58}</string>
      </dict>
      <key>skill_ani_31195_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,358},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,80}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>skill_ani_31195_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,232},{52,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,14}}</string>
        <key>sourceSize</key>
        <string>{52,14}</string>
      </dict>
      <key>skill_ani_31195_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{92,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,230}}</string>
        <key>sourceSize</key>
        <string>{92,230}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31195.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31195.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>