<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31269_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1008,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_31269_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{480,480}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{480,480}}</string>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>skill_ani_31269_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,0},{272,272}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{272,272}}</string>
    <key>sourceSize</key>
    <string>{272,272}</string>
   </dict>
   <key>skill_ani_31269_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,78},{64,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,28}}</string>
    <key>sourceSize</key>
    <string>{64,28}</string>
   </dict>
   <key>skill_ani_31269_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{922,74},{70,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,28}}</string>
    <key>sourceSize</key>
    <string>{70,28}</string>
   </dict>
   <key>skill_ani_31269_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{922,0},{84,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,72}}</string>
    <key>sourceSize</key>
    <string>{84,72}</string>
   </dict>
   <key>skill_ani_31269_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,0},{164,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{164,76}}</string>
    <key>sourceSize</key>
    <string>{164,76}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31269.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31269.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>