<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31080_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_31080_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,190},{127,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,127}}</string>
        <key>sourceSize</key>
        <string>{127,127}</string>
      </dict>
      <key>skill_ani_31080_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{132,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,132}}</string>
        <key>sourceSize</key>
        <string>{132,132}</string>
      </dict>
      <key>skill_ani_31080_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,190},{106,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,106}}</string>
        <key>sourceSize</key>
        <string>{106,106}</string>
      </dict>
      <key>skill_ani_31080_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{218,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{218,93}}</string>
        <key>sourceSize</key>
        <string>{218,93}</string>
      </dict>
      <key>skill_ani_31080_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,95},{218,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{218,93}}</string>
        <key>sourceSize</key>
        <string>{218,93}</string>
      </dict>
      <key>skill_ani_31080_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,0},{218,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{218,93}}</string>
        <key>sourceSize</key>
        <string>{218,93}</string>
      </dict>
      <key>skill_ani_31080_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,95},{218,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{218,93}}</string>
        <key>sourceSize</key>
        <string>{218,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31080.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31080.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>