<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_91301_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,22},{54,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,35}}</string>
        <key>sourceSize</key>
        <string>{54,35}</string>
      </dict>
      <key>skill_ani_91301_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,115},{30,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,42}}</string>
        <key>sourceSize</key>
        <string>{30,42}</string>
      </dict>
      <key>skill_ani_91301_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{74,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,20}}</string>
        <key>sourceSize</key>
        <string>{74,20}</string>
      </dict>
      <key>skill_ani_91301_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_91301_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,85}}</string>
        <key>sourceSize</key>
        <string>{200,85}</string>
      </dict>
      <key>skill_ani_91301_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,172},{92,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,20}}</string>
        <key>sourceSize</key>
        <string>{92,20}</string>
      </dict>
      <key>skill_ani_91301_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,173},{86,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,20}}</string>
        <key>sourceSize</key>
        <string>{86,20}</string>
      </dict>
      <key>skill_ani_91301_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,164},{101,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,21}}</string>
        <key>sourceSize</key>
        <string>{101,21}</string>
      </dict>
      <key>skill_ani_91301_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,87},{28,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,17}}</string>
        <key>sourceSize</key>
        <string>{28,17}</string>
      </dict>
      <key>skill_ani_91301_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,106},{26,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,14}}</string>
        <key>sourceSize</key>
        <string>{26,14}</string>
      </dict>
      <key>skill_ani_91301_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,115},{32,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,27}}</string>
        <key>sourceSize</key>
        <string>{32,27}</string>
      </dict>
      <key>skill_ani_91301_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,85},{59,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,28}}</string>
        <key>sourceSize</key>
        <string>{59,28}</string>
      </dict>
      <key>skill_ani_91301_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,173},{79,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,25}}</string>
        <key>sourceSize</key>
        <string>{79,25}</string>
      </dict>
      <key>skill_ani_91301_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,172},{92,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,27}}</string>
        <key>sourceSize</key>
        <string>{92,27}</string>
      </dict>
      <key>skill_ani_91301_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,134},{101,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,28}}</string>
        <key>sourceSize</key>
        <string>{101,28}</string>
      </dict>
      <key>skill_ani_91301_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,59},{63,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,24}}</string>
        <key>sourceSize</key>
        <string>{63,24}</string>
      </dict>
      <key>skill_ani_91301_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,86},{84,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,84}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>skill_ani_91301_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,87},{84,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,84}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>skill_ani_91301_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,87},{84,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,84}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>skill_ani_91301_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{84,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,84}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>skill_ani_91301_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,4},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_91301_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{142,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,132}}</string>
        <key>sourceSize</key>
        <string>{142,132}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_91301.png</string>
      <key>textureFileName</key>
      <string>skill_ani_91301.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>