<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_1156_rs1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,0},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>skill_ani_1156_rs1_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,72},{167,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,132}}</string>
        <key>sourceSize</key>
        <string>{167,132}</string>
      </dict>
      <key>skill_ani_1156_rs1_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,174},{123,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,44}}</string>
        <key>sourceSize</key>
        <string>{123,44}</string>
      </dict>
      <key>skill_ani_1156_rs1_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,215},{113,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,48}}</string>
        <key>sourceSize</key>
        <string>{113,48}</string>
      </dict>
      <key>skill_ani_1156_rs1_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,110},{111,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,62}}</string>
        <key>sourceSize</key>
        <string>{111,62}</string>
      </dict>
      <key>skill_ani_1156_rs1_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,152},{108,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,61}}</string>
        <key>sourceSize</key>
        <string>{108,61}</string>
      </dict>
      <key>skill_ani_1156_rs1_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,220},{107,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,49}}</string>
        <key>sourceSize</key>
        <string>{107,49}</string>
      </dict>
      <key>skill_ani_1156_rs1_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,0},{106,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,108}}</string>
        <key>sourceSize</key>
        <string>{106,108}</string>
      </dict>
      <key>skill_ani_1156_rs1_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,265},{176,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,116}}</string>
        <key>sourceSize</key>
        <string>{176,116}</string>
      </dict>
      <key>skill_ani_1156_rs1_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,383},{176,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,116}}</string>
        <key>sourceSize</key>
        <string>{176,116}</string>
      </dict>
      <key>skill_ani_1156_rs1_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{176,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,116}}</string>
        <key>sourceSize</key>
        <string>{176,116}</string>
      </dict>
      <key>skill_ani_1156_rs1_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,206},{160,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,105}}</string>
        <key>sourceSize</key>
        <string>{160,105}</string>
      </dict>
      <key>skill_ani_1156_rs1_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,72},{116,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,78}}</string>
        <key>sourceSize</key>
        <string>{116,78}</string>
      </dict>
      <key>skill_ani_1156_rs1_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{286,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{286,70}}</string>
        <key>sourceSize</key>
        <string>{286,70}</string>
      </dict>
      <key>skill_ani_1156_rs1_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_1156_rs1_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{85,239}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,239}}</string>
        <key>sourceSize</key>
        <string>{85,239}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_1156_1.png</string>
      <key>textureFileName</key>
      <string>skill_ani_1156_1.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>