<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31096_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_31096_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{11,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,104}}</string>
        <key>sourceSize</key>
        <string>{11,104}</string>
      </dict>
      <key>skill_ani_31096_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{68,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,102}}</string>
        <key>sourceSize</key>
        <string>{68,102}</string>
      </dict>
      <key>skill_ani_31096_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,0},{65,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,100}}</string>
        <key>sourceSize</key>
        <string>{65,100}</string>
      </dict>
      <key>skill_ani_31096_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{61,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,104}}</string>
        <key>sourceSize</key>
        <string>{61,104}</string>
      </dict>
      <key>skill_ani_31096_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,102},{56,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,98}}</string>
        <key>sourceSize</key>
        <string>{56,98}</string>
      </dict>
      <key>skill_ani_31096_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{62,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,77}}</string>
        <key>sourceSize</key>
        <string>{62,77}</string>
      </dict>
      <key>skill_ani_31096_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,106},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,82}}</string>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31096.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31096.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>