<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_ani_31098_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,162},{46,102}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,102}}</string>
                <key>sourceSize</key>
                <string>{50,108}</string>
            </dict>
            <key>skill_ani_31098_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{66,152}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,152}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>skill_ani_31098_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{48,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,142}}</string>
                <key>sourceSize</key>
                <string>{48,142}</string>
            </dict>
            <key>skill_ani_31098_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,114},{94,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,46}}</string>
                <key>sourceSize</key>
                <string>{98,52}</string>
            </dict>
            <key>skill_ani_31098_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{79,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,50}}</string>
                <key>sourceSize</key>
                <string>{83,54}</string>
            </dict>
            <key>skill_ani_31098_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{74,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,38}}</string>
                <key>sourceSize</key>
                <string>{74,38}</string>
            </dict>
            <key>skill_ani_31098_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,210},{55,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,22}}</string>
                <key>sourceSize</key>
                <string>{55,22}</string>
            </dict>
            <key>skill_ani_31098_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,160}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,160}}</string>
                <key>sourceSize</key>
                <string>{63,164}</string>
            </dict>
            <key>skill_ani_31098_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,54},{58,77}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,77}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>skill_ani_31098_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{67,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,130}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>skill_ani_31098_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,210},{74,141}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,141}}</string>
                <key>sourceSize</key>
                <string>{78,145}</string>
            </dict>
            <key>skill_ani_31098_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{74,147}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,147}}</string>
                <key>sourceSize</key>
                <string>{78,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_ani_31098.png</string>
            <key>size</key>
            <string>{255,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50b9d890d9f817fe89548da079665057$</string>
            <key>textureFileName</key>
            <string>skill_ani_31098.png</string>
        </dict>
    </dict>
</plist>
