<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31001_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_31093_922.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_31093_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,268},{188,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,77}}</string>
        <key>sourceSize</key>
        <string>{188,77}</string>
      </dict>
      <key>skill_ani_31093_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,188},{197,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,78}}</string>
        <key>sourceSize</key>
        <string>{197,78}</string>
      </dict>
      <key>skill_ani_31093_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,106},{188,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,80}}</string>
        <key>sourceSize</key>
        <string>{188,80}</string>
      </dict>
      <key>skill_ani_31093_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{188,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,107}}</string>
        <key>sourceSize</key>
        <string>{188,107}</string>
      </dict>
      <key>skill_ani_31093_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{188,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,104}}</string>
        <key>sourceSize</key>
        <string>{188,104}</string>
      </dict>
      <key>skill_ani_31093_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{161,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,105}}</string>
        <key>sourceSize</key>
        <string>{161,105}</string>
      </dict>
      <key>skill_ani_31093_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{93,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,113}}</string>
        <key>sourceSize</key>
        <string>{93,113}</string>
      </dict>
      <key>skill_ani_31093_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,176},{75,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,75}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>skill_ani_31093_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,115},{102,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,59}}</string>
        <key>sourceSize</key>
        <string>{102,59}</string>
      </dict>
      <key>skill_ani_31093_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{80,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,44}}</string>
        <key>sourceSize</key>
        <string>{80,44}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31001.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31001.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>