<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_3102511_222.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_3102511_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{162,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,180}}</string>
        <key>sourceSize</key>
        <string>{162,180}</string>
      </dict>
      <key>skill_ani_3102511_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{162,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,180}}</string>
        <key>sourceSize</key>
        <string>{162,180}</string>
      </dict>
      <key>skill_ani_3102511_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{162,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,180}}</string>
        <key>sourceSize</key>
        <string>{162,180}</string>
      </dict>
      <key>skill_ani_3102511_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{162,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,180}}</string>
        <key>sourceSize</key>
        <string>{162,180}</string>
      </dict>
      <key>skill_ani_3102511_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,182},{93,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,82}}</string>
        <key>sourceSize</key>
        <string>{93,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_3102511.png</string>
      <key>textureFileName</key>
      <string>skill_ani_3102511.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>