<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31470_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{718,341},{224,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{224,141}}</string>
    <key>sourceSize</key>
    <string>{224,141}</string>
   </dict>
   <key>skill_ani_31470_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{1795,0},{224,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{224,141}}</string>
    <key>sourceSize</key>
    <string>{224,141}</string>
   </dict>
   <key>skill_ani_31470_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{1795,143},{224,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{224,141}}</string>
    <key>sourceSize</key>
    <string>{224,141}</string>
   </dict>
   <key>skill_ani_31470_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{1795,286},{224,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{224,141}}</string>
    <key>sourceSize</key>
    <string>{224,141}</string>
   </dict>
   <key>skill_ani_31470_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{1418,341},{156,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,157}}</string>
    <key>sourceSize</key>
    <string>{156,157}</string>
   </dict>
   <key>skill_ani_31470_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{944,341},{156,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,157}}</string>
    <key>sourceSize</key>
    <string>{156,157}</string>
   </dict>
   <key>skill_ani_31470_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{1734,429},{156,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,157}}</string>
    <key>sourceSize</key>
    <string>{156,157}</string>
   </dict>
   <key>skill_ani_31470_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{1576,341},{156,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,157}}</string>
    <key>sourceSize</key>
    <string>{156,157}</string>
   </dict>
   <key>skill_ani_31470_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{1260,341},{156,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,157}}</string>
    <key>sourceSize</key>
    <string>{156,157}</string>
   </dict>
   <key>skill_ani_31470_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{1102,341},{156,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,157}}</string>
    <key>sourceSize</key>
    <string>{156,157}</string>
   </dict>
   <key>skill_ani_31470_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{1892,429},{151,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{151,135}}</string>
    <key>sourceSize</key>
    <string>{151,135}</string>
   </dict>
   <key>skill_ani_31470_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{357,339}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{357,339}}</string>
    <key>sourceSize</key>
    <string>{357,339}</string>
   </dict>
   <key>skill_ani_31470_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{359,0},{357,339}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{357,339}}</string>
    <key>sourceSize</key>
    <string>{357,339}</string>
   </dict>
   <key>skill_ani_31470_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{359,341},{357,339}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{357,339}}</string>
    <key>sourceSize</key>
    <string>{357,339}</string>
   </dict>
   <key>skill_ani_31470_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{1436,0},{357,339}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{357,339}}</string>
    <key>sourceSize</key>
    <string>{357,339}</string>
   </dict>
   <key>skill_ani_31470_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{1077,0},{357,339}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{357,339}}</string>
    <key>sourceSize</key>
    <string>{357,339}</string>
   </dict>
   <key>skill_ani_31470_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{718,0},{357,339}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{357,339}}</string>
    <key>sourceSize</key>
    <string>{357,339}</string>
   </dict>
   <key>skill_ani_31470_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,341},{357,339}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{357,339}}</string>
    <key>sourceSize</key>
    <string>{357,339}</string>
   </dict>
   <key>skill_ani_31470_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{2021,0},{7,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,5}}</string>
    <key>sourceSize</key>
    <string>{7,5}</string>
   </dict>
   <key>skill_ani_31470_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{884,500},{164,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{164,121}}</string>
    <key>sourceSize</key>
    <string>{164,121}</string>
   </dict>
   <key>skill_ani_31470_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{1216,500},{163,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{163,121}}</string>
    <key>sourceSize</key>
    <string>{163,121}</string>
   </dict>
   <key>skill_ani_31470_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{1050,500},{164,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{164,121}}</string>
    <key>sourceSize</key>
    <string>{164,121}</string>
   </dict>
   <key>skill_ani_31470_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{718,484},{164,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{164,121}}</string>
    <key>sourceSize</key>
    <string>{164,121}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31470.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31470.png</string>
   <key>size</key>
   <string>{2048,1024}</string>
  </dict>
 </dict>
</plist>