<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_1003__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,181},{43,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,33}}</string>
        <key>sourceSize</key>
        <string>{43,33}</string>
      </dict>
      <key>skill_ani_1003__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,0},{11,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,25}}</string>
        <key>sourceSize</key>
        <string>{11,25}</string>
      </dict>
      <key>skill_ani_1003__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,194},{66,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,49}}</string>
        <key>sourceSize</key>
        <string>{66,49}</string>
      </dict>
      <key>skill_ani_1003__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,186},{75,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,55}}</string>
        <key>sourceSize</key>
        <string>{75,55}</string>
      </dict>
      <key>skill_ani_1003__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,186},{75,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,55}}</string>
        <key>sourceSize</key>
        <string>{75,55}</string>
      </dict>
      <key>skill_ani_1003__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,194},{64,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,43}}</string>
        <key>sourceSize</key>
        <string>{64,43}</string>
      </dict>
      <key>skill_ani_1003__7.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,239},{58,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,43}}</string>
        <key>sourceSize</key>
        <string>{58,43}</string>
      </dict>
      <key>skill_ani_1003__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,216},{36,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,36}}</string>
        <key>sourceSize</key>
        <string>{36,36}</string>
      </dict>
      <key>skill_ani_1003__5.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{151,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,184}}</string>
        <key>sourceSize</key>
        <string>{151,184}</string>
      </dict>
      <key>skill_ani_1003__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{158,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,192}}</string>
        <key>sourceSize</key>
        <string>{158,192}</string>
      </dict>
      <key>skill_ani_1003__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{178,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,179}}</string>
        <key>sourceSize</key>
        <string>{178,179}</string>
      </dict>
      <key>skill_ani_1003__4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,181},{128,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,112}}</string>
        <key>sourceSize</key>
        <string>{128,112}</string>
      </dict>
      <key>skill_ani_1003__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,243},{37,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,11}}</string>
        <key>sourceSize</key>
        <string>{37,11}</string>
      </dict>
      <key>skill_ani_1003__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,243},{53,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,42}}</string>
        <key>sourceSize</key>
        <string>{53,42}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_1003_1.png</string>
      <key>textureFileName</key>
      <string>skill_ani_1003_1.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>