<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31222_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{254,0},{125,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{125,105}}</string>
    <key>sourceSize</key>
    <string>{125,105}</string>
   </dict>
   <key>skill_ani_31222_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{381,0},{125,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{125,105}}</string>
    <key>sourceSize</key>
    <string>{125,105}</string>
   </dict>
   <key>skill_ani_31222_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{125,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{125,105}}</string>
    <key>sourceSize</key>
    <string>{125,105}</string>
   </dict>
   <key>skill_ani_31222_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{127,0},{125,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{125,105}}</string>
    <key>sourceSize</key>
    <string>{125,105}</string>
   </dict>
   <key>skill_ani_31222_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{508,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>skill_ani_31222_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,107},{29,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,57}}</string>
    <key>sourceSize</key>
    <string>{29,57}</string>
   </dict>
   <key>skill_ani_31222_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{322,107},{42,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,32}}</string>
    <key>sourceSize</key>
    <string>{42,32}</string>
   </dict>
   <key>skill_ani_31222_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{387,107},{16,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,13}}</string>
    <key>sourceSize</key>
    <string>{16,13}</string>
   </dict>
   <key>skill_ani_31222_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,107},{19,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,13}}</string>
    <key>sourceSize</key>
    <string>{19,13}</string>
   </dict>
   <key>skill_ani_31222_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,107},{55,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,122}}</string>
    <key>sourceSize</key>
    <string>{55,122}</string>
   </dict>
   <key>skill_ani_31222_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{57,107},{60,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,108}}</string>
    <key>sourceSize</key>
    <string>{60,108}</string>
   </dict>
   <key>skill_ani_31222_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,107},{53,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,77}}</string>
    <key>sourceSize</key>
    <string>{53,77}</string>
   </dict>
   <key>skill_ani_31222_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{251,107},{38,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,55}}</string>
    <key>sourceSize</key>
    <string>{38,55}</string>
   </dict>
   <key>skill_ani_31222_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{322,141},{164,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{164,62}}</string>
    <key>sourceSize</key>
    <string>{164,62}</string>
   </dict>
   <key>skill_ani_31222_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,256},{155,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{155,66}}</string>
    <key>sourceSize</key>
    <string>{155,66}</string>
   </dict>
   <key>skill_ani_31222_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,275},{154,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{154,67}}</string>
    <key>sourceSize</key>
    <string>{154,67}</string>
   </dict>
   <key>skill_ani_31222_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,275},{150,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,63}}</string>
    <key>sourceSize</key>
    <string>{150,63}</string>
   </dict>
   <key>skill_ani_31222_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{119,186},{156,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,68}}</string>
    <key>sourceSize</key>
    <string>{156,68}</string>
   </dict>
   <key>skill_ani_31222_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{277,205},{156,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,68}}</string>
    <key>sourceSize</key>
    <string>{156,68}</string>
   </dict>
   <key>skill_ani_31222_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{119,107},{75,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,75}}</string>
    <key>sourceSize</key>
    <string>{75,75}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31222.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31222.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>