<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31118__18.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,148},{158,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,122}}</string>
        <key>sourceSize</key>
        <string>{158,122}</string>
      </dict>
      <key>skill_ani_31118__17.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{164,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,146}}</string>
        <key>sourceSize</key>
        <string>{164,146}</string>
      </dict>
      <key>skill_ani_31118__16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{171,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{171,153}}</string>
        <key>sourceSize</key>
        <string>{171,153}</string>
      </dict>
      <key>skill_ani_31118__15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{156,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,124}}</string>
        <key>sourceSize</key>
        <string>{156,124}</string>
      </dict>
      <key>skill_ani_31118__14.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,148},{155,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,153}}</string>
        <key>sourceSize</key>
        <string>{155,153}</string>
      </dict>
      <key>skill_ani_31118__13.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{165,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,146}}</string>
        <key>sourceSize</key>
        <string>{165,146}</string>
      </dict>
      <key>skill_ani_31118__6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,293},{86,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,11}}</string>
        <key>sourceSize</key>
        <string>{86,11}</string>
      </dict>
      <key>skill_ani_31118__9.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,272},{78,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,68}}</string>
        <key>sourceSize</key>
        <string>{78,68}</string>
      </dict>
      <key>skill_ani_31118__4.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,281},{64,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,12}}</string>
        <key>sourceSize</key>
        <string>{64,12}</string>
      </dict>
      <key>skill_ani_31118__11.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,272},{44,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,111}}</string>
        <key>sourceSize</key>
        <string>{44,111}</string>
      </dict>
      <key>skill_ani_31118__8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,281},{91,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,10}}</string>
        <key>sourceSize</key>
        <string>{91,10}</string>
      </dict>
      <key>skill_ani_31118__10.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,272},{44,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,165}}</string>
        <key>sourceSize</key>
        <string>{44,165}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31118.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31118.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>