<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31025_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_31025_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,73},{40,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,49}}</string>
        <key>sourceSize</key>
        <string>{40,49}</string>
      </dict>
      <key>skill_ani_31025_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,33},{55,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,54}}</string>
        <key>sourceSize</key>
        <string>{55,54}</string>
      </dict>
      <key>skill_ani_31025_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,33},{78,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,38}}</string>
        <key>sourceSize</key>
        <string>{78,38}</string>
      </dict>
      <key>skill_ani_31025_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{222,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{222,31}}</string>
        <key>sourceSize</key>
        <string>{222,31}</string>
      </dict>
      <key>skill_ani_31025_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,33},{79,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,78}}</string>
        <key>sourceSize</key>
        <string>{79,78}</string>
      </dict>
      <key>skill_ani_31025_888.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,89},{50,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,9}}</string>
        <key>sourceSize</key>
        <string>{50,9}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31025.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31025.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>