<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_94401_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{39,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,40}}</string>
        <key>sourceSize</key>
        <string>{39,40}</string>
      </dict>
      <key>skill_ani_94401_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{174,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,172}}</string>
        <key>sourceSize</key>
        <string>{174,172}</string>
      </dict>
      <key>skill_ani_94401_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,502},{119,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,37}}</string>
        <key>sourceSize</key>
        <string>{119,37}</string>
      </dict>
      <key>skill_ani_94401_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,502},{100,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,123}}</string>
        <key>sourceSize</key>
        <string>{100,123}</string>
      </dict>
      <key>skill_ani_94401_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,311},{95,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,135}}</string>
        <key>sourceSize</key>
        <string>{95,135}</string>
      </dict>
      <key>skill_ani_94401_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,141},{144,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,138}}</string>
        <key>sourceSize</key>
        <string>{144,138}</string>
      </dict>
      <key>skill_ani_94401_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{144,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,139}}</string>
        <key>sourceSize</key>
        <string>{144,139}</string>
      </dict>
      <key>skill_ani_94401_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,174},{146,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,135}}</string>
        <key>sourceSize</key>
        <string>{146,135}</string>
      </dict>
      <key>skill_ani_94401_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,281},{138,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,128}}</string>
        <key>sourceSize</key>
        <string>{138,128}</string>
      </dict>
      <key>skill_ani_94401_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,170},{126,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,128}}</string>
        <key>sourceSize</key>
        <string>{126,128}</string>
      </dict>
      <key>skill_ani_94401_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,417},{107,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,116}}</string>
        <key>sourceSize</key>
        <string>{107,116}</string>
      </dict>
      <key>skill_ani_94401_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,0},{126,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,168}}</string>
        <key>sourceSize</key>
        <string>{126,168}</string>
      </dict>
      <key>skill_ani_94401_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,417},{69,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,67}}</string>
        <key>sourceSize</key>
        <string>{69,67}</string>
      </dict>
      <key>skill_ani_94401_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,300},{145,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,115}}</string>
        <key>sourceSize</key>
        <string>{145,115}</string>
      </dict>
      <key>skill_ani_94401_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,411},{161,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,89}}</string>
        <key>sourceSize</key>
        <string>{161,89}</string>
      </dict>
      <key>skill_ani_94401_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_94401.png</string>
      <key>textureFileName</key>
      <string>skill_ani_94401.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>