<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_918101_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{244,0},{11,314}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,314}}</string>
    <key>sourceSize</key>
    <string>{11,314}</string>
   </dict>
   <key>skill_ani_918101_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,0},{100,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,165}}</string>
    <key>sourceSize</key>
    <string>{100,165}</string>
   </dict>
   <key>skill_ani_918101_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{563,0},{100,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,165}}</string>
    <key>sourceSize</key>
    <string>{100,165}</string>
   </dict>
   <key>skill_ani_918101_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{461,0},{100,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,165}}</string>
    <key>sourceSize</key>
    <string>{100,165}</string>
   </dict>
   <key>skill_ani_918101_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{359,0},{100,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,165}}</string>
    <key>sourceSize</key>
    <string>{100,165}</string>
   </dict>
   <key>skill_ani_918101_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{24,699}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,699}}</string>
    <key>sourceSize</key>
    <string>{24,699}</string>
   </dict>
   <key>skill_ani_918101_1099.png</key>
   <dict>
    <key>frame</key>
    <string>{{1013,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>skill_ani_918101_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{26,0},{216,208}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{216,208}}</string>
    <key>sourceSize</key>
    <string>{216,208}</string>
   </dict>
   <key>skill_ani_918101_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{903,0},{108,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,93}}</string>
    <key>sourceSize</key>
    <string>{108,93}</string>
   </dict>
   <key>skill_ani_918101_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{903,95},{102,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,99}}</string>
    <key>sourceSize</key>
    <string>{102,99}</string>
   </dict>
   <key>skill_ani_918101_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{402,258},{52,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,51}}</string>
    <key>sourceSize</key>
    <string>{52,51}</string>
   </dict>
   <key>skill_ani_918101_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{168,284},{74,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,32}}</string>
    <key>sourceSize</key>
    <string>{74,32}</string>
   </dict>
   <key>skill_ani_918101_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{897,246},{98,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,32}}</string>
    <key>sourceSize</key>
    <string>{98,32}</string>
   </dict>
   <key>skill_ani_918101_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{533,276},{84,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,36}}</string>
    <key>sourceSize</key>
    <string>{84,36}</string>
   </dict>
   <key>skill_ani_918101_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{178,210},{50,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,72}}</string>
    <key>sourceSize</key>
    <string>{50,72}</string>
   </dict>
   <key>skill_ani_918101_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,167},{78,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,72}}</string>
    <key>sourceSize</key>
    <string>{78,72}</string>
   </dict>
   <key>skill_ani_918101_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{522,314},{90,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,29}}</string>
    <key>sourceSize</key>
    <string>{90,29}</string>
   </dict>
   <key>skill_ani_918101_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{645,262},{130,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,43}}</string>
    <key>sourceSize</key>
    <string>{130,43}</string>
   </dict>
   <key>skill_ani_918101_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,219},{120,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,37}}</string>
    <key>sourceSize</key>
    <string>{120,37}</string>
   </dict>
   <key>skill_ani_918101_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{661,172},{116,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,48}}</string>
    <key>sourceSize</key>
    <string>{116,48}</string>
   </dict>
   <key>skill_ani_918101_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{783,112},{81,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,96}}</string>
    <key>sourceSize</key>
    <string>{81,96}</string>
   </dict>
   <key>skill_ani_918101_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,289},{64,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,30}}</string>
    <key>sourceSize</key>
    <string>{64,30}</string>
   </dict>
   <key>skill_ani_918101_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,241},{73,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,58}}</string>
    <key>sourceSize</key>
    <string>{73,58}</string>
   </dict>
   <key>skill_ani_918101_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{779,210},{72,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,72}}</string>
    <key>sourceSize</key>
    <string>{72,72}</string>
   </dict>
   <key>skill_ani_918101_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{459,167},{90,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,54}}</string>
    <key>sourceSize</key>
    <string>{90,54}</string>
   </dict>
   <key>skill_ani_918101_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{619,307},{136,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{136,46}}</string>
    <key>sourceSize</key>
    <string>{136,46}</string>
   </dict>
   <key>skill_ani_918101_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{533,259},{110,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,15}}</string>
    <key>sourceSize</key>
    <string>{110,15}</string>
   </dict>
   <key>skill_ani_918101_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{853,280},{138,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{138,44}}</string>
    <key>sourceSize</key>
    <string>{138,44}</string>
   </dict>
   <key>skill_ani_918101_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{665,100},{116,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,70}}</string>
    <key>sourceSize</key>
    <string>{116,70}</string>
   </dict>
   <key>skill_ani_918101_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{26,270},{140,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,44}}</string>
    <key>sourceSize</key>
    <string>{140,44}</string>
   </dict>
   <key>skill_ani_918101_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,167},{120,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,50}}</string>
    <key>sourceSize</key>
    <string>{120,50}</string>
   </dict>
   <key>skill_ani_918101_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{795,0},{106,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,110}}</string>
    <key>sourceSize</key>
    <string>{106,110}</string>
   </dict>
   <key>skill_ani_918101_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{853,214},{42,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,48}}</string>
    <key>sourceSize</key>
    <string>{42,48}</string>
   </dict>
   <key>skill_ani_918101_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{777,284},{64,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,42}}</string>
    <key>sourceSize</key>
    <string>{64,42}</string>
   </dict>
   <key>skill_ani_918101_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{551,217},{98,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,40}}</string>
    <key>sourceSize</key>
    <string>{98,40}</string>
   </dict>
   <key>skill_ani_918101_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{651,222},{116,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,38}}</string>
    <key>sourceSize</key>
    <string>{116,38}</string>
   </dict>
   <key>skill_ani_918101_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{900,196},{114,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,48}}</string>
    <key>sourceSize</key>
    <string>{114,48}</string>
   </dict>
   <key>skill_ani_918101_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{332,258},{68,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,58}}</string>
    <key>sourceSize</key>
    <string>{68,58}</string>
   </dict>
   <key>skill_ani_918101_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{459,223},{72,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,64}}</string>
    <key>sourceSize</key>
    <string>{72,64}</string>
   </dict>
   <key>skill_ani_918101_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{551,167},{108,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,48}}</string>
    <key>sourceSize</key>
    <string>{108,48}</string>
   </dict>
   <key>skill_ani_918101_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{665,0},{128,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,98}}</string>
    <key>sourceSize</key>
    <string>{128,98}</string>
   </dict>
   <key>skill_ani_918101_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{26,210},{150,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,58}}</string>
    <key>sourceSize</key>
    <string>{150,58}</string>
   </dict>
   <key>skill_ani_918101_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{866,112},{17,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,62}}</string>
    <key>sourceSize</key>
    <string>{17,62}</string>
   </dict>
   <key>skill_ani_918101_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{866,176},{32,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,36}}</string>
    <key>sourceSize</key>
    <string>{32,36}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_918101.png</string>
   <key>textureFileName</key>
   <string>skill_ani_918101.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>