<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31288_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,0},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>skill_ani_31288_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,56},{52,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,56}}</string>
        <key>sourceSize</key>
        <string>{52,56}</string>
      </dict>
      <key>skill_ani_31288_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,152},{68,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,82}}</string>
        <key>sourceSize</key>
        <string>{68,82}</string>
      </dict>
      <key>skill_ani_31288_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,114},{48,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,46}}</string>
        <key>sourceSize</key>
        <string>{48,46}</string>
      </dict>
      <key>skill_ani_31288_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,114},{82,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,80}}</string>
        <key>sourceSize</key>
        <string>{82,80}</string>
      </dict>
      <key>skill_ani_31288_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,56},{76,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,94}}</string>
        <key>sourceSize</key>
        <string>{76,94}</string>
      </dict>
      <key>skill_ani_31288_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,236},{192,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,140}}</string>
        <key>sourceSize</key>
        <string>{192,140}</string>
      </dict>
      <key>skill_ani_31288_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{192,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,140}}</string>
        <key>sourceSize</key>
        <string>{192,140}</string>
      </dict>
      <key>skill_ani_31288_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,306},{192,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,140}}</string>
        <key>sourceSize</key>
        <string>{192,140}</string>
      </dict>
      <key>skill_ani_31288_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,180},{192,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,140}}</string>
        <key>sourceSize</key>
        <string>{192,140}</string>
      </dict>
      <key>skill_ani_31288_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,164},{192,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,140}}</string>
        <key>sourceSize</key>
        <string>{192,140}</string>
      </dict>
      <key>skill_ani_31288_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{192,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,140}}</string>
        <key>sourceSize</key>
        <string>{192,140}</string>
      </dict>
      <key>skill_ani_31288_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,164},{76,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,66}}</string>
        <key>sourceSize</key>
        <string>{76,66}</string>
      </dict>
      <key>skill_ani_31288_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,306},{146,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,108}}</string>
        <key>sourceSize</key>
        <string>{146,108}</string>
      </dict>
      <key>skill_ani_31288_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,72},{234,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,106}}</string>
        <key>sourceSize</key>
        <string>{234,106}</string>
      </dict>
      <key>skill_ani_31288_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,76},{246,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,86}}</string>
        <key>sourceSize</key>
        <string>{246,86}</string>
      </dict>
      <key>skill_ani_31288_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{320,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{320,112}}</string>
        <key>sourceSize</key>
        <string>{320,112}</string>
      </dict>
      <key>skill_ani_31288_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,0},{290,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{290,74}}</string>
        <key>sourceSize</key>
        <string>{290,74}</string>
      </dict>
      <key>skill_ani_31288_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,0},{276,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,70}}</string>
        <key>sourceSize</key>
        <string>{276,70}</string>
      </dict>
      <key>skill_ani_31288_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,378},{242,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,72}}</string>
        <key>sourceSize</key>
        <string>{242,72}</string>
      </dict>
      <key>skill_ani_31288_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,322},{202,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{202,66}}</string>
        <key>sourceSize</key>
        <string>{202,66}</string>
      </dict>
      <key>skill_ani_31288_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,0},{124,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,54}}</string>
        <key>sourceSize</key>
        <string>{124,54}</string>
      </dict>
      <key>skill_ani_31288_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,162},{90,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,52}}</string>
        <key>sourceSize</key>
        <string>{90,52}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31288.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31288.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>