<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_93601_116.png</key>
   <dict>
    <key>frame</key>
    <string>{{2034,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>skill_ani_93601_88.png</key>
   <dict>
    <key>frame</key>
    <string>{{914,664},{73,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,36}}</string>
    <key>sourceSize</key>
    <string>{73,36}</string>
   </dict>
   <key>skill_ani_93601_115.png</key>
   <dict>
    <key>frame</key>
    <string>{{914,488},{124,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,128}}</string>
    <key>sourceSize</key>
    <string>{124,128}</string>
   </dict>
   <key>skill_ani_93601_114.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,562},{121,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{121,118}}</string>
    <key>sourceSize</key>
    <string>{121,118}</string>
   </dict>
   <key>skill_ani_93601_113.png</key>
   <dict>
    <key>frame</key>
    <string>{{582,557},{122,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,117}}</string>
    <key>sourceSize</key>
    <string>{122,117}</string>
   </dict>
   <key>skill_ani_93601_112.png</key>
   <dict>
    <key>frame</key>
    <string>{{1633,575},{120,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,117}}</string>
    <key>sourceSize</key>
    <string>{120,117}</string>
   </dict>
   <key>skill_ani_93601_110.png</key>
   <dict>
    <key>frame</key>
    <string>{{1806,595},{119,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{119,57}}</string>
    <key>sourceSize</key>
    <string>{119,57}</string>
   </dict>
   <key>skill_ani_93601_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{1195,604},{104,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,50}}</string>
    <key>sourceSize</key>
    <string>{104,50}</string>
   </dict>
   <key>skill_ani_93601_68.png</key>
   <dict>
    <key>frame</key>
    <string>{{1408,478},{109,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,170}}</string>
    <key>sourceSize</key>
    <string>{109,170}</string>
   </dict>
   <key>skill_ani_93601_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{1806,654},{59,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,57}}</string>
    <key>sourceSize</key>
    <string>{59,57}</string>
   </dict>
   <key>skill_ani_93601_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{1451,650},{59,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,57}}</string>
    <key>sourceSize</key>
    <string>{59,57}</string>
   </dict>
   <key>skill_ani_93601_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{1390,650},{59,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,57}}</string>
    <key>sourceSize</key>
    <string>{59,57}</string>
   </dict>
   <key>skill_ani_93601_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{706,648},{59,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,57}}</string>
    <key>sourceSize</key>
    <string>{59,57}</string>
   </dict>
   <key>skill_ani_93601_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{1927,653},{59,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,57}}</string>
    <key>sourceSize</key>
    <string>{59,57}</string>
   </dict>
   <key>skill_ani_93601_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{123,651},{59,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,57}}</string>
    <key>sourceSize</key>
    <string>{59,57}</string>
   </dict>
   <key>skill_ani_93601_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{2013,217},{33,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,31}}</string>
    <key>sourceSize</key>
    <string>{33,31}</string>
   </dict>
   <key>skill_ani_93601_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{767,668},{70,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,20}}</string>
    <key>sourceSize</key>
    <string>{70,20}</string>
   </dict>
   <key>skill_ani_93601_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{1259,664},{61,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,48}}</string>
    <key>sourceSize</key>
    <string>{61,48}</string>
   </dict>
   <key>skill_ani_93601_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{706,557},{73,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,89}}</string>
    <key>sourceSize</key>
    <string>{73,89}</string>
   </dict>
   <key>skill_ani_93601_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,366},{15,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,8}}</string>
    <key>sourceSize</key>
    <string>{15,8}</string>
   </dict>
   <key>skill_ani_93601_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,331},{26,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,13}}</string>
    <key>sourceSize</key>
    <string>{26,13}</string>
   </dict>
   <key>skill_ani_93601_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,305},{29,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,24}}</string>
    <key>sourceSize</key>
    <string>{29,24}</string>
   </dict>
   <key>skill_ani_93601_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,276},{29,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,27}}</string>
    <key>sourceSize</key>
    <string>{29,27}</string>
   </dict>
   <key>skill_ani_93601_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{2013,250},{31,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,28}}</string>
    <key>sourceSize</key>
    <string>{31,28}</string>
   </dict>
   <key>skill_ani_93601_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{1984,327},{20,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,16}}</string>
    <key>sourceSize</key>
    <string>{20,16}</string>
   </dict>
   <key>skill_ani_93601_87.png</key>
   <dict>
    <key>frame</key>
    <string>{{199,581},{121,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{121,84}}</string>
    <key>sourceSize</key>
    <string>{121,84}</string>
   </dict>
   <key>skill_ani_93601_86.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,531},{155,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{155,84}}</string>
    <key>sourceSize</key>
    <string>{155,84}</string>
   </dict>
   <key>skill_ani_93601_85.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,404},{233,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{233,125}}</string>
    <key>sourceSize</key>
    <string>{233,125}</string>
   </dict>
   <key>skill_ani_93601_84.png</key>
   <dict>
    <key>frame</key>
    <string>{{1811,509},{156,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,84}}</string>
    <key>sourceSize</key>
    <string>{156,84}</string>
   </dict>
   <key>skill_ani_93601_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{1519,578},{74,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,84}}</string>
    <key>sourceSize</key>
    <string>{74,84}</string>
   </dict>
   <key>skill_ani_93601_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{506,531},{74,113}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,113}}</string>
    <key>sourceSize</key>
    <string>{74,113}</string>
   </dict>
   <key>skill_ani_93601_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{123,562},{74,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,87}}</string>
    <key>sourceSize</key>
    <string>{74,87}</string>
   </dict>
   <key>skill_ani_93601_137.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,490},{181,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{181,70}}</string>
    <key>sourceSize</key>
    <string>{181,70}</string>
   </dict>
   <key>skill_ani_93601_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{1145,440},{80,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,145}}</string>
    <key>sourceSize</key>
    <string>{80,145}</string>
   </dict>
   <key>skill_ani_93601_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{914,618},{93,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,44}}</string>
    <key>sourceSize</key>
    <string>{93,44}</string>
   </dict>
   <key>skill_ani_93601_136.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,406},{222,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{222,82}}</string>
    <key>sourceSize</key>
    <string>{222,82}</string>
   </dict>
   <key>skill_ani_93601_135.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,276},{380,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{380,128}}</string>
    <key>sourceSize</key>
    <string>{380,128}</string>
   </dict>
   <key>skill_ani_93601_134.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,266},{417,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{417,136}}</string>
    <key>sourceSize</key>
    <string>{417,136}</string>
   </dict>
   <key>skill_ani_93601_132.png</key>
   <dict>
    <key>frame</key>
    <string>{{1229,0},{426,220}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{426,220}}</string>
    <key>sourceSize</key>
    <string>{426,220}</string>
   </dict>
   <key>skill_ani_93601_130.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,0},{420,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{420,264}}</string>
    <key>sourceSize</key>
    <string>{420,264}</string>
   </dict>
   <key>skill_ani_93601_128.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{412,274}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{412,274}}</string>
    <key>sourceSize</key>
    <string>{412,274}</string>
   </dict>
   <key>skill_ani_93601_126.png</key>
   <dict>
    <key>frame</key>
    <string>{{836,0},{391,268}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{391,268}}</string>
    <key>sourceSize</key>
    <string>{391,268}</string>
   </dict>
   <key>skill_ani_93601_124.png</key>
   <dict>
    <key>frame</key>
    <string>{{1657,0},{354,263}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{354,263}}</string>
    <key>sourceSize</key>
    <string>{354,263}</string>
   </dict>
   <key>skill_ani_93601_122.png</key>
   <dict>
    <key>frame</key>
    <string>{{1229,222},{334,254}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{334,254}}</string>
    <key>sourceSize</key>
    <string>{334,254}</string>
   </dict>
   <key>skill_ani_93601_120.png</key>
   <dict>
    <key>frame</key>
    <string>{{1655,265},{327,242}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{327,242}}</string>
    <key>sourceSize</key>
    <string>{327,242}</string>
   </dict>
   <key>skill_ani_93601_118.png</key>
   <dict>
    <key>frame</key>
    <string>{{833,270},{310,216}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{310,216}}</string>
    <key>sourceSize</key>
    <string>{310,216}</string>
   </dict>
   <key>skill_ani_93601_77.png</key>
   <dict>
    <key>frame</key>
    <string>{{1867,654},{55,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,47}}</string>
    <key>sourceSize</key>
    <string>{55,47}</string>
   </dict>
   <key>skill_ani_93601_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,617},{52,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,72}}</string>
    <key>sourceSize</key>
    <string>{52,72}</string>
   </dict>
   <key>skill_ani_93601_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{1988,653},{47,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,64}}</string>
    <key>sourceSize</key>
    <string>{47,64}</string>
   </dict>
   <key>skill_ani_93601_138.png</key>
   <dict>
    <key>frame</key>
    <string>{{1984,265},{22,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,29}}</string>
    <key>sourceSize</key>
    <string>{22,29}</string>
   </dict>
   <key>skill_ani_93601_104.png</key>
   <dict>
    <key>frame</key>
    <string>{{2013,0},{19,113}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,113}}</string>
    <key>sourceSize</key>
    <string>{19,113}</string>
   </dict>
   <key>skill_ani_93601_139.png</key>
   <dict>
    <key>frame</key>
    <string>{{1984,345},{16,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,17}}</string>
    <key>sourceSize</key>
    <string>{16,17}</string>
   </dict>
   <key>skill_ani_93601_103.png</key>
   <dict>
    <key>frame</key>
    <string>{{2013,115},{27,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,100}}</string>
    <key>sourceSize</key>
    <string>{27,100}</string>
   </dict>
   <key>skill_ani_93601_141.png</key>
   <dict>
    <key>frame</key>
    <string>{{1755,658},{48,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,53}}</string>
    <key>sourceSize</key>
    <string>{48,53}</string>
   </dict>
   <key>skill_ani_93601_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{1633,509},{176,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{176,64}}</string>
    <key>sourceSize</key>
    <string>{176,64}</string>
   </dict>
   <key>skill_ani_93601_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{1565,402},{66,174}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,174}}</string>
    <key>sourceSize</key>
    <string>{66,174}</string>
   </dict>
   <key>skill_ani_93601_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{1984,409},{56,131}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,131}}</string>
    <key>sourceSize</key>
    <string>{56,131}</string>
   </dict>
   <key>skill_ani_93601_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{1755,575},{49,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,81}}</string>
    <key>sourceSize</key>
    <string>{49,81}</string>
   </dict>
   <key>skill_ani_93601_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{1322,664},{48,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,52}}</string>
    <key>sourceSize</key>
    <string>{48,52}</string>
   </dict>
   <key>skill_ani_93601_140.png</key>
   <dict>
    <key>frame</key>
    <string>{{2008,280},{34,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,36}}</string>
    <key>sourceSize</key>
    <string>{34,36}</string>
   </dict>
   <key>skill_ani_93601_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{1301,604},{87,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,58}}</string>
    <key>sourceSize</key>
    <string>{87,58}</string>
   </dict>
   <key>skill_ani_93601_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{1009,632},{81,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,53}}</string>
    <key>sourceSize</key>
    <string>{81,53}</string>
   </dict>
   <key>skill_ani_93601_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,646},{76,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,43}}</string>
    <key>sourceSize</key>
    <string>{76,43}</string>
   </dict>
   <key>skill_ani_93601_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{1512,664},{62,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,36}}</string>
    <key>sourceSize</key>
    <string>{62,36}</string>
   </dict>
   <key>skill_ani_93601_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{386,617},{58,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,82}}</string>
    <key>sourceSize</key>
    <string>{58,82}</string>
   </dict>
   <key>skill_ani_93601_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{1576,664},{54,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,38}}</string>
    <key>sourceSize</key>
    <string>{54,38}</string>
   </dict>
   <key>skill_ani_93601_142.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,346},{15,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,18}}</string>
    <key>sourceSize</key>
    <string>{15,18}</string>
   </dict>
   <key>skill_ani_93601_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{1227,478},{179,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{179,124}}</string>
    <key>sourceSize</key>
    <string>{179,124}</string>
   </dict>
   <key>skill_ani_93601_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{617,404},{195,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{195,151}}</string>
    <key>sourceSize</key>
    <string>{195,151}</string>
   </dict>
   <key>skill_ani_93601_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,406},{123,173}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{123,173}}</string>
    <key>sourceSize</key>
    <string>{123,173}</string>
   </dict>
   <key>skill_ani_93601_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{814,488},{98,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,178}}</string>
    <key>sourceSize</key>
    <string>{98,178}</string>
   </dict>
   <key>skill_ani_93601_83.png</key>
   <dict>
    <key>frame</key>
    <string>{{1565,222},{88,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,178}}</string>
    <key>sourceSize</key>
    <string>{88,178}</string>
   </dict>
   <key>skill_ani_93601_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{1145,270},{81,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,168}}</string>
    <key>sourceSize</key>
    <string>{81,168}</string>
   </dict>
   <key>skill_ani_93601_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{1040,488},{78,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,142}}</string>
    <key>sourceSize</key>
    <string>{78,142}</string>
   </dict>
   <key>skill_ani_93601_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{1969,542},{75,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,109}}</string>
    <key>sourceSize</key>
    <string>{75,109}</string>
   </dict>
   <key>skill_ani_93601_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{1120,587},{73,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,84}}</string>
    <key>sourceSize</key>
    <string>{73,84}</string>
   </dict>
   <key>skill_ani_93601_143.png</key>
   <dict>
    <key>frame</key>
    <string>{{2007,318},{34,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,35}}</string>
    <key>sourceSize</key>
    <string>{34,35}</string>
   </dict>
   <key>skill_ani_93601_144.png</key>
   <dict>
    <key>frame</key>
    <string>{{2002,355},{44,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,52}}</string>
    <key>sourceSize</key>
    <string>{44,52}</string>
   </dict>
   <key>skill_ani_93601_145.png</key>
   <dict>
    <key>frame</key>
    <string>{{1984,296},{21,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,29}}</string>
    <key>sourceSize</key>
    <string>{21,29}</string>
   </dict>
   <key>skill_ani_93601_146.png</key>
   <dict>
    <key>frame</key>
    <string>{{1984,364},{15,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,16}}</string>
    <key>sourceSize</key>
    <string>{15,16}</string>
   </dict>
   <key>skill_ani_93601_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{322,617},{62,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,80}}</string>
    <key>sourceSize</key>
    <string>{62,80}</string>
   </dict>
   <key>skill_ani_93601_82.png</key>
   <dict>
    <key>frame</key>
    <string>{{1195,656},{62,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,48}}</string>
    <key>sourceSize</key>
    <string>{62,48}</string>
   </dict>
   <key>skill_ani_93601_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,667},{67,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,28}}</string>
    <key>sourceSize</key>
    <string>{67,28}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_93601.png</string>
   <key>textureFileName</key>
   <string>skill_ani_93601.png</string>
   <key>size</key>
   <string>{2048,1024}</string>
  </dict>
 </dict>
</plist>