<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31461_1000.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,159},{24,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,15}}</string>
        <key>sourceSize</key>
        <string>{24,15}</string>
      </dict>
      <key>skill_ani_31461_1001.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,176},{24,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,15}}</string>
        <key>sourceSize</key>
        <string>{24,15}</string>
      </dict>
      <key>skill_ani_31461_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,62},{6,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,16}}</string>
        <key>sourceSize</key>
        <string>{6,16}</string>
      </dict>
      <key>skill_ani_31461_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,186},{21,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,17}}</string>
        <key>sourceSize</key>
        <string>{21,17}</string>
      </dict>
      <key>skill_ani_31461_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,188},{21,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,17}}</string>
        <key>sourceSize</key>
        <string>{21,17}</string>
      </dict>
      <key>skill_ani_31461_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,122},{19,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,6}}</string>
        <key>sourceSize</key>
        <string>{19,6}</string>
      </dict>
      <key>skill_ani_31461_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,169},{24,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,15}}</string>
        <key>sourceSize</key>
        <string>{24,15}</string>
      </dict>
      <key>skill_ani_31461_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,184},{24,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,15}}</string>
        <key>sourceSize</key>
        <string>{24,15}</string>
      </dict>
      <key>skill_ani_31461_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,62},{6,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,22}}</string>
        <key>sourceSize</key>
        <string>{6,22}</string>
      </dict>
      <key>skill_ani_31461_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,159},{62,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,40}}</string>
        <key>sourceSize</key>
        <string>{62,40}</string>
      </dict>
      <key>skill_ani_31461_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,191},{62,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,38}}</string>
        <key>sourceSize</key>
        <string>{62,38}</string>
      </dict>
      <key>skill_ani_31461_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,151},{64,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,38}}</string>
        <key>sourceSize</key>
        <string>{64,38}</string>
      </dict>
      <key>skill_ani_31461_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,201},{62,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,36}}</string>
        <key>sourceSize</key>
        <string>{62,36}</string>
      </dict>
      <key>skill_ani_31461_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,201},{62,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,34}}</string>
        <key>sourceSize</key>
        <string>{62,34}</string>
      </dict>
      <key>skill_ani_31461_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{120,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,60}</string>
      </dict>
      <key>skill_ani_31461_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_31461_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{58,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,58}}</string>
        <key>sourceSize</key>
        <string>{58,58}</string>
      </dict>
      <key>skill_ani_31461_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,109},{54,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,57}}</string>
        <key>sourceSize</key>
        <string>{54,57}</string>
      </dict>
      <key>skill_ani_31461_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,122},{51,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,54}}</string>
        <key>sourceSize</key>
        <string>{51,54}</string>
      </dict>
      <key>skill_ani_31461_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,122},{48,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,60}}</string>
        <key>sourceSize</key>
        <string>{48,60}</string>
      </dict>
      <key>skill_ani_31461_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,95},{42,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,72}}</string>
        <key>sourceSize</key>
        <string>{42,72}</string>
      </dict>
      <key>skill_ani_31461_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,82},{33,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,74}}</string>
        <key>sourceSize</key>
        <string>{33,74}</string>
      </dict>
      <key>skill_ani_31461_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,158},{33,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,54}}</string>
        <key>sourceSize</key>
        <string>{33,54}</string>
      </dict>
      <key>skill_ani_31461_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,169},{29,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,44}}</string>
        <key>sourceSize</key>
        <string>{29,44}</string>
      </dict>
      <key>skill_ani_31461_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,193},{21,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,11}}</string>
        <key>sourceSize</key>
        <string>{21,11}</string>
      </dict>
      <key>skill_ani_31461_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,184},{33,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,19}}</string>
        <key>sourceSize</key>
        <string>{33,19}</string>
      </dict>
      <key>skill_ani_31461_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,169},{34,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,24}}</string>
        <key>sourceSize</key>
        <string>{34,24}</string>
      </dict>
      <key>skill_ani_31461_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{163,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,107}}</string>
        <key>sourceSize</key>
        <string>{163,107}</string>
      </dict>
      <key>skill_ani_31461_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{128,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,93}}</string>
        <key>sourceSize</key>
        <string>{128,93}</string>
      </dict>
      <key>skill_ani_31461_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,95},{70,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,54}}</string>
        <key>sourceSize</key>
        <string>{70,54}</string>
      </dict>
      <key>skill_ani_31461_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,205},{69,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,18}}</string>
        <key>sourceSize</key>
        <string>{69,18}</string>
      </dict>
      <key>skill_ani_31461_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_31461_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,168},{50,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,25}}</string>
        <key>sourceSize</key>
        <string>{50,25}</string>
      </dict>
      <key>skill_ani_31461_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,178},{50,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,21}}</string>
        <key>sourceSize</key>
        <string>{50,21}</string>
      </dict>
      <key>skill_ani_31461_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,62},{100,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,58}}</string>
        <key>sourceSize</key>
        <string>{100,58}</string>
      </dict>
      <key>skill_ani_31461_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,0},{89,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,80}}</string>
        <key>sourceSize</key>
        <string>{89,80}</string>
      </dict>
      <key>skill_ani_31461_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,82},{69,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,75}}</string>
        <key>sourceSize</key>
        <string>{69,75}</string>
      </dict>
      <key>skill_ani_31461_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,151},{20,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,59}}</string>
        <key>sourceSize</key>
        <string>{20,59}</string>
      </dict>
      <key>skill_ani_31461_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,109},{27,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,77}}</string>
        <key>sourceSize</key>
        <string>{27,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31461.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31461.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>