<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_ani_32951_rs1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,20},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>skill_ani_32951_rs1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{39,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{39,16}}</string>
                <key>sourceSize</key>
                <string>{47,34}</string>
            </dict>
            <key>skill_ani_32951_rs1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{126,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,182}}</string>
                <key>sourceSize</key>
                <string>{126,182}</string>
            </dict>
            <key>skill_ani_32951_rs1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{108,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,151}}</string>
                <key>sourceSize</key>
                <string>{108,151}</string>
            </dict>
            <key>skill_ani_32951_rs1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,205}}</string>
                <key>sourceSize</key>
                <string>{136,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_ani_32951.png</string>
            <key>size</key>
            <string>{250,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c53cb8bf221086501f5372ecfddd48a$</string>
            <key>textureFileName</key>
            <string>skill_ani_32951.png</string>
        </dict>
    </dict>
</plist>
