<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_33299_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_33299_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,162},{60,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,133}}</string>
        <key>sourceSize</key>
        <string>{60,133}</string>
      </dict>
      <key>skill_ani_33299_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,0},{69,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,162}}</string>
        <key>sourceSize</key>
        <string>{69,162}</string>
      </dict>
      <key>skill_ani_33299_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,0},{75,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,160}}</string>
        <key>sourceSize</key>
        <string>{75,160}</string>
      </dict>
      <key>skill_ani_33299_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,0},{84,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,171}}</string>
        <key>sourceSize</key>
        <string>{84,171}</string>
      </dict>
      <key>skill_ani_33299_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{107,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,157}}</string>
        <key>sourceSize</key>
        <string>{107,157}</string>
      </dict>
      <key>skill_ani_33299_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{156,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,146}}</string>
        <key>sourceSize</key>
        <string>{156,146}</string>
      </dict>
      <key>skill_ani_33299_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,159},{105,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,116}}</string>
        <key>sourceSize</key>
        <string>{105,116}</string>
      </dict>
      <key>skill_ani_33299_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,148},{98,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,132}}</string>
        <key>sourceSize</key>
        <string>{98,132}</string>
      </dict>
      <key>skill_ani_33299_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,277},{157,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,47}}</string>
        <key>sourceSize</key>
        <string>{157,47}</string>
      </dict>
      <key>skill_ani_33299_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,173},{101,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,21}}</string>
        <key>sourceSize</key>
        <string>{101,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_33299.png</string>
      <key>textureFileName</key>
      <string>skill_ani_33299.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>