<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31486_999.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>skill_ani_31486_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,402},{136,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,76}}</string>
        <key>sourceSize</key>
        <string>{136,76}</string>
      </dict>
      <key>skill_ani_31486_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{156,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,70}}</string>
        <key>sourceSize</key>
        <string>{156,70}</string>
      </dict>
      <key>skill_ani_31486_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,302},{152,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,78}}</string>
        <key>sourceSize</key>
        <string>{152,78}</string>
      </dict>
      <key>skill_ani_31486_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,440},{132,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,68}}</string>
        <key>sourceSize</key>
        <string>{132,68}</string>
      </dict>
      <key>skill_ani_31486_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{174,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,300}}</string>
        <key>sourceSize</key>
        <string>{174,300}</string>
      </dict>
      <key>skill_ani_31486_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{100,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,180}}</string>
        <key>sourceSize</key>
        <string>{100,180}</string>
      </dict>
      <key>skill_ani_31486_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,230},{158,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,208}}</string>
        <key>sourceSize</key>
        <string>{158,208}</string>
      </dict>
      <key>skill_ani_31486_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,0},{200,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,228}}</string>
        <key>sourceSize</key>
        <string>{200,228}</string>
      </dict>
      <key>skill_ani_31486_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,182},{102,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,112}}</string>
        <key>sourceSize</key>
        <string>{102,112}</string>
      </dict>
      <key>skill_ani_31486_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,480},{84,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,94}}</string>
        <key>sourceSize</key>
        <string>{84,94}</string>
      </dict>
      <key>skill_ani_31486_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,296},{148,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,104}}</string>
        <key>sourceSize</key>
        <string>{148,104}</string>
      </dict>
      <key>skill_ani_31486_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,454},{104,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,96}}</string>
        <key>sourceSize</key>
        <string>{104,96}</string>
      </dict>
      <key>skill_ani_31486_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,480},{90,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,90}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>skill_ani_31486_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,454},{50,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,18}}</string>
        <key>sourceSize</key>
        <string>{50,18}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31486.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31486.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>