<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31382_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,35},{3,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,3}}</string>
        <key>sourceSize</key>
        <string>{3,3}</string>
      </dict>
      <key>skill_ani_31382_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,26}}</string>
        <key>sourceSize</key>
        <string>{30,26}</string>
      </dict>
      <key>skill_ani_31382_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,28},{16,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,30}}</string>
        <key>sourceSize</key>
        <string>{16,30}</string>
      </dict>
      <key>skill_ani_31382_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{26,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,28}}</string>
        <key>sourceSize</key>
        <string>{26,28}</string>
      </dict>
      <key>skill_ani_31382_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,0},{30,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,33}}</string>
        <key>sourceSize</key>
        <string>{30,33}</string>
      </dict>
      <key>skill_ani_31382_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{30,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,33}}</string>
        <key>sourceSize</key>
        <string>{30,33}</string>
      </dict>
      <key>skill_ani_31382_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,35},{23,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,8}}</string>
        <key>sourceSize</key>
        <string>{23,8}</string>
      </dict>
      <key>skill_ani_31382_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,30},{10,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,23}}</string>
        <key>sourceSize</key>
        <string>{10,23}</string>
      </dict>
      <key>skill_ani_31382_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,30},{8,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,24}}</string>
        <key>sourceSize</key>
        <string>{8,24}</string>
      </dict>
      <key>skill_ani_31382_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,30},{10,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,23}}</string>
        <key>sourceSize</key>
        <string>{10,23}</string>
      </dict>
      <key>skill_ani_31382_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,28},{10,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,23}}</string>
        <key>sourceSize</key>
        <string>{10,23}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31382.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31382.png</string>
      <key>size</key>
      <string>{128,64}</string>
    </dict>
  </dict>
</plist>