<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_32098_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,524},{93,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,165}}</string>
        <key>sourceSize</key>
        <string>{93,165}</string>
      </dict>
      <key>skill_ani_32098_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{377,377}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{377,377}}</string>
        <key>sourceSize</key>
        <string>{377,377}</string>
      </dict>
      <key>skill_ani_32098_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,486},{34,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,49}}</string>
        <key>sourceSize</key>
        <string>{34,49}</string>
      </dict>
      <key>skill_ani_32098_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,379},{59,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,48}}</string>
        <key>sourceSize</key>
        <string>{59,48}</string>
      </dict>
      <key>skill_ani_32098_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,452},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,14}}</string>
        <key>sourceSize</key>
        <string>{14,14}</string>
      </dict>
      <key>skill_ani_32098_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,429},{27,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,21}}</string>
        <key>sourceSize</key>
        <string>{27,21}</string>
      </dict>
      <key>skill_ani_32098_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,429},{42,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,55}}</string>
        <key>sourceSize</key>
        <string>{42,55}</string>
      </dict>
      <key>skill_ani_32098_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,481},{44,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,51}}</string>
        <key>sourceSize</key>
        <string>{44,51}</string>
      </dict>
      <key>skill_ani_32098_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,667},{127,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,55}}</string>
        <key>sourceSize</key>
        <string>{127,55}</string>
      </dict>
      <key>skill_ani_32098_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,379},{127,420}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,420}}</string>
        <key>sourceSize</key>
        <string>{127,420}</string>
      </dict>
      <key>skill_ani_32098_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,481},{118,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,429}}</string>
        <key>sourceSize</key>
        <string>{118,429}</string>
      </dict>
      <key>skill_ani_32098_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,0},{109,497}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,497}}</string>
        <key>sourceSize</key>
        <string>{109,497}</string>
      </dict>
      <key>skill_ani_32098_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,0},{167,522}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,522}}</string>
        <key>sourceSize</key>
        <string>{167,522}</string>
      </dict>
      <key>skill_ani_32098_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,0},{177,488}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{177,488}}</string>
        <key>sourceSize</key>
        <string>{177,488}</string>
      </dict>
      <key>skill_ani_32098_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,0},{182,479}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{182,479}}</string>
        <key>sourceSize</key>
        <string>{182,479}</string>
      </dict>
      <key>skill_ani_32098_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,499},{73,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,208}}</string>
        <key>sourceSize</key>
        <string>{73,208}</string>
      </dict>
      <key>skill_ani_32098_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,490},{175,175}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,175}}</string>
        <key>sourceSize</key>
        <string>{175,175}</string>
      </dict>
      <key>skill_ani_32098_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,379},{175,376}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,376}}</string>
        <key>sourceSize</key>
        <string>{175,376}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_32098.png</string>
      <key>textureFileName</key>
      <string>skill_ani_32098.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>