<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31243_021.png</key>
   <dict>
    <key>frame</key>
    <string>{{316,160},{64,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,28}}</string>
    <key>sourceSize</key>
    <string>{64,28}</string>
   </dict>
   <key>skill_ani_31243_029.png</key>
   <dict>
    <key>frame</key>
    <string>{{334,82},{76,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,76}}</string>
    <key>sourceSize</key>
    <string>{76,76}</string>
   </dict>
   <key>skill_ani_31243_028.png</key>
   <dict>
    <key>frame</key>
    <string>{{146,0},{92,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,92}}</string>
    <key>sourceSize</key>
    <string>{92,92}</string>
   </dict>
   <key>skill_ani_31243_027.png</key>
   <dict>
    <key>frame</key>
    <string>{{334,0},{80,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,80}}</string>
    <key>sourceSize</key>
    <string>{80,80}</string>
   </dict>
   <key>skill_ani_31243_036.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_31243_026.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,150},{24,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,26}}</string>
    <key>sourceSize</key>
    <string>{24,26}</string>
   </dict>
   <key>skill_ani_31243_025.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,122},{24,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,26}}</string>
    <key>sourceSize</key>
    <string>{24,26}</string>
   </dict>
   <key>skill_ani_31243_024.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,160},{24,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,26}}</string>
    <key>sourceSize</key>
    <string>{24,26}</string>
   </dict>
   <key>skill_ani_31243_022.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,94},{24,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,26}}</string>
    <key>sourceSize</key>
    <string>{24,26}</string>
   </dict>
   <key>skill_ani_31243_099.png</key>
   <dict>
    <key>frame</key>
    <string>{{504,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_31243_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{412,82},{76,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,76}}</string>
    <key>sourceSize</key>
    <string>{76,76}</string>
   </dict>
   <key>skill_ani_31243_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,0},{92,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,92}}</string>
    <key>sourceSize</key>
    <string>{92,92}</string>
   </dict>
   <key>skill_ani_31243_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,0},{80,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,80}}</string>
    <key>sourceSize</key>
    <string>{80,80}</string>
   </dict>
   <key>skill_ani_31243_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,94},{70,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,78}}</string>
    <key>sourceSize</key>
    <string>{70,78}</string>
   </dict>
   <key>skill_ani_31243_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{146,94},{70,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,78}}</string>
    <key>sourceSize</key>
    <string>{70,78}</string>
   </dict>
   <key>skill_ani_31243_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{144,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,168}}</string>
    <key>sourceSize</key>
    <string>{144,168}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31243.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31243.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>