<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>buff_ani_99904_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{127,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{127,95}}</string>
    <key>sourceSize</key>
    <string>{127,95}</string>
   </dict>
   <key>skill_ani_999041_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,0},{60,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,54}}</string>
    <key>sourceSize</key>
    <string>{60,54}</string>
   </dict>
   <key>skill_ani_999041_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{191,0},{54,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,50}}</string>
    <key>sourceSize</key>
    <string>{54,50}</string>
   </dict>
   <key>skill_ani_999041_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{191,52},{48,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,42}}</string>
    <key>sourceSize</key>
    <string>{48,42}</string>
   </dict>
   <key>skill_ani_999041_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{247,45},{3,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,3}}</string>
    <key>sourceSize</key>
    <string>{3,3}</string>
   </dict>
   <key>skill_ani_999041_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{247,29},{6,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,7}}</string>
    <key>sourceSize</key>
    <string>{6,7}</string>
   </dict>
   <key>skill_ani_999041_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{247,38},{6,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,5}}</string>
    <key>sourceSize</key>
    <string>{6,5}</string>
   </dict>
   <key>skill_ani_999041_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{155,76},{22,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,40}}</string>
    <key>sourceSize</key>
    <string>{22,40}</string>
   </dict>
   <key>skill_ani_999041_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,96},{20,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,40}}</string>
    <key>sourceSize</key>
    <string>{20,40}</string>
   </dict>
   <key>skill_ani_999041_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{179,96},{21,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,40}}</string>
    <key>sourceSize</key>
    <string>{21,40}</string>
   </dict>
   <key>skill_ani_999041_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,76},{24,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,40}}</string>
    <key>sourceSize</key>
    <string>{24,40}</string>
   </dict>
   <key>skill_ani_999041_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{247,11},{7,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,7}}</string>
    <key>sourceSize</key>
    <string>{7,7}</string>
   </dict>
   <key>skill_ani_999041_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{247,20},{6,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,7}}</string>
    <key>sourceSize</key>
    <string>{6,7}</string>
   </dict>
   <key>skill_ani_999041_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{247,0},{7,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,9}}</string>
    <key>sourceSize</key>
    <string>{7,9}</string>
   </dict>
   <key>skill_ani_999041_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,56},{53,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,18}}</string>
    <key>sourceSize</key>
    <string>{53,18}</string>
   </dict>
   <key>skill_ani_999041_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,45},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_999041.png</string>
   <key>textureFileName</key>
   <string>skill_ani_999041.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>