<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31485_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{924,0},{14,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,10}}</string>
    <key>sourceSize</key>
    <string>{14,10}</string>
   </dict>
   <key>skill_ani_31485_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,0},{306,284}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{306,284}}</string>
    <key>sourceSize</key>
    <string>{306,284}</string>
   </dict>
   <key>skill_ani_31485_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{616,0},{306,284}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{306,284}}</string>
    <key>sourceSize</key>
    <string>{306,284}</string>
   </dict>
   <key>skill_ani_31485_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,286},{306,284}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{306,284}}</string>
    <key>sourceSize</key>
    <string>{306,284}</string>
   </dict>
   <key>skill_ani_31485_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,286},{306,284}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{306,284}}</string>
    <key>sourceSize</key>
    <string>{306,284}</string>
   </dict>
   <key>skill_ani_31485_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{306,284}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{306,284}}</string>
    <key>sourceSize</key>
    <string>{306,284}</string>
   </dict>
   <key>skill_ani_31485_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{616,286},{158,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{158,78}}</string>
    <key>sourceSize</key>
    <string>{158,78}</string>
   </dict>
   <key>skill_ani_31485_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{776,286},{158,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{158,76}}</string>
    <key>sourceSize</key>
    <string>{158,76}</string>
   </dict>
   <key>skill_ani_31485_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{776,364},{154,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{154,76}}</string>
    <key>sourceSize</key>
    <string>{154,76}</string>
   </dict>
   <key>skill_ani_31485_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{616,366},{150,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,76}}</string>
    <key>sourceSize</key>
    <string>{150,76}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31485.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31485.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>