<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31095_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{997,90},{21,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,21}}</string>
    <key>sourceSize</key>
    <string>{21,21}</string>
   </dict>
   <key>skill_ani_31095_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1017,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>skill_ani_31095_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{725,195},{174,174}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{174,174}}</string>
    <key>sourceSize</key>
    <string>{174,174}</string>
   </dict>
   <key>skill_ani_31095_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,302},{123,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{123,123}}</string>
    <key>sourceSize</key>
    <string>{123,123}</string>
   </dict>
   <key>skill_ani_31095_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{125,302},{96,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,8}}</string>
    <key>sourceSize</key>
    <string>{96,8}</string>
   </dict>
   <key>skill_ani_31095_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,254},{197,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{197,130}}</string>
    <key>sourceSize</key>
    <string>{197,130}</string>
   </dict>
   <key>skill_ani_31095_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{920,0},{27,354}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,354}}</string>
    <key>sourceSize</key>
    <string>{27,354}</string>
   </dict>
   <key>skill_ani_31095_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{949,0},{22,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,127}}</string>
    <key>sourceSize</key>
    <string>{22,127}</string>
   </dict>
   <key>skill_ani_31095_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{973,0},{42,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,88}}</string>
    <key>sourceSize</key>
    <string>{42,88}</string>
   </dict>
   <key>skill_ani_31095_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{973,90},{22,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,84}}</string>
    <key>sourceSize</key>
    <string>{22,84}</string>
   </dict>
   <key>skill_ani_31095_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{556,0},{167,331}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,331}}</string>
    <key>sourceSize</key>
    <string>{167,331}</string>
   </dict>
   <key>skill_ani_31095_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{300,300}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,300}}</string>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>skill_ani_31095_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{725,0},{193,193}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{193,193}}</string>
    <key>sourceSize</key>
    <string>{193,193}</string>
   </dict>
   <key>skill_ani_31095_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,0},{252,252}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{252,252}}</string>
    <key>sourceSize</key>
    <string>{252,252}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31095.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31095.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>