<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31938_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{70,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>skill_ani_31938_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{63,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,65}}</string>
        <key>sourceSize</key>
        <string>{63,65}</string>
      </dict>
      <key>skill_ani_31938_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,76},{56,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>skill_ani_31938_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{65,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,74}}</string>
        <key>sourceSize</key>
        <string>{65,74}</string>
      </dict>
      <key>skill_ani_31938_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{60,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,75}}</string>
        <key>sourceSize</key>
        <string>{60,75}</string>
      </dict>
      <key>skill_ani_31938_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,0},{47,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,58}}</string>
        <key>sourceSize</key>
        <string>{47,58}</string>
      </dict>
      <key>skill_ani_31938_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,60},{23,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,21}}</string>
        <key>sourceSize</key>
        <string>{23,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31938.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31938.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>