<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31040_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,122},{94,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
      <key>skill_ani_31040_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{128,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,113}}</string>
        <key>sourceSize</key>
        <string>{128,113}</string>
      </dict>
      <key>skill_ani_31040_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{145,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,115}}</string>
        <key>sourceSize</key>
        <string>{145,115}</string>
      </dict>
      <key>skill_ani_31040_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{154,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,117}}</string>
        <key>sourceSize</key>
        <string>{154,117}</string>
      </dict>
      <key>skill_ani_31040_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{136,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,120}}</string>
        <key>sourceSize</key>
        <string>{136,120}</string>
      </dict>
      <key>skill_ani_31040_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,117},{136,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,112}}</string>
        <key>sourceSize</key>
        <string>{136,112}</string>
      </dict>
      <key>skill_ani_31040_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,122},{76,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,94}}</string>
        <key>sourceSize</key>
        <string>{76,94}</string>
      </dict>
      <key>skill_ani_31040_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,218},{76,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,94}}</string>
        <key>sourceSize</key>
        <string>{76,94}</string>
      </dict>
      <key>skill_ani_31040_199.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,218},{76,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,94}}</string>
        <key>sourceSize</key>
        <string>{76,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31040.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31040.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>