<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_95101_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,22},{52,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,32}}</string>
        <key>sourceSize</key>
        <string>{52,32}</string>
      </dict>
      <key>skill_ani_95101_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,59},{58,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,23}}</string>
        <key>sourceSize</key>
        <string>{58,23}</string>
      </dict>
      <key>skill_ani_95101_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{52,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,32}}</string>
        <key>sourceSize</key>
        <string>{52,32}</string>
      </dict>
      <key>skill_ani_95101_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,34},{58,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,23}}</string>
        <key>sourceSize</key>
        <string>{58,23}</string>
      </dict>
      <key>skill_ani_95101_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{64,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,20}}</string>
        <key>sourceSize</key>
        <string>{64,20}</string>
      </dict>
      <key>skill_ani_95101_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,34},{39,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,33}}</string>
        <key>sourceSize</key>
        <string>{39,33}</string>
      </dict>
      <key>skill_ani_95101_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,56},{39,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,33}}</string>
        <key>sourceSize</key>
        <string>{39,33}</string>
      </dict>
      <key>skill_ani_95101_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,83},{39,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,33}}</string>
        <key>sourceSize</key>
        <string>{39,33}</string>
      </dict>
      <key>skill_ani_95101_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_95101_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,81}}</string>
        <key>sourceSize</key>
        <string>{96,81}</string>
      </dict>
      <key>skill_ani_95101_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,69},{39,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,33}}</string>
        <key>sourceSize</key>
        <string>{39,33}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_95101.png</string>
      <key>textureFileName</key>
      <string>skill_ani_95101.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>