<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_96901_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{704,0},{195,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{195,137}}</string>
    <key>sourceSize</key>
    <string>{195,137}</string>
   </dict>
   <key>skill_ani_96901_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,0},{193,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{193,157}}</string>
    <key>sourceSize</key>
    <string>{193,157}</string>
   </dict>
   <key>skill_ani_96901_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,454},{97,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,97}}</string>
    <key>sourceSize</key>
    <string>{97,97}</string>
   </dict>
   <key>skill_ani_96901_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{782,271},{103,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,144}}</string>
    <key>sourceSize</key>
    <string>{103,144}</string>
   </dict>
   <key>skill_ani_96901_81.png</key>
   <dict>
    <key>frame</key>
    <string>{{1008,16},{13,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,8}}</string>
    <key>sourceSize</key>
    <string>{13,8}</string>
   </dict>
   <key>skill_ani_96901_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{993,329},{25,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,12}}</string>
    <key>sourceSize</key>
    <string>{25,12}</string>
   </dict>
   <key>skill_ani_96901_79.png</key>
   <dict>
    <key>frame</key>
    <string>{{993,314},{28,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,13}}</string>
    <key>sourceSize</key>
    <string>{28,13}</string>
   </dict>
   <key>skill_ani_96901_78.png</key>
   <dict>
    <key>frame</key>
    <string>{{640,322},{32,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,14}}</string>
    <key>sourceSize</key>
    <string>{32,14}</string>
   </dict>
   <key>skill_ani_96901_76.png</key>
   <dict>
    <key>frame</key>
    <string>{{640,338},{31,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,14}}</string>
    <key>sourceSize</key>
    <string>{31,14}</string>
   </dict>
   <key>skill_ani_96901_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{608,340},{30,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,13}}</string>
    <key>sourceSize</key>
    <string>{30,13}</string>
   </dict>
   <key>skill_ani_96901_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{642,159},{45,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,29}}</string>
    <key>sourceSize</key>
    <string>{45,29}</string>
   </dict>
   <key>skill_ani_96901_73.png</key>
   <dict>
    <key>frame</key>
    <string>{{876,202},{21,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,23}}</string>
    <key>sourceSize</key>
    <string>{21,23}</string>
   </dict>
   <key>skill_ani_96901_72.png</key>
   <dict>
    <key>frame</key>
    <string>{{642,190},{38,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,29}}</string>
    <key>sourceSize</key>
    <string>{38,29}</string>
   </dict>
   <key>skill_ani_96901_71.png</key>
   <dict>
    <key>frame</key>
    <string>{{964,314},{27,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,27}}</string>
    <key>sourceSize</key>
    <string>{27,27}</string>
   </dict>
   <key>skill_ani_96901_70.png</key>
   <dict>
    <key>frame</key>
    <string>{{682,190},{20,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,23}}</string>
    <key>sourceSize</key>
    <string>{20,23}</string>
   </dict>
   <key>skill_ani_96901_69.png</key>
   <dict>
    <key>frame</key>
    <string>{{1008,0},{11,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,14}}</string>
    <key>sourceSize</key>
    <string>{11,14}</string>
   </dict>
   <key>skill_ani_96901_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{1008,26},{5,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{5,5}}</string>
    <key>sourceSize</key>
    <string>{5,5}</string>
   </dict>
   <key>skill_ani_96901_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{608,308},{30,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,30}}</string>
    <key>sourceSize</key>
    <string>{30,30}</string>
   </dict>
   <key>skill_ani_96901_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{642,288},{34,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,32}}</string>
    <key>sourceSize</key>
    <string>{34,32}</string>
   </dict>
   <key>skill_ani_96901_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{642,254},{34,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,32}}</string>
    <key>sourceSize</key>
    <string>{34,32}</string>
   </dict>
   <key>skill_ani_96901_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{642,221},{35,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,31}}</string>
    <key>sourceSize</key>
    <string>{35,31}</string>
   </dict>
   <key>skill_ani_96901_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,308},{97,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,144}}</string>
    <key>sourceSize</key>
    <string>{97,144}</string>
   </dict>
   <key>skill_ani_96901_110.png</key>
   <dict>
    <key>frame</key>
    <string>{{678,271},{102,152}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,152}}</string>
    <key>sourceSize</key>
    <string>{102,152}</string>
   </dict>
   <key>skill_ani_96901_109.png</key>
   <dict>
    <key>frame</key>
    <string>{{900,159},{103,153}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,153}}</string>
    <key>sourceSize</key>
    <string>{103,153}</string>
   </dict>
   <key>skill_ani_96901_108.png</key>
   <dict>
    <key>frame</key>
    <string>{{901,0},{105,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{105,157}}</string>
    <key>sourceSize</key>
    <string>{105,157}</string>
   </dict>
   <key>skill_ani_96901_107.png</key>
   <dict>
    <key>frame</key>
    <string>{{876,139},{22,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,31}}</string>
    <key>sourceSize</key>
    <string>{22,31}</string>
   </dict>
   <key>skill_ani_96901_106.png</key>
   <dict>
    <key>frame</key>
    <string>{{782,417},{71,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,145}}</string>
    <key>sourceSize</key>
    <string>{71,145}</string>
   </dict>
   <key>skill_ani_96901_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{887,314},{75,155}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,155}}</string>
    <key>sourceSize</key>
    <string>{75,155}</string>
   </dict>
   <key>skill_ani_96901_2122.png</key>
   <dict>
    <key>frame</key>
    <string>{{1015,26},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>skill_ani_96901_932.png</key>
   <dict>
    <key>frame</key>
    <string>{{608,425},{104,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,90}}</string>
    <key>sourceSize</key>
    <string>{104,90}</string>
   </dict>
   <key>skill_ani_96901_930.png</key>
   <dict>
    <key>frame</key>
    <string>{{876,172},{18,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,28}}</string>
    <key>sourceSize</key>
    <string>{18,28}</string>
   </dict>
   <key>skill_ani_96901_933.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{507,647}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{507,647}}</string>
    <key>sourceSize</key>
    <string>{507,647}</string>
   </dict>
   <key>skill_ani_96901_89.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,159},{131,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{131,147}}</string>
    <key>sourceSize</key>
    <string>{131,147}</string>
   </dict>
   <key>skill_ani_96901_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{855,471},{114,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,65}}</string>
    <key>sourceSize</key>
    <string>{114,65}</string>
   </dict>
   <key>skill_ani_96901_931.png</key>
   <dict>
    <key>frame</key>
    <string>{{608,517},{74,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,55}}</string>
    <key>sourceSize</key>
    <string>{74,55}</string>
   </dict>
   <key>skill_ani_96901_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{704,139},{170,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{170,130}}</string>
    <key>sourceSize</key>
    <string>{170,130}</string>
   </dict>
   <key>skill_ani_96901_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{608,355},{67,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,64}}</string>
    <key>sourceSize</key>
    <string>{67,64}</string>
   </dict>
   <key>skill_ani_96901_112.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,649},{545,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{545,44}}</string>
    <key>sourceSize</key>
    <string>{545,44}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_96901.png</string>
   <key>textureFileName</key>
   <string>skill_ani_96901.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>