<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_32097_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,365},{95,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,90}}</string>
        <key>sourceSize</key>
        <string>{95,90}</string>
      </dict>
      <key>skill_ani_32097_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,401},{260,202}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,202}}</string>
        <key>sourceSize</key>
        <string>{260,202}</string>
      </dict>
      <key>skill_ani_32097_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,353},{119,340}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,340}}</string>
        <key>sourceSize</key>
        <string>{119,340}</string>
      </dict>
      <key>skill_ani_32097_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,0},{119,351}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,351}}</string>
        <key>sourceSize</key>
        <string>{119,351}</string>
      </dict>
      <key>skill_ani_32097_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,0},{115,362}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,362}}</string>
        <key>sourceSize</key>
        <string>{115,362}</string>
      </dict>
      <key>skill_ani_32097_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,0},{127,371}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,371}}</string>
        <key>sourceSize</key>
        <string>{127,371}</string>
      </dict>
      <key>skill_ani_32097_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,0},{137,379}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,379}}</string>
        <key>sourceSize</key>
        <string>{137,379}</string>
      </dict>
      <key>skill_ani_32097_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,0},{127,371}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,371}}</string>
        <key>sourceSize</key>
        <string>{127,371}</string>
      </dict>
      <key>skill_ani_32097_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,0},{138,363}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,363}}</string>
        <key>sourceSize</key>
        <string>{138,363}</string>
      </dict>
      <key>skill_ani_32097_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,364},{101,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,237}}</string>
        <key>sourceSize</key>
        <string>{101,237}</string>
      </dict>
      <key>skill_ani_32097_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,373},{91,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,26}}</string>
        <key>sourceSize</key>
        <string>{91,26}</string>
      </dict>
      <key>skill_ani_32097_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{218,508}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{218,508}}</string>
        <key>sourceSize</key>
        <string>{218,508}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_32097.png</string>
      <key>textureFileName</key>
      <string>skill_ani_32097.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>