<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31231_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,0},{16,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,13}}</string>
    <key>sourceSize</key>
    <string>{16,13}</string>
   </dict>
   <key>skill_ani_31231_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{57,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,40}}</string>
    <key>sourceSize</key>
    <string>{57,40}</string>
   </dict>
   <key>skill_ani_31231_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,141},{47,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,50}}</string>
    <key>sourceSize</key>
    <string>{47,50}</string>
   </dict>
   <key>skill_ani_31231_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,77},{47,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,62}}</string>
    <key>sourceSize</key>
    <string>{47,62}</string>
   </dict>
   <key>skill_ani_31231_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{283,80},{47,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,62}}</string>
    <key>sourceSize</key>
    <string>{47,62}</string>
   </dict>
   <key>skill_ani_31231_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{91,98},{42,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,61}}</string>
    <key>sourceSize</key>
    <string>{42,61}</string>
   </dict>
   <key>skill_ani_31231_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{245,75},{36,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,61}}</string>
    <key>sourceSize</key>
    <string>{36,61}</string>
   </dict>
   <key>skill_ani_31231_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{135,98},{38,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,60}}</string>
    <key>sourceSize</key>
    <string>{38,60}</string>
   </dict>
   <key>skill_ani_31231_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{448,141},{42,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,32}}</string>
    <key>sourceSize</key>
    <string>{42,32}</string>
   </dict>
   <key>skill_ani_31231_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{206,145},{32,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,27}}</string>
    <key>sourceSize</key>
    <string>{32,27}</string>
   </dict>
   <key>skill_ani_31231_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{332,118},{27,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,21}}</string>
    <key>sourceSize</key>
    <string>{27,21}</string>
   </dict>
   <key>skill_ani_31231_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{135,160},{21,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,21}}</string>
    <key>sourceSize</key>
    <string>{21,21}</string>
   </dict>
   <key>skill_ani_31231_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{332,141},{23,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,19}}</string>
    <key>sourceSize</key>
    <string>{23,19}</string>
   </dict>
   <key>skill_ani_31231_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,145},{29,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,34}}</string>
    <key>sourceSize</key>
    <string>{29,34}</string>
   </dict>
   <key>skill_ani_31231_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{332,80},{28,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,36}}</string>
    <key>sourceSize</key>
    <string>{28,36}</string>
   </dict>
   <key>skill_ani_31231_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{282,144},{31,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,39}}</string>
    <key>sourceSize</key>
    <string>{31,39}</string>
   </dict>
   <key>skill_ani_31231_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{59,132},{29,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,36}}</string>
    <key>sourceSize</key>
    <string>{29,36}</string>
   </dict>
   <key>skill_ani_31231_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{245,138},{35,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,42}}</string>
    <key>sourceSize</key>
    <string>{35,42}</string>
   </dict>
   <key>skill_ani_31231_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,141},{40,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,49}}</string>
    <key>sourceSize</key>
    <string>{40,49}</string>
   </dict>
   <key>skill_ani_31231_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,98},{89,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,32}}</string>
    <key>sourceSize</key>
    <string>{89,32}</string>
   </dict>
   <key>skill_ani_31231_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,15},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>skill_ani_31231_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{181,0},{100,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,73}}</string>
    <key>sourceSize</key>
    <string>{100,73}</string>
   </dict>
   <key>skill_ani_31231_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{90,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,96}}</string>
    <key>sourceSize</key>
    <string>{90,96}</string>
   </dict>
   <key>skill_ani_31231_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{92,0},{87,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,96}}</string>
    <key>sourceSize</key>
    <string>{87,96}</string>
   </dict>
   <key>skill_ani_31231_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{283,0},{77,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,78}}</string>
    <key>sourceSize</key>
    <string>{77,78}</string>
   </dict>
   <key>skill_ani_31231_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,0},{62,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,75}}</string>
    <key>sourceSize</key>
    <string>{62,75}</string>
   </dict>
   <key>skill_ani_31231_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{426,0},{64,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,69}}</string>
    <key>sourceSize</key>
    <string>{64,69}</string>
   </dict>
   <key>skill_ani_31231_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{426,71},{63,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,68}}</string>
    <key>sourceSize</key>
    <string>{63,68}</string>
   </dict>
   <key>skill_ani_31231_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{181,75},{62,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,68}}</string>
    <key>sourceSize</key>
    <string>{62,68}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31231.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31231.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>