<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31396_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,534},{188,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,188}}</string>
        <key>sourceSize</key>
        <string>{188,188}</string>
      </dict>
      <key>skill_ani_31396_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,622},{184,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,180}}</string>
        <key>sourceSize</key>
        <string>{184,180}</string>
      </dict>
      <key>skill_ani_31396_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,562},{184,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,184}}</string>
        <key>sourceSize</key>
        <string>{184,184}</string>
      </dict>
      <key>skill_ani_31396_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{1132,470},{192,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,188}}</string>
        <key>sourceSize</key>
        <string>{192,188}</string>
      </dict>
      <key>skill_ani_31396_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{1508,650},{180,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,184}}</string>
        <key>sourceSize</key>
        <string>{180,184}</string>
      </dict>
      <key>skill_ani_31396_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,310},{172,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,184}}</string>
        <key>sourceSize</key>
        <string>{172,184}</string>
      </dict>
      <key>skill_ani_31396_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{1326,644},{180,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,184}}</string>
        <key>sourceSize</key>
        <string>{180,184}</string>
      </dict>
      <key>skill_ani_31396_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{1744,0},{258,258}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{258,258}}</string>
        <key>sourceSize</key>
        <string>{258,258}</string>
      </dict>
      <key>skill_ani_31396_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,562},{254,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{254,114}}</string>
        <key>sourceSize</key>
        <string>{254,114}</string>
      </dict>
      <key>skill_ani_31396_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{1134,272},{252,196}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{252,196}}</string>
        <key>sourceSize</key>
        <string>{252,196}</string>
      </dict>
      <key>skill_ani_31396_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{1438,0},{304,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{304,224}}</string>
        <key>sourceSize</key>
        <string>{304,224}</string>
      </dict>
      <key>skill_ani_31396_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{1698,260},{278,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{278,186}}</string>
        <key>sourceSize</key>
        <string>{278,186}</string>
      </dict>
      <key>skill_ani_31396_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,352},{240,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,188}}</string>
        <key>sourceSize</key>
        <string>{240,188}</string>
      </dict>
      <key>skill_ani_31396_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{2010,0},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>skill_ani_31396_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{1610,572},{290,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{290,76}}</string>
        <key>sourceSize</key>
        <string>{290,76}</string>
      </dict>
      <key>skill_ani_31396_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{1610,448},{282,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{282,122}}</string>
        <key>sourceSize</key>
        <string>{282,122}</string>
      </dict>
      <key>skill_ani_31396_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{1134,0},{302,270}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{302,270}}</string>
        <key>sourceSize</key>
        <string>{302,270}</string>
      </dict>
      <key>skill_ani_31396_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,310},{194,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,250}}</string>
        <key>sourceSize</key>
        <string>{194,250}</string>
      </dict>
      <key>skill_ani_31396_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{1690,650},{194,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,160}}</string>
        <key>sourceSize</key>
        <string>{194,160}</string>
      </dict>
      <key>skill_ani_31396_999.png</key>
      <dict>
        <key>frame</key>
        <string>{{2004,0},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>skill_ani_31396_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,352},{76,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,96}}</string>
        <key>sourceSize</key>
        <string>{76,96}</string>
      </dict>
      <key>skill_ani_31396_593.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,678},{222,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{222,124}}</string>
        <key>sourceSize</key>
        <string>{222,124}</string>
      </dict>
      <key>skill_ani_31396_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,352},{118,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,86}}</string>
        <key>sourceSize</key>
        <string>{118,86}</string>
      </dict>
      <key>skill_ani_31396_592.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,542},{296,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,78}}</string>
        <key>sourceSize</key>
        <string>{296,78}</string>
      </dict>
      <key>skill_ani_31396_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,0},{378,350}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,350}}</string>
        <key>sourceSize</key>
        <string>{378,350}</string>
      </dict>
      <key>skill_ani_31396_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{380,350}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,350}}</string>
        <key>sourceSize</key>
        <string>{380,350}</string>
      </dict>
      <key>skill_ani_31396_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,0},{370,308}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{370,308}}</string>
        <key>sourceSize</key>
        <string>{370,308}</string>
      </dict>
      <key>skill_ani_31396_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{1438,226},{258,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{258,216}}</string>
        <key>sourceSize</key>
        <string>{258,216}</string>
      </dict>
      <key>skill_ani_31396_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{1388,444},{220,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,198}}</string>
        <key>sourceSize</key>
        <string>{220,198}</string>
      </dict>
      <key>skill_ani_31396_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,352},{248,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,180}}</string>
        <key>sourceSize</key>
        <string>{248,180}</string>
      </dict>
      <key>skill_ani_31396_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,534},{176,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,134}}</string>
        <key>sourceSize</key>
        <string>{176,134}</string>
      </dict>
      <key>skill_ani_31396_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{1108,660},{192,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,128}}</string>
        <key>sourceSize</key>
        <string>{192,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31396.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31396.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
    </dict>
  </dict>
</plist>