<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31151_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{612,242},{42,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,54}}</string>
    <key>sourceSize</key>
    <string>{42,54}</string>
   </dict>
   <key>skill_ani_31151_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,114},{86,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,112}}</string>
    <key>sourceSize</key>
    <string>{86,112}</string>
   </dict>
   <key>skill_ani_31151_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{318,342},{90,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,106}}</string>
    <key>sourceSize</key>
    <string>{90,106}</string>
   </dict>
   <key>skill_ani_31151_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{676,302},{114,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,120}}</string>
    <key>sourceSize</key>
    <string>{114,120}</string>
   </dict>
   <key>skill_ani_31151_504.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,408},{78,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,88}}</string>
    <key>sourceSize</key>
    <string>{78,88}</string>
   </dict>
   <key>skill_ani_31151_503.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,208},{52,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,106}}</string>
    <key>sourceSize</key>
    <string>{52,106}</string>
   </dict>
   <key>skill_ani_31151_500.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,390},{140,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,56}}</string>
    <key>sourceSize</key>
    <string>{140,56}</string>
   </dict>
   <key>skill_ani_31151_201.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,228},{68,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,112}}</string>
    <key>sourceSize</key>
    <string>{68,112}</string>
   </dict>
   <key>skill_ani_31151_300.png</key>
   <dict>
    <key>frame</key>
    <string>{{612,128},{70,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,112}}</string>
    <key>sourceSize</key>
    <string>{70,112}</string>
   </dict>
   <key>skill_ani_31151_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{1008,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_31151_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{1002,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_31151_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{194,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{194,206}}</string>
    <key>sourceSize</key>
    <string>{194,206}</string>
   </dict>
   <key>skill_ani_31151_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{438,128},{172,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{172,128}}</string>
    <key>sourceSize</key>
    <string>{172,128}</string>
   </dict>
   <key>skill_ani_31151_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{552,298},{122,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,116}}</string>
    <key>sourceSize</key>
    <string>{122,116}</string>
   </dict>
   <key>skill_ani_31151_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,340},{142,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{142,116}}</string>
    <key>sourceSize</key>
    <string>{142,116}</string>
   </dict>
   <key>skill_ani_31151_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,0},{258,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{258,112}}</string>
    <key>sourceSize</key>
    <string>{258,112}</string>
   </dict>
   <key>skill_ani_31151_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,114},{152,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{152,160}}</string>
    <key>sourceSize</key>
    <string>{152,160}</string>
   </dict>
   <key>skill_ani_31151_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{694,0},{152,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{152,160}}</string>
    <key>sourceSize</key>
    <string>{152,160}</string>
   </dict>
   <key>skill_ani_31151_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{848,0},{152,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{152,160}}</string>
    <key>sourceSize</key>
    <string>{152,160}</string>
   </dict>
   <key>skill_ani_31151_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,208},{130,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,130}}</string>
    <key>sourceSize</key>
    <string>{130,130}</string>
   </dict>
   <key>skill_ani_31151_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{818,282},{130,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,130}}</string>
    <key>sourceSize</key>
    <string>{130,130}</string>
   </dict>
   <key>skill_ani_31151_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,258},{130,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,130}}</string>
    <key>sourceSize</key>
    <string>{130,130}</string>
   </dict>
   <key>skill_ani_31151_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,276},{130,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,130}}</string>
    <key>sourceSize</key>
    <string>{130,130}</string>
   </dict>
   <key>skill_ani_31151_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,0},{236,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{236,126}}</string>
    <key>sourceSize</key>
    <string>{236,126}</string>
   </dict>
   <key>skill_ani_31151_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,162},{132,138}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{132,138}}</string>
    <key>sourceSize</key>
    <string>{132,138}</string>
   </dict>
   <key>skill_ani_31151_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{818,162},{164,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{164,118}}</string>
    <key>sourceSize</key>
    <string>{164,118}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31151.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31151.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>