<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_92401_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,134},{24,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,30}}</string>
    <key>sourceSize</key>
    <string>{24,30}</string>
   </dict>
   <key>skill_ani_92401_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,286},{46,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,58}}</string>
    <key>sourceSize</key>
    <string>{46,58}</string>
   </dict>
   <key>skill_ani_92401_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{947,262},{57,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,60}}</string>
    <key>sourceSize</key>
    <string>{57,60}</string>
   </dict>
   <key>skill_ani_92401_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{109,267},{57,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,60}}</string>
    <key>sourceSize</key>
    <string>{57,60}</string>
   </dict>
   <key>skill_ani_92401_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{990,132},{26,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,42}}</string>
    <key>sourceSize</key>
    <string>{26,42}</string>
   </dict>
   <key>skill_ani_92401_56.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,210},{62,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,74}}</string>
    <key>sourceSize</key>
    <string>{62,74}</string>
   </dict>
   <key>skill_ani_92401_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{124,138},{43,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,56}}</string>
    <key>sourceSize</key>
    <string>{43,56}</string>
   </dict>
   <key>skill_ani_92401_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{666,268},{76,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,60}}</string>
    <key>sourceSize</key>
    <string>{76,60}</string>
   </dict>
   <key>skill_ani_92401_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,222},{70,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,62}}</string>
    <key>sourceSize</key>
    <string>{70,62}</string>
   </dict>
   <key>skill_ani_92401_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{744,268},{66,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,48}}</string>
    <key>sourceSize</key>
    <string>{66,48}</string>
   </dict>
   <key>skill_ani_92401_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{606,272},{48,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,61}}</string>
    <key>sourceSize</key>
    <string>{48,61}</string>
   </dict>
   <key>skill_ani_92401_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,76},{70,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,72}}</string>
    <key>sourceSize</key>
    <string>{70,72}</string>
   </dict>
   <key>skill_ani_92401_49.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,150},{66,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,70}}</string>
    <key>sourceSize</key>
    <string>{66,70}</string>
   </dict>
   <key>skill_ani_92401_48.png</key>
   <dict>
    <key>frame</key>
    <string>{{550,272},{54,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,60}}</string>
    <key>sourceSize</key>
    <string>{54,60}</string>
   </dict>
   <key>skill_ani_92401_67.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,210},{117,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{117,112}}</string>
    <key>sourceSize</key>
    <string>{117,112}</string>
   </dict>
   <key>skill_ani_92401_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,138},{122,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,127}}</string>
    <key>sourceSize</key>
    <string>{122,127}</string>
   </dict>
   <key>skill_ani_92401_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{170,134},{123,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{123,132}}</string>
    <key>sourceSize</key>
    <string>{123,132}</string>
   </dict>
   <key>skill_ani_92401_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{710,134},{123,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{123,132}}</string>
    <key>sourceSize</key>
    <string>{123,132}</string>
   </dict>
   <key>skill_ani_92401_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{554,138},{110,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,132}}</string>
    <key>sourceSize</key>
    <string>{110,132}</string>
   </dict>
   <key>skill_ani_92401_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,267},{107,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,101}}</string>
    <key>sourceSize</key>
    <string>{107,101}</string>
   </dict>
   <key>skill_ani_92401_47.png</key>
   <dict>
    <key>frame</key>
    <string>{{860,0},{146,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,130}}</string>
    <key>sourceSize</key>
    <string>{146,130}</string>
   </dict>
   <key>skill_ani_92401_46.png</key>
   <dict>
    <key>frame</key>
    <string>{{710,0},{148,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,132}}</string>
    <key>sourceSize</key>
    <string>{148,132}</string>
   </dict>
   <key>skill_ani_92401_45.png</key>
   <dict>
    <key>frame</key>
    <string>{{558,0},{150,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,136}}</string>
    <key>sourceSize</key>
    <string>{150,136}</string>
   </dict>
   <key>skill_ani_92401_43.png</key>
   <dict>
    <key>frame</key>
    <string>{{336,76},{144,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,132}}</string>
    <key>sourceSize</key>
    <string>{144,132}</string>
   </dict>
   <key>skill_ani_92401_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{168,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{168,136}}</string>
    <key>sourceSize</key>
    <string>{168,136}</string>
   </dict>
   <key>skill_ani_92401_44.png</key>
   <dict>
    <key>frame</key>
    <string>{{170,0},{164,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{164,132}}</string>
    <key>sourceSize</key>
    <string>{164,132}</string>
   </dict>
   <key>skill_ani_92401_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{835,262},{110,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,98}}</string>
    <key>sourceSize</key>
    <string>{110,98}</string>
   </dict>
   <key>skill_ani_92401_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{1012,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>skill_ani_92401_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{168,268},{94,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,94}}</string>
    <key>sourceSize</key>
    <string>{94,94}</string>
   </dict>
   <key>skill_ani_92401_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{860,132},{128,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,128}}</string>
    <key>sourceSize</key>
    <string>{128,128}</string>
   </dict>
   <key>skill_ani_92401_022.png</key>
   <dict>
    <key>frame</key>
    <string>{{1008,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>skill_ani_92401_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{336,0},{220,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{220,74}}</string>
    <key>sourceSize</key>
    <string>{220,74}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_92401.png</string>
   <key>textureFileName</key>
   <string>skill_ani_92401.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>