<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>buff_ani_31283_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{394,158},{60,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,58}}</string>
    <key>sourceSize</key>
    <string>{60,58}</string>
   </dict>
   <key>buff_ani_31283_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{486,150},{20,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,20}}</string>
    <key>sourceSize</key>
    <string>{20,20}</string>
   </dict>
   <key>skill_ani_31283_61.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,140},{28,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,32}}</string>
    <key>sourceSize</key>
    <string>{28,32}</string>
   </dict>
   <key>skill_ani_31283_60.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,150},{28,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,32}}</string>
    <key>sourceSize</key>
    <string>{28,32}</string>
   </dict>
   <key>skill_ani_31283_59.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,98},{40,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,24}}</string>
    <key>sourceSize</key>
    <string>{40,24}</string>
   </dict>
   <key>skill_ani_31283_58.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,124},{40,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,24}}</string>
    <key>sourceSize</key>
    <string>{40,24}</string>
   </dict>
   <key>skill_ani_31283_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,114},{40,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,24}}</string>
    <key>sourceSize</key>
    <string>{40,24}</string>
   </dict>
   <key>skill_ani_31283_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{394,0},{114,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,96}}</string>
    <key>sourceSize</key>
    <string>{114,96}</string>
   </dict>
   <key>skill_ani_31281_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,98},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_31283_62.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,114},{148,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,114}}</string>
    <key>sourceSize</key>
    <string>{148,114}</string>
   </dict>
   <key>skill_ani_31283_66.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{192,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{192,112}}</string>
    <key>sourceSize</key>
    <string>{192,112}</string>
   </dict>
   <key>skill_ani_31283_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,0},{198,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{198,102}}</string>
    <key>sourceSize</key>
    <string>{198,102}</string>
   </dict>
   <key>skill_ani_31283_64.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,104},{198,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{198,98}}</string>
    <key>sourceSize</key>
    <string>{198,98}</string>
   </dict>
   <key>skill_ani_31283_63.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,204},{126,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{126,54}}</string>
    <key>sourceSize</key>
    <string>{126,54}</string>
   </dict>
   <key>skill_ani_31283_74.png</key>
   <dict>
    <key>frame</key>
    <string>{{504,98},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_31283_75.png</key>
   <dict>
    <key>frame</key>
    <string>{{394,98},{60,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,58}}</string>
    <key>sourceSize</key>
    <string>{60,58}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31283.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31283.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>