<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31008_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,58},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>skill_ani_31008_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,142},{148,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,140}}</string>
        <key>sourceSize</key>
        <string>{148,140}</string>
      </dict>
      <key>skill_ani_31008_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{148,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,140}}</string>
        <key>sourceSize</key>
        <string>{148,140}</string>
      </dict>
      <key>skill_ani_31008_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,142},{148,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,140}}</string>
        <key>sourceSize</key>
        <string>{148,140}</string>
      </dict>
      <key>skill_ani_31008_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{148,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,140}}</string>
        <key>sourceSize</key>
        <string>{148,140}</string>
      </dict>
      <key>skill_ani_31008_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,142},{148,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,140}}</string>
        <key>sourceSize</key>
        <string>{148,140}</string>
      </dict>
      <key>skill_ani_31008_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{148,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,140}}</string>
        <key>sourceSize</key>
        <string>{148,140}</string>
      </dict>
      <key>skill_ani_31008_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{148,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,140}}</string>
        <key>sourceSize</key>
        <string>{148,140}</string>
      </dict>
      <key>skill_ani_31008_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,56}}</string>
        <key>sourceSize</key>
        <string>{56,56}</string>
      </dict>
      <key>skill_ani_31008_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,58},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>skill_ani_31008_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,284},{76,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,70}}</string>
        <key>sourceSize</key>
        <string>{76,70}</string>
      </dict>
      <key>skill_ani_31008_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,284},{76,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,70}}</string>
        <key>sourceSize</key>
        <string>{76,70}</string>
      </dict>
      <key>skill_ani_31008_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,284},{76,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,70}}</string>
        <key>sourceSize</key>
        <string>{76,70}</string>
      </dict>
      <key>skill_ani_31008_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,356},{76,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,70}}</string>
        <key>sourceSize</key>
        <string>{76,70}</string>
      </dict>
      <key>skill_ani_31008_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,284},{76,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,70}}</string>
        <key>sourceSize</key>
        <string>{76,70}</string>
      </dict>
      <key>skill_ani_31008_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,58},{48,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,36}}</string>
        <key>sourceSize</key>
        <string>{48,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31008.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31008.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>