<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31133_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,74},{72,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
      <key>skill_ani_31133_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,80},{72,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
      <key>skill_ani_31133_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,0},{64,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,42}}</string>
        <key>sourceSize</key>
        <string>{64,42}</string>
      </dict>
      <key>skill_ani_31133_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,44},{62,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,34}}</string>
        <key>sourceSize</key>
        <string>{62,34}</string>
      </dict>
      <key>skill_ani_31133_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,142},{60,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,34}}</string>
        <key>sourceSize</key>
        <string>{60,34}</string>
      </dict>
      <key>skill_ani_31133_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,68},{94,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,108}}</string>
        <key>sourceSize</key>
        <string>{94,108}</string>
      </dict>
      <key>skill_ani_31133_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,70},{92,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,106}}</string>
        <key>sourceSize</key>
        <string>{92,106}</string>
      </dict>
      <key>skill_ani_31133_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{152,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,68}}</string>
        <key>sourceSize</key>
        <string>{152,68}</string>
      </dict>
      <key>skill_ani_31133_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,0},{144,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,72}}</string>
        <key>sourceSize</key>
        <string>{144,72}</string>
      </dict>
      <key>skill_ani_31133_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{138,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,66}}</string>
        <key>sourceSize</key>
        <string>{138,66}</string>
      </dict>
      <key>skill_ani_31133_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,74},{128,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,66}}</string>
        <key>sourceSize</key>
        <string>{128,66}</string>
      </dict>
      <key>skill_ani_31133_199.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31133.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31133.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>