<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31391_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,261},{57,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,56}}</string>
    <key>sourceSize</key>
    <string>{57,56}</string>
   </dict>
   <key>skill_ani_31391_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,250},{65,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,58}}</string>
    <key>sourceSize</key>
    <string>{65,58}</string>
   </dict>
   <key>skill_ani_31391_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,205},{66,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,60}}</string>
    <key>sourceSize</key>
    <string>{66,60}</string>
   </dict>
   <key>skill_ani_31391_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,250},{66,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,59}}</string>
    <key>sourceSize</key>
    <string>{66,59}</string>
   </dict>
   <key>skill_ani_31391_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{135,261},{61,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,58}}</string>
    <key>sourceSize</key>
    <string>{61,58}</string>
   </dict>
   <key>skill_ani_31391_252.png</key>
   <dict>
    <key>frame</key>
    <string>{{508,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>skill_ani_31391_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{274,0},{129,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{129,133}}</string>
    <key>sourceSize</key>
    <string>{129,133}</string>
   </dict>
   <key>skill_ani_31391_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{137,135},{129,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{129,124}}</string>
    <key>sourceSize</key>
    <string>{129,124}</string>
   </dict>
   <key>skill_ani_31391_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{268,135},{118,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,124}}</string>
    <key>sourceSize</key>
    <string>{118,124}</string>
   </dict>
   <key>skill_ani_31391_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,138},{118,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,110}}</string>
    <key>sourceSize</key>
    <string>{118,110}</string>
   </dict>
   <key>skill_ani_31391_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{137,0},{135,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{135,133}}</string>
    <key>sourceSize</key>
    <string>{135,133}</string>
   </dict>
   <key>skill_ani_31391_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{405,0},{101,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,110}}</string>
    <key>sourceSize</key>
    <string>{101,110}</string>
   </dict>
   <key>skill_ani_31391_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{135,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{135,136}}</string>
    <key>sourceSize</key>
    <string>{135,136}</string>
   </dict>
   <key>skill_ani_31391_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{405,112},{101,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,91}}</string>
    <key>sourceSize</key>
    <string>{101,91}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31391.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31391.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>