<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31500_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,0},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{1,1}}</string>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>skill_ani_31500_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,170},{82,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,72}}</string>
    <key>sourceSize</key>
    <string>{82,72}</string>
   </dict>
   <key>skill_ani_31500_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{106,188},{83,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,67}}</string>
    <key>sourceSize</key>
    <string>{83,67}</string>
   </dict>
   <key>skill_ani_31500_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,0},{106,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,96}}</string>
    <key>sourceSize</key>
    <string>{106,96}</string>
   </dict>
   <key>skill_ani_31500_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,115},{140,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,53}}</string>
    <key>sourceSize</key>
    <string>{140,53}</string>
   </dict>
   <key>skill_ani_31500_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{140,113}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,113}}</string>
    <key>sourceSize</key>
    <string>{140,113}</string>
   </dict>
   <key>skill_ani_31500_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{84,170},{20,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,20}}</string>
    <key>sourceSize</key>
    <string>{20,20}</string>
   </dict>
   <key>skill_ani_31500_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,98},{8,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,117}}</string>
    <key>sourceSize</key>
    <string>{8,117}</string>
   </dict>
   <key>skill_ani_31500_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,244},{92,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,35}}</string>
    <key>sourceSize</key>
    <string>{92,35}</string>
   </dict>
   <key>skill_ani_31500_885.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,98},{84,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,88}}</string>
    <key>sourceSize</key>
    <string>{84,88}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31500.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31500.png</string>
   <key>size</key>
   <string>{256,512}</string>
  </dict>
 </dict>
</plist>