<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_35052_154.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,336},{74,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,98}}</string>
    <key>sourceSize</key>
    <string>{74,98}</string>
   </dict>
   <key>skill_ani_35052_153.png</key>
   <dict>
    <key>frame</key>
    <string>{{486,336},{74,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,98}}</string>
    <key>sourceSize</key>
    <string>{74,98}</string>
   </dict>
   <key>skill_ani_35052_152.png</key>
   <dict>
    <key>frame</key>
    <string>{{910,366},{74,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,98}}</string>
    <key>sourceSize</key>
    <string>{74,98}</string>
   </dict>
   <key>skill_ani_35052_151.png</key>
   <dict>
    <key>frame</key>
    <string>{{76,248},{74,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,102}}</string>
    <key>sourceSize</key>
    <string>{74,102}</string>
   </dict>
   <key>skill_ani_35052_150.png</key>
   <dict>
    <key>frame</key>
    <string>{{334,162},{74,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,102}}</string>
    <key>sourceSize</key>
    <string>{74,102}</string>
   </dict>
   <key>skill_ani_35052_149.png</key>
   <dict>
    <key>frame</key>
    <string>{{328,266},{74,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,100}}</string>
    <key>sourceSize</key>
    <string>{74,100}</string>
   </dict>
   <key>skill_ani_35052_148.png</key>
   <dict>
    <key>frame</key>
    <string>{{620,314},{74,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,100}}</string>
    <key>sourceSize</key>
    <string>{74,100}</string>
   </dict>
   <key>skill_ani_35052_117.png</key>
   <dict>
    <key>frame</key>
    <string>{{676,0},{204,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{204,56}}</string>
    <key>sourceSize</key>
    <string>{204,56}</string>
   </dict>
   <key>skill_ani_35052_124.png</key>
   <dict>
    <key>frame</key>
    <string>{{758,330},{74,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,98}}</string>
    <key>sourceSize</key>
    <string>{74,98}</string>
   </dict>
   <key>skill_ani_35052_123.png</key>
   <dict>
    <key>frame</key>
    <string>{{76,352},{74,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,98}}</string>
    <key>sourceSize</key>
    <string>{74,98}</string>
   </dict>
   <key>skill_ani_35052_122.png</key>
   <dict>
    <key>frame</key>
    <string>{{834,366},{74,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,98}}</string>
    <key>sourceSize</key>
    <string>{74,98}</string>
   </dict>
   <key>skill_ani_35052_121.png</key>
   <dict>
    <key>frame</key>
    <string>{{758,226},{74,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,102}}</string>
    <key>sourceSize</key>
    <string>{74,102}</string>
   </dict>
   <key>skill_ani_35052_120.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,180},{74,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,102}}</string>
    <key>sourceSize</key>
    <string>{74,102}</string>
   </dict>
   <key>skill_ani_35052_119.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,254},{74,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,100}}</string>
    <key>sourceSize</key>
    <string>{74,100}</string>
   </dict>
   <key>skill_ani_35052_118.png</key>
   <dict>
    <key>frame</key>
    <string>{{910,264},{74,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,100}}</string>
    <key>sourceSize</key>
    <string>{74,100}</string>
   </dict>
   <key>skill_ani_35052_132.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,336},{74,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,98}}</string>
    <key>sourceSize</key>
    <string>{74,98}</string>
   </dict>
   <key>skill_ani_35052_131.png</key>
   <dict>
    <key>frame</key>
    <string>{{404,356},{74,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,98}}</string>
    <key>sourceSize</key>
    <string>{74,98}</string>
   </dict>
   <key>skill_ani_35052_130.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,368},{74,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,98}}</string>
    <key>sourceSize</key>
    <string>{74,98}</string>
   </dict>
   <key>skill_ani_35052_129.png</key>
   <dict>
    <key>frame</key>
    <string>{{544,232},{74,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,102}}</string>
    <key>sourceSize</key>
    <string>{74,102}</string>
   </dict>
   <key>skill_ani_35052_128.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,232},{74,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,102}}</string>
    <key>sourceSize</key>
    <string>{74,102}</string>
   </dict>
   <key>skill_ani_35052_127.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,284},{74,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,100}}</string>
    <key>sourceSize</key>
    <string>{74,100}</string>
   </dict>
   <key>skill_ani_35052_126.png</key>
   <dict>
    <key>frame</key>
    <string>{{834,264},{74,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,100}}</string>
    <key>sourceSize</key>
    <string>{74,100}</string>
   </dict>
   <key>skill_ani_35052_106.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,436},{82,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,72}}</string>
    <key>sourceSize</key>
    <string>{82,72}</string>
   </dict>
   <key>skill_ani_35052_105.png</key>
   <dict>
    <key>frame</key>
    <string>{{76,180},{124,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,66}}</string>
    <key>sourceSize</key>
    <string>{124,66}</string>
   </dict>
   <key>skill_ani_35052_104.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,166},{112,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{112,64}}</string>
    <key>sourceSize</key>
    <string>{112,64}</string>
   </dict>
   <key>skill_ani_35052_103.png</key>
   <dict>
    <key>frame</key>
    <string>{{544,160},{116,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,70}}</string>
    <key>sourceSize</key>
    <string>{116,70}</string>
   </dict>
   <key>skill_ani_35052_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{876,200},{122,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,62}}</string>
    <key>sourceSize</key>
    <string>{122,62}</string>
   </dict>
   <key>skill_ani_35052_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{758,160},{116,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,64}}</string>
    <key>sourceSize</key>
    <string>{116,64}</string>
   </dict>
   <key>skill_ani_35052_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{620,248},{110,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,64}}</string>
    <key>sourceSize</key>
    <string>{110,64}</string>
   </dict>
   <key>skill_ani_35052_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{562,416},{104,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,58}}</string>
    <key>sourceSize</key>
    <string>{104,58}</string>
   </dict>
   <key>skill_ani_35052_98.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,456},{94,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,66}}</string>
    <key>sourceSize</key>
    <string>{94,66}</string>
   </dict>
   <key>skill_ani_35052_97.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,436},{80,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,66}}</string>
    <key>sourceSize</key>
    <string>{80,66}</string>
   </dict>
   <key>skill_ani_35052_96.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,436},{62,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,60}}</string>
    <key>sourceSize</key>
    <string>{62,60}</string>
   </dict>
   <key>skill_ani_35052_95.png</key>
   <dict>
    <key>frame</key>
    <string>{{758,430},{62,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,62}}</string>
    <key>sourceSize</key>
    <string>{62,62}</string>
   </dict>
   <key>skill_ani_35052_94.png</key>
   <dict>
    <key>frame</key>
    <string>{{986,122},{28,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,16}}</string>
    <key>sourceSize</key>
    <string>{28,16}</string>
   </dict>
   <key>skill_ani_35052_93.png</key>
   <dict>
    <key>frame</key>
    <string>{{986,100},{36,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,20}}</string>
    <key>sourceSize</key>
    <string>{36,20}</string>
   </dict>
   <key>skill_ani_35052_92.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,248},{48,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,24}}</string>
    <key>sourceSize</key>
    <string>{48,24}</string>
   </dict>
   <key>skill_ani_35052_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{486,280},{56,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,20}}</string>
    <key>sourceSize</key>
    <string>{56,20}</string>
   </dict>
   <key>skill_ani_35052_90.png</key>
   <dict>
    <key>frame</key>
    <string>{{486,254},{56,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,24}}</string>
    <key>sourceSize</key>
    <string>{56,24}</string>
   </dict>
   <key>skill_ani_35052_80.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{222,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{222,78}}</string>
    <key>sourceSize</key>
    <string>{222,78}</string>
   </dict>
   <key>skill_ani_35052_125.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,0},{224,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{224,56}}</string>
    <key>sourceSize</key>
    <string>{224,56}</string>
   </dict>
   <key>skill_ani_35052_65.png</key>
   <dict>
    <key>frame</key>
    <string>{{1010,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_35052_57.png</key>
   <dict>
    <key>frame</key>
    <string>{{278,232},{48,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,62}}</string>
    <key>sourceSize</key>
    <string>{48,62}</string>
   </dict>
   <key>skill_ani_35052_162.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,58},{108,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,106}}</string>
    <key>sourceSize</key>
    <string>{108,106}</string>
   </dict>
   <key>skill_ani_35052_161.png</key>
   <dict>
    <key>frame</key>
    <string>{{334,58},{106,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,102}}</string>
    <key>sourceSize</key>
    <string>{106,102}</string>
   </dict>
   <key>skill_ani_35052_160.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,154},{100,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,98}}</string>
    <key>sourceSize</key>
    <string>{100,98}</string>
   </dict>
   <key>skill_ani_35052_159.png</key>
   <dict>
    <key>frame</key>
    <string>{{882,0},{126,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{126,98}}</string>
    <key>sourceSize</key>
    <string>{126,98}</string>
   </dict>
   <key>skill_ani_35052_158.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,58},{112,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{112,94}}</string>
    <key>sourceSize</key>
    <string>{112,94}</string>
   </dict>
   <key>skill_ani_35052_157.png</key>
   <dict>
    <key>frame</key>
    <string>{{662,160},{94,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,86}}</string>
    <key>sourceSize</key>
    <string>{94,86}</string>
   </dict>
   <key>skill_ani_35052_156.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,386},{68,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,76}}</string>
    <key>sourceSize</key>
    <string>{68,76}</string>
   </dict>
   <key>skill_ani_35052_155.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,314},{60,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,58}}</string>
    <key>sourceSize</key>
    <string>{60,58}</string>
   </dict>
   <key>skill_ani_35052_133.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,0},{224,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{224,56}}</string>
    <key>sourceSize</key>
    <string>{224,56}</string>
   </dict>
   <key>skill_ani_35052_116.png</key>
   <dict>
    <key>frame</key>
    <string>{{822,466},{88,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,68}}</string>
    <key>sourceSize</key>
    <string>{88,68}</string>
   </dict>
   <key>skill_ani_35052_115.png</key>
   <dict>
    <key>frame</key>
    <string>{{668,416},{88,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,68}}</string>
    <key>sourceSize</key>
    <string>{88,68}</string>
   </dict>
   <key>skill_ani_35052_114.png</key>
   <dict>
    <key>frame</key>
    <string>{{912,466},{88,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,68}}</string>
    <key>sourceSize</key>
    <string>{88,68}</string>
   </dict>
   <key>skill_ani_35052_113.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,464},{88,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,68}}</string>
    <key>sourceSize</key>
    <string>{88,68}</string>
   </dict>
   <key>skill_ani_35052_112.png</key>
   <dict>
    <key>frame</key>
    <string>{{772,58},{106,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,100}}</string>
    <key>sourceSize</key>
    <string>{106,100}</string>
   </dict>
   <key>skill_ani_35052_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{664,58},{106,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,100}}</string>
    <key>sourceSize</key>
    <string>{106,100}</string>
   </dict>
   <key>skill_ani_35052_110.png</key>
   <dict>
    <key>frame</key>
    <string>{{556,58},{106,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,100}}</string>
    <key>sourceSize</key>
    <string>{106,100}</string>
   </dict>
   <key>skill_ani_35052_109.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,80},{104,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,98}}</string>
    <key>sourceSize</key>
    <string>{104,98}</string>
   </dict>
   <key>skill_ani_35052_108.png</key>
   <dict>
    <key>frame</key>
    <string>{{880,100},{104,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,98}}</string>
    <key>sourceSize</key>
    <string>{104,98}</string>
   </dict>
   <key>skill_ani_35052_107.png</key>
   <dict>
    <key>frame</key>
    <string>{{106,80},{104,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,98}}</string>
    <key>sourceSize</key>
    <string>{104,98}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_35052.png</string>
   <key>textureFileName</key>
   <string>skill_ani_35052.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>