<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_32942_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,143},{166,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,141}}</string>
        <key>sourceSize</key>
        <string>{166,141}</string>
      </dict>
      <key>skill_ani_32942_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,0},{166,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,141}}</string>
        <key>sourceSize</key>
        <string>{166,141}</string>
      </dict>
      <key>skill_ani_32942_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,71},{166,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,141}}</string>
        <key>sourceSize</key>
        <string>{166,141}</string>
      </dict>
      <key>skill_ani_32942_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,71},{114,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,104}}</string>
        <key>sourceSize</key>
        <string>{114,104}</string>
      </dict>
      <key>skill_ani_32942_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,286},{132,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,115}}</string>
        <key>sourceSize</key>
        <string>{132,115}</string>
      </dict>
      <key>skill_ani_32942_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,265},{129,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,121}}</string>
        <key>sourceSize</key>
        <string>{129,121}</string>
      </dict>
      <key>skill_ani_32942_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{136,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,117}}</string>
        <key>sourceSize</key>
        <string>{136,117}</string>
      </dict>
      <key>skill_ani_32942_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,177},{79,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,86}}</string>
        <key>sourceSize</key>
        <string>{79,86}</string>
      </dict>
      <key>skill_ani_32942_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{284,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{284,69}}</string>
        <key>sourceSize</key>
        <string>{284,69}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_32942.png</string>
      <key>textureFileName</key>
      <string>skill_ani_32942.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>