<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31186_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,186},{77,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,77}}</string>
    <key>sourceSize</key>
    <string>{77,77}</string>
   </dict>
   <key>skill_ani_31186_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{237,208},{77,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,77}}</string>
    <key>sourceSize</key>
    <string>{77,77}</string>
   </dict>
   <key>skill_ani_31186_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{241,129},{77,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,77}}</string>
    <key>sourceSize</key>
    <string>{77,77}</string>
   </dict>
   <key>skill_ani_31186_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,0},{11,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,15}}</string>
    <key>sourceSize</key>
    <string>{11,15}</string>
   </dict>
   <key>skill_ani_31186_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{368,309},{53,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,53}}</string>
    <key>sourceSize</key>
    <string>{53,53}</string>
   </dict>
   <key>skill_ani_31186_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,287},{53,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,53}}</string>
    <key>sourceSize</key>
    <string>{53,53}</string>
   </dict>
   <key>skill_ani_31186_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,232},{53,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,53}}</string>
    <key>sourceSize</key>
    <string>{53,53}</string>
   </dict>
   <key>skill_ani_31186_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{191,186},{44,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,31}}</string>
    <key>sourceSize</key>
    <string>{44,31}</string>
   </dict>
   <key>skill_ani_31187_102.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,287},{66,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,75}}</string>
    <key>sourceSize</key>
    <string>{66,75}</string>
   </dict>
   <key>skill_ani_31187_101.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,241},{66,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,75}}</string>
    <key>sourceSize</key>
    <string>{66,75}</string>
   </dict>
   <key>skill_ani_31187_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,265},{66,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,75}}</string>
    <key>sourceSize</key>
    <string>{66,75}</string>
   </dict>
   <key>skill_ani_31187_99.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,265},{66,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,75}}</string>
    <key>sourceSize</key>
    <string>{66,75}</string>
   </dict>
   <key>skill_ani_31186_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{316,232},{66,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,75}}</string>
    <key>sourceSize</key>
    <string>{66,75}</string>
   </dict>
   <key>skill_ani_31186_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{384,232},{66,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,75}}</string>
    <key>sourceSize</key>
    <string>{66,75}</string>
   </dict>
   <key>skill_ani_31186_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,130},{123,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{123,54}}</string>
    <key>sourceSize</key>
    <string>{123,54}</string>
   </dict>
   <key>skill_ani_31186_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{486,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>skill_ani_31186_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{120,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,125}}</string>
    <key>sourceSize</key>
    <string>{120,125}</string>
   </dict>
   <key>skill_ani_31186_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{241,0},{116,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,127}}</string>
    <key>sourceSize</key>
    <string>{116,127}</string>
   </dict>
   <key>skill_ani_31186_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,0},{117,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{117,128}}</string>
    <key>sourceSize</key>
    <string>{117,128}</string>
   </dict>
   <key>skill_ani_31186_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{359,0},{112,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{112,121}}</string>
    <key>sourceSize</key>
    <string>{112,121}</string>
   </dict>
   <key>skill_ani_31186_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,127},{110,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,112}}</string>
    <key>sourceSize</key>
    <string>{110,112}</string>
   </dict>
   <key>skill_ani_31186_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{359,123},{115,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,107}}</string>
    <key>sourceSize</key>
    <string>{115,107}</string>
   </dict>
   <key>skill_ani_31186_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,342},{94,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,39}}</string>
    <key>sourceSize</key>
    <string>{94,39}</string>
   </dict>
   <key>skill_ani_31186_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{96,342},{94,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,39}}</string>
    <key>sourceSize</key>
    <string>{94,39}</string>
   </dict>
   <key>skill_ani_31186_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,309},{94,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,39}}</string>
    <key>sourceSize</key>
    <string>{94,39}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31186.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31186.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>