<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_35025_91.png</key>
   <dict>
    <key>frame</key>
    <string>{{998,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_35025_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,0},{226,234}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{226,234}}</string>
    <key>sourceSize</key>
    <string>{226,234}</string>
   </dict>
   <key>skill_ani_35025_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{214,288}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{214,288}}</string>
    <key>sourceSize</key>
    <string>{214,288}</string>
   </dict>
   <key>skill_ani_35025_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{644,0},{214,240}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{214,240}}</string>
    <key>sourceSize</key>
    <string>{214,240}</string>
   </dict>
   <key>skill_ani_35025_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,0},{198,280}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{198,280}}</string>
    <key>sourceSize</key>
    <string>{198,280}</string>
   </dict>
   <key>skill_ani_35025_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,236},{178,224}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{178,224}}</string>
    <key>sourceSize</key>
    <string>{178,224}</string>
   </dict>
   <key>skill_ani_35025_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{860,0},{136,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{136,136}}</string>
    <key>sourceSize</key>
    <string>{136,136}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_35025.png</string>
   <key>textureFileName</key>
   <string>skill_ani_35025.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>