<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31250_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,515},{67,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,22}}</string>
        <key>sourceSize</key>
        <string>{67,22}</string>
      </dict>
      <key>skill_ani_31250_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,519},{61,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,22}}</string>
        <key>sourceSize</key>
        <string>{61,22}</string>
      </dict>
      <key>skill_ani_31250_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,506},{68,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,25}}</string>
        <key>sourceSize</key>
        <string>{68,25}</string>
      </dict>
      <key>skill_ani_31250_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,515},{65,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,26}}</string>
        <key>sourceSize</key>
        <string>{65,26}</string>
      </dict>
      <key>skill_ani_31250_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,519},{63,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,26}}</string>
        <key>sourceSize</key>
        <string>{63,26}</string>
      </dict>
      <key>skill_ani_31250_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,506},{71,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,26}}</string>
        <key>sourceSize</key>
        <string>{71,26}</string>
      </dict>
      <key>skill_ani_31250_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,486},{71,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,27}}</string>
        <key>sourceSize</key>
        <string>{71,27}</string>
      </dict>
      <key>skill_ani_31250_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,506},{130,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,21}}</string>
        <key>sourceSize</key>
        <string>{130,21}</string>
      </dict>
      <key>skill_ani_31250_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,213},{91,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,55}}</string>
        <key>sourceSize</key>
        <string>{91,55}</string>
      </dict>
      <key>skill_ani_31250_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,105},{110,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,57}}</string>
        <key>sourceSize</key>
        <string>{110,57}</string>
      </dict>
      <key>skill_ani_31250_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,164},{119,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,47}}</string>
        <key>sourceSize</key>
        <string>{119,47}</string>
      </dict>
      <key>skill_ani_31250_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,317},{93,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,39}}</string>
        <key>sourceSize</key>
        <string>{93,39}</string>
      </dict>
      <key>skill_ani_31250_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,358},{87,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,45}}</string>
        <key>sourceSize</key>
        <string>{87,45}</string>
      </dict>
      <key>skill_ani_31250_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,445},{87,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,39}}</string>
        <key>sourceSize</key>
        <string>{87,39}</string>
      </dict>
      <key>skill_ani_31250_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,270},{89,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,45}}</string>
        <key>sourceSize</key>
        <string>{89,45}</string>
      </dict>
      <key>skill_ani_31250_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,405},{89,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,38}}</string>
        <key>sourceSize</key>
        <string>{89,38}</string>
      </dict>
      <key>skill_ani_31250_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{300,517}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,517}}</string>
        <key>sourceSize</key>
        <string>{300,517}</string>
      </dict>
      <key>skill_ani_31250_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,0},{315,497}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{315,497}}</string>
        <key>sourceSize</key>
        <string>{315,497}</string>
      </dict>
      <key>skill_ani_31250_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,0},{277,504}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,504}}</string>
        <key>sourceSize</key>
        <string>{277,504}</string>
      </dict>
      <key>skill_ani_31250_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,499},{290,490}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{290,490}}</string>
        <key>sourceSize</key>
        <string>{290,490}</string>
      </dict>
      <key>skill_ani_31250_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,0},{104,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,103}}</string>
        <key>sourceSize</key>
        <string>{104,103}</string>
      </dict>
      <key>skill_ani_31250_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_31250_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31250.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31250.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>