<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31375_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,0},{270,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,232}}</string>
        <key>sourceSize</key>
        <string>{270,232}</string>
      </dict>
      <key>skill_ani_31375_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{676,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{676,50}}</string>
        <key>sourceSize</key>
        <string>{676,50}</string>
      </dict>
      <key>skill_ani_31375_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,234},{172,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,168}}</string>
        <key>sourceSize</key>
        <string>{172,168}</string>
      </dict>
      <key>skill_ani_31375_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,234},{172,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,168}}</string>
        <key>sourceSize</key>
        <string>{172,168}</string>
      </dict>
      <key>skill_ani_31375_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,222},{172,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,168}}</string>
        <key>sourceSize</key>
        <string>{172,168}</string>
      </dict>
      <key>skill_ani_31375_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,52},{172,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,168}}</string>
        <key>sourceSize</key>
        <string>{172,168}</string>
      </dict>
      <key>skill_ani_31375_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,222},{172,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,168}}</string>
        <key>sourceSize</key>
        <string>{172,168}</string>
      </dict>
      <key>skill_ani_31375_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,52},{172,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,168}}</string>
        <key>sourceSize</key>
        <string>{172,168}</string>
      </dict>
      <key>skill_ani_31375_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>skill_ani_31375_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,52},{228,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{228,190}}</string>
        <key>sourceSize</key>
        <string>{228,190}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31375.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31375.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>