<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hit_effect_46047_111.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,0},{86,348}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,348}}</string>
    <key>sourceSize</key>
    <string>{86,348}</string>
   </dict>
   <key>hit_effect_46047_113.png</key>
   <dict>
    <key>frame</key>
    <string>{{804,148},{98,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,90}}</string>
    <key>sourceSize</key>
    <string>{98,90}</string>
   </dict>
   <key>hit_effect_46047_123.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,168},{76,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,76}}</string>
    <key>sourceSize</key>
    <string>{76,76}</string>
   </dict>
   <key>hit_effect_46047_122.png</key>
   <dict>
    <key>frame</key>
    <string>{{658,168},{76,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,76}}</string>
    <key>sourceSize</key>
    <string>{76,76}</string>
   </dict>
   <key>hit_effect_46047_125.png</key>
   <dict>
    <key>frame</key>
    <string>{{804,0},{146,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,146}}</string>
    <key>sourceSize</key>
    <string>{146,146}</string>
   </dict>
   <key>hit_effect_46047_120.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,222},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,24}}</string>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>hit_effect_46047_119.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,168},{60,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,52}}</string>
    <key>sourceSize</key>
    <string>{60,52}</string>
   </dict>
   <key>path_11294_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{476,222},{22,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,18}}</string>
    <key>sourceSize</key>
    <string>{22,18}</string>
   </dict>
   <key>path_11294_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{904,218},{22,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,28}}</string>
    <key>sourceSize</key>
    <string>{22,28}</string>
   </dict>
   <key>path_11294_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{590,168},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>path_11294_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{736,236},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>path_11294_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{590,236},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>path_11294_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{736,168},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>path_11294_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{952,102},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>skill_ani_35046_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{946,148},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>path_11294_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{804,240},{20,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,12}}</string>
    <key>sourceSize</key>
    <string>{20,12}</string>
   </dict>
   <key>skill_ani_11294_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{904,148},{40,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,30}}</string>
    <key>sourceSize</key>
    <string>{40,30}</string>
   </dict>
   <key>skill_ani_11294_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{946,170},{74,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,74}}</string>
    <key>sourceSize</key>
    <string>{74,74}</string>
   </dict>
   <key>skill_ani_11294_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{904,180},{32,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,36}}</string>
    <key>sourceSize</key>
    <string>{32,36}</string>
   </dict>
   <key>skill_ani_11294_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{282,330}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{282,330}}</string>
    <key>sourceSize</key>
    <string>{282,330}</string>
   </dict>
   <key>skill_ani_11294_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,0},{142,166}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{142,166}}</string>
    <key>sourceSize</key>
    <string>{142,166}</string>
   </dict>
   <key>skill_ani_11294_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{516,0},{142,166}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{142,166}}</string>
    <key>sourceSize</key>
    <string>{142,166}</string>
   </dict>
   <key>skill_ani_11294_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{660,0},{142,166}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{142,166}}</string>
    <key>sourceSize</key>
    <string>{142,166}</string>
   </dict>
   <key>skill_ani_11294_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{946,154},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_11294_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{952,0},{70,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,100}}</string>
    <key>sourceSize</key>
    <string>{70,100}</string>
   </dict>
   <key>skill_ani_11294_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{946,160},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_11294_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{512,168},{76,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,76}}</string>
    <key>sourceSize</key>
    <string>{76,76}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_11294.png</string>
   <key>textureFileName</key>
   <string>skill_ani_11294.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>