<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31934_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_31934_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{78,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,85}}</string>
        <key>sourceSize</key>
        <string>{78,85}</string>
      </dict>
      <key>skill_ani_31934_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{75,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,82}}</string>
        <key>sourceSize</key>
        <string>{75,82}</string>
      </dict>
      <key>skill_ani_31934_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{67,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,66}}</string>
        <key>sourceSize</key>
        <string>{67,66}</string>
      </dict>
      <key>skill_ani_31934_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,68},{37,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,14}}</string>
        <key>sourceSize</key>
        <string>{37,14}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31934.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31934.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>