<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31233_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,0},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{2,2}}</string>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>skill_ani_31233_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{390,0},{90,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,99}}</string>
    <key>sourceSize</key>
    <string>{90,99}</string>
   </dict>
   <key>skill_ani_31233_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{390,101},{86,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,94}}</string>
    <key>sourceSize</key>
    <string>{86,94}</string>
   </dict>
   <key>skill_ani_31233_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{195,359},{81,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,89}}</string>
    <key>sourceSize</key>
    <string>{81,89}</string>
   </dict>
   <key>skill_ani_31233_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,336},{89,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,82}}</string>
    <key>sourceSize</key>
    <string>{89,82}</string>
   </dict>
   <key>skill_ani_31233_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,386},{84,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,78}}</string>
    <key>sourceSize</key>
    <string>{84,78}</string>
   </dict>
   <key>skill_ani_31233_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,193},{193,191}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{193,191}}</string>
    <key>sourceSize</key>
    <string>{193,191}</string>
   </dict>
   <key>skill_ani_31233_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{193,191}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{193,191}}</string>
    <key>sourceSize</key>
    <string>{193,191}</string>
   </dict>
   <key>skill_ani_31233_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{195,0},{193,191}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{193,191}}</string>
    <key>sourceSize</key>
    <string>{193,191}</string>
   </dict>
   <key>skill_ani_31233_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{195,193},{166,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{166,164}}</string>
    <key>sourceSize</key>
    <string>{166,164}</string>
   </dict>
   <key>skill_ani_31233_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,197},{139,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,137}}</string>
    <key>sourceSize</key>
    <string>{139,137}</string>
   </dict>
   <key>skill_ani_31233_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{454,336},{42,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,31}}</string>
    <key>sourceSize</key>
    <string>{42,31}</string>
   </dict>
   <key>skill_ani_31233_122.png</key>
   <dict>
    <key>frame</key>
    <string>{{278,359},{45,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,10}}</string>
    <key>sourceSize</key>
    <string>{45,10}</string>
   </dict>
   <key>skill_ani_31233_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,0},{16,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,16}}</string>
    <key>sourceSize</key>
    <string>{16,16}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31233.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31233.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>