<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_35021_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{496,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_35021_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{108,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,80}}</string>
    <key>sourceSize</key>
    <string>{108,80}</string>
   </dict>
   <key>skill_ani_35021_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{326,0},{106,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,78}}</string>
    <key>sourceSize</key>
    <string>{106,78}</string>
   </dict>
   <key>skill_ani_35021_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{110,0},{106,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,80}}</string>
    <key>sourceSize</key>
    <string>{106,80}</string>
   </dict>
   <key>skill_ani_35021_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,80},{104,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,78}}</string>
    <key>sourceSize</key>
    <string>{104,78}</string>
   </dict>
   <key>skill_ani_35021_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,0},{106,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,78}}</string>
    <key>sourceSize</key>
    <string>{106,78}</string>
   </dict>
   <key>skill_ani_35021_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,80},{104,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,76}}</string>
    <key>sourceSize</key>
    <string>{104,76}</string>
   </dict>
   <key>skill_ani_35021_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,82},{104,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,72}}</string>
    <key>sourceSize</key>
    <string>{104,72}</string>
   </dict>
   <key>skill_ani_35021_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{106,82},{104,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,70}}</string>
    <key>sourceSize</key>
    <string>{104,70}</string>
   </dict>
   <key>skill_ani_35021_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{106,154},{98,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,70}}</string>
    <key>sourceSize</key>
    <string>{98,70}</string>
   </dict>
   <key>skill_ani_35021_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,156},{90,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,56}}</string>
    <key>sourceSize</key>
    <string>{90,56}</string>
   </dict>
   <key>skill_ani_35021_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,158},{60,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,42}}</string>
    <key>sourceSize</key>
    <string>{60,42}</string>
   </dict>
   <key>skill_ani_35021_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{434,0},{60,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,120}}</string>
    <key>sourceSize</key>
    <string>{60,120}</string>
   </dict>
   <key>skill_ani_35021_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,122},{64,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,46}}</string>
    <key>sourceSize</key>
    <string>{64,46}</string>
   </dict>
   <key>skill_ani_35021_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{206,160},{50,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,46}}</string>
    <key>sourceSize</key>
    <string>{50,46}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_35021.png</string>
   <key>textureFileName</key>
   <string>skill_ani_35021.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>