<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31182_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,148},{135,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,116}}</string>
        <key>sourceSize</key>
        <string>{135,116}</string>
      </dict>
      <key>skill_ani_31182_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,145},{163,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,125}}</string>
        <key>sourceSize</key>
        <string>{163,125}</string>
      </dict>
      <key>skill_ani_31182_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,141},{160,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,143}}</string>
        <key>sourceSize</key>
        <string>{160,143}</string>
      </dict>
      <key>skill_ani_31182_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{161,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,143}}</string>
        <key>sourceSize</key>
        <string>{161,143}</string>
      </dict>
      <key>skill_ani_31182_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{166,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,139}}</string>
        <key>sourceSize</key>
        <string>{166,139}</string>
      </dict>
      <key>skill_ani_31182_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{166,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,146}}</string>
        <key>sourceSize</key>
        <string>{166,146}</string>
      </dict>
      <key>skill_ani_31182_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,266},{147,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,58}}</string>
        <key>sourceSize</key>
        <string>{147,58}</string>
      </dict>
      <key>skill_ani_31182_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,272},{146,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,58}}</string>
        <key>sourceSize</key>
        <string>{146,58}</string>
      </dict>
      <key>skill_ani_31182_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{145,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,57}}</string>
        <key>sourceSize</key>
        <string>{145,57}</string>
      </dict>
      <key>skill_ani_31182_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,286},{146,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,56}}</string>
        <key>sourceSize</key>
        <string>{146,56}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31182.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31182.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>