<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_31388_1222.png</key>
   <dict>
    <key>frame</key>
    <string>{{1016,0},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>skill_ani_31388_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{96,460},{92,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,84}}</string>
    <key>sourceSize</key>
    <string>{92,84}</string>
   </dict>
   <key>skill_ani_31388_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,460},{94,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,84}}</string>
    <key>sourceSize</key>
    <string>{94,84}</string>
   </dict>
   <key>skill_ani_31388_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{280,460},{86,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,80}}</string>
    <key>sourceSize</key>
    <string>{86,80}</string>
   </dict>
   <key>skill_ani_31388_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{190,460},{88,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,84}}</string>
    <key>sourceSize</key>
    <string>{88,84}</string>
   </dict>
   <key>skill_ani_31388_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{454,0},{58,648}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,648}}</string>
    <key>sourceSize</key>
    <string>{58,648}</string>
   </dict>
   <key>skill_ani_31388_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{922,272},{74,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,116}}</string>
    <key>sourceSize</key>
    <string>{74,116}</string>
   </dict>
   <key>skill_ani_31388_55.png</key>
   <dict>
    <key>frame</key>
    <string>{{804,474},{70,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,70}}</string>
    <key>sourceSize</key>
    <string>{70,70}</string>
   </dict>
   <key>skill_ani_31388_53.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{452,458}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{452,458}}</string>
    <key>sourceSize</key>
    <string>{452,458}</string>
   </dict>
   <key>skill_ani_31388_52.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,444},{118,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,118}}</string>
    <key>sourceSize</key>
    <string>{118,118}</string>
   </dict>
   <key>skill_ani_31388_51.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,238},{168,212}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{168,212}}</string>
    <key>sourceSize</key>
    <string>{168,212}</string>
   </dict>
   <key>skill_ani_31388_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,238},{160,204}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,204}}</string>
    <key>sourceSize</key>
    <string>{160,204}</string>
   </dict>
   <key>skill_ani_31388_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,104},{476,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{476,48}}</string>
    <key>sourceSize</key>
    <string>{476,48}</string>
   </dict>
   <key>skill_ani_31388_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,56},{486,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{486,46}}</string>
    <key>sourceSize</key>
    <string>{486,46}</string>
   </dict>
   <key>skill_ani_31388_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,0},{500,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{500,54}}</string>
    <key>sourceSize</key>
    <string>{500,54}</string>
   </dict>
   <key>skill_ani_31388_42.png</key>
   <dict>
    <key>frame</key>
    <string>{{876,508},{54,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,78}}</string>
    <key>sourceSize</key>
    <string>{54,78}</string>
   </dict>
   <key>skill_ani_31388_41.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,772},{520,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{520,114}}</string>
    <key>sourceSize</key>
    <string>{520,114}</string>
   </dict>
   <key>skill_ani_31388_40.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1116},{520,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{520,112}}</string>
    <key>sourceSize</key>
    <string>{520,112}</string>
   </dict>
   <key>skill_ani_31388_39.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,888},{520,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{520,112}}</string>
    <key>sourceSize</key>
    <string>{520,112}</string>
   </dict>
   <key>skill_ani_31388_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,650},{516,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{516,120}}</string>
    <key>sourceSize</key>
    <string>{516,120}</string>
   </dict>
   <key>skill_ani_31388_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1002},{520,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{520,112}}</string>
    <key>sourceSize</key>
    <string>{520,112}</string>
   </dict>
   <key>skill_ani_31388_54.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,154},{420,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{420,82}}</string>
    <key>sourceSize</key>
    <string>{420,82}</string>
   </dict>
   <key>skill_ani_31388_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{368,460},{66,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,94}}</string>
    <key>sourceSize</key>
    <string>{66,94}</string>
   </dict>
   <key>skill_ani_31388_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{846,356},{74,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,116}}</string>
    <key>sourceSize</key>
    <string>{74,116}</string>
   </dict>
   <key>skill_ani_31388_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{922,390},{74,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,116}}</string>
    <key>sourceSize</key>
    <string>{74,116}</string>
   </dict>
   <key>skill_ani_31388_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{846,238},{74,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,116}}</string>
    <key>sourceSize</key>
    <string>{74,116}</string>
   </dict>
   <key>skill_ani_31388_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{936,154},{74,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,116}}</string>
    <key>sourceSize</key>
    <string>{74,116}</string>
   </dict>
   <key>skill_ani_31388_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,452},{144,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,60}}</string>
    <key>sourceSize</key>
    <string>{144,60}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_31388.png</string>
   <key>textureFileName</key>
   <string>skill_ani_31388.png</string>
   <key>size</key>
   <string>{1024,2048}</string>
  </dict>
 </dict>
</plist>