<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_94701_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,426},{196,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{196,72}}</string>
    <key>sourceSize</key>
    <string>{196,72}</string>
   </dict>
   <key>skill_ani_94701_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{554,284},{196,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{196,76}}</string>
    <key>sourceSize</key>
    <string>{196,76}</string>
   </dict>
   <key>skill_ani_94701_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,410},{196,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{196,72}}</string>
    <key>sourceSize</key>
    <string>{196,72}</string>
   </dict>
   <key>skill_ani_94701_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,484},{196,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{196,72}}</string>
    <key>sourceSize</key>
    <string>{196,72}</string>
   </dict>
   <key>skill_ani_94701_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{192,408}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{192,408}}</string>
    <key>sourceSize</key>
    <string>{192,408}</string>
   </dict>
   <key>skill_ani_94701_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,0},{180,330}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{180,330}}</string>
    <key>sourceSize</key>
    <string>{180,330}</string>
   </dict>
   <key>skill_ani_94701_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,0},{176,316}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{176,316}}</string>
    <key>sourceSize</key>
    <string>{176,316}</string>
   </dict>
   <key>skill_ani_94701_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{762,0},{176,310}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{176,310}}</string>
    <key>sourceSize</key>
    <string>{176,310}</string>
   </dict>
   <key>skill_ani_94701.png</key>
   <dict>
    <key>frame</key>
    <string>{{554,0},{206,282}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{206,282}}</string>
    <key>sourceSize</key>
    <string>{206,282}</string>
   </dict>
   <key>skill_ani_94701_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{752,312},{232,250}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{232,250}}</string>
    <key>sourceSize</key>
    <string>{232,250}</string>
   </dict>
   <key>skill_ani_94701_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{466,362},{234,166}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{234,166}}</string>
    <key>sourceSize</key>
    <string>{234,166}</string>
   </dict>
   <key>skill_ani_94701_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,318},{88,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,106}}</string>
    <key>sourceSize</key>
    <string>{88,106}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_94701.png</string>
   <key>textureFileName</key>
   <string>skill_ani_94701.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>