<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_31279_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>skill_ani_31279_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,216},{218,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{218,172}}</string>
        <key>sourceSize</key>
        <string>{218,172}</string>
      </dict>
      <key>skill_ani_31279_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,212},{222,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{222,200}}</string>
        <key>sourceSize</key>
        <string>{222,200}</string>
      </dict>
      <key>skill_ani_31279_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,0},{256,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,210}}</string>
        <key>sourceSize</key>
        <string>{256,210}</string>
      </dict>
      <key>skill_ani_31279_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{274,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{274,228}}</string>
        <key>sourceSize</key>
        <string>{274,228}</string>
      </dict>
      <key>skill_ani_31279_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{274,214}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{274,214}}</string>
        <key>sourceSize</key>
        <string>{274,214}</string>
      </dict>
      <key>skill_ani_31279_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,354},{180,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,136}}</string>
        <key>sourceSize</key>
        <string>{180,136}</string>
      </dict>
      <key>skill_ani_31279_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,414},{94,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,122}}</string>
        <key>sourceSize</key>
        <string>{94,122}</string>
      </dict>
      <key>skill_ani_31279_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,304},{178,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,142}}</string>
        <key>sourceSize</key>
        <string>{178,142}</string>
      </dict>
      <key>skill_ani_31279_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,154},{200,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,148}}</string>
        <key>sourceSize</key>
        <string>{200,148}</string>
      </dict>
      <key>skill_ani_31279_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{248,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,122}}</string>
        <key>sourceSize</key>
        <string>{248,122}</string>
      </dict>
      <key>skill_ani_31279_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,0},{198,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,152}}</string>
        <key>sourceSize</key>
        <string>{198,152}</string>
      </dict>
      <key>skill_ani_31279_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,390},{146,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,152}}</string>
        <key>sourceSize</key>
        <string>{146,152}</string>
      </dict>
      <key>skill_ani_31279_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,216},{50,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,74}}</string>
        <key>sourceSize</key>
        <string>{50,74}</string>
      </dict>
      <key>skill_ani_31279_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,376},{50,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,70}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>skill_ani_31279_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,364},{52,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,70}}</string>
        <key>sourceSize</key>
        <string>{52,70}</string>
      </dict>
      <key>skill_ani_31279_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,304},{58,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>skill_ani_31279_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,292},{52,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,70}}</string>
        <key>sourceSize</key>
        <string>{52,70}</string>
      </dict>
      <key>skill_ani_31279_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,354},{76,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,66}}</string>
        <key>sourceSize</key>
        <string>{76,66}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31279.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31279.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>