<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>map_effect_31078_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,0},{242,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,83}}</string>
        <key>sourceSize</key>
        <string>{242,83}</string>
      </dict>
      <key>map_effect_31078_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,333},{234,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,76}}</string>
        <key>sourceSize</key>
        <string>{234,76}</string>
      </dict>
      <key>map_effect_31078_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,253},{236,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,78}}</string>
        <key>sourceSize</key>
        <string>{236,78}</string>
      </dict>
      <key>map_effect_31078_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,85},{242,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,83}}</string>
        <key>sourceSize</key>
        <string>{242,83}</string>
      </dict>
      <key>map_effect_31078_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,253},{235,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,84}}</string>
        <key>sourceSize</key>
        <string>{235,84}</string>
      </dict>
      <key>map_effect_31078_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,170},{238,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,81}}</string>
        <key>sourceSize</key>
        <string>{238,81}</string>
      </dict>
      <key>skill_ani_31078_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_31078_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,0},{107,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,107}}</string>
        <key>sourceSize</key>
        <string>{107,107}</string>
      </dict>
      <key>skill_ani_31078_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,109},{85,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,85}}</string>
        <key>sourceSize</key>
        <string>{85,85}</string>
      </dict>
      <key>skill_ani_31078_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,109},{93,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{93,93}</string>
      </dict>
      <key>skill_ani_31078_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{83,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,244}}</string>
        <key>sourceSize</key>
        <string>{83,244}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_31078.png</string>
      <key>textureFileName</key>
      <string>skill_ani_31078.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>