<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skill_ani_magictower__2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{378,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{378,57}}</string>
    <key>sourceSize</key>
    <string>{378,57}</string>
   </dict>
   <key>skill_ani_magictower__5.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,59},{214,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{214,36}}</string>
    <key>sourceSize</key>
    <string>{214,36}</string>
   </dict>
   <key>skill_ani_magictower__3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,59},{216,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{216,38}}</string>
    <key>sourceSize</key>
    <string>{216,38}</string>
   </dict>
   <key>skill_ani_magictower__4.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,97},{208,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{208,38}}</string>
    <key>sourceSize</key>
    <string>{208,38}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skill_ani_magictower.png</string>
   <key>textureFileName</key>
   <string>skill_ani_magictower.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>