<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_ani_1152_rs11_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,146},{65,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,11}}</string>
        <key>sourceSize</key>
        <string>{65,11}</string>
      </dict>
      <key>skill_ani_1152_rs11_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,159},{46,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,28}}</string>
        <key>sourceSize</key>
        <string>{46,28}</string>
      </dict>
      <key>skill_ani_1152_rs11_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,115},{55,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,29}}</string>
        <key>sourceSize</key>
        <string>{55,29}</string>
      </dict>
      <key>skill_ani_1152_rs11_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,115},{60,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,24}}</string>
        <key>sourceSize</key>
        <string>{60,24}</string>
      </dict>
      <key>skill_ani_1152_rs11_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{156,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,113}}</string>
        <key>sourceSize</key>
        <string>{156,113}</string>
      </dict>
      <key>skill_ani_1152_rs11_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,115},{156,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,113}}</string>
        <key>sourceSize</key>
        <string>{156,113}</string>
      </dict>
      <key>skill_ani_1152_rs11_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{156,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,113}}</string>
        <key>sourceSize</key>
        <string>{156,113}</string>
      </dict>
      <key>skill_ani_1152_rs11_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,0},{17,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,73}}</string>
        <key>sourceSize</key>
        <string>{17,73}</string>
      </dict>
      <key>skill_ani_1152_rs11_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{94,178}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,178}}</string>
        <key>sourceSize</key>
        <string>{94,178}</string>
      </dict>
      <key>skill_ani_1152_rs11_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,0},{24,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,95}}</string>
        <key>sourceSize</key>
        <string>{24,95}</string>
      </dict>
      <key>skill_ani_1152_rs11_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,0},{25,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,84}}</string>
        <key>sourceSize</key>
        <string>{25,84}</string>
      </dict>
      <key>skill_ani_1152_rs11_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,0},{26,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,88}}</string>
        <key>sourceSize</key>
        <string>{26,88}</string>
      </dict>
      <key>skill_ani_1152_rs11_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,75},{13,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,44}}</string>
        <key>sourceSize</key>
        <string>{13,44}</string>
      </dict>
      <key>skill_ani_1152_rs11_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,90},{13,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,38}}</string>
        <key>sourceSize</key>
        <string>{13,38}</string>
      </dict>
      <key>skill_ani_1152_rs11_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,130},{18,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,19}}</string>
        <key>sourceSize</key>
        <string>{18,19}</string>
      </dict>
      <key>skill_ani_1152_rs11_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,115},{34,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,44}}</string>
        <key>sourceSize</key>
        <string>{34,44}</string>
      </dict>
      <key>skill_ani_1152_rs11_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,121},{12,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,19}}</string>
        <key>sourceSize</key>
        <string>{12,19}</string>
      </dict>
      <key>skill_ani_1152_rs11_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,116},{18,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,19}}</string>
        <key>sourceSize</key>
        <string>{18,19}</string>
      </dict>
      <key>skill_ani_1152_rs11_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,97},{23,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,17}}</string>
        <key>sourceSize</key>
        <string>{23,17}</string>
      </dict>
      <key>skill_ani_1152_rs11_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,90},{8,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,11}}</string>
        <key>sourceSize</key>
        <string>{8,11}</string>
      </dict>
      <key>skill_ani_1152_rs11_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,126},{32,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,37}}</string>
        <key>sourceSize</key>
        <string>{32,37}</string>
      </dict>
      <key>skill_ani_1152_rs11_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,86},{25,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,38}}</string>
        <key>sourceSize</key>
        <string>{25,38}</string>
      </dict>
      <key>skill_ani_1152_rs11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,75},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>skill_ani_1152_rs11_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,141},{50,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,25}}</string>
        <key>sourceSize</key>
        <string>{50,25}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skill_ani_1152_1.png</string>
      <key>textureFileName</key>
      <string>skill_ani_1152_1.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>